@model  Bikewale.Models.DealerCardVM

@if (Model != null && Model.Dealers != null)
{
    <ul id="city-dealer-list" class="bw-horizontal-cards dealer-horizontal-swiper">
        @foreach (var dealerDetails in Model.Dealers)
        {
            <li class="card">
                
                <span title="@dealerDetails.Name" class="card-target">
                    <p class="text-black text-bold text-truncate margin-bottom10 font15">@dealerDetails.Name</p>
                    <p class="@string.Format("{0}", string.IsNullOrEmpty(dealerDetails.Address) ? "hide" : "margin-bottom10")">
                        <span class="bwsprite dealership-loc-icon vertical-top margin-right5"></span>
                        @if (string.IsNullOrEmpty(dealerDetails.objArea.PinCode))
                        {
                            <span class="text-light-grey vertical-top details-column">@string.Format("{0}, {1}", dealerDetails.Address, dealerDetails.City)</span>
                        }
                        else
                        {
                            <span class="text-light-grey vertical-top details-column">@string.Format("{0}, {1}, {2}", dealerDetails.Address, dealerDetails.City, dealerDetails.objArea.PinCode)</span>
                        }
                    </p>
                    <p class="@string.Format("{0}", string.IsNullOrEmpty(dealerDetails.MaskingNumber) ? "hide" : "")">
                        <span class="bwsprite phone-black-icon vertical-top margin-right5"></span>
                        <span class="text-default text-bold vertical-top details-column text-truncate">@dealerDetails.MaskingNumber</span>
                    </p>
                </span>
            </li>
        }
    </ul>
    <div class="clear"></div>
}