@model Bikewale.Models.DealersServiceCentersIndiaWidgetVM

@if (Model != null) {
<div class="jcarousel-wrapper inner-content-carousel no-city-selection-carousel">
    <div class="jcarousel">
        <ul>
            @foreach (var details in Model.DealerServiceCenters.DealerDetails)
            {
                if (details.DealerCount > 0)
                {
                    <li>
                        <a href="/dealer-showrooms/@Model.MakeMaskingName/@details.CityMaskingName/" title="@Model.MakeName showroom in @details.CityName" class="block">
                            <div class="dealer-jcarousel-image-preview">
                                <span class="city-sprite @details.CityMaskingName-icon"></span>
                            </div>
                            <div class="font14 padding-left20 padding-right20 padding-bottom20">
                                <p class="text-default text-bold margin-bottom5">@Model.MakeName @((details.DealerCount > 1) ? "showrooms" : "showroom") in @details.CityName</p>
                                @if (details.DealerCount > 0)
                                {
                                    <span>@details.DealerCount @((details.DealerCount > 1) ? "showrooms" : "showroom")</span>
                                }
                            </div>
                        </a>
                    </li>
                }
            }
            @if (Model.DealerServiceCenters.TotalDealerCount > 0 || Model.DealerServiceCenters.TotalServiceCenterCount > 0)
            {
                <li>
                    <a href="/dealer-showrooms/@Model.MakeMaskingName/" title="@Model.MakeName showroom in India" class="block">
                        <div class="dealer-jcarousel-image-preview">
                            <span class="city-sprite india-icon"></span>
                        </div>
                        <div class="font14 padding-left20 padding-right20 padding-bottom20">
                            <p class="text-default text-bold margin-bottom5">@Model.MakeName @((Model.DealerServiceCenters.TotalDealerCount > 0) ? "showrooms" : "showroom") in India</p>
                            @if (Model.DealerServiceCenters.TotalDealerCount > 0)
                            {
                                <span>@Model.DealerServiceCenters.TotalDealerCount @((Model.DealerServiceCenters.TotalDealerCount > 0) ? "showrooms" : "showroom")</span>
                            }
                        </div>
                    </a>

                </li>
            }
        </ul>
    </div>
    <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
    <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
</div>

        }
