@using Bikewale.Utility;
@model Bikewale.Models.DealersServiceCentersIndiaWidgetVM
<div class="swiper-container card-container dealer-horizontal-swiper no-city-selection-carousel">
    <!-- dealers when no city selected -->
    <div class="swiper-wrapper">

        @foreach (var details in Model.DealerServiceCenters.DealerDetails)
        {
            if (details.DealerCount > 0)
            {
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="@string.Format("{0}/m/dealer-showrooms/{1}/{2}/", BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName, details.CityMaskingName)" title="@Model.MakeName showroom in @details.CityName" class="block">
                            <span class="dealer-city-image-preview">
                                <span class="city-sprite @details.CityMaskingName-icon"></span>
                            </span>
                            <p class="text-default text-bold margin-bottom5">@Model.MakeName @(details.DealerCount > 1 ? "showrooms" : "showroom") in @details.CityName</p>
                            @if (details.DealerCount > 0)
                            {
                                <span>@details.DealerCount @(details.DealerCount > 1 ? "showrooms" : "showroom")</span>
                            }
                        </a>
                    </div>
                </div>
            }

        }
        @if (Model.DealerServiceCenters.TotalDealerCount > 0 || Model.DealerServiceCenters.TotalServiceCenterCount > 0)
        {
            <div class="swiper-slide">
                <div class="swiper-card">
                    <a href="@string.Format("{0}/m/dealer-showrooms/{1}/", BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName)" title="@Model.MakeName showroom in India" class="block">
                        <span class="dealer-city-image-preview">
                            <span class="city-sprite india-icon"></span>
                        </span>
                        <p class="text-default text-bold margin-bottom5">@Model.MakeName @(Model.DealerServiceCenters.TotalDealerCount > 1 ? "showrooms" : "showroom") in India</p>
                        @if (Model.DealerServiceCenters.TotalDealerCount > 0)
                        {
                            <span>@Model.DealerServiceCenters.TotalDealerCount @(Model.DealerServiceCenters.TotalDealerCount > 1 ? "showrooms" : "showroom")</span>
                        }
                    </a>
                </div>
            </div>
        }
    </div>
</div>
