@model  Bikewale.Models.DealerCardVM

@if (Model != null && Model.Dealers != null)
{
<div class="swiper-container card-container dealer-horizontal-swiper">
    <!-- dealers by city -->
    <div class="swiper-wrapper">
        @foreach (var dealers in Model.Dealers)
        {
            <div class="swiper-slide">
                <div class="swiper-card">
                    <span title="@dealers.Name" class="block">
                        @Html.Raw(String.Format("<div class=\"target-link margin-bottom10 text-truncate font15\">{0}</div>", dealers.Name))
                        <p class="@string.Format("margin-bottom10 text-light-grey {0}",String.IsNullOrEmpty(dealers.Address)? "hide":"")">
                            <span class="bwmsprite dealership-loc-icon vertical-top"></span>
                            @if (string.IsNullOrEmpty(dealers.objArea.PinCode))
                            {
                                <span class="vertical-top dealership-address details-column font14">@string.Format("{0}, {1}", dealers.Address, dealers.City)</span>
                            }
                            else
                            {
                                <span class="vertical-top dealership-address details-column font14">@string.Format("{0}, {1} - {2}", dealers.Address, dealers.City, dealers.objArea.PinCode)</span>
                            }
                        </p>
                    </span>
                    <a href="tel:@dealers.MaskingNumber" class="@string.Format("text-default text-bold text-truncate font14 {0}", String.IsNullOrEmpty(dealers.MaskingNumber) ? "hide" : "block")"><span class="bwmsprite tel-sm-grey-icon"></span>@dealers.MaskingNumber</a>
                </div>
            </div>
        }
    </div>
</div>
}
