@model Bikewale.Entities.Dealer.NearByCityDealer
@if (Model!=null)
{
<div class="swiper-container padding-top5 padding-bottom5 map-type-carousel">
    <div class="swiper-wrapper">
      @foreach (var Dealer in Model.objDealerInNearCityList)
      {
        <div class="swiper-slide">
            <div class="swiper-card">
                <a href="@string.Format("/m/dealer-showrooms/{0}/{1}/",Model.Make.MaskingName,Dealer.CityMaskingName)" title="@string.Format("{0} showrooms in {1}", Model.Make.MakeName, Dealer.CityName)">
                    <div class="swiper-lazy dealer-location-img" data-background="@Dealer.GoogleMapImg" title="@string.Format("{0} showrooms in {1}", Model.Make.MakeName, Dealer.CityName)"></div>
                    <div class="swiper-details-block">
                        <p class="text-bold text-black font12 margin-bottom5 padding-top5">@Dealer.CityName</p>
                        <h3 class="text-unbold text-light-grey font11">@String.Format("{0} {1} showroom{2}", Dealer.DealersCount, Model.Make.MakeName, Dealer.DealersCount > 1 ? "s" : "")</h3>
                    </div>
                </a>
            </div>
        </div>
        }
    </div>
</div>
}