@model  Bikewale.Models.DealerCardVM


@if (Model != null && Model.Dealers != null)
{
    <ul class="sidebar-dealer-list">
        @foreach (var dealerDetails in Model.Dealers)
        {
            <li class="dealer-card-target">
                <a href="javascript:void(0)" class="dealer-details__target" rel="nofollow" title="@dealerDetails.Name">
                    <h3 class="dealer-details__name">@dealerDetails.Name</h3>

                    <p class="@string.Format("{0}", string.IsNullOrEmpty(dealerDetails.Address) ? "hide" : "dealer-details__address")">
                        <span>@dealerDetails.Address</span>
                    </p>
                </a>
                <div class="dealer-details__footer">
                    <p class="@string.Format("{0}", string.IsNullOrEmpty(dealerDetails.MaskingNumber) ? "hide" : "dealer-details__number")">
                        <span>@dealerDetails.MaskingNumber</span>
                    </p>
                    @if (dealerDetails.objArea.Latitude != null && dealerDetails.objArea.Longitude != null)
                    {
                        <a href="https://maps.google.com/?saddr=&amp;daddr=@dealerDetails.objArea.Latitude,@dealerDetails.objArea.Longitude" class="dealer-details__direction" target="_blank" rel="noopener">Get Directions</a>
                    }

                </div>
            </li>
        }

    </ul>
}
