@model  Bikewale.Models.DealerCardVM


@if (Model != null && Model.Dealers != null)
{
    <ul class="sidebar-dealer-list">
        @foreach (var dealerDetails in Model.Dealers)
        {
            if (dealerDetails != null)
            {
                <li class="dealer-card-target">
                    <a href="javascript:void(0)" class="dealer-details__target" rel="nofollow" title="@dealerDetails.Name">
                        <h3 class="dealer-details__name">@dealerDetails.Name</h3>

                        <p class="@string.Format("{0}", string.IsNullOrEmpty(dealerDetails.Address) ? "hide" : "dealer-details__address")">
                            @if (string.IsNullOrEmpty(dealerDetails.objArea.PinCode))
                            {
                                <span>@string.Format("{0}, {1}", dealerDetails.Address, dealerDetails.City)</span>
                            }
                            else
                            {
                                <span>@string.Format("{0}, {1}, {2}", dealerDetails.Address, dealerDetails.City, dealerDetails.objArea.PinCode)</span>
                            }
                        </p>
                    </a>
                    <div class="dealer-details__footer">
                        <p class="@string.Format("{0}", string.IsNullOrEmpty(dealerDetails.MaskingNumber) ? "hide" : "dealer-details__number")">
                            <span>@dealerDetails.MaskingNumber</span>
                        </p>
                        @if (dealerDetails.objArea != null && dealerDetails.objArea.Latitude > 0 && dealerDetails.objArea.Longitude > 0)
                        {
                            <a href="https://maps.google.com/?saddr=&amp;daddr=@dealerDetails.objArea.Latitude,@dealerDetails.objArea.Longitude" class="dealer-details__direction" target="_blank" rel="noopener">Get Directions</a>
                        }

                    </div>
                </li>
            }

        }

    </ul>
}
