@model Bikewale.Models.DealerShowroomDealerDetailsVM

@{
   Layout = "~/Views/Shared/_Layout.cshtml";
   Model.Page_ATF_CSS ="<link rel='stylesheet' type='text/css' href='/css/dealer/details.css' />";
   Model.Page_JS_Path = "/src/dealer/details.js";
   Model.PageMetaTags.CanonicalUrl = String.Format("https://www.bikewale.com/{0}-dealer-showrooms-in-{1}/{2}-{3}/", Model.Make.MaskingName, Model.CityDetails.CityMaskingName, Model.DealerDetails.DealerDetails.DealerId, Bikewale.Utility.UrlFormatter.RemoveSpecialCharUrl(Model.DealerDetails.DealerDetails.Name));
   Model.PageMetaTags.AlternateUrl = String.Format("https://www.bikewale.com/m/{0}-dealer-showrooms-in-{1}/{2}-{3}/", Model.Make.MaskingName, Model.CityDetails.CityMaskingName,Model.DealerDetails.DealerDetails.DealerId, Bikewale.Utility.UrlFormatter.RemoveSpecialCharUrl(Model.DealerDetails.DealerDetails.Name));
   Model.AdTags.AdId = "1395986297721";
   Model.AdTags.AdPath = "/1017752/BikeWale_New_";
}

    <section>
        <div class="container padding-top10">
            <div class="grid-12">
                <div class="breadcrumb margin-bottom15">
                    <!-- breadcrumb code starts here -->
                    <ul>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="/"><span itemprop="title">Home</span></a>
                        </li>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="/dealer-showroom-locator/"><span itemprop="title">Showroom Locator</span></a>
                        </li>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="/@Model.Make.MaskingName-dealer-showrooms-in-india/"><span itemprop="title">@Model.Make.MakeName Showroom</span></a>
                        </li>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="/@Model.Make.MaskingName-dealer-showrooms-in-@Model.CityDetails.CityName/"><span itemprop="title">@Model.Make.MakeName Showroom in @Model.CityDetails.CityName</span></a>
                        </li>
                        <li class="current"><span class="bwsprite fa-angle-right margin-right10"></span>@Model.DealerDetails.DealerDetails.Name</li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

        @if (Model.DealerDetails != null && Model.DealerDetails.DealerDetails != null)
        {
            <section>
                <div class="container margin-bottom20" id="dealerInfo">
                    <div class="grid-12">
                        <div class="content-box-shadow">
                            <div class="content-box-shadow padding-14-20">
                                @if (Model.DealerDetails.DealerDetails.Area != null && string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.Area.AreaName))
                                {
                                    <h1>
                                        @string.Format("{0}, {2}, {1}", Model.DealerDetails.DealerDetails.Name, Model.CityDetails.CityName, Model.DealerDetails.DealerDetails.Area.AreaName)
                                    </h1>
                                }
                                else
                                {
                                    <h1>
                                        @string.Format("{0}, {1}", Model.DealerDetails.DealerDetails.Name, Model.CityDetails.CityName)
                                    </h1>
                                }
                            </div>
                            <div class="content-inner-block-20">
                                <div class="grid-7 alpha omega font14">
                                    <div class="margin-bottom10">
                                        @if (Model.DealerDetails.DealerDetails.DealerType == (int)(Bikewale.Entities.PriceQuote.DealerPackageTypes.Premium) || Model.DealerDetails.DealerDetails.DealerType == (int)(Bikewale.Entities.PriceQuote.DealerPackageTypes.Deluxe))
                                        {
                                            <span class="featured-tag inline-block margin-right10"><span class="bwsprite star-white"></span>Featured</span>
                                        }
                                        <h2 class="font14 text-black text-bold inline-block">@string.Format("Authorized {0} dealer in {1}", Model.Make.MakeName, Model.CityDetails.CityName)</h2>
                                    </div>

                                    @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.Address))
                                    {
                                        <div class="margin-bottom10">
                                            <span class="bwsprite dealership-loc-icon vertical-top"></span>
                                            @if (String.IsNullOrEmpty(Model.DealerDetails.DealerDetails.Pincode))
                                            {
                                                <span class="vertical-top text-light-grey dealership-card-details">@string.Format("{0}, {1}", Model.DealerDetails.DealerDetails.Address, Model.CityDetails.CityName)</span>
                                            }
                                            else
                                            {
                                                <span class="vertical-top text-light-grey dealership-card-details">@string.Format("{0}, {1}, {2}", Model.DealerDetails.DealerDetails.Address, Model.DealerDetails.DealerDetails.Pincode, Model.CityDetails.CityName)</span>
                                            }


                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.MaskingNumber))
                                    {
                                        <div class="margin-bottom10">
                                            <span class="bwsprite phone-black-icon vertical-top"></span>
                                            <span class="vertical-top text-bold dealership-card-details">@Model.DealerDetails.DealerDetails.MaskingNumber</span>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.EMail))
                                    {
                                        <div class="margin-bottom10">
                                            <span class="bwsprite mail-grey-icon vertical-top"></span>
                                            <a href="mailto:<%=eMail %>" target="_blank" class="vertical-top text-light-grey" rel="nofollow">
                                                <span class="dealership-card-details">@Model.DealerDetails.DealerDetails.EMail</span>
                                            </a>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.WorkingHours))
                                    {
                                        <div class="margin-bottom10">
                                            <span class="bwsprite clock-icon vertical-top"></span>
                                            <span class="vertical-top text-light-grey dealership-card-details">Working hours: @Model.DealerDetails.DealerDetails.WorkingHours</span>
                                        </div>
                                    }
                                    @if (Model.DealerDetails.DealerDetails.Area != null && Model.DealerDetails.DealerDetails.Area.Latitude > 0 && Model.DealerDetails.DealerDetails.Area.Longitude > 0)
                                    {
                                        <div id="commute-distance-form" class="margin-top20">
                                            <p class="text-bold margin-bottom15">Get commute distance and time:</p>
                                            <div class="leftfloat form-control-box margin-right15">
                                                <input id="locationSearch" data-lat="@Model.DealerDetails.DealerDetails.Area.Latitude" data-long="@Model.DealerDetails.DealerDetails.Area.Longitude" data-currentCityName="@Model.CityDetails.CityName" type="text" class="form-control" placeholder="Enter your location" />
                                                <span id="getUserLocation" class="crosshair-icon font12 position-abt pos-right10 pos-top10 cur-pointer"></span>
                                            </div>
                                            <div class="location-details padding-top10 padding-bottom10 leftfloat">
                                                Distance: <span id="commuteDistance" class="margin-right10"></span>
                                                Time: <span id="commuteDuration"></span>
                                            </div>
                                            <div class="clear"></div>
                                            <div id="commuteResults"></div>
                                        </div>
                                    }
                                </div>
                                <div class="grid-5 omega position-rel">
                                    @if (Model.DealerDetails.DealerDetails.Area != null && Model.DealerDetails.DealerDetails.Area.Latitude > 0 && Model.DealerDetails.DealerDetails.Area.Longitude > 0)
                                    {
                                        <div id="dealer-map" style="width: 378px; height: 254px; border: 1px solid #eee;"></div>
                                        <div id="get-direction-button" title="Get directions">
                                            <a href="https://maps.google.com/?saddr=&amp;daddr=@Model.DealerDetails.DealerDetails.Area.Latitude,@Model.DealerDetails.DealerDetails.Area.Longitude" target="_blank">
                                                <span class="bwsprite get-direction-icon"></span>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }

        @if (Model.DealersList != null)
        {
            <section>
                <div class="container margin-bottom20">
                    <div class="grid-12">
                        <div class="content-box-shadow">
                            <div id="makeDealersContent" class="bw-model-tabs-data padding-top20 font14">
                                <div class="carousel-heading-content"><div class="swiper-heading-left-grid inline-block">
                                    <h2>More @Model.Make.MakeName showrooms</h2></div><div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/@Model.Make.MaskingName-dealer-showrooms-in-@Model.CityDetails.CityMaskingName/" title="@Model.Make.MakeName Showrooms in @Model.CityDetails.CityName" class="btn view-all-target-btn">View all</a></div>
                                <div class="clear"></div></div>
                                @Html.Partial("~/Views/DealerShowroom/_DealerCard.cshtml", Model.DealersList)
                            </div>
                        </div>
                        </div>
                        <div class="clear"></div>
                    </div>

            </section>
        }
        @if (Model.PopularBikes != null && Model.PopularBikes.Bikes != null && Model.PopularBikes.Bikes.Count() > 0)
        {
            <div class="container margin-bottom20">
                <div class="grid-12">
                    <div class="content-box-shadow">
                        <div class="bw-model-tabs-data padding-top20 padding-bottom20 border-solid-bottom font14">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>Popular @Model.Make.MakeName bikes in @Model.CityDetails.CityName</h2>
                                </div><div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/@Model.Make.MaskingName-bikes/" title="@Model.Make.MakeName Bikes" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.Partial("~/Views/BikeModels/_MostPopularBikes.cshtml", Model.PopularBikes)
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        }
        @if (Model.ServiceCenterDetails != null && Model.ServiceCenterDetails.ServiceCentersList != null && Model.ServiceCenterDetails.ServiceCentersList.Count() > 0)
        {
            <div class="container margin-bottom20">
                <div class="grid-12">
                    <div class="content-box-shadow">
                        <div class="carousel-heading-content padding-top20">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2>@Model.Make.MakeName service centers in @Model.CityDetails.CityName</h2>
                            </div><div class="swiper-heading-right-grid inline-block text-right">
                                      <a href="/@Model.Make.MakeName-service-center-in-@Model.CityDetails.CityName/" title="@Model.Make.MakeName Service Centers in @Model.CityDetails.CityName" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/Views/ServiceCenters/_ServiceCentersCard.cshtml", Model.ServiceCenterDetails)
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        }
        <script defer src="https://maps.googleapis.com/maps/api/js?key=@Bikewale.Utility.BWConfiguration.Instance.GoogleMapApiKey&libraries=places"></script>

