@model  Bikewale.Models.DealerShowroomDealerDetailsVM
@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/dealer/details.css' inline />";
    Model.Page_JS_Path = "/m/src/dealer/details.js";
    Model.PageMetaTags.CanonicalUrl = String.Format("https://www.bikewale.com/dealer-showrooms/{0}/{1}/{2}-{3}/", Model.Make.MaskingName, Model.CityDetails.CityMaskingName, Bikewale.Utility.UrlFormatter.RemoveSpecialCharUrl(Model.DealerDetails.DealerDetails.Name), Model.DealerDetails.DealerDetails.DealerId);
}
@if (Model.DealerDetails != null && Model.DealerDetails.DealerDetails != null)
{
    <section class="container bg-white margin-bottom10">
        <div class="bg-white box-shadow">
            @if (Model.DealerDetails.DealerDetails.objArea != null && !string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.objArea.AreaName))
            {
                <h1 class="box-shadow padding-15-20">@string.Format("{0}, {2}, {1}", Model.DealerDetails.DealerDetails.Name, Model.CityDetails.CityName, Model.DealerDetails.DealerDetails.objArea.AreaName)</h1>
            }
            else
            {
                <h1 class="box-shadow padding-15-20">@string.Format("{0}, {1}", Model.DealerDetails.DealerDetails.Name, Model.CityDetails.CityName)</h1>
            }
            <div class="dealer-details position-rel pos-top-3 content-inner-block-20 font14">
                @if (Model.DealerDetails.DealerDetails.IsFeatured)
                {
                    <span class="featured-tag inline-block margin-right10"><span class="bwmsprite star-white"></span>Featured</span>
                }
                <div class="margin-bottom20">
                    <h2 class="font14 text-bold inline-block">@string.Format("Authorized {0} dealer in {1}", Model.Make.MakeName, Model.CityDetails.CityName) </h2>
                </div>

                @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.Address))
                {
                    <p class="margin-bottom10">
                        <span class="bwmsprite dealership-loc-icon vertical-top"></span>
                        @if (String.IsNullOrEmpty(Model.DealerDetails.DealerDetails.Pincode))
                        {
                            <span class="vertical-top dealership-details text-light-grey">@string.Format("{0}, {1}", Model.DealerDetails.DealerDetails.Address, Model.CityDetails.CityName)</span>
                        }
                        else
                        {
                            <span class="vertical-top dealership-details text-light-grey">@string.Format("{0}, {1} - {2}", Model.DealerDetails.DealerDetails.Address, Model.CityDetails.CityName, Model.DealerDetails.DealerDetails.Pincode)</span>
                        }

                    </p>
                }
                @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.MaskingNumber))
                {
                    <div class="margin-bottom10">
                        <a href="@string.Format("tel:={0}", Model.DealerDetails.DealerDetails.MaskingNumber)" class="text-default text-bold maskingNumber">
                            <span class="bwmsprite tel-sm-grey-icon vertical-top"></span>
                            <span class="vertical-top text-bold dealership-details">@Model.DealerDetails.DealerDetails.MaskingNumber </span>
                        </a>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.EMail))
                {
                    <div class="margin-bottom10">
                        <a href="@string.Format("mailto:={0}", Model.DealerDetails.DealerDetails.EMail)" class="text-light-grey">
                            <span class="bwmsprite mail-grey-icon vertical-top"></span>
                            <span class="vertical-top dealership-details text-light-grey">@Model.DealerDetails.DealerDetails.EMail </span>
                        </a>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.WorkingHours))
                {
                    <div class="margin-bottom10">
                        <span class="bwmsprite clock-icon vertical-top"></span>
                        <span class="vertical-top dealership-details text-light-grey">Working hours: @Model.DealerDetails.DealerDetails.WorkingHours </span>
                    </div>
                }
                @if (Model.DealerDetails.DealerDetails.objArea != null && Model.DealerDetails.DealerDetails.objArea.Latitude > 0 && Model.DealerDetails.DealerDetails.objArea.Longitude > 0)
                {
                    <div class="border-solid-bottom margin-bottom15 padding-top10"></div>

                    <h2 class="font14 text-default margin-bottom15">Get commute distance and time:</h2>
                    <div class="form-control-box margin-bottom15">
                        <input id="locationSearch" data-map="@Bikewale.Utility.BWConfiguration.Instance.GoogleMapApiKey" data-cityid="@Model.CityDetails.CityId" data-cityname="@Model.CityDetails.CityName" data-lat="@Model.DealerDetails.DealerDetails.objArea.Latitude" data-long="@Model.DealerDetails.DealerDetails.objArea.Longitude" type="text" class="form-control padding-right40" placeholder="Enter your location" />
                        <span id="getUserLocation" class="crosshair-icon position-abt"></span>
                    </div>
                    <div class="location-details margin-bottom15">
                        Distance: <span id="commuteDistance" class="margin-right10"></span>
                        Time: <span id="commuteDuration"></span>
                    </div>
                    <div id="commuteResults"></div>
                    <a id="anchorGetDir" href="http://maps.google.com/maps?z=12&t=m&q=loc:=@Model.DealerDetails.DealerDetails.objArea.Latitude ,@Model.DealerDetails.DealerDetails.objArea.Longitude " target="_blank" rel="noopener"><span class="bwmsprite get-direction-icon margin-right5"></span>Get directions</a>
                }
            </div>


            @if (Model.DealerDetails.DealerDetails.CampaignId > 0 && Model.DealerDetails.DealerDetails.IsFeatured)
            {
                <div class="grid-12 float-button clearfix float-fixed">
                    @if (!string.IsNullOrEmpty(Model.DealerDetails.DealerDetails.MaskingNumber))
                    {
                        <div class="grid-6 alpha padding-right5">
                            <a data-leadsourceid="15" data-clientip="@Bikewale.Common.CommonOpn.GetClientIP()" data-champaignid="@Model.DealerDetails.DealerDetails.CampaignId" data-isregisterpq="true" data-item-name="@Model.DealerDetails.DealerDetails.Name" data-item-area="@((Model.DealerDetails.DealerDetails.objArea!=null)?Model.DealerDetails.DealerDetails.objArea.AreaName: "")" data-isleadpopup="false" data-pqsourceid="@Convert.ToInt32(Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_dealer_details_Get_offers)"
                               data-item-id="@Model.DealerDetails.DealerDetails.DealerId" data-cityname="@Model.CityDetails.CityName" data-eventcategory="Dealer_Locator_Detail" class=" btn btn-orange btn-full-width rightfloat leadcapturebtn bw-ga" data-act="Get_Offers_Clicked" data-cat="Dealer_Locator_Detail" data-lab="@Model.GALabel" href="javascript:void(0);" rel="nofollow">@Model.DealerDetails.DealerDetails.DisplayTextSmall</a>
                        </div>
                        <div class="grid-6 omega padding-left5">
                            <a id="calldealer" class="btn btn-green btn-full-width rightfloat" href="tel:=@Model.DealerDetails.DealerDetails.MaskingNumber">
                                <span class="bwmsprite tel-white-icon margin-right5"></span>Call dealer
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="grid-12 alpha padding-right5">
                            <a data-leadsourceid="15" data-clientip="@Bikewale.Common.CommonOpn.GetClientIP()" data-champaignid="@Model.DealerDetails.DealerDetails.CampaignId" data-isregisterpq="true" data-item-name="@Model.DealerDetails.DealerDetails.Name" data-item-area="@Model.DealerDetails.DealerDetails.objArea!=null?@Model.DealerDetails.DealerDetails.objArea.AreaName" data-isleadpopup="false" data-pqsourceid="@Convert.ToInt32(Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_dealer_details_Get_offers)"
                               data-item-id="@Model.DealerDetails.DealerDetails.DealerId" data-cityname="@Model.CityDetails.CityName" data-eventcategory="Dealer_Locator_Detail" class=" btn btn-orange btn-full-width rightfloat leadcapturebtn bw-ga" data-act="Get_Offers_Clicked" data-cat="Dealer_Locator_Detail" data-lab="@Model.GALabel" href="javascript:void(0);">@Model.DealerDetails.DealerDetails.DisplayTextSmall</a>
                        </div>
                    }
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>


            }
        </div>
    </section>
}
@if (Model.DealerDetails != null && Model.DealerDetails.DealerDetails != null && Model.DealerDetails.DealerDetails.CampaignId > 0 && Model.DealerDetails.DealerDetails.IsFeatured && Model.DealerDetails.Models!=null && Model.DealerDetails.Models.Count()>0)
{
    <section class="container bg-white margin-bottom10">
        <div class="box-shadow padding-top15 padding-right20 padding-bottom5 padding-left20">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2 class="font18 margin-bottom15">Bikes available at @Model.DealerDetails.DealerDetails.Name</h2>
                </div><div class="swiper-heading-right-grid inline-block text-right">
                          <a href="/m/@Model.Make.MaskingName-bikes/" title="@Model.Make.MakeName Bikes" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>

            <ul id="model-available-list">
                @foreach (var bike in Model.DealerDetails.Models)
                {
                    var bikeName = String.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
                    <li>
                        <a class="modelurl" href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.BikePageUrl(bike.objMake.MaskingName, bike.objModel.MaskingName))" title="@bikeName">
                            <div class="image-block">
                                <div class="image-content">
                                    <img class="lazy"
                                         data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._310x174)" alt="@bikeName" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif">
                                </div>
                            </div>

                            <div class="details-block">
                                <h3 class="font16 margin-bottom10 text-black text-truncate">@bikeName</h3>
                                <div class="font14 text-x-light margin-bottom5">
                                    @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecs(Convert.ToString(bike.Specs.Displacement), Convert.ToString(bike.Specs.FuelEfficiencyOverall), Convert.ToString(bike.Specs.MaxPower), Convert.ToString(bike.Specs.KerbWeight)))
                                </div>
                                <div class="text-default">
                                    <span class="font14 text-light-grey"> On-road Price,@Model.CityDetails.CityName</span>
                                </div>
                                <div class="text-default">
                                    @Html.Raw("<span class='font18'> &#x20B9;</span>")
                                    &nbsp;<span class="font18 text-bold">@Bikewale.Common.CommonOpn.FormatPrice(Convert.ToString(bike.VersionPrice))</span>
                                </div>
                                @if (Model.DealerDetails.DealerDetails.objArea != null && Model.DealerDetails.DealerDetails.objArea.AreaId > 0 && Model.DealerDetails.DealerDetails.DealerType != (ushort)Bikewale.Entities.PriceQuote.DealerPackageTypes.Pricing)
                                {
                                    <div class="text-default">
                                        <a rel="nofollow" id="dealerDetails" class="btn btn-white btn-sm-1 margin-top5 inline-block dealerDetails" href="javascript:void(0)" data-dealerid="@Model.DealerDetails.DealerDetails.DealerId" data-pqsourceid="@Convert.ToUInt32(Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_DealerLocator_Detail_AvailableModels)" data-modelid="@bike.objModel.ModelId" data-versionid="@bike.objVersion.VersionId" data-areaid="@Model.DealerDetails.DealerDetails.objArea.AreaId " data-cityid="@Model.CityDetails.CityId" data-areaname="@Model.DealerDetails.DealerDetails.objArea.AreaName" data-cityname="@Model.CityDetails.CityName">Show detailed price</a>
                                    </div>
                                }
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
}
@if (Model.DealersList != null && Model.DealersList.Dealers != null && Model.DealersList.Dealers.Count() > 0)
{
    <section class="container bg-white margin-bottom10">
        <div class="box-shadow">
            <div id="makeDealersContent" class="bw-model-tabs-data padding-bottom20 padding-top15 font14">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>More @Model.Make.MakeName showrooms</h2>
                    </div><div class="swiper-heading-right-grid inline-block text-right">
                              <a href="/m/dealer-showrooms/@Model.Make.MaskingName/@Model.CityDetails.CityMaskingName/" title="@Model.Make.MakeName Showrooms in @Model.CityDetails.CityName" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/DealerShowroom/_DealerCard_Mobile.cshtml", Model.DealersList)
            </div>
            <div class="clear"></div>
        </div>

    </section>
}
@if (Model.PopularBikes != null && Model.PopularBikes.Bikes != null && Model.PopularBikes.Bikes.Count() > 0 && !((Model.DealerDetails != null || Model.DealerDetails.DealerDetails != null || Model.DealerDetails.DealerDetails.CampaignId > 0 || Model.DealerDetails.DealerDetails.IsFeatured) && (Model.DealerDetails.Models != null && Model.DealerDetails.Models.Count() > 0)))
{
    <div class="container bg-white box-shadow margin-bottom15">
        <div class="carousel-heading-content padding-top15">
            <div class="swiper-heading-left-grid inline-block"><h2>Popular @Model.Make.MakeName bikes in @Model.CityDetails.CityName</h2></div><div class="swiper-heading-right-grid inline-block text-right">
                <a href="/m/@Model.Make.MaskingName-bikes/" title="@Model.Make.MakeName Bikes" class="btn view-all-target-btn">View all</a>
            </div>
            <div class="clear"></div>
        </div>
        @Html.Partial("~/Views/BikeModels/_MostPopularBikes_Mobile.cshtml", Model.PopularBikes)
    </div>
}
@if (Model.ServiceCenterDetails != null && Model.ServiceCenterDetails.ServiceCentersList != null && Model.ServiceCenterDetails.ServiceCentersList.Count() > 0)
{
    <div class="container bg-white box-shadow padding-top15 margin-bottom10">
        <div class="container card-bottom-margin padding-bottom20">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block"><h2>@string.Format("{0} Service Centers in {1}", Model.Make.MakeName, Model.CityDetails.CityName)</h2></div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="/m/service-centers/@Model.Make.MaskingName/@Model.CityDetails.CityMaskingName/" title="@string.Format("{0} Service Centers in {1}", Model.Make.MakeName, Model.CityDetails.CityName)" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="swiper-container card-container margin-bottom15 dealer-horizontal-swiper font14">
                <div class="swiper-wrapper">
                    @Html.Partial("~/Views/ServiceCenters/_ServiceCentersCard_Mobile.cshtml", Model.ServiceCenterDetails)
                </div>
            </div>
        </div>
    </div>
}
@if (Model.LeadCapture != null)
{
    @Html.Partial("~/Views/Shared/_LeadCapture_Mobile.cshtml", Model.LeadCapture)
}
<section>
    <div class="container margin-bottom30">
        <div class="grid-12 font12">
            <span class="font14"><strong>Disclaimer</strong>:</span> The above mentioned information about @Model.Make.MakeName dealership showrooms in @Model.CityDetails.CityName is furnished to the best of our knowledge.
            All @Model.Make.MakeName bike models and colour options may not be available at each of the @Model.Make.MakeName dealers.
            We recommend that you call and check with your nearest @Model.Make.MakeName dealer before scheduling a showroom visit.
        </div>
        <div class="clear"></div>
    </div>
</section>

<script defer src="https://maps.googleapis.com/maps/api/js?key=@Bikewale.Utility.BWConfiguration.Instance.GoogleMapApiKey&libraries=places"></script>
<script>
    docReady(function () {
        fbq('track', FbPixelEvent.viewContent);
    });
</script>
