@model  Bikewale.Models.DealerShowroomCityPageVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_JS_Path = "/src/dealer/listing.js";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/dealer/listing.css' inline />";
    Model.PageMetaTags.CanonicalUrl = String.Format("https://www.bikewale.com/dealer-showrooms/{0}/{1}/", Model.Make.MaskingName, Model.CityDetails.CityMaskingName);
    Model.PageMetaTags.AlternateUrl = String.Format("https://www.bikewale.com/m/dealer-showrooms/{0}/{1}/", Model.Make.MaskingName, Model.CityDetails.CityMaskingName);
    Model.AdTags.AdId = "1516179171948";
    Model.AdTags.AdPath = "/1017752/Bikewale_Dealer_Showrooms_";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.AdTags.Ad_Model_ATF_300x250 = true;
    Model.AdTags.Ad_Model_BTF_300x250 = true;
  
}

<section>
    <div class="container margin-bottom20">
        <div class="grid-12">
            <div class="content-box-shadow">
                <div class="content-box-shadow padding-14-20">
                    <h1>@Model.Make.MakeName @string.Format("Showroom{0}", Model.TotalDealers > 1 ? "s" : "") in @Model.CityDetails.CityName</h1>
                </div>
                <div class="padding-14-20 font14 text-light-grey">
                    <p id="dealer-main-content">Showroom experience has always played an important role while buying a new bike. BikeWale brings you the address, contact details and directions of @Model.Make.MakeName Showroom to improve your buying experience. There @string.Format("{0} {1} {2} showroom{3}", Model.TotalDealers > 1 ? "are" : "is", Model.TotalDealers, Model.Make.MakeName, Model.TotalDealers > 1 ? "s" : "") in  @Model.CityDetails.CityName. BikeWale recommends buying bikes from authorized @Model.Make.MakeName showroom in  @Model.CityDetails.CityName</p>
                    <p id="dealer-more-content"> For information on prices, offers, EMI options and test rides you may get in touch with below mentioned @Model.Make.MakeName dealers in  @Model.CityDetails.CityName.</p>
                    <a href="javascript:void(0)" id="read-more-target" rel="nofollow">...Read more</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<section>
    <div class="container">
        <div class="grid-8">
            <div class="content-box-shadow section-bottom-margin">
                <div class="padding-18-20">
                    <h2 class="font18 text-black text-bold bg-white dealer-heading inline-block margin-right10">@String.Format("{0} {1} showroom{2} in {3}", Model.TotalDealers, Model.Make.MakeName, Model.TotalDealers > 1 ? "s" : "", Model.CityDetails.CityName)</h2>
                    <div class="inline-block">
                        <span class="edit-blue-link" data-lab="" id="brandSelect"><span class="bwsprite edit-blue text-link"></span> <span class="change text-link">change</span></span>
                        @if (Model.BrandCityPopUp != null)
                        {
                            @Html.Partial("~/Views/Make/_BrandCityPopup.cshtml", Model.BrandCityPopUp)
                        }

                    </div>
                    <div class="clear"></div>
                </div>
                <div id="listing-left-column">
                    <ul id="dealersList">
                        @foreach (var Details in Model.DealersList.Dealers)
                        {
                            <li @(Details.IsFeatured ? "class=dealer-card__featured" : "class=dealer-card-target") data-item-type="@Details.DealerType" data-isfeatured="@(Details.IsFeatured ? 1 : 0)" data-item-id="@Details.DealerId" data-item-inquired="false" data-item-number="@Details.MaskingNumber" data-lat="@Details.objArea.Latitude" data-log="@Details.objArea.Longitude" data-address="@Details.Address" data-campid="@Details.CampaignId" data-item-url="@Bikewale.Utility.UrlFormatter.RemoveSpecialCharUrl(Details.Name)" data-dealername="@Details.Name">
                                <a href=@(Details.IsFeatured ? string.Format("/dealer-showrooms/{0}/{1}/{2}-{3}/", Model.Make.MaskingName, Model.CityDetails.CityMaskingName, Bikewale.Utility.UrlFormatter.RemoveSpecialCharUrl(Details.Name), Details.DealerId) : "javascript:void(0)") class="dealer-details__target" rel="nofollow" title="@Details.Name">
                                    @if (Details.IsFeatured)
                                    {
                                        <span class="featured-tag">
                                            <span class="featured-tag__text">Featured</span>
                                        </span>
                                    }
                                    @if (Details.objArea != null)
                                    {
                                        if (Details.objArea.AreaName != string.Empty)
                                        {
                                            <h3 class="dealer-details__name">@string.Format("{0}, {1}", Details.Name, Details.objArea.AreaName)</h3>
                                        }
                                        else
                                        {
                                            <h3 class="dealer-details__name">@Details.Name</h3>
                                        }
                                    }

                                    <p class="@string.Format("{0}", string.IsNullOrEmpty(Details.Address) ? "hide" : "dealer-details__address")">
                                        @if (string.IsNullOrEmpty(Details.objArea.PinCode))
                                        {
                                            <span>@string.Format("{0}, {1}", Details.Address, Model.CityDetails.CityName)</span>
                                        }
                                        else
                                        {
                                            <span>@string.Format("{0}, {1}, {2}", Details.Address, Details.objArea.PinCode, Model.CityDetails.CityName)</span>
                                        }
                                    </p>
                                </a>
                                <div class="dealer-details__footer">
                                    <p class="@string.Format("{0}",String.IsNullOrEmpty(Details.MaskingNumber)?"hide":"dealer-details__number")">
                                        <span>@Details.MaskingNumber</span>
                                    </p>
                                    @if (Details.objArea != null && (Details.objArea.Latitude > 0 || Details.objArea.Longitude>0))
                                    {
                                        <a href="https://maps.google.com/?saddr=&amp;daddr=@Details.objArea.Latitude,@Details.objArea.Longitude" class="dealer-details__direction" target="_blank" rel="noopener">Get Directions</a>
                                    }
                                </div>

                                @if (Details.IsFeatured)
                                {
                                    <div class="dealer__get-offers">
                                        <a id="dealerLead" data-clientip="@Bikewale.Common.CommonOpn.GetClientIP()" data-item-id="@Details.DealerId" href="Javascript:void(0)" data-leadsourceid="14" data-item-name="@Details.Name" data-item-area="@Details.objArea.AreaName" data-areaname="@Details.objArea.AreaName" data-cityname="@Model.CityDetails.CityName" data-campid="@Details.CampaignId" data-pqsourceid="(int)@Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_DealerLocator_GetOfferButton" data-eventcategory="Dealer_Locator" class="btn btn-white btn-full-width font14 leadcapturebtn bw-ga" data-cat="Dealer_Locator" data-act="Get_Offers_Clicked" data-lab="@Details.GetOffersGALabel">@Details.DisplayTextLarge</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="dealer-details__form-content lead-mobile-content">
                                        <p class="dealer-details-form__target">Send Details to mobile phone</p>
                                        <div class="dealer-details__form">
                                            <div class="form-field__content">
                                                <input type="tel" class="form-control form-field__input field-input__mobile" placeholder="Enter your Mobile number" maxlength="10" />
                                                <button type="button" class="btn btn-blue dealer-form__submit-btn form-field__submit-btn" data-id="@Details.DealerId">Send</button>
                                                <span class="input-mobile__prefix">+91-</span>
                                                <p class="field__error-message"></p>
                                            </div>
                                        </div>
                                        <div class="lead-response-message font12 text-light-grey">
                                            <span class="service-sprite response-icon"></span>
                                            <p class="response-text inline-block"></p>
                                        </div>
                                    </div>
                                }
                            </li>
                        }

                    </ul>
                </div>
                <div class="clear"></div>
            </div>

            @if (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0 && Model.DealersServiceCenterPopularCities.DealerServiceCenters.DealerDetails != null
     && Model.DealersServiceCenterPopularCities.DealerServiceCenters.DealerDetails.Any(m => m.DealerCount > 0))
            {
                <section>
                    <div class="content-box-shadow padding-bottom20 section-bottom-margin">
                        <div class="content-inner-block-20">
                            <div class="grid-7 inline-block margin-right-4 alpha">
                                <span class="bwsprite dealer-grey"></span>
                                <h2 class="other-city__title font18 margin-bottom10 inline-block padding-left10">@Model.Make.MakeName showrooms in other cities</h2>
                                <div>
                                    <p class="font14 text-slate-grey">You are currently viewing showrooms of @Model.Make.MakeName in @Model.CityDetails.CityName .Not from @Model.CityDetails.CityName? Select your city to find @Model.Make.MakeName showrooms  in your city.</p>
                                </div>
                            </div>

                            <div class="grid-5 omega inline-block padding-top20 text-right">
                                <a href="javascript:void(0)" id="changeCity" data-makemasking="@Model.Make.MaskingName" class="btn changepriceincitypage btn-orange btn-200-32 " rel="nofollow">Select your city</a>
                                @Html.Partial("~/Views/PopUp/BikeCityPopup.cshtml", @Model.BikeCityPopup)
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="margin-right20 margin-bottom20 margin-left20 border-solid-bottom"></div>
                        <h3 class="margin-right20 margin-bottom20 margin-left20">@Model.Make.MakeName showrooms in popular cities</h3>
                        <div class="jcarousel-grid-8">
                            @Html.Partial("~/Views/PopularCityWidget/DealerServiceCenterInTopCityWidget.cshtml", Model.DealersServiceCenterPopularCities)
                        </div>
                    </div>
                </section>
            }

            @if (Model.SimilarBrandsByCity != null && Model.SimilarBrandsByCity.Makes != null && Model.SimilarBrandsByCity.Makes.Count() > 0)
            {
                <section>
                    <div class="content-box-shadow padding-top20 padding-bottom20 section-bottom-margin">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                @if (Model.CityDetails != null)
                                {
                                    <span class="font16 text-semibold text-black">@string.Format("Showroom of other brands in {0}", Model.CityDetails.CityName)  </span>
                                }

                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="/dealer-showrooms/" title="Bikes Showroom Locator" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="jcarousel-grid-8">
                            @Html.Partial("~/Views/Make/_BrandsModelCount.cshtml", Model.SimilarBrandsByCity)
                        </div>
                    </div>
                </section>
            }
        </div>
        <div class="grid-4">
            @if (Model.DealerCountCity != null && Model.DealerCountCity.objDealerInNearCityList.Count() > 0)
            {
                <div class="content-box-shadow section-bottom-margin">
                    <h2 class="sidebar-list-heading">@Model.Make.MakeName showrooms near @Model.CityDetails.CityName</h2>
                    <ul class="sidebar__other-city-list">
                        @foreach (var city in Model.DealerCountCity.objDealerInNearCityList)
                        {
                            <li>
                                <a href="/dealer-showrooms/@Model.Make.MaskingName/@city.CityMaskingName/" title="@Model.Make.MakeName showrooms in @city.CityName">@Model.Make.MakeName showrooms in @city.CityName</a>
                            </li>
                        }

                    </ul>
                </div>
                if (Model.AdTags.Ad_Model_ATF_300x250)
                {
                    <section>
                        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Model_ATF_300x250.cshtml", new { AdId = Model.AdTags.AdId });}
                    </section>
                }
            }

            @if ((Model.PopularBikes != null && Model.PopularBikes.Bikes.Count() > 0))
            {
                <div class="content-box-shadow section-bottom-margin">
                    @if (Model.PopularBikes != null && Model.PopularBikes.Bikes != null && Model.PopularBikes.Bikes.Count() > 0)
                    {
                        <h2 class="sidebar-list-heading">Popular @Model.Make.MakeName Bikes</h2>

                        <div class="sidebar-list--overflow">
                                @Html.Partial("~/Views/BikeModels/_MostPopularBikesSideBar.cshtml", Model.PopularBikes)
                        </div>

                        <div class="view-all-btn-container padding-10-20-20">
                            <a href="@string.Format("/{0}-bikes/",Model.Make.MaskingName)" title="@string.Format("{0} Bikes",Model.Make.MakeName)" class="btn view-all-target-btn">View all bikes<span class="bwsprite teal-right"></span></a>
                        </div>
                    }
                </div>
                
                if (Model.AdTags.Ad_Model_BTF_300x250)
                {
                    <section>
                        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Model_BTF_300x250.cshtml", new { AdId = Model.AdTags.AdId });}
                    </section>
                }

            }

            @if (Model.ResearchMoreMakeWidget != null)
            {

                <div class="content-box-shadow section-bottom-margin">
                    <h2 class="sidebar-list-heading">Research More</h2>
                    @Html.Partial("~/Views/Make/ResearchMoreAboutMake.cshtml", Model.ResearchMoreMakeWidget)
                </div>
            }

        </div>
        <div class="clear"></div>
    </div>
    <div id="listing-footer"></div>
</section>

@if (Model.LeadCapture != null)
{
    @Html.Partial("~/Views/Shared/_LeadCapture.cshtml", Model.LeadCapture)
}

<section>
    <div class="container margin-top10 margin-bottom30">
        <div class="grid-12 font12">
            <span class="font14"><strong>Disclaimer</strong>:</span> The above mentioned information about @Model.Make.MakeName dealership showrooms in @Model.CityDetails.CityName is furnished to the best of our knowledge.
            All @Model.Make.MakeName bike models and colour options may not be available at each of the @Model.Make.MakeName dealers.
            We recommend that you call and check with your nearest @Model.Make.MakeName dealer before scheduling a showroom visit.
        </div>
        <div class="clear"></div>
    </div>
</section>

@Html.Partial("~/Views/Make/_BrandCityPopup.cshtml", Model.BrandCityPopupWidget)
@{Html.RenderAction("ChangeLocation", "Location", new { cityId = Model.CityDetails.CityId, cityName = Model.CityDetails.CityName });}

<script type="text/javascript">
    eventCategory = "Dealer_Locator";
</script>