@model  Bikewale.Models.DealerShowroomIndiaPageVM
@{
	Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/dealer/location.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline />";
    Model.Page_JS_Path = "/m/src/dealer/location.js";
}
<section>
    <div class="container margin-bottom10">
        <div class="bg-white">
            <h1 class="box-shadow padding-15-20">@Model.Make.MakeName Showrooms in India</h1>
            <div class="box-shadow padding-15-20 font14 text-light-grey collapsible-content">
                <p class="main-content">BikeWale recommends to buy your @Model.Make.MakeName bike only from authorized @Model.Make.MakeName showrooms. We bring you a list of @String.Format("{0} {1} showroom{2}", Model.DealerCount, Model.Make.MakeName, Model.DealerCount > 1 ? "s" : "") present in @string.Format("{0} {1}", Model.CitiesCount, Model.CitiesCount > 1 ? "cities" : "city") in India. The showroom locator tool will help you find the @Model.Make.MakeName showroom in your city.</p>
                <p class="more-content">  BikeWale works with more than 200+ bike showrooms in India to provide you a hassle-free bike buying experience. Get @Model.Make.MakeName showroom's address, contact details, EMI options for your nearest dealer.</p><a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
            </div>
        </div>
    </div>
</section>
@if (Model.States != null)
{
    <section>
        <div class="container bg-white margin-bottom10 box-shadow">
            <h2 class="padding-15-20 border-solid-bottom">@String.Format("{0} {1}", Model.DealerCount, Model.Make.MakeName) dealers in @string.Format("{0} {1}", Model.CitiesCount, Model.CitiesCount > 1 ? "cities" : "city")</h2>
            <div class="content-inner-block-20">
                <div class="form-control-box">
                    <span class="bwmsprite search-icon-grey"></span>
                    <input type="text" class="form-control padding-right40" placeholder="Type to select city" id="getCityInput" />
                    <span class="fa fa-spinner fa-spin position-abt text-black"></span>
                </div>
                <ul id="location-list">
                    @foreach (Bikewale.Entities.DealerLocator.StateCityEntity st in Model.States.StateCityList)
                    {
                        <li class="item-state">
                            <a data-item-id="@st.Id" data-item-name="@st.Name" data-lat="@st.Lat" data-long="@st.Long" data-dealercount="@st.DealerCountState" href="javascript:void(0)" rel="nofollow" class="type-state">@st.Name</a>
                            <ul class="location-list-city">
                                @foreach (Bikewale.Entities.Location.DealerCityEntity stcity in st.Cities)
                                {

                                    <li>
                                        <a data-item-id="@stcity.CityId" data-item-name="@stcity.CityName" data-lat="@stcity.Lattitude" data-long="@stcity.Longitude" data-link="@stcity.Link" data-dealercount="@stcity.DealersCount" title="@string.Format("{0} dealer showrooms in {1}",Model.Make.MakeName,stcity.CityName)" href="/m/dealer-showrooms/@Model.Make.MaskingName/@stcity.CityMaskingName/">@string.Format("{0} ({1})", stcity.CityName, stcity.DealersCount)</a>
                                    </li>
                                }
                            </ul>

                        </li>
                    }
                </ul>
                <div id="no-result"></div>
            </div>
        </div>
    </section>
}
@if (Model.AllDealers != null && Model.AllDealers.Count() > 0)
{
    <section>
        <div class="margin-bottom10">
            <div class="container bg-white box-shadow padding-top15 padding-bottom20">
                <h2 class="padding-right20 padding-bottom15 padding-left20">Find showroom for other brands</h2>
                @Html.Partial("~/Views/DealerShowroom/_DealersByBrand_Mobile.cshtml", Model.AllDealers)
            </div>
        </div>
</section>
}
@if ((Model.NewLaunchedBikes != null && Model.NewLaunchedBikes.Bikes != null && Model.NewLaunchedBikes.Bikes.Count() > 0) || (Model.UsedBikeModel != null && Model.UsedBikeModel.UsedBikeModelList != null && Model.UsedBikeModel.UsedBikeModelList.Count() > 0) || (Model.UsedBikeModel != null && Model.UsedBikeModel.UsedBikeModelList != null && Model.UsedBikeModel.UsedBikeModelList.Count() > 0))
{<section>
        <div class="container bg-white box-shadow padding-top15 padding-bottom20">
            @if (Model.NewLaunchedBikes != null && Model.NewLaunchedBikes.Bikes != null && Model.NewLaunchedBikes.Bikes.Count() > 0)
            {
                <section>
                    <div class="carousel-heading-content padding-top15">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>New @Model.Make.MakeName bike launches</h2>
                        </div><div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("/m/new-{0}-bike-launches/", Model.Make.MaskingName)" title="@string.Format("{0} Bike Launches in India", Model.Make.MakeName)" class="btn view-all-target-btn">View all</a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/NewLaunches/_NewLaunches_Mobile.cshtml", Model.NewLaunchedBikes)

                </section>
            }
            @if ((Model.UsedBikeModel != null && Model.UsedBikeModel.UsedBikeModelList != null && Model.UsedBikeModel.UsedBikeModelList.Count() > 0))
            {
                 <div class="margin-top20 margin-right20 margin-left20 border-solid-bottom"></div>
                <section>
                    <div class="carousel-heading-content padding-top15">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>Upcoming @Model.Make.MakeName bikes</h2>
                        </div><div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("/m/{0}-bikes/upcoming/", Model.Make.MaskingName)" title="@string.Format("Upcoming {0} Bikes in India", Model.Make.MakeName)" class="btn view-all-target-btn">View all</a>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Mobile.cshtml", Model.objUpcomingBikes)

                </section>
            }
            @if (Model.UsedBikeModel != null && Model.UsedBikeModel.UsedBikeModelList != null && Model.UsedBikeModel.UsedBikeModelList.Count() > 0)
            {
                 <div class="margin-top20 margin-right20 margin-left20 border-solid-bottom"></div>
                <section>
                    <div class="carousel-heading-content padding-top15">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>Used @Model.Make.MakeName bikes in India</h2>
                        </div><div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("/m/used/{0}-bikes-in-india/",Model.Make.MaskingName)" title="Second Hand Bikes in India" class="btn view-all-target-btn">View all</a>
                        </div>
                    </div>
                    <div class="padding-bottom20">
                        @Html.Partial("~/Views/Used/_UsedBikesByModel_Mobile.cshtml", Model.UsedBikeModel)
                    </div>

                </section>

            }
        </div>
    </section>
}
