@model  Bikewale.Models.IndexVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/dealer/landing.css' inline />";
    Model.IsHeaderFix = true;
    Model.Page_JS_Path = "/src/dealer/landing.js";
    Model.PageMetaTags.CanonicalUrl = "https://www.bikewale.com/dealer-showrooms/";
    Model.PageMetaTags.AlternateUrl = "https://www.bikewale.com/m/dealer-showrooms/";
    Model.IsPageTypeLanding = true;
}

<section>
	<div class="container section-bottom-margin">
		<div class="grid-12">
			<div class="content-box-shadow">
				<h1 class="content-box-shadow padding-15-20">Showroom Locator</h1>
				<div class="padding-15-20 collapsible-content font14 text-light-grey">
					<p class="main-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius placerat mollis. Nullam tortor orci, fermentum vitae dui quis, ornare pharetra neque. Pellentesque tempus ipsum et urna ullamcorper commodo.</p>
					<p class="more-content">Nunc vel nisl vehicula, vulputate massa vel, tincidunt sem. Curabitur a neque est. Ut hendrerit, mauris non volutpat accumsan, diam nulla ultrices massa, et feugiat justo mauris et augue. Pellentesque in massa a nisl pretium scelerisque. Praesent iaculis elit nec tellus luctus dapibus.</p>
					<a href="javascript:void(0)" class="read-more-target" rel="nofollow">... Read more</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>

<section>
    <div class="container section-container">
        <div class="grid-12">
            <div class="content-box-shadow text-center padding-25-30">
                <h2 class="section-header">Find bike dealers in your city</h2>
                <div class="locator-search-container">
                    <div class="locator-search-brand form-control-box">
                        <select id="ddlMakes" class="form-control  chosen-select">
                            <option value="0">Select a brand</option>
                            @foreach (var Make in Model.MakesList)
							{
                                <option maskingname="@Make.MaskingName" value="@Make.MakeId">@Make.MakeName</option>
							}
                        </select>
                        <div class="clear"></div>
                        <span class="bwsprite error-icon errorIcon hide"></span>
                        <div class="bw-blackbg-tooltip errorText hide"></div>
                    </div>
                    <div class="locator-search-city form-control-box">
                        <select id="ddlCities" class="form-control  chosen-select">
                            <option value="0">Select a city</option>

                        </select>
                        <div class="clear"></div>
                        <span class="bwsprite error-icon errorIcon hide"></span>
                        <div class="bw-blackbg-tooltip errorText hide"></div>
                    </div>
                    <div class="clear"></div>
                    <input type="button" id="applyFiltersBtn" class="btn btn-orange btn-lg locator-search-btn margin-bottom5" value="Search" />
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@if (Model.Brands != null)
{
    <div class="container section-container">
        <div class="grid-12">
            <h2 class="section-header">Explore showroom by brand</h2>
            <div class="content-box-shadow padding-top20">
                @Html.Partial("~/Views/Make/_Brands.cshtml", Model.Brands)
            </div>
        </div>
        <div class="clear"></div>
    </div>
}
@if (Model.BestBikes != null)
{
    <section>
        @Html.Partial("~/Views/BestBikes/_BestBikes.cshtml", Model.BestBikes)
    </section>
}
@if (Model.NewLaunchedBikes != null && Model.NewLaunchedBikes.Bikes != null && Model.NewLaunchedBikes.Bikes.Count() > 0)
{
    <section>
        <div class="container section-container">
            <div class="grid-12">
                <h2 class="section-header">New Bike Launches in India</h2><div class="content-box-shadow padding-top20">
                    @Html.Partial("~/Views/NewLaunches/_NewLaunches.cshtml", Model.NewLaunchedBikes)

                    <div class="view-all-btn-container padding-top15 padding-bottom20">
                        <a href="/new-bike-launches/" class="btn view-all-target-btn" title="New Bike Launches in India">View all launches<span class="bwsprite teal-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}
@if (Model.objUpcomingBikes != null && Model.objUpcomingBikes.UpcomingBikes != null && Model.objUpcomingBikes.UpcomingBikes.Count() > 0)
{

    <section>
        <div class="container section-container">
            <div class="grid-12">
                <h2 class="section-header">Upcoming Bikes in India</h2>
                <div class="content-box-shadow padding-top20">
                    @Html.Partial("~/Views/Upcoming/_UpcomingBikes.cshtml", Model.objUpcomingBikes)
                    <div class="view-all-btn-container padding-top15 padding-bottom20">
                        <a href="/upcoming-bikes/" class="btn view-all-target-btn" title="Upcoming Bikes in India">View all bikes<span class="bwsprite teal-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}