@model Bikewale.Models.ScootersMakePageVM
@{
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.AdTags.Ad_300x250 = true;
    Model.AdTags.AdId = "1442913773076";
    Model.AdTags.AdPath = "/1017752/Bikewale_NewBike_";
    Model.IsHeaderFix = false;
    Model.IsTransparentHeader = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/scooters/listing.css' inline />";
    Model.Page_JS_Path = "/src/scooters.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="makeTabsContentWrapper">
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow">
                <h1 class="padding-15-20 content-box-shadow">@Model.Page_H1</h1>
            </div>

            @Html.Partial("~/Views/Scooters/_Index_Tabs.cshtml", Model)

            @if (Model.Description != null && Model.Description.FullDescription.Length > 0)
            {
                <div id="makeAboutContent" class="content-box-shadow bw-model-tabs-data margin-bottom20 padding-top20 padding-right10 padding-bottom20 padding-left10 border-solid-bottom">
                    <div class="grid-12">
                        <div class="font14 text-light-grey line-height17 collapsible-content">
                            <p class="main-content">
                                @Html.Raw(Bikewale.Utility.FormatDescription.TruncateDescription(Model.Description.FullDescription, 400))
                            </p>
                            <p class="more-content hide">
                                @Html.Raw(Model.Description.FullDescription)
                            </p>
                            @if (Model.Description.FullDescription.Length > 400)
                            {
                            <a href="javascript:void(0)" class="read-more-target" rel="nofollow">Read more</a>
                            }
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            }

            @if (Model.IsScooterDataAvailable)
            {
                <div class="content-box-shadow padding-left20 padding-top15">
                    <h2 class="leftfloat text-x-black">@string.Format("{0} Scooters Prices in  India", Model.Make.MakeName)</h2>
                    <div class="clear"></div>
                </div>
                <div id="bikeMakeList" class="content-box-shadow bw-model-tabs-data">
                    <ul class="bike-listing">
                        @foreach (var bikedetails in Model.Scooters)
                        {
                        <li class="list-item">
                            <a href="@Bikewale.Utility.UrlFormatter.BikePageUrl(bikedetails.objMake.MaskingName, bikedetails.objModel.MaskingName)" title="@bikedetails.BikeName" class="block">
                                <div class="model-jcarousel-image-preview">
                                    <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bikedetails.OriginalImagePath, bikedetails.HostURL, Bikewale.Utility.ImageSize._310x174)" src="" alt="@bikedetails.BikeName" />
                                </div>
                                <div class="card-desc-block">
                                    <h2 class="bikeTitle">@bikedetails.BikeName</h2>
                                    @if (bikedetails.Specs != null)
                                        { <div class="text-xt-light-grey font14 margin-bottom15">


                                            @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecs(Convert.ToString(bikedetails.Specs.Displacement), Convert.ToString(bikedetails.Specs.FuelEfficiencyOverall), Convert.ToString(bikedetails.Specs.MaxPower), Convert.ToString(bikedetails.Specs.KerbWeight)))
                                        </div>}

                                    <p class="key-size-14 margin-bottom5">Ex Showroom, @Bikewale.Utility.BWConfiguration.Instance.DefaultName</p>
                                    @Html.Raw("<span class='value-size-18'>&#x20B9;</span>")
                                    &nbsp;<span class="value-size-18">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(bikedetails.VersionPrice))</span>
                                    <span class="value-size-14"> onwards</span>
                                </div>
                            </a>
                            <div class="margin-left20 margin-bottom10">
                                <a href="javascript:void(0)" data-pagecatid="@Model.PageCatId" data-makename="@bikedetails.objMake.MakeName" data-modelname="@bikedetails.objModel.ModelName" data-pqsourceid="@Convert.ToUInt32(Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_Scooters_Landing_Check_on_road_price)" data-modelid="@bikedetails.objModel.ModelId" class=" btn btn-sm btn-grey font14 getquotation" rel="nofollow">Check on-road price</a>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="clear"></div>
    </div>

    @if (Model.IsCompareDataAvailable)
    {
        <section id="popularComparisions" class="bw-model-tabs-data">
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-top20 padding-bottom5">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2>Popular Comparison of @Model.Make.MakeName Scooters</h2>
                            </div><div class="swiper-heading-right-grid inline-block text-right">
                                <a href="/comparebikes/" title="View more comparisons" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/Views/CompareBikes/_SimilarComparisons.cshtml", Model.SimilarCompareScooters)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            @if (Model.OtherBrands != null && Model.OtherBrands.Any())
        {
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow padding-top20 padding-bottom20">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>Scooters of Other Brands</h2>
                        </div><div class="swiper-heading-right-grid inline-block text-right">
                            <a href="/scooters/" title="Scooters in India" class="btn view-all-target-btn">View all</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/views/shared/_otherbrands.cshtml", Model.OtherBrands)
                </div>
            </div>
            <div class="clear"></div>
        </div>
        }
        </section>
    }
    @if (Model.IsUpComingBikesAvailable)
    {
        <section id="upcomingBikeList" class="bw-model-tabs-data">
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-top20 padding-bottom20">
                        <h2 class="font18 padding-bottom20 padding-left20">Upcoming Scooters</h2>
                        @Html.Partial("~/Views/Upcoming/_UpcomingBikes.cshtml", Model.UpcomingScooters)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    @if (Model.IsMakeTabsDataAvailable)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow">
                        @if (Model.IsNewsAvailable)
                    {
                    <div id="modelNewsContent" class="bw-model-tabs-data margin-right10 margin-left10 content-inner-block-2010 padding-top20 padding-bottom20 border-solid-bottom font14">
                        <h2 class="margin-bottom20">News about @Model.Make.MakeName Scooters</h2>
                        @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)

                        <div class="more-article-target view-all-btn-container">
                            <a href=@Model.ScooterNewsUrl title="@(!string.IsNullOrEmpty(Model.News.ModelMasking) ? string.Format("{0} {1} News", Model.News.MakeName, Model.News.ModelName) : (!string.IsNullOrEmpty(Model.News.MakeMasking) ? string.Format("{0} News", Model.News.MakeName) : "Scooters News"))"
                               class="btn view-all-target-btn">Read all news<span class="bwsprite teal-right"></span></a>
                        </div>



                    </div>

                    }
                        @if (Model.IsExpertReviewsAvailable)
                    {
                    <div id="makeReviewsContent" class="bw-model-tabs-data margin-right10 margin-left10 padding-top20 padding-bottom20 border-solid-bottom font14">
                        <h2 class="padding-left10 padding-right10">Reviews about @Model.Make.MakeName Scooters</h2>
                        <h3 class="model-section-subtitle padding-right10 padding-left10">Expert Reviews</h3>
                        @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)
                        <div class="padding-left10 more-article-target view-all-btn-container">
                            <a title="@Model.ExpertReviews.LinkTitle" href="@Model.ExpertReviews.MoreExpertReviewUrl" class="btn view-all-target-btn">Read all reviews<span class="bwsprite teal-right"></span></a>
                        </div>
                    </div>
                    }
                        @if (Model.IsVideosAvailable)
                    {
                    <div id="makeVideosContent" class="bw-model-tabs-data margin-right10 margin-left10 padding-top20 padding-bottom20 border-solid-bottom font14">
                        <h2 class="padding-right10 padding-left10">Videos of @Model.Make.MakeName Scooters</h2>
                        @Html.Partial("~/Views/Videos/_RecentVideos.cshtml", Model.Videos)
                    </div>
                    }
                        @if (Model.IsDealerServiceDataAvailable || Model.IsDealerServiceDataInIndiaAvailable)
                    {
                    <div id="dealerAndServiceContent" class="bw-model-tabs-data">
                        @if (Model.IsDealerAvailable)
                            {
                            <div id="makeDealersContent" class="padding-bottom20 padding-top15 font14">
                                <div class="carousel-heading-content">
                                    <div class="swiper-heading-left-grid inline-block">
                                        <h2>@Model.Make.MakeName showrooms in @Model.Location</h2>
                                    </div>
                                    <div class="swiper-heading-right-grid inline-block text-right">
                                        <a href="@string.Format("{0}/dealer-showrooms/{1}/{2}/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.Make.MaskingName, Model.LocationMasking)" title="@Model.Make.MakeName showrooms in @Model.Location" class="btn view-all-target-btn">View all</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/DealerShowroom/_DealerCard.cshtml", Model.Dealers)
                            </div>
                            }
                            else if (Model.IsDealerServiceDataInIndiaAvailable)
                            {
                            <div id="makeDealersContent" class="padding-top20 padding-bottom20 font14">
                                <h2 class="padding-left20 padding-right20">@Model.Make.MakeName showrooms</h2>
                                @Html.Partial("~/Views/DealerShowroom/_DealersServiceCentersInIndia.cshtml", Model.DealersServiceCenter)
                            </div>

                            }
                        <div id="overallMakeDetailsFooter"></div>
                    </div>
                    }
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

    }
</section>
