@model Bikewale.Models.ScootersMakePageVM
@using Bikewale.Utility;
@{
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_MakeScooter";
    Model.AdTags.AdId = "1517581118761";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/sass/scooters/listing.css' inline />";
    Model.Page_JS_Path = "/m/src/scooters-by-make.js";
}

<section id="makeTabsContentWrapper">
    <section>
        <div class="container content-box-shadow">
            <h1 class="padding-15-20 content-box-shadow">@Model.Make.MakeName Scooters</h1>
        </div>
        @Html.Partial("~/Views/Scooters/_Index_Tabs_Mobile.cshtml", Model)
        @if (Model.Description != null && Model.Description.FullDescription.Length > 0)
        {
            <div id="makeAboutContent" class="content-box-shadow bw-model-tabs-data padding-top15 padding-bottom15 margin-bottom20 active">
                <div class="padding-right20 padding-left20">
                    <div class="font14 text-light-grey collapsible-content">
                        <p class="main-content">@Html.Raw(FormatDescription.TruncateDescription(Model.Description.FullDescription, 200))</p>
                        <p class="more-content hide">@Html.Raw(Model.Description.FullDescription)</p>
                        @if (Model.Description.FullDescription.Length > 200)
                        {
                            <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>}

                    </div>
                </div>
            </div>
            <div class="margin-right20 margin-left20 border-solid-bottom"></div>
        }
        @if (Model.IsScooterDataAvailable)
        {
            <div id="bikeMakeList" class="content-box-shadow bw-model-tabs-data padding-top15 padding-bottom20 card-bottom-margin">
                <h2 class="text-bold padding-left20">@string.Format("{0} Scooters Prices in  India", Model.Make.MakeName)</h2>
                <ul class="bike-listing">
                    @foreach (var bikedetails in Model.Scooters)
                    {
                        <li class="list-item">
                            <a href="@string.Format("/m{0}", Bikewale.Utility.UrlFormatter.BikePageUrl(bikedetails.objMake.MaskingName, bikedetails.objModel.MaskingName))" title="@bikedetails.BikeName" class="block">
                                <div class="item-image-content">
                                    <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bikedetails.OriginalImagePath, bikedetails.HostURL, Bikewale.Utility.ImageSize._310x174)" alt="@bikedetails.BikeName" src="" />
                                </div>
                                <h2 class="margin-bottom10">@bikedetails.BikeName</h2>
                                @if (bikedetails.Specs != null)
                                {<div class="font14 text-x-light margin-bottom10">
                                        @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecs(Convert.ToString(bikedetails.Specs.Displacement), Convert.ToString(bikedetails.Specs.FuelEfficiencyOverall), Convert.ToString(bikedetails.Specs.MaxPower), Convert.ToString(bikedetails.Specs.KerbWeight)))
                                    </div>
                                }
                                <p class="key-size-14 margin-bottom5">Ex-showroom price, @Bikewale.Utility.BWConfiguration.Instance.DefaultName</p>
                                @Html.Raw("<span class='value-size-18'> &#x20B9;</span>")
                                &nbsp;<span class="value-size-18">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(bikedetails.VersionPrice))</span>
                                <span class="value-size-14"> onwards</span>
                            </a>
                            <div class="margin-top15">
                                <a href="javascript:void(0)" data-pagecatid="@ViewBag.PageCatId" data-makename="@bikedetails.objMake.MakeName" data-modelname="@bikedetails.objModel.ModelName" data-pqsourceid="@Convert.ToUInt32(Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_Scooters_Landing_Check_on_road_price)" data-modelid="@bikedetails.objModel.ModelId" class="btn btn-white btn-180-32 getquotation" rel="nofollow">Check on-road price</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }

    </section>
    @if (Model.AdTags.Ad_300x250BTF)
    {
        <div class="margin-bottom20 text-center">
        @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml",Model.AdTags);}
        </div>
    }
    @if (Model.IsCompareDataAvailable)
    {
        <section id="popularComparisions" class="bw-model-tabs-data">
            <div class="container content-box-shadow padding-top15 card-bottom-margin padding-bottom15">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Popular Comparison of @Model.Make.MakeName Scooters</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="/m/comparebikes/" title="View more comparisons" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/CompareBikes/_SimilarComparisons_Mobile.cshtml", Model.SimilarCompareScooters)
            </div>
            @if (Model.OtherBrands != null)
            {
                <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>Scooters of Other Brands</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            <a href="/m/scooters/" title="Scooters in India" class="btn view-all-target-btn">View all</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/views/m/shared/_otherbrands.cshtml", Model.OtherBrands)
                </div>
            }
        </section>
    }
    @if (Model.IsUpComingBikesAvailable)
    {

        <section id="upcomingBikeList" class="bw-model-tabs-data">
            <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
                <h2 class="padding-right20 padding-bottom15 padding-left20">Upcoming Scooters</h2>
                @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Mobile.cshtml", Model.UpcomingScooters)
            </div>
        </section>
    }

    @if (Model.IsMakeTabsDataAvailable)
    {
        <section class="container content-box-shadow card-bottom-margin">
            @if (Model.IsNewsAvailable)
            {
                <div id="modelNewsContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14">
                    <h2 class="text-bold">News about @Model.Make.MakeName Scooters</h2>
                    @Html.Partial("~/Views/News/_RecentNews_Mobile.cshtml", Model.News)
                    <div class="view-all-btn-container">
                        <a href="@string.Format("/m{0}",Model.ScooterNewsUrl)" title="@(!string.IsNullOrEmpty(Model.News.ModelMasking) ? string.Format("{0} {1} News", Model.News.MakeName, Model.News.ModelName):!string.IsNullOrEmpty(Model.News.MakeMasking) ? string.Format("{0} News",Model.News.MakeName):"Scooters News")" class="btn view-all-target-btn">Read all news<span class="bwmsprite teal-right"></span></a>
                    </div>
                </div>


            }
            @if (Model.IsExpertReviewsAvailable)
            {
                <div id="makeReviewsContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14">
                    <h2 class="text-bold">Reviews about @Model.Make.MakeName Scooters</h2>
                    <h3 class="model-section-subtitle">Expert Reviews</h3>
                    @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews_Mobile.cshtml", Model.ExpertReviews)
                    <div class="view-all-btn-container">
                        <a title="@Model.ExpertReviews.LinkTitle" href="@string.Format("/m{0}",Model.ExpertReviews.MoreExpertReviewUrl)" class="btn view-all-target-btn">Read all reviews<span class="bwmsprite teal-right"></span></a>
                    </div>
                </div>
            }
            @if (Model.IsVideosAvailable)
            {
                <div id="makeVideosContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14">
                    <h2 class="text-bold">Videos of @Model.Make.MakeName Scooters</h2>
                    @Html.Partial("~/Views/Videos/_RecentVideos_Mobile.cshtml", Model.Videos)
                </div>
            }
            @if (Model.IsDealerServiceDataAvailable || Model.IsDealerServiceDataInIndiaAvailable)
            {
                <div id="dealerAndServiceContent" class="bw-model-tabs-data">
                    @if (Model.IsDealerAvailable)
                    {
                        <div class="padding-bottom20 padding-top15 font14">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>@Model.Make.MakeName showrooms in @Model.Location</h2>
                                </div>
                                <div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="@string.Format("{0}/m/dealer-showrooms/{1}/{2}/",Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.Make.MaskingName, Model.LocationMasking)" title="@Model.Make.MakeName Showrooms in @Model.Location" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.Partial("~/Views/DealerShowroom/_DealerCard_Mobile.cshtml", Model.Dealers)
                        </div>
                        <div class="border-solid-bottom"></div>
                    }
                    else if (Model.IsDealerServiceDataInIndiaAvailable)
                    {
                        <div class="padding-bottom20 padding-top15 font14">
                            <h2 class="padding-right20 padding-left20">@Model.Make.MakeName showrooms</h2>
                            @Html.Partial("~/Views/DealerShowroom/_DealersServiceCentersInIndia_Mobile.cshtml", Model.DealersServiceCenter)
                        </div>
                    }
                </div>
            }
            <div id="makeSpecsFooter"></div>
        </section>
    }
</section>