@model Bikewale.Models.ScootersIndexPageVM
@{
    Model.AdTags.AdPath = "1017752/BikeWale_NewBikesHome_";
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.Ad_976x400First = true;
    Model.AdTags.Ad_976x400Second = true;
    Model.IsTransparentHeader = true;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/scooters/landing.css' inline />";
    Model.Page_JS_Path = "/src/scooters.js";
    Model.IsPageTypeLanding = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="scooters-banner">
    <div class="container">
        <div class="welcome-box margin-top85">
            <h1 class="font30 text-uppercase margin-bottom30">Scooters in India</h1>
            <h2 class="font20 text-unbold text-white margin-bottom50">All scooters under one roof</h2>
        </div>
    </div>
</header>

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="bw-tabs-panel brand-budget-mileage-style-wrapper content-box-shadow negative-50">
                <div class="bw-tabs bw-tabs-flex">
                    <ul class="brand-budget-mileage-style-UL">
                        <li class="active" data-tabs="discoverBrand">
                            <h3>Brand</h3>
                        </li>
                        <li data-tabs="discoverBudget">
                            <h3>Budget</h3>
                        </li>
                        <li data-tabs="discoverDisplacement">
                            <h3>Displacement</h3>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                @{ Html.RenderPartial("~/views/make/_Brands.cshtml", Model.Brands); }
                <div id="discoverBudget" class="bw-tabs-data padding-bottom15 hide">
                    <ul class="elevated-card-list">
                        <li>
                            <a href="/new/bike-search/bikes-under-50000/#ridestyle=5">
                                <div class="table-middle">
                                    <div class="tab-icon-container">
                                        <span class="bwsprite budget-one"></span>
                                    </div>
                                    <span class="key-size-14">Upto</span><br />
                                    @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">50,000</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/new/bike-search/bikes-between-50000-and-70000/#ridestyle=5">
                                <div class="table-middle">
                                    <div class="tab-icon-container">
                                        <span class="bwsprite budget-two"></span>
                                    </div>
                                    <span class="key-size-14">Between</span><br />
                                    @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">50,000 -</span>
                                    &nbsp;@Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">70,000</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/new/bike-search/bikes-above-70000/#ridestyle=5">
                                <div class="table-middle">
                                    <div class="tab-icon-container">
                                        <span class="bwsprite budget-three"></span>
                                    </div>
                                    <span class="key-size-14">Above</span><br />
                                    @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">70,000</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="discoverDisplacement" class="bw-tabs-data padding-bottom15 hide">
                    <ul class="elevated-card-list">
                        <li>
                            <a href="/new/bike-search/#ridestyle=5&displacement=1" rel="nofollow">
                                <div class="table-middle">
                                    <div class="tab-icon-container">
                                        <span class="bwsprite engine-lg engine-sm"></span>
                                    </div>
                                    <span class="key-size-14">Upto</span><br />
                                    <span class="value-size-16">110 cc</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/new/bike-search/#ridestyle=5&displacement=7" rel="nofollow">
                                <div class="table-middle">
                                    <div class="tab-icon-container">
                                        <span class="bwsprite engine-lg engine-md"></span>
                                    </div>
                                    <span class="key-size-14">Between</span><br />
                                    <span class="value-size-16">110 - 125 cc</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/new/bike-search/#ridestyle=5&displacement=8+3+4+5+6" rel="nofollow">
                                <div class="table-middle">
                                    <div class="tab-icon-container">
                                        <span class="bwsprite engine-lg"></span>
                                    </div>
                                    <span class="key-size-14">Above</span><br />
                                    <span class="value-size-16">125 cc</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
@if (Model.AdTags.Ad_976x400First)
{
    <section>
        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad976x400_First.cshtml", new { AdId = Model.AdTags.AdId });}
    </section>
}



<section>
    <div class="container section-bottom-margin">
        <h2 class="section-heading">Featured scooters</h2>
        <div class="grid-12">
            <div class="bw-tabs-panel newbike-discover-bike-container content-box-shadow">
                <div class="bw-tabs bw-tabs-flex">
                    <ul>
                        @if (Model.HasPopularBikes)
                        {
                            <li class="active" data-tabs="ctrlMostPopularBikes">
                                <h3>Most Popular</h3>
                            </li>
                        }
                        @if (Model.HasNewLaunches)
                        {
                            <li data-tabs="ctrlNewLaunchedBikes">
                                <h3>New launches</h3>
                            </li>
                        }
                        @if (Model.HasUpcoming)
                        {
                            <li data-tabs="ctrlUpcomingBikes">
                                <h3>Upcoming</h3>
                            </li>
                        }
                    </ul>
                </div>
                @if (Model.HasPopularBikes)
                {
                    <div id="ctrlMostPopularBikes" class="bw-tabs-data">
                        @Html.Partial("~/Views/BikeModels/_MostPopularBikes.cshtml", Model.PopularBikes)
                        <div class="view-all-btn-container padding-top15 padding-bottom20">
                            <a href="/best-scooters-in-india/" class="btn view-all-target-btn" title="Popular Scooters in India">View all scooters<span class="bwsprite teal-right"></span></a>
                        </div>
                    </div>
                }
                @if (Model.HasNewLaunches)
                {
                    <div class="bw-tabs-data hide padding-top15 padding-bottom20" id="ctrlNewLaunchedBikes">
                        @Html.Partial("~/Views/Newlaunches/_newLaunches.cshtml", Model.NewLaunches)
                    </div>
                }
                @if (Model.HasUpcoming)
                {
                    <div class="bw-tabs-data hide padding-top15 padding-bottom20" id="ctrlUpcomingBikes">
                        @Html.Partial("~/Views/Upcoming/_UpcomingBikes.cshtml", Model.Upcoming)
                    </div>
                }
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="electric-fullwidth-widget__content">
                <div class="electric-widget__background"></div>
                <div class="position--relative">
                    <div class="electric-scooter-icon"></div>
                    <div class="electric-fullwidth-widget__details">
                        <div class="electric-widget__left-col">
                            <p class="electric-widget__title">Go Green, Go Electric.</p>
                            <p class="electric-widget__subtitle">Research about a range of electric bikes and scooters in India.</p>
                        </div>
                        <div class="electric-widget__right-col">
                            <a href="/electric-bikes/" title="Electric Bikes" class="btn btn-white btn-explore-scooters">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
@if (Model.HasComparison)
{
    <section>
        <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Compare Scooters</h2>

        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow padding-top15">
                    @Html.Partial("~/Views/CompareBikes/_SimilarComparisons.cshtml", Model.ComparePopularScooters)
                    <div class="more-article-target view-all-btn-container padding-bottom20">
                        <a href="/comparebikes/" title="View more comparisons" class="btn view-all-target-btn">View more comparisons<span class="bwsprite teal-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </section>
}

@if (Model.AdTags.Ad_976x400Second)
{
    <section>
        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad976x400_Second.cshtml", new { AdId = Model.AdTags.AdId });}
    </section>
}
@if (Model.TabCount > 0) { 
<section>
    <div class="container">
        <div class="grid-12">
            <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Latest scooter updates</h2>
            <div class="bw-tabs-panel margin-bottom30 padding-bottom20 content-box-shadow article-control">
                <div class="@string.Format("text-center {0}", Model.TabCount > 2 ? string.Empty : Model.TabCount > 1 ? "margin-top30 margin-bottom30" : "margin-top10")">
                    <div id="reviewCount" class="@string.Format("bw-tabs text-center {0}", Model.TabCount > 2 ? "bw-tabs-flex" : Model.TabCount > 1 ? "home-tabs" : "hide")">
                        <ul>
                            @if (Model.News.FetchedCount > 0)
                            {
                                <li class="@string.Format("{0}", Model.IsNewsActive ? "active" : "hide")" data-tabs="ctrlNews">
                                    <h3>News</h3>
                                </li>
                            }
                            @if (Model.ExpertReviews.FetchedCount > 0)
                            {
                                <li class="@string.Format("{0}", Model.IsExpertReviewActive ? "active" : "hide")" data-tabs="ctrlExpertReviews">
                                    <h3>Expert Reviews</h3>
                                </li>
                            }
                            @if (Model.Videos.FetchedCount > 0)
                            {
                                <li class="@string.Format("{0}", Model.IsVideoActive ? "active" : "hide")" data-tabs="ctrlVideos">
                                    <h3>Videos</h3>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="bw-tabs-data padding-left10 padding-right10" id="ctrlNews">
                    @if (Model.News.FetchedCount > 0)
                    {
                        @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)
                    }
                   
                     <div class="more-article-target view-all-btn-container">
                        <a href="/scooters/news/" title="Scooter News" class="btn view-all-target-btn">Read all news<span class="bwsprite teal-right"></span></a>
                    </div>

                </div>
                <div class="bw-tabs-data hide padding-left10 padding-right10" id="ctrlExpertReviews">
                    @if (Model.ExpertReviews.FetchedCount > 0)
                    {
                        @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)
                        <div class="padding-left10 more-article-target view-all-btn-container">
                            <a title="@Model.ExpertReviews.LinkTitle" href="@Model.ExpertReviews.MoreExpertReviewUrl" class="btn view-all-target-btn">Read all reviews<span class="bwsprite teal-right"></span></a>
                        </div>
                    }
                </div>
                <div class="bw-tabs-data hide padding-left10 padding-right10" id="ctrlVideos">
                    @if (Model.Videos.FetchedCount > 0)
                    {
                        @Html.Partial("~/Views/Videos/_RecentVideos.cshtml", Model.Videos)
                    }
                    <div class="padding-left10 more-article-target view-all-btn-container">
                        <a title="Scooter Videos" href="/scooters/videos/" class="btn view-all-target-btn">View all videos<span class="bwsprite teal-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
}
