@using Bikewale.Utility;
@{
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/videos/videos-by-make.css' />";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    ViewBag.staticUrl = Bikewale.Utility.BWConfiguration.Instance.StaticUrl;
    ViewBag.staticFileVersion = Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion;
    IEnumerable<Bikewale.Entities.BikeData.MostPopularBikesBase> objPopular = ViewBag.PopularBikes;
}
@model IEnumerable<Bikewale.Entities.Videos.BikeVideoModelEntity>
@if (Model != null && Model.Count() > 0)
{
    <section>
        <div class="container bg-white box-shadow margin-bottom10">
            <h1 class="padding-15-20 box-shadow">@Model.FirstOrDefault().objMake.MakeName Videos</h1>
            <ul class="bike-listing">
                @foreach (var bike in Model)
                {
                    string bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.ModelName);
                    <li class="list-item">
                        <a href="@string.Format("/m{0}",UrlFormatter.FormatVideoPageUrl(bike.objMake.MaskingName, bike.MaskingName))" title="@bikeName" class="block">
                            <div class="item-image-content">
                                <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._310x174)" alt="@bikeName" src="" />
                                <span class="black-overlay"></span>
                            </div>
                            <h2 class="margin-bottom5">@bikeName</h2>
                            <p class="font14 text-light-grey">@bike.VideoCount Videos</p>
                        </a>
                    </li>
                }
                @*<li class="list-item">
                        <a href="" title="Hyosung ST-E3 EVA" class="block">
                            <div class="item-image-content">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/models/hyosung-ste3eva.jpg?20151709001424" alt="Hyosung ST-E3 EVA" src="" />
                                <span class="black-overlay"></span>
                            </div>
                            <h2 class="margin-bottom5">Hyosung ST-E3 EVA</h2>
                            <p class="font14 text-light-grey">4 videos</p>
                        </a>
                    </li>

                    <li class="list-item">
                        <a href="" title="Hyosung ST-E3 EVA" class="block">
                            <div class="item-image-content">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/models/hyosung-ste3eva.jpg?20151709001424" alt="Hyosung ST-E3 EVA" src="" />
                                <span class="black-overlay"></span>
                            </div>
                            <h2 class="margin-bottom5">Hyosung ST-E3 EVA</h2>
                            <p class="font14 text-light-grey">4 videos</p>
                        </a>
                    </li>*@
            </ul>
        </div>
    </section>

}

@if (objPopular != null && objPopular.Count() > 0) { 
    <section>
        <div class="container bg-white box-shadow padding-top15 padding-bottom15 margin-bottom10">
            <h2 class="padding-right20 padding-bottom15 padding-left20">Explore Popular  Bikes</h2>
            <div class="swiper-container card-container">
                @Html.Partial("~/Views/m/Shared/_PopularBikes.cshtml", objPopular)
                </div>
            </div>
        </section>
}

                <script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>
