@using Bikewale.Utility;
@{
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/videos/videos-by-make.css' />";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    ViewBag.staticUrl = Bikewale.Utility.BWConfiguration.Instance.StaticUrl;
    ViewBag.staticFileVersion = Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion;
}
@model IEnumerable<Bikewale.Entities.Videos.BikeVideoModelEntity>
@if (Model != null && Model.Count() > 0)
{
    <section>
        <div class="container bg-white box-shadow margin-bottom10">
            <h1 class="padding-15-20 box-shadow">@ViewBag.MakeName Videos</h1>
            <ul class="bike-listing">
                @foreach (var bike in Model)
                {
                    string bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.ModelName);
                    <li class="list-item">
                        <a href="@string.Format("/m{0}",UrlFormatter.FormatVideoPageUrl(bike.objMake.MaskingName, bike.MaskingName))" title="@string.Format("{0} Videos",bikeName)" class="block">
                            <div class="item-image-content">
                                <img class="lazy" data-original="@Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._310x174)" alt="@bikeName" src="" />
                                <span class="black-overlay">
                                    <span class="bwmsprite video-play-lg"></span>
                                </span>
                            </div>
                            <h2 class="margin-bottom5">@bikeName</h2>
                            <p class="font14 text-light-grey">@bike.VideoCount Video@(bike.VideoCount > 1 ? "s" : "")</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>

}

@{Html.RenderAction("PopularBikesMobile", "PopularBikes", new { topCount = @ViewBag.TopCount,makeId=@ViewBag.MakeId,cityId=@ViewBag.CityId });}

<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>
