@model Bikewale.Models.Finance.CapitalFirstVM
@{
    ViewBag.Title = "CapitalFirst_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/finance/capital-first.css' />";
    Model.Page_BTF_CSS_Path = "/css/zebra-datepicker.css";
    Model.Page_JS_Path = "/src/finance/capital-first.js";
    Model.PageMetaTags.Title = "Get Instant Two Wheeler Loan Approval";
    Model.PageMetaTags.Description = "Owning a bike was never this easy. Apply for a bike loan and get instant online approval for a two wheeler loan. Apply Now!";
}

<section class="margin-bottom20 capital-first-desktop margin-top20">
    <div class="container">
        <div class="grid-12">
            <h2 class="heading-title">Get Instant Loan Approval</h2>
            <div class="content-box-shadow padding-bottom5">
                <div class="font14 padding-15-20 text-slate-grey padding-bottom5 collapsible-content">
                    <p class="main-content">Get upto 80% of vehicle’s value as loan! Fill in your personal and employment details and get an instant loan approval from one of our finance partners.</p>
                </div>               
                <div class="page-tabs-data">
                    <div class="contact-detail-tab">
                        <div>
                            <h3 class="personal__title">Contact details</h3>
                        </div>
                        <div id="contact-detail-tab" class="contact-details__form">
                                <div class="input-box form-control-box ">
                                    <input id="cfFName" type="text" min="1" maxlength="255" autocomplete="off">
                                    <label for="cfFName">First Name<sup>*</sup></label>
                                    <span class="boundary"></span>
                                    <span class="error-text"></span>
                                </div>
                                <div class="input-box form-control-box">
                                    <input id="cfLName" type="text" min="1" autocomplete="off">
                                    <label for="cfLName">Last Name<sup>*</sup></label>
                                    <span class="boundary"></span>
                                    <span class="error-text"></span>
                                </div>
                                <div class="input-box input-number-box form-control-box">
                                    <input id="cfNum" type="tel" maxlength="10" autocomplete="off">
                                    <label for="cfNum">Mobile Number<sup>*</sup></label>
                                    <span class="input-number-prefix">+91</span>
                                    <span class="boundary"></span>
                                    <span class="error-text"></span>
                                    <span class="text-note">OTP will be sent for verification</span>
                                </div>
                                <div class="input-box form-control-box">
                                    <input id="cfEmail" type="text" min="1" autocomplete="off">
                                    <label for="cfEmail">Email Id<sup>*</sup></label>
                                    <span class="boundary"></span>
                                    <span class="error-text"></span>
                                </div>
                                <div class="input-box form-control-box">
                                    <input id="cfPincode" type="tel" min="1"  maxlength="6" autocomplete="off">
                                    <label for="cfPincode">Pincode<sup>*</sup></label>
                                    <span class="boundary"></span>
                                    <span class="error-text"></span>


                                    <ul id="errPinCodeSearch" class="ui-autocomplete ui-front ui-menu ui-widget hide no-suggestion-item">
                                        <li class="ui-menu-item" tabindex="-1">
                                            <span class="text-bold">Oops! No suggestions found</span><br>
                                            <span class="text-light-grey font12">Search by pincode or area e.g: 400708 or airoli</span>
                                        </li>
                                    </ul>
                                </div>

                           @if (Model.PanStatus)
                           {
                            <div class="input-box form-control-box" id="cdPanBox">
                                <input id="cfPan" type="text" min="1" minlength="10" maxlength="10" autocomplete="off">
                                <label for="cfPan">Pan Number<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                                <span class="text-note">Credit score check will be conducted based on PAN</span>
                            </div>
                           }
                          <input type="button" id="contact-detail-submit" class="btn btn-orange btn-primary-big bw-ga margin-top20 block" value="Submit">
                            </div>
                       
                    </div>
                   
                </div>
            </div>           
        </div> 
        <div class="clear"></div>            
    </div>
</section>
<section class="margin-top15"> 
    <div class="container">
        <div class="grid-12 how-works-container">
            <div class="content-box-shadow">
                <h2 class="content-inner-block-20 font18">How It Works</h2>
                <ul>
                    <li class="how-works-container__li">
                        <span class="how-works__image-unit loan-form-icon round-border"></span>
                        <div class="how-works__content">
                            <h3 class="margin-bottom10 margin-top20">Apply online</h3>
                            <p>Just fill in personal and employment details online</p>
                        </div>
                    </li>
                    <li class="how-works-container__li">
                        <span class="how-works__image-unit loan-approval-icon round-border"></span>
                        <div class="how-works__content">
                            <h3 class="margin-bottom10 margin-top20">Get instant loan approval</h3>
                            <p>You will get an instant loan voucher based on your eligibility</p>
                        </div>
                    </li>
                    <li class="how-works-container__li">
                        <span class="how-works__image-unit loan-contact-icon round-border"></span>
                        <div class="how-works__content">
                            <h3 class="margin-bottom10 margin-top20">Submit documents</h3>
                            <p>Contact our finance partner to submit documents and process your loan</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div> 
    </div>
</section>
<section class="margin-top15 margin-bottom20">
    <div class="container">
        <div class="grid-12">
            <div class="content-box-shadow terms-condition-container padding-bottom15 collapsible-content">
                <h2 class="content-inner-block-20 font18">Terms & Conditions</h2>
                <ol class="terms-condition__content main-content">
                    <li>Sanction for a higher loan amount shall be subject to documents furnished by you and the same meeting Capital First Norms.</li>
                    <li>Funding amount and tenure will vary from vehicle to vehicle.</li>
                    <li>The information/particulars provided/to be provided by the Customer/Borrower to Capital First are information pertaining to the Customer/ Borrower only and not of any third party.</li>
                    <li>That all the particulars filled in the application form by the Customer/Borrower are true, correct, complete and up to date in all respects and the Customer/Borrower has not withheld any information which is material.</li>
                    <li>That the Customer will promptly advise Capital First in writing of any change in the Customer's/Borrower's Residential or Employment address or any other details provided in the Loan application.</li>
                </ol>
                <ol class="terms-condition__content more-content" start="6">
                    <li>That the Customer/Borrower will use the loan amount availed from Capital First only for the stated purpose and will not use the same for any speculative or antisocial purpose.</li>
                    <li>That the Customer/Borrower has not availed any loan from any other bank/finance company other than those specifically declared/ to be declared by the Customer.</li>
                    <li>That the Customer/Borrower is a citizen of India.</li>
                    <li>That the Customer/Borrower has authorized Capital First to make any enquiries regarding the Customer's/Borrower's application to any third person for Loan availed/to be availed from Capital First Limited.</li>
                    <li>That the Customer/Borrower has understood/agreed/ consented that Capital First shall have absolute right to reject the Customer's/Borrower's application or reduce/restrict/revise/discontinue the loan without assigning any reason thereof.</li>
                    <li>That the Customer/Borrower has authorized Capital First to make any enquiries with any other finance company/bank/registered credit information company regarding the Customer's/Borrower's credit history with them & also authorize Capital First to provide details of the Customer's/Borrower's credit history to any other bank/finance company/registered credit bureau.</li>
                    <li>That the Customer/Borrower has received, read& understood the terms and conditions applicable to the Customer/Borrower for the loan availed from Capital First and unconditionally accepts the same. The Customer/Borrower agrees that these terms & conditions can be changed by Capital First at any time without any notice to the Customer/Borrower and the Customer/Borrower will be bound by the amended terms & conditions.</li>
                    <li>That the Customer/Borrower has agreed/consented that Capital First reserves the right to retain the photographs and documents submitted by the Customer/Borrower with the Loan application and will not return the same to the Customer/Borrower.</li>
                    <li>That the Customer/Borrower has agreed/consented to know through telephonic calls/SMSs on Customer's/Borrower's mobile number mentioned in the application form by the Customer/Borrower or through any other communication mode, various loan schemes, promotional offers of Capital First and the Customer/Borrower authorizes Capital First, its employees or its agents to act accordingly.</li>
                    <li>That the Customer/Borrower agrees/consents that the laws in relations to the unsolicited communications referred in 'National Do Not Call Registry' as laid down by Telecom Regulatory Development Authority shall not be applicable to such communications/ telephonic calls/SMSs received from Capital First, its employees or its agents.</li>
                 </ol>
                <span class="terms__read-more-tab read-more-target padding-left25 margin-top10">Read more</span> 
            </div>
        </div>
        <div class="clear"></div>
    </div>     
</section>
<input type="hidden" id="objLead" value="@(Model.objLeadJson)"/>
<input type="hidden" id="hdnBikeName" value="@(Model.BikeName)" />
<input type="hidden" id="leadId" value="" />
<input type="hidden" id="ctLeadId" value="" />
<input type="hidden" id="cpId" value="" />
<input type="hidden" id="pageUrl" value="@Model.PageUrl" />
<input type="hidden" id="hdnPlatform" value="@((ushort)Model.PlatformId)" />
<input type="hidden" id="loanAmount" value="@Model.LoanAmount"/>

@Html.Partial("~/Views/Shared/_otpScreen.cshtml")
<div class="otp-black-window"></div>

<div id="modalPopUp" class="modal-box"></div>
<div id="modalBg"></div>

<div id="screenLoader" class="section-spinner spinner-box--fixed">
	<div class="spinner-box spinner-box--fixed">
		<svg class="bw-spinner" width="50px" height="50px" viewBox="0 0 50 50">
			<circle class="circle-path" fill="none" stroke-width="4" stroke-linecap="round" cx="25" cy="25" r="22"></circle>
		</svg>
	</div>
</div>

