@model IEnumerable<Bikewale.Entities.ServiceCenters.BrandServiceCenters>

@if(@Model != null)
{
<ul>
    @foreach (var centers in @Model)
    {
        <li>
            <a href="@Bikewale.Utility.UrlFormatter.GetServiceCenterUrl(@centers.MaskingName)" title="@String.Format("{0} service centers in india", @centers.MakeName)" class="jcarousel-card">
                <div class="brand-logo-image">
                    <span class="brand-type">
                        <span class="brandlogosprite brand-@centers.MakeId"></span>
                    </span>
                </div>
                <div class="card-desc-block">
                    <p class="card-heading font14 text-bold text-black padding-top10 border-solid-top">@centers.MakeName</p>
                    <h3 class="text-unbold text-light-grey">@String.Format("{0} {1}", @centers.ServiceCenterCount, @centers.MakeName) service center@((centers.ServiceCenterCount > 1) ? "s" : "")</h3>
                </div>
            </a>
        </li>
    }
</ul>
}
