@using Carwale.Utility;

<div class="trackday-carousel">
    <section class="full-width-carousel banner">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li>
                        <picture>
                            <source srcset="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_1_m.jpg" media="(max-width: 768px)">
                            <img src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cw-trackday/landing-images/trackday-carousel-wallpaper/d/trackday_wallpaper_1_d.jpg" alt="Trackday" title="Trackday">
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source srcset="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_2_m.jpg" media="(max-width: 768px)">
                            <img src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cw-trackday/landing-images/trackday-carousel-wallpaper/d/trackday_wallpaper_2_d.jpg" alt="Trackday" title="Trackday">
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source srcset="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_3_m.jpg" media="(max-width: 768px)">
                            <img src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cw-trackday/landing-images/trackday-carousel-wallpaper/d/trackday_wallpaper_3_d.jpg" alt="Trackday" title="Trackday">
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source srcset="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_4_m.jpg" media="(max-width: 768px)">
                            <img src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cw-trackday/landing-images/trackday-carousel-wallpaper/d/trackday_wallpaper_4_d.jpg" alt="Trackday" title="Trackday">
                        </picture>
                    </li>
                </ul>
            </div>
            <span class="jcarousel-control-left"><span class="cwsprite jcarousel-control-prev"></span></span>
            <span class="jcarousel-control-right"><span class="cwsprite jcarousel-control-next"></span></span>
        </div>
    </section>
    <div class="trackday-banner-title text-white">
        <h1 class="text-uppercase title">Track Day 2016</h1>
        <p class="font20 subtitle">Celebration of Motoring in its Finest &amp; Purest Form</p>
    </div>
</div>
<div data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="closeGallery_click" id="gallery-close-btn" class="cwsprite cross-lg-white"></div>
<div id="gallery-blackOut-window"></div>
<div class="container">
    <div class="grid-12">
        <h1 class="text-black text-uppercase text-center font22 margin-top30">Track day updates</h1>
        <div class="top-section margin-top20 bg-white text-center leftfloat btn-full-width">
               <div class="top-img-container leftfloat">
                   <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26201_click" href="/trackday2016/carwale-track-day-2016-an-introduction-26201/"><img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/top-section-img.jpg" alt="" title=""></a>
                </div> 
                <div class="top-section-content content-inner-block-10 text-left leftfloat">
                    <h2>
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26201_click" href="/trackday2016/carwale-track-day-2016-an-introduction-26201/" class="text-bold font16 text-black text-no-decoration">
                            CarWale Track day 2016: An Introduction
                        </a>
                    </h2>
                    <p class="padding-top10">Hello and welcome to the inaugural CarWale Track Day. To say it was challenging to pull this off would be a big understatement. The planning started over three months back. Shortlists were drawn, calls were made, cars were arranged, track was booked, and then as the D-day drew closer, things started to fall apart… </p>
                    <p class="padding-top15">
                        <strong class="padding-bottom5 block">The challenge…</strong>
                        First, there was demonetisation, which meant carmakers couldn’t truck their cars to the track for the lack of cash. Many dropped out . Then some incidents happened – chipped windscreens, shagged ...
                    </p>
                    <div class="margin-top20 padding-right10 text-left padding-bottom10">
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26201_click" href="/trackday2016/carwale-track-day-2016-an-introduction-26201/" class="btn btn-white btn-sm font14">Read More</a>
                        <span class="margin-left5">By Vikrant Singh</span>
                    </div>
                </div>
        </div>
        <div class="clear"></div>
        <ul class="article-box margin-top20 text-center">
            <li class="content-box-shadow">
                <div class="imageWrapper">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26200_click" href="/trackday2016/carwale-track-day-2016-lamborghini-huracan-26200/">
                        <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cw-trackday/landing-images/articles-item/lamborghini-huracan.jpg">
                    </a>
                </div>
                <div class="carDescWrapper text-left">
                    <div class="margin-bottom10 text-black">
                        <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26200_click" href="/trackday2016/carwale-track-day-2016-lamborghini-huracan-26200/" class="text-black">Lamborghini Huracan Spyder LP 610-4</a></h3>
                        <p>The Lamborghini Huracan Spyder was the celebrity guest at our inaugural Track Day.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26200_click" href="/trackday2016/carwale-track-day-2016-lamborghini-huracan-26200/" class="font13 text-bold">Read More</a></p>
                    </div>
                    <div class="font12 margin-top10 margin-bottom5 author-data">By Ameya Dandekar</div>
                </div>
            </li>
            <li class="content-box-shadow">
                <div class="imageWrapper">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26198_click" href="/trackday2016/carwale-track-day-2016-lap-time-leaderboard-26198/">
                        <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)310x174/cw/ec/26198/Exterior-86725.jpg?wm=1">
                    </a>
                </div>
                <div class="carDescWrapper  text-left">
                    <div class="margin-bottom10 text-black">
                        <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26198_click" href="/trackday2016/carwale-track-day-2016-lap-time-leaderboard-26198/" class="text-black">Lap Time Leaderboard</a></h3>
                        <p>Time for some fast cars, faster lap times, and the fastest we have seen them go! And the mix includes everything from affordable hatchbacks to.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26198_click" href="/trackday2016/carwale-track-day-2016-lap-time-leaderboard-26198/" class="font13 text-bold">Read More</a></p>
                    </div>
                    <div class="font12 margin-top10 margin-bottom5 author-data padding-bottom5">By Ninad Ambre</div>
                </div>
            </li>
            <li class="last-article-box content-box-shadow">
                <div class="imageWrapper">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26208_click" href="/trackday2016/carwale-track-day-2016-top-10-pictures-26208/">
                        <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)310x174/cw/es/trackday/2016/cw-trackday/landing-images/articles-item/top-ten-pictures.jpg">
                    </a>
                </div>
                <div class="carDescWrapper text-left">
                    <div class="margin-bottom10 text-black">
                        <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26208_click" href="/trackday2016/carwale-track-day-2016-top-10-pictures-26208/" class="text-black">Top 10 Pictures From CarWale Trackday 2016</a></h3>
                        <p>Track days are fun to drive fast cars and equally challenging for photographers to capture the right moments.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26208_click" href="/trackday2016/carwale-track-day-2016-top-10-pictures-26208/" class="font13 text-bold">Read More</a></p>
                    </div>
                    <div class="font12 margin-top10 margin-bottom5 author-data">CarWale Editorial</div>
                </div>
            </li>
            <li class="content-box-shadow">
                <div class="imageWrapper">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26196_click" href="/trackday2016/carwale-track-day-2016-volkswagen-gti-vs-mini-cooper-s-vs-fiat-595-abarth-26196/">
                        <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)310x174/cw/es/trackday/2016/cw-trackday/landing-images/articles-item/volkswagen-fiat.jpg">
                    </a>
                </div>
                <div class="carDescWrapper text-left">
                    <div class="margin-bottom10 text-black">
                        <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26196_click" href="/trackday2016/carwale-track-day-2016-volkswagen-gti-vs-mini-cooper-s-vs-fiat-595-abarth-26196/" class="text-black">Volkswagen GTI vs Mini Cooper S vs Fiat 595 Abarth</a></h3>
                        <p>These might seem pricey, indulgent, and a little unnecessary, but when it comes to putting a smile.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26196_click" href="/trackday2016/carwale-track-day-2016-volkswagen-gti-vs-mini-cooper-s-vs-fiat-595-abarth-26196/" class="font13 text-bold">Read More</a></p>
                    </div>
                    <div class="font12 margin-top10 margin-bottom5 author-data">By Santosh Nair</div>
                </div>
            </li>
            <li class="content-box-shadow">
                <div class="imageWrapper">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26195_click" href="/trackday2016/carwale-track-day-2016-bmw-320d-vs-mercedesbenz-c250d-26195/">
                        <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)310x174/cw/es/trackday/2016/cw-trackday/landing-images/articles-item/bmw-mercedes.jpg">
                    </a>
                </div>
                <div class="carDescWrapper text-left">
                    <div class="margin-bottom10 text-black">
                        <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26195_click" href="/trackday2016/carwale-track-day-2016-bmw-320d-vs-mercedesbenz-c250d-26195/" class="text-black">BMW 320d vs Mercedes-Benz C250d</a></h3>
                        <p>The day is gloomy for what we have lined up. It’s been drizzling all day and the track surface.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26195_click" href="/trackday2016/carwale-track-day-2016-bmw-320d-vs-mercedesbenz-c250d-26195/" class="font13 text-bold">Read More</a></p>
                    </div>
                    <div class="font12 margin-top10 margin-bottom5 author-data">Sagar Bhanushali</div>
                </div>
            </li>
            <li class="last-article-box content-box-shadow">
                <div class="imageWrapper">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26194_click" href="/trackday2016/carwale-track-day-ford-figo-tdci-vs-fiat-punto-abarth-26194/">
                        <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)310x174/cw/es/trackday/2016/cw-trackday/landing-images/articles-item/ford-fiat.jpg">
                    </a>
                </div>
                <div class="carDescWrapper text-left">
                    <div class="margin-bottom10 text-black">
                        <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26194_click" href="/trackday2016/carwale-track-day-ford-figo-tdci-vs-fiat-punto-abarth-26194/" class="text-black">Ford Figo TDCi Vs Fiat Punto Abarth</a></h3>
                        <p>We as Indians have this special place that brightens up when we hear terms like ‘within budget’.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="26194_click" href="/trackday2016/carwale-track-day-ford-figo-tdci-vs-fiat-punto-abarth-26194/" class="font13 text-bold">Read More</a></p>
                    </div>
                    <div class="font12 margin-top10 margin-bottom5 author-data">By Venkat Desirazu</div>
                </div>
            </li>
            </ul>
        <div class="clear"></div>
        <div class="trackday-main-video text-center">
            <h2 class="text-bold text-uppercase padding-bottom20 margin-top20 font22">Video</h2>
            <iframe height="500" src="https://www.youtube.com/embed/pl2GbwXsEaM?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="trackday-driver-profile text-center margin-top10">
            <h2 class="text-bold text-uppercase padding-bottom20 margin-top30 font22">Race Driver Profile</h2>
            <div class="driver-profile-content bg-white content-box-shadow">
                <div class="driver-img">
                    <img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/aditya-profile.jpg" alt="" title="">
                </div>
                    <div class="driver-profile-info">
                        <div class="text-center">
                            <span class="text-black font16 text-bold block">Aditya Patel</span>
                            <span class="text-gray font14 block padding-top5">- Indian Racing Driver</span>
                        </div>
                        <div class="padding-top10">
                            <span class="block"><img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/inverted-start-comma.jpg" /></span>
                            <div class="text-black font14 text-bold">
                                <p class="padding-top5">For the inaugural CarWale Track Day, we needed someone who lives, breathes and devours racetracks. We needed someone who can push the cars to their limit, consistently, lap after lap. We needed Aditya Patel.</p>
                                <p class="padding-top5 padding-bottom10">Aditya Patel, who currently drives in the Audi R8 LMS cup with numerous podiums and race wins under his belt, is easily the most approachable and sensible pro driver we have met. In the past, he has also competed and won in racing series including Volkswagen Scirocco R-Cup, Polo Cup, Formula BMW Pacific and the coveted 24 hours of Nurburgring in 2012.</p>
                            </div>
                            <span class="block"><img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/inverted-end-comma.jpg"></span>
                        </div>
                    </div>
                </div>
        </div>

        <div id="trackdayGallery" class="trackday-gallery margin-top30 text-center">
            <h2 class="text-bold text-uppercase margin-bottom20 font22">Gallery</h2>
            <div class="content-box-shadow trackday-gallery-section">
                <div class="connected-carousels-photos">
                    <div class="stage-photos stage-media">
                        <div class="carousel carousel-stage carousel-stage-media">
                            <ul>
                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/01.jpg?wm=1" alt="Action" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/02.jpg?wm=1" alt="Action" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/03.jpg?wm=1" alt="Cornering" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/04.jpg?wm=1" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/05.jpg?wm=1" alt="Rear-threequarter" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/06.jpg?wm=1" alt="Side" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/07.jpg?wm=1" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/08.jpg?wm=1" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/09.jpg?wm=1" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)1280x720/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/10.jpg?wm=1" alt="Tank" src="" />
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="left_click" href="#" class="prev photos-prev-stage cwsprite media-prev-next-stage" rel="nofollow"></a>
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="right_click" href="#" class="next photos-next-stage cwsprite media-prev-next-stage" rel="nofollow"></a>
                    </div>

                    <div class="navigation navigation-media">
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="left_click" href="#" class="prev photos-prev-navigation cwsprite media-prev-next-nav" rel="nofollow"></a>
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="right_click" href="#" class="next photos-next-navigation cwsprite media-prev-next-nav" rel="nofollow"></a>
                        <div class="carousel carousel-navigation carousel-navigation-media">
                            <ul>
                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/01.jpg" alt="Action" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/02.jpg" alt="Action" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/03.jpg" alt="Cornering" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/04.jpg" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/05.jpg" alt="Rear-threequarter" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/06.jpg" alt="Side" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/07.jpg" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/08.jpg" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/09.jpg" alt="Exterior" src="" />
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <div class="gallery-photo-nav-img-container">
                                        <span>
                                            <img class="lazy" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)110x61/cw/es/trackday/2016/cw-trackday/landing-images/landing-page-gallery/10.jpg" alt="Tank" src="" />
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="trackday-ask-expert text-center margin-top30">
              <h2 class="text-bold text-uppercase padding-bottom20 font22">Our Take on the Track Day</h2>
            <div class="content-box-shadow padding-right10 padding-top10">
               <ul class="take-day-expert padding-left10">
                    <li class="content-box-shadow">
                        <div class="imageWrapper position-rel">
                            <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)400x300/cw/author/vikrantsingh.jpg">
                            <div class="expert-name padding-top5 padding-bottom5 text-uppercase text-black font16">Vikrant Singh</div>
                        </div>
                        <div class="carDescWrapper">
                            <p>It might not be the easy or convenient thing to do, but doing a track day must be on every driving enthusiast's list. We had a blast!</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                   <li class="content-box-shadow">
                       <div class="imageWrapper position-rel">
                           <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)400x300/cw/author/ameyadandekar.jpg">
                           <div class="expert-name padding-top5 padding-bottom5 text-uppercase text-black font16">Ameya Dandekar</div>
                       </div>
                       <div class="carDescWrapper">
                           <p>The Huracan intimidates with its numbers but on track it's so forgiving and manageable. A supercar that's super fun even for a novice driver.</p>
                       </div>
                   </li>
                   <li class="last-article-box content-box-shadow">
                       <div class="imageWrapper position-rel">
                           <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/expert-abhishek.jpg">
                           <div class="expert-name padding-top5 padding-bottom5 text-uppercase text-black font16">Abhishek Nigam </div>
                       </div>
                       <div class="carDescWrapper">
                           <p>Amazing agility, great noises followed by quick lap times, these hot hatches are sportscars bundled in hatchback packages!</p>
                       </div>
                   </li>
                </ul>
              <div class="clear"></div>          
            </div>
              <div class="clear"></div>
        </div>
        <div class="text-center margin-top30">
            <h2 class="text-bold text-uppercase padding-bottom20 font22">Buzz On Social Media</h2>
            <div class="bg-white content-box-shadow content-inner-block-10 twitter-section">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/carwaletrackday" data-widget-id="808680396774723584" data-width="100%" data-height="500">#carwaletrackday Tweets</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
        <div class="text-center margin-top30 margin-bottom20 event-collage">
            <h2 class="text-bold text-uppercase padding-bottom20 font22">Making of the Event</h2>
            <img class="block" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cw-trackday/landing-images/making-of-the-event.jpg" alt="Making of the Event" title="Making of the Event">
        </div>

        
      </div>
</div>

<div class="clear"></div>

