@model Bikewale.Models.RecentNewsVM
@using Bikewale.Utility
@if (Model != null && Model.ArticlesList != null && Model.ArticlesList.Count() > 0)
{
<ul>
       @foreach (var news in Model.ArticlesList)
        {
            <li class="margin-bottom20">
                <article>
                    <div class="grid-4 alpha">
                        <div class="model-preview-image-container">
                            <span data-url="@UrlFormatter.GetArticleUrl(Convert.ToString(news.BasicId), news.ArticleUrl, Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.News))" class="redirect-url">
                                <img class="lazy" data-original="@Image.GetPathToShowImages(news.OriginalImgUrl, news.HostUrl, ImageSize._310x174, QualityFactor._75)" title="@news.Title" alt="@news.Title" src="">
                            </span>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <span data-url="@UrlFormatter.GetArticleUrl(Convert.ToString(news.BasicId),news.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.News))" title="@news.Title" class="article-target-link line-height redirect-url">
                                @news.Title
                            </span>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">@FormatDate.GetFormatDate(Convert.ToString(news.DisplayDate), "dd MMMM yyyy")</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">@news.AuthorName</span>
                        </div>
                        <p class="line-height17 margin-top10 font14">
                            @FormatDescription.TruncateDescription(news.Description, 280)
                        </p>
                        <span data-url="@UrlFormatter.GetArticleUrl(Convert.ToString(news.BasicId),news.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.News))" title="@news.Title" class="font14 redirect-url" rel="nofollow">Read more</span>
                    </div>
                    <div class="clear"></div>
                </article>
            </li>
        }
        </ul>
}