@model Bikewale.Models.RecentNewsVM
@using Bikewale.Utility
@if (Model != null && Model.ArticlesList != null && Model.ArticlesList.Any())
{
    <ul class="article-list">
        @foreach (var news in Model.ArticlesList)
        {
            <li class="post-content article-content">
                <div class="article-item-content">

                    <div class="article-image-wrapper">
                        <a href="@UrlFormatter.GetArticleUrl(Convert.ToString(news.BasicId), news.ArticleUrl, Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.News))" title="@news.Title">
                            <img class="lazy" title="@news.Title" data-original="@Image.GetPathToShowImages(news.OriginalImgUrl, news.HostUrl, ImageSize._310x174, QualityFactor._70)" alt="@news.Title" src="">
                        </a>
                    </div>
                    <div class="article-desc-wrapper">
                        <h3 class="font14 margin-bottom10">
                            <a href="@UrlFormatter.GetArticleUrl(Convert.ToString(news.BasicId), news.ArticleUrl, Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.News))" title="@news.Title" rel="bookmark" class="article-desc__title">@news.Title</a>
                        </h3>
                        <div class="font12 text-light-grey margin-bottom20">
                            <div class="article-date">
                                <span class="bwsprite calender-grey-icon inline-block"></span>
                                <span class="inline-block">
                                    @FormatDate.GetFormatDate(Convert.ToString(news.DisplayDate), "dd MMMM yyyy")
                                </span>
                            </div>
                            <div class="article-author">
                                <span class="bwsprite author-grey-icon inline-block"></span>
                                <span class="inline-block">
                                    @news.AuthorName
                                </span>
                            </div>
                        </div>
                        <div class="font14">
                            <span class="text-slate-grey">
                                @FormatDescription.TruncateDescription(news.Description, 350)
                            </span>
                            <a href="@UrlFormatter.GetArticleUrl(Convert.ToString(news.BasicId), news.ArticleUrl, Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.News))">…Read more</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        }
    </ul>
}