@model Bikewale.Models.NewsDetailPageVM
@using Bikewale.Entities.GenericBikes
@using Bikewale.Utility
@{
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/content/details.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline />";
    Model.Page_BTF_CSS_Path = "/css/jquery.floating-social-share.min.css";
    Model.Page_JS_Paths = new string[]{"/src/jquery.floating-social-share.min.js", "/src/sidebarsection.js", "/src/bw-contenttracking.js"};
    Model.AdTags.AdId = "1395995626568";
    Model.AdTags.AdPath = "/1017752/BikeWale_News_";
    Model.AdTags.Ad_300x250 = true;
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.IsHeaderFix = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model != null && Model.ArticleDetails != null) { Model.AdTags.TargetedTags = String.Join(",", Model.ArticleDetails.TagsList); };
}
@if(Model != null)
{
    <section id="overallContainer">

        <div class="container margin-bottom20">
            <div class="grid-12">
                <div id="content" class="grid-8 alpha">
                    <div class="bg-white">
                        @if (Model.ArticleDetails != null)
                        {
                            <div class="section-header">
                                <h1 class="margin-bottom5">@Model.ArticleDetails.Title</h1>
                                <div>
                                    <span class="bwsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content margin-right20">@FormatDate.GetFormatDate(Convert.ToString(Model.ArticleDetails.DisplayDate), "dd MMMM yyyy, hh:mm tt")</span>

                                    @if (string.IsNullOrEmpty(Model.ArticleDetails.AuthorMaskingName))
                                    {
                                        <span class="bwsprite author-grey-sm-icon"></span>
                                        <span class="article-stats-content">@Model.ArticleDetails.AuthorName</span>
                                    }
                                    else
                                    {
                                        <a href=@UrlFormatter.AuthorPageUrl(Model.ArticleDetails.AuthorMaskingName) class="hover-no-underline">
                                            <span class="bwsprite author-grey-sm-icon"></span>
                                            <span class="article-stats-content"><span class="text-link">@Model.ArticleDetails.AuthorName</span></span>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="section-inner-padding">
                                <div id="post-@Model.ArticleDetails.BasicId">
                                    <div class="content-details" data-id="@Model.ArticleDetails.BasicId" data-category-id="@Model.ArticleDetails.CategoryId" data-event-label="News_Detail">
                                        <div class="article-content padding-top5">
                                            @if (!string.IsNullOrEmpty(Model.PageMetaTags.ShareImage))
                                        {
                                                <div style="text-align: center;">
                                                    <img alt='@Model.ArticleDetails.Title' title='@Model.ArticleDetails.Title' src='@Model.PageMetaTags.ShareImage'>
                                                </div>
                                        }
                                            @Html.Raw(Model.ArticleDetails.Content)
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.BikeInfo != null)
                                {
                                    @Html.Partial("~/Views/BikeModels/_MinBikeInfoCard.cshtml", Model.BikeInfo)
                                }
                                <div class="border-solid-top padding-top10">
                                    @if (!string.IsNullOrEmpty(Model.ArticleDetails.PrevArticle.Title) && Model.PageMetaTags != null)
                                    {
                                        <div class="grid-6 alpha border-solid-right">
                                            <a href="@Model.PageMetaTags.PreviousPageUrl" title="@Model.ArticleDetails.PrevArticle.Title" class="text-default next-prev-article-target">
                                                <span class="bwsprite prev-arrow"></span>
                                                <div class="next-prev-article-box inline-block padding-left5">
                                                    <span class="font12 text-light">Previous</span><br />
                                                    <span class="next-prev-article-title text-truncate">@Model.ArticleDetails.PrevArticle.Title</span>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ArticleDetails.NextArticle.Title) && Model.PageMetaTags != null)
                                    {
                                        <div class="grid-6 omega rightfloat">
                                            <a href="@Model.PageMetaTags.NextPageUrl" title="@Model.ArticleDetails.NextArticle.Title" class="text-default next-prev-article-target">
                                                <div class="next-prev-article-box inline-block padding-right5">
                                                    <span class="font12 text-light">Next</span>
                                                    <span class="next-prev-article-title text-truncate">@Model.ArticleDetails.NextArticle.Title</span>
                                                </div>
                                                <span class="bwsprite next-arrow"></span>
                                            </a>
                                        </div>
                                    }
                                    <div class="clear"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="grid-4 omega">

                   @Html.Partial("~/Views/Shared/_EditorialWidgetBase.cshtml", Model.PageWidgets[Bikewale.Entities.BikeData.EditorialPageWidgetPosition.First])
                    @Html.Partial("~/Views/Shared/_EditorialWidgetBase.cshtml", Model.PageWidgets[Bikewale.Entities.BikeData.EditorialPageWidgetPosition.Second])
                   

                    <div class="margin-bottom20">
                        @Html.Partial("~/Views/Shared/Ads/Desktop/Ad300x250.cshtml", Model.AdTags)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <script>
        docReady(function () {
            $("body").floatingSocialShare();
        });
    </script>
}