@model Bikewale.Models.NewsIndexPageVM
@using Bikewale.Utility
@using System.Text.RegularExpressions
@{
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/content/listing.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline />";
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/Bikewale_Reviews";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Mid_320x50 = true;
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<section>
    <div class="container box-shadow bg-white section-bottom-margin">
        <h1 class="box-shadow padding-15-20">@Model.PageH1</h1>
        @if (Model.Articles != null && Model.Articles.Articles != null && Model.Articles.Articles.Count() > 0)
        {
            ushort i = 0;
            <ul id="divListing" class="article-list">
                @foreach (var news in Model.Articles.Articles)
                {
                <li>
                    <a href="@string.Format("/m{0}", UrlFormatter.GetArticleUrl(Convert.ToString(news.BasicId),news.ArticleUrl,Convert.ToString(news.CategoryId)))" title="@news.Title">
                        <div class="article-item-content @(news.AuthorName.ToLower().Contains(" sponsored") ? "sponsored-content":"")">
                                @Html.Raw(Regex.Match(news.AuthorName, @"\b(sponsored)\b", RegexOptions.IgnoreCase).Success ? "<div class=\"sponsored-tag-wrapper position-rel\"><span>Sponsored</span><span class=\"sponsored-left-tag\"></span></div>" : "")
                            <div class="article-wrapper">
                                <div class="article-image-wrapper">
                                    <img class="lazy" alt='@news.Title' title="@news.Title" data-original='@Image.GetPathToShowImages(news.OriginalImgUrl, news.HostUrl, ImageSize._110x61, QualityFactor._70)' width="100%" border="0" src="">
                                </div>
                                <div class="padding-left10 article-desc-wrapper">
                                    <div class="article-category">
                                        <span class="text-uppercase font12 text-bold">@EditorialsFormatter.GetContentCategory(Convert.ToString(news.CategoryId))</span>
                                    </div>
                                    <h2 class="font14">@news.Title</h2>
                                </div>
                            </div>

                            <div class="article-stats-wrapper font12 leftfloat text-light-grey">
                                    <span class="bwmsprite calender-grey-icon inline-block"></span><span class="inline-block">@FormatDate.GetFormatDate(Convert.ToString(news.DisplayDate), "dd MMMM yyyy")</span>
                            </div>

                            <div class="article-stats-wrapper font12 leftfloat text-light-grey">
                                <span class="bwmsprite author-grey-icon inline-block"></span><span class="inline-block">@news.AuthorName</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </a>
                </li>
                    if (Model.PagerEntity.PageNo == 1 && Model.EndIndex == 10 && i == 4)
                    {
                <li class="list-item__slug hide" id="writereviewslug">
                    <span class="bwmsprite list-slug__close"></span>
                    <div class="list-slug__wrapper">
                        <div class="slug-content--top-align">
                            <img class="list-slug__image lazy" data-original="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/review-contest-slug-120.png" alt="Bike Review Contest" src="" />
                        </div>
                        <div class="list-slug__details slug-content--top-align">
                            <p class="list-slug__heading">Bike review contest</p>
                            <p class="list-slug__subheading">Write a detailed review &amp; stand a chance to win Amazon vouchers worth <span>&#x20B9;</span>&nbsp;@BWConfiguration.Instance.ContestPriceMoney</p>
                            @{
                        string q = Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(string.Format("csrc={0}", (int)Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Mobile_News));
                            }
                            <a href="@string.Format("/m/bike-review-contest/?q={0}",q)" title="Bike Review Contest" class="list-slug__target">Participate now<span class="bwmsprite target-arrow"></span></a>
                        </div>
                    </div>
                </li>
                    }
                    i++;
                }
            </ul>
        }
        <div class="margin-right10 margin-left10 padding-top15 padding-bottom15 border-solid-top font14">
            <div class="grid-5 omega text-light-grey font13">
                <span class="text-bold text-default">@string.Format("{0}-{1}", Model.StartIndex, Model.EndIndex)</span> of <span class="text-bold text-default">@Model.Articles.RecordCount</span> articles
            </div>
            @if (Model.Articles.RecordCount > 10)
            {
                Html.RenderAction("Index", "Pager", new { objPager = @Model.PagerEntity });
            }
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@if (Model.ObjMoreAboutScooter != null)
{
    <section>
        <div id="moreAboutScooter" class="content-box-shadow padding-top20 padding-bottom20 card-bottom-margin font14">
            <div class="swiper-container card-container model-related-swiper swiper-container-horizontal">
                <div class="swiper-wrapper">
                    @Html.Partial("~/Views/Scooters/_ModelRelatedCard_Mobile.cshtml", Model.ObjMoreAboutScooter)
                </div>
            </div>
        </div>
    </section>
   
}

<div class="margin-bottom15">
    @Html.Partial("~/Views/Shared/Ads/Mobile/Ad320x50_Middle.cshtml", Model.AdTags)
</div>

@if (Model.MostPopularBikes != null && Model.MostPopularBikes.Bikes != null && Model.MostPopularBikes.Bikes.Count() > 0)
{
    <section>
        <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>@Model.MostPopularBikes.WidgetHeading</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="@string.Format("/m{0}",Model.MostPopularBikes.WidgetHref)" title="@Model.MostPopularBikes.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("~/Views/BikeModels/_MostPopularBikes_Mobile.cshtml", Model.MostPopularBikes)
        </div>
    </section>
}

@if (Model.Model != null && Model.Model.ModelId > 0)
{
    if (Model.PopularScooterMakesWidget != null && Model.PopularScooterMakesWidget.Count() > 0)
    {
        <section>
            <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Popular scooter brands</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="/m/scooters/" title="Scooters" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/views/m/shared/_otherbrands.cshtml", Model.PopularScooterMakesWidget)
            </div>
        </section>
    }
    else if (Model.PopularBodyStyle != null && Model.PopularBodyStyle.PopularBikes != null && Model.PopularBodyStyle.PopularBikes.Any())
    {
        <section>
            <div class="container box-shadow bg-white section-bottom-margin padding-bottom20">
                <div class="carousel-heading-content padding-top15">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>@Model.PopularBodyStyle.WidgetHeading</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m{0}",Model.PopularBodyStyle.WidgetHref)" title="@Model.PopularBodyStyle.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/BestBikes/_PopularBodyStyleCarousel_Mobile.cshtml", Model.PopularBodyStyle)
            </div>
        </section>
    }
}
else if (Model.UpcomingBikes != null && Model.UpcomingBikes.UpcomingBikes != null && Model.UpcomingBikes.UpcomingBikes.Count() > 0)
{

        <section>
            <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>@Model.UpcomingBikes.WidgetHeading</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m{0}",Model.UpcomingBikes.WidgetHref)" title="@Model.UpcomingBikes.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Editorial_Mobile.cshtml", Model.UpcomingBikes)
            </div>
        </section>

}
else if (Model.EditorialPageType == Bikewale.Entities.CMS.EditorialPageType.SeriesPage)
{
    <section>
        <div class="container box-shadow bg-white section-bottom-margin padding-bottom20">
            <div class="carousel-heading-content padding-top15">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>@Model.SeriesMobileWidget.PopularSeriesBikesVM.WidgetHeading</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="@Model.SeriesMobileWidget.PopularSeriesBikesVM.WidgetHref" title="@Model.SeriesMobileWidget.PopularSeriesBikesVM.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("~/Views/BestBikes/_PopularBodyStyleCarousel_Mobile.cshtml", Model.SeriesMobileWidget.PopularSeriesBikesVM)
        </div>
    </section>
    <section>
        <div class="container box-shadow bg-white section-bottom-margin padding-bottom20">
            <div class="carousel-heading-content padding-top15">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>@Model.SeriesMobileWidget.PopularBikesByBodyStyleVM.WidgetHeading</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="@Model.SeriesMobileWidget.PopularBikesByBodyStyleVM.WidgetHref" title="@Model.SeriesMobileWidget.PopularBikesByBodyStyleVM.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("~/Views/BestBikes/_PopularBodyStyleBestBikesCarousel_Mobile.cshtml", Model.SeriesMobileWidget.PopularBikesByBodyStyleVM)
        </div>
    </section>
}
<script type="text/javascript">
    docReady(function () {
        if (!bwcache.get('showeditcmsreviewslug', true)) {
            $('#writereviewslug').show();
        }
        $('.list-slug__close').on('click', function () {
            bwcache.set('showeditcmsreviewslug', '1', true);
            var slugItem = $(this).closest('.list-item__slug');

            slugItem.slideUp(500, function () {
                slugItem.remove();
            });
        });
    });
</script>