@model BikewaleOpr.Models.ConfigurePageMetas.ConfigurePageMetasVM
@{
    ViewBag.Title = "Bikewale Operations - Page Metas Configuration";
    ViewBag.PageTitle = "Configure Page Metas";
}
<link href="~/css/materialize-stepper.css" rel="stylesheet" />
<script src="~/src/materialize-stepper.min.js"></script>
@using (Html.BeginForm("SaveMetas", "PageMetasConfigure", FormMethod.Post))
{
    <div class="row" id="pageMeta">
        <div class="stepper-height-60 col m6 offset-m3">
            <ul class="stepper vertical">
                <li class="step">
                    <div class="step-title waves-effect waves-dark">Select Page</div>
                    <div class="step-content">
                        <div class="row margin-top25">
                            <label>Select Platform</label>
                            <span>
                                <input type="radio" id="chkDesktop" name="platformId" value="1" @(Model.PageMetas != null &&  Model.PageMetas.MakeId > 0 ? "disabled" : "") class="with-gap" @(Model.PageMetas != null && Model.PageMetas.PlatformId == 1 ? "checked" : "") data-bind="event :  { change : function(){ selectPlatform(); } }" />
                                <label for="chkDesktop">Desktop</label>
                                <input type="radio" id="chkMobile" name="platformId" value="2" class="with-gap" @(Model.PageMetas != null &&  Model.PageMetas.MakeId > 0 ? "disabled" : "") @(Model.PageMetas != null && Model.PageMetas.PlatformId == 2 ? "checked" : "") data-bind="event :  { change : function(){ selectPlatform(); } }" />
                                <label for="chkMobile">Mobile</label>
                            </span>
                        </div>
                        <div class="input-field row s2 m2">
                            <div class="col m4">
                                <select id="selectPage" @(Model.PageMetas != null &&  Model.PageMetas.PageId > 0 ? "disabled" : "") data-selectedPage="@(Model.PageMetas != null ? Model.PageMetas.PageId : 0)" name="pageId" data-bind="options : pageList, value : selectedPage, optionsValue : 'PageId',optionsText : 'PageName',optionsCaption: 'Select Page'"></select>
                            </div>
                        </div>
                        <div class="input-field row s2 m2">
                            <div class="col m4">
                                <select id="selectMake" name="makeId" @(Model.PageMetas != null &&  Model.PageMetas.MakeId > 0 ? "disabled" : "") data-bind="event :  { change : function(){ changeMake(); } }">
                                    <option value="" selected disabled>Select Make</option>
                                    @foreach (var m in Model.Makes)
                                    {
                                        <option value="@m.MakeId" @(Model.PageMetas != null &&  Model.PageMetas.MakeId == m.MakeId ? "selected" : "")>@m.MakeName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="input-field row s2 m2">
                            <div class="col m4" data-bind="visible : selectedPage() == '3' || selectedPage() == '4'">
                                <select id="selectModel" @(Model.PageMetas != null &&  Model.PageMetas.ModelId > 0 ? "disabled" : "") name="modelId" data-selectedModel="@(Model.PageMetas != null ? Model.PageMetas.ModelId : 0)"  data-bind="options : bikeModels,value : selectedModel,optionsValue : 'modelId',optionsText : 'modelName',optionsCaption: 'Select Model'"></select>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">Configure Page Metas</div>
                    <div class="step-content">
                        <div class="input-field col s12">
                            <textarea id="title" name="title" class="materialize-textarea">@(Model.PageMetas != null ? Model.PageMetas.Title : "" )</textarea>
                            <label for="title">Title</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="description" name="description" class="materialize-textarea">@(Model.PageMetas != null ? Model.PageMetas.Description : "" )</textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="keywords" name="keywords" class="materialize-textarea">@(Model.PageMetas != null ? Model.PageMetas.Keywords : "" )</textarea>
                            <label for="keywords">Keywords</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="heading" name="heading" class="materialize-textarea">@(Model.PageMetas != null ? Model.PageMetas.Heading : "" )</textarea>
                            <label for="heading">Heading</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="summary" name="summary" class="materialize-textarea">@(Model.PageMetas != null ? Model.PageMetas.Summary : "" )</textarea>
                            <label for="summary">Summary</label>
                        </div>
                        <button id="btnConfigurePageMeta" name="btnConfigureCampaign" class="btn waves-effect waves-light margin-bottom50" data-bind="click: validateData" type="submit">
                            Configure
                        </button>
                    </div>
                </li>
            </ul>
            <input type="hidden" id="dektopPagesList" value="@Model.DesktopPages" />
            <input type="hidden" id="mobilePagesList" value="@Model.MobilePages" />
            <input type="hidden" name="EnteredBy" value="@Model.CurrentUserId" />
            <input id="pageMetaId" type="hidden" name="PageMetaId" value="@Model.PageMetaId" />

        </div>
    </div>
}

<script src="~/src/configurePageMetas.js"></script>
