@model BikewaleOpr.Models.UserReviews.ManageUserReviewsPageVM

@{
    ViewBag.Title = "Manage User Ratings";
    ViewBag.PageTitle = "Manage User Ratings";
}

<div class="row" data-userid="@Model.currentUserId" id="UserRatings">
    <div  class="col">
        <p id="btnApproveSelected"> <a href="#!" class="btn waves-effect waves-light" data-bind="click : function(){ approveReviews(); }" type="button">Approve Selected</a> </p>
    </div>
    <div class="col">
        <p id="btnRejectSelected"> <a href="#!" class="btn waves-effect waves-light red lighten-2" data-bind="click : function(){ discardReviews(); }" type="button">Reject Selected</a> </p>
    </div>
    
    <div class="col m12">
        @if (Model != null && Model.Reviews != null && Model.Reviews.Count() > 0)
        {
            <table id="tblReviews" class="bordered highlight z-depth-3 centered responsive-table">
                <tr>
                    <th><input type="checkbox" class="filled-in" id="chkApprove" />
                            <label for="chkApprove"></label></th>
                    <th>Review Id</th>
                    <th>Bike Name</th>
                    <th>Written By</th>
                    <th>Customer Email</th>
                    <th>OverAll Rating</th>
                    <th>Entry Date</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
                @foreach (var m in Model.Reviews)
                {
                    <tr>
                        <td>
                            <input data-review-id="@m.Id" type="checkbox" class="filled-in" id="chkApprove-@m.Id" title="Select all" />
                            <label for="chkApprove-@m.Id"></label>
                        </td>
                        <td>@m.Id</td>
                        <td>@m.MakeName @m.ModelName</td>
                        <td>@m.WrittenBy</td>
                        <td>@m.CustomerEmail</td>
                        <td><i class="material-icons inline-block" style="font-size: 15px">star</i>&nbsp;<span class="inline-block">@m.OverallRating/5</span></td>
                        <td>@Convert.ToDateTime(m.EntryDate).ToString("dd/MM/yyyy")</td>
                        <td><a id="btnApprove_@m.Id"  href="#!" class="btn waves-effect waves-light" type="button" name="Approve" data-review-id="@m.Id" data-bind="click : function(){ approveReview(@m.Id); }">Approve</a></td>
                        <td><a href="#!" class="btn waves-effect waves-light red lighten-2" type="button" name="Reject" data-review-id="@m.Id" data-bind="click : function(){ discardReview(@m.Id); }">Reject</a></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel orange lighten-2">
                        <i class="material-icons">info_outline</i><span class="vertical-align-bottom margin-left5">No user reviews available...</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="checkboxEmpty" class="modal" style="height:160px;width:300px">
    <div class="modal-content">        
        <p>Please select atleast 1 review.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>

<script src="/src/userreviews/manageuserratings.js"></script>