@model IEnumerable<Bikewale.Entities.Authors.AuthorEntityBase>
@using Bikewale.Utility

<div class="swiper-container card-container">
    <div class="swiper-wrapper detail-author__swiper">
        @foreach (var author in Model)
            {
                if (!string.IsNullOrEmpty(author.MaskingName))
                {
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a class="block" href="@string.Format("{0}/m{1}", BWConfiguration.Instance.BwHostUrl, UrlFormatter.AuthorPageUrl(author.MaskingName))" title="@author.AuthorName">
                            <div class="swiper-image-preview">
                                @if (string.IsNullOrEmpty(author.HostUrl) || string.IsNullOrEmpty(author.ProfileImage) || string.IsNullOrEmpty(author.ImageName))
                                {
                                    <div class="no-image-carousel"></div>
                                }
                                else
                                {
                                    <img class="swiper-lazy" data-src="@string.Format("https://{0}/300x225/cw/author/{1}?q=70", author.HostUrl, author.ImageName)" title="@author.AuthorName" alt="@author.AuthorName" src="" />
                                }
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="author__swiper-label">@author.AuthorName</h3>
                                <p class="author__swiper-designation">@author.Designation</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>


