@{
    ViewBag.Title = "Add Footer Data";
    ViewBag.PageTitle = "Add Footer Data";
}


<div class="col padding-bottom10 padding-top20" id="">

    <div class="row">
        <div class="col s5 offset-s3">
            <span class="flow-text">@(Model.MakeName) Footer Data</span>
        </div>
    </div>


    @foreach (var cat in Model.MakeFooterData)
    {
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <textarea id="txt-@cat.CategoryId" data-id="@cat.CategoryId" type="text" class="materialize-textarea txt-box" maxlength="2000" data-value="@cat.CategoryDescription">@cat.CategoryDescription</textarea>
                <label for="txt-@cat.CategoryId">@cat.CategoryName</label>
            </div>
        </div>
    }

    <input type="hidden" id="userId" value="@BikeWaleOpr.Common.CurrentUser.Id" />
    <input type="hidden" id="makeId" value="@Model.MakeId" />

    <div class="row">
        <div class="col offset-s3">
            <button id="saveButton" class="btn waves-effect waves-light" name="action">
                Save
            </button>
        </div>

        <div class="col">
            <button id="disableButton" class="btn waves-effect waves-light" name="action">
                Disable all
            </button>
        </div>
    </div>
</div>

<script src="/src/footerdata.js"></script>