@{
    ViewBag.Title = "Manage Bike Makes";
    ViewBag.PageTitle = "Manage Bike Makes";
}
<div class="row" style="margin-top:5px;">
    <div class="col m10">
        @using (Html.BeginForm())
        {
            <table id="tblMakeData" class="bordered highlight z-depth-3 centered">
                <tr>
                    <th>Make Id</th>
                    <th>Make Name</th>
                    <th>Make Masking Name</th>
                    <th>Futuristic</th>
                    <th>New</th>
                    <th>Used</th>
                    <th>Footer Added</th>
                    <th>Synopsis</th>                    
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Created On</th>
                    <th>Last Updated</th>
                    <th>UpdatedBy</th>
                </tr>
                @foreach (var m in Model)
                {
                    <tr data-makeid="@m.MakeId" data-makename="@m.MakeName" data-oldmakename="@m.MakeName" data-maskingname="@m.MaskingName" data-new="@(m.New)" data-used="@(m.Used)" data-futuristic="@(m.Futuristic)" data-oldmakemasking="@m.MaskingName">
                        <td>@m.MakeId</td>
                        <td class="@(m.New && m.Used ? "teal lighten-4" : (m.Futuristic) ? "lime lighten-4" : "red lighten-4")"> @m.MakeName</td>
                        <td>@m.MaskingName</td>
                        <td><i class="material-icons @((m.Futuristic) ? "icon-green" : "icon-red")">@((m.Futuristic) ? "done" : "close")</i></td>
                        <td><i class="material-icons @((m.New) ? "icon-green" : "icon-red")">@((m.New) ? "done" : "close")</i></td>
                        <td><i class="material-icons @((m.Used) ? "icon-green" : "icon-red")">@((m.Used) ? "done" : "close")</i></td>
                        <td><a href="/makes/addfooterdata/?makeName=@m.MakeName&makeId=@m.MakeId" class="tooltipped" data-tooltip='@(m.MakeFooterAdded ? "Edit footer properties" : "Add footer properties")'> <i class="material-icons @((m.MakeFooterAdded) ? "icon-green" : "icon-red")">@((m.MakeFooterAdded) ? "done" : "close")</i> </a></td>
                        <td><a href="#!" data-target="modal-make-synopsis" data-bind="event : {click : function(d,e) { setmakedata(e); synopsis().getSynopsis() }}"><i class="material-icons icon-green">add_circle</i></a></td>
                        <td><a href="#!" data-target="modal-make-update" data-bind="event : {click : function(d,e) { setmakedata(e)}}"><i class="material-icons icon-blue">mode_edit</i></a></td>
                        <td><a href="/Makes/Delete/?makeId=@m.MakeId" onclick="return confirm('Are you sure?')"><i class="material-icons icon-red">delete</i></a></td>
                        <td>@m.CreatedOn</td>
                        <td>@m.UpdatedOn</td>
                        <td>@m.UpdatedBy</td>
                    </tr>
                }
            </table>
        }
    </div>
    @using (Html.BeginForm("Add", "Makes", FormMethod.Post))
    {
        <div id="addMakeContainer" class="col s2 m2" data-bind="with : addMake">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><strong>Add Make</strong></div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="input-field row s12">
                                <input id="txtMakeName" type="text" class="validate" name="MakeName" data-bind="textInput: makeName,css:makeMsg()!=''?'invalid':'' " length="30" maxlength="30">
                                <label for="txtMakeName" data-error="" data-bind="attr:{'data-error':makeMsg},css:makeMsg()!=''?'active':''">Make Name</label>
                            </div>
                            <div class="input-field row s12">
                                <input id="txtMakeMaskingName" type="text" class="validate" name="MaskingName" data-bind="textInput: makeMaskingName,css:makeMaskingMsg()!=''?'invalid':'' " length="50" maxlength="50">
                                <label for="txtMakeMaskingName" data-error="" data-bind="attr:{'data-error':makeMaskingMsg},css:makeMaskingMsg()!=''?'active':''">Make Masking Name</label>
                            </div>
                            <div class="input-field row s12">
                                <button id="btnAddMake" class="btn waves-effect waves-light" type="submit" name="action" data-bind="event : { click : function() { return validateMakeSubmit();}}">
                                    Add Make
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    }
    <style type="text/css">
        .modal {
            width: 35% !important;
        }
    </style>
    <!-- Modal Structure -->
    <div id="modal-make-update" class="modal" data-bind="with : updateMake">
        @using (Html.BeginForm("Update", "Makes", FormMethod.Post))
        {
            <div class="modal-content">
                <h4>Update <span data-bind="text: makeName "></span> Data</h4>
                <div>
                    <div class="input-field row m12">
                        <input id="txtUMakeName" type="text" class="validate" name="makeName" data-bind="textInput: makeName ">
                        <label for="txtUMakeName">Make Name</label>
                    </div>
                    <div class="input-field row m12">
                        <input id="txtUMakeMaskingName" type="text" class="validate" name="maskingName" data-bind="textInput: makeMaskingName">
                        <label for="txtUMakeMaskingName">Masking Name</label>
                    </div>
                    <div class="input-field row m12">
                        <div class="input-field col m4">
                            <input type="checkbox" id="chkNewUpdate" name="New" data-bind="checked: selectedMake() ? selectedMake().new : false" /><label for="chkNewUpdate">New</label>
                        </div>
                        <div class="input-field col m4">
                            <input type="checkbox" id="chkUsedUpdate" data-bind="checked: selectedMake() ? selectedMake().used : false" name="Used" /><label for="chkUsedUpdate">Used</label>
                        </div>
                        <div class="input-field col m4">
                            <input type="checkbox" id="chkFuturisticUpdate" data-bind="checked: selectedMake() ? selectedMake().futuristic : false" name="Futuristic" /><label for="chkFuturisticUpdate">Futuristic</label>
                            <input id="foo" name="foo" type="checkbox" />
                            <input name="foo" type="hidden" value="true" />
                        </div>
                    </div>
                    <input type="hidden" id="hdnUpdateMakeId" name="MakeId" data-bind="textInput: selectedMake() ? selectedMake().makeId : 0" />
                    <input type="hidden" id="hdnOldMakeMasking" name="OldMakeMasking" data-bind="textInput: selectedMake() ? selectedMake().oldMakeMasking :''" />
                    <input type="hidden" id="hdnOldMakeName" name="OldMakeName" data-bind="textInput: selectedMake() ? selectedMake().oldMakeName : ''" />
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green teal white-text btn-flat" data-bind="event : {click : function() { updateMakeDetails() }}" id="btnUpdateMake" style="margin-left:5px;">Update</a>
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        }
    </div>
    <!-- Modal Structure -->
    <div id="modal-make-synopsis" class="modal" data-bind="with : synopsis">
        <div class="modal-content">
            <h4>Update <span data-bind="text: selectedMake() ? selectedMake().makeName : 'Make'"></span> Synopsis</h4>
            <div>
                <div class="input-field row m12">
                    <textarea id="txtSynopsis" name="synopsis" class="materialize-textarea" length="3000" maxlength="3000" data-bind="textInput: makeSynopsis"></textarea>
                    <label for="txtSynopsis">Bike Synopsis</label>
                </div>
                <div class="input-field row m12">
                    <textarea id="txtScooterSynopsis" name="scooterSynopsis" class="materialize-textarea" length="3000" maxlength="3000" data-bind="textInput: makeScooterSynopsis"></textarea>
                    <label for="txtScooterSynopsis">Scooter Synopsis</label>
                </div>
                <input type="hidden" id="hdnUpdateMakeId" name="makeId" />
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green teal white-text btn-flat" style="margin-left:5px;" id="btnUpdateSynopsis" data-bind="event : {click : function(d,e) { synopsis().updateSynopsis() }}">Update</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <script type="text/javascript">
        msg = '@ViewBag.SuccessMsg';
    </script>
    <script src="~/src/content/makes.js"></script>
</div>