@model Bikewale.Models.AdTags
@{
    var currentTimestamp = DateTime.Now.ToString("o");
}
<div class="container">
    <div class="bg-animation" data-screen="1">
        <div class="vehicle-container">
            <span class="vehicle-container__tyres">
                <i class="tyre front-tyre"></i>
                <i class="tyre rear-tyre"></i>
            </span>
            <span class="vehicle-container__body"></span>
        </div>
        <div id="banner1" class="banner-screen" data-position="10">
            <div class="banner-screen__content1 no-animate"></div>
            <div class="banner-screen__content2" data-animation="fadeInRight">
                <p class="font12 text-bold">New</p>
                <p class="font13 capitalize font-bold">Maestro Edge</p>
            </div>
            <div class="banner-screen__content3" data-animation="fadeInRight">
                <p class="font12 capitalize text-bold">limited festive offer</p>
            </div>

            <div class="banner-screen__content4 no-animate">
                <p class="expand-popup bw-ga" data-cat="Innovation_Banner" data-act="Main_Know more_Festive Offer_Clicked" data-lab="@Model.InnovationBannerGALabel">Know More >></p>
            </div>
        </div>
        <div id="banner2" class="banner-screen" data-position="10">
            <div class="banner-screen__content1 no-animate">
            </div>
            <div class="banner-screen__content2" data-animation="fadeInRight">
                <p class="font12 text-bold">New</p>
                <p class="font13 capitalize font-bold">Maestro Edge</p>
            </div>
            <div class="banner-screen__content3" data-animation="fadeInRight">
                <p class="font12 capitalize text-bold">Advanced features</p>
            </div>

            <div class="banner-screen__content4 no-animate">
                <p class="expand-popup bw-ga" data-cat="Innovation_Banner" data-act="Know more_Features_Main_Clicked" data-lab="@Model.InnovationBannerGALabel">Know More >></p>
            </div>
        </div>
        <div id="banner3" class="banner-screen" data-position="10">
            <div class="banner-screen__content1 no-animate">
            </div>
            <div class="banner-screen__content2" data-animation="fadeInRight">
                <p class="font12 text-bold">New</p>
                <p class="font13 capitalize font-bold">Maestro Edge</p>
            </div>
            <div class="banner-screen__content3" data-animation="fadeInRight">
                <p class="font12 capitalize text-bold">experience 360<sup class="font8">o</sup> view</p>
            </div>

            <div class="banner-screen__content4 no-animate">
                <p class="expand-popup bw-ga" data-cat="Innovation_Banner" data-act="Know more_360 degree_Main_Clicked" data-lab="@Model.InnovationBannerGALabel">Know More >></p>
            </div>
        </div>

        <button class="campaign-arrow-btn arrow left bw-ga" data-cat="Innovation_Banner" data-act="Main_Left Arrow_Clicked" data-lab="@Model.InnovationBannerGALabel"></button>
        <button class="campaign-arrow-btn arrow right bw-ga" data-cat="Innovation_Banner" data-act="Main_Right Arrow_Clicked" data-lab="@Model.InnovationBannerGALabel"></button>
    </div>
    <div class="banner-popup">
        <span class="popup-close bwmsprite bw-ga" data-cat="Innovation_Banner" data-act="Close_Clicked" data-lab="@Model.InnovationBannerGALabel"></span>
        <div class="banner1-popup" data-flag="0">
            <div class="popup-container">
                <div class="banner-popup__top-block banner-element no-animate">
                    <span class="banner-popup__make-icon"></span>
                </div>
                <div class="banner1-image banner-element"  data-animation="fadeIn">
                </div>
                <div class="benefit-list banner-element"  data-animation="fadeIn">
                    <span class="benefit-list__head block">Limited Festive Offer</span>
                    <span class="block padding-bottom25 font13">Bring home a new Hero scooter and get</span>
                    <ul class="benefit-list__ul">
                        <li>
                            75 gm silver coin or cash Benefit of &#x20b9;3000
                        </li>
                        <li>
                            Additional Benefit of &#x20b9;1500 for Govt. & PSU Employees
                        </li>
                        <li>
                            Special Festive Rate of 6.99%
                        </li>
                    </ul>

                    <span class="banner__termscondition">* T&C; Apply, Finance is available from our preferred financier
                    </span>
                    <span class="warrantyunit-icon"></span>
                </div>
                <div class="grid-12 alpha omega margin-top5 banner-element"  data-animation="fadeIn">
                    <a rel="nofollow noopener" target="_blank" href="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&mc=click&pli=22699877&PluID=0&ord=@currentTimestamp" class="btn btn-orange banner__explore-more bw-ga" data-cat="Innovation_Banner" data-act="Know_more_Clicked" data-lab="@Model.InnovationBannerGALabel">Know more</a>
                </div>
                <div class="grid-12 alpha omega margin-top10 banner-element" data-animation="fadeIn">
                    <a href="javascript:void(0)" class="view-more-link next-popup bw-ga" data-cat="Innovation_Banner" data-act="View_features_Clicked" data-lab="@Model.InnovationBannerGALabel">View features >></a>

                </div>
            </div>
        </div>
        <div class="banner2-popup" data-flag="0">
            <div class="popup-container">
                <div class="banner-popup__top-block  banner-element no-animate">
                    <span class="banner-popup__make-icon"></span>
                    <span class="banner-popup__top-head">Advanced features</span>
                </div>
                <div class="banner-popup__carousel  banner-element swiper-block" data-animation="fadeIn">
                    <p class="capitalize font15 padding-bottom10 font-bold padding-left5 text-center">top 5 hero maestro edge features</p>
                    <div id="banner-photos-swiper" class="swiper-container noSwiper banner-photos-swiper">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper-card">
                                    <div class="swiper-image-preview">
                                        <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/m/feature1.jpg?q=85" alt="Telephonic Front Suspension" title="Telephonic Front Suspension" border="0" />
                                    </div>
                                    <div class="swiper-details-block">
                                        <p class="target-link font13 text-truncate margin-bottom5 capitalize">Telescopic Front Suspension</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-card">
                                    <div class="swiper-image-preview">
                                        <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/m/feature2.jpg?q=85" alt="Mobile Charging Port" title="Mobile Charging Port" border="0" />
                                    </div>
                                    <div class="swiper-details-block">
                                        <p class="target-link font13 text-truncate margin-bottom5 capitalize">Mobile Charging Port & Boot Light</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-card">
                                    <div class="swiper-image-preview">
                                        <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/m/feature3.jpg?q=85" alt="Integrated Braking" title="Integrated Braking" border="0" />
                                    </div>
                                    <div class="swiper-details-block">
                                        <p class="target-link font13 text-truncate margin-bottom5 capitalize">Integrated Braking</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-card">
                                    <div class="swiper-image-preview">
                                        <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/m/feature4.jpg?q=85" alt="External Fuel Filling" title="External Fuel Filling" border="0" />
                                    </div>
                                    <div class="swiper-details-block">
                                        <p class="target-link font13 text-truncate margin-bottom5 capitalize">External Fuel Filling</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-card">
                                    <div class="swiper-image-preview">
                                        <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/m/feature5.jpg?q=85" alt="Bigger Front Wheel" title="Bigger Front Wheel" border="0" />
                                    </div>
                                    <div class="swiper-details-block">
                                        <p class="target-link font13 text-truncate margin-bottom5 capitalize">Bigger Front Wheel</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="grid-12 alpha omega margin-top5 banner-element" data-animation="fadeIn">
                    <a rel="nofollow noopener" target="_blank" href="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&mc=click&pli=22699877&PluID=0&ord=@currentTimestamp" class="btn btn-orange banner__explore-more bw-ga" data-cat="Innovation_Banner" data-act="Know_more_Clicked" data-lab="@Model.InnovationBannerGALabel">Know more</a>
                </div>
                <div class="grid-12 alpha omega margin-top10 banner-element" data-animation="fadeIn">
                    <a href="javascript:void(0)" class="view-prev-link prev-popup bw-ga" data-cat="Innovation_Banner" data-act="Previous_Clicked" data-data-lab="@Model.InnovationBannerGALabel"><< Previous</a>
                   <a href="javascript:void(0)" class="view-more-link next-popup bw-ga" data-cat="Innovation_Banner" data-act="View 360_Clicked" data-lab="@Model.InnovationBannerGALabel">View 360<sup class="font7">o</sup> >></a>
                </div>
            </div>

        </div>
        <div class="banner3-popup" data-flag="0">
            <div class="popup-container">
                <div class="banner-popup__top-block  banner-element no-animate">
                    <span class="banner-popup__make-icon"></span>
                    <span class="banner-popup__top-head">360<sup class="font7">o</sup> view</span>
                </div>
                <div class="banner-popup__360view banner-element no-animate">
                    <div class="threesixty-slider"></div>
                    <div class="threesixty car bw-ga" data-cat="Innovation_Banner" data-act="Interacted with 360 degree" data-lab="@Model.InnovationBannerGALabel">
                        <div class="spinner">
                            <span>0%</span>
                        </div>
                        <ol class="threesixty_images"></ol>
                    </div>
                </div>
                <div class="popup_varient-carousel banner-element" data-animation="fadeIn">
                    <div class="font14 text-x-light padding-top10 padding-bottom10">Available in below colors</div>
                    <ul>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color1.png?q=85" alt="Shooting Night Star" title="Shooting Night Star" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Shooting Night Star
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color2.png?q=85" alt="Techno Blue" title="Techno Blue" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Techno Blue
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color3.png?q=85" alt="Matte Vernier Grey" title="Matte Vernier Grey" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Matte Vernier Grey
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color4.png?q=85" alt="Matte Blue" title="Matte Blue" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Matte Blue
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color5.png?q=85" alt="Panther Black" title="Panther Black" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Panther Black
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color6.png?q=85" alt="Pearl Silver White" title="Pearl Silver White" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Pearl Silver White
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color7.png?q=85" alt="Candy Blazing Red" title="Candy Blazing Red" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Candy Blazing Red
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color8.png?q=85" alt="Sporty Matte Grey & Red" title="Sporty Matte Grey & Red" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Sporty Matte Grey & Red
                            </div>
                        </li>
                        <li>
                            <div class="varient-carousel__image-preview">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/color9.png?q=85" alt="Active Matte Grey & Blue" title="Active Matte Grey & Blue" />
                            </div>
                            <div class="varient-carousel__details-block">
                                Active Matte Grey & Blue
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="grid-12 alpha omega margin-top5 banner-element" data-animation="fadeIn">
                    <a rel="nofollow noopener" target="_blank" href="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&mc=click&pli=22699877&PluID=0&ord=@currentTimestamp" class="btn btn-orange banner__explore-more bw-ga" data-cat="Innovation_Banner" data-act="Know_more_Clicked" data-lab="@Model.InnovationBannerGALabel">Know more</a>
                </div>
                <div class="grid-12 alpha omega banner-element" data-animation="fadeIn">
                    <a href="javascript:void(0)" class="view-prev-link prev-popup bw-ga" data-cat="Innovation_Banner" data-act="View_features_Clicked" data-lab="@Model.InnovationBannerGALabel"><< View features</a>
                </div>
            </div>
        </div>
    </div>
    <img src="https://bs.serving-sys.com/serving/adServer.bs?cn=display&c=19&mc=imp&pli=22699877&PluID=0&ord=@currentTimestamp&rtu=-1" class="hide" />
</div>

<script type="text/javascript">
    docReady(function () {
        try {
            triggerNonInteractiveGA('Innovation_Banner', 'Hero_Innovation_Banner_Shown', '@Model.InnovationBannerGALabel');
        } catch (e) {
            console.warn(e.message);
        }

        $.fn.extend({
            animateCss: function (animationname, callback) {
                var animationend = 'webkitanimationend mozanimationend msanimationend oanimationend animationend';
                this.addClass('animated ' + animationname).one(animationend, function () {
                    $(this).removeClass('animated ' + animationname);
                    var swiperElem = $(this).find(".swiper-container");
                    if (swiperElem.length) {
                        $(swiperElem).data('swiper').update(true);
                    }
                    if (callback) {
                        callback();
                    }
                });
                return this;
            }
        });
        var bannercarousel = new Swiper('.banner-photos-swiper.swiper-container', {
            direction: 'horizontal',
            pagination: '.swiper-pagination',
            centeredSlides: true,
            paginationClickable: true,
            slidesPerView: 'auto',
            preloadImages: false,
            lazyLoading: true,
            lazyLoadingInPrevNextAmount: 1,            
            onSlideChangeStart: function (swiper) {
                triggerGA('Innovation_Banner', 'Photo_Swipe', '@Model.InnovationBannerGALabel');
            }
        });
        function animateBannerContent(elemId) {
            var firstElem = $("#" + elemId + " .banner-screen__content1");
            recursiveAnimate(firstElem);
        }

        function recursiveAnimate(elem) {
            var nextElem = $(elem).next();
            if (navigator.userAgent.indexOf('UCBrowser') > 0 || $(elem).hasClass("no-animate")) {
                $(elem).show();
                if (nextElem.length > 0) {
                    recursiveAnimate($(nextElem));
                }
            } else {
                animateContent($(elem), "" + $(elem).attr('data-animation') + "", function () {
                    var nextElem = $(elem).next();
                    if (nextElem.length > 0) {
                        recursiveAnimate($(nextElem));
                    }
                });
            }
        }
        function animateContent(element, animationName, callBack) {
            $(element).show().animateCss(animationName, callBack);
        }

        function showBanner(bannerId) {
            $(".banner-screen, .banner-screen div").not('.no-animate').hide();
            $("#" + bannerId).show();
        }

        showBanner("banner1");
        var initTimeout = setTimeout(function () {
            $(".vehicle-container").animate({
                'left': "50px"
            }, function () {
                animateBannerContent("banner1");
            });
            clearTimeout(initTimeout);
        }, 3000);

        function popupClose(element) {
            var popupContainer = element.closest('.popup-container');

            var bannerPopup = element.closest('.banner-popup').find("[data-flag = '1']");
            $('.' + bannerPopup.attr('class') + ' .popup-container').find('.banner-element').hide();
            element.closest('.banner-popup').toggle();
            bannerPopup.attr('data-flag', '0').hide();

            $('body').removeClass('lock-browser-scroll');

        }
        $('.popup-close').on('click', function () {
            popupClose($(this));
            window.history.back();
        });

        $(".expand-popup").on('click', function () {
            var popupBannerId = $(this).closest('.banner-screen').attr('id');
            var bannerPopup = $(this).closest('.container').find('.banner-popup');
            var isThreeSixty = $("." + popupBannerId + "-popup").find(".banner-popup__360view");
            if ($(isThreeSixty).length && !$(isThreeSixty).hasClass("started")) {
                $(isThreeSixty).addClass("started");
                car = $('.car').ThreeSixty({
                    totalFrames: 24,
                    endFrame: 24,
                    currentFrame: 2,
                    imgList: '.threesixty_images',
                    progress: '.spinner',
                    imagePath: 'https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/m/360-images/',
                    filePrefix: '',
                    ext: '.jpg',
                    height: 180,
                    width: 245
                });
            }
            bannerPopup.show();
            recursiveAnimate($('.' + popupBannerId + '-popup .popup-container').children()[0]);
            bannerPopup.find('.' + popupBannerId + '-popup').attr('data-flag', '1').show();
            $('.' + popupBannerId + '-popup img.lazy').lazyload();
            $('body').addClass('lock-browser-scroll');
            window.history.pushState('addPopup', "", "");
        });

        $('.next-popup').on('click', function () {

            popupClose($(this));
            var popupContainer = $(this).closest('.popup-container');

            var popupBannerId = popupContainer.parent().next('div');
            popupBannerId.show();
            $('.banner-popup').show();


            $('.banner-popup').find('.' + popupBannerId.attr('class')).attr('data-flag', '1').show();
            recursiveAnimate($('.' + popupBannerId.attr('class') + ' .popup-container').children()[0]);

            var isThreeSixty = $(popupBannerId).find(".banner-popup__360view");
            if ($(isThreeSixty).length && !$(isThreeSixty).hasClass("started")) {
                $(isThreeSixty).addClass("started");
                car = $('.car').ThreeSixty({
                    totalFrames: 24,
                    endFrame: 24,
                    currentFrame: 2,
                    imgList: '.threesixty_images',
                    progress: '.spinner',
                    imagePath: 'https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/m/360-images/',
                    filePrefix: '',
                    ext: '.jpg',
                    height: 180,
                    width: 245
                });
            }
        });


        $('.prev-popup').on('click', function () {
            var popupContainer = $(this).closest('.popup-container');

            var bannerPopup = $(this).closest('.banner-popup').find("[data-flag = '1']");
            $('.' + bannerPopup.attr('class') + ' .popup-container').find('.banner-element').hide();
            $(this).closest('.banner-popup').toggle();
            bannerPopup.attr('data-flag', '0').hide();

            $('body').removeClass('lock-browser-scroll');




            var popupBannerId = popupContainer.parent().prev('div');
            popupBannerId.show();
            $('.banner-popup').show();


            $('.banner-popup').find('.' + popupBannerId.attr('class')).attr('data-flag', '1').show();
            recursiveAnimate($('.' + popupBannerId.attr('class') + ' .popup-container').children()[0]);
        });
        var totalScreens = 3;

        $(".arrow").on('click', function () {
            var bannerId;
            if ($(this).hasClass("right"))
                bannerId = getNextScreenId();
            else
                bannerId = getPrevScreenId();
            if (bannerId) {
                showBanner(bannerId);
                animateBannerContent(bannerId);
            } else {
                return false;
            }
        });

        function getNextScreenId() {
            var dataScreen = ($(".bg-animation").attr("data-screen") * 1) + 1;
            if (dataScreen <= totalScreens) {
                $(".bg-animation").attr("data-screen", dataScreen);
                return ("banner" + dataScreen);
            }
            else
                return false;
        }

        function getPrevScreenId() {
            var dataScreen = ($(".bg-animation").attr("data-screen") * 1) - 1;
            if (dataScreen > 0) {
                $(".bg-animation").attr("data-screen", dataScreen);
                return ("banner" + dataScreen);
            }
            else
                return false;
        }

        $(window).on("popstate", function (e) {
            if ($('.banner-popup').is(":visible")) {
                popupClose($('.popup-close'));
            }
        });
    });

</script>
<script type="text/javascript" src="@String.Format("{0}/UI/src/threesixty-slider.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)" defer></script>
