@model IEnumerable<Bikewale.Entities.SimilarBikeUserReview>
                <div class="jcarousel-wrapper inner-content-carousel user-reviews-type-carousel">
                    <div class="jcarousel">
                        <ul>
                            @foreach (var bike in Model){
                                        var bikeName = string.Format("{0} {1}", bike.Make.MakeName, bike.Model.ModelName);
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" src="" alt="@bikeName" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">@bikeName</h3>
                                        <span class="rating-badge" data-rate-bg="@Math.Round(bike.OverAllRating)"><span class="bwsprite star-white"></span>@bike.OverAllRating.ToString("0.0").TrimEnd('0', '.')</span>
                                        <span class="font14 text-light-grey inline-block">@string.Format("{0} rating{1}", bike.NumberOfRating, (bike.NumberOfRating > 1 ? "s" : ""))</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                    <span class="jcarousel-control-left">
                        <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                    </span>
                    <span class="jcarousel-control-right">
                        <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                    </span>
                </div>
