@model Bikewale.Models.UserReviews.UserReviewsSearchVM
@using Bikewale.Entities.UserReviews;
@using Bikewale.Utility;
@if (Model != null && Model.ObjQuestionValue != null && Model.ObjQuestionValue.QuestionsList != null)
{
    if (Model.ObjQuestionValue.QuestionsList.Count() > 0)
    {
        <ul class="rating-circle-list margin-bottom15">
            @foreach (var obj in Model.ObjQuestionValue.QuestionsList)
            {
                <li>
                    <div class="rating-circle circle-rate-@(obj.AverageRatingValue.ToString("0"))">
                        <p class="circle-label">@(obj.AverageRatingValue.ToString("0.0"))</p>
                        <span class="rating-progress"></span>
                    </div>
                    <p class="list-item-label">@obj.QuestionHeading</p>
                </li>
            }
        </ul>
    }
}
<ul class="user-review-list">
    @foreach (UserReviewSummary review in Model.UserReviews.Result)
    {
        <li class="list-item padding-top15">
			<div class="padding-right20 padding-left20">
				<div class="margin-bottom10">
					<span class="rating-badge" data-rate-bg="@review.OverallRating.Value">
						<span class="bwmsprite star-white"></span>
						<span>@review.OverallRating.Value</span>
					</span>
					<div class="grid-10-inline font15 text-bold text-truncate">
						<a href="@string.Format("/m/{0}-bikes/{1}/reviews/{2}/", Model.ReviewsInfo.Make.MaskingName, Model.ReviewsInfo.Model.MaskingName, review.ReviewId)" class="text-black">@review.Title</a>
					</div>
				</div>
				<div class="margin-bottom10">
					<span class="font12 text-light-grey">@review.ReviewAge ago by @review.CustomerName.Truncate(25)</span>
				</div>
			</div>
            <div class="collapsible-content toggle-off main-content-off">
                <div class="main-content">
                    <div class="font14 text-slate-grey margin-bottom10">
                        <p>@FormatDescription.TruncateDescription(review.Description, 150)</p>
                        <a href="javascript:void(0)" class="read-more-target upvoteListButton bw-ga" c="Model_Page" a="UserReview_ReadMoreClicked" l="@Model.ReviewsInfo.Model.ModelName" rel="nofollow" data-reviewId="@review.ReviewId" onclick="readMore(event)">Read more</a>
                    </div>
                </div>
                <div class="more-content">
                    <div class="padding-right20 padding-left20 font14 text-slate-grey margin-bottom10">
                        <div class="more-description inline" data-bind="html: $data.description" data-description="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(review.Description)"></div>
                    </div>

                    @if (review.RatingQuestionsCount > 0)
                {
                        <div class="about-reviewer-content">
							<p class="font13 text-grey text-bold">About the reviewer</p>
                            <ul class="about-reviewer-list item-count-@review.RatingQuestionsCount">
                                @foreach (var q in review.Questions.Where(q => q.Type == UserReviewQuestionType.Rating))
                                {
                                    <li>
                                        <span class="bwmsprite questionId-@q.Id"></span>
                                        <p class="item-question">@q.MinHeading</p>
                                        <p class="item-answer">@q.SelectedRatingText</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    <div class="margin-top15 margin-bottom15 padding-right20 padding-left20">

                        <span class="review__question text-light-grey font12">Was this review helpful?</span>

                        <button class="feedback-button" id="upvoteBtn-@review.ReviewId" data-reviewId="@review.ReviewId" onclick="upVoteListReview(event)">
                            <span class="bwmsprite like-sm"></span>
                            Yes
                            (<span id="upvoteCount-@review.ReviewId" class="btn-count review-btn">@Format.FormatNumbers(review.UpVotes)</span>)
                        </button>

                        <button class="feedback-button" id="downvoteBtn-@review.ReviewId" data-reviewId="@review.ReviewId" onclick="downVoteListReview(event)">
                            <span class="bwmsprite dislike-sm"></span>
                            No
                            (<span id="downvoteCount-@review.ReviewId" class="btn-count">@Format.FormatNumbers(review.DownVotes)</span>)
                        </button>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
    }
</ul>
