@model Bikewale.Models.UserReviews.UserReviewsSearchVM
@using Bikewale.Entities.UserReviews;
@using Bikewale.Utility;
@if (Model.UserReviews != null && Model.ReviewsInfo != null && Model.ReviewsInfo.TotalReviews > 0)
{
    <section>
        <div id="modelReviewsListing" class="container content-box-shadow card-bottom-margin" data-readMoreCount="0" data-userReviewsReadCount="@Model.ReviewsReadPerSession">
            <h2 class="h2-heading padding-top15 padding-right20 padding-left20">@Model.WidgetHeading</h2>
            <div id="overallSpecsTopContent" class="bg-white position-rel user-review-tabs">
                <div id="overallSpecsTab" class="overall-specs-tabs-container">
                    <ul class="overall-specs-tabs-wrapper">
                        <li class="@(Model.ActiveReviewCategory.Equals(FilterBy.MostRecent)?"":"active")" data-category="2" data-page-num="1" data-count="@Model.ReviewsInfo.MostHelpfulReviews" data-bind="click: function(d,e){ toggleReviewList(e);}">Most Helpful (@Model.ReviewsInfo.MostHelpfulReviews)</li>
                        <li class="@(Model.ActiveReviewCategory.Equals(FilterBy.MostRecent)?"active":"")" data-category="1" data-page-num="1" data-count="@Model.ReviewsInfo.MostRecentReviews" data-bind="click: function(d,e){ toggleReviewList(e);}">Most Recent (@Model.ReviewsInfo.MostRecentReviews)</li>
                        <li data-cattypes="1,2,3" data-category="6" data-page-num="1" data-count="@Model.ReviewsInfo.NegativeReviews" data-bind="click: function(d,e){ toggleReviewList(e);}">Critical (@Model.ReviewsInfo.NegativeReviews)</li>
                        <li data-cattypes="4,5" data-category="5" data-page-num="1" data-count="@Model.ReviewsInfo.PostiveReviews" data-bind="click: function(d,e){ toggleReviewList(e);}">Positive (@Model.ReviewsInfo.PostiveReviews)</li>
                    </ul>
                </div>
            </div>

            <div style="display: none" class="padding-top15 padding-bottom15 margin-right20 margin-left20 border-solid-bottom" data-bind="visible: (activeReviewCategory() == 5 || activeReviewCategory() == 6 || activeReviewCategory() == 7) && reviewsAvailable()">
                <span class="bwmsprite info-sm"></span>
                <span class="grid-11-inline font13 text-light-grey">Reviews are sorted on the basis of helpfulness</span>
            </div>
            <!-- ko if : activeReviewList() && activeReviewList().length > 0 -->
            <div style="display: @(Model.Pager != null && Model.Pager.TotalResults > 0 ? "block" : "none")" data-bind="visible: reviewsAvailable()">
                <ul class="user-review-list" data-bind="visible : (!noReviews() && TotalReviews() !== 0), css: IsLoading() ? 'loader-active' : ''">
                    @{ushort i = 0;}
                    @if (Model.UserReviews.Result != null && Model.UserReviews.Result.Any())
                    {
                        foreach (UserReviewSummary review in Model.UserReviews.Result)
                        {
                            if (@i == 0)
                            {
                                <!-- ko foreach: activeReviewList() -->
                            }
                            <li class="list-item padding-top15 padding-bottom15">
                                <div class="padding-right20 padding-left20">
                                    <div class="margin-bottom10">
                                        <!-- ko with: $data.overallRating -->
                                        <span class="rating-badge" data-rate-bg="@review.OverallRating.Value" data-bind="attr: {'data-rate-bg': id }">
                                            <span class="bwmsprite star-white"></span>
                                            <span data-bind="text: value">@review.OverallRating.Value</span>
                                        </span>
                                        <!-- /ko -->
                                        <div class="grid-10-inline font15 text-black text-bold text-truncate">

                                            <a onclick="logBhrighu(event, 'TitleClick')" data-id="@i" data-reviewid="@review.ReviewId" href="/m@(review.ReviewUrl)" data-bind="attr : {'data-reviewId': $data.reviewId, 'title' : $data.title,'href' : '/m' + $data.reviewUrl}"> <span class="review-title position-rel" data-bind="text:$data.title">@review.Title</span></a>
                                        </div>
                                    </div>

                                    <div class="margin-bottom10">
                                        <span class="font12 text-light-grey" data-bind="text: $data.reviewAge + ' ago by ' + $data.customerName">@review.ReviewAge ago by @review.CustomerName.Truncate(25)</span>
                                    </div>
                                </div>
                                <div class="collapsible-content toggle-off main-content-off" data-bind="attr: {'data-reviewId': $data.reviewId }">
                                    <div class="main-content">
                                        <div class="font14 text-slate-grey">
                                            <p data-bind="truncatedText: $data.sanitizedDescription" data-trimlength="150">@string.Format("{0}...", review.SanitizedDescription)</p>
                                            <a href="javascript:void(0)" class="read-more-target upvoteListButton" rel="nofollow" data-bind="click: function (data, event) { return $parent.readMore(event);}, attr: {'data-reviewId': $data.reviewId }" data-reviewid="@review.ReviewId" data-id="@i">Read more</a>
                                        </div>
                                    </div>
                                    <div class="more-content">
                                        <div class="font14 text-slate-grey padding-right20 padding-left20 margin-bottom15" data-bind="html: $data.description">@Html.Raw(review.Description)</div>

                                        @if (review.RatingQuestionsCount > 0)
                                        {
                                            <div class="about-reviewer-content margin-bottom15" data-bind="visible: !$root.IsInitialized()">
                                                <p class="text-grey text-bold">About the reviewer</p>
                                                <ul class="about-reviewer-list item-count-@review.RatingQuestionsCount">
                                                    @foreach (var q in review.Questions.Where(q => q.Type == UserReviewQuestionType.Rating))
                                                    {
                                                        <li>
                                                            <span class="bwmsprite questionId-@q.Id"></span>
                                                            <p class="item-question">@q.MinHeading</p>
                                                            <p class="item-answer">@q.SelectedRatingText</p>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }

                                        <!-- ko if : $data && $data.questions && $data.questions.length > 0 -->
                                        <div class="about-reviewer-content margin-bottom15 hide" data-bind="css: ($data.ratingQuestionsCount > 0) ? 'show' : '' ">
                                            <p class="text-grey text-bold">About the reviewer</p>
                                            <ul data-bind="css: 'about-reviewer-list item-count-' +  $data.ratingQuestionsCount ">
                                                <!-- ko foreach: $data.questions -->
                                                <!-- ko if : $data.qtype == 1 -->
                                                <li>
                                                    <span data-bind="css: 'bwmsprite questionId-' +  $data.qId "></span>
                                                    <p class="item-question" data-bind="text: $data.minHeading"> </p>
                                                    <p class="item-answer" data-bind="text: $data.selectedRatingText"> </p>
                                                </li>
                                                <!-- /ko -->
                                                <!-- /ko -->
                                            </ul>
                                        </div>
                                        <!-- /ko -->


                                        <div class="padding-right20 padding-left20">

                                            <span class="review__question text-light-grey font12">Was this review helpful?</span>

                                            <button class="feedback-button" id="upvoteBtn-@review.ReviewId" data-reviewid="@review.ReviewId" data-bind="attr: {id: 'upvoteBtn-' + $data.reviewId, 'data-reviewId': $data.reviewId }" onclick="upVoteListReview(event)">
                                                <span class="bwmsprite like-sm"></span>
                                                Yes
                                                (<span id="upvoteCount-@review.ReviewId" class="btn-count review-btn" data-bind="attr: { id: 'upvoteCount-' + $data.reviewId}, formattedVotes : $data.upVotes">@Format.FormatNumbers(review.UpVotes)</span>)
                                            </button>


                                            <button class="feedback-button" id="downvoteBtn-@review.ReviewId" data-reviewid="@review.ReviewId" data-bind="attr: { id: 'downvoteBtn-' + $data.reviewId, 'data-reviewId': $data.reviewId }" onclick="downVoteListReview(event)">
                                                <span class="bwmsprite dislike-sm"></span>
                                                No
                                                (<span id="downvoteCount-@review.ReviewId" class="btn-count" data-bind="attr: { id: 'downvoteCount-' + $data.reviewId}, formattedVotes : $data.downVotes">@Format.FormatNumbers(review.DownVotes)</span>)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear insertWidget" data-bind="attr: {'data-reviewId': $data.reviewId }"></div>
                            </li>
                            if (@i == 0)
                            {
                                <!-- /ko -->
                            }
                            i++;
                        }
                    }
                   

                </ul>

                @if (Model.IsPagerNeeded && ((Model.Pager.PageNo - 1) * Model.Pager.PageSize + 1) < Model.Pager.TotalResults)
                {
                    <div class="padding-right20 padding-bottom10 padding-left20" data-bind="visible : !noReviews() && TotalReviews() != 0 && Pagination().paginated() > 0" style="display: @(Model.Pager!=null && Model.Pager.TotalResults > 0 ? "block" : "none")">
                        <div class="footer-pagination font14 border-solid-top padding-top10">
                            <div class="grid-5 alpha omega text-light-grey pagination-review-count" data-bind="visible: TotalReviews() > 0">
                                <p>
                                    <span class="text-bold" data-bind="CurrencyText: (Pagination().pageNumber() - 1) * Pagination().pageSize() + 1">@((Model.Pager.PageNo - 1) * Model.Pager.PageSize + 1)</span>-
                                    <span class="text-bold" data-bind="CurrencyText: Math.min(TotalReviews(), Pagination().pageNumber() * Pagination().pageSize())">@Math.Min(Model.Pager.PageNo * Model.Pager.PageSize, Model.Pager.TotalResults)</span> of
                                    <span class="text-bold" data-bind="CurrencyText: TotalReviews()">@Model.Pager.TotalResults</span> reviews
                                </p>
                            </div>
                            @if (Model.Pager.TotalResults > 8)
                            {
                                Html.RenderAction("Index", "Pager", new { objPager = Model.Pager });
                            }
                            <div class="clear"></div>
                        </div>
                    </div>
                }
                else if (!Model.IsPagerNeeded)
                {
                    <div class="view-all-btn-container margin-left20 padding-bottom20">
                        <a title="Read more reviews" class="bw-ga btn view-all-target-btn" href="@string.Format("/m/{0}-bikes/{1}/reviews/", Model.ReviewsInfo.Make.MaskingName, Model.ReviewsInfo.Model.MaskingName)">Read more reviews<span class="bwmsprite teal-right"></span></a>
                    </div>
                }
            </div>
            <!-- /ko -->
            <!-- ko ifnot :  activeReviewList() && activeReviewList().length > 0 -->
            <div class="content-inner-block-20 text-center" style="display: @(Model.Pager!=null && Model.Pager.TotalResults > 0 ? "none" : "block")" data-bind="visible: !reviewsAvailable()">
                <div class="circle-placeholder">
                    <span class="bwmsprite review-lg margin-top25"></span>
                </div>
                <p class="font14 text-light-grey">
                    There are no
                    <span data-bind="text: categoryName"></span> reviews for this bike
                </p>
            </div>
            <!-- /ko -->
            <div id="listingFooter"></div>
            <div id="sort-filters-loader" style="display: none;" data-bind="visible : IsLoading()">
                <div class="cover-popup-loader"></div>
            </div>

        </div>
    </section>
                        }
                        else
                        {
                            <section>
                                <div class="container content-box-shadow card-bottom-margin">
                                    <h2 class="h2-heading padding-15-20 content-box-shadow">Reviews on @Model.BikeName</h2>
                                    <div class="content-inner-block-20 text-center">
                                        <div class="circle-placeholder">
                                            <span class="bwmsprite write-icon margin-top25"></span>
                                        </div>
                                        <p class="font14 text-light-grey margin-bottom15">There are no reviews for this bike. Be the first one to share your experience.</p>
                                        <a href="/m/rate-your-bike/@Model.ModelId/?q=@Model.WriteReviewLink" class="btn btn-white btn-auto-32">Write a review</a>
                                    </div>
                                </div>
                            </section>
                        }
