@model Bikewale.Models.UserReviews.UserReviewsSearchVM
@using Bikewale.Entities.UserReviews;
@using Bikewale.Utility;
@if (Model != null && Model.ObjQuestionValue != null && Model.ObjQuestionValue.QuestionsList != null)
{
    if (Model.ObjQuestionValue.QuestionsList.Count() > 0)
    {
        <ul class="rating-circle-list">
            @foreach (var obj in Model.ObjQuestionValue.QuestionsList)
            {
                <li>
                    <div class="rating-circle circle-rate-@(obj.AverageRatingValue.ToString("0"))">
                        <p class="circle-label">@(obj.AverageRatingValue.ToString("0.0"))</p>
                        <span class="rating-progress"></span>
                    </div>
                    <p class="list-item-label">@obj.QuestionHeading</p>
                </li>
            }
        </ul>
    }
}
<ul class="user-review-list">
    @foreach (UserReviewSummary review in Model.UserReviews.Result)
    {
        <li class="list-item padding-top15">
            <div class="margin-bottom10">
                <span class="rating-badge" data-rate-bg="@review.OverallRating.Value">
                    <span class="bwmsprite star-white"></span>
                    <span>@review.OverallRating.Value</span>
                </span>
                <div class="grid-10-inline font15 text-black text-bold text-truncate">
                    <a href="@string.Format("/m/{0}-bikes/{1}/reviews/{2}/", Model.ReviewsInfo.Make.MaskingName, Model.ReviewsInfo.Model.MaskingName, review.ReviewId)"><span>@review.Title</span></a>
                </div>
            </div>
            <div class="margin-bottom10">
                <span class="font12 text-light-grey">@review.ReviewAge ago by @review.CustomerName.Truncate(25)</span>
            </div>
            <div class="collapsible-content toggle-off main-content-off">
                <div class="main-content">
                    <div class="font14 text-slate-grey margin-bottom10">
                        <p>@FormatDescription.TruncateDescription(review.Description, 150)</p>
                        <a href="javascript:void(0)" class="read-more-target upvoteListButton" rel="nofollow" data-reviewId="@review.ReviewId" onclick="updateView(event)">Read more</a>
                    </div>
                </div>
                <div class="more-content">
                    <div class="font14 text-slate-grey margin-bottom10">
                        <p class="inline" data-bind="html: $data.description">@Html.Raw(review.Description)</p>
                    </div>

                    <div class="grid-10-inline font15 text-grey text-bold text-truncate">
                        About the reviewer
                    </div>

                    @if (review.RatingQuestionsCount > 0)
                {
                        <div class="bg-light position-rel top3">
                            <ul class="about-reviewer-list item-count-@review.RatingQuestionsCount">
                                @foreach (var q in review.Questions.Where(q => q.Type == UserReviewQuestionType.Rating))
                                {
                                    <li>
                                        <span class="bwmsprite questionId-@q.Id"></span>
                                        <p class="item-question">@q.MinHeading</p>
                                        <p class="item-answer">@q.SelectedRatingText</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="grid-12 alpha inline-block margin-bottom10">

                        <span class="review__question">Was this review helpful?</span>

                        <button class="feedback-button" id="upvoteBtn-@review.ReviewId" data-reviewId="@review.ReviewId" onclick="upVoteListReview(event)">
                            <span class="bwmsprite like-sm"></span>
                            Yes
                            (<span id="upvoteCount-@review.ReviewId" class="btn-count review-btn">@Format.FormatNumbers(review.UpVotes)</span>)
                        </button>


                        <button class="feedback-button" id="downvoteBtn-@review.ReviewId" data-reviewId="@review.ReviewId" onclick="downVoteListReview(event)">
                            <span class="bwmsprite dislike-sm"></span>
                            No
                            (<span id="downvoteCount-@review.ReviewId" class="btn-count">
                               @Format.FormatNumbers(review.DownVotes)
                            </span>)
                        </button>
                    </div>
                    @*<div class="grid-7 alpha">
                        <span>Was this review helpful?</span>
                        <div class="item-stats-grid">
                            <button id="upvoteBtn-@review.ReviewId" data-reviewId="@review.ReviewId" onclick="upVoteListReview(event)">Yes</button>
                            <span id="upvoteCount-@review.ReviewId" class="btn-count">@Format.FormatNumbers(review.UpVotes)</span>
                        </div>
                        <div class="item-stats-grid">
                            <button id="downvoteBtn-@review.ReviewId" data-reviewId="@review.ReviewId" onclick="downVoteListReview(event)">No</button>
                            <span id="downvoteCount-@review.ReviewId" class="btn-count">@Format.FormatNumbers(review.DownVotes)</span>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="clear"></div>
        </li>
    }
</ul>
