@model Bikewale.Models.UserReviews.UserReviewListingVM
@using Bikewale.Utility;
@using Bikewale.Entities.UserReviews;
@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/src/user-review/listing.js";
    Model.AdTags.AdPath = "/1017752/Bikewale_Desktop_UserReviews";
    Model.AdTags.AdId = "1493795506249";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90BTF = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && Model.RatingsInfo != null)
{
    <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <meta itemprop="ratingValue" content="@Model.RatingsInfo.OverallRating.ToString("0.0").TrimEnd('0', '.')">
        <meta itemprop="worstRating" content="1">
        <meta itemprop="bestRating" content="5">
        <meta itemprop="itemreviewed" content="@Model.BikeName" />
        <meta itemprop="ratingCount" content="@Model.RatingsInfo.TotalRatings" />
    </span>
}

<input type="hidden" value="@Model.ModelId" id="hdnModelId" />
<section class="padding-top10" id="breadcrumb">
    <div class="container">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="/@Model.RatingsInfo.Make.MaskingName-bikes/" itemprop="url">
                            <span itemprop="title">@Model.RatingsInfo.Make.MakeName Bikes</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="@UrlFormatter.BikePageUrl(Model.RatingsInfo.Make.MaskingName, Model.RatingsInfo.Model.MaskingName)" itemprop="url">
                            <span itemprop="title">@Model.BikeName</span>
                        </a>
                    </li>
                    <li>
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span>User Reviews</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow">
                <h1 class="content-box-shadow padding-15-20">@Model.BikeName User Reviews</h1>
                <div class="padding-20-10">
                    <div class="grid-7 border-grey-right">
                        <div class="overall-rating-box content-inner-block-20 inline-block text-center">
                            <p class="font12 margin-bottom10">Overall rating:</p>
                            <div class="margin-bottom10 rate-count-@Math.Round(Model.RatingsInfo.OverallRating)">
                                <span class="bwsprite star-icon"></span>
                                <span class="font26 text-bold inline-block">@Model.RatingsInfo.OverallRating.ToString("0.0").TrimEnd('0', '.')</span>
                            </div>
                            <div class="font12 text-slate-grey border-grey-top padding-top10">
                                @if (Model.IsRatingsAvailable)
                                {
                                    <span class="margin-bottom5">@Model.RatingsInfo.TotalRatings @(Model.RatingsInfo.TotalRatings > 1 ? "ratings" : "rating")</span>
                                }
                                @if (Model.IsReviewsAvailable)
                                {
                                    <span class="review-left-divider">@Model.RatingsInfo.TotalReviews @(Model.RatingsInfo.TotalReviews > 1 ? "reviews" : "review")</span>
                                }
                            </div>
                        </div>
                        <div class="grid-7-inline">
                            <ul class="horizontal-rating-graph">
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;5&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.FiveStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-5"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;@Model.RatingsInfo.FiveStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;4&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.FourStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-4"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;@Model.RatingsInfo.FourStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;3&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.ThreeStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-3"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;@Model.RatingsInfo.ThreeStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;2&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.TwoStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-2"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;@Model.RatingsInfo.TwoStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;1&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.OneStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-1"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;@Model.RatingsInfo.OneStarRatings</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="grid-5 padding-left20 model-card-details">
                        <a href="@UrlFormatter.BikePageUrl(Model.RatingsInfo.Make.MaskingName,Model.RatingsInfo.Model.MaskingName)" title="" @Model.BikeName Reviews" class="left-grid-image vertical-top position-rel pos-top5">
                            <img src="@Image.GetPathToShowImages(Model.RatingsInfo.OriginalImagePath,Model.RatingsInfo.HostUrl,ImageSize._110x61,QualityFactor._65)" alt="@Model.BikeName Reviews">
                        </a>
                        <div class="right-grid-details vertical-top">
                            <h2 class="margin-bottom5 font15 text-default">
                                <a href="@(UrlFormatter.BikePageUrl(Model.RatingsInfo.Make.MaskingName,Model.RatingsInfo.Model.MaskingName))" title="@Model.BikeName" class="text-black">@Model.BikeName</a>
                            </h2>
                            <p class="font14 text-light-grey"> @(Model.ReviewsInfo.IsDiscontinued ? "Last known " : "") Ex-showroom, @BWConfiguration.Instance.DefaultName</p>
                            <span class="bwsprite inr-lg"></span>
                            <span class="font18 text-bold">@Format.FormatNumeric(Model.RatingReviewData.Price.ToString())</span>
                        </div>
                        <div id="bike-rating-box1" class="share-rating-grid border-grey-top margin-top20 padding-top20">
                            <p class="font16 text-bold text-black leftfloat line-height25">Share your rating</p>
                            <div class="answer-star-list hover-effect rightfloat">
                                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=5&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" id="share-rate-5" name="share-rate" value="5">
                                <label class="bwsprite star-0" for="share-rate-5" data-value="5"></label>
                                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=4&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" id="share-rate-4" name="share-rate" value="4">
                                <label class="bwsprite star-0" for="share-rate-4" data-value="4"></label>
                                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=3&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" id="share-rate-3" name="share-rate" value="3">
                                <label class="bwsprite star-0" for="share-rate-3" data-value="3"></label>
                                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=2&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" id="share-rate-2" name="share-rate" value="2">
                                <label class="bwsprite star-0" for="share-rate-2" data-value="2"></label>
                                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=1&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" id="share-rate-1" name="share-rate" value="1">
                                <label class="bwsprite star-0" for="share-rate-1" data-value="1"></label>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div id="modelReviewsListing" class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20">
                <h2 class="h2-heading padding-left20">Reviews on Pulsar RS200</h2>
                <div id="overallTabsWrapper" class="overall-tabs user-review-tabs position-rel">
                    <div id="overallSpecsTab" class="overall-specs-tabs-container">
                        <div class="overall-specs-tabs-wrapper">
                            <a href="javascript:void(0)" class="active" data-category="2" data-page-num="1" data-count="26" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Helpful (26)</a>
                            <a href="javascript:void(0)" data-category="1" data-page-num="1" data-count="16" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Recent (16)</a>
                            <a href="javascript:void(0)" data-category="5" data-page-num="1" data-count="0" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Positive (0)</a>
                            <a href="javascript:void(0)" data-category="6" data-page-num="1" data-count="7" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Negative (7)</a>
                            <a href="javascript:void(0)" data-category="7" data-page-num="1" data-count="8" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Neutral (8)</a>
                        </div>
                    </div>
                </div>
                @*<p class="padding-top15 padding-bottom15 margin-right20 margin-left20 border-grey-bottom">
                        <span class="bwsprite info-sm margin-right5"></span>
                        <span class="font13 text-light-grey inline-block">Reviews are sorted on the basis of helpfulness</span>
                    </p>*@
                <div data-bind="visible: reviewsAvailable()">
                    <ul class="user-review-list">
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <div class="more-content">
                                        <p>
                                            If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                        </p>
                                        <ul class="rating-circle-list">
                                            <li>
                                                <div class="rating-circle circle-rate-1">
                                                    <p class="circle-label">1</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Visual appeal</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-2">
                                                    <p class="circle-label">2</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Handling</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-3">
                                                    <p class="circle-label">3</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Ride quality</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-4">
                                                    <p class="circle-label">4</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Value for money</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-5">
                                                    <p class="circle-label">5</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Service cost</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>

                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <p class="report-abuse-label rightfloat line-height26">Inappropriate review? <a href="javascript:void(0)" id="btnReportClick" rel="nofollow">Report Abuse</a></p>
                                <div class="clear"></div>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>

                    <div class="padding-right20 padding-bottom10 padding-left20">
                        <div class="footer-pagination font14 border-solid-top padding-top10">
                            <div class="grid-5 alpha omega text-light-grey">
                                <p><span class="text-bold">1</span>-<span class="text-bold">10</span>&nbsp;of&nbsp;<span class="text-bold">100</span>&nbsp;reviews</p>
                            </div>
                            <div id="pagination-list-content" class="grid-7 alpha omega position-rel rightfloat pagination-list-content">
                                <ul id="pagination-list" class="pagination-list">
                                    <li class="active">
                                        <a href="">1</a>
                                    </li>
                                    <li>
                                        <a href="">2</a>
                                    </li>
                                    <li>
                                        <a href="">3</a>
                                    </li>
                                    <li>
                                        <a href="">4</a>
                                    </li>
                                    <li>
                                        <a href="">5</a>
                                    </li>
                                </ul>
                                <span class="pagination-control-prev inactive">
                                    <a href="" class="bwmsprite bwsprite prev-page-icon"></a>
                                </span>
                                <span class="pagination-control-next">
                                    <a href="" class="bwmsprite bwsprite next-page-icon"></a>
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <div class="content-inner-block-20 text-center" data-bind="visible: !reviewsAvailable()">
                    <div class="circle-placeholder-80">
                        <span class="bwsprite review-lg margin-top25"></span>
                    </div>
                    <p class="font14 text-light-grey margin-top20">There are no <span data-bind="text: categoryName"></span> reviews for this bike</p>
                </div>

                <div id="listingFooter"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@*
    <section>
        <div class="container card-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <h2 class="h2-heading padding-15-20 content-box-shadow">Reviews on Pulsar RS200</h2>
                    <div class="content-inner-block-20 text-center">
                        <div class="circle-placeholder-80">
                            <span class="bwsprite write-icon margin-top20"></span>
                        </div>
                        <p class="font14 text-light-grey margin-top20 margin-bottom15">There are no reviews for this bike. Be the first one to share your experience.</p>
                        <a href="" class="btn btn-white btn-auto-32">Write a review</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
*@

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div id="bike-rating-box2" class="content-box-shadow rate-bike-slug content-inner-block-20">
                <div class="leftfloat">
                    <div class="circle-placeholder-60 inline-block">
                        <span class="bwsprite star-1 margin-top15"></span>
                    </div>
                    <p class="font18 text-black text-bold inline-block margin-left20 margin-right15">Rate your bike</p>
                    <p class="font14 text-slate-grey inline-block">Share your experience about this bike</p>
                </div>
                <div class="rightfloat padding-top15 answer-star-list hover-effect">
                    <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=5&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" name="rate-bikestar" id="rate-bikestar-5" value="5">
                    <label class="bwsprite star-0" for="rate-bikestar-5" data-value="5"></label>
                    <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=4&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" name="rate-bikestar" id="rate-bikestar-4" value="4">
                    <label class="bwsprite star-0" for="rate-bikestar-4" data-value="4"></label>
                    <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=3&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" name="rate-bikestar" id="rate-bikestar-3" value="3">
                    <label class="bwsprite star-0" for="rate-bikestar-3" data-value="3"></label>
                    <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=2&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" name="rate-bikestar" id="rate-bikestar-2" value="2">
                    <label class="bwsprite star-0" for="rate-bikestar-2" data-value="2"></label>
                    <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=1&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Listing))" type="radio" name="rate-bikestar" id="rate-bikestar-1" value="1">
                    <label class="bwsprite star-0" for="rate-bikestar-1" data-value="1"></label>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@if (Model.ExpertReviews != null && Model.ExpertReviews.ArticlesList != null && Model.ExpertReviews.ArticlesList.Count() > 0)
{
<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 article-list font14">
                <h2 class="h2-heading margin-bottom20 margin-left10">@Model.ExpertReviews.Title</h2>
                @Html.Partial("~/views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)
                <div class="padding-left10 more-article-target view-all-btn-container">
                    <a href="@Model.ExpertReviews.MoreExpertReviewUrl" title="@string.Format("{0} {1} Expert Reviews", Model.RatingsInfo.Make.MakeName, Model.RatingsInfo.Model.ModelName)" class="btn view-all-target-btn">
                        Read all expert reviews<span class="bwsprite teal-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
}
@if (Model.SimilarBikeReviewWidget != null && Model.SimilarBikeReviewWidget.Count() > 0)
{
<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-bottom20">
                <div class="carousel-heading-content padding-top20">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2 class="h2-heading">Reviews of similar bikes</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="/user-reviews/" title="@string.Format("{0} {1} User Reviews", Model.RatingsInfo.Make.MakeName, Model.RatingsInfo.Model.ModelName)" class="btn view-all-target-btn">View all</a>
                    </div>
                </div>
                @Html.Partial("~/views/UserReview/_SimilarBikeUserReview.cshtml", Model.SimilarBikeReviewWidget)
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
    }

<div id="report-abuse">
    <p class="font20 text-bold text-center margin-bottom20">Why do you want to report it abuse?</p>

    <div class="report-abuse-close-btn position-abt pos-top10 pos-right10 bwsprite cross-lg-lgt-grey cur-pointer"></div>

    <p class="margin-bottom10 font14">Comment</p>

    <textarea id="txtAbuseComments"></textarea>
    <span id="spnAbuseComments" class="error font12 text-red"></span>

    <div class="text-center margin-top10">
        <a id="btnReportReviewAbuse" class="btn btn-orange" rel="nofollow">Report</a>
    </div>
</div>
<div id="report-background"></div>
