@model Bikewale.Models.UserReviews.UserReviewListingVM
@using Bikewale.Utility;
@{
    ViewBag.Title = "ListReviews_Mobile";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/m/src/user-review/listing.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    <div class="container content-box-shadow card-bottom-margin">
        <h1 class="font20 padding-15-20 content-box-shadow">@Model.BikeName user reviews</h1>
        <div class="padding-15-20">
            <a href="/m@(Bikewale.Utility.UrlFormatter.BikePageUrl(Model.RatingsInfo.Make.MaskingName,Model.RatingsInfo.Model.MaskingName))" title="@Model.BikeName Reviews" class="left-grid-image inline-block">
                <img src="@Image.GetPathToShowImages(Model.RatingsInfo.OriginalImagePath,Model.RatingsInfo.HostUrl,ImageSize._110x61,QualityFactor._65)" alt="@Model.BikeName Reviews" />
            </a>
            <div class="right-grid-details inline-block">
                <h2 class="margin-bottom5 font12">
                    <a href="/m@(Bikewale.Utility.UrlFormatter.BikePageUrl(Model.RatingsInfo.Make.MaskingName,Model.RatingsInfo.Model.MaskingName))" class="text-black">@Model.BikeName</a>
                </h2>
                <p class="font11 text-light-grey">Ex-showroom, @BWConfiguration.Instance.DefaultName</p>
                <span class="bwmsprite inr-xsm-icon"></span>
                <span class="font16 text-bold">@Format.FormatPrice(Model.RatingReviewData.Price.ToString())</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content-box-shadow card-bottom-margin content-inner-block-20">
        <div class="grid-5-inline padding-right15">
            <div class="overall-rating-box text-center">
                <div class="table-cell">
                    <p class="font12 text-default margin-bottom10">Overall rating:</p>
                    <div class="margin-bottom10 rate-count-5">
                        <span class="bwmsprite star-icon"></span>
                        <span class="font26 text-bold inline-block">@Model.RatingsInfo.OverallRating.ToString("0.0")</span>
                    </div>
                    <div class="font12 text-slate-grey border-light-top padding-top10">
                        @if(Model.IsRatingsAvailable)
                        {
                        <p class="margin-bottom5">@Model.RatingsInfo.TotalRatings ratings</p>
                        }
                        @if (Model.IsReviewsAvailable)
                        {
                        <p>@Model.RatingsInfo.TotalReviews reviews</p>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="grid-7-inline">
            <ul class="horizontal-rating-graph margin-neg5">
                <li>
                    <span class="bwmsprite star-0"></span>
                    <span class="star-label">5</span>
                    <span class="graph-bar-bg">
                        <span style="width: @(Model.RatingsInfo.FiveStarRatings * 100 / Model.RatingsInfo.TotalRatings)%" class="rating-bar bg-rate-5"></span>
                    </span>
                    <span class="graph-bar-count">@Model.RatingsInfo.FiveStarRatings</span>
                </li>
                <li>
                    <span class="bwmsprite star-0"></span>
                    <span class="star-label">4</span>
                    <span class="graph-bar-bg">
                        <span style="width: @(Model.RatingsInfo.FourStarRatings * 100 / Model.RatingsInfo.TotalRatings)%" class="rating-bar bg-rate-4"></span>
                    </span>
                    <span class="graph-bar-count">@Model.RatingsInfo.FourStarRatings</span>
                </li>
                <li>
                    <span class="bwmsprite star-0"></span>
                    <span class="star-label">3</span>
                    <span class="graph-bar-bg">
                        <span style="width: @(Model.RatingsInfo.ThreeStarRatings * 100 / Model.RatingsInfo.TotalRatings)%" class="rating-bar bg-rate-3"></span>
                    </span>
                    <span class="graph-bar-count">@Model.RatingsInfo.ThreeStarRatings</span>
                </li>
                <li>
                    <span class="bwmsprite star-0"></span>
                    <span class="star-label">2</span>
                    <span class="graph-bar-bg">
                        <span style="width: @(Model.RatingsInfo.TwoStarRatings * 100 / Model.RatingsInfo.TotalRatings)%" class="rating-bar bg-rate-2"></span>
                    </span>
                    <span class="graph-bar-count">@Model.RatingsInfo.TwoStarRatings</span>
                </li>
                <li>
                    <span class="bwmsprite star-0"></span>
                    <span class="star-label">1</span>
                    <span class="graph-bar-bg">
                        <span style="width: @(Model.RatingsInfo.OneStarRatings * 100 / Model.RatingsInfo.TotalRatings)%" class="rating-bar bg-rate-1"></span>
                    </span>
                    <span class="graph-bar-count">@Model.RatingsInfo.OneStarRatings</span>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container content-box-shadow card-bottom-margin content-inner-block-20">
        <p class="font16 text-black text-bold inline-block margin-right15">Rate this bike now</p>
        <div class="answer-star-list inline-block">
            <input type="radio" id="rate-star-5" name="rate-bike" value="5">
            <label class="bwmsprite star-0" for="rate-star-5" data-value="5"></label>
            <input type="radio" id="rate-star-4" name="rate-bike" value="4">
            <label class="bwmsprite star-0" for="rate-star-4" data-value="4"></label>
            <input type="radio" id="rate-star-3" name="rate-bike" value="3">
            <label class="bwmsprite star-0" for="rate-star-3" data-value="3"></label>
            <input type="radio" id="rate-star-2" name="rate-bike" value="2">
            <label class="bwmsprite star-0" for="rate-star-2" data-value="2"></label>
            <input type="radio" id="rate-star-1" name="rate-bike" value="1">
            <label class="bwmsprite star-0" for="rate-star-1" data-value="1"></label>
        </div>
    </div>
</section>




<section>
    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
        <div class="carousel-heading-content">
            <div class="swiper-heading-left-grid inline-block">
                <h2 class="h2-heading">Expert Reviews on Honda CB Shine</h2>
            </div>
            <div class="swiper-heading-right-grid inline-block text-right">
                <a href="" title="" class="btn view-all-target-btn">View all</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="swiper-container card-container article-type-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//144x81//bw/ec/26957/Honda-CB-Shine-Front-threequarter-89848.jpg" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="text-black margin-bottom5">Honda CB Shine crosses 50 lakh milestone</h3>

                                <div class="grid-6 alpha padding-right5">
                                    <span class="bwmsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Feb 05, 2017</span>
                                </div>
                                <div class="grid-6 alpha omega">
                                    <span class="bwmsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">BikeWale Team</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//144x81//bw/ec/26957/Honda-CB-Shine-Front-threequarter-89848.jpg" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="text-black margin-bottom5">Honda CB Shine crosses 50 lakh milestone</h3>

                                <div class="grid-6 alpha padding-right5">
                                    <span class="bwmsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Feb 05, 2017</span>
                                </div>
                                <div class="grid-6 alpha omega">
                                    <span class="bwmsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">BikeWale Team</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//144x81//bw/ec/26957/Honda-CB-Shine-Front-threequarter-89848.jpg" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="text-black margin-bottom5">Honda CB Shine crosses 50 lakh milestone</h3>

                                <div class="grid-6 alpha padding-right5">
                                    <span class="bwmsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Feb 05, 2017</span>
                                </div>
                                <div class="grid-6 alpha omega">
                                    <span class="bwmsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">BikeWale Team</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
        <div class="carousel-heading-content">
            <div class="swiper-heading-left-grid inline-block">
                <h2 class="h2-heading">Reviews of similar bikes</h2>
            </div>
            <div class="swiper-heading-right-grid inline-block text-right">
                <a href="" title="" class="btn view-all-target-btn">View all</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="swiper-container card-container user-reviews-type-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//310x174//bw/models/hero-passion-pro-kick-spoke-756.jpg?" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Hero Passion PRO i3s</h3>
                                <span class="rating-badge bg-rate-4">
                                    <span class="bwmsprite star-white"></span>4
                                </span>
                                <span class="font12 text-light-grey inline-block">23 ratings</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//310x174//bw/models/hero-passion-pro-kick-spoke-756.jpg?" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Hero Passion PRO i3s</h3>
                                <span class="rating-badge bg-rate-3">
                                    <span class="bwmsprite star-white"></span>3
                                </span>
                                <span class="font12 text-light-grey inline-block">23 ratings</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//310x174//bw/models/hero-passion-pro-kick-spoke-756.jpg?" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Hero Passion PRO i3s</h3>
                                <span class="rating-badge bg-rate-2">
                                    <span class="bwmsprite star-white"></span>2
                                </span>
                                <span class="font12 text-light-grey inline-block">23 ratings</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>