@model Bikewale.Models.UserReviewRatingVM
@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/user-review/write-review.css' inline />";
    Model.Page_JS_Path = "/src/user-review/write-review.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.ExcludeContestSlug = true;
    Model.PageMetaTags.AlternateUrl = string.Format("https://www.bikewale.com/m/rate-your-bike/{0}/", Model.objModelEntity.ModelId);
    string gaLabel = string.Format("{0}_{1}_{2}", Model.objModelEntity.MakeBase.MakeName, Model.objModelEntity.ModelName, Model.SourceId);
}
<section class="container padding-top10">
    <div class="grid-12">
        <div class="breadcrumb margin-bottom15">
            <ul>
                <li>
                    <a class="breadcrumb-link" href="/" title="Home">
                        <span class="breadcrumb-link__label">Home</span>
                    </a>
                </li>
                <li>
                    <a class="breadcrumb-link" href="/reviews/" title="User reviews">
                        <span class="breadcrumb-link__label">User reviews</span>
                    </a>
                </li>
                <li class="current">
                    <span class="breadcrumb-link__label">Write a review</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>

<section>
    <form action="/user-reviews/ratings/save/" method="post">
        <div id="rate-bike-form" data-value="@string.Format("{0}",Model.IsFake?"true":"")" class="container section-bottom-margin font14">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <h1 class="content-box-shadow padding-15-20 margin-top20">Write a review for @Model.objModelEntity.MakeBase.MakeName @Model.objModelEntity.ModelName</h1>
                    <div class="contest-slug-sm">
                        <span class="contest-banner__icon"></span>
                        <span class="margin-left10 font14">Write a detailed review and win Amazon vouchers worth Rs. @Bikewale.Utility.BWConfiguration.Instance.ContestPriceMoney.</span>
                        <span class="banner__pen-icon"></span>
                    </div>
                    <div class="grid-12 alpha omega">
                        <ul class="review-progress padding-top15 padding-bottom15">
                            <li class="review-progress__container active">
                                <div>
                                    <span class="review-progress__rate-bike review-progress__icon"></span>
                                    <h3 class="review-progress__text">Rate this Bike</h3>
                                </div>
                                <div class="review-progress__form">
                                    <p class="text-slate-grey">Consider looks & styling, performance, servicing experience, mileage etc. before you rate.</p>
                                    <div id="bike-rating-box" data-make-model="@string.Format("{0}_{1}_",Model.objModelEntity.MakeBase.MakeName, Model.objModelEntity.ModelName)" data-selectedrating="@Model.SelectedRating">
                                        <div class="rating-placeholder">
                                            <p class="error-text margin-bottom10" data-bind="slideIn: validateRatingCountFlag(), text: ratingErrorText"></p>

                                            <div class="answer-star-list hover-effect" data-bind="foreach: overallRating.slice(0).reverse()">
                                                <input type="radio" name="rate-box" data-bind="attr: {id: 'rate-' + ($root.overallRating().length - $index()), value: ($root.overallRating().length - $index())}" />
                                                <label class="star-zero" data-bind="hoverRating: $root.clickEventRatingCount, attr: {for: 'rate-' + ($root.overallRating().length - $index()), 'data-value': ($root.overallRating().length - $index())}"></label>
                                            </div>
                                            <h3 class="font20 font-bold margin-top5 leftfloat" data-bind="text: feedbackTitle"></h3>
                                            <div class="clear"></div>

                                        </div>
                                    </div>

                                    <ul id="rate-bike-questions" class="margin-bottom20 border-solid-bottom" data-bind="foreach: ratingQuestions">
                                        <!-- ko if: displayType == 2 -->
                                        <li class="question-field question-type-text" data-bind="visible: visibility, attr:{id: 'question-' + qId, 'data-sub-question': subQuestionId, 'data-required': isRequired}">
                                            <p class="question-item text-bold" data-bind="text: heading"></p>
                                            <p class="error-text" data-bind="" style="display: none">This is a compulsory field.</p>
                                            <div class="answer-radio-list" data-bind="foreach: rating">
                                                <input type="radio" data-bind="attr: {questionId:$parentContext.$index()+1, id: 'q-' + $parentContext.$index() + '-' + $index(), name: 'rating-q-' + $parentContext.$index(), value: ratingValue,'data-checked' : (ratingValue == $parentContext.$data.selectedRatingId) ? 'true' : 'false'}" />
                                                <label data-bind="attr: {for: 'q-' + $parentContext.$index() + '-' + $index(), 'data-value': ratingValue}, text: ratingText"></label>
                                            </div>
                                            <div class="clear"></div>
                                        </li>
                                        <!-- /ko -->
                                    </ul>

                                    <div class="margin-bottom5">
                                        <div class="margin-bottom20">
                                            <p class="font15 text-black text-bold margin-bottom10">Personal details</p>
                                            <p class="text-slate-grey">We wish to credit this rating to you. We will never spam your inbox.</p>
                                        </div>

                                        <div class="grid-6 alpha">
                                            <div class="input-box bw-ga" data-cat="Rate_Bike" data-act="Name_Field_Focus" data-lab="@gaLabel" data-bind="css: userName().length > 0 ? 'not-empty' : ''">
                                                <input type="text" id="txtUserName" name="userName" maxlength="45" data-bind="textInput: userName" value="@(string.IsNullOrEmpty(Model.CustomerName) ? "" : Model.CustomerName)" />
                                                <label for="getUserName">Name<sup>*</sup></label>
                                                <span class="boundary"></span>
                                                <span class="error-text"></span>
                                            </div>
                                        </div>
                                        <div class="grid-6 omega">
                                            <div class="input-box  bw-ga" data-cat="Rate_Bike" data-act="Email_Field_Focus" data-lab="@gaLabel" data-bind="css: emailId().length > 0 ? 'not-empty' : ''">
                                                <input type="email" id="txtEmailID" name="emailId" maxlength="95" data-bind="textInput: emailId" value="@(string.IsNullOrEmpty(Model.CustomerEmail) ? "" : Model.CustomerEmail)" />
                                                <label for="getEmailID">Email ID<sup>*</sup></label>
                                                <span class="boundary"></span>
                                                <span class="error-text"></span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div>
                                        <input type="hidden" id="overallratingQuestion" value="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(Model.OverAllRatingText)" />
                                        <input type="hidden" id="rating-question" value="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(Model.RatingQuestion)" />
                                        <input type="hidden" name="overAllrating" id="finaloverallrating" />
                                        <input type="hidden" name="reviewed-rating" id="reviewedoverallrating" value="@Model.ReviewsOverAllrating" />

                                        <input type="hidden" name="modelId" value="@Model.objModelEntity.ModelId" />
                                        <input type="hidden" name="makeId" value="@Model.objModelEntity.MakeBase.MakeId" />
                                        <input type="hidden" name="ratingQuestionAns" id="rating-quesition-ans" />
                                        <input type="hidden" name="priceRangeId" value="@Model.PriceRangeId" />
                                        <input type="hidden" name="reviewId" value="@Model.ReviewId" />
                                        <input type="hidden" name="isDesktop" value="true" />
                                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                        <input type="hidden" name="platformId" value="1" />
                                        <input type="hidden" name="sourceId" id="pageSourceId" value="@Model.SourceId" />
                                        <input type="hidden" name="contestSrc" id="contestSrc" value="@Model.ContestSrc" />
                                        <input type="hidden" name="utmzCookieValue" value='@Model.UtmzCookieValue' />
                                        <input type="submit" class="btn btn-orange" value="Next" data-bind="click: submitRating" />
                                    </div>
                                </div>
                            </li>
                            <li class="review-progress__container">
                                <div>
                                    <span class="review-progress__write-review review-progress__icon"></span>
                                    <h3 class="review-progress__text">Write a review</h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</section>

