@model Bikewale.Models.WriteReviewContestVM
@{
    Model.IsHeaderFix = false;
    Model.IsPageTypeLanding = true;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/user-review/review-contest.css' inline />";
    Model.Page_JS_Path = "/src/user-review/review-contest.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.ExcludeContestSlug = true;
}

<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">

<section>
    <div class="contest-banner font-oxygen">
        <div class="container">
            <div class="contest__welcome-box">
                <h1 class="contest__box-heading">Help fellow bikers make the right choice.</h1>
                <button type="button" id="bannerTargetBtn" class="btn btn-orange btn-190-40 text-uppercase">Write a review</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container font-oxygen">
        <div class="rewards-banner">
            <p>Best review wins</p>
            <p class="font-bold">Amazon voucher worth&nbsp;<span class="text-unbold">&#x20b9;</span>&nbsp;@Bikewale.Utility.BWConfiguration.Instance.ContestPriceMoney every week</p>
        </div>
    </div>
</section>

<section>
    <div id="specsTabsContentWrapper" class="font-oxygen">
        <div class="container padding-right10 padding-left10">
            <div id="overallTabsWrapper" class="overall-tabs position-rel">
                <div id="overallSpecsTab" class="overall-specs-tabs-container">
                    <div class="overall-specs-tabs-wrapper">
                        <a href="#overviewContent" class="active" rel="nofollow">Overview</a>
                        <a href="#cheatsheetContent" rel="nofollow">Cheatsheet</a>
                        <a href="#winnersContent" rel="nofollow">Previous Winners' Reviews</a>
                        <a href="#tncContent" rel="nofollow">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>

            <div id="overviewContent" class="bw-model-tabs-data card-shadow">
                <div class="overview__top-card">
                    <h2 class="h2-heading">Write it right</h2>
                    <ul class="guideline-list">
                        <li class="list-item">
                            <span class="guideline-sprite truth-icon"></span>
                            <p class="guideline-item-title">Tell the truth</p>
                        </li>
                        <li class="list-item">
                            <span class="guideline-sprite details-icon"></span>
                            <p class="guideline-item-title">Put in details</p>
                        </li>
                        <li class="list-item">
                            <span class="guideline-sprite original-icon"></span>
                            <p class="guideline-item-title">Be original</p>
                        </li>
                    </ul>
                    <p class="font14 text-center">Write a review of your bike - new or old, owned or sold - and help fellow riders make the right choice</p>
                </div>

                <div id="selectBikeForm" class="overview__review-form">
                    <p class="review-form__title">Start writing your review</p>

                    <div class="select-box review-form-field">
                        <p class="select-label">Make</p>
                        <select id="reviewSelectMake" class="chosen-select bike-select-field" data-placeholder="Select make">
                            <option value></option>
                            @if (!(Model.Makes.Any(objModel => objModel.MakeId == Model.MakeId)))
                            {
                                <option value="@Model.MakeId">@Model.MakeName</option>
                            }

                            @foreach (var make in Model.Makes)
                            {
                                <option value="@make.MakeId">@make.MakeName</option>
                            }

                        </select>
                        <span class="boundary"></span>
                        <span class="error-text"></span>
                    </div>

                    <div class="select-box review-form-field">
                        <p class="select-label">Model</p>
                        <select id="reviewSelectModel" class="chosen-select bike-select-field" data-placeholder="Select model" disabled>
                            @if (!(Model.Makes.Any(objModel => objModel.MakeId == Model.MakeId)))
                            {
                                <option value="@Model.ModelId">@Model.ModelName</option>
                            }
                             <option value></option>
                        </select>
                        <span class="boundary"></span>
                        <span class="error-text"></span>
                    </div>

                    <input id="reviewBikeSubmitBtn" type="button" class="btn btn-orange btn-215-34 text-uppercase" value="Write your review">
                </div>

            </div>

            <div id="cheatsheetContent" class="bw-model-tabs-data card-shadow card-spacing">
                <h2 class="h2-heading">Cheatsheet to win</h2>
                <div class="collapsible-list font-light">
                    <ul class="main-content bullet-list">
                        <li>Be original. Our examiners get a stroke on seeing copied text. Be kind to them.</li>
                        <li>Write no less than 150 words. We are sure you have more to tell.</li>
                        <li>Spill all the beans. Write all the pros and cons. The more the details, the more your chances of winning.</li>
                    </ul>
                    <ul class="more-content bullet-list more-list-content">
                        <li>Keep calm and be good. The contest judges are incorruptible.</li>
                        <li>Be patient. Winners will be announced every week. The winners will be notified via e-mail.</li>
                    </ul>
                    <a href="javascript:void(0)" class="read-more-list rightfloat margin-top10" rel="nofollow">Read more&nbsp;[+]</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        @if (Model.UserReviewsWinners != null && Model.UserReviewsWinners.Count() > 0)
        {
            @Html.Partial("~/Views/UserReview/_UserReviewContestWinners.cshtml", Model)
        }

        <div class="container padding-right10 padding-left10">
            <div id="tncContent" class="bw-model-tabs-data card-shadow card-spacing">
                <h2 class="h2-heading">Terms &amp; Conditions</h2>
                <div class="collapsible-list font-light">
                    <ul class="main-content bullet-list">
                        <li>This promotion is brought to you by Automotive Exchange Private Limited (hereafter referred to as 'BikeWale'). Any participation in this regard is voluntary.</li>
                        <li>This promotion is open only to bonafide citizens of India in their individual capacity who are above the age of 18 years as on 01 June 2017. Employees of BikeWale (and any group or subsidiaries companies) and their immediate family members (spouses, children and parents) are not eligible to win any gifts under this promotion.</li>
                    </ul>
                    <ul class="more-content bullet-list more-list-content">
                        <li>The contest ends on 30 April 2018 and a winner will be announced every week on BikeWale. The winner will be notified via e-mail.</li>
                        <li>In order to participate, a user needs to submit a complete user review of any two wheeler available in India on&nbsp;<a href="https://www.bikewale.com/">www.bikewale.com</a>&nbsp;or via BikeWale's mobile app.</li>
                        <li>Each user is allowed to submit as many entries as they like during the promotion period, however each user will be entitled to only one gift under the terms of this promotion, if selected, irrespective of the number of entries submitted.</li>
                        <li>BikeWale will, at its own sole discretion, select and announce one or more winners within three (3) business days of the last day of the promotion period.</li>
                        <li>The winner(s) will be gifted with an Amazon voucher worth Rs. @Bikewale.Utility.BWConfiguration.Instance.ContestPriceMoney.</li>
                        <li>BikeWale reserves the right to independently verify the authenticity of the information entered by the user, especially with respect to the originality of the review.</li>
                        <li>All gifts will be dispatched to the winner(s) within thirty (30) days of the end of the promotion period.</li>
                        <li>Winner(s) will be contacted individually on the e-mail address they provide while submitting their user review. If a winner remains non-contactable for a period of seven (7) days, BikeWale reserves the right to withdraw the gift and/or assign it to another user.</li>
                        <li>This promotion cannot be combined with any other promotion, offer or discount from BikeWale.</li>
                        <li>All decisions with respect to this promotion, including number of gifts and type of gifts, will be at the sole discretion of BikeWale and the same will be final and binding on a non-contestable basis.</li>
                        <li>Gifts are non-transferable and cannot be exchanged for cash. No cash claim can be made in lieu of the gifts.</li>
                        <li>BikeWale will not be held responsible for the suitability or merchantability of any gift.</li>
                        <li>BikeWale shall not be liable for any direct or indirect loss or damage whatsoever that may be suffered, or for any personal injury that may be suffered, as a result of participating in this promotion.</li>
                        <li>Any dispute arising out of or in connection with this promotion shall be subject to the exclusive jurisdiction of the courts in Mumbai only. The existence of a dispute, if any, shall not constitute a claim against BikeWale.</li>
                        <li>BikeWale reserves the right to withdraw and / or alter any / all of the terms and conditions of this promotion at any time without prior notice.</li>
                        <li>By participating in this promotion, the participants accept the terms and conditions as specified above in toto.</li>
                    </ul>
                    <a href="javascript:void(0)" class="read-more-list rightfloat margin-top10" rel="nofollow">Read more&nbsp;[+]</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div id="specsFooter"></div>
    </div>
    <span id="querystring" data-query="@Model.QueryString" />

    <input type="hidden" id="makeId" value="@Model.MakeId" />
    <input type="hidden" id="modelId" value="@Model.ModelId" />
</section>


@if (Model.UserReviewPopup != null)
{
    @Html.Partial("~/Views/Make/_MakeModelPopup.cshtml", Model.UserReviewPopup);
}


<script defer type="text/javascript" src="@String.Format("{0}/src/swiper-3.1.7.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFrameworkFileVersion)"></script>

<style type="text/css">
    .winner-review-swiper .swiper-slide {
        float: left\9;
        opacity: 1\9;
    }
</style>