@model Bikewale.Models.UserReviewDetailsVM

@{
    ViewBag.Title = "ReviewDetails_Mobile";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/m/src/user-review/listing.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_UserReviews";
    Model.AdTags.AdId = "1493795506249";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x100 = true;
}

@if (Model != null && Model.UserReviewDetailsObj != null && Model.UserReviewDetailsObj.Model != null && Model.UserReviewDetailsObj.Make != null)
{
    <section id="section-review-details" data-modelid="@Model.UserReviewDetailsObj.Model.ModelId">
        <div class="container content-box-shadow card-bottom-margin">
            <div class="content-inner-block-20 content-box-shadow">
                <p class="font15 font-bold text-black margin-bottom10">@Model.UserReviewDetailsObj.Title</p>

                <span class="rating-badge bg-rate-@Model.UserReviewDetailsObj.OverallRating.Value no-margin leftfloat margin-right15">
                    <span class="bwmsprite star-white"></span>
                    <span>@Model.UserReviewDetailsObj.OverallRating.Value</span>
                </span>
                <div class="grid-5 alpha padding-right5">
                    <span class="bwmsprite author-grey-sm-icon"></span>
                    <span class="article-stats-content" data-bind="text: author">@Model.UserReviewDetailsObj.CustomerName</span>
                </div>
                <div class="grid-4 alpha omega">
                    <span class="bwmsprite calender-grey-sm-icon"></span>
                    <span class="article-stats-content" data-bind="text: submittedOn">@Model.UserReviewDetailsObj.EntryDate.ToString("MMMM dd, yyyy")</span>
                </div>
                <div class="clear"></div>
            </div>

            @if (Model.RatingQuestions != null)
            {
                <div class="bg-light position-rel top3">
                    <p class="font-bold font14 padding-top15 padding-left20">About the reviewer</p>
                    <ul class="about-reviewer-list item-count-@Model.RatingQuestionCount">
                        @foreach (var q in Model.RatingQuestions)
                        {
                            <li>
                                <span class="bwmsprite questionId-@q.Id"></span>
                                <p class="item-question">@q.MinHeading</p>
                                <p class="item-answer">@q.Rating.FirstOrDefault().Text</p>
                            </li>
                        }
                    </ul>
                </div>
            }

            @if (Model.ReviewQuestions != null)
            {
                <div class="content-inner-block-20">
                    <h1 class="font14 margin-bottom10">Full review of @Model.UserReviewDetailsObj.Make.MakeName @Model.UserReviewDetailsObj.Model.ModelName</h1>
                    <ul class="horizontal-rating-graph user-review-graph">
                        @foreach (var q in Model.ReviewQuestions)
                        {
                            <li>
                                <span class="graph-bar-label">@q.Heading</span>
                                <span class="graph-bar-bg">
                                    <span style="width:@(q.SelectedRatingId * 20)%" class="rating-bar bg-rate-@q.SelectedRatingId"></span>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            }

            <div class="padding-right20 padding-left20 padding-bottom20">
                <p class="font14 text-light-grey">@Model.UserReviewDetailsObj.Description</p>

                @if (Model.UserReviewDetailsObj.Tips.Length > 0)
                {
                    <p class="font14 font-bold text-black margin-top20 margin-bottom15">Tips for prospective buyers</p>
                    <p class="font14 text-light-grey margin-bottom15">@Model.UserReviewDetailsObj.Tips</p>
                }

                <button type="button" id="upvoteButton" onclick="upVoteReview()" class="btn btn-inv-teal-group margin-right5 margin-bottom10">
                    <span class="btn-label-grid">
                        <span class="bwmsprite like-sm"></span>
                        <span id="upvoteText" class="btn-label">Upvote</span>
                    </span>
                    <span id="upvoteCount" class="btn-count">@Model.UserReviewDetailsObj.UpVotes</span>
                </button>

                <button type="button" id="downvoteButton" onclick="downVoteReview()" class="btn btn-inv-teal-group margin-right5 margin-bottom10">
                    <span class="btn-label-grid">
                        <span class="bwmsprite like-sm"></span>
                        <span id="downvoteText" class="btn-label">Downvote</span>
                    </span>
                    <span id="downvoteCount" class="btn-count">@Model.UserReviewDetailsObj.DownVotes</span>
                </button>

                <div class="inline-block margin-bottom10">
                    <span class="bwmsprite views-sm"></span>
                    <span class="font12 text-light-grey inline-block">@string.Format("{0} view{1}", Model.UserReviewDetailsObj.Views, Model.UserReviewDetailsObj.Views > 1 ? "s" : "")</span>
                </div>

                <div class="border-solid-top margin-top10 margin-bottom10"></div>
                <p id="divAbuse" data-reviewid="@Model.ReviewId" class="font12 text-light-grey">Inappropriate review? <a href="javascript:void(0)" onclick="abuseClick()" id="report-abuse-target">Report Abuse</a></p>
            </div>

        </div>
    </section>

    <section>
        <div id="bike-rating-box" class="container content-box-shadow card-bottom-margin content-inner-block-20">
            <p class="font16 text-black text-bold inline-block margin-right15">Rate this bike now</p>
            <div class="answer-star-list inline-block">
                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl=/m{0}&selectedRating=5", Model.PageUrl))" type="radio" id="rate-star-5" name="rate-bike" value="5">
                <label class="bwmsprite star-0" for="rate-star-5" data-value="5"></label>
                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl=/m{0}&selectedRating=4", Model.PageUrl))" type="radio" id="rate-star-4" name="rate-bike" value="4">
                <label class="bwmsprite star-0" for="rate-star-4" data-value="4"></label>
                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl=/m{0}&selectedRating=3", Model.PageUrl))"  type="radio" id="rate-star-3" name="rate-bike" value="3">
                <label class="bwmsprite star-0" for="rate-star-3" data-value="3"></label>
                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl=/m{0}&selectedRating=2", Model.PageUrl))"  type="radio" id="rate-star-2" name="rate-bike" value="2">
                <label class="bwmsprite star-0" for="rate-star-2" data-value="2"></label>
                <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl=/m{0}&selectedRating=1", Model.PageUrl))"  type="radio" id="rate-star-1" name="rate-bike" value="1">
                <label class="bwmsprite star-0" for="rate-star-1" data-value="1"></label>
            </div>
        </div>
    </section>

    if (Model.GenericBikeWidgetData != null)
    {
        <section class="bg-white section-bottom-margin margin-bottom10">
            @Html.Partial("~/views/BikeModels/_BikeInfoCard_Mobile.cshtml", Model.GenericBikeWidgetData)
        </section>
    }

    if (Model.UserReviews != null)
    {
        @Html.Partial("~/Views/UserReview/_UserReviewsSearch_Mobile.cshtml", Model.UserReviews)
    }

    <div class="margin-bottom20 text-center">
        @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x100_Middle.cshtml", new { AdId = Model.AdTags.AdId });}
    </div>

    if (Model.ExpertReviews != null)
    {
        <section>
            <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2 class="h2-heading">@Model.ExpertReviews.Title</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="/m/@Model.ExpertReviews.MoreExpertReviewUrl" title="@string.Format("View all expert reviews")" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>

                @Html.Partial("~/views/ExpertReviews/_ExpertReviewsModelWiseCard_Mobile.cshtml", Model.ExpertReviews)

            </div>
        </section>
    }

    if (Model.SimilarBikeReviewWidget != null)
    {
        <section>
            <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2 class="h2-heading">Reviews of similar bikes</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m/{0}-bikes/{1}/reviews/", Model.UserReviewDetailsObj.Make.MaskingName, Model.UserReviewDetailsObj.Model.MaskingName)" title="View all" cl title="View all" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>

                @Html.Partial("~/views/UserReview/_SimilarBikeUserReview_Mobile.cshtml", Model.SimilarBikeReviewWidget)

            </div>
        </section>
    }

    <div id="report-abuse-popup">
        <p class="font14 text-bold text-center margin-bottom10">Why do you want to report it abuse?</p>
        <div class="report-abuse-close-btn position-abt pos-top10 pos-right10 bwmsprite cross-lg-lgt-grey cur-pointer"></div>
        <p class="margin-bottom10">Comment</p>
        <textarea id="txtAbuseComments"></textarea>
        <span id="spnAbuseComments"></span>
        <div class="text-center">
            <button onclick="reportAbuse()" type="button" class="btn btn-orange">Report</button>
        </div>
    </div>
    <div id="popup-background"></div>

}
