@model Bikewale.Models.UserReviewSummaryVM
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/user-review/write-review.css' />";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@if (Model != null && Model.Summary != null)
{
    <section>
        <div id="thankyou-card" class="container bg-white box-shadow padding-15-20 card-bottom-margin">
            <div class="model-image-grid inline-block">
                <div class="icon-outer-container rounded-corner50percent">
                    <div class="icon-inner-container rounded-corner50percent text-center">
                        <span class="bwmsprite thankyou-icon margin-top15"></span>
                    </div>
                </div>
            </div>
            <div class="model-details-grid inline-block">
                <p class="font18 text-black text-bold margin-bottom5">Thank you, @Model.Summary.CustomerName!</p>
                @if (!string.IsNullOrEmpty(Model.Summary.Description))
                {
                    <p class="font13 text-light-grey">Your review has been recorded. We will inform you once it is published.</p>
                }
                else
                {
                    <p class="font13 text-light-grey">Your rating has been recorded. We look forward to your detailed review about this bike.</p>
                }
            </div>
        </div>
    </section>

    <section>
        <div id="review-summary-card" class="container bg-white box-shadow card-bottom-margin font14">
            <div class="padding-15-20 content-box-shadow">
                <div class="model-image-grid inline-block">
                    <img src="@Bikewale.Utility.Image.GetPathToShowImages(Model.Summary.OriginalImgPath, Model.Summary.HostUrl, Bikewale.Utility.ImageSize._110x61, Bikewale.Utility.QualityFactor._70)" alt="@Model.Summary.Make.MakeName @Model.Summary.Model.ModelName" />
                </div>
                @if (Model.Summary.Make != null && Model.Summary.Model != null) { 
                <h1 class="model-details-grid inline-block">@string.Format("{0} {1}",Model.Summary.Make.MakeName, Model.Summary.Model.ModelName)</h1>
                }
                    </div>
            <div class="padding-top15 padding-right20 padding-bottom50 padding-left20">
                <div id="bike-rating-box" class="margin-bottom20">
                    <div class="circle-placeholder">
                         <span class="bwmsprite @string.Format("feedback-{0}",Model.Summary.OverallRating.Value)"></span>
                         </div>
                    <div class="rating-placeholder">
                        <p class="font20 font-bold">@Model.Summary.OverallRating.Heading</p>
                        <p class="margin-top5">@Model.Summary.OverallRating.Description</p>

                        <ul class="margin-top15 item-rating-list opacity-active">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < Model.Summary.OverallRating.Value)
                                {
                                    <li class="bwmsprite star-one"></li>
                                }
                                else
                                {
                                    <li class="bwmsprite star-zero"></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div id="floating-btn" class="floating-btn">
                    @if (!string.IsNullOrEmpty(Model.Summary.Description))
                    {
                        <div class="grid-12 alpha omega">
                            <a class="btn btn-orange btn-full-width" href="@Model.PrevPageUrl">Done</a>
                        </div>
                    }
                    else
                    {
                        <div class="grid-6 alpha omega">
                            <a class="btn btn-white btn-full-width" href="@string.Format("/m{0}",Model.WriteReviewLink)">Write a review</a>
                        </div>
                        <div class="grid-6 alpha omega">
                            <a class="btn btn-orange btn-full-width" href="@Model.PrevPageUrl">Done</a>
                        </div>
                    }
                    <div class="clear"></div>
                </div>

                @if (!string.IsNullOrEmpty(Model.Summary.Description))
                {
                    <div id="summary-review-box" class="padding-bottom10">
                        <h2 class="margin-bottom10">@Model.Summary.Title</h2>
                        <div class="text-light-grey">
                            <p>@Html.Raw(Model.Summary.Description)</p>
                        </div>
                    </div>
                }

                @if (Model.Summary.Questions != null && Model.Summary.Questions.Count()>0)
                {
                    <div class="margin-bottom20 border-solid-bottom"></div>
                    <h3 class="font15 text-black margin-bottom20">You also rated</h3>
                    <ul class="user-rated-list padding-bottom5 opacity-active">
                        @foreach (var question in Model.Summary.Questions)
                        {
                            var objRating = question.Rating.First(x => x.Value == question.SelectedRatingId.ToString()); int ratingValue = Convert.ToInt32(objRating.Value);
                            if (question.DisplayType.Equals(Bikewale.Entities.UserReviews.UserReviewQuestionDisplayType.Star))
                            {
                                <li class="list-item">
                                    <p class="category-label leftfloat">@question.Heading</p>
                                    <ul class="category-rating rightfloat">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (i < ratingValue)
                                            {
                                                <li class="bwmsprite star-one"></li>
                                            }
                                            else
                                            {
                                                <li class="bwmsprite star-zero"></li>
                                            }
                                        }
                                    </ul>
                                    <div class="clear"></div>
                                </li>
                            }
                            else
                            {
                                <li class="list-item">
                                    <p class="category-label leftfloat">@question.Heading</p>
                                    <p class="category-rating rightfloat padding-left5">@objRating.Text</p>
                                    <div class="clear"></div>
                                </li>
                            }

                        }

                    </ul>
                }

                @if (!string.IsNullOrEmpty(Model.Summary.Tips))
                {
                    <div class="margin-bottom20 border-solid-bottom"></div>
                    <h3 class="font15 text-black margin-bottom15">Tips for prospective buyers</h3>
                    <div class="text-light-grey padding-bottom10">
                        <p>@Html.Raw(Model.Summary.Tips)</p>
                    </div>
                }

                @if (string.IsNullOrEmpty(Model.Summary.Description))
                {
                    <div class="margin-top20 margin-bottom20 border-solid-bottom"></div>
                    <h3 class="font15 text-black margin-bottom15">Tell us more about your experience!</h3>
                    <p class="padding-bottom20 text-light-grey">Share your experience of owning/riding @Model.Summary.Make.MakeName @Model.Summary.Model. Your review will be very useful to people planning to buy the same motorcycle.</p>
                }
            </div>
        </div>
    </section>
    <span id="pageSource" class="hide">@Model.PrevPageUrl</span>
    <div id="review-summary-page"></div>
}
<script type="text/javascript">
    docReady(function () {
        var handleBrowserBack = function (prevPage, curPage) {
            setTimeout(function () { appendHash(curPage); }, 1000);
            $(window).on('hashchange', function (e) {
                oldUrl = e.originalEvent.oldURL;
                if (oldUrl && (oldUrl.indexOf('#') > 0)) {
                    if (prevPage && prevPage.length)
                        window.location.href = prevPage.text();
                }
            });
        };
        handleBrowserBack(($("#pageSource")), "reviewSummary");
    });
</script>