@model Bikewale.Models.UserReviewSummaryVM
@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/write-review.css' />";
    Model.Page_JS_Path = "/src/user-review/write-review.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.PageMetaTags.AlternateUrl = string.Format("https://www.bikewale.com/m/rate-your-bike/{0}/", Model.Summary.Model.ModelId);
}

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow content-inner-block-20">
                <div class="thankyou-card inline-block">
                    <div class="icon-outer-container rounded-corner50">
                        <div class="icon-inner-container rounded-corner50 text-center">
                            <span class="bwsprite thankyou-icon"></span>
                        </div>
                    </div>
                </div>
                <div class="model-details-grid inline-block">
                    <p class="font18 text-black text-bold margin-bottom5">Thank you, @Model.Summary.CustomerName!</p>
                    @if (!string.IsNullOrEmpty(Model.Summary.Description))
                    {
                        <p class="font14 text-light-grey">Your review has been recorded. We will inform you once it is published.</p>
                    }
                    else
                    {<p class="font14 text-light-grey">Your rating has been recorded. We look forward to your detailed review about this bike.</p> }

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div id="review-summary-card" class="container section-bottom-margin font14">
        <div class="grid-12">
            <div class="content-box-shadow content-inner-block-20">
                <h1 class="font18 margin-bottom10">Your review for @string.Format("{0} {1}", Model.Summary.Make.MakeName, Model.Summary.Model.ModelName)</h1>
                <p class="padding-bottom10 border-solid-bottom text-light-grey margin-bottom20">Check, how others will see your review!</p>

                <div class="grid-8 alpha padding-right20 border-solid-right">
                    <div id="bike-rating-box">
                        <div class="circle-placeholder">
                            <span class="bwsprite @string.Format("feedback-{0}",Model.Summary.OverallRating.Value)"></span>
                        </div>
                        <div class="rating-placeholder">
                            <h3 class="font20 font-bold">@Model.Summary.OverallRating.Heading</h3>
                            <p class="margin-top5">@Model.Summary.OverallRating.Description</p>

                            <ul class="item-rating-list answer-star-list no-float">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < Model.Summary.OverallRating.Value)
                                    {
                                        <li class="bwsprite star-one"></li>
                                    }
                                    else
                                    {
                                        <li class="bwsprite star-zero"></li>
                                    }
                                }
                            </ul>
                            <div class="clear"></div>

                        </div>
                    </div>



                    @if (!string.IsNullOrEmpty(Model.Summary.Description))
                    {
                        <h2 class="font18 margin-bottom10">@Model.Summary.Title</h2>
                        <div class="full-review-box text-light-grey">

                            <p>@Html.Raw(Model.Summary.Description)</p>
                        </div>
                        <a href="@Model.PrevPageUrl" class="btn btn-orange btn-220-40 margin-top10" >Done</a>


                    }

                    @if (string.IsNullOrEmpty(Model.Summary.Description))
                    {
                        <p class="font15 text-bold text-black margin-bottom10">Tell us more about your experience!</p>
                        <p class="text-slate-grey margin-bottom15">Share your experience of owning/riding @Model.Summary.Make.MakeName @Model.Summary.Model.ModelName. Your review will be very useful to people planning to buy the same bike.</p>
                        <a href="@Model.WriteReviewLink" class="btn btn-white btn-220-40">Write a review</a>
                        <a href="@Model.PrevPageUrl" class="btn btn-orange btn-220-40 margin-left15">Done</a>
                    }
                </div>
                @if ((Model.Summary.Questions != null && Model.Summary.Questions.Count() > 0) || !string.IsNullOrEmpty(Model.Summary.Tips))
                {
                    <div class="grid-4 padding-left20 omega">
                        @if (Model.Summary.Questions != null && Model.Summary.Questions.Count() > 0)
                        {
                            <h3 class="font15 text-black margin-bottom20">You also rated</h3>
                            <ul class="user-rated-list padding-bottom5 opacity-active">
                                @foreach (var question in Model.Summary.Questions)
                                {
                                    var objRating = question.Rating.First(x => x.Value == question.SelectedRatingId.ToString()); int ratingValue = Convert.ToInt32(objRating.Value);
                                    if (question.DisplayType.Equals(Bikewale.Entities.UserReviews.UserReviewQuestionDisplayType.Star))
                                    {
                                        <li class="list-item">
                                            <p class="category-label leftfloat">@question.Heading</p>
                                            <ul class="category-rating item-rating-list rating-size-sm rightfloat">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < ratingValue)
                                                    {
                                                        <li class="bwsprite star-one"></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="bwsprite star-zero"></li>
                                                    }
                                                }
                                            </ul>
                                            <div class="clear"></div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-item">
                                            <p class="category-label leftfloat">@question.Heading</p>
                                            <p class="category-rating rightfloat padding-left5 text-truncate">@objRating.Text</p>
                                            <div class="clear"></div>
                                        </li>
                                    }
                                }
                            </ul>
                            if (!string.IsNullOrEmpty(Model.Summary.Tips))
                            {
                                <div class="margin-bottom20 border-solid-bottom"></div>
                            }
                        }

                        @if (!string.IsNullOrEmpty(Model.Summary.Tips))
                        {

                            <h3 class="font15 text-black margin-bottom10">Tips for other riders</h3>
                            <div class="text-light-grey">
                                <p>@Model.Summary.Tips</p>
                            </div>
                        }
                    </div>

                }
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <input id="pageSource" type="hidden" value="@Model.PrevPageUrl" />
    <div id="review-summary-page"></div>
</section>
<script type="text/javascript">
    docReady(function () {
        var handleBrowserBack = function (prevPage, curPage) {
            setTimeout(function () { window.location.hash = curPage; }, 1000);
            $(window).on('hashchange', function (e) {
                oldUrl = e.originalEvent.oldURL;
                if (oldUrl && (oldUrl.indexOf('#') > 0)) {
                    if (prevPage && prevPage.length)
                        window.location.href = prevPage.val();
                }
            });
        };
        handleBrowserBack(($("#pageSource")), "reviewSummary");
    });
</script>