@model Bikewale.Models.UserReviewDetailsVM
@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/src/user-review/listing.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.AdTags.AdPath = "/1017752/Bikewale_Desktop_UserReviews";
    Model.AdTags.AdId = "1493795506249";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90BTF = true;
    }
@if (Model != null && Model.UserReviewDetailsObj != null && Model.UserReviewDetailsObj.Model != null && Model.UserReviewDetailsObj.Make != null)
{
  <section class="padding-top10" id="breadcrumb">
    <div class="container">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="/@Model.UserReviewDetailsObj.Make.MaskingName-bikes/" itemprop="url">
                            <span itemprop="title">@Model.UserReviewDetailsObj.Make.MakeName Bikes</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="@Bikewale.Utility.UrlFormatter.BikePageUrl(Model.UserReviewDetailsObj.Make.MaskingName,Model.UserReviewDetailsObj.Model.MaskingName)" itemprop="url">
                            <span itemprop="title">@Model.UserReviews.BikeName</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="@Bikewale.Utility.UrlFormatter.FormatUserReviewUrl(Model.UserReviewDetailsObj.Make.MaskingName,Model.UserReviewDetailsObj.Model.MaskingName)" itemprop="url">
                            <span itemprop="title">User Reviews</span>
                        </a>
                    </li>
                    <li>
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span>@Model.UserReviewDetailsObj.Title</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow">
                <div class="content-box-shadow padding-15-20">
                    <h1 class="inline-block margin-right20">@Model.UserReviews.BikeName User Reviews</h1>
                    <div class="inline-block">
                        <span class="inline-block">Overall rating:</span>
                        <span class="inline-block rate-count-@Model.UserReviewDetailsObj.OverallRating.Value">
                            <span class="bwsprite star-icon star-size-16"></span>
                            <span class="font14 text-bold inline-block">@Model.UserReviewDetailsObj.OverallRating.Value</span>
                            <span class="font11 text-xt-light inline-block">&nbsp;/&nbsp;5</span>
                        </span>
                        <span class="font14 text-xt-light review-left-divider inline-block">23 ratings</span>
                    </div>
                </div>
                <div class="content-inner-block-20">
                    <div class="grid-9 alpha padding-right20 border-light-right">
                        <div class="margin-bottom15">
                            <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                            <p class="font18 text-black text-bold inline-block margin-right5">Good bike, poor servicing by company</p>
                            <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                        </div>
                        <div class="margin-bottom10 font14 text-slate-grey">
                            <p>If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most</p>
                            <ul class="rating-circle-list">
                                <li>
                                    <div class="rating-circle circle-rate-1">
                                        <p class="circle-label">1</p>
                                        <span class="rating-progress">
                                        </span>
                                    </div>
                                    <p class="list-item-label">Visual appeal</p>
                                </li>
                                <li>
                                    <div class="rating-circle circle-rate-2">
                                        <p class="circle-label">2</p>
                                        <span class="rating-progress">
                                        </span>
                                    </div>
                                    <p class="list-item-label">Handling</p>
                                </li>
                                <li>
                                    <div class="rating-circle circle-rate-3">
                                        <p class="circle-label">3</p>
                                        <span class="rating-progress">
                                        </span>
                                    </div>
                                    <p class="list-item-label">Ride quality</p>
                                </li>
                                <li>
                                    <div class="rating-circle circle-rate-4">
                                        <p class="circle-label">4</p>
                                        <span class="rating-progress">
                                        </span>
                                    </div>
                                    <p class="list-item-label">Value for money</p>
                                </li>
                                <li>
                                    <div class="rating-circle circle-rate-5">
                                        <p class="circle-label">5</p>
                                        <span class="rating-progress">
                                        </span>
                                    </div>
                                    <p class="list-item-label">Service cost</p>
                                </li>
                            </ul>
                        </div>

                        <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                            <span class="btn-label-grid">
                                <span class="bwsprite like-sm"></span>
                                <span class="btn-label">Liked</span>
                            </span><span class="btn-count">10</span>
                        </button>

                        <button type="button" class="btn btn-inv-teal-group">
                            <span class="btn-label-grid">
                                <span class="bwsprite dislike-sm"></span>
                                <span class="btn-label">Dislike</span>
                            </span><span class="btn-count">10</span>
                        </button>

                        <p class="text-light-grey rightfloat line-height26">Inappropriate review? <a href="javascript:void(0)" id="btnReportClick" rel="nofollow">Report Abuse</a></p>
                        <div class="clear"></div>

                    </div>
                    <div class="grid-3 omega padding-left20">
                        <ul>
                            <li class="margin-bottom10">
                                <span class="bwsprite questionId-1"></span>
                                <div class="inline-block">
                                    <p class="font10 text-xt-light">Used the bike for</p>
                                    <p class="font14 text-slate-grey">Daily commute</p>
                                </div>
                            </li>
                            <li class="margin-bottom10">
                                <span class="bwsprite questionId-2"></span>
                                <div class="inline-block">
                                    <p class="font10 text-xt-light">Owned the bike for</p>
                                    <p class="font14 text-slate-grey">Doesn't own</p>
                                </div>
                            </li>
                            <li class="margin-bottom10">
                                <span class="bwsprite questionId-3"></span>
                                <div class="inline-block">
                                    <p class="font10 text-xt-light">Ridden the bike for</p>
                                    <p class="font14 text-slate-grey">10000-15000 kms</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container no-container-width section-bottom-margin">
        <div class="grid-12 grid-no-padding">
            <div class="content-box-shadow padding-top20 padding-right20 padding-bottom15 padding-left20 model-grid-12-slug">
                <div class="clear"></div>
                <a href="/bajaj-bikes/pulsar-rs/" title="Bajaj Pulsar RS200" class="leftfloat margin-bottom15 text-default">
                    <h2>Bajaj Pulsar RS200</h2>
                </a>
                <div class="clear"></div>
                <div class="grid-8 alpha padding-right20 border-solid-right">
                    <a href="/bajaj-bikes/pulsar-rs/" title="Bajaj Pulsar RS200" class="model-image-target vertical-top">
                        <img class="lazy" data-original="https://imgd.aeplcdn.com//160x89//bw/models/bajaj-pulsar-rs200.jpg?20150710124439&amp;q=70 " src="https://imgd.aeplcdn.com//160x89//bw/models/bajaj-pulsar-rs200.jpg?20150710124439&amp;q=70 " alt="Bajaj Pulsar RS200" width="157" height="88" >
                    </a>
                    <div class="model-details-block vertical-top">
                            <ul class="key-specs-list margin-bottom15 text-light-grey">
                                <li>
                                    <span class="bwsprite capacity-sm"></span>
                                    <span>199.5 cc</span>
                                </li>
                                                                    <li>
                                    <span class="bwsprite mileage-sm"></span>
                                    <span>35 kmpl </span>
                                </li>
                                                                    <li>
                                    <span class="bwsprite power-sm"></span>
                                    <span>24.5  bhp</span>
                                </li>
                                                                    <li>
                                    <span class="bwsprite weight-sm"></span>
                                    <span>165  kgs</span>
                                </li>
                            </ul>
                        <ul class="item-more-details-list margin-bottom5 inline-block">
                                    <li>
                                        <a href="/bajaj-bikes/pulsar-rs/images/" title="Bajaj Pulsar RS200 Images">
                                            <span class="bwsprite photos-sm"></span>
                                            <span class="icon-label">Images</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/bajaj-bikes/pulsar-rs/specifications-features/" title="Bajaj Pulsar RS200 Specification">
                                            <span class="bwsprite specs-sm"></span>
                                            <span class="icon-label">Specs</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/bajaj-bikes/pulsar-rs/reviews/" title="Bajaj Pulsar RS200 User Reviews">
                                            <span class="bwsprite user-reviews-sm"></span>
                                            <span class="icon-label">User Reviews</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/bajaj-bikes/pulsar-rs/videos/" title="Bajaj Pulsar RS200 Videos">
                                            <span class="bwsprite videos-sm"></span>
                                            <span class="icon-label">Videos</span>
                                        </a>
                                    </li>
                        </ul>
                            <div class="border-solid-bottom margin-bottom10"></div>
                            <a href="/used/bajaj-pulsar-rs-bikes-in-mumbai/" title="9 used Bajaj Pulsar RS200 bikes" class="block text-default hover-no-underline">
                                <span class="used-target-label inline-block">
                                    <span class="font14 text-bold">9 Used Bajaj Pulsar RS200 bikes</span>
                                    <span class="font12 text-light-grey">starting at <span class="bwsprite inr-xsm-grey"></span>95,000</span>
                                </span>
                                <span class="bwsprite next-grey-icon"></span>
                            </a>
                    </div>
                </div>
                <div class="grid-4 omega padding-left20">
                    <p class="font14 text-light-grey margin-bottom5" title=" On-road price, Mumbai">On-road price, Mumbai</p>
                    <div class="margin-bottom10">
                        <span class="bwsprite inr-lg"></span>
                        <span class="font18 text-bold version-price">1,47,746</span>
                    </div>
                    <a href="/bajaj-bikes/pulsar-rs/" title="Bajaj Pulsar RS200" class="btn btn-white btn-180-34">View model details <span class="bwsprite btn-red-arrow"></span></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div id="modelReviewsListing" class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20">
                <h2 class="h2-heading padding-left20">Reviews on Pulsar RS200</h2>
                <div id="overallTabsWrapper" class="overall-tabs user-review-tabs position-rel">
                    <div id="overallSpecsTab" class="overall-specs-tabs-container">
                        <div class="overall-specs-tabs-wrapper">
                            <a href="javascript:void(0)" class="active"  data-category="2" data-page-num="1" data-count="26" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Helpful (26)</a>
                            <a href="javascript:void(0)" data-category="1" data-page-num="1" data-count="16" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Recent (16)</a>
                            <a href="javascript:void(0)" data-category="5" data-page-num="1" data-count="0" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Positive (0)</a>
                            <a href="javascript:void(0)" data-category="6" data-page-num="1" data-count="7" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Negative (7)</a>
                            <a href="javascript:void(0)" data-category="7" data-page-num="1" data-count="8" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Neutral (8)</a>
                        </div>
                    </div>
                </div>
                @*<p class="padding-top15 padding-bottom15 margin-right20 margin-left20 border-grey-bottom">
                    <span class="bwsprite info-sm margin-right5"></span>
                    <span class="font13 text-light-grey inline-block">Reviews are sorted on the basis of helpfulness</span>
                </p>*@
                <div data-bind="visible: reviewsAvailable()">
                    <ul class="user-review-list">
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <div class="more-content">
                                        <p>
                                            If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                        </p>
                                        <ul class="rating-circle-list">
                                            <li>
                                                <div class="rating-circle circle-rate-1">
                                                    <p class="circle-label">1</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Visual appeal</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-2">
                                                    <p class="circle-label">2</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Handling</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-3">
                                                    <p class="circle-label">3</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Ride quality</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-4">
                                                    <p class="circle-label">4</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Value for money</p>
                                            </li>
                                            <li>
                                                <div class="rating-circle circle-rate-5">
                                                    <p class="circle-label">5</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">Service cost</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>

                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <p class="report-abuse-label rightfloat line-height26">Inappropriate review? <a href="javascript:void(0)" id="btnReportClick" rel="nofollow">Report Abuse</a></p>
                                <div class="clear"></div>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>

                    <div class="padding-right20 padding-bottom10 padding-left20">
                        <div class="footer-pagination font14 border-solid-top padding-top10">
                            <div class="grid-5 alpha omega text-light-grey">
                                <p><span class="text-bold">1</span>-<span class="text-bold">10</span>&nbsp;of&nbsp;<span class="text-bold">100</span>&nbsp;reviews</p>
                            </div>
                            <div id="pagination-list-content" class="grid-7 alpha omega position-rel rightfloat pagination-list-content">
                                <ul id="pagination-list" class="pagination-list">
                                    <li class="active">
                                        <a href="">1</a>
                                    </li>
                                    <li>
                                        <a href="">2</a>
                                    </li>
                                    <li>
                                        <a href="">3</a>
                                    </li>
                                    <li>
                                        <a href="">4</a>
                                    </li>
                                    <li>
                                        <a href="">5</a>
                                    </li>
                                </ul>
                                <span class="pagination-control-prev inactive">
                                    <a href="" class="bwmsprite bwsprite prev-page-icon"></a>
                                </span>
                                <span class="pagination-control-next">
                                    <a href="" class="bwmsprite bwsprite next-page-icon"></a>
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <div class="content-inner-block-20 text-center" data-bind="visible: !reviewsAvailable()">
                    <div class="circle-placeholder-80">
                        <span class="bwsprite review-lg margin-top25"></span>
                    </div>
                    <p class="font14 text-light-grey margin-top20">There are no <span data-bind="text: categoryName"></span> reviews for this bike</p>
                </div>

                <div id="listingFooter"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow rate-bike-slug content-inner-block-20">
                <div class="leftfloat">
                    <div class="circle-placeholder-60 inline-block">
                        <span class="bwsprite star-1 margin-top15"></span>
                    </div>
                    <p class="font18 text-black text-bold inline-block margin-left20 margin-right15">Rate your bike</p>
                    <p class="font14 text-slate-grey inline-block">Share your experience about this bike</p>
                </div>
                <div class="rightfloat padding-top15 answer-star-list hover-effect">
                    <input type="radio" name="rate-bike" id="rate-bike-5" value="5">
                    <label class="bwsprite star-0" for="rate-bike-5" data-value="5"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-4" value="4">
                    <label class="bwsprite star-0" for="rate-bike-4" data-value="4"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-3" value="3">
                    <label class="bwsprite star-0" for="rate-bike-3" data-value="3"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-2" value="2">
                    <label class="bwsprite star-0" for="rate-bike-2" data-value="2"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-1" value="1">
                    <label class="bwsprite star-0" for="rate-bike-1" data-value="1"></label>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 article-list font14">
                <h2 class="h2-heading margin-bottom20 margin-left10">Expert reviews on Pulsar RS200</h2>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <div class="padding-left10 more-article-target view-all-btn-container">
                    <a title="" href="" class="btn view-all-target-btn">Read all expert reviews<span class="bwsprite teal-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-bottom20">
                <div class="carousel-heading-content padding-top20">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2 class="h2-heading">Reviews of similar bikes</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="" title="" class="btn view-all-target-btn">View all</a>
                    </div>
                </div>
                <div class="jcarousel-wrapper inner-content-carousel user-reviews-type-carousel">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="2"><span class="bwsprite star-white"></span>2</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <span class="jcarousel-control-left">
                        <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                    </span>
                    <span class="jcarousel-control-right">
                        <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<div id="report-abuse">
    <p class="font20 text-bold text-center margin-bottom20">Why do you want to report it abuse?</p>

    <div class="report-abuse-close-btn position-abt pos-top10 pos-right10 bwsprite cross-lg-lgt-grey cur-pointer"></div>

    <p class="margin-bottom10 font14">Comment</p>

    <textarea id="txtAbuseComments"></textarea>
    <span id="spnAbuseComments" class="error font12 text-red"></span>

    <div class="text-center margin-top10">
        <a id="btnReportReviewAbuse" class="btn btn-orange" rel="nofollow" >Report</a>
    </div>
</div>
<div id="report-background"></div>
}