@model Bikewale.Models.UserReviewDetailsVM
@using Bikewale.Entities.UserReviews;
@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/src/user-review/listing.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.AdTags.AdPath = "/1017752/Bikewale_Desktop_UserReviews";
    Model.AdTags.AdId = "1493795506249";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90BTF = true;
}
@if (Model != null && Model.UserReviewDetailsObj != null && Model.UserReviewDetailsObj.Model != null && Model.UserReviewDetailsObj.Make != null)
{
    <section class="padding-top10" id="breadcrumb">
        <div class="container">
            <div class="grid-12">
                <div class="breadcrumb margin-bottom15">
                    <ul>
                        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/" itemprop="url">
                                <span itemprop="title">Home</span>
                            </a>
                        </li>
                        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="bwsprite fa-angle-right margin-right10"></span>
                            <a href="/@Model.UserReviewDetailsObj.Make.MaskingName-bikes/" itemprop="url">
                                <span itemprop="title">@Model.UserReviewDetailsObj.Make.MakeName Bikes</span>
                            </a>
                        </li>
                        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="bwsprite fa-angle-right margin-right10"></span>
                            <a href="@Bikewale.Utility.UrlFormatter.BikePageUrl(Model.UserReviewDetailsObj.Make.MaskingName,Model.UserReviewDetailsObj.Model.MaskingName)" itemprop="url">
                                <span itemprop="title">@Model.UserReviews.BikeName</span>
                            </a>
                        </li>
                        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="bwsprite fa-angle-right margin-right10"></span>
                            <a href="@Bikewale.Utility.UrlFormatter.FormatUserReviewUrl(Model.UserReviewDetailsObj.Make.MaskingName,Model.UserReviewDetailsObj.Model.MaskingName)" itemprop="url">
                                <span itemprop="title">User Reviews</span>
                            </a>
                        </li>
                        <li>
                            <span class="bwsprite fa-angle-right margin-right10"></span>
                            <span>@Model.UserReviewDetailsObj.Title</span>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <div class="container card-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <div class="content-box-shadow padding-15-20">
                        <h1 class="inline-block margin-right20">@Model.UserReviews.BikeName User Reviews</h1>
                        <div class="inline-block">
                            <span class="inline-block">Overall rating:</span>
                            <span class="inline-block rate-count-@Model.UserReviewDetailsObj.OverallRating.Value">
                                <span class="bwsprite star-icon star-size-16"></span>
                                <span class="font14 text-bold inline-block">@Model.UserReviewDetailsObj.OverallRating.Value</span>
                                <span class="font11 text-xt-light inline-block">&nbsp;/&nbsp;5</span>
                            </span>
                            <span class="font14 text-xt-light review-left-divider inline-block">23 ratings</span>
                        </div>
                    </div>
                    <div class="content-inner-block-20">
                        <div class="grid-9 alpha padding-right20 border-light-right">
                            <div class="margin-bottom15">
                                <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>@Model.UserReviewDetailsObj.OverallRating.Value</span>
                                <p class="font18 text-black text-bold inline-block margin-right5">@Model.UserReviewDetailsObj.Title</p>
                                <span class="font12 inline-block text-light-grey">@Model.ReviewAge by @Model.UserReviewDetailsObj.CustomerName</span>
                            </div>
                            <div class="margin-bottom10 font14 text-slate-grey">
                                @if (!string.IsNullOrEmpty(Model.UserReviewDetailsObj.Description))
                                {
                                    <p>@Html.Raw(Model.UserReviewDetailsObj.Description)</p>
                                }
                                <ul class="rating-circle-list">
                                    @foreach (var q in Model.ReviewQuestions)
                                    {
                                        if (q.SelectedRatingId > 0)
                                        {
                                            <li>
                                                <div class="rating-circle circle-rate-@q.SelectedRatingId">
                                                    <p class="circle-label">@q.SelectedRatingId</p>
                                                    <span class="rating-progress">
                                                    </span>
                                                </div>
                                                <p class="list-item-label">@q.Heading</p>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>

                            <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                <span class="btn-label-grid">
                                    <span class="bwsprite like-sm"></span>
                                    <span class="btn-label">Liked</span>
                                </span><span class="btn-count">@Model.UserReviewDetailsObj.UpVotes</span>
                            </button>

                            <button type="button" class="btn btn-inv-teal-group">
                                <span class="btn-label-grid">
                                    <span class="bwsprite dislike-sm"></span>
                                    <span class="btn-label">Dislike</span>
                                </span><span class="btn-count">@Model.UserReviewDetailsObj.DownVotes</span>
                            </button>

                            <p class="text-light-grey rightfloat line-height26">Inappropriate review? <a href="javascript:void(0)" id="btnReportClick" rel="nofollow">Report Abuse</a></p>
                            <div class="clear"></div>

                        </div>
                        <div class="grid-3 omega padding-left20">
                            <ul>
                                @*<li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>*@
                                @foreach (var q in Model.RatingQuestions)
                                {
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-@q.Id"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">@q.MinHeading</p>
                                            <p class="font14 text-slate-grey">@q.Rating.FirstOrDefault().Text</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    if (Model.GenericBikeWidgetData != null)
    {
        <section>
            @Html.Partial("~/views/BikeModels/_BikeInfoCard.cshtml", Model.GenericBikeWidgetData)
        </section>
    }

    if (Model.UserReviews != null && Model.UserReviews.UserReviews.TotalCount > 0)
    {
        @Html.Partial("~/views/UserReview/_UserReviewsSearch.cshtml", Model.UserReviews)
    }    

    <section>
        <div class="container card-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow rate-bike-slug content-inner-block-20">
                    <div class="leftfloat">
                        <div class="circle-placeholder-60 inline-block">
                            <span class="bwsprite star-1 margin-top15"></span>
                        </div>
                        <p class="font18 text-black text-bold inline-block margin-left20 margin-right15">Rate your bike</p>
                        <p class="font14 text-slate-grey inline-block">Share your experience about this bike</p>
                    </div>
                    <div class="rightfloat padding-top15 answer-star-list hover-effect">
                        @*<input type="radio" name="rate-bike" id="rate-bike-5" value="5">
                            <label class="bwsprite star-0" for="rate-bike-5" data-value="5"></label>
                            <input type="radio" name="rate-bike" id="rate-bike-4" value="4">
                            <label class="bwsprite star-0" for="rate-bike-4" data-value="4"></label>
                            <input type="radio" name="rate-bike" id="rate-bike-3" value="3">
                            <label class="bwsprite star-0" for="rate-bike-3" data-value="3"></label>
                            <input type="radio" name="rate-bike" id="rate-bike-2" value="2">
                            <label class="bwsprite star-0" for="rate-bike-2" data-value="2"></label>
                            <input type="radio" name="rate-bike" id="rate-bike-1" value="1">
                            <label class="bwsprite star-0" for="rate-bike-1" data-value="1"></label>*@
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=5&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Details))" type="radio" id="rate-star-5" name="rate-bike" value="5">
                        <label class="bwsprite star-0" for="rate-bike-5" data-value="5"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=4&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Details))" type="radio" id="rate-star-4" name="rate-bike" value="4">
                        <label class="bwsprite star-0" for="rate-bike-4" data-value="4"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=3&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Details))" type="radio" id="rate-star-3" name="rate-bike" value="3">
                        <label class="bwsprite star-0" for="rate-bike-3" data-value="3"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=2&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Details))" type="radio" id="rate-star-2" name="rate-bike" value="2">
                        <label class="bwsprite star-0" for="rate-bike-2" data-value="2"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=1&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Desktop_UserReview_Details))" type="radio" id="rate-star-1" name="rate-bike" value="1">
                        <label class="bwsprite star-0" for="rate-bike-1" data-value="1"></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    @*<section>
            <div class="container card-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 article-list font14">
                        <h2 class="h2-heading margin-bottom20 margin-left10">Expert reviews on Pulsar RS200</h2>
                        <article class="margin-bottom20">
                            <div class="grid-4">
                                <div class="model-preview-image-container">
                                    <a href="">
                                        <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid-8">
                                <header>
                                    <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                                </header>
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Jun 06, 2016</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">Pratheek Kunder</span>
                                </div>
                                <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                            </div>
                            <div class="clear"></div>
                        </article>
                        <article class="margin-bottom20">
                            <div class="grid-4">
                                <div class="model-preview-image-container">
                                    <a href="">
                                        <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid-8">
                                <header>
                                    <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                                </header>
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Jun 06, 2016</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">Pratheek Kunder</span>
                                </div>
                                <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                            </div>
                            <div class="clear"></div>
                        </article>
                        <article class="margin-bottom20">
                            <div class="grid-4">
                                <div class="model-preview-image-container">
                                    <a href="">
                                        <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                                    </a>
                                </div>
                            </div>
                            <div class="grid-8">
                                <header>
                                    <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                                </header>
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Jun 06, 2016</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">Pratheek Kunder</span>
                                </div>
                                <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                            </div>
                            <div class="clear"></div>
                        </article>
                        <div class="padding-left10 more-article-target view-all-btn-container">
                            <a title="" href="" class="btn view-all-target-btn">
                                Read all expert reviews<span class="bwsprite teal-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <section>
            <div class="container card-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-bottom20">
                        <div class="carousel-heading-content padding-top20">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2 class="h2-heading">Reviews of similar bikes</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="" title="" class="btn view-all-target-btn">View all</a>
                            </div>
                        </div>
                        <div class="jcarousel-wrapper inner-content-carousel user-reviews-type-carousel">
                            <div class="jcarousel">
                                <ul>
                                    <li>
                                        <a href="" class="jcarousel-card">
                                            <div class="model-jcarousel-image-preview">
                                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                            </div>
                                            <div class="card-desc-block">
                                                <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                                <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                                <span class="font14 text-light-grey inline-block">23 ratings</span>
                                                <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="jcarousel-card">
                                            <div class="model-jcarousel-image-preview">
                                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                            </div>
                                            <div class="card-desc-block">
                                                <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                                <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                                <span class="font14 text-light-grey inline-block">23 ratings</span>
                                                <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="jcarousel-card">
                                            <div class="model-jcarousel-image-preview">
                                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                            </div>
                                            <div class="card-desc-block">
                                                <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                                <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                                <span class="font14 text-light-grey inline-block">23 ratings</span>
                                                <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="jcarousel-card">
                                            <div class="model-jcarousel-image-preview">
                                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                            </div>
                                            <div class="card-desc-block">
                                                <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                                <span class="rating-badge" data-rate-bg="2"><span class="bwsprite star-white"></span>2</span>
                                                <span class="font14 text-light-grey inline-block">23 ratings</span>
                                                <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="jcarousel-card">
                                            <div class="model-jcarousel-image-preview">
                                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                            </div>
                                            <div class="card-desc-block">
                                                <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                                <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                                <span class="font14 text-light-grey inline-block">23 ratings</span>
                                                <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <span class="jcarousel-control-left">
                                <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                            </span>
                            <span class="jcarousel-control-right">
                                <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                            </span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>*@

if (Model.ExpertReviews != null && Model.ExpertReviews.ArticlesList != null && Model.ExpertReviews.ArticlesList.Count() > 0)
{
    <section>
        <div class="container card-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 article-list font14">
                    <h2 class="h2-heading margin-bottom20 margin-left10">@Model.ExpertReviews.Title</h2>
                    @Html.Partial("~/views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)
                    <div class="padding-left10 more-article-target view-all-btn-container">
                        <a href="@Model.ExpertReviews.MoreExpertReviewUrl" title="@string.Format("{0} {1} Expert Reviews", Model.UserReviewDetailsObj.Make.MakeName, Model.UserReviewDetailsObj.Model.ModelName)" class="btn view-all-target-btn">
                            Read all expert reviews<span class="bwsprite teal-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

if (Model.SimilarBikeReviewWidget != null && Model.SimilarBikeReviewWidget.Count() > 0)
{
        <section>
            <div class="container card-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-bottom20">
                        <div class="carousel-heading-content padding-top20">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2 class="h2-heading">Reviews of similar bikes</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="/user-reviews/" title="@string.Format("{0} {1} user reviews", Model.UserReviewDetailsObj.Make.MakeName, Model.UserReviewDetailsObj.Model.ModelName)" class="btn view-all-target-btn">View all</a>
                            </div>
                        </div>
                        @Html.Partial("~/views/UserReview/_SimilarBikeUserReview.cshtml", Model.SimilarBikeReviewWidget)
                         <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    <div id="report-abuse">
        <p class="font20 text-bold text-center margin-bottom20">Why do you want to report it abuse?</p>

        <div class="report-abuse-close-btn position-abt pos-top10 pos-right10 bwsprite cross-lg-lgt-grey cur-pointer"></div>

        <p class="margin-bottom10 font14">Comment</p>

        <textarea id="txtAbuseComments"></textarea>
        <span id="spnAbuseComments" class="error font12 text-red"></span>

        <div class="text-center margin-top10">
            <a id="btnReportReviewAbuse" class="btn btn-orange" rel="nofollow">Report</a>
        </div>
    </div>
    <div id="report-background"></div>
}