@model  Bikewale.Models.IndexBestBikesVM
@using Bikewale.Utility;
@using Bikewale.Entities.GenericBikes;
@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/sass/generic/listing.css' inline />";
    int i = 10;
    string prevMonth = DateTime.Now.AddMonths(-1).ToString("MMMM");
    Model.IsTransparentHeader = true;
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_BestBike";
    Model.AdTags.AdId = "1516081533239";
    Model.AdTags.Ad_300x250BTF = true;
    Model.AdTags.Ad_Bot_320x50 = true;
}

<section>
    <div class="container generic-banner text-center  @Model.bannerImagePos" style="background-image: url(@Model.bannerImage)">
        <h1 class="font24 text-uppercase text-white margin-bottom10">Best @Model.PageName in India</h1>
        <h2 class="font14 text-unbold text-white">Explore the list of top 10 @Model.PageName.ToLower() in India</h2>
    </div>
</section>
@if (!string.IsNullOrEmpty(Model.Content))
{

    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="banner-box-shadow content-inner-block-20 description-content font14 text-light-grey">
                    @if (Model.Content.Length > 200)
                    {
                        <p class="desc-main-content">@Model.Content.Substring(0, 200)</p><p class="desc-more-content">@Model.Content.Substring(200)</p><a href="javascript:void(0)" class="read-more-desc-target" rel="nofollow">... Read more</a>
                    }
                    else
                    {
                        <p class="desc-main-content">@Model.Content</p>
                    }
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

}

@if (Model.objBestBikesList != null && Model.objBestBikesList.Count() > 0)
{
    <section>
        <div class="container section-bottom-margin">
            <div class="box-shadow bg-white">
                <div class="padding-right20 padding-left20">
                    <h2 class="padding-top10 padding-bottom10 border-solid-bottom">And the top 10 @Model.PageName.ToLower() are...</h2>
                </div>
                <ul id="bike-list">

                    @foreach (var bike in Model.objBestBikesList)
                    {
                        <li class="list-item" id="bike@(i)">
                            <div class="padding-bottom15 border-light-bottom">
                                <a href="@string.Format("/m/{0}-bikes/{1}/",bike.Make.MaskingName,bike.Model.MaskingName) " title="@bike.BikeName " class="item-image-content vertical-top">
                                    <span class="item-rank">#@i@{i--;} </span>
                                    @if (i > 7)
                                    {
                                        <img src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,Bikewale.Utility.ImageSize._110x61,QualityFactor._80) " alt="@bike.BikeName " />
                                    }
                                    else
                                    {
                                        <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,Bikewale.Utility.ImageSize._110x61,QualityFactor._80) " alt="@bike.BikeName " src="" />
                                    }
                                </a>
                                <div class="bike-details-block vertical-top">
                                    <h3 class="margin-bottom5"><a href="@string.Format("/m/{0}-bikes/{1}/",bike.Make.MaskingName,bike.Model.MaskingName) " title="@bike.BikeName " class="target-link">@bike.BikeName </a></h3>
                                    <ul class="key-specs-list font12 text-xx-light">
                                        @if (bike.MinSpecsList != null)
                                        {
                                            @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsLiElements(bike.MinSpecsList))
                                        }
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <table class="item-table-content border-light-bottom" width="100%" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr class="table-head-row" style="text-align:left">
                                        <th valign="top" width="35%" align="left">Available in</th>
                                        <th valign="top" width="35%" align="left">Launched in</th>
                                        <th valign="top" width="30%" align="left">Unit sold @string.Format("{0}", (bike.UnitsSold > 0) ? string.Format("({0})", bike.LastUpdatedModelSold.Value.ToString("MMM")) : "")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top" class="text-bold text-grey">
                                            @if (bike.TotalModelColors > 0)
                                            {
                                                <text>@string.Format("{0} {1}", bike.TotalModelColors, bike.TotalModelColors > 1 ? " colors" : " color")</text>
                                            }
                                            else
                                            {
                                                <text>@string.Format("N/A")</text>
                                            }

                                        </td>
                                        <td valign="top" class="text-bold text-grey">@string.Format("{0}", bike.LaunchDate.HasValue ? FormatDate.GetFormatDate(bike.LaunchDate.ToString(), "MMM yyyy") : "Before 2012")</td>
                                        <td valign="top" class="text-bold text-grey">@string.Format("{0}", bike.UnitsSold > 0 ? Format.FormatNumeric(bike.UnitsSold.ToString()) : "Not Available") </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="padding-top10 margin-bottom10">
                                <p class="font13 text-grey">Ex-showroom price, @bike.PriceInCity </p>
                                <div class="margin-bottom10 font16">
                                    @Html.Raw("<span> &#x20B9;</span>")
                                    <span class="text-bold">@Bikewale.Utility.Format.FormatPrice(bike.Price.ToString()) </span>
                                </div>
                                @if (bike.Price > 0)
                                {
                                    <button type="button" data-pagecatid="0"
                                            data-pqsourceid="(int)@Model.pqSource " data-makename="@bike.Make.MakeName "
                                            data-modelname="@bike.Model.ModelName " data-modelid="@bike.Model.ModelId "
                                            class="btn btn-white font14 btn-size-180 getquotation">
                                        Check on-road price
                                    </button>
                                }
                            </div>
                            <p class="font14 text-light-grey margin-bottom15">@bike.SmallModelDescription </p>
                            <ul class="item-more-details-list">
                                @if (bike.NewsCount > 0)
                                {
                                    <li>
                                        <a href="@string.Format("/m{0}",@Bikewale.Utility.UrlFormatter.FormatNewsUrl(bike.Make.MaskingName,bike.Model.MaskingName)) " title="@bike.BikeName  News">
                                            <span class="bwmsprite news-sm"></span>
                                            <span class="icon-label">News</span>
                                        </a>
                                    </li>
                                }
                                @if (bike.ExpertReviewsCount > 0)
                                {
                                    <li>
                                        <a href="@string.Format("/m{0}",@Bikewale.Utility.UrlFormatter.FormatExpertReviewUrl(bike.Make.MaskingName,bike.Model.MaskingName)) " title="@bike.BikeName  Reviews">
                                            <span class="bwmsprite reviews-sm"></span>
                                            <span class="icon-label">Reviews</span>
                                        </a>
                                    </li>
                                }
                                @if (bike.PhotosCount > 0)
                                {
                                    <li>
                                        <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(bike.Make.MaskingName,bike.Model.MaskingName)) " title="@bike.BikeName  Images">
                                            <span class="bwmsprite photos-sm"></span>
                                            <span class="icon-label">Images</span>
                                        </a>
                                    </li>
                                }
                                @if (bike.VideosCount > 0)
                                {
                                    <li>
                                        <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatVideoPageUrl(bike.Make.MaskingName,bike.Model.MaskingName)) " title="@bike.BikeName  Videos">
                                            <span class="bwmsprite videos-sm"></span>
                                            <span class="icon-label">Videos</span>
                                        </a>
                                    </li>
                                }
                                @if (bike.MinSpecsList != null)
                                {
                                    <li>
                                        <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.ViewAllFeatureSpecs(bike.Make.MaskingName,bike.Model.MaskingName) )" title="@bike.BikeName  Specs">
                                            <span class="bwmsprite specs-sm"></span>
                                            <span class="icon-label">Specs</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <div class="clear"></div>

                            @if (bike.UsedBikesCount > 0 && bike.UsedCity != null && bike.Make != null && bike.Model != null)
                            {
                                <div class="border-light-bottom margin-top10 margin-bottom15"></div>
                                <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.ViewMoreUsedBikes(bike.UsedCity.CityId, bike.UsedCity.CityMaskingName, bike.Make.MaskingName, bike.Model.MaskingName)) " title="Used @bike.Model.ModelName  bikes" class="block text-light-grey margin-bottom5">
                                    <span class="used-target-label inline-block">
                                        <span class="font14 text-bold">@bike.UsedBikesCount  Used @bike.Model.ModelName @string.Format("bike{0}", bike.UsedBikesCount > 1 ? "s" : "")</span><br>
                                    </span>
                                    <span class="bwmsprite next-grey-icon"></span>
                                </a>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>

}
@if (Model.AdTags.Ad_300x250BTF)
{
    <div class="margin-bottom15 text-center">
        @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", new { AdId = Model.AdTags.AdId });}
    </div>
}
@if (Model.Brands != null && Model.BestBikes.CurrentPage != EnumBikeBodyStyles.Scooter)
{

    <section>
        <div class="container">
            <h2 class="section-heading">Not Sure? Check out other bikes</h2>
            <div class="grid-12 alpha omega">
                <div class="bw-tabs-panel padding-bottom20 content-box-shadow bg-white" id="discoverBikesContainer">

                    <div class="bw-tabs bw-tabs-flex">
                        <ul class="brand-collapsible-present">
                            <li class="active" data-tabs="discoverBrand">Brand</li>
                            <li data-tabs="discoverBudget">Budget</li>
                            <li data-tabs="discoverMileage">Mileage</li>
                            <li data-tabs="discoverStyle">Style</li>
                        </ul>
                    </div>

                    <div class="bw-tabs-data collapsible-brand-content" id="discoverBrand">
                        @Html.Partial("~/Views/Make/_Brands_Mobile.cshtml", Model.Brands)
                    </div>
                    <div class="bw-tabs-data hide" id="discoverBudget">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/m/new/bike-search/bikes-under-50000/" class="list-item">
                                    <span class="block-key-field">Upto</span>
                                    <span class="block">
                                        <span class="bwmsprite inr-grey-xxsm-icon"></span>
                                        <span class="font14 text-bold">50,000</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/bikes-between-50000-and-100000/" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span class="block font14 text-bold">
                                        <span class="bwmsprite inr-grey-xxsm-icon"></span>
                                        <span>50,000 - </span>
                                        <span class="bwmsprite inr-grey-xxsm-icon"></span>
                                        <span>1 Lac</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/bikes-between-100000-and-250000/" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span class="block font14 text-bold">
                                        <span class="bwmsprite inr-grey-xxsm-icon"></span>
                                        <span>1 Lac</span>
                                        <span>- </span>
                                        <span class="bwmsprite inr-grey-xxsm-icon"></span>
                                        <span>2.5 Lac</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/bikes-above-250000/" class="list-item">
                                    <span class="block-key-field">Above</span>
                                    <span class="block">
                                        <span class="bwmsprite inr-grey-xxsm-icon"></span>
                                        <span class="font14 text-bold">2.5 Lac</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bw-tabs-data hide" id="discoverMileage">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/m/new/bike-search/?mileage=1" class="list-item">
                                    <span class="block-key-field font14">Above</span>
                                    <span class="block">
                                        <span class="font14 text-bold">70 Kmpl</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?mileage=2" class="list-item">
                                    <span class="block-key-field font14">Between</span>
                                    <span class="block font14 text-bold">
                                        <span class="">70</span>
                                        <span class="mileage-amount-text-box">Kmpl</span>
                                        <span class="">- 50</span>
                                        <span class="mileage-amount-text-box">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?mileage=3" class="list-item">
                                    <span class="block-key-field font14">Between</span>
                                    <span class="block font14 text-bold">
                                        <span class="">50</span>
                                        <span class="mileage-amount-text-box">Kmpl</span>
                                        <span class="">- 30</span>
                                        <span class="mileage-amount-text-box">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?mileage=4" class="list-item">
                                    <span class="block-key-field font14">Upto</span>
                                    <span class="block">
                                        <span class="font14 text-bold">30 Kmpl</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bw-tabs-data style-type-container hide" id="discoverStyle">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=5" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-scooters"></span>
                                    </span>
                                    <span class="style-type-title">Scooters</span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=3" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-street"></span>
                                    </span>
                                    <span class="style-type-title">Street</span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=1" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-cruiser"></span>
                                    </span>
                                    <span class="style-type-title">Cruiser</span>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=2" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-sports"></span>
                                    </span>
                                    <span class="style-type-title">Sports</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

@if (Model.Brands != null && Model.BestBikes.CurrentPage == EnumBikeBodyStyles.Scooter)
{
    <section>

        <div class="container section-bottom-margin">
            <h2 class="section-heading">Not Sure? Check out other scooters</h2>
            <div class="box-shadow bg-white padding-bottom10">
                <div class="bw-tabs-panel">
                    <div class="bw-tabs bw-tabs-flex margin-bottom10">
                        <ul>
                            <li class="active" data-tabs="brand-tab">Brand</li>
                            <li data-tabs="budget-tab">Budget</li>
                            <li data-tabs="displacement-tab">Displacement</li>
                        </ul>
                    </div>
                    <div id="brand-tab" class="bw-tabs-data">
                        <div class="padding-bottom10 text-center collapsible-brand-content">
                            @{ Html.RenderPartial("~/views/make/_Brands_Mobile.cshtml", Model.Brands); }
                        </div>
                    </div>
                    <div id="budget-tab" class="bw-tabs-data hide">
                        <ul class="elevated-card-list padding-top10">
                            <li>
                                <a href="/m/new/bike-search/bikes-under-50000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-one"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">50K</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/bikes-between-50000-and-70000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-two"></span>
                                        </div>
                                        <span class="key-size-14">Between</span><br />
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">50K</span> -
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">70K</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/bikes-above-70000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-three"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">70K</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="displacement-tab" class="bw-tabs-data hide">
                        <ul class="elevated-card-list padding-top10">
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=5&displacement=1" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite engine-lg engine-sm"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        <span class="value-size-15">100 cc</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=5&displacement=7" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite engine-lg engine-md"></span>
                                        </div>
                                        <span class="key-size-14">Between</span><br />
                                        <span class="value-size-15">100 - 125 cc</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=5&displacement=8+3+4+5+6" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite engine-lg"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        <span class="value-size-15">125 cc</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<section>
    <div class="container section-bottom-margin">
        <h2 class="section-heading">Best bikes in other categories</h2>
        <div class="box-shadow bg-white padding-top10 padding-bottom10">
            @Html.Partial("~/Views/GenericBestBikes/_BestBikesGenericPage_Mobile.cshtml", Model.BestBikes)
        </div>
    </div>
</section>

@if (Model.News != null)
{
    <section>
        <h2 class="section-heading">More news about top 10 @Model.PageName.ToLower()</h2>
        <div id="newsContent" class="padding-15-20-20 content-box-shadow card-bottom-margin content-details-wrapper font14">

            @Html.Partial("~/Views/News/_RecentNews_Mobile.cshtml", Model.News)

        </div>
    </section>
}

<script type="text/javascript">
    var descWrapper;
    docReady(function () {

        $('.read-more-desc-target').on('click', function () {
            descWrapper = $(this).closest('.description-content');
            description.toggleContent(descWrapper);
        });

    });
    var description = {
        toggleContent: function (descWrapper) {
            var readMoreTarget = $(descWrapper).find('.read-more-desc-target');
            if (!$(descWrapper).hasClass('active')) {
                $(descWrapper).addClass('active');
                readMoreTarget.text('Collapse');
            }
            else {
                $(descWrapper).removeClass('active');
                readMoreTarget.text('... Read more');
            }
        }
    };
</script>
