@model  Bikewale.Models.IndexBestBikesVM
@using Bikewale.Utility;
@using Bikewale.Entities.GenericBikes;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/generic/listing.css' inline />";
    int i = 10;
    string prevMonth = DateTime.Now.AddMonths(-1).ToString("MMMM");
    Model.AdTags.AdPath = "/1017752/Bikewale_BestBike";
    Model.AdTags.AdId = "1516081185645";
    Model.AdTags.Ad_Model_BTF_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
}
<header>
    <div class="generic-banner @Model.bannerImagePos" style="background-image: url(@Model.bannerImage)">
        <div class="container">
            <div class="banner-box text-center">
                <h1 class="font30 text-uppercase margin-bottom5 text-white">Best @Model.PageName in India</h1>
                <h2 class="font20 text-unbold text-white">Explore the list of top 10 @Model.PageName.ToLower() in India</h2>
            </div>
        </div>
    </div>
</header>
@if (!string.IsNullOrEmpty(Model.Content))
{
    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow content-inner-block-20 margin-minus50 description-content font14 text-light-grey">
                    @if (Model.Content.Length > 410)
                    {
                        <p class="desc-main-content">@Model.Content.Substring(0, 410)</p><p class="desc-more-content">@Model.Content.Substring(410)</p><a href="javascript:void(0)" class="read-more-desc-target" rel="nofollow">... Read more</a>
                    }
                    else
                    {
                        <p class="desc-main-content">@Model.Content</p>
                    }
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}


@if (Model.objBestBikesList != null && Model.objBestBikesList.Count() > 0)
{
    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <div class="padding-right20 padding-left20">
                        <h2 class="font18 text-black padding-top15 padding-bottom15 border-light-bottom">And the top 10 @Model.PageName.ToLower()  are...</h2>
                    </div>

                    <ul id="bike-list" class="font14">

                        @foreach (var bike in Model.objBestBikesList)
                        {

                            <li class="list-item" id="bike@(i)">
                                <div class="item-details-content">
                                    <div class="grid-3 padding-left20">
                                        <a href="@string.Format("/{0}-bikes/{1}/", bike.Make.MaskingName, bike.Model.MaskingName)" title="@bike.BikeName" class="item-image-content">
                                            <span class="item-rank">#@i@{i--;} </span>
                                            @if (i > 7)
                                            {
                                                <img src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._227x128, QualityFactor._85) " alt="@bike.BikeName " />
                                            }
                                            else
                                            {
                                                <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._227x128, QualityFactor._85) " alt="@bike.BikeName " src="" />
                                            }

                                        </a>
                                    </div>
                                    <div class="grid-6 bike-details-block border-grey-right padding-right20">
                                        <h3><a href="@string.Format(" /{0}-bikes/{1}/", bike.Make.MaskingName, bike.Model.MaskingName) " title="@bike.BikeName " class="bikeTitle">@bike.BikeName </a></h3>
                                        <ul class="key-specs-list text-light-grey padding-bottom15 margin-bottom15 border-solid-bottom">
                                            @if (bike.MinSpecs.Displacement != 0)
                                            {
                                                <li>
                                                    <span class="bwsprite capacity-sm"></span>
                                                    <span>@Bikewale.Utility.FormatMinSpecs.ShowAvailable(bike.MinSpecs.Displacement.ToString(), "cc") </span>
                                                </li>
                                            }
                                            @if (bike.MinSpecs.FuelEfficiencyOverall != 0)
                                            {
                                                <li>
                                                    <span class="bwsprite mileage-sm"></span>
                                                    <span>@Bikewale.Utility.FormatMinSpecs.ShowAvailable(bike.MinSpecs.FuelEfficiencyOverall.ToString(), "kmpl") </span>
                                                </li>
                                            }
                                            @if (bike.MinSpecs.MaxPower != 0)
                                            {
                                                <li>
                                                    <span class="bwsprite power-sm"></span>
                                                    <span>@Bikewale.Utility.FormatMinSpecs.ShowAvailable(bike.MinSpecs.MaxPower.ToString(), "bhp") </span>
                                                </li>
                                            }
                                        </ul>
                                        <table class="item-table-content" width="100%" cellspacing="0" cellpadding="0">
                                            <thead>
                                                <tr class="table-head-row">
                                                    <th valign="top" width="35%">Available in</th>
                                                    <th valign="top" width="25%">Launched in</th>
                                                    <th valign="top" width="30%">Unit sold @string.Format("{0}", (bike.UnitsSold > 0) ? string.Format("({0})", bike.LastUpdatedModelSold.Value.ToString("MMMM")) : "")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td valign="top" class="text-bold text-grey">
                                                        @if (bike.TotalVersions + bike.TotalModelColors > 0)
                                                        {
                                                            <text>@string.Format("{0} {1}{2}", bike.TotalVersions, bike.TotalVersions > 1 ? " variants" : " variant", (bike.TotalModelColors > 0) ? string.Format(", {0} {1}", bike.TotalModelColors, (bike.TotalModelColors > 1) ? " colors" : " color") : "")</text>
                                                        }
                                                    </td>
                                                    <td valign="top" class="text-bold text-grey">@string.Format("{0}", bike.LaunchDate.HasValue ? FormatDate.GetFormatDate(bike.LaunchDate.ToString(), "MMMM yyyy") : "Before 2012") </td>
                                                    <td valign="top" class="text-bold text-grey">@string.Format("{0}", bike.UnitsSold > 0 ? Format.FormatNumeric(bike.UnitsSold.ToString()) : "Not Available") </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="grid-3 padding-left20 padding-right20">
                                        <p class="font14 text-grey margin-bottom5">Ex-showroom price, @bike.PriceInCity </p>
                                        <div class="margin-bottom10 font18">
                                            @Html.Raw("<span>&#x20B9;</span>")&nbsp;<span class="text-bold">@Bikewale.Utility.Format.FormatPrice(bike.Price.ToString()) </span>
                                        </div>
                                        @if (bike.Price > 0)
                                        {
                                            <a href="javascript:void(0)" data-pagecatid="0"
                                               data-pqsourceid="(int)@Model.pqSource " data-makename="@bike.Make.MakeName "
                                               data-modelname="@bike.Model.ModelName " data-modelid="@bike.Model.ModelId "
                                               class="btn btn-grey btn-sm font14 getquotation">Check on-road price</a>
                                        }
                                    </div>
                                    <div class="clear"></div>

                                    <div class="margin-top15 padding-right20 description-content padding-left20">
                                        <p class="font14 text-light-grey margin-bottom15">@bike.SmallModelDescription </p>
                                        <div class="leftfloat">
                                            <span class="text-light-grey inline-block">More about @bike.Model.ModelName :</span>
                                            <ul class="item-more-details-list inline-block">
                                                @if (bike.NewsCount > 0)
                                                {
                                                    <li>
                                                        <a href="@UrlFormatter.FormatNewsUrl(bike.Make.MaskingName, bike.Model.MaskingName) " title="@bike.BikeName  News">
                                                            <span class="bwsprite news-sm"></span>
                                                            <span class="icon-label">News</span>
                                                        </a>
                                                    </li>
                                                }
                                                @if (bike.ExpertReviewsCount > 0)
                                                {
                                                    <li>
                                                        <a href="@UrlFormatter.FormatExpertReviewUrl(bike.Make.MaskingName, bike.Model.MaskingName) " title="@bike.BikeName  Reviews">
                                                            <span class="bwsprite reviews-sm"></span>
                                                            <span class="icon-label">Reviews</span>
                                                        </a>
                                                    </li>
                                                }
                                                @if (bike.PhotosCount > 0)
                                                {
                                                    <li>
                                                        <a href="@UrlFormatter.FormatPhotoPageUrl(bike.Make.MaskingName, bike.Model.MaskingName) " title="@bike.BikeName  Images">
                                                            <span class="bwsprite photos-sm"></span>
                                                            <span class="icon-label">Images</span>
                                                        </a>
                                                    </li>
                                                }
                                                @if (bike.VideosCount > 0)
                                                {
                                                    <li>
                                                        <a href="@UrlFormatter.FormatVideoPageUrl(bike.Make.MaskingName, bike.Model.MaskingName) " title="@bike.BikeName  Videos">
                                                            <span class="bwsprite videos-sm"></span>
                                                            <span class="icon-label">Videos</span>
                                                        </a>
                                                    </li>
                                                }
                                                @if (bike.MinSpecs != null)
                                                {
                                                    <li>
                                                        <a href="@UrlFormatter.ViewAllFeatureSpecs(bike.Make.MaskingName, bike.Model.MaskingName) " title="@bike.BikeName  Specs">
                                                            <span class="bwsprite specs-sm"></span>
                                                            <span class="icon-label">Specs</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                        @if (bike.UsedBikesCount > 0 && bike.UsedCity != null && bike.Make != null && bike.Model != null)
                                        {
                                            <div class="used-bike-target-link leftfloat">
                                                <span class="text-light-grey">Check out&nbsp;:</span>&nbsp;
                                                <a href="@UrlFormatter.ViewMoreUsedBikes(bike.UsedCity.CityId, bike.UsedCity.CityMaskingName, bike.Make.MaskingName, bike.Model.MaskingName) " title="Used @bike.Model.ModelName  bikes">@bike.UsedBikesCount  Used @bike.Model.ModelName @string.Format("bike{0}", bike.UsedBikesCount > 1 ? "s" : "")</a>
                                            </div>
                                        }
                                        <div class="clear"></div>
                                    </div>
                                </div>

                            </li>

                        }
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}
<section class="container">
    @if (Model.AdTags.Ad_Model_BTF_970x90)
    {
        Html.RenderPartial("/Views/Shared/Ads/Desktop/Model_BTF_970x90.cshtml", new { AdId = Model.AdTags.AdId });
    }
</section>
@if (Model.Brands != null && Model.BestBikes.CurrentPage != EnumBikeBodyStyles.Scooter)
{
    <section>
        <!--  Discover your bike code starts here -->
        <div class="container section-bottom-margin">
            <h2 class="section-heading">Not Sure? Check out other bikes</h2>
            <div class="grid-12">
                <div class="bw-tabs-panel content-box-shadow brand-budget-mileage-style-wrapper">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul class="brand-collapsible-present">
                            <li class="active" data-tabs="discoverBrand">
                                <h3>Brand</h3>
                            </li>
                            <li data-tabs="discoverBudget">
                                <h3>Budget</h3>
                            </li>
                            <li data-tabs="discoverMileage">
                                <h3>Mileage</h3>
                            </li>
                            <li data-tabs="discoverStyle">
                                <h3>Style</h3>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("~/Views/Make/_Brands.cshtml", Model.Brands)
                    <div class="bw-tabs-data budget-container margin-bottom20 hide" id="discoverBudget">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/new/bike-search/bikes-under-50000/" class="list-item">
                                    <span class="block-key-field">Upto</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">50,000</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-between-100000-and-250000/" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">50,000 - </span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">1</span>
                                        <span class="font16">Lakhs</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-between-100000-and-250000/" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">1</span>
                                        <span class="font16">Lakhs</span>
                                        <span>- </span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">2.5</span>
                                        <span class="font16">Lakhs</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-above-250000/" class="list-item">
                                    <span class="block-key-field">Above</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">2.5</span>
                                        <span class="font16">Lakhs</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bw-tabs-data margin-bottom20 hide" id="discoverMileage">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/new/bike-search/#mileage=1" class="list-item">
                                    <span class="block-key-field">Above</span>
                                    <span>
                                        <span class="font20">70 <span class="font16">Kmpl</span></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#mileage=2" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="font20">70</span>
                                        <span class="font16">Kmpl</span>
                                        <span class="font20">- 50</span>
                                        <span class="font16">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#mileage=3" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="font20">50</span>
                                        <span class="font16">Kmpl</span>
                                        <span class="font20">- 30</span>
                                        <span class="font16">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#mileage=4" class="list-item">
                                    <span class="block-key-field">Upto</span>
                                    <span>
                                        <span class="font20">30</span>
                                        <span class="font16">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bw-tabs-data style-type-container margin-bottom35 hide" id="discoverStyle">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/new/bike-search/#ridestyle=5" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-scooters"></span>
                                    </span>
                                    <span>Scooters</span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=3" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-street"></span>
                                    </span>
                                    <span>Street</span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=1" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-cruiser"></span>
                                    </span>
                                    <span>Cruiser</span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=2" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-sports"></span>
                                    </span>
                                    <span>Sports</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}
@if (Model.Brands != null && Model.BestBikes.CurrentPage == EnumBikeBodyStyles.Scooter)
{
    <section>
        <div class="container">
            <h2 class="section-heading">Not Sure? Check out other scooters</h2>
            <div class="grid-12">
                <div class="bw-tabs-panel brand-budget-mileage-style-wrapper content-box-shadow negative-50">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul class="brand-budget-mileage-style-UL">
                            <li class="active" data-tabs="discoverBrand">
                                <h3>Brand</h3>
                            </li>
                            <li data-tabs="discoverBudget">
                                <h3>Budget</h3>
                            </li>
                            <li data-tabs="discoverDisplacement">
                                <h3>Displacement</h3>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    @{ Html.RenderPartial("~/views/make/_Brands.cshtml", Model.Brands); }
                    <div id="discoverBudget" class="bw-tabs-data padding-bottom15 hide">
                        <ul class="elevated-card-list">
                            <li>
                                <a href="/new/bike-search/bikes-under-50000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite budget-one"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">50,000</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-between-50000-and-70000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite budget-two"></span>
                                        </div>
                                        <span class="key-size-14">Between</span><br />
                                        @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">50,000 -</span>
                                        &nbsp;@Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">70,000</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-above-70000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite budget-three"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">70,000</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="discoverDisplacement" class="bw-tabs-data padding-bottom15 hide">
                        <ul class="elevated-card-list">
                            <li>
                                <a href="/new/bike-search/#ridestyle=5&displacement=1" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite engine-lg engine-sm"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        <span class="value-size-16">110 cc</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=5&displacement=7" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite engine-lg engine-md"></span>
                                        </div>
                                        <span class="key-size-14">Between</span><br />
                                        <span class="value-size-16">110 - 125 cc</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=5&displacement=8+3+4+5+6" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite engine-lg"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        <span class="value-size-16">125 cc</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

<section>
    <div class="container section-bottom-margin">
        <h2 class="section-heading">Best bikes in other categories</h2>
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-bottom20">
                @Html.Partial("~/Views/GenericBestBikes/_BestBikesGenericPage.cshtml", Model.BestBikes)
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<!--news widget start-->
@if (Model.News != null)
{
    <section>
        <div class="container section-container padding-bottom20">
            <div class="grid-12">
                <h2 class="section-heading">More news about top 10 @Model.PageName.ToLower()</h2>
                <div class="content-box-shadow content-inner-block-20 card-bottom-margin font14">
                    @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

<script type="text/javascript">
    var descWrapper;
    docReady(function () {
        if ($(window).scrollTop() > 40) {
            $('#header').removeClass("header-landing").addClass("header-fixed");
        }
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 40)
                $('#header').removeClass("header-landing").addClass("header-fixed");
            else
                $('#header').removeClass("header-fixed").addClass("header-landing");
        });

        $('.read-more-desc-target').on('click', function () {
            descWrapper = $(this).closest('.description-content');

            description.toggleContent(descWrapper);
        });
    });



    var description = {
        toggleContent: function (descWrapper) {
            var readMoreTarget = $(descWrapper).find('.read-more-desc-target');

            if (!$(descWrapper).hasClass('active')) {
                $(descWrapper).addClass('active');
                readMoreTarget.text('Collapse');
            }
            else {
                $(descWrapper).removeClass('active');
                readMoreTarget.text('...Read more');
            }
        }
    };
</script>
