@model BikewaleOpr.Models.DealerPricing.DealerPricingSheetPageVM

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.PageTitle = Model.PageTitle;
}

<div class="row">
    <div data-bind="with: priceSheetModel" class="col m9">
        <table id="tblPricingSheet" class="bordered highlight centered z-depth-3 margin-top10">
            <thead>
                <tr>
                    <th>
                        <input data-bind="event: {change: onAllSelectChange}" class="allRowsCheckbox" type="checkbox" id='allRowsSelect'>
                        <label for='allRowsSelect'></label>
                    </th>
                    <th>Bike</th>
                    @foreach (var category in Model.DealerVersionCategories)
                    {
                        <th class="editableColumns" data-item-id="@category.ItemCategoryId">@category.ItemName</th>
                    }
                    <th class="editableColumns">Availability(days)</th>
                    <th class="editableColumns colorAvailability">Colors</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var dealerVersionPricing in Model.DealerPriceSheet.dealerVersionPricings)
                {
                    <tr class="dealerVersionPrice" data-modelname="@dealerVersionPricing.ModelName" data-modelid="@dealerVersionPricing.BikeModelId" data-versionid="@dealerVersionPricing.VersionId">
                        <td>
                            @{
                                var checkBoxId = dealerVersionPricing.VersionId;
                                var checkBoxIdString = "checkbox-" + checkBoxId.ToString();
                                <input data-bind="event: {change: onCheckboxChange}" class="rowCheckbox" type="checkbox" id='@checkBoxIdString'>
                                <label for='@checkBoxIdString'></label>
                            }
                        </td>
                        <td>@dealerVersionPricing.BikeName</td>
                        @foreach (var category in dealerVersionPricing.Categories)
                        {
                            <td class="editableValue" data-value="@category.ItemValue" data-itemid="@category.ItemCategoryId">@category.ItemValue</td>
                        }
                        <td data-availability="@dealerVersionPricing.NumberOfDays" data-value="@dealerVersionPricing.NumberOfDays" class="editableValue">@dealerVersionPricing.NumberOfDays</td>

                        <td class="colorAvailability editableColumns">
                            <a data-tooltip="View Colors" data-bind="click: onColorAvailabilityClick" href="Javascript:void(0)" class="material-icons availabilityByColor tooltipped" data-url="@(string.Format("/newbikebooking/ManageBikeAvailabilityByColorAndCost.aspx?dealerId={0}&versionId={1}&versionAvailDays={2}",@Model.DealerOperationParams.DealerId, dealerVersionPricing.VersionId,@dealerVersionPricing.NumberOfDays))">color_lens</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="input-field row">
            <a data-bind="event: {click: onUpdateClick}" data-city-id="@Model.CurrentCityId" data-dealer-id="@Model.DealerOperationParams.DealerId" data-entered-by="@Model.EnteredBy" id="btnUpdate" class="waves-effect waves-light btn">Update</a>
            <a data-bind="event: {click: onDeleteClick}" data-city-id="@Model.CurrentCityId" data-dealer-id="@Model.DealerOperationParams.DealerId" data-entered-by="@Model.EnteredBy" id="btnDelete" class="waves-effect waves-light btn red">Delete</a>
        </div>
    </div>
    <div class="col m3">
        <input type="hidden" id="selectedCategories" value="@Model.SelectedCategoriesString">

        @if (Model.OtherCityId > 0)
        {
            <input type="hidden" id="otherCityId" value="@Model.OtherCityId">
        }

        <ul class="collapsible margin-top10" data-collapsible="accordion">
            @Html.Partial("~/Views/DealerBikePrice/_SelectOperationCollapsable.cshtml", Model.DealerOperationParams)
            <li>
                <div class="collapsible-header"><strong>Show Pricing</strong></div>
                <div data-bind="with: dealerOperationsModel" class="collapsible-body">
                    <div class="container">
                        <div class="materialize-select input-field row s12">
                            <select class="chosen-select" id="ddlOtherCity" data-bind="event:{ change: onOtherCityChange}">
                                <option value="0" disabled selected>Select City</option>
                                @foreach (var city in Model.ShowPricingCities.Cities)
                                {
                                    <option value="@city.CityId">@city.CityName</option>
                                }
                            </select>
                        </div>
                        <div class="input-field row s12">
                            <button data-bind="event:{ click: getOtherCityPricing}" class="btn waves-effect waves-light" name="action">
                                Get Pricing
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li id="liAddCategory">
                <div class="collapsible-header"><strong>Add Category</strong></div>
                <div data-bind="with: addCategoryModel" class="collapsible-body">
                    <div class="container">
                        <div class="materialize-select input-field row s12">
                            <select data-placeholder="Add categories" class="chosen-select" id="ddlCategories" multiple>
                                <option value="0" disabled>Select categories</option>
                                @foreach (var category in Model.AddCategoryType.PriceCategories)
                                {
                                    <option value="@category.CategoryId">@category.CategoryName</option>
                                }
                            </select>
                        </div>
                        <div class="input-field row s12">
                            <button data-bind="event: {click: onAddCategoryClick}" class="btn waves-effect waves-light" type="submit" name="action">
                                Add Categories
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li id="liCityCopyPricing">
                <div class="collapsible-header"><strong>Copy Pricing to other cities</strong></div>
                <div class="collapsible-body">
                    <div data-bind="with: cityCopyPricing" class="container">
                        <div class="materialize-select input-field row s12">
                            <select class="chosen-select" data-bind="event: { change: onStateChange }">
                                <option value="0" disabled selected>Select State</option>
                                @foreach (var state in Model.CopyPricingCities.States)
                                {
                                    <option value="@state.StateId">@state.StateName</option>
                                }
                            </select>
                        </div>
                        <div class="materialize-select input-field row s12">
                            <select data-placeholder="Add Cities" class="chosen-select" id="ddlCity" multiple data-bind="options: cities,
                                    optionsText: 'cityName',
                                    optionsValue: 'cityId',
                                    selectedOptions: selectedCities
                                    "></select>
                        </div>
                        <div class="input-field row s12">
                            <button data-bind="click: copyPricingToCity" data-city-id="@Model.CurrentCityId" data-dealer-id="@Model.DealerOperationParams.DealerId" data-entered-by="@Model.EnteredBy" class="btn waves-effect waves-light" name="action">
                                Copy Pricing
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li id="liDealerCopyPricing">
                <div class="collapsible-header"><strong>Copy Pricing to other dealers</strong></div>
                <div class="collapsible-body">
                    <div data-bind="with: dealerCopyPricing" class="container">
                        <div class="materialize-select input-field row s12">
                            <select class="chosen-select" data-bind="event: { change: onCityChange }">
                                <option value="0" disabled selected>Select City</option>
                                @foreach (var city in Model.CopyPricingDealers.Cities)
                                {
                                    <option value="@city.CityId">@city.CityName</option>
                                }
                            </select>
                        </div>
                        <div class="materialize-select input-field row s12">
                            <select data-placeholder="Add Dealers" class="chosen-select" id="ddlDealersByCity" multiple data-bind="options: dealers,
                                    optionsText: 'dealerName',
                                    optionsValue: 'dealerId',
                                    selectedOptions: selectedDealers
                                    "></select>
                        </div>
                        <div class="input-field row s12">
                            <button data-entered-by="@Model.EnteredBy" data-bind="click: copyPricingToDealers" class="btn waves-effect waves-light" type="submit" name="action">
                                Copy Pricing
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="~/src/DealerPricing/dealeroperationcollapsable.js"></script>
<script src="~/src/DealerPricing/dealerpricingindex.js"></script>