@model BikewaleOpr.Models.DealerPricing.DealerPricingSheetPageVM

@{
    ViewBag.Title = "GetDealerPricing";
}

<div class="row">
    <div class="col m9">
        <table class="bordered highlight centered z-depth-3 margin-top10" >
            <thead>
                <tr>
                    <th>Bike</th>
                    @foreach (var category in Model.dealerVersionCategories)
                    {
                        <th>@category.ItemName</th>
                    }
                    <th>Availability(days)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var dealerVersionPricing in Model.DealerPriceSheet.dealerVersionPricings)
                {
                    <tr>
                        <td>@dealerVersionPricing.BikeName</td>
                        @foreach (var category in dealerVersionPricing.Categories)
                        {
                            <td>@category.ItemValue</td>
                        }
                        <td>@dealerVersionPricing.NumberOfDays</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col m3">
        <input type="hidden" id="makesListString" value=@Model.DealerOperationParams.MakesString>
        <input type="hidden" id="dealersListString" value=@Model.DealerOperationParams.DealersString>
        <input type="hidden" id="cityId" value=@Model.CityId>
        <input type="hidden" id="makeId" value=@Model.MakeId>
        <input type="hidden" id="dealerId" value=@Model.DealerId>
        @if (Model.OtherCityId > 0)
        {
            <input type="hidden" id="otherCityId" value=@Model.OtherCityId>
        }

        <ul class="collapsible margin-top10" data-collapsible="accordion">
            @Html.Partial("~/Views/DealerBikePrice/_SelectOperationCollapsable.cshtml", Model.DealerOperationParams)
            <li>
                <div class="collapsible-header"><strong>Show Pricing</strong></div>
                <div data-bind="with: dealerOperationsModel" class="collapsible-body">
                    <div class="container">
                        <div class="input-field row s12">
                            <select id="ddlOtherCity" data-bind="event:{ change: onOtherCityChange}">
                                <option value="0" disabled selected>City</option>
                                @foreach (var city in Model.ShowPricingCities.Cities)
                                {
                                    <option value=@city.CityId>@city.CityName</option>
                                }
                            </select>
                        </div>
                        <div class="input-field row s12">
                            <button data-bind="event:{ click: getOtherCityPricing}" class="btn waves-effect waves-light" name="action">
                                Get Pricing
                            </button>
                        </div>
                    <div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><strong>Add Category</strong></div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="input-field row s12">
                            <select multiple>
                                <option value="0" disabled selected>Categories</option>
                                @foreach (var category in Model.AddCategoryType.PriceCategories)
                                {
                                    <option value=@category.CategoryId>@category.CategoryName</option>
                                }
                            </select>
                        </div>
                        <div class="input-field row s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Add Categories
                            </button>
                        </div>
                        <div>
                        </div>
            </li>
            <li>
                <div class="collapsible-header"><strong>Copy Pricing to other cities</strong></div>
                <div class="collapsible-body">
                    <div data-bind="with: cityCopyPricing" class="container">
                        <div class="input-field row s12">
                            <select data-bind="event: { change: onStateChange }">
                                <option value="0" disabled selected>State</option>
                                @foreach (var state in Model.CopyPricingCities.States)
                                {
                                    <option value=@state.StateId>@state.StateName</option>
                                }
                            </select>
                        </div>
                        <div class="input-field row s12">
                            <select multiple="multiple" data-bind="options: cities,
                                    optionsText: 'cityName',
                                    optionsValue: 'cityId',
                                    selectedOptions: selectedCities,
                                    optionsCaption: 'Select City'
                                    "></select>
                        </div>
                        <div class="input-field row s12">
                            <button data-bind="click: copyPricingToCity" class="btn waves-effect waves-light" type="submit" name="action">
                                Copy Pricing
                            </button>
                        </div>
                        <div>
                        </div>
            </li>
            <li>
                <div class="collapsible-header"><strong>Copy Pricing to other dealers</strong></div>
                <div class="collapsible-body">
                    <div data-bind="with: dealerCopyPricing" class="container">
                        <div class="input-field row s12">
                            <select data-bind="event: { change: onCityChange }">
                                <option value="0" disabled selected>City</option>
                                @foreach (var city in Model.CopyPricingDealers.Cities)
                                {
                                    <option value=@city.CityId>@city.CityName</option>
                                }
                            </select>
                        </div>
                        <div class="input-field row s12">
                            <select multiple="multiple" data-bind="options: dealers,
                                    optionsText: 'dealerName',
                                    optionsValue: 'dealerId',
                                    selectedOptions: selectedDealers,
                                    optionsCaption: 'Select Dealer'
                                    "></select>
                        </div>
                        <div class="input-field row s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Copy Pricing
                            </button>
                        </div>
                        <div>
                        </div>
            </li>
        </ul>
    </div>
</div>

<script src="~/src/DealerPricing/dealerpricingindex.js" defer></script>