@model BikewaleOpr.Models.AdSlot.AdSlotVM
@{
    ViewBag.Title = "Bikewale Operations";
    ViewBag.PageTitle = "Manage Google Ad Slots";
}
@if (Model != null)
{
    <div id="adslot" class="row" style="margin-top:5px;" data-userid="@Model.UserId">
        <div class="col m12">
            @if (Model.AdSlotList != null)
            {
                <div>
                    <table class="centered bordered highlight z-depth-3 centered responsive-table">
                       <thead>
                           <tr>
                               <th>AdId</th>
                               <th>Name</th>
                               <th>Status</th>
                               <th>Updated By</th>
                               <th>Updated On</th>
                           </tr>
                       </thead>
                        <tbody>
                            @foreach (var ad in Model.AdSlotList)
                            {
                                <tr>
                                    <td>@ad.AdId</td>
                                    <td>@ad.Name</td>
                                    <td>
                                        <div class="switch">
                                            <label>
                                                Off
                                                <input @(ad.Status ? "checked" : "") type="checkbox">
                                                <span class="lever" data-adid="@ad.AdId"></span>
                                                On
                                            </label>
                                        </div>
                                    </td>
                                    <td>@ad.UpdatedBy</td>
                                    <td>@ad.UpdatedOn</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div>No Ad slots data available in Database OR Something went wrong.</div>
            }
        </div>          
    </div>
    <div class="preloader-wrapper big" style="position:absolute; top: 50%; left: 50%;">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var userid;
        $(document).ready(function () {
            userid = $("#adslot").data("userid");
        });
        $(".lever").click(function () {
            var adid = $(this).data("adid");
            $.ajax({
                type: "POST",
                url: "/api/adslot/change/" + adid + "/" + userid +"/",
                datatype: "json",
                beforeSend: function () {
                    $(".preloader-wrapper").addClass("active");
                },
                success: function (response) {
                    if (response) {
                        Materialize.toast('Status successfully changed.', 5000);
                    }
                    else {
                        Materialize.toast('Something went wrong, status couldn\'t be changed.', 5000);
                    }
                },
                complete: function () {
                    $(".preloader-wrapper").removeClass("active");
                },
                error: function () {
                    Materialize.toast('Something went wrong, status couldn\'t be changed.', 5000);
                }
            })
        })
        
    </script>
}
else
{
    <div>Something went wrong</div>
}

