@using Bikewale.Entities.BikeData;
@{

    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
    ViewBag.Page_JS_Path = "/src/new-launch.js";
    ViewBag.staticUrl = Bikewale.Utility.BWConfiguration.Instance.StaticUrl;
    ViewBag.staticFileVersion = Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion;
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/new-launch/new-launch.css' inline />";

    IEnumerable<UpcomingBikeEntity> objUpcoming = ViewBag.UpcomingBikes;

    ViewBag.AdPath = "/1017752/BikeWale_New_";
    ViewBag.AdId = "1395986297721";
    ViewBag.IsHeaderFix = false;
    ViewBag.IsTransparentHeader = false;
    ViewBag.Ad_970x90Bottom = false;
    ViewBag.Ad_300x250BTF = false;
    ViewBag.Ad_300x250 = false;

}
<section>
    <div class="container padding-top10">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url" title="Home">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="/new-bike-launches/" itemprop="url" title="New bike launches">
                            <span itemprop="title">New bike launches</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span itemprop="title">New Bike Launches in @ViewBag.launchYear</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="bg-white">
                <h1 class="section-header">New Bike Launches in @ViewBag.launchYear</h1>
                <p class="section-inner-padding font14 text-light-grey">Every year, more than 15 million two-wheelers are sold in India across dozens of brands. To keep up with the changing trends in lifestyle, roads, and requirements, two-wheeler brands launch dozens of model every year. Check out the latest bikes launched in @ViewBag.launchYear. Know more about prices, mileage, colors, specifications, and dealers of new bikes launched in @ViewBag.launchYear.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<section id="newlaunched-bikes" data-year-filter="@ViewBag.launchYear" data-city="@ViewBag.location.CityId">
    <div class="container section-bottom-margin">
        <div class="grid-12">
            @Html.Partial("~/Views/NewLaunches/_NewLaunchedBikes.cshtml")
        </div>
        <div class="clear"></div>
    </div>
</section>
<section>
    <div class="container section-bottom-margin">
        <h2 class="section-heading">Explore year-wise bike launches</h2>
        @{Html.RenderAction("Years", "DNewLaunches", new { year = @ViewBag.launchYear });}
    </div>
</section>
@if (objUpcoming != null && objUpcoming.Count() > 0)
{
<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-bottom20">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Upcoming bikes in India</h2>
                    </div><div class="swiper-heading-right-grid inline-block text-right">
                              <a href="/upcoming-bikes/" title="Upcoming Bikes in India" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/Shared/_UpcomingBikes.cshtml", objUpcoming)
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
}
<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-bottom20">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Explore new launches by brands</h2>
                    </div><div class="swiper-heading-right-grid inline-block text-right">
                        <a href="/new-bike-launches/" title="New Bike Launches in India" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @{Html.RenderAction("Makes", "DNewLaunches");}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<script type="text/javascript" src="@String.Format("{0}/src/frameworks.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>