@model Carwale.UI.ViewModels.Used.MyListings.ImagePageViewModel
@using Carwale.Entity.Classified.SellCarUsed;
@using Carwale.Utility;
@using Carwale.Entity.Enum
@{
    ViewBag.Title = "Used Cars in India - Buy & Sell Second Hand Cars - CarWale";
    ViewBag.Description = "With more than 10,000 used cars listed for sale, CarWale is India's largest source of used cars in India. Find a second hand car or list your car for sale.";
    ViewBag.canonical = "https://www.carwale.com/used/";
    ViewBag.Keywords = "Used cars, used car, used cars for sale, second hand cars, buy used car";
    Layout = Model.Source == Platform.CarwaleMobile ? "~/views/shared/m/_MLayoutV3.cshtml" : "~/views/shared/m/_MLayoutAppV3.cshtml";

    ViewBag.CustomCss = "~/Views/StaticPartials/m/MUsedHomePageCss.cshtml";
    ViewBag.CustomJS = "~/Views/StaticPartials/m/MUsedHomePageScript.cshtml";
}

@section atfcss{
    <link rel="stylesheet" href="/static/sass/m/css/common-atf.css" type="text/css" inline>
}
@section btfcss{
    <link rel="stylesheet" href="/static/sass/m/css/uploadImage.css" type="text/css">
    <link rel="stylesheet" href="/static/Css/dropzone.css" type="text/css">
    <link rel="stylesheet" href="/static/sass/m/css/nav.css" type="text/css">
    <link rel="stylesheet" href="/static/sass/m/css/footer.css" type="text/css">
}

@section MetaData{
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
}

@section Scripts{
    <script type="text/javascript" src="/static/js/customEvents.js" defer></script>
    <script type="text/javascript" src="~/Static/js/used/sellcar/editCarTracking.js"></script>
    <script type="text/javascript" src="~/Static/m/js/used/sellcar/editCarCommon.js"></script>
    <script src="/static/m/js/used/sellcar/mylistingimages.js" defer></script>
    <script type="text/javascript" src="/static/m/js/misc.js" defer></script>
    <script type="text/javascript" src="/static/js/dropzone.js" defer></script>
    <script type="text/javascript" src="/static/js/imageUpload.js" defer></script>
}

<div id="formCarImage" class="form-screen" data-profileid="@ViewBag.InquiryId">
    <div class="screen-group--item always-active">
        <div class="screen__head">
            <p class="screen-head__title text-center">Upload Car Images</p>
        </div>
        <div class="screen__body">
            <p class="category-upload-subtitle">Tap on below icons to upload images</p>
            <ul id="imageUploadList" class="option-list category-upload-list cw-dropzone">
                <li id="item1" class="option-list__item dropzone dz-clickable" data-id="@((int)CarImageType.FrontRightCorner)" data-title="Front Right Corner">
                    <div class="dropzone-placeholder">
                        <span class="list-item__upload-icon front-right-icon"></span>
                        <span class="list-item__upload-label">Front Right Corner</span>
                    </div>
                </li>
                <li class="option-list__item dropzone dz-clickable" data-id="@((int)CarImageType.FrontView)" data-title="Front View">
                    <div class="dropzone-placeholder">
                        <span class="list-item__upload-icon front-view-icon"></span>
                        <span class="list-item__upload-label">Front View</span>
                    </div>
                </li>
                <li class="option-list__item dropzone dz-clickable" data-id="@((int)CarImageType.LeftSideVide)" data-title="Left Side View">
                    <div class="dropzone-placeholder">
                        <span class="list-item__upload-icon left-side-icon"></span>
                        <span class="list-item__upload-label">Left Side View</span>
                    </div>
                </li>
                <li class="option-list__item dropzone dz-clickable" data-id="@((int)CarImageType.RearView)" data-title="Rear View">
                    <div class="dropzone-placeholder">
                        <span class="list-item__upload-icon rear-view-icon"></span>
                        <span class="list-item__upload-label">Rear View</span>
                    </div>
                </li>
                <li class="option-list__item dropzone dz-clickable" data-id="@((int)CarImageType.OdometerReading)" data-title="Odometer Reading">
                    <div class="dropzone-placeholder">
                        <span class="list-item__upload-icon odometer-icon"></span>
                        <span class="list-item__upload-label">Odometer Reading</span>
                    </div>
                </li>
            </ul>
            <p class="screen-body__title margin-bottom15">Upload other images</p>
            <div class="cw-dropzone">
                <div id="add-photos-dropzone" class="others-upload-list dropzone dz-clickable" data-id="@((int)CarImageType.OtherImage)" data-title="Other Images">
                    <div id="add-more-photos" class="dz-preview">
                        <span class="more-icon">+</span>
                    </div>
                </div>
            </div>
            <div class="screen__footer">
                <p class="info-list__title">Tips</p>
                <ul class="info-list">
                    <li>Shoot clear pictures of your car and upload as many as possible.</li>
                    <li>If you do not have any photos currently, you can upload them later by logging in to your account</li>
                    <li>We accept images in jpeg, png and gif formats up to <strong>8MB</strong>.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="dropzoneTemplate" class="hide">
        <div class="dz-preview dz-file-preview">
            <div class="dz-image">
                <div class="dz-image-thumbnail">
                    <img data-dz-thumbnail />
                </div>
            </div>
            <div class="dz-error-message"></div>
            <div class="dz-filename"></div>
            <div id="spinner-content">
                <svg class="dz-spinner" width="50px" height="50px" viewBox="0 0 50 50">
                    <circle class="circle-path" fill="none" stroke-width="4" stroke-linecap="round" cx="25" cy="25" r="22"></circle>
                </svg>
            </div>
            <div class="dz-progress">
                <span class="dz-upload" data-dz-uploadprogress></span>
            </div>
            <div class="dz-error-mark">
                <span>Retry</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="modalPopUp" class="modal-box" data-current=""></div>
    <div id="modalBg" class="modal-bg-layout"></div>
    <div class="clear"></div>
    <div id="floatButton" class="form-float-buttons floating-container float-fixed">
        <input type="button" id="prevBtn" value="Back" class="btn btn-white">
        <input type="button" id="nextBtn" value="Save your ad" class="btn btn-orange">
    </div>
    <div class="extraDivHt"></div>
</div>
@if (Model != null && Model.PhotoList != null)
{
    <script>
        var uploadedImages = {};
        var otherImages = [];
    </script>
    foreach (var image in Model.PhotoList)
    {
        string url = !string.IsNullOrWhiteSpace(image.HostUrl) && !string.IsNullOrWhiteSpace(image.OriginalImgPath) ? string.Format("{0}{1}{2}", image.HostUrl, ImageSizes._0X0, image.OriginalImgPath) : string.Empty;
        if (!string.IsNullOrWhiteSpace(url))
        {
            <script>
                var obj = { imageUrl: "@url", photoId: "@image.Id" };
                var imageType = "@image.ImageType";
                if (imageType == "@((int)CarImageType.OtherImage)") {
                    otherImages.push(obj);
                    uploadedImages[imageType] = otherImages;
                }
                else {
                    uploadedImages[imageType] = obj;
                }
            </script>
        }
    }
}