@model  Bikewale.Models.UpcomingBikesWidgetVM
@if (Model != null)
{
    <div class="jcarousel-wrapper inner-content-carousel carousel-height-360">
        <div class="jcarousel">
            <ul>
                @foreach (var bike in Model.UpcomingBikes)
                {
                    string bikeName = string.Format("{0} {1}", bike.MakeBase.MakeName, bike.ModelBase.ModelName);
                    <li>
                        <a href="@Bikewale.Utility.UrlFormatter.BikePageUrl(bike.MakeBase.MaskingName,bike.ModelBase.MaskingName)" title="@bikeName" class="jcarousel-card">
                            <div class="model-jcarousel-image-preview">
                                <span class="card-image-block">
                                    <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,Bikewale.Utility.ImageSize._310x174,Bikewale.Utility.QualityFactor._75)" alt="@bikeName" src="" border="0">
                                </span>
                            </div>
                            <div class="card-desc-block">
                                <h3 class="bikeTitle">
                                    <span>@bikeName</span>
                                </h3>
                                @if (bike.ExpectedLaunchDate != null)
                                {
                                    <p class="font14 text-light-grey margin-bottom5">Expected launch</p>
                                    <p class="font16 text-default text-bold margin-bottom15">@Bikewale.Utility.FormatDate.GetFormatDate(bike.ExpectedLaunchDate, "MMMM yyyy")</p>
                                }
                                @if (bike.EstimatedPriceMin > 0)
                                {
                                    <p class="font14 text-light-grey margin-bottom5">Expected price</p>
                                    @Html.Raw("<span class='font18 text-default'>&#x20B9;</span>")<span class="font18 text-default text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.EstimatedPriceMin)) onwards</span>
                                }
                                else
                                {
                                    <p class="text-default">
                                        <span class="font16 text-light-grey">Price not available</span>
                                    </p>
                                }
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
        <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
    </div>
}