@model Carwale.Entity.ViewModels.DealerOfTheMonthModel
@using Carwale.UI.Common;
@using Carwale.Utility;

<section class="container">
    <div class="grid-12">
        <div class="dealerOfTheMonth margin-top30 position-rel">
            <span class="position-abt dom-ad-txt">Sponsored</span>
            <div class="content-box-shadow">
                <div class="dealerName content-inner-block-10 position-rel">
                    <p class="font18 text-white dealerTitle">Big Boy Toyz</p>
                    <p class="commentTag position-abt text-uppercase font14 text-bold">
                        <span>India's No:1 Exotic Car dealer</span>
                        <span class="arrowUp"></span>
                        <span class="arrowRight"></span>
                    </p>
                </div>
                <div class="content-inner-block-10 border-solid-bottom position-rel">
                    <div class="position-abt pos-right10 pos-top10 "><img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/design15/dom-bbt-logo.png"></div>
                    <div class="inline-block dealerProfilePic hide"><img src="https://img.aeplcdn.com/used/no-dealer-pic.png"></div>
                    <div class="inline-block font16 dealerProfileDetails">
                        @*<p class="text-bold margin-bottom10"><span class="fa fa-phone margin-right10"></span><span>8929877012</span></p>*@
                        <p class="margin-bottom10"><span class="fa fa-map-marker margin-right10 font14"></span><span class="text-grey font13">134, Sector 37-1, Pace City, Huda , Gurgaon - 122001</span></p>
                        <p class="font12 margin-bottom10">
                            <a href="/used/dealers-in-gurgaon/bigboytoyz-3849/" target="_blank"><span class="fa fa-desktop margin-right5 text-default"></span>View Online Showroom</a>
                            <a class="margin-left40" href="http://www.bigboytoyz.com" target="_blank"><span class="fa fa-share margin-right5 text-default"></span>Visit Website</a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="jcarousel-wrapper dealerOfTheMonthCarousel">
                    <div class="jcarousel">
                        <ul>
                            @if (Model != null && Model.ListDealerOfTheMonthCars != null)
                            {
                                var index = 1;
                                foreach (var item in Model.ListDealerOfTheMonthCars)
                                {
                                    <li class="front">
                                        <a href="/used/cars-in-@UrlRewrite.FormatSpecial(item.CityName)/@UrlRewrite.FormatSpecial(item.MakeName)-@UrlRewrite.FormatSpecial(item.MaskingName)-@UrlRewrite.FormatSpecial(item.ProfileId)/" target="_blank" class="contentWrapper block">
                                            <span class="imageWrapper block">
                                                <img border="0" src="@(item.OriginalImagePath == "" ? "https://img.carwale.com/used/no-car.jpg" : Carwale.Utility.ImageSizes.CreateImageUrl(item.HostURL, ImageSizes._310X174, item.OriginalImagePath))" alt="@(item.MakeName + " " + item.ModelName + " " + item.VersionName)" />
                                            </span>
                                            <span class="carDescWrapper block text-default font14">
                                                <span class="text-link text-bold font16 block margin-bottom10 dealerCarTitle">@(item.MakeName + " " + item.ModelName + " " + item.VersionName)</span>
                                                <span class="margin-bottom10 block text-black text-bold font16">₹@(FormatPrice.FormatFullPrice(item.Price.ToString()))</span>
                                                <span class="block margin-bottom10"><span>@item.Kilometers</span> | <span>@item.CarFuelType</span> | <span>@item.MakeYear</span></span>
                                                <span class="block margin-bottom10">Gurgaon, <span class="text-black">Haryana</span></span>
                                                @*<span class="text-black"><span class="fa fa-phone margin-right10"></span>8929877012</span>*@
                                            </span>
                                        </a>
                                    </li>
                                    index += 1;
                                }
                            }
                        </ul>
                    </div>
                    <span class="jcarousel-control-left"><span class="cwsprite jcarousel-control-prev"></span></span>
                    <span class="jcarousel-control-right"><span class="cwsprite jcarousel-control-next"></span></span>
                </div>
                @if (Model != null && Model.CountDealerOfTheMonthCars > 0)
                {
                    <p class="text-center margin-bottom10"><a href="/used/dealers-in-gurgaon/bigboytoyz-3849/" target="_blank" class="btn btn-white btn-xs">View all @Model.CountDealerOfTheMonthCars Cars</a></p>
                }
            </div>
        </div>
    </div>
</section>
