@model Bikewale.Models.BestBikeWidgetVM
<div class="container">
    <h2 class="font18 text-center margin-top20 margin-bottom10">@Model.Title</h2>
    <div class="box-shadow bg-white padding-top10 padding-bottom10">

        <div class="swiper-container card-container best-bikes-swiper">
            <div class="swiper-wrapper">
                <div id="allbikes" class="swiper-slide">
                    <div class="swiper-card">
                        <a href="/m/best-bikes-in-india/" title="Top 10 bikes in India" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/210x118/bw/best-bikes/best-bikes-thumb.jpg?05042017&q=70" alt="Top 10 bikes in India" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5 text-truncate">Top 10 bikes in India</h3>
                                <p class="font12 text-light-grey text-truncate">@Model.objBestBikesList</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="scooter" class="swiper-slide">
                    <div class="swiper-card">
                        <a href="/m/best-scooters-in-india/" title="Top 10 scooters in India" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/210x118/bw/best-bikes/scooter-style-thumb.jpg?05042017&q=70" alt="Top 10 scooters in India" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5 text-truncate">Top 10 scooters in India</h3>
                                <p class="font12 text-light-grey text-truncate">@Model.objBestScootersList</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="mileage" class="swiper-slide">
                    <div class="swiper-card">
                        <a href="/m/best-mileage-bikes-in-india/" title="Top 10 mileage bikes in India" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/210x118/bw/best-bikes/mileage-bikes-thumb.jpg?05042017&q=70" alt="Top 10 mileage bikes in India" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5 text-truncate">Top 10 mileage bikes in India</h3>
                                <p class="font12 text-light-grey text-truncate">@Model.objBestMileageBikesList</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="sports" class="swiper-slide">
                    <div class="swiper-card">
                        <a href="/m/best-sports-bikes-in-india/" title="Top 10 sports bikes in India" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/210x118/bw/best-bikes/sports-style-thumb.jpg?05042017&q=70" alt="Top 10 sports bikes in India" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5 text-truncate">Top 10 sports bikes in India</h3>
                                <p class="font12 text-light-grey text-truncate">@Model.objBestSportsBikeList</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="cruiser" class="swiper-slide">
                    <div class="swiper-card">
                        <a href="/m/best-cruiser-bikes-in-india/" title="Top 10 cruiser bikes in India" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/210x118/bw/best-bikes/cruiser-style-thumb.jpg?05042017&q=70" alt="Top 10 cruiser bikes in India" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5 text-truncate">Top 10 cruiser bikes in India</h3>
                                <p class="font12 text-light-grey text-truncate">@Model.objBestCruiserBikesList</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
