@model Bikewale.Models.PopularBodyStyleVM
@using Bikewale.Utility
@if (Model != null && Model.PopularBikes != null && Model.PopularBikes.Count() > 0) { 
<div class="jcarousel-wrapper inner-content-carousel padding-bottom20">
    <div class="jcarousel">
        <ul>
            @foreach (var bike in Model.PopularBikes)
            {
                string bikeName = string.Format("{0} {1}", bike.MakeName, bike.objModel.ModelName);
                <li>
                    <a href="@UrlFormatter.BikePageUrl(bike.MakeMaskingName,bike.objModel.MaskingName)" title="@bikeName" class="jcarousel-card">
                        <div class="model-jcarousel-image-preview">
                            <span class="card-image-block">
                                <img class="lazy" data-original="@Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, ImageSize._310x174, QualityFactor._75)" alt="@bikeName" src="" border="0">
                            </span>
                        </div>
                        <div class="card-desc-block">
                            <h3 class="bikeTitle">@bikeName</h3>
                            @if (bike.VersionPrice == 0 && bike.AvgPrice == 0)
                            {
                                <span class="font16 text-default text-light-grey">Price not available</span>
                            }
                            else
                            {
                                if (bike.VersionPrice > 0)
                                {
                                    <p class="font14 text-light-grey margin-bottom5">@string.Format("Ex-showroom, {0}", (!string.IsNullOrEmpty(bike.CityName) ? bike.CityName : BWConfiguration.Instance.GetDefaultCityName))</p>
                                    @Html.Raw("<span class='font16 text-default'>&#x20B9;</span>")<span class="font16 text-bold text-default">&nbsp;@Format.FormatPrice(Convert.ToString(bike.VersionPrice))</span>
                                }
                                else
                                {
                                    <p class="font14 text-light-grey margin-bottom5">
                                        <span class="margin-right5">Avg. Ex-showroom price</span>
										<span class="bwsprite info-icon tooltip-icon-target tooltip-top">
											<span class="bw-tooltip info-tooltip">
												<span class="bw-tooltip-text">@string.Format("Price is not available in {0}", bike.CityName)</span>
											</span>
										</span>
                                    </p>

                                    @Html.Raw("<span class='font16 text-default'>&#x20B9;</span>")<span class="font16 text-bold text-default">&nbsp;@Format.FormatPrice(Convert.ToString(bike.AvgPrice))</span>
                                }
                            }
                        </div>
                    </a>
                    @if (Model.ShowCheckOnRoadCTA && (bike.AvgPrice > 0 || bike.VersionPrice > 0))
                    {
                        <div class="margin-left20 margin-bottom20">
                            <a href="javascript:void(0);" data-pqsourceid="@((int)Model.PQSourceId)" data-makename="@bike.MakeName" data-modelname="@bike.objModel.ModelName" data-modelid="@bike.objModel.ModelId" class="btn btn-grey btn-sm font14 getquotation" rel="nofollow">Check on-road price</a>
                        </div>
                    }
                </li>
            }
        </ul>

    </div>
    <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev inactive" rel="nofollow"></a></span>
    <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
</div>
}