@model Bikewale.Models.BikeModels.ModelPageVM

<div id="dealerDetailsWrapper" class="border-solid-top">

    <div class="dealer__name-content">
        <span class="dealer-details__icon"></span>
        <div>
            <h3 class="dealer-details__name">@Model.DealerDetails.Organization</h3>

            <p class="dealer-details__description">@(!Model.DealerDetails.IsDSA ? "Authorized Dealer in " : "Multi-brand Dealer in ")@Model.DealerArea</p>

            @if (Model.DealerDetails.IsDSA)
            {
                <div class="bw-tooltip multi-brand-tooltip tooltip-left">
                    <p class="bw-tooltip-text position-rel font14">This dealer sells bikes of multiple brands.<br />Above price is not final and may vary at the dealership.</p>
                    <span class="position-abt pos-top10 pos-right10 bwsprite cross-sm-dark-grey cur-pointer close-bw-tooltip"></span>
                </div>

            }
        </div>
        @if (!string.IsNullOrEmpty(Model.DealerDetails.MaskingNumber))
        {
            <div class="dealer-details__contact">
                <span class="bwsprite phone-md margin-right5"></span>
                <span class="font16 text-bold"><span class="text-grey">+91 </span>@Model.DealerDetails.MaskingNumber</span>
            </div>
        }
    </div>

    @if (Model.DetailedDealer.PrimaryDealer.HasOffers)
    {
        <div class="dealer__offers-content offers-content--card-none">
            @{
                int offersCount = Model.DetailedDealer.PrimaryDealer.OfferList.Count();
            }
            <div class="dealer-offer__container">
                <div class="dealer-offer__badge">
                    <span class="offer-badge__star"></span>
                    <span>@string.Format("{0} {1}", offersCount, offersCount > 1 ? "Offers" : "Offer")</span>
                </div>
                <ul class="benefit__list">
                    @foreach (var offer in Model.DetailedDealer.PrimaryDealer.OfferList)
                    {
                        <li class="benefit-list__item">
                            <span class="benefit-item__icon @(string.Format(" offer-{0}-icon", offer.OfferCategoryId))"></span>
                            <p class="benefit-item__label">
                                @offer.OfferText
                                @if (offer.IsOfferTerms)
                                {
                                    <span class="tnc font9 margin-left5" id="@offer.OfferId">View terms</span>
                                }
                            </p>
                        </li>
                    }
                </ul>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Terms and condition Popup start -->
        <div class="termsPopUpContainer content-inner-block-20 hide" id="termsPopUpContainer">
            <div class="fixed-close-btn-wrapper">
                <div id="termsPopUpCloseBtn" class="termsPopUpCloseBtn offers-popup-close-btn position-abt bwsprite cross-lg-lgt-grey cur-pointer"></div>
            </div>
            <h3>Terms and Conditions</h3>
            <div class="hide" style="vertical-align: middle; text-align: center;" id="termspinner">
                <img src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif" />
            </div>
            <div id="terms" class="breakup-text-container padding-bottom10 font14">
            </div>
            <div id='orig-terms' class="hide">
            </div>
        </div>
        <!-- Terms and condition Popup end -->
    }

    @if (Model.DetailedDealer.PrimaryDealer.IsBookingAvailable)
    {
        <div class="padding-top20 padding-bottom20 border-light-top font14">
            <p class="text-bold margin-bottom15">Book your bike from this dealer</p>
            <div class="grid-8 alpha">
                <p class="margin-bottom20">Pay @Html.Raw("&#x20B9;") @Bikewale.Utility.Format.FormatPrice(Model.DetailedDealer.PrimaryDealer.BookingAmount.ToString()) to book online and balance amount of @Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice((Model.BikePrice - Model.DetailedDealer.PrimaryDealer.BookingAmount).ToString()) at the dealership</p>
                <ul id="booking-benefits-list">
                    <li>Save on dealer visits</li>
                    <li>Secure online payments</li>
                    <li>Complete buyer protection</li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="grid-4 padding-top15">
                <a href="/pricequote/bookingsummary_new.aspx?MPQ=@Model.MPQString" class="btn btn-white book-now-btn btn-188-40">Book now</a>
            </div>
            <div class="clear"></div>
        </div>
    }

    <div id="dealerAssistance" class="border-light-top padding-top20">
        <div id="buyingAssistance">
            <p class="font14 text-bold margin-bottom15">Complete buying assistance from @Model.DealerDetails.Organization</p>
            <p class="font14 text-light-grey margin-bottom25">Get in touch with @Model.DealerDetails.Organization for best offers, test rides, EMI options, exchange benefits and much more...</p>
            <div>
                <div class="input-box assistance-input-box">
                    <input type="text" id="assistGetName" data-bind="textInput: fullName" />
                    <label for="assistGetName">Name<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text"></span>
                </div>
                <div class="input-box input-number-box assistance-input-box">
                    <input type="tel" maxlength="10" id="assistGetMobile" data-bind="textInput: mobileNo" />
                    <label for="assistGetMobile">Mobile number<sup>*</sup></label>
                    <span class="input-number-prefix">+91</span>
                    <span class="boundary"></span>
                    <span class="error-text"></span>
                </div>

                <div class="input-box assistance-input-box">
                    <input type="text" id="assistGetEmail" data-bind="textInput: emailId" />
                    <label for="assistGetEmail">Email (optional)</label>
                    <span class="boundary"></span>
                    <span class="error-text"></span>
                </div>

          
                <a class="btn btn-teal assistance-submit-btn btn-188-40" data-leadsourceid="13" data-versionid="@Model.VersionId" data-modelid="@Model.ModelId" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-area="@Model.DealerArea" data-isleadpopup="false" id="assistFormSubmit" data-bind="event: { click: HiddenSubmitLead }">Get assistance</a>
                <p class="margin-bottom10 text-left">By proceeding ahead, you agree to BikeWale <a title="Visitor agreement" href="/visitoragreement.aspx" target="_blank" rel="noopener">visitor agreement</a> and <a title="Privacy policy" href="/privacypolicy.aspx" target="_blank" rel="noopener">privacy policy</a>.</p>
            </div>
        </div>
        <div id="dealer-assist-msg" class="hide">
            <p class="font14 leftfloat">Thank you for your interest. @Model.DealerDetails.Organization - @Model.DealerArea will get in touch shortly</p>
            <span class="assistance-response-close bwsprite cross-lg-lgt-grey cur-pointer rightfloat"></span>
            <div class="clear"></div>
        </div>
    </div>

</div>
