@model Bikewale.Models.BikeModels.ModelPageVM

<div id="modelPricesContent" data-id="modelPricesContent" class="bw-model-tabs-data content-box-shadow content-inner-block-20 card-bottom-margin">
    <h2 class="h2-heading margin-bottom20">@Model.BikeName Price</h2>
    <div id="version-prices-grid" class="grid-12 alpha omega">
        @*<h3 class="margin-bottom20">@Model.BikeName Price (variants)</h3>*@

        <table class="version-price-table">
            <thead>
                <tr>
                    <th>Variant</th>
                    <th>Price</th>
                    <th>Specs</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var version in Model.ModelPageEntity.ModelVersions)
                {
                    <tr>
                        <td class="font14">@version.ModelName&nbsp;@version.VersionName</td>
                        <td class="font13">
                            @Html.Raw("&#x20B9;")<span class="text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(version.Price > 0 ? version.Price.ToString() : version.AverageExShowroom.ToString())</span>
                            @if (version.Price > 0)
                            {
                                <span class="font12">(@(Model.IsDiscontinuedBike ? "Last known " : "")@(Model.IsLocationSelected && !Model.ShowOnRoadButton ? "On-road price" : (Model.LocationCookie.CityId > 0 && !Model.IsLocationSelected ? "On-road price" : "Ex-showroom")),&nbsp;@(!String.IsNullOrEmpty(Model.LocationCookie.City) ? Model.LocationCookie.City : Bikewale.Utility.BWConfiguration.Instance.DefaultName))</span>
                            }
                            else
                            {
                                <span class="font12 margin-right5">Avg. Ex-showroom price</span><span class="bwsprite emi-info tooltip-icon-target">
                                    <span class="bw-tooltip emi-tooltip tooltip-white tooltip-left text-slate-grey font12"><span class="bw-tooltip-text">@string.Format("Price is not available in {0}", Model.LocationCookie.City)</span></span>
                                </span>
                            }

                        </td>
			<td class="font12">@((version.MinSpecsList != null) ? Bikewale.Utility.FormatMinSpecs.GetCommaSepratedGeneralSpecs(version.MinSpecsList.Take(2)) : "")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Model.IsPriceInTopCitiesAvailable)
    {
        <div id="nearby-prices-grid" class="grid-@(Model.AdTags.Ad_Model_BTF_300x250?"8":"12") omega alpha padding-top20">

            @if (Model.LocationCookie != null && Model.LocationCookie.City != null)
            {
                <h3 class="margin-bottom20">On-road prices in cities near @Model.LocationCookie.City</h3>
            }
            else
            {
                <h3 class="margin-bottom20">Price by cities&nbsp;<span class="text-light-grey text-unbold">(@(Model.IsDiscontinuedBike ? "Last known " : "")@(Model.IsLocationSelected && !Model.ShowOnRoadButton ? "On-road price" : "Ex-showroom price"))</span></h3>
            }

            <ul id="prices-top-cities" class="@(Model.AdTags.Ad_Model_BTF_300x250?"ul-grid-3":"ul-grid-4")">
                @Html.Partial("~/Views/PriceInCity/_PriceInTopCities.cshtml", Model.PriceInTopCities)
            </ul>
            <div class="clear"></div>
            <div class="font12 text-slate-grey line-height17 margin-top10">
                @Html.Raw(Model.VersionPriceListSummary)
            </div>
        </div>
        if (Model.AdTags.Ad_Model_BTF_300x250)
        {
            <div class="grid-4 omega alpha padding-top20">
                 @Html.Partial("~/Views/Shared/Ads/Desktop/Model_BTF_300x250.cshtml",Model.AdTags)
            </div>
        
        }
    }
    <div class="clear"></div>
</div>
