@model Bikewale.Models.BikeModels.ModelPageVM

<div id="modelPricesContent" class="bw-model-tabs-data content-box-shadow content-inner-block-20 card-bottom-margin">
    <h2 class="h2-heading margin-bottom20">@Model.BikeName Price List</h2>
    <div id="version-prices-grid" class="grid-6 alpha padding-right20">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th colspan="2" align="left" class="padding-bottom10">
                        <h3>@Model.BikeName Price (versions)</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="left" width="72%" class="font12 text-light-grey padding-bottom10 divider-bottom">Versions</td>
                    <td align="left" width="28%" class="font12 text-light-grey padding-bottom10 divider-bottom">Price</td>
                </tr>
                @foreach (var version in Model.ModelPageEntity.ModelVersions)
                {                                        
                    <tr>
                        <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14">@string.Format("{0} {1}", Model.ModelPageEntity.ModelDetails.ModelName, version.VersionName)</td>
                        <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14 text-bold">
                            <span class="bwsprite inr-sm-dark"></span>@Bikewale.Utility.Format.FormatPrice(version.Price.ToString())
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2" class="padding-top10 font12 text-light-grey">Above mentioned prices are @(Model.IsDiscontinuedBike ? "Last known ":"")@(Model.IsLocationSelected && !Model.ShowOnRoadButton ? "On-road price" : (Model.LocationCookie.CityId > 0 && !Model.IsLocationSelected ? "On-road price" : "Ex-showroom")),&nbsp;@(!String.IsNullOrEmpty(Model.LocationCookie.City) ? Model.LocationCookie.City : Bikewale.Utility.BWConfiguration.Instance.DefaultName)</td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (Model.IsPriceInTopCitiesAvailable)
    {       
        <div id="nearby-prices-grid" class="grid-6 omega padding-left20">
            <h3 class="margin-bottom20">Price by cities&nbsp;<span class="text-light-grey text-unbold">(@(Model.IsDiscontinuedBike ? "Last known " : "")@(Model.IsLocationSelected && !Model.ShowOnRoadButton ? "On-road price" : "Ex-showroom price"))</span></h3>            
            <table id="prices-top-cities" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    @Html.Partial("~/Views/PriceInCity/_PriceInTopCities.cshtml", Model.PriceInTopCities)
                </tbody>
            </table>
        </div>
    }
    <div class="clear"></div>
</div>
