@model Bikewale.Models.BikeModels.ModelPageVM
<section>
    <div class="container" id="modelDetailsContainer">
        <div id="modelSummaryContent" class="bw-model-tabs-data">
            <div class="grid-12 card-bottom-margin">
                <div class="content-box-shadow">
                    <div class="padding-top15 padding-left20">
                        <h1 class="inline-block margin-right15">@Model.BikeName</h1>
                    </div>

                    <div id="overallTabsWrapper" class="overall-tabs position-rel">
                        <div id="overallSpecsTab" class="overall-specs-tabs-container">
                            <div class="overall-specs-tabs-wrapper">
                                @Html.Partial("~/Views/Model/_Index_Tabs.cshtml", Model)
                            </div>
                        </div>
                    </div>

                    <div class="padding-top20 padding-right20 padding-bottom10 padding-left20">
                        <div id="model-right-grid" class="grid-7 alpha omega rightfloat">

                            @if (Model.ModelPageEntity != null && Model.ModelPageEntity.UpcomingBike != null)
                            {
                                <div id="upcoming">
                                    @if (Model.ModelPageEntity.UpcomingBike.EstimatedPriceMin != 0 && Model.ModelPageEntity.UpcomingBike.EstimatedPriceMax != 0)
                                    {
                                        <div id="expectedPriceContainer" class="padding-top15">
                                            <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                                                <meta itemprop="priceCurrency" content="INR">
                                                <meta itemprop="lowPrice" content="@Model.ModelPageEntity.UpcomingBike.EstimatedPriceMin">
                                                <meta itemprop="highPrice" content="@Model.ModelPageEntity.UpcomingBike.EstimatedPriceMax">
                                                <p class="font14 default-showroom-text text-light-grey">Expected Price</p>
                                                <div class="modelExpectedPrice margin-bottom15">
                                                    <span class="bwsprite inr-md-lg"></span>
                                                    <span id="bike-price" class="font22 text-bold">@Bikewale.Utility.Format.FormatNumeric(Convert.ToString(Model.ModelPageEntity.UpcomingBike.EstimatedPriceMin)) - <span class="bwsprite inr-md-lg margin-right5"></span>@Bikewale.Utility.Format.FormatNumeric(Convert.ToString(Model.ModelPageEntity.UpcomingBike.EstimatedPriceMax))</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="font26 default-showroom-text text-light-grey margin-bottom5">Price Unavailable</p>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ModelPageEntity.UpcomingBike.ExpectedLaunchDate))
                                    {
                                        <div id="expectedDateContainer" class="padding-top15 font14">
                                            <p class="default-showroom-text text-light-grey margin-bottom10">Expected launch date</p>
                                            <p class="modelLaunchDate text-bold font18 margin-bottom10">@Model.ModelPageEntity.UpcomingBike.ExpectedLaunchDate</p>
                                            <p class="default-showroom-text text-light-grey">@Model.BikeName is not launched in India yet.</p>
                                            <p class="text-light-grey">Information on this page is tentative.</p>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="grid-5 alpha margin-bottom20">
                            <div class="position-rel">
                                <span class="model-ribbon-tag upcoming-ribbon">Upcoming</span>
                            </div>
                            @if (Model.AreModelPhotosAvailable)
                            {
                                @Html.Partial("~/Views/Model/_Index_ModelGallery.cshtml", Model)
                            }
                        </div>                    
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        @Html.Partial("~/Views/Model/_Index_DetailsCard.cshtml", Model)
    </div>
</section>