@model Bikewale.Models.BikeModels.ModelPageVM
@{
    var objVersion = Model.ModelPageEntity.ModelVersionSpecs;
}
<div id="specsFeaturesContent" class="margin-top15 padding-bottom20 content-box-shadow card-bottom-margin content-details-wrapper font14">
    <h2 class="padding-right20 padding-left20">@Model.ModelPageEntity.ModelDetails.ModelName Specifications & Features</h2>
    <h3 class="padding-right20 padding-left20 model-specs-header">Specifications</h3>

    <ul id="model-specs-list">
        <li>
            <div class="model-accordion-tab active">
                <span class="offers-sprite engine-sm-icon margin-right10"></span>
                <span>Engine & transmission</span>
                <span class="bwmsprite fa-angle-down"></span>
            </div>
            <ul class="specs-features-list">
                <li>
                    <div class="specs-features-label">Displacement</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Displacement,"cc")</div>
                </li>
                <li>
                    <div class="specs-features-label">Cylinders</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Cylinders)</div>
                </li>
                <li>
                    <div class="specs-features-label">Max Power</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.MaxPower, "bhp", objVersion.MaxPowerRPM, "rpm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Maximum Torque</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.MaximumTorque, "Nm", objVersion.MaximumTorqueRPM, "rpm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Bore</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Bore, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Stroke</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Stroke, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Valves Per Cylinder</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.ValvesPerCylinder)</div>
                </li>
                <li>
                    <div class="specs-features-label">Fuel Delivery System</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FuelDeliverySystem)</div>
                </li>
                <li>
                    <div class="specs-features-label">Fuel Type</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FuelType)</div>
                </li>
                <li>
                    <div class="specs-features-label">Ignition</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Ignition)</div>
                </li>
                <li>
                    <div class="specs-features-label">Spark Plugs</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.SparkPlugsPerCylinder, "Per Cylinder")</div>
                </li>
                <li>
                    <div class="specs-features-label">Cooling System</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.CoolingSystem)</div>
                </li>
                <li>
                    <div class="specs-features-label">Gearbox Type</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.GearboxType)</div>
                </li>
                <li>
                    <div class="specs-features-label">No. of Gears</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.NoOfGears)</div>
                </li>
                <li>
                    <div class="specs-features-label">Transmission Type</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.TransmissionType)</div>
                </li>
                <li>
                    <div class="specs-features-label">Clutch</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Clutch)</div>
                </li>
            </ul>
        </li>
        <li>
            <div class="model-accordion-tab brakes-accordion-tab">
                <span class="offers-sprite brakes-sm-icon margin-right10"></span>
                <span>Brakes, wheels & suspension</span>
                <span class="bwmsprite fa-angle-down"></span>
            </div>
            <ul class="specs-features-list">
                <li>
                    <div class="specs-features-label">Brake Type</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.BrakeType)</div>
                </li>
                <li>
                    <div class="specs-features-label">Front Disc</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FrontDisc)</div>
                </li>
                <li>
                    <div class="specs-features-label">Front Disc/Drum Size</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FrontDisc_DrumSize, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Rear Disc</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.RearDisc)</div>
                </li>
                <li>
                    <div class="specs-features-label">Rear Disc/Drum Size</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.RearDisc_DrumSize, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Calliper Type</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.CalliperType)</div>
                </li>
                <li>
                    <div class="specs-features-label">Wheel Size</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.WheelSize, "inches")</div>
                </li>
                <li>
                    <div class="specs-features-label">Front Tyre</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FrontTyre)</div>
                </li>
                <li>
                    <div class="specs-features-label">Rear Tyre</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.RearTyre)</div>
                </li>
                <li>
                    <div class="specs-features-label">Tubeless Tyres</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.TubelessTyres)</div>
                </li>
                <li>
                    <div class="specs-features-label">Radial Tyres</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.RadialTyres)</div>
                </li>
                <li>
                    <div class="specs-features-label">Alloy Wheels</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.AlloyWheels)</div>
                </li>

                <li>
                    <div class="specs-features-label">Front Suspension</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FrontSuspension)</div>
                </li>
                <li>
                    <div class="specs-features-label">Rear Suspension</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.RearSuspension)</div>
                </li>
            </ul>
        </li>
        <li>
            <div class="model-accordion-tab">
                <span class="offers-sprite dimension-sm-icon margin-right10"></span>
                <span>Dimensions & chassis</span>
                <span class="bwmsprite fa-angle-down"></span>
            </div>
            <ul class="specs-features-list">
                <li>
                    <div class="specs-features-label">Kerb Weight</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.KerbWeight, "kg")</div>
                </li>
                <li>
                    <div class="specs-features-label">Overall Length</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.OverallLength, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Overall Width</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.OverallWidth, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Overall Height</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.OverallHeight, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Wheelbase</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Wheelbase, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Ground Clearance</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.GroundClearance, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Seat Height</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.SeatHeight, "mm")</div>
                </li>
                <li>
                    <div class="specs-features-label">Chassis Type</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.ChassisType)</div>
                </li>
            </ul>
        </li>
        <li>
            <div class="model-accordion-tab">
                <span class="offers-sprite fuel-sm-icon margin-right10"></span>
                <span>Fuel efficiency & performance</span>
                <span class="bwmsprite fa-angle-down"></span>
            </div>
            <ul class="specs-features-list">
                <li>
                    <div class="specs-features-label">Fuel Tank Capacity</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FuelTankCapacity, "litres")</div>
                </li>
                <li>
                    <div class="specs-features-label">Reserve Fuel Capacity</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.ReserveFuelCapacity, "litres")</div>
                </li>
                <li>
                    <div class="specs-features-label">Fuel Efficiency Overall</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FuelEfficiencyOverall, "kmpl")</div>
                </li>
                <li>
                    <div class="specs-features-label">Fuel Efficiency Range</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FuelEfficiencyRange, "km")</div>
                </li>
                <li>
                    <div class="specs-features-label">Top Speed</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.TopSpeed, "kmph")</div>
                </li>
                <li>
                    <div class="specs-features-label">0 to 60 kmph</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Performance_0_60_kmph, "seconds")</div>
                </li>
                <li>
                    <div class="specs-features-label">0 to 80 kmph</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Performance_0_80_kmph, "seconds")</div>
                </li>
                <li>
                    <div class="specs-features-label">0 to 40 kmph</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Performance_0_40_m, "seconds")</div>
                </li>
                <li>
                    <div class="specs-features-label">60 to 0 kmph</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Performance_60_0_kmph)</div>
                </li>
                <li>
                    <div class="specs-features-label">80 to 0 kmph</div>
                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Performance_80_0_kmph)</div>
                </li>
            </ul>
        </li>
    </ul>

    <h3 id="model-features-heading" class="margin-top20 padding-right20 padding-left20">Features</h3>

    <ul class="specs-features-list model-features-list" id="model-main-features-list">
        <li>
            <div class="specs-features-label">Speedometer</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Speedometer)</div>
        </li>
        <li>
            <div class="specs-features-label">Fuel Guage</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.FuelGauge)</div>
        </li>
        <li>
            <div class="specs-features-label">Tachometer Type</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Tachometer)</div>
        </li>
        <li>
            <div class="specs-features-label">Digital Fuel Guage</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.DigitalFuelGauge)</div>
        </li>
        <li>
            <div class="specs-features-label">Tripmeter</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Tripmeter)</div>
        </li>
        <li>
            <div class="specs-features-label">Electric Start</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.ElectricStart)</div>
        </li>
    </ul>
    <ul id="model-more-features-list" class="specs-features-list model-features-list">
        <li>
            <div class="specs-features-label">Tachometer</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Tachometer)</div>
        </li>
        <li>
            <div class="specs-features-label">Shift Light</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.ShiftLight)</div>
        </li>
        <li>
            <div class="specs-features-label">No. of Tripmeters</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.NoOfTripmeters)</div>
        </li>
        <li>
            <div class="specs-features-label">Tripmeter Type</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.TripmeterType)</div>
        </li>
        <li>
            <div class="specs-features-label">Low Fuel Indicator</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.LowFuelIndicator)</div>
        </li>
        <li>
            <div class="specs-features-label">Low Oil Indicator</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.LowOilIndicator)</div>
        </li>
        <li>
            <div class="specs-features-label">Low Battery Indicator</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.LowBatteryIndicator)</div>
        </li>
        <li>
            <div class="specs-features-label">Pillion Seat</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.PillionSeat)</div>
        </li>
        <li>
            <div class="specs-features-label">Pillion Footrest</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.PillionFootrest)</div>
        </li>
        <li>
            <div class="specs-features-label">Antilock Braking System</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.AntilockBrakingSystem)</div>
        </li>
        <li>
            <div class="specs-features-label">Killswitch</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Killswitch)</div>
        </li>
        <li>
            <div class="specs-features-label">Clock</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Clock)</div>
        </li>
        <li>
            <div class="specs-features-label">Electric System</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.ElectricSystem)</div>
        </li>
        <li>
            <div class="specs-features-label">Battery</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Battery)</div>
        </li>
        <li>
            <div class="specs-features-label">Headlight Type</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.HeadlightType)</div>
        </li>
        <li>
            <div class="specs-features-label">Headlight Bulb Type</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.HeadlightBulbType)</div>
        </li>
        <li>
            <div class="specs-features-label">Brake/Tail Light</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.Brake_Tail_Light)</div>
        </li>
        <li>
            <div class="specs-features-label">Turn Signal</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.TurnSignal)</div>
        </li>
        <li>
            <div class="specs-features-label">Pass Light</div>
            <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(objVersion.PassLight)</div>
        </li>
    </ul>
    <div class="padding-top10 padding-right20 padding-left20">
        <a href="javascript:void(0)" class="view-features-link bw-ga" data-cat="Model_Page" data-act="View_all_features_link_cliked" data-var="myBikeName" title="@Model.BikeName Features" rel="nofollow">View all features</a>
    </div>
</div>
