@model Bikewale.Models.BikeModels.ModelPageVM

<div id="model-photos-swiper" class="swiper-container noSwiper model-photos-swiper">

    @if (!Model.IsNewBike)
    {
        <p class="model-ribbon @(Model.IsUpcomingBike ? " upcoming-ribbon" : " discontinued-ribbon")">@(Model.IsUpcomingBike ? "Upcoming" : "Discontinued")</p>
    }

    @if (Model.AreModelPhotosAvailable)
    {
        <div class="swiper-wrapper">

            @{int imageIndex = 0; var bikeImages = Model.ModelPageEntity.AllPhotos.Take(10);}
            @foreach (var image in bikeImages)
            {
                string imageProperty = string.Format("{0} {1}", Model.BikeName, image.ImageCategory);

                <div class="swiper-slide" data-cat="Model_Page" data-imgcat="@image.ImageCategory" data-imgtype="@image.ImageType" data-imgid="@image.ImageId">
                    @if (imageIndex == 0)
                    {
                        <a href="@String.Format("/m{0}new/", Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" data-url="@string.Format("/m{0}new/?q={1}", Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName), Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(string.Format("imageindex={0}&retUrl={1}", imageIndex, Model.PageMetaTags.AlternateUrl)))" class="bw-ga redirect-url" data-cat="Model_Page" data-act="Main_Image_Clicked" data-lab="@Model.BikeName">
                            <img src="@Bikewale.Utility.Image.GetPathToShowImages(image.OriginalImgPath, image.HostUrl, Bikewale.Utility.ImageSize._360x202, "85")" alt="@imageProperty" title="@imageProperty" border="0" />
                        </a>
                    }
                    else
                    {
                        <span onclick="location='@String.Format("/m{0}new/?q={1}", Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName), Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(string.Format("imageindex={0}&retUrl={1}", imageIndex, Model.PageMetaTags.CanonicalUrl)))'" class="bw-ga" data-cat="Model_Page" data-act="Main_Image_Clicked" data-lab="@Model.BikeName">
                            @if (imageIndex < 2)
                        {
                                <img src="@Bikewale.Utility.Image.GetPathToShowImages(image.OriginalImgPath,image.HostUrl,Bikewale.Utility.ImageSize._360x202,"85")" alt="@imageProperty" title="@imageProperty" border="0" />
                            }
                            else
                            {
                                <img class="swiper-lazy" data-src="@Bikewale.Utility.Image.GetPathToShowImages(image.OriginalImgPath,image.HostUrl,Bikewale.Utility.ImageSize._393x221,"85")" alt="@imageProperty" src="" title="@imageProperty" border="0" />

                            }
                        </span>
                    }

                </div>

                imageIndex++;
            }
        </div>
        <div class="swiper-button-next gallery-type-next">
            <span id="next-btn" class="bwmsprite next-arrow-btn"></span>
        </div>
        <div class="swiper-button-prev gallery-type-prev">
            <span id="prev-btn" class="bwmsprite prev-arrow-btn"></span>
        </div>
                }
                else
                {
        <div class="model-thumbnail-image">
            <a>
                <div class="bg-light-grey">
                    <span class="bwmsprite no-image-icon margin-bottom15"></span>
                    <p class="font12 text-bold text-light-grey">Image not available</p>
                </div>
            </a>
        </div>
                }
</div>

<!-- media links start -->
<ul class="model-media-list text-center padding-right20 padding-left20 padding-bottom15">
    @if (Model.AreModelPhotosAvailable)
    {
        <li>
            <a title="@Model.BikeName @(Model.ModelColorPhotosCount > 1 ? "Images" : "Image")" href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="bw-ga" data-cat="Model_Page" data-act="Image_Tab_Clicked" data-lab="@Model.BikeName">
                <span class="bwmsprite photos-sm">
                </span>
                <span class="inline-block">
                    <span class="font12">@Model.ModelPageEntity.AllPhotos.Count()</span>&nbsp;<span class="font11">@string.Format("{0}", Model.ModelPageEntity.AllPhotos.Count() > 1 ? "images" : "image")</span>
                </span>
            </a>
        </li>
    }
    @if (Model.IsVideosAvailable)
    {
        <li>
            <a title="@Model.BikeName @(Model.ModelPageEntity.ModelDetails.VideosCount > 1 ? "Videos" : "Video")" href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatVideoPageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="bw-ga" data-cat="Model_Page" data-act="Video_Tab_Clicked" data-lab="@Model.BikeName">
                <span class="bwmsprite videos-sm"></span>
                <span class="inline-block">
                    <span class="font12">@Model.ModelPageEntity.ModelDetails.VideosCount</span>&nbsp;<span class="font11">@string.Format("{0}", Model.ModelPageEntity.ModelDetails.VideosCount > 1 ? "videos" : "video")</span>
                </span>
            </a>
        </li>
    }
    @if (Model.ModelColorPhotosCount > 0)
    {
        <li>
            <a title="@Model.BikeName @(Model.ModelColorPhotosCount > 1 ? "Colors" : "Color")" href='@string.Format("/m{0}", Model.ColourImageUrl)' class="bw-ga" data-cat="Model_Page" data-act="Colours_Tab_Clicked" data-lab="@Model.BikeName">
                <span class="bwmsprite colors-sm"></span>
                <span class="inline-block">
                    <span class="font12">@Model.ModelColorPhotosCount</span>&nbsp;<span class="font11">@string.Format("{0}", Model.ModelColorPhotosCount > 1 ? "colours" : "colour")</span>
                </span>
            </a>
        </li>
    }
</ul>
<!-- media links end -->
