@model Bikewale.Models.BikeModels.ModelPageVM

@if (Convert.ToDouble(Model.ModelPageEntity.ModelDetails.ReviewRate) > 0)
{
    <div class="rating-review-content">
        <div class="inline-block margin-right10">
            <span class="star-span star-one-icon"></span>
            <span class="font14 text-bold">@Model.ModelPageEntity.ModelDetails.ReviewUIRating</span><span class="font12 text-light-grey">/5</span>
        </div>
        <div class="inline-block">
            <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="@Model.ModelPageEntity.ModelDetails.ReviewRate">
                <meta itemprop="worstRating" content="1">
                <meta itemprop="bestRating" content="5">
                <meta itemprop="itemreviewed" content="@Model.BikeName" />
                @if (Model.ModelPageEntity.ModelDetails.ReviewRate > 0)
                {
                    <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatShowReviewLink(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="border-light-left leftfloat margin-right10 padding-left10 font12 ">
                        <span itemprop="ratingCount">@Model.ModelPageEntity.ModelDetails.ReviewCount</span>&nbsp;<span>Reviews</span>
                    </a>
                }
            </span>
        </div>
    </div>
}


