@model Bikewale.Models.BikeModels.ModelPageVM
@{
    var cityArea = Bikewale.Utility.GlobalCityArea.GetGlobalCityArea();
    uint cityId = cityArea.CityId;            
}


@if (Model.IsPrimaryDealer && Model.DetailedDealer.PrimaryDealer.HasOffers)
{
    int offersCount = Model.DetailedDealer.PrimaryDealer.OfferList.Count();
    <div class="dealer__offers-summary-content">
        <span class="dealer-offers__icon"></span>
        <span class="dealer-offers__icon-label">@string.Format("{0} Dealer {1} available", offersCount, offersCount > 1 ? "Offers" : "Offer")</span>
        <span id="viewDealerOffers" class="dealer-offers__target">See offers</span>
    </div>
}

@if (Model.IsPremiumDealer)
{
    <div class="margin-top10">
        <a href="javascript:void(0)" class="btn btn-orange margin-right15 get-offers-main-btn leftfloat leadcapturebtn bw-ga" data-leadsourceid="12" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-area="@Model.DealerArea" data-cat="Model_Page" data-act="Get_Offers_Clicked" data-var="bikeVersionLocation">@Model.DealerDetails.DisplayTextLarge</a>
        <div class="grid-6 alpha omega">
            <span class="font12 text-light-grey">Powered by</span>
            <p class="font14 text-truncate" title="@Model.DealerDetails.Organization, @Model.DealerArea">@Model.DealerDetails.Organization,&nbsp;@Model.DealerArea</p>
        </div>
        <div class="clear"></div>
    </div>
}
else if (Model.IsManufacturerTopLeadAdShown)
{
    <div class="margin-top10">
        @if (Model.LeadCampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.CapitalFirstDealerId)
{
    <a class="btn btn-grey margin-right15 leftfloat bw-ga" rel="nofollow" href="/finance/capitalfirst/?campaingid=@Model.LeadCampaign.CampaignId&amp;dealerid=@Model.LeadCampaign.DealerId&amp;pqid=@Model.PQId&amp;leadsourceid=@Model.LeadCampaign.LeadSourceId&amp;versionid=@Model.LeadCampaign.VersionId&amp;url=@Model.LeadCampaign.CurrentPageUrl&amp;platformid=@Model.LeadCampaign.PlatformId&amp;bike=@Model.BikeName&amp;loanamount=@Model.LeadCampaign.LoanAmount&amp;dealerName=@Model.LeadCampaign.Organization&amp;sendLeadSMSCustomer=@Convert.ToString(Model.LeadCampaign.SendLeadSMSCustomer)">@Model.LeadCampaign.LeadsButtonTextDesktop</a>
}
        else
        {
            <a href="javascript:void(0)" class="btn btn-grey margin-right15 leftfloat leadcapturebtn bw-ga" rel="nofollow" data-mfgcampid="@Model.LeadCampaign.CampaignId" data-item-id="@Model.LeadCampaign.DealerId" data-item-area="@Model.LeadCampaign.Area" data-leadsourceid="@Model.LeadCampaign.LeadSourceId" data-pqsourceid="@Model.LeadCampaign.PqSourceId" data-item-message="@String.Format(Model.LeadCampaign.PopupSuccessMessage, Model.LeadCampaign.Organization)" data-item-heading="@Model.LeadCampaign.PopupHeading" data-item-description="@Model.LeadCampaign.PopupDescription" data-ispincodrequired="@Model.LeadCampaign.PincodeRequired" data-dealersrequired="@Model.LeadCampaign.DealerRequired" data-item-name="@(String.Format("Authorised {0} Dealer", Model.LeadCampaign.Organization))" id="btnManufacturer" data-isemailrequired="@Model.LeadCampaign.EmailRequired" data-issendleadsmscustomer="@Model.LeadCampaign.SendLeadSMSCustomer" data-item-organization="@Model.LeadCampaign.Organization" >@Model.LeadCampaign.LeadsButtonTextDesktop</a>
        }
        <div class="grid-6 alpha omega">
            <span class="font12 text-light-grey">Powered by</span>
            <p class="font14 text-truncate" title="@(String.Format(Model.LeadCampaign.LeadsPropertyTextDesktop,Model.LeadCampaign.Organization))">@String.Format(Model.LeadCampaign.LeadsPropertyTextDesktop, Model.LeadCampaign.Organization)</p>
        </div>
        <div class="clear"></div>
    </div>
}
@if (Model.IsDealerDetailsExists && !Model.IsPremiumDealer)
{
    <div class="border-solid-top margin-top10 margin-bottom20 padding-top20">
        <div class="inline-block margin-right10">
            <span class="model-sprite partner-dealer"></span>
        </div>
        <div class="inline-block margin-right25">
            <p class="font14 text-bold text-black margin-right10">One partner dealer near you</p>
            @if (Model.IsDealerDetailsExists && !string.IsNullOrEmpty(Model.DealerDetails.Distance))
            {
                <p class="font12 text-x-light">Approx. @Model.DealerDetails.Distance kms away</p>
            }
        </div>
        <a href="javascript:void(0)" id="getdealerdetails" class="btn btn-orange partner-dealer-details-btn">View dealer details</a>
    </div>
}
