@model Bikewale.Models.BikeModels.ModelPageVM
@using Bikewale.Common;
@using Bikewale.BikeBooking;

<section>
    <div class="contaniner clearfix">
        <span itemprop="name" class="hide">@Model.BikeName</span>
        <div class="padding-top10 padding-left20 padding-right20 bg-white">
            <h1 class="padding-bottom5">@Model.BikeName</h1>
            @Html.Partial("~/Views/Model/_Index_Reviews_Mobile.cshtml", Model)
        </div>

        <div id="modelSpecsTabsContentWrapper">
            <div id="modelOverallSpecsTopContent" class="bg-white position-rel">
                <div id="overallSpecsTab" class="overall-specs-tabs-container">
                    @Html.Partial("~/Views/Model/_Index_Tabs_Mobile.cshtml", Model)
                </div>
            </div>

            <div id="overviewContent" class="bw-model-tabs-data card-bottom-margin content-details-wrapper">
                <div class="content-box-shadow card-bottom-margin">
                    @Html.Partial("~/Views/Model/_Index_ModelGallery_Mobile.cshtml", Model)                 

                    <div class="elevated-shadow-top">
                        @Html.Partial("~/Views/Model/_Index_VersionsAndSpecs_Mobile.cshtml", Model)
                        <div class="clear"></div>

                        <div class="padding-10-20" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <p class="font12 text-light-grey">@(Model.IsLocationSelected ? "On-road" : "Ex-showroom ") price in @Model.Location</p>
                            <div>
                                <span itemprop="priceCurrency" content="INR">
                                    @if (Model.BikePrice > 0)
                                    {
                                        <span class="bwmsprite inr-lg-icon"></span>
                                        <span class="font24 text-bold padding-right5" itemprop="price" content="@Model.BikePrice">@Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())</span>
                                    }
                                    else
                                    {
                                        <span class="font18 text-bold" itemprop="price" content="0">Price not available</span>
                                    }
                                </span>
                                @if ((Model.IsLocationSelected && !Model.ShowOnRoadButton) && Model.BikePrice > 0)
                                {
                                    <a href="/m/pricequote/dealer/?MPQ=@Model.MPQString" class="font14 text-bold viewBreakupText" rel="nofollow">View detailed price</a>
                                }
                            </div>
                        </div>

                        @if (Model.IsDealerDetailsExists)
                        {
                            @Html.Partial("~/Views/Model/_Index_DealerDetails_TopCard_Mobile.cshtml", Model)
                        }
                        
                        @if (!Model.IsLocationSelected || Model.ShowOnRoadButton)
                        {
                            <div class="floating-btn clearfix">
                                <div class="grid-12 alpha omega">
                                    <a id="btnGetOnRoadPrice" href="javascript:void(0)" data-reload="true" data-persistent="true" data-modelid="@Model.ModelId" style="width: 100%" class="btn btn-orange getquotation">Check on-road price</a>
                                </div>
                            </div>
                        }
                        
                    </div>

                </div>

                @if (Model.ManufacturerCampaign != null && Model.ManufacturerCampaign.ShowAd)
                {
                    @Html.Partial("~/Views/Price/_ManufacturerCampaign.cshtml", Model.ManufacturerCampaign)
                }

                @if (Model.ModelPageEntity.ModelVersionSpecs != null)
                {
                    @Html.Partial("~/Views/Model/_Index_ModelSummary_Mobile.cshtml", Model)
                }

            </div>

            @Html.Partial("~/Views/Model/_Index_DetailsCard_Mobile.cshtml", Model)

        </div>
    </div>
</section>

@if (Model.objBestBikesList != null && Model.objBestBikesList.Count() > 0)
{
    <section>
        <div class="container padding-15-20-20 content-box-shadow card-bottom-margin">
            <h2 class="text-bold margin-bottom10">Here's a list of best @Model.BestBikeHeading</h2>
            @Html.Partial("~/Views/Model/_BestBikes_Mobile.cshtml", Model.objBestBikesList)
            <div class="view-all-btn-container">
                <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatGenericPageUrl(Model.BikeRanking.BodyStyle))" title="Best @Model.BikeRanking.StyleName in India" class="btn view-all-target-btn">View complete list<span class="bwmsprite teal-right"></span></a>
            </div>
        </div>
    </section>
}

@if (Model.LeadCapture != null && Model.IsLocationSelected)
{
    @Html.Partial("~/Views/Shared/_LeadCapture_Mobile.cshtml", Model.LeadCapture)
}