@model Bikewale.Models.BikeModels.ModelPageVM

<div id="modelPricesContent" class="bw-model-tabs-data margin-right10 margin-left10 padding-top20 padding-right10 padding-bottom15 padding-left10 border-solid-bottom">
    <h2>@Model.BikeName Price List</h2>
    <div id="prices-by-version-content" class="grid-6 alpha padding-right20">
        <h3 class="margin-bottom20">Price by versions</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th align="left" width="65%" class="font12 text-unbold text-xt-light-grey padding-bottom5 border-solid-bottom">@Model.ModelPageEntity.ModelDetails.ModelName Version</th>
                    <th align="left" width="35%" class="font12 text-unbold text-xt-light-grey padding-bottom5 border-solid-bottom">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var version in Model.ModelPageEntity.ModelVersions)
                {
                    <tr class="version-prices-tr">
                        <td width="70%" class="padding-bottom15 padding-top10 padding-right10 font14" valign="top">
                            <p class="margin-bottom5">@version.VersionName</p>
                            <p class="font12 text-xt-light-grey">@Bikewale.Utility.FormatMinSpecs.GetMinVersionSpecs(version.AlloyWheels, version.ElectricStart, version.AntilockBrakingSystem, version.BrakeType)</p>
                        </td>
                        <td width="30%" class="padding-bottom10 padding-top10 font14 divider-bottom" valign="top">
                            <p class="font16 text-bold text-default">
                                <span class="bwsprite inr-md"></span>
                                <span>@Bikewale.Utility.Format.FormatPrice(version.Price.ToString())</span>
                            </p>
                            <p class="font12 text-xt-dark-grey">
                                <span>@(Model.IsLocationSelected ? "On-road price" : "Ex-showroom"),&nbsp;@Model.LocationCookie.City</span>
                            </p>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="prices-top-cities" class="grid-6 omega">
        <h3>Price by cities&nbsp;<span class="text-light-grey text-unbold">(@(Model.IsLocationSelected ? "On-road price" : "Ex-showroom price"))</span></h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            @Html.Partial("~/Views/PriceInCity/_PriceInTopCities.cshtml", Model.PriceInTopCities)
        </table>
    </div>
    <div class="clear"></div>
</div>
