@model Bikewale.Models.BikeModels.ModelPageVM
<div id="modelColorsContent" data-id="modelColorsContent" class="bw-model-tabs-data content-box-shadow card-bottom-margin">
    <h2 class="h2-heading content-inner-block-20">@Model.BikeName Colours</h2>
    <ul id="modelColorsList" class="color-box-list">
        @foreach (var modelColor in Model.ModelPageEntity.ModelColors)
        {
            <li>
                <a class="@(modelColor.ColorImageId > 0 ? " redirect-url" : " cur-default")" href="@(modelColor.ColorImageId > 0 ? string.Format(@"{0}", Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName)) : "javascript:void(0)")" data-url="@String.Format(@"{0}?q={1}", Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName), Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(string.Format("colorImageId={0}&retUrl={1}#modelColorsContent", modelColor.ColorImageId, Model.PageMetaTags.CanonicalUrl)))">

                    <div title="@modelColor.ColorName" class="color-box inline-block @(modelColor.HexCodes.Count() == 1 ? "color-count-one" : (modelColor.HexCodes.Count() == 3 ? "color-count-three" : "color-count-two"))">
                        @if (Model.ModelPageEntity.ModelColors != null)
                        {
                            foreach (var HexCode in modelColor.HexCodes)
                            {
                                <span style="background-color: #@HexCode"></span>
                            }
                        }
                    </div>
                    <p class="font14 inline-block text-truncate">@Convert.ToString(modelColor.ColorName)</p>
                </a>
            </li>
        }
    </ul>
</div>