@model Bikewale.Models.BikeModels.ModelPageVM
<section>
    <div class="container" id="modelDetailsContainer">
        <div id="modelSummaryContent" data-id="modelSummaryContent" class="bw-model-tabs-data">
            <div class="grid-12 card-bottom-margin">
                <div class="content-box-shadow">
                    <div class="padding-top15 padding-left20">
                        <h1 class="inline-block margin-right15">@Model.Page_H1</h1>
                    </div>

                    <div id="overallTabsWrapper" class="overall-tabs position-rel">
                        <div id="overallSpecsTab" class="overall-specs-tabs-container">
                            <div class="overall-specs-tabs-wrapper">
                                @Html.Partial("~/Views/Model/_Index_Tabs.cshtml", Model)
                            </div>
                        </div>
                    </div>

                    <div class="padding-top15 padding-right20 padding-bottom10 padding-left20">
                        <div id="model-right-grid" class="grid-7 alpha omega rightfloat">

                            @if (Model.ModelPageEntity != null && Model.ModelPageEntity.UpcomingBike != null)
                            {
                                <div id="upcoming">
                                    @if (Model.ModelPageEntity.UpcomingBike.EstimatedPriceMin != 0 && Model.ModelPageEntity.UpcomingBike.EstimatedPriceMax != 0)
                                    {
                                        <div id="expectedPriceContainer" class="padding-top15">
                                            <div>
                                                <p class="font14 default-showroom-text text-light-grey">Expected Price</p>
                                                <div class="modelExpectedPrice margin-bottom15">
                                                    @Html.Raw("<span class='font22'>&#x20B9;</span>")
                                                    &nbsp;<span id="bike-price" class="font22">@Bikewale.Utility.Format.FormatNumeric(Convert.ToString(Model.ModelPageEntity.UpcomingBike.EstimatedPriceMin)) - @Html.Raw("<span>&#x20B9;</span>")&nbsp;@Bikewale.Utility.Format.FormatNumeric(Convert.ToString(Model.ModelPageEntity.UpcomingBike.EstimatedPriceMax))</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="font26 default-showroom-text text-light-grey margin-bottom5">Price Unavailable</p>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.ModelPageEntity.UpcomingBike.ExpectedLaunchDate))
                                    {
                                        <div id="expectedDateContainer" class="padding-top15 font14">
                                            <p class="default-showroom-text text-light-grey margin-bottom10">Expected launch date</p>
                                            <p class="modelLaunchDate text-bold font18 margin-bottom10">@Model.ModelPageEntity.UpcomingBike.ExpectedLaunchDate</p>
                                            <p class="default-showroom-text text-light-grey">@Model.BikeName is not launched in India yet.</p>
                                            <p class="text-light-grey">Information on this page is tentative.</p>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="grid-5 alpha margin-bottom20">
                            <div class="position-rel">
                                <span class="model-ribbon upcoming-ribbon">Upcoming</span>
                            </div>
                            @Html.Partial("~/Views/Model/_Index_ModelGallery.cshtml", Model)
                        </div>                    
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        @if (Model.ModelsBySeries != null && (Model.ModelsBySeries.IsNewAvailable || Model.ModelsBySeries.IsUpcomingAvailable))
        {
            <div id="modelsBySeriesWidget" data-id="modelSummaryContent" class="card-bottom-margin bw-ga bw-model-tabs-data" data-cat="@Model.ModelsBySeries.Page" data-act="Series_WidgetShown" data-lab="@string.Format("{0} {1}", Model.ModelPageEntity.ModelDetails.MakeBase.MakeName, Model.ModelPageEntity.ModelDetails.ModelSeries.SeriesName)">
				@if (Model.ModelsBySeries.SeriesBase != null && Model.ModelPageEntity.ModelDetails.MakeBase != null && !string.IsNullOrEmpty(Model.ModelsBySeries.SeriesBase.MaskingName))
				{
					if (Model.ModelsBySeries.SeriesBase.IsSeriesPageUrl)
					{
						<div class="margin-bottom5 margin-right10">
							<div class="swiper-heading-left-grid inline-block">
								<h2 class="horizontal-swiper__title">Explore other @Model.ModelsBySeries.SeriesBase.SeriesName @(Model.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter) ? "scooters:" : "bikes:")</h2>
							</div>
							<div class="swiper-heading-right-grid inline-block text-right">
								<a href="@string.Format("/{0}-bikes/{1}/", Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelsBySeries.SeriesBase.MaskingName)" title="@string.Format("{0} {1} bikes", Model.ModelPageEntity.ModelDetails.MakeBase.MakeName, Model.ModelsBySeries.SeriesBase.SeriesName)" class="btn view-all-target-btn">View all</a>
							</div>
							<div class="clear"></div>
						</div>
					}
					else
					{
						<div class="margin-bottom5">
							<h2 class="horizontal-swiper__title">Explore other @Model.ModelsBySeries.SeriesBase.SeriesName @(Model.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter) ? "scooters:" : "bikes:")</h2>
						</div>
					}
				}
                @Html.Partial("~/Views/BikeSeries/_BikeModelsBySeries.cshtml", Model.ModelsBySeries)
            </div>
        } 
        @Html.Partial("~/Views/Model/_Index_DetailsCard.cshtml", Model)
    </div>
</section>