@model Bikewale.Models.BikeModels.ModelPageVM
<div class="rating-review-content">
@if (Model.ModelPageEntity.ModelDetails.ReviewRate > 0)
{
       <div class="inline-block margin-right10">
        <span class="star-span star-one-icon"></span>
        <span class="font14 text-bold">@Model.ModelPageEntity.ModelDetails.ReviewUIRating.TrimEnd('0', '.')</span><span class="font12 text-light-grey">/5</span>
            </div>
    <span class="border-light-left"></span>
}
    <div class="inline-block">
        @if (Model.ModelPageEntity.ModelDetails.ReviewRate > 0)
        {
            <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingCount" content="@Model.ModelPageEntity.ModelDetails.RatingCount">
                <meta itemprop="ratingValue" content="@Model.ModelPageEntity.ModelDetails.ReviewRate">
                <meta itemprop="worstRating" content="1">
                <meta itemprop="bestRating" content="5">
                <meta itemprop="itemreviewed" content="@Model.BikeName" />

               
                <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatShowReviewLink(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="leftfloat margin-right10 padding-left10 font12 ">
                    <span itemprop="ratingCount">@Model.ModelPageEntity.ModelDetails.ReviewCount</span><span>&nbsp;Review@((Model.ModelPageEntity.ModelDetails.ReviewCount) > 1 ? "s" : "")</span>
                </a>                                                       
            </span>
        }
        else
        {
            <span class="star-span star-zero-icon leftfloat"></span>
            <span class="font12 text-light-grey leftfloat margin-right10 padding-left5">Not rated yet</span>
        }
        <a href="@string.Format("/m/rate-your-bike/{0}/?q={1}", Model.ModelId,Model.ReturnUrl)" class="border-light-left leftfloat margin-right10 padding-left10 font12 ">
           <span>Rate this bike</span>
        </a>

    </div>
</div>



