@model Bikewale.Models.BikeModels.ModelPageVM

@if (!Model.IsUpcomingBike)
{
    if (Model.ModelPageEntity.ModelVersions != null && Model.ModelPageEntity.ModelVersions.Count > 0 || Model.IsPriceInTopCitiesAvailable)
    {
        @Html.Partial("~/Views/Model/_Index_VersionPrices_Mobile.cshtml", Model)
    }

    if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelColors != null && Model.ModelPageEntity.ModelColors.Count() > 0)
    {
        @Html.Partial("~/Views/Model/_Index_ModelColors_Mobile.cshtml", Model)

    }

    if (Model.IsSimilarBikesAvailable)
    {
        <div id="similarContent" class="bw-model-tabs-data padding-top15 padding-bottom15 content-box-shadow card-bottom-margin content-details-wrapper">
            <h2 class="padding-left20 padding-right20">Bikes Similar to @Model.BikeName</h2>
            <div class="swiper-container card-container swiper-type-similar">
                <div class="swiper-wrapper">
                    @Html.Partial("~/Views/BikeModels/_SimilarBikes_Mobile.cshtml", Model.SimilarBikes)
                </div>
            </div>
        </div>
    }

    if (Model.ModelPageEntity.ModelVersionSpecs != null)
    {
        @Html.Partial("~/Views/Model/_Index_ModelSpecsAndFeatures_Mobile.cshtml", Model)
    }
}


@if (Model.ModelPageEntity.ModelDesc != null && !string.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription))
{
    <div id="aboutContent" class="bw-model-tabs-data padding-15-20-20 content-box-shadow card-bottom-margin content-details-wrapper">
        <h2>About @Model.ModelPageEntity.ModelDetails.ModelName</h2>
        <p class="font14 text-light-grey line-height17 inline">
            <span class="model-preview-main-content">
                @if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription))
                {
                    @Html.Raw(Model.ModelPageEntity.ModelDesc.SmallDescription)
                }
                else
                {
                    @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                }
            </span>
            @if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription) && !String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.FullDescription))
            {
                <span class="model-preview-more-content hide">
                    @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                </span>
                <a href="javascript:void(0)" class="font14 read-more-model-preview" rel="nofollow">Read more</a>
            }

        </p>
    </div>
}


@if (Model.IsReviewsAvailable || Model.IsNewsAvailable || Model.IsUserReviewsAvailable)
{
    <div id="reviewsContent" class="bw-model-tabs-data padding-15-20-20 content-box-shadow card-bottom-margin content-details-wrapper font14">
        <h2>@Model.BikeName Reviews</h2>
        @if (Model.ExpertReviews != null && Model.ExpertReviews.FetchedCount > 0)
        {
            <h3 class="model-section-subtitle">Expert Reviews</h3>
            @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews_Mobile.cshtml", Model.ExpertReviews)
            <div class="view-all-btn-container">
                <a title="@String.Format("{0} Expert Reviews", Model.BikeName)" href="@String.Format("/m{0}", Bikewale.Utility.UrlFormatter.FormatExpertReviewUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="bw-ga btn view-all-target-btn" c="Model_Page" a="Read_all_user_reviews_link_cliked" v="myBikeName">Read all reviews<span class="bwmsprite teal-right"></span></a>
            </div>
            if (Model.IsUserReviewsAvailable)
            {
                <div class="padding-top20 margin-bottom15 border-solid-bottom"></div>
            }
        }

        @if (Model.IsUserReviewsAvailable)
        {

            <div class="user-review-subContent">
                <h3 class="model-section-subtitle">User reviews</h3>
                @Html.Partial("~/Views/UserReviews/_UserReviewsList_Mobile.cshtml", Model.UserReviews)
                <div class="view-all-btn-container">
                    <a title="@String.Format("{0} User Reviews", Model.BikeName)" href="@String.Format("/m{0}", Bikewale.Utility.UrlFormatter.FormatUserReviewUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="bw-ga btn view-all-target-btn" c="Model_Page" a="Read_all_user_reviews_link_cliked" v="myBikeName">Read all reviews<span class="bwmsprite teal-right"></span></a>
                </div>
            </div>
            if (Model.IsNewsAvailable)
            {
                <div class="padding-top20 margin-bottom15 border-solid-bottom"></div>
            }
        }

        @if (Model.IsNewsAvailable)
        {
            <h3 class="text-bold">@Model.News.MakeName @Model.News.ModelName News</h3>
            @Html.Partial("~/Views/News/_RecentNews_Mobile.cshtml", Model.News)
        }
    </div>
}

@if (Model.IsVideosAvailable)
{
    <div id="videosContent" class="bw-model-tabs-data padding-15-20-20 content-box-shadow card-bottom-margin content-details-wrapper font14">
        <h2>@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName Videos</h2>
        @Html.Partial("~/Views/Videos/_RecentVideos_Mobile.cshtml", Model.Videos)
    </div>
}

@if (Model.IsNewBike && (Model.IsOtherDealersAvailable || Model.IsServiceCentersAvailable))
{
    <div id="dealerAndServiceContent" class="bw-model-tabs-data content-box-shadow padding-bottom20 card-bottom-margin content-details-wrapper font14">

        <h2 class="padding-top15 padding-right20 padding-left20">@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName @((Model.IsOtherDealersAvailable && Model.IsServiceCentersAvailable) ? "Showrooms & Service Centers" : Model.IsOtherDealersAvailable ? "Showrooms" : "Service Centers")</h2>
        @if (Model.IsOtherDealersAvailable)
        {
            <div id="makeDealersContent" class="padding-bottom20 font14">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h3>Showrooms in @(Model.OtherDealers != null ? Model.OtherDealers.CityName : "India")</h3>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m/{0}-dealer-showrooms-in-{1}/",Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.OtherDealers.CityMaskingName)" title="@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName showrooms in @Model.OtherDealers.CityName" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/DealerShowroom/_DealerCard_Mobile.cshtml", Model.OtherDealers)
            </div>
        }
        @if (Model.IsOtherDealersAvailable && Model.IsServiceCentersAvailable && Model.CityId > 0)
        {
            <div class="margin-right10 margin-left10 border-solid-bottom"></div>
        }
        @if (Model.IsServiceCentersAvailable && Model.CityId > 0)
        {
            <div>
                <div class="carousel-heading-content padding-top20">
                    <div class="swiper-heading-left-grid inline-block">
                        <h3>@(string.Format("Service centers in {0}", (Model.IsLocationSelected ? Model.LocationCookie.City : "India")))</h3>
                    </div><div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m/{0}-service-center-in-{1}/", Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ServiceCenters.CityMaskingName)" title="@string.Format("{0} Service Centers in {1}", Model.ModelPageEntity.ModelDetails.MakeBase.MakeName, (Model.City!=null ? Model.City.CityName :"India"))" class="btn view-all-target-btn">View all</a>
                    </div>
                </div>
                <div class="swiper-container card-container margin-bottom15 dealer-horizontal-swiper font14">
                    <div class="swiper-wrapper">
                        @Html.Partial("~/Views/ServiceCenters/_ServiceCentersCard_Mobile.cshtml", Model.ServiceCenters)
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>
}

@if (!Model.IsUpcomingBike && Model.IsUsedBikesAvailable)
{
    <div id="makeUsedBikeContent" class="bw-model-tabs-data padding-top15 padding-right10 padding-bottom20 padding-left10 content-box-shadow card-bottom-margin content-details-wrapper font14">
        <h2 class="padding-left10 padding-right10">Used @Model.BikeName bikes in @(Model.City != null ? Model.City.CityName : "India")</h2>
        @Html.Partial("~/Views/Used/_UsedBikesByModelCity_Mobile.cshtml", Model.UsedModels)
        <div class="clear"></div>
        <div class="padding-left10 view-all-btn-container">
            <a title="@Model.BikeName Used Bikes in @(Model.City!=null ? Model.City.CityName :"India")" href="@String.Format("/m{0}", Bikewale.Utility.UrlFormatter.ViewMoreUsedBikes(Model.CityId, (Model.City != null ? Model.City.CityMaskingName : "india"), Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="btn view-all-target-btn">View all used bikes<span class="bwsprite teal-right"></span></a>
        </div>
    </div>

}

<div id="modelSpecsFooter"></div>