@model Bikewale.Models.BikeModels.ModelPageVM
@if (!Model.IsUpcomingBike)
{

    <div id="overviewContent" data-id="overviewContent" class="content-box-shadow card-bottom-margin padding-top15 padding-right20 padding-bottom20 padding-left20">
        <h2>@Model.BikeName Summary</h2>
        @if (Model.ModelPageEntity.ModelVersionSpecs != null)
        {
            <ul class="summary-specs-list text-center padding-bottom10">
                <li>
                    <span class="offers-sprite specs-capacity"></span>
                    <p class="font12 text-light-grey">
                        @Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.Displacement)
                        @if (!Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.Displacement).Equals("--"))
                        {
                            <span>&nbsp;cc</span>
                        }
                    </p>
                </li>
                <li>
                    <span class="offers-sprite specs-maxpower"></span>
                    <p class="font12 text-light-grey">
                        @Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.MaxPower)
                        @if (!Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.MaxPower).Equals("--"))
                        {
                            <span>&nbsp;bhp</span>
                        }
                    </p>
                </li>
                <li>
                    <span class="offers-sprite specs-mileage"></span>
                    <p class="font12 text-light-grey">
                        @Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.FuelEfficiencyOverall)
                        @if (!Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.FuelEfficiencyOverall).Equals("--"))
                        {
                            <span>&nbsp;kmpl</span>
                        }
                    </p>
                </li>
                <li>
                    <span class="offers-sprite specs-weight"></span>
                    <p class="font12 text-light-grey">
                        @Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.KerbWeight)
                        @if (!Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.KerbWeight).Equals("--"))
                        {
                            <span>&nbsp;kgs</span>
                        }
                    </p>
                </li>
            </ul>
            <div class="border-solid-bottom margin-bottom15"></div>

        }

        <div class="border-solid-bottom padding-bottom10 margin-bottom15">
            <table id="model-key-highlights" cellspacing="0" cellpadding="0" width="100%" border="0" class="font14 text-left">
                <thead>
                    <tr>
                        <th colspan="2" class="text-bold padding-bottom5">@Model.ModelPageEntity.ModelDetails.ModelName key highlights</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BikePrice > 0 || (Model.SelectedVersion != null && Model.SelectedVersion.AverageExShowroom > 0))
                    {
                        <tr>
                            <td valign="top" width="36%"><strong class="text-unbold">Price</strong></td>
                            <td valign="top" width="64%">
                                @Html.Raw("&#x20B9;")&nbsp;<strong class="text-bold">@(Model.BikePrice > 0 && Model.IsLocationSelected ? string.Format("{0}", Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())) : Bikewale.Utility.Format.FormatPrice(Model.SelectedVersion.AverageExShowroom.ToString()))</strong>
                            </td>
                        </tr>
                    }
                    @if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelVersionSpecs != null && Model.ModelPageEntity.ModelVersionSpecs.TopSpeed > 0)
                    {
                        <tr>
                            <td valign="top">Top speed</td>
                            <td valign="top" class="text-bold">@Model.ModelPageEntity.ModelVersionSpecs.TopSpeed kmph</td>
                        </tr>
                    }
                    @if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelVersionSpecs != null && Model.ModelPageEntity.ModelVersionSpecs.FuelEfficiencyOverall > 0)
                    {
                        <tr>
                            <td valign="top">Mileage</td>
                            <td valign="top" class="text-bold">@Model.ModelPageEntity.ModelVersionSpecs.FuelEfficiencyOverall kmpl</td>
                        </tr>
                    }
                    @if (Model.IsModelColorsAvailable)
                    {
                        <tr>
                            <td valign="top">Colours</td>
                            <td valign="top" class="text-bold">
                                <ul class="model-color-list">
                                    @foreach (var colorName in Model.ModelPageEntity.ModelColors)
                                    {
                                        <li class="leftfloat">@colorName.ColorName</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.ModelPageEntity.ModelDesc != null && !string.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription)
                                && Model.ModelPageEntity.ModelDetails != null && Model.ModelPageEntity.ModelDetails.MakeBase != null)
        {
            <div id="aboutContent" class="content-details-wrapper">
                <h2>About @Model.ModelPageEntity.ModelDetails.ModelName</h2>
                <p class="font14 text-light-grey line-height17 inline">
                    @if (!Model.IsUpcomingBike)
                    {
                        <span class="model-preview-main-content">
                            @if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription))
                        {
                                @Html.Raw(Model.ModelPageEntity.ModelDesc.SmallDescription)
                            }
                            else
                            {
                                @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                            }
                        </span>
                        if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription) && !String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.FullDescription))
                        {
                            <span class="model-preview-more-content hide">
                                @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                            </span>
                            <a href="javascript:void(0)" class="font14 read-more-model-preview" rel="nofollow">Read more</a>
                        }
                    }
                    else
                    {
                        @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                    }
                </p>
            </div>
        }
    </div>
}
