@model Bikewale.Models.BikeModels.ModelPageVM
@using Bikewale.Common;
@using Bikewale.BikeBooking;

<section>
    <div class="container" id="modelDetailsContainer">
        <div class="grid-12 margin-bottom20">
            <div class="content-box-shadow">
                <div class="content-box-shadow padding-14-20">
                    <h1 class="inline-block margin-right15">@Model.BikeName</h1>
                    <div class="inline-block">
                        @Html.Partial("~/Views/Model/_Index_Reviews.cshtml", Model)
                    </div>
                </div>
                <div class="padding-top20 padding-right20 padding-bottom10 padding-left20">
                    <div class="grid-7 model-details-wrapper omega rightfloat padding-top5">

                        @Html.Partial("~/Views/Model/_Index_VersionsAndSpecs.cshtml", Model)

                        <div id="scrollFloatingButton"></div>
                        <div id="modelPriceContainer">
                            <p class="font14 text-light-grey">
                                @(Model.IsLocationSelected ? "On-road" : "Ex-showroom ") price in<span><span class="city-area-name">@Model.Location</span></span><a data-persistent="true" data-reload="true" data-modelid="@Model.ModelId" class="margin-left5 getquotation changeCity"><span class="bwsprite loc-change-blue-icon"></span></a>
                            </p>

                            @if (Model.BikePrice > 0)
                            {
                                <div class="leftfloat margin-right15" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <span itemprop="priceCurrency" content="INR">
                                        <span class="bwsprite inr-md-lg margin-right5"></span>
                                    </span>
                                    <span id="new-bike-price" class="font22 text-bold" itemprop="price" content="@Model.BikePrice">@Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())</span>
                                    @if ((Model.IsLocationSelected && !Model.ShowOnRoadButton) && Model.BikePrice > 0)
                                    {
                                        <a id="viewBreakupText" href="/pricequote/dealer/?MPQ=@Model.MPQString" rel="nofollow" class="font14 text-bold viewBreakupText">View detailed price</a>
                                        <br>
                                    }
                                </div>
                            }
                            else
                            {
                                <span class="font16">Price not available</span>

                            }
                            <div class="clear"></div>
                            @if (!Model.IsLocationSelected || Model.ShowOnRoadButton)
                            {
                                <a id="btnGetOnRoadPrice" href="javascript:void(0)" data-persistent="true" data-reload="true" data-modelid="@Model.ModelId" class="btn btn-orange margin-top10 getquotation">Check on-road price</a>
                                <div class="clear"></div>

                            }
                        </div>

                        @if (Model.IsPrimaryDealer)
                        {
                            @Html.Partial("~/Views/Model/_Index_DealerDetails_TopCard_Right.cshtml", Model)
                        }
                    </div>
                    <div class="grid-5 alpha margin-bottom20">
                        @if (Model.AreModelPhotosAvailable)
                        {
                            @Html.Partial("~/Views/Model/_Index_ModelGallery.cshtml", Model)
                        }
                    </div>
                    <div class="clear"></div>
                    @if (Model.IsDealerDetailsExists != null && Model.IsPremiumDealer)
                    {
                        @Html.Partial("~/Views/Model/_Index_DealerDetails_TopCard.cshtml", Model)
                    }
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@if (Model.DetailedDealer != null && Model.DetailedDealer.SecondaryDealerCount > 0 && Model.City!=null)
{
    <section>
        <div class="container">
            <div class="grid-12 margin-bottom20">
                <div class="content-box-shadow">
                    <div id="partner-dealer-panel" class="content-box-shadow padding-14-20 font18 text-bold text-black position-rel cur-pointer"> Prices from @Model.DetailedDealer.SecondaryDealerCount more partner dealer@(Model.DetailedDealer.SecondaryDealerCount > 1 ? "s" : "") in @Model.City.CityName<span class="model-sprite plus-icon"></span></div>
                    <div id="moreDealersList" class="jcarousel-wrapper inner-content-carousel">
                        @Html.Partial("~/Views/Price/_SecondaryDealers.cshtml", Model.DetailedDealer.SecondaryDealers)
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (Model.ManufacturerCampaign != null && Model.ManufacturerCampaign.ShowAd && Model.IsLocationSelected && !Model.ShowOnRoadButton)
{
    @Html.Partial("~/Views/Price/_ManufacturerCampaign.cshtml", Model.ManufacturerCampaign)
}

<section>
    <div id="modelDetailsFloatingCardContent" class="container">
        <div class="grid-12">
            <div class="model-details-floating-card">
                <div class="content-box-shadow content-inner-block-1020">
                    <div class="grid-5 alpha omega">
                        <div class="model-card-image-content inline-block-top margin-right20">
                            <img src="@Bikewale.Utility.Image.GetPathToShowImages(Model.ModelPageEntity.ModelDetails.OriginalImagePath,Model.ModelPageEntity.ModelDetails.HostUrl,Bikewale.Utility.ImageSize._144x81,Bikewale.Utility.QualityFactor._70)" />
                        </div>
                        <div class="model-card-title-content inline-block-top">
                            <p class="font16 text-bold margin-bottom5">@Model.BikeName</p>
                            <p class="font14 text-light-grey">@Model.VersionName</p>
                        </div>
                    </div>
                    <div class="grid-4 floating-card-area-details">
                        <p class="font14 text-light-grey leftfloat exshowroom-area">
                            <span class="leftfloat">@(Model.IsLocationSelected ? "On-road" : "Ex-showroom") price in </span>
                            <span class="leftfloat text-truncate exshowroom-area-name city-area-name margin-right5">@Model.Location</span>
                        </p>
                        <div class="clear"></div>

                        <div>
                           @if (Model.BikePrice > 0)
                           {
                                <span class="bwsprite inr-lg"></span>
                                <span class="font18 text-bold">@Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())</span>
                            }
                            else
                            {
                                <span class="font16">Price not available</span>
                            }
                        </div>
                    </div>
                    <div class="grid-3 model-orp-btn alpha omega">


                        @if (!Model.IsLocationSelected || Model.ShowOnRoadButton)
                        {
                            <a href="javascript:void(0)" id="btnCheckOnRoadPriceFloating" data-persistent="true" data-reload="true" data-modelid="@Model.ModelId" class="btn btn-orange font14 @(Model.IsPremiumDealer ? " margin-top5":"margin-top20") getquotation bw-ga" rel="nofollow" c="Model_Page" a="Floating_Card_Check_On_Road_Price_Button_Clicked" v="myModel.BikeName">Check on-road price</a>
                        }
                        else if (Model.IsPremiumDealer)
                        {
                            <a href="javascript:void(0)" data-leadsourceid="24" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-area="@Model.DealerArea " class="btn btn-orange leadcapturebtn font14 bw-ga  @(Model.IsPremiumDealer ? " margin-top5":"margin-top20")" rel=" nofollow" c="Model_Page" a="Floating_Card_Get_Offers_Clicked" v="bikeVersionLocation">@Model.DealerDetails.DisplayTextLarge</a>

                            <p class="model-powered-by-text font12 margin-top10 text-truncate" title="@Model.DealerDetails.Organization, @Model.DealerArea"><span class="text-light-grey">Powered by </span>@Model.DealerDetails.Organization, @Model.DealerArea</p>
                        }
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="overall-specs-tabs-wrapper content-box-shadow">
                    @Html.Partial("~/Views/Model/_Index_Tabs.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Partial("~/Views/Model/_Index_DetailsCard.cshtml", Model)


@if (Model.LeadCapture != null && Model.IsLocationSelected)
{
    @Html.Partial("~/Views/Shared/_LeadCapture.cshtml", Model.LeadCapture)
}




