@model Bikewale.Models.BikeModels.ModelPageVM
@if (Model.IsDealerDetailsExists)
{
    <div id="model-dealer-card" class="dealer-details__content dealer-details--model">
        @if (Model.IsPremiumDealer)
        {
            <div class="dealer__name-content margin-bottom10">
                <span class="dealer-details__icon"></span>
                <div>
                    <h2 id="dealername" class="dealer-details__name">@Model.DealerDetails.Organization</h2>
                    <p class="dealer-details__description">@(!Model.DealerDetails.IsDSA ? "Authorized Dealer in " : "Multi-brand Dealer in ")@Model.DealerArea</p>
                </div>
                @if (Model.DealerDetails.IsDSA)
                {
                    <div class="bw-tooltip multi-brand-tooltip tooltip-bottom slideUp-tooltip">
                        <p class="bw-tooltip-text position-rel font14">
                            This dealer sells bikes of multiple brands.<br />
                            Above price is not final and may vary at the dealership.
                        </p>
                        <span class="position-abt pos-top10 pos-right10 bwmsprite cross-sm-dark-grey cur-pointer close-bw-tooltip"></span>
                    </div>
                }
            </div>
        }
        @if (Model.IsPrimaryDealer && Model.DetailedDealer.PrimaryDealer.HasOffers)
        {
            <div class="dealer__offers-content offers-content--card-none ribbon-container">
                @{
                    int offersPreviewCount = 2;
                    int offersCount = Model.DetailedDealer.PrimaryDealer.OfferList.Count();
                }

                <div class="offers-ribbon ribbon-content" data-position="195">
                    <div class="ribbon-icon-wrapper">
                        <span class="ribbon-icon__background"></span>
                        <span class="ribbon-icon__percent"></span>
                    </div>
                    <span>@offersCount</span>
                    <span class="ribbon-content__data">&nbsp;Offer@(offersCount > 1 ? "s" : "") Available</span>
                </div>

                <div class="dealer-offer__container">
                    <div class="dealer-offer__badge">
                        <span class="offer-badge__star"></span>
                        <span>@offersCount Offer@(offersCount > 1 ? "s" : "")</span>
                    </div>
                    <ul id="dealer-offers-list" class="benefit__list" data-count="@offersPreviewCount">
                        @foreach (var offer in Model.DetailedDealer.PrimaryDealer.OfferList)
                        {
                            <li class="benefit-list__item">
                                <span class="benefit-item__icon @(string.Format(" offer-{0}-icon", offer.OfferCategoryId))"></span>
                                <p class="benefit-item__label">
                                    @offer.OfferText
                                </p>
                            </li>
                        }
                    </ul>
                    @if (offersCount > offersPreviewCount)
                    {
                        <span class="benefit-list__more-target">+@(offersCount - offersPreviewCount) more</span>
                    }
                </div>
            </div>
        }

        @if (Model.IsPremiumDealer)
        {
            if (Model.DetailedDealer.PrimaryDealer.IsBookingAvailable)
            {
                <div class="dealer__booking-content">
                    <a rel="nofollow" href="/m/pricequote/bookingsummary_new.aspx?MPQ=@Model.MPQString" class="btn btn-teal book-now__btn">Book now</a>
                    <p class="book-now__label">
                        (Pay &#x20b9; @Bikewale.Utility.Format.FormatPrice(Model.DetailedDealer.PrimaryDealer.BookingAmount.ToString()) to book online and rest at dealership.)
                    </p>
                </div>
            }
            else
            {
                <div class="dealer__request-callback-content padding-bottom10">
                    <a id="requestcallback" data-cat="Model_Page" data-act="Request_Callback_Details_Clicked" data-var="bikeVersionLocation" data-leadsourceid="30" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-area="@Model.DealerArea" href="javascript:void(0)" class="btn btn-white request-callback__btn bw-ga leadcapturebtn">Request callback</a>
                    <p class="request-callback__label">(Get EMI options, test rides other services from dealer.)</p>
                </div>
            }
        }
        else
        {
            if (Model.IsDealerDetailsExists && !Model.IsPremiumDealer)
            {
                <div class="padding-bottom20">
                    <div class="inline-block nearby-partner-left-col">
                        <div class="dealership-icon-wrapper inline-block margin-right5">
                            <span class="offers-sprite dealership-icon"></span>
                        </div>
                        <div class="inline-block nearby-partner-label">
                            <p class="font14">One partner dealer near you</p>
                        </div>
                    </div>
                    <a id="viewprimarydealer" onclick="secondarydealer_Click(@Model.DealerId);" data-cat="Model_Page" data-act="View_Dealer_Details_Clicked" data-var="bikeVersionLocation" href="javascript:void(0)" class="btn btn-orange btn-sm-0 bw-ga">View dealer details</a>
                </div>
            }
        }
    </div>
                        }
@if (Model.DetailedDealer != null && Model.DetailedDealer.SecondaryDealerCount > 0 && !(Model.IsManufacturerEMIAdShown || Model.IsManufacturerLeadAdShown))
{
    <div class="padding-15-20 border-solid-top font16">
        <a href="javascript:void(0)" rel="nofollow" id="more-dealers-target">Prices from @Model.DetailedDealer.SecondaryDealerCount more partner dealers<span class="bwmsprite blue-right-arrow-icon"></span></a>
    </div>

    <div id="more-dealers-popup" class="bwm-fullscreen-popup">
        <div class="dealers-popup-close-btn position-abt pos-top15 pos-right15 bwmsprite cross-lg-lgt-grey cur-pointer"></div>
        <div class="icon-outer-container rounded-corner50percent margin-bottom10">
            <div class="icon-inner-container rounded-corner50percent text-center">
                <span class="offers-sprite offers-box-icon margin-top12"></span>
            </div>
        </div>
        <p class="font16 text-bold text-center margin-bottom15">@Model.DetailedDealer.SecondaryDealerCount partner dealers near you</p>
        <ul>
            @foreach (var dealer in Model.DetailedDealer.SecondaryDealers)
            {
                <li class="secondary-dealer-card">
                    <a href="javascript:void(0)" onclick="secondarydealer_Click(@dealer.DealerId)">
                        <div>
                            <span class="grid-9 alpha omega font14 text-default text-bold">@dealer.Name</span>
                            <span class="grid-3 omega text-light-grey text-right @(dealer.Distance > 0 ? "" : "hide") ">@Math.Truncate(dealer.Distance) kms</span>
                            <div class="clear"></div>
                            <span class="bwmsprite dealership-loc-icon vertical-top"></span>
                            <span class="font12 text-light-grey">@dealer.Area</span>
                            <div class="margin-top15">
                                <div class="grid-4 alpha omega">
                                    <p class="font12 text-light-grey margin-bottom5">On-road price</p>
                                    @Html.Raw("<span class='font16 text-default'> &#x20B9;</span>")&nbsp;<span class="font16 text-default text-bold">@Bikewale.Utility.Format.FormatPrice(dealer.SelectedVersionPrice.ToString())</span>
                                </div>
                                @if (dealer.DealerPackageType != Bikewale.Entities.PriceQuote.DealerPackageTypes.Standard && dealer.OfferCount > 0)
                                {

                                    <div class="border-solid-left grid-8 padding-top10 padding-left20 omega">
                                        <span class="bwmsprite offers-sm-box-icon"></span>
                                        <span class="font14 text-default text-bold">@dealer.OfferCount</span>
                                        <span class="font12 text-light-grey">@(dealer.OfferCount > 1 ? "Offers available" : "Offer available")</span>
                                    </div>
                                }
                                <div class="clear"></div>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
}
@if (Model.IsDealerDetailsExists)
{
    <div class="floating-btn clearfix">

        @if (String.IsNullOrEmpty(Model.DealerDetails.MaskingNumber))
        {
            <div class="grid-12 alpha omega">
                <a class="btn btn-orange btn-full-width leadcapturebtn" href="javascript:void(0);" data-leadsourceid="30" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-area="@Model.DealerArea">@Model.LeadBtnShortText</a>
            </div>
        }
        else
        {
            <div class="grid-6 alpha omega">
                <a class="btn btn-orange btn-full-width leadcapturebtn" href="javascript:void(0);" data-leadsourceid="30" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-area="@Model.DealerArea">@Model.LeadBtnShortText</a>
            </div>
            <div class="grid-6 alpha omega">
                <a class="btn btn-green btn-full-width" href="@string.Format("tel:+91{0}", Model.DealerDetails.MaskingNumber)"><span class="bwmsprite tel-white-icon margin-right10"></span>Call dealer</a>
            </div>
        }
        <div class="clear"></div>
    </div>
}

@if (Model.DetailedDealer.PrimaryDealer.HasOffers)
{
    <div id="dealer-offers-popup" class="bwm-fullscreen-popup">
        <div class="offers-popup-close-btn position-abt pos-top15 pos-right15 bwmsprite cross-lg-lgt-grey cur-pointer"></div>
        <div class="icon-outer-container rounded-corner50percent margin-bottom10">
            <div class="icon-inner-container rounded-corner50percent text-center">
                <span class="offers-sprite offers-box-icon margin-top12"></span>
            </div>
        </div>
        <p class="font16 text-bold text-center margin-bottom20">Offers from this dealer</p>
        <ul class="dealer-offers-list margin-bottom25">
            @foreach (var offer in Model.DetailedDealer.PrimaryDealer.OfferList)
            {
                <li>
                    <span class="dealer-offer-image offers-sprite @(string.Format(" offerIcon_{0}", offer.OfferCategoryId))_sm"></span>
                    <span class="dealer-offer-label">
                        @offer.OfferText
                        @if (offer.IsOfferTerms)
                        {
                            <span class="tnc font9 margin-left5" id="@offer.OfferId">View terms</span>
                        }
                    </span>
                </li>
            }
        </ul>
        <div class="text-center">
            <a data-leadsourceid="31" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-area="@Model.DealerArea" href="javascript:void(0);" class="btn btn-orange text-bold leadcapturebtn">@Model.LeadBtnLongText</a>
        </div>
    </div>

    <!-- Terms and condition Popup start -->
    <div class="termsPopUpContainer content-inner-block-20 hide" id="termsPopUpContainer">
        <div class="fixed-close-btn-wrapper">
            <div id="termsPopUpCloseBtn" class="termsPopUpCloseBtn bwmsprite fixed-close-btn cross-lg-lgt-grey cur-pointer"></div>
        </div>
        <h3>Terms and Conditions</h3>
        <div class="hide" style="vertical-align: middle; text-align: center;" id="termspinner">
            <img src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif" />
        </div>
        <div id="terms" class="breakup-text-container padding-bottom10 font14">
        </div>
        <div id='orig-terms' class="hide">
        </div>
    </div>
    <!-- Terms and condition Popup end -->
}