@model Bikewale.Models.BikeModels.ModelPageVM
@if (!Model.IsUpcomingBike)
{
	var minSpecAvailable = false;
	if (Model.ModelPageEntity.ModelVersionSpecs != null && Model.ModelPageEntity.ModelVersionMinSpecs.MinSpecsList != null)
	{
		minSpecAvailable  = true;
	}
    <div id="overviewContent" data-id="overviewContent" class="content-box-shadow card-bottom-margin padding-top15 padding-right20 padding-bottom20 padding-left20">
        <h2>@Model.BikeName Summary</h2>
        @if (minSpecAvailable)
        {
            <ul class="summary-specs-list text-center padding-bottom10">
				@{
					var minSpecsList = Model.ModelPageEntity.ModelVersionMinSpecs.MinSpecsList.Take(4);
				}
				@foreach (var minSpec in minSpecsList)
				{
					<li>
						<span class="offers-sprite specs-capacity"></span>
						<p class="font12 text-light-grey">
							@Bikewale.Utility.FormatMinSpecs.ShowAvailable(minSpec.Value, minSpec.UnitType, minSpec.DataType)
						</p>
					</li>
				}
            </ul>
            <div class="border-solid-bottom margin-bottom15"></div>

        }

        <div class="border-solid-bottom padding-bottom10 margin-bottom15">
            <table id="model-key-highlights" cellspacing="0" cellpadding="0" width="100%" border="0" class="font14 text-left">
                <thead>
                    <tr>
                        <th colspan="2" class="text-bold padding-bottom5">@Model.ModelPageEntity.ModelDetails.ModelName key highlights</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BikePrice > 0 || (Model.SelectedVersion != null && Model.SelectedVersion.AverageExShowroom > 0))
                    {
                        <tr>
                            <td valign="top" width="36%"><strong class="text-unbold">Price</strong></td>
                            <td valign="top" width="64%">
                                @Html.Raw("&#x20B9;")&nbsp;<strong class="text-bold">@(Model.BikePrice > 0 && Model.IsLocationSelected ? string.Format("{0}", Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())) : Bikewale.Utility.Format.FormatPrice(Model.SelectedVersion.AverageExShowroom.ToString()))</strong>
                            </td>
                        </tr>
                    }
			@if (minSpecAvailable)
			{
				var topSpeed = Model.ModelPageEntity.ModelVersionMinSpecs.MinSpecsList.FirstOrDefault(spec => spec.Id == (int)Bikewale.Entities.BikeData.EnumSpecsFeaturesItem.TopSpeed);
				if (topSpeed != null && !string.IsNullOrEmpty(topSpeed.Value) && topSpeed.Value != "0")
				{
					<tr>
						<td valign="top">Top speed</td>
						<td valign="top" class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(topSpeed.Value, topSpeed.UnitType, topSpeed.DataType)</td>
					</tr>
				}
				var fuelEfficiency = Model.ModelPageEntity.ModelVersionMinSpecs.MinSpecsList.FirstOrDefault(spec => spec.Id == (int)Bikewale.Entities.BikeData.EnumSpecsFeaturesItem.FuelEfficiencyOverall);
				if (fuelEfficiency != null && !string.IsNullOrEmpty(fuelEfficiency.Value) && fuelEfficiency.Value != "0")
				{
					<tr>
						<td valign="top">Mileage</td>
						<td valign="top" class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(fuelEfficiency.Value, fuelEfficiency.UnitType, fuelEfficiency.DataType)</td>
					</tr>
				}
			}
                    @if (Model.IsModelColorsAvailable)
                    {
                        <tr>
                            <td valign="top">Colours</td>
                            <td valign="top" class="text-bold">
                                <ul class="model-color-list">
                                    @foreach (var colorName in Model.ModelPageEntity.ModelColors)
                                    {
                                        <li class="leftfloat">@colorName.ColorName</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (Model.ModelPageEntity.ModelDesc != null && !string.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription)
                                && Model.ModelPageEntity.ModelDetails != null && Model.ModelPageEntity.ModelDetails.MakeBase != null)
        {
            <div id="aboutContent" class="content-details-wrapper">
                <h2>About @Model.ModelPageEntity.ModelDetails.ModelName</h2>
                <p class="font14 text-light-grey line-height17 inline">
                    @if (!Model.IsUpcomingBike)
                    {
                        <span class="model-preview-main-content">
                            @if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription))
                            {
                                @Html.Raw(Model.ModelPageEntity.ModelDesc.SmallDescription)
                            }
                            else
                            {
                                @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                            }
                        </span>
                        if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription) && !String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.FullDescription))
                        {
                            <span class="model-preview-more-content hide">
                                @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                            </span>
                            <a href="javascript:void(0)" class="font14 read-more-model-preview" rel="nofollow">Read more</a>
                        }
                    }
                    else
                    {
                        @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                    }
                </p>
            </div>
        }


    </div>
    if (Model.IsElectricBike)
    {
        <div class="content-box-shadow card-bottom-margin padding-top15 padding-right20 padding-bottom20 padding-left20">


            <a href="/m/electric-bikes/" title="Electric Bikes" class="electric-slug__content">
                <span class="electric-scooter-icon"></span>
                <div class="electric-slug__details">
                    <p class="electric-slug__title">Go Green, Go Electric.</p>
                    <p class="electric-slug__subtitle">Find electric bikes and scooter.</p>
                </div>
            </a>

        </div>
    }
}
