@model Bikewale.Models.BikeModels.BikeSpecsFeaturesVM
@{

    if (Model.VersionSpecsFeatures != null)
    {
        string itemValue, featureValue;

        <div id="specsFeaturesContent" class="padding-top15 padding-bottom20 content-box-shadow card-bottom-margin content-details-wrapper font14">
        @if (Model.VersionSpecsFeatures.Specs != null && Model.VersionSpecsFeatures.Specs.Any())
        {
            <h2 class="padding-right20 padding-left20">@Model.ModelName Specifications & Features</h2>
            <h3 class="padding-right20 padding-left20 model-specs-header">Specifications</h3>

            <ul id="model-specs-list">
                @{
                    var isCategoryActive = true;
                }
                @foreach (var category in Model.VersionSpecsFeatures.Specs)
                {

                    <li>
                        <div class="model-accordion-tab @(isCategoryActive ? "active" : "")">
                            <span class="offers-sprite engine-sm-icon margin-right10"></span>
                            <span>@category.DisplayText</span>
                            <span class="bwmsprite fa-angle-down"></span>
                        </div>
                        <ul class="specs-features-list">
                            @foreach (var item in category.SpecsItemList)
                            {
                                <li>
                                    <div class="specs-features-label">@item.DisplayText</div>
                                    <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(item.ItemValues.FirstOrDefault(), item.UnitTypeText, item.DataType)</div>
                                </li>
                            }
                        </ul>
                    </li>
                    {isCategoryActive = false;}
                }
            </ul>
        }
        
        @if (Model.VersionSpecsFeatures.Features != null && Model.VersionSpecsFeatures.Features.Any())
        {
            <h3 id="model-features-heading" class="margin-top20 padding-right20 padding-left20">Features</h3>

            <ul class="specs-features-list model-features-list" id="model-main-features-list">
                @{
                    var shownFeaturesHeight = 6;
                }
                @foreach (var feature in Model.VersionSpecsFeatures.Features.Take(shownFeaturesHeight))
                {
                    <li>
                        <div class="specs-features-label">@feature.DisplayText</div>
                        <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(feature.ItemValues.FirstOrDefault(), feature.UnitTypeText, feature.DataType)</div>
                    </li>
                }
            </ul>
            <ul id="model-more-features-list" class="specs-features-list model-features-list">
                @foreach (var feature in Model.VersionSpecsFeatures.Features.Skip(shownFeaturesHeight))
                {
                    <li>
                        <div class="specs-features-label">@feature.DisplayText</div>
                        <div class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(feature.ItemValues.FirstOrDefault(), feature.UnitTypeText, feature.DataType)</div>
                    </li>
                }
            </ul>
            <div class="padding-top10 padding-right20 padding-left20">
                <a href="javascript:void(0)" class="view-features-link bw-ga" data-cat="Model_Page" data-act="View_all_features_link_cliked" data-var="myBikeName" title="@Model.BikeName Features" rel="nofollow">View all features</a>
            </div>
        }
        
    </div>
    }
}

