@model Bikewale.Models.BikeModels.ModelPageVM
@{
    var ModelDetails = Model.ModelPageEntity.ModelDetails;
    var MakeDetails = Model.ModelPageEntity.ModelDetails.MakeBase;
    string q = Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(string.Format("csrc={0}&makeId={1}&modelId={2}&makeName={3}&modelName={4}&makeMaskingName={5}&modelMaskingName={6}", (int)Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Desktop_ModelPage , MakeDetails.MakeId, ModelDetails.ModelId, MakeDetails.MakeName, ModelDetails.ModelName, MakeDetails.MaskingName, ModelDetails.MaskingName));
}
@if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelDetails != null && Model.ModelPageEntity.ModelDetails.ReviewRate > 0 && Model.ModelPageEntity.ModelDetails.RatingCount > 0)
{

    <span class="inline-block rate-count-@Math.Round(Convert.ToDouble(Model.ModelPageEntity.ModelDetails.ReviewUIRating))">
        <span class="bwsprite star-icon star-size-16"></span>
        <span class="font14 text-bold inline-block">@Model.ModelPageEntity.ModelDetails.ReviewUIRating.TrimEnd('0', '.')</span> 
    </span>
    <div class="review-box font14 inline-block">
        <span>
            @if (Model.ModelPageEntity.ModelDetails.ReviewCount > 0)
            {
                <a href="@Bikewale.Utility.UrlFormatter.FormatShowReviewLink(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName)" title="@string.Format("{0} {1} review{2}", MakeDetails.MakeName, ModelDetails.ModelName, (Model.ModelPageEntity.ModelDetails.ReviewCount > 1 ? "s" : ""))" class="review-count-target left-divider">
                    <span>@Model.ModelPageEntity.ModelDetails.ReviewCount</span> Reviews
                </a>
            }
        </span>
       
        <a rel="nofollow"  href="javascript:void(0)" data-href="@String.Format("/bike-review-contest/?q={0}", q)" class="left-divider bw-ga bw-anchor-link" l='@string.Format("{0}_{1}", Model.ModelPageEntity.ModelDetails.MakeBase.MakeName, Model.ModelPageEntity.ModelDetails.ModelName)' data-act="Clicked_RateThisBike" data-cat="Model_Page">Rate & Win </a>
    </div>
    
}
else
{
    <div class="rating-box inline-block">
        <span class="bwsprite star-zero"></span>
    </div>

    <div class="review-box font14 inline-block">
        <span class="no-rating text-light-grey">Not rated yet</span>
        <a rel="nofollow" href="javascript:void(0)" data-href="@String.Format("/bike-review-contest/?q={0}", q)" class="left-divider bw-ga bw-anchor-link" l='@string.Format("{0}_{1}", Model.ModelPageEntity.ModelDetails.MakeBase.MakeName, Model.ModelPageEntity.ModelDetails.ModelName)' data-act="Clicked_RateThisBike" data-cat="Model_Page">Rate & Win</a>
    </div>
}