@model Bikewale.Models.BikeModels.ModelPageVM

<div id="modelPricesContent" class="bw-model-tabs-data content-box-shadow content-inner-block-20 card-bottom-margin">
    <h2 class="h2-heading margin-bottom10">@Model.BikeName Price</h2>
    <div id="version-prices-grid" class="grid-6 alpha padding-right20">
        @*<h3 class="margin-bottom20">@Model.BikeName Price (variants)</h3>*@
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th align="left" width="35%" class="font12 text-light-grey padding-bottom10 divider-bottom text-unbold">Variant</th>
                    <th align="left" width="20%" class="font12 text-light-grey padding-bottom10 divider-bottom text-unbold">Price</th>
                    <th align="left" width="45%" class="font12 text-light-grey padding-bottom10 divider-bottom text-unbold">Specs</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var version in Model.ModelPageEntity.ModelVersions)
                {
                    <tr>
                        <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14">@version.VersionName</td>
                        <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14">
                            @Html.Raw("&#x20B9;")<span class="text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(version.Price.ToString())</span>
                        </td>
                        <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14">@string.Format(@"{0} Brake, {1} Wheels", version.BrakeType, (version.AlloyWheels) ? "Alloy" : "Spoke")</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="padding-top10 font12 text-light-grey">Above mentioned prices are @(Model.IsDiscontinuedBike ? "Last known " : "")@(Model.IsLocationSelected && !Model.ShowOnRoadButton ? "On-road price" : (Model.LocationCookie.CityId > 0 && !Model.IsLocationSelected ? "On-road price" : "Ex-showroom")),&nbsp;@(!String.IsNullOrEmpty(Model.LocationCookie.City) ? Model.LocationCookie.City : Bikewale.Utility.BWConfiguration.Instance.DefaultName)</div>
    </div>

    @if (Model.IsPriceInTopCitiesAvailable)
    {
        <div id="nearby-prices-grid" class="grid-6 omega padding-left20">
            @if (Model.LocationCookie != null)
            {
                <h3 class="margin-bottom20">On-road prices in cities near @Model.LocationCookie.City</h3>
            }
            else
            {
                <h3 class="margin-bottom20">Price by cities&nbsp;<span class="text-light-grey text-unbold">(@(Model.IsDiscontinuedBike ? "Last known " : "")@(Model.IsLocationSelected && !Model.ShowOnRoadButton ? "On-road price" : "Ex-showroom price"))</span></h3>
            }
            <table id="prices-top-cities" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    @Html.Partial("~/Views/PriceInCity/_PriceInTopCities.cshtml", Model.PriceInTopCities)
                </tbody>
            </table>
        </div>
    }
    <div class="clear"></div>
    <div class="font14 text-slate-grey line-height17 margin-top10">
        @Html.Raw(Model.VersionPriceListSummary)
    </div>
</div>
