@model Bikewale.Models.BikeModels.ModelPageVM
   <div class="rating-review-content">
        <div class="inline-block margin-right10">
            <span class="star-span star-one-icon"></span>
            <span class="font14 text-bold">@Model.ModelPageEntity.ModelDetails.ReviewUIRating</span><span class="font12 text-light-grey">/5</span>
        </div>
        <div class="inline-block">
            <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="@Model.ModelPageEntity.ModelDetails.ReviewRate">
                <meta itemprop="worstRating" content="1">
                <meta itemprop="bestRating" content="5">
                <meta itemprop="itemreviewed" content="@Model.BikeName" />
                @if (Model.ModelPageEntity.ModelDetails.ReviewRate > 0)
                {
                    <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.FormatShowReviewLink(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName))" class="border-light-left leftfloat margin-right10 padding-left10 font12 ">
                        <span itemprop="ratingCount">@Model.ModelPageEntity.ModelDetails.ReviewCount</span>&nbsp;<span>Review@((Model.ModelPageEntity.ModelDetails.ReviewCount)>1 ? "s":"")</span>
                    </a>
                }
                else
                {
                    <span class="font12 text-light-grey border-light-left leftfloat margin-right10 padding-left10">No reviews yet</span>
                }
                <a href="@string.Format("/m/user-reviews/rate-bike/{0}/?pagesourceid={1}", Model.ModelId, Convert.ToInt32(Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Mobile_ModelPage))" class="border-light-left leftfloat margin-right10 padding-left10 font12 ">
                    <span itemprop="writeReview"><span>Rate this bike</span></span>
                </a>
            </span>
        </div>
    </div>



