@model Bikewale.Models.BikeModels.ModelPageVM

@if (Model.ModelPageEntity != null)
{
    if (Model.ModelPageEntity.ModelVersionSpecs != null)
    {   
        <div class="font12 text-light-grey margin-bottom20">
            <span class="inline-block margin-right15">Key specs</span>
            <ul id="key-specs-list" class="inline-block">
                @if (Model.ModelPageEntity.ModelVersionSpecs.Displacement != 0)
                {
                <li>
                    <span class="bwsprite capacity-sm"></span>
                    <span>@Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.Displacement) cc</span>
                </li>
                }
                    @if (Model.ModelPageEntity.ModelVersionSpecs.FuelEfficiencyOverall != 0)
                {
                <li>
                    <span class="bwsprite mileage-sm"></span>
                    <span>@Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.FuelEfficiencyOverall) kmpl</span>
                </li>
                }
                    @if (Model.ModelPageEntity.ModelVersionSpecs.MaxPower != 0)
                {
                <li>
                    <span class="bwsprite power-sm"></span>
                    <span>@Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.MaxPower) bhp</span>
                </li>
                }
                    @if (Model.ModelPageEntity.ModelVersionSpecs.KerbWeight != 0)
                {
                <li>
                    <span class="bwsprite weight-sm"></span>
                    <span>@Bikewale.Utility.FormatMinSpecs.ShowAvailable(Model.ModelPageEntity.ModelVersionSpecs.KerbWeight) kgs</span>
                </li>
                }
            </ul>
        </div>
    }

    if (Model.ModelPageEntity.ModelVersions != null && Model.ModelPageEntity.ModelVersions.Count > 1)
    {
        <div id="model-version-dropdown" class="margin-right20 padding-top20 vertical-top">
            <div class="select-box select-box-no-input done">
                <p class="select-label">Version</p>
                <select id="ddlVersion" class="chosen-select" data-title="Version" data-selected-version="@Model.VersionId" data-pageurl="@Bikewale.Utility.UrlFormatter.BikePageUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName,Model.ModelPageEntity.ModelDetails.MaskingName)">
                    @foreach (var version in Model.ModelPageEntity.ModelVersions)
                    {
                        <option value="@version.VersionId" @(version.VersionId == Model.VersionId ? "selected" : "")>@version.VersionName</option>
                    }
                </select>
            </div>
        </div>
    }
    else
    {
        <div class="single-version-content vertical-top margin-right20">
            <p class="font12 text-light-grey">Version</p>
            <p class="text-bold dropdown-effect-light text-truncate">@(Model.SelectedVersion != null ? Model.SelectedVersion.VersionName : Model.VersionName)</p>
        </div>
    }

    <div class="location-selection vertical-top">
        <p class="font12 text-light-grey">Location</p>
        <p class="text-bold selected-city text-truncate position-rel cur-pointer">
            <span>Select city</span>
            <span class="bwsprite loc-change-blue"></span>
        </p>
    </div>

    <div class="margin-bottom15"></div>
}
