@model Bikewale.Models.BikeModels.ModelPageVM
<div class="grid-12">
	@if (Model.ExpertReviews != null && Model.ExpertReviews.FetchedCount > 0)
	{
		<div id="modelExpertReviewsContent" data-id="modelExpertReviewsContent" class="content-box-shadow padding-top20 padding-bottom20 card-bottom-margin bw-model-tabs-data">
			<h2 class="h2-heading padding-right20 padding-left20">@Model.BikeName Expert Reviews</h2>
			@Html.Partial("~/Views/ExpertReviews/_ExpertReview.cshtml", Model.ExpertReviews)
			<div class="padding-left20 view-all-btn-container">
				<a title="@Model.ExpertReviews.LinkTitle" href="@Model.ExpertReviews.MoreExpertReviewUrl" class="bw-ga btn view-all-target-btn" data-cat="Model_Page" data-act="Read_all_user_reviews_link_cliked" data-var="myBikeName">Read all reviews<span class="bwmsprite teal-right"></span></a>
			</div>
		</div>
	}
	
    @if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelColors != null && Model.ModelPageEntity.ModelColors.Count() > 0)
    {
        @Html.Partial("~/Views/Model/_Index_ModelColors.cshtml", Model)
    }
    @if (Model.AdTags.Ad_976x400_Middle)
    {
        <section>
            @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad976x400_Middle.cshtml", new { AdId = "1495092203328" });}
        </section>
                }

    @if (Model.IsSimilarBikesAvailable)
    {
        <div id="modelSimilarContent" data-id="modelSimilarContent" class="bw-model-tabs-data content-box-shadow padding-bottom20 card-bottom-margin font14">
            <h2 class="h2-heading padding-top20 padding-right20 padding-left20 margin-bottom15">@Model.BodyStyleText Similar to @Model.ModelPageEntity.ModelDetails.ModelName</h2>
            <div class="jcarousel-wrapper inner-content-carousel">
                <div class="jcarousel">
                    <ul>
                        @if (Model.AdTags.Ad_292x399)
                        {
                            { Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad292x399.cshtml", new { AdId = "1505919734321" }); }

                        }
                        @Html.Partial("~/Views/BikeModels/_SimilarBikes.cshtml", Model.SimilarBikes)
                    </ul>
                </div>
                <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
            </div>
        </div>
    }
    else if (Model.IsPopularBodyStyleAvailable && (Model.IsNewBike || Model.IsUpcomingBike))
    {
        <div id="modelPopularContent" data-id="modelPopularContent" class="bw-model-tabs-data content-box-shadow card-bottom-margin padding-bottom15">
            <div class="carousel-heading-content padding-top20">
                <div class="swiper-heading-left-grid inline-block">
                    <h2 class="h2-heading">Other popular @Model.BodyStyleText</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="@Bikewale.Utility.UrlFormatter.FormatGenericPageUrl(Model.BodyStyle)" title="Best @Model.BodyStyleText in India" class="btn view-all-target-btn">View all</a>
                </div>
            </div>
            @Html.Partial("~/Views/BestBikes/_PopularBodyStyleCarousel.cshtml", Model.PopularBodyStyle)
        </div>
    }

    @if(Model.IsNewBike && Model.IsMileageByUsersAvailable)
    {
        <section>
            @Html.Partial("~/Views/Model/_Index_MileageDetails.cshtml", Model.Mileage)
        </section>
    }
    


   
    @if (Model.ModelPageEntity.ModelVersionSpecs != null || (Model.ModelPageEntity.ModelDesc != null && !string.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription)))
    {
        <div id="modelSpecsFeaturesAboutContent" data-id="modelSpecsFeaturesAboutContent" class="bw-model-tabs-data">
            @if (Model.ModelPageEntity.ModelVersionSpecs != null)
            {
                <div id="modelSpecsFeaturesContent" class="content-box-shadow card-bottom-margin font14">
                    @Html.Partial("~/Views/Model/_Index_ModelSpecsAndFeatures.cshtml", Model)
                </div>
            }
			@if (Model.ModelPageEntity.ModelDesc != null && !string.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.FullDescription) && Model.ModelPageEntity.ModelDetails != null && Model.IsUpcomingBike)
			{
                <div id="modelAboutContent" class="content-box-shadow content-inner-block-20 card-bottom-margin font14">
                    <div class="grid-8 alpha">
                        <h2 class="h2-heading margin-bottom15">About @Model.ModelPageEntity.ModelDetails.ModelName</h2>
                        <div class="text-slate-grey line-height17">
                            @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                        </div>
                    </div>
                    <div class="grid-4 text-center alpha omega">
                        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Model_BTF_300x250.cshtml", new { AdId = Model.AdTags.AdId });}
                    </div>
                    <div class="clear"></div>
                </div>
			}
        </div>
    }
	@if ((Model.IsNewBike || Model.IsDiscontinuedBike) && Model.ModelPageEntity != null && Model.ModelPageEntity.ModelVersions != null && Model.ModelPageEntity.ModelVersions.Count > 0)
	{
		@Html.Partial("~/Views/Model/_Index_VersionPrices.cshtml", Model)
	}
    @if (Model.IsUpcomingBike && Model.objUpcomingBikes != null && Model.objUpcomingBikes.UpcomingBikes != null && Model.objUpcomingBikes.UpcomingBikes.Count() > 0)
    {
        <div class="content-box-shadow card-bottom-margin padding-bottom15">
            <div class="carousel-heading-content padding-top20">
                <div class="swiper-heading-left-grid inline-block">
                    <h2 class="h2-heading">Similar upcoming bikes</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="/upcoming-bikes/" title="Upcoming Bikes in India" class="btn view-all-target-btn">All upcoming bikes</a>
                </div>
            </div>
            @Html.Partial("~/Views/Upcoming/_UpcomingBikes.cshtml", Model.objUpcomingBikes)
        </div>
        <div class="clear"></div>
    }
	@if (Model.IsUserReviewsAvailable || (Model.ComparisionTestExpertReviews != null && Model.ComparisionTestExpertReviews.FetchedCount > 0))
	{ 
		<div id="modelReviewsContent" data-id="modelReviewsContent" class="bw-model-tabs-data font14">
		@if (Model.IsUserReviewsAvailable)
		{


			<div class="card-bottom-margin">
				<div class="content-box-shadow content-inner-block-20">
					<div class="leftfloat">
						<span class="contest-fullwidth__trophy-circle"></span>
						<p class="contest-fullwidth__heading">Bike Review Contest</p>
						<p class="contest-fullwidth__subheading">Rate &amp; write a detailed review to win Amazon vouchers worth &#x20B9; 2,000</p>
					</div>
					<div class="rightfloat padding-top15">
						@{
							string q = Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(string.Format("csrc={0}", (int)Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Desktop_ModelPage_Slug));
						}
						<a href="@string.Format("/bike-review-contest/?q={0}",q)" class="btn btn-inv-teal contest-fullwidth__target">Participate &amp; win<span class="bwsprite teal-right"></span></a>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div id="user-review-div" class="content-box-shadow card-bottom-margin padding-top20 padding-bottom20" data-readmore="0">
				<div class="padding-right20 padding-left20">
					<h2 class="h2-heading inline-block margin-right10">@Model.BikeName User Reviews</h2>
					<div class="model-overall-rating inline-block">
						<span class="rate-count-@Math.Round(Convert.ToDouble(Model.ModelPageEntity.ModelDetails.ReviewUIRating))">
							<span class="bwsprite star-icon star-size-18"></span>
							<span class="font18 text-bold">@Model.ModelPageEntity.ModelDetails.ReviewUIRating.TrimEnd('0', '.')</span>
						</span>
						@if (Model.UserReviews.UserReviews.Result != null)
                        {
							<span class="font14 text-xt-light padding-left5">(@Model.UserReviews.UserReviews.Result.FirstOrDefault().TotalRatings @string.Format("{0}", Model.UserReviews.UserReviews.Result.FirstOrDefault().TotalRatings > 1 ? "ratings" : "rating"))</span>
                        }
						<span class="font14 text-xt-light review-left-divider">@Model.UserReviews.UserReviews.TotalCount @string.Format("{0}", Model.UserReviews.UserReviews.TotalCount > 1 ? "reviews" : "review")</span>
					</div>
				</div>
				<div class="review-list-wrapper">
					@Html.Partial("~/Views/UserReview/_UserReviewList.cshtml", Model.UserReviews)
					<div class="more-article-target view-all-btn-container">
						<a title="@String.Format("{0} User Reviews", Model.BikeName)" href="@Bikewale.Utility.UrlFormatter.FormatUserReviewUrl(Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName)" class="btn view-all-target-btn">Read all user reviews<span class="bwsprite teal-right"></span></a>
					</div>
				</div>
			</div>
			<div id="report-abuse">
				<p class="font20 text-bold text-center margin-bottom20">Why do you want to report it abuse?</p>
				<span class="bwsprite report-abuse-close-btn"></span>
				<p class="margin-bottom10 font14">Comment</p>
				<textarea id="txtAbuseComments"></textarea>
				<span id="spnAbuseComments" class="error font12 text-red"></span>
				<div class="text-center margin-top10">
					<a id="btnReportReviewAbuse" onclick="reportAbuse()" class="btn btn-orange" rel="nofollow">Report</a>
				</div>
			</div>

			<div id="report-background"></div>
		}
		@if (Model.ComparisionTestExpertReviews != null && Model.ComparisionTestExpertReviews.FetchedCount > 0)
		{
			<div id="modelComparisionReviewsContent" class="content-box-shadow padding-top20 padding-bottom20 card-bottom-margin">
				@if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelDetails != null)
				{
					<h2 class="h2-heading  padding-right20 padding-left20 padding-bottom20">@Model.ModelPageEntity.ModelDetails.ModelName Comparisons by Experts</h2>
				}
					<div class="expert-article-list  padding-right10 padding-left10">
						@Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ComparisionTestExpertReviews)
					</div>

					<div class="padding-left20 more-article-target view-all-btn-container">
						<a title="@Model.ComparisionTestExpertReviews.LinkTitle" href="@Model.ComparisionTestExpertReviews.MoreExpertReviewUrl" class="bw-ga btn view-all-target-btn" data-cat="Model_Page" data-act="Read_all_expert_reviews_link_cliked" data-var="@Model.BikeName">Read all reviews<span class="bwsprite teal-right"></span></a>
					</div>

			</div>
		}
	</div>
	}


        @if (Model.IsNewsAvailable)
    {
	<!-- News widget starts -->



            <div id="modelNewsContent" data-id="modelNewsContent" class="bw-model-tabs-data content-box-shadow content-inner-block-20 card-bottom-margin font14">
                <h2 class="h2-heading margin-bottom20">@Model.BikeName News</h2>
                @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)
                <div class="more-article-target view-all-btn-container">
                    <a href="@Bikewale.Utility.UrlFormatter.FormatNewsUrl(Model.News.MakeMasking, Model.News.ModelMasking)" title="@(!string.IsNullOrEmpty(Model.News.ModelMasking) ? string.Format("{0} {1} News", Model.News.MakeName, Model.News.ModelName) : (!string.IsNullOrEmpty(Model.News.MakeMasking) ? string.Format("{0} News", Model.News.MakeName) : "Bikes News"))"
                       class="btn view-all-target-btn">Read all news<span class="bwsprite teal-right"></span></a>
                </div>
            </div>
	<!-- News widget ends -->
     }
        <div id="videosAndServiceCenterContent" data-id="videosAndServiceCenterContent" class="bw-model-tabs-data">
            @if (Model.IsVideosAvailable)
        {
                <div id="modelVideosContent" class="content-box-shadow padding-top20 padding-right10 padding-left10 padding-bottom20 card-bottom-margin font14">
                    <!-- Video start -->
                    <h2 class="h2-heading padding-left10 margin-bottom20">@Model.BikeName Videos</h2>
                    @Html.Partial("~/Views/Videos/_RecentVideos.cshtml", Model.Videos)
                    <div class="padding-left10 more-article-target view-all-btn-container">
                        <a title="@Model.Videos.LinkTitle" href="@Model.Videos.MoreVideoUrl" class="bw-ga btn view-all-target-btn" data-cat="Model_Page" data-act="View_all_videos_link_cliked" data-var="@Model.BikeName">View all videos<span class="bwsprite teal-right"></span></a>
                    </div>
                    <!-- Video ends -->
                </div>
        }
            @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Model_BTF_970x90.cshtml", new { AdId = Model.AdTags.AdId });}
            @if (Model.IsOtherDealersAvailable || Model.IsDealersServiceCenterAvailable)
        {
                <div id="dealerAndServiceContent" class="content-box-shadow card-bottom-margin padding-top20 carousel-heading-10">
                    @if (Model.CityId > 0 && Model.IsOtherDealersAvailable)
                {
                        <div id="makeDealersContent" class="font14">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2 class="font-bold">@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName showrooms in @(Model.OtherDealers != null ? Model.OtherDealers.CityName : "India")</h2>
                                </div>
                                <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="/dealer-showrooms/@Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName/@Model.OtherDealers.CityMaskingName/" title="@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName showrooms in @Model.OtherDealers.CityName" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.Partial("~/Views/DealerShowroom/_DealerCard.cshtml", Model.OtherDealers)
                        </div>
                }
                else
                {
                    if (Model.IsDealersServiceCenterAvailable)
                    {
                        <div class="padding-bottom20">
                            <h2 class="h2-heading padding-left20 margin-bottom20">@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName showrooms</h2>
                            @Html.Partial("~/Views/DealerShowroom/_DealersServiceCentersInIndia.cshtml", Model.DealersServiceCenter)
                        </div>
                    }
                }
                </div>
        }
        </div>
        <!-- Used bikes widget -->
        @if (Model.IsUsedBikesAvailable)
    {
            <div id="makeUsedBikeContent" data-id="makeUsedBikeContent" class="bw-model-tabs-data content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 card-bottom-margin font14">
                <h2 class="h2-heading padding-left10 padding-right10 margin-bottom20">Used @Model.BikeName bikes in @(Model.City != null ? Model.City.CityName : "India")</h2>
                @Html.Partial("~/Views/Used/_UsedBikesByModelCity.cshtml", Model.UsedModels)
                <div class="clear"></div>
                <div class="padding-left10 view-all-btn-container">
                    <a title="@Model.BikeName Used Bikes in @(Model.City!=null ? Model.City.CityName :"India")" href="@Bikewale.Utility.UrlFormatter.ViewMoreUsedBikes(Model.CityId, (Model.City!=null ? Model.City.CityMaskingName :"india"), Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName, Model.ModelPageEntity.ModelDetails.MaskingName)" class="btn view-all-target-btn">View all used bikes<span class="bwsprite teal-right"></span></a>
                </div>
            </div>

    }

        <div id="overallSpecsDetailsFooter"></div>
    </div>
<div class="clear"></div>
@if (Model.OtherBestBikes != null && Model.OtherBestBikes.BestBikes != null && Model.OtherBestBikes.BestBikes.Any())
{
    <section>
        <div class="container">
            <div class="grid-12">
                <div class="content-box-shadow card-bottom-margin">
                    <div class="carousel-heading-content padding-top20">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2 class="h2-heading">@Model.OtherBestBikes.OtherBestBikesHeading</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            @if (!Model.OtherBestBikes.IsMakePresentInConfig)
                            {
                                <a href="@Bikewale.Utility.UrlFormatter.FormatGenericPageUrl(Model.BikeRanking.BodyStyle)" title="Best @Model.BikeRanking.StyleName in India" class="btn view-all-target-btn">View all</a>
                            }
                            else
                            {
                                <a href="@string.Format("/{0}-bikes/", Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName)" title="@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName Bikes" class="btn view-all-target-btn">View all</a>
                            }
                        </div>
                    </div>
                    @if (!Model.OtherBestBikes.IsMakePresentInConfig)
                    {
                        @Html.Partial("~/Views/Model/_BestBikes.cshtml", Model.OtherBestBikes);
                    }
                    else
                    {
                        @Html.Partial("~/Views/Model/_MoreBikesFromMake.cshtml", Model.OtherBestBikes);
                    }
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

