@model Bikewale.Models.BikeModels.OtherBestBikesVM
<div class="more-make-bikes swiper-container card-container swiper-small">
    <div class="swiper-wrapper discover-bike-carousel margin-bottom15">

        @foreach (var Bike in Model.BestBikes)
        {
            <div  class="swiper-slide">
                <div class="swiper-card">
                    <a class="block" href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.BikePageUrl(Bike.Make.MaskingName,Bike.Model.MaskingName))" title="@Bike.Make.MakeName @Bike.Model.ModelName">
                        <div class="swiper-image-preview">
                            @*<span class="item-rank-label">#@i</span>*@
                            <img class="lazy" src="@Bikewale.Utility.Image.GetPathToShowImages(Bike.OriginalImagePath, Bike.HostUrl, Bikewale.Utility.ImageSize._110x61,Bikewale.Utility.QualityFactor._70)" alt="@Bike.Make.MakeName @Bike.Model.ModelName" title="@Bike.Make.MakeName @Bike.Model.ModelName" />
                        </div>
                        <div class="swiper-details-block">
                            <h3 class="target-link font12 text-truncate margin-bottom5">@Bike.Make.MakeName @Bike.Model.ModelName</h3>
                            @*<p class="font14 text-bold text-default text-truncate">@Bike.Make.MakeName @Bike.Model.ModelName</p>*@
                            @*<div class="text-truncate text-light-grey font11">
                                @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecs(Convert.ToString(Bike.MinSpecs.Displacement), Convert.ToString(Bike.MinSpecs.FuelEfficiencyOverall), Convert.ToString(Bike.MinSpecs.MaxPower), Convert.ToString(Bike.MinSpecs.KerbWeight)))
                            </div>*@
                            @if (Bike.OnRoadPriceInCity == 0 && Bike.Price > Bike.OnRoadPriceInCity)
                            {
                                <p class="text-truncate text-light-grey font11">Ex-showroom, Mumbai</p>
                                @Html.Raw("<span class='font16 text-default'> &#x20B9;</span>")
                                <span class="font16 text-default text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Bike.Price))</span>
                            }
                            else
                            {
                                <p class="font11 text-grey text-truncate">On Road, @Bike.UsedCity.CityName</p>
                                @Html.Raw("<span class='font16 text-default'> &#x20B9;</span>")
                                <span class="font16 text-default text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Bike.OnRoadPriceInCity))</span>
                            }
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
