@model Bikewale.Models.BikeModels.ModelPageVM
@{


    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/bwm-model-atf.css' inline /> <link rel='stylesheet' type='text/css' href='/m/css/campaign/hero-campaign.css' inline /> <link rel='stylesheet' type='text/css' href='/css/threesixty-slider.css' inline /><link rel='stylesheet' type='text/css' href='/css/emicalculator.css' inline /><link rel='stylesheet' type='text/css' href='/sass/modules/review-article.css' inline/><link rel='stylesheet' type='text/css' href='/sass/partials/select-box.css' inline/>";
    Model.Page_BTF_CSS_Path = "/m/css/bwm-model-btf.css";
    Model.Page_JS_Paths =  new string[] {"/m/src/bwm-model.js" ,"/src/emi-calculator.js"};
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div>

    @if (Model.IsNewBike)
    {
        @Html.Partial("~/Views/Model/_Index_New_Mobile.cshtml", Model)
    }
    else if (Model.IsDiscontinuedBike)
    {
        @Html.Partial("~/Views/Model/_Index_Discontinued_Mobile.cshtml", Model)
    }
    else if (Model.IsUpcomingBike)
    {
        @Html.Partial("~/Views/Model/_Index_Upcoming_Mobile.cshtml", Model)
    }
    <div id="scroll-to-top"></div>

    <script type="text/javascript">
    ga_pg_id = '2';
    var dealerId = '@Model.DealerId';
    var pqId = '@Model.PQId';
    var versionId = '@Model.VersionId';
    var cityId = '@Model.CityId';
    var bikeVersionLocation = '';
    var bikeVersion = '';
    var isBikeWalePq = "@Model.IsBPQAvailable";
    var areaId = "@Model.AreaId";
    var isDealerPriceAvailable = "@Model.IsDPQAvailable";
    var campaignId = "@Model.CampaignId";
    var myBikeName = "@Model.BikeName";
    var clientIP = "@Model.ClientIP";
    var pageUrl = window.location.href;
    var leadSourceId, getCityArea, bikeModelId = '@Model.ModelId';
    var versionsCount = @(Model.ModelPageEntity!=null && Model.ModelPageEntity.ModelVersions!=null ? Model.ModelPageEntity.ModelVersions.Count() : 0);
    var photosCount = @(Model.AreModelPhotosAvailable ? Model.ModelPageEntity.AllPhotos.Count() - 10 : 0);
    var leadSourceId,  versionName = "@Model.VersionName", getCityArea;

    @if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelDetails != null && Model.ModelPageEntity.ModelDetails.MakeBase != null)
    {
    <text>
    var pageData = {
        label: "@Model.BikeName",
        payload: {
            makeId: "@Model.ModelPageEntity.ModelDetails.MakeBase.MakeId",
            modelId: "@Model.ModelPageEntity.ModelDetails.ModelId",
            makeMaskingName: "@Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName",
            modelMaskingName: "@Model.ModelPageEntity.ModelDetails.MaskingName",
            futuristic: "@Model.ModelPageEntity.ModelDetails.Futuristic",
            isNew: "@Model.ModelPageEntity.ModelDetails.New",
            userRatingsCount: "@Model.ModelPageEntity.ModelDetails.RatingCount",
            expertReviewsCount: "@Model.ModelPageEntity.ModelDetails.ExpertReviewsCount",
        },
        value: "@Model.BikeName"
    };
    </text>
    }
    docReady(function () {
        if(FbPixelEvent)
        {
            fbq('track',FbPixelEvent.viewContent);
        }
    });
    </script>




</div>
<script defer src="@String.Format("{0}/src/ads.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>
<script defer src="/src/select-box.js"></script>

