@model Bikewale.Models.Price.DealerPriceQuotePageVM
@using Bikewale.Common;
@using Bikewale.BikeBooking;
@using Bikewale.Utility;
@using Bikewale.Entities.BikeBooking;
@{


    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/css/dealerpricequote.css' inline /> <link rel='stylesheet' type='text/css' href='/UI/sass/partials/dealer-offers.css' inline /><link rel='stylesheet' type='text/css' href='/UI/sass/partials/version-dropdown.css' inline/>";
    Model.Page_BTF_CSS_Paths = new string[] { "/UI/sass/partials/lead-popup.css", "/UI/sass/partials/desktop-lead-popup.css" };
    Model.Page_JS_Paths = new string[] { "/UI/src/utils/dropdown.js", "/UI/src/dealerpricequote.js" };
    Model.AdTags.AdPath = "/1017752/BikeWale_PQ_";
    Model.AdTags.AdId = "1516081799439";
    Model.AdTags.Ad_970x90 = false;
    Model.AdTags.Ad_970x90Top = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.AdTags.Ad_300x250 = false;
    Model.AdTags.Ad_300x250BTF = false;
    Model.IsHeaderFix = true;
    Model.ExcludeContestSlug = true;
    Layout = "~/UI/Views/Shared/_Layout.cshtml";
}
@{
    var cityArea = Bikewale.Utility.GlobalCityArea.GetGlobalCityArea();
    uint cityId = cityArea.CityId;
}

<section>
    <div class="container padding-top10">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <!-- breadcrumb code starts here -->
                <ul>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="/new-bikes-in-india/" itemprop="url">
                            <span itemprop="title">New</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="/pricequote/" itemprop="url">
                            <span itemprop="title">On-Road Price Quote</span>
                        </a>
                    </li>
                    <li><span class="bwsprite fa-angle-right margin-right10"></span>Dealer Price Quote</li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container" id="modelDetailsContainer">
        <div class="grid-12 margin-bottom20">
            <div class="content-box-shadow">
                <div class="content-box-shadow padding-14-20">
                    <h1 class="inline-block margin-right15">Detailed price quote for @Model.BikeName in @Html.Raw(Model.Location)</h1>
                </div>
                <div class="padding-top15 padding-right20 padding-bottom20 padding-left20">
                    <h2 class="font18 margin-bottom15">@Model.BikeName</h2>
                    <div id="pq-image-column" class="grid-5 alpha">
                        @if (Model.SelectedVersion != null)
                        {
                            <div id="model-image">
                                <img src="@Image.GetPathToShowImages(Model.SelectedVersion.OriginalImagePath, Model.SelectedVersion.HostUrl, ImageSize._360x202)" title="@Model.BikeName Images" alt="@Model.BikeName Images" width="100%" />
                            </div>
                        }
                        @Html.Raw(string.Format("<ul id=\"version-specs-list\">{0}</ul>", FormatMinSpecs.GetMinSpecsAsLiElement(Model.SelectedVersionMinSpecs)))
                    </div>
                    <div id="pq-table-column" class="grid-7 alpha omega">
                            <div id="versionDropdown" class="dropdown-box dropdown-box--desktop vertical-top">
                                <div class="dropdown-box__menu-tab version-tab__content">
                                    <p class="dropdown-box__menu-title">Version</p>
                                    <p id="defversion" class="dropdown-box__menu-value  ">
                                        @(Model.SelectedVersion != null ? Model.SelectedVersion.VersionName : "")
                                    </p>
                                </div>
                            @if (Model.VersionSpecs != null && Model.VersionSpecs.Any())
                                {
                                    <ul class="dropdown-box__submenu-list">
                                        @foreach (var version in Model.VersionSpecs)
                                        {
                                            if (version.Price > 0) 
                                            { 
                                                <li class="dropdown-box-submenu-list__item @(version.VersionId == Model.VersionId ? "submenu-list-item--active" : "")" data-value=@version.VersionId>
                                                    <div class="submenu-list-item__title">
                                                        <p class="submenu-list-item-title__left-col">@version.VersionName</p>
                                                        <p class="submenu-list-item-title__right-col">@Html.Raw(version.Price != 0 ? string.Format("&#x20b9; {0}", Format.FormatPrice(Convert.ToString(version.Price))) : (version.AverageExShowroom != 0 ? string.Format("&#x20b9; {0}",
                                                                                                             Format.FormatPrice(Convert.ToString(version.AverageExShowroom))) : string.Empty))</p>
                                                    </div>
                                                    <ul class="dropdown-box-submenu__specs-list">
                                                        @Html.Raw(FormatMinSpecs.GetMinSpecsAsLiElement(version.MinSpecsList, "dropdown-box-specs-list__item"))
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            </div>
                        <input type="hidden" value="@Model.VersionId" />

                        <div class="location-selection vertical-top getquotation" data-persistent="true" data-modelid="@Model.ModelId">
                            <p class="font12 text-light-grey">Location</p>
                            <p class="text-bold selected-city text-truncate position-rel cur-pointer">
                                @Html.Raw(Model.Location) <span class="margin-left5">
                                    <span class="bwsprite loc-change-blue-icon"></span>
                                </span>
                            </p>
                        </div>
                        <div>
                            <div id="pq-table" class="margin-top15">
                                @if (Model.IsDealerPriceQuote)
                                {
                                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                        @foreach (var item in Model.DetailedDealer.PrimaryDealer.PriceList)
                                        {
                                            <tr class="row-with-padding">
                                                <td width="300" class="font14">
                                                    @item.CategoryName
                                                    @if(item.CategoryName.ToUpper().Contains("INSURANCE"))
                                                    {
                                                        <span class="bwsprite emi-info tooltip-icon-target tooltip-top">
                                                            <span class="bw-tooltip info-tooltip bw-tooltip--large insurance-info-tooltip"><span class="bw-tooltip-text">Insurance amount is inclusive of a 5-year third party cover. This is in accordance with the law effective 1<sup>st</sup> Sep 2018 where in all the new bikes sold in India should have a 5-year third party cover. <a href="https://www.bikewale.com/news/35897-what-the-new-insurance-directive-means-a-guide.html" target="_blank">Learn more</a></span></span>
                                                </span>
                                                    }
                                                </td>
                                                <td width="170" align="right">
                                                    @Html.Raw("<span class='font16' >&#x20B9;</span>")&nbsp;<span id="exShowroomPrice" class="font16 text-bold">@CommonOpn.FormatPrice(item.Price.ToString())</span>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="2" class="padding-bottom5">
                                                <div class="border-light-bottom"></div>
                                            <td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p class="font14 text-bold">On-road price in @Html.Raw(Model.Location)</p>
                                            </td>
                                            <td align="right">
                                                @Html.Raw("<span class='font22'>&#x20B9;</span>")&nbsp;<span class="font22 text-bold">@CommonOpn.FormatPrice(Model.TotalPrice.ToString())</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @if (Model.IsPrimaryDealerAvailable)
                                                {
                                                    if (!Model.DetailedDealer.PrimaryDealer.DealerDetails.IsDSA)
                                                    {
                                                        <p class="font12 text-light-grey text-truncate position-rel top-minus5"> powered by @Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization, @Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="font12 text-light-grey text-truncate position-rel top-minus5">*actual pricing may vary</p>
                                                    }
                                                }
                                            </td>
                                            <td align="right">
                                                @if (Model.IsPrimaryDealerAvailable)
                                                {
                                                    <a href="javascript:void(0)" class="font14 bw-ga leadcapturebtn" data-leadsourceid=@Convert.ToInt16(LeadSourceEnum.DPQ_PriceBreakUpLink_Desktop) data-campaignid="@Model.DetailedDealer.PrimaryDealer.DealerDetails.CampaignId" data-item-id="@Model.DealerId" data-item-name="@Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization" data-item-area="@Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName" data-cat="Dealer_PQ" data-act="Get_more_details_below_price_clicked" data-func="GetBikeVerLoc" rel="nofollow">Get more details</a>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-right padding-top5"></td>
                                        </tr>
                                        <tr class="hide">
                                            <td colspan="3"></td>
                                        </tr>
                                    </table>
                                }
                                else if (Model.Quotation != null && Model.Quotation.ExShowroomPrice > 0)
                                {
                                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                        <tr class="row-with-padding">
                                            <td width="300" class="font14">
                                                Ex-Showroom (@Model.Quotation.City)
                                            </td>
                                            <td width="170" align="right">
                                                @Html.Raw("<span class='font16'>&#x20B9;</span>")&nbsp;<span id="exShowroomPrice" class="font16 text-bold">@CommonOpn.FormatNumeric(Model.Quotation.ExShowroomPrice.ToString())</span>
                                            </td>
                                        </tr>
                                        <tr class="row-with-padding">
                                            <td class="font14">RTO</td>
                                            <td align="right">
                                                @Html.Raw("<span class='font16'>&#x20B9;</span>")&nbsp;<span class="font16 text-bold">@CommonOpn.FormatNumeric(Model.Quotation.RTO.ToString())</span>
                                            </td>
                                        </tr>
                                        <tr class="row-with-padding">
                                            <td class="font14">
                                                Insurance (Comprehensive)
                                                <span class="bwsprite emi-info tooltip-icon-target tooltip-top">
                                                    <span class="bw-tooltip info-tooltip bw-tooltip--large insurance-info-tooltip"><span class="bw-tooltip-text">Insurance amount is inclusive of a 5-year third party cover. This is in accordance with the law effective 1<sup>st</sup> Sep 2018 where in all the new bikes sold in India should have a 5-year third party cover. <a href="https://www.bikewale.com/news/35897-what-the-new-insurance-directive-means-a-guide.html" target="_blank">Learn more</a></span></span>
                                                </span>
                                            </td>
                                            <td align="right">
                                                @Html.Raw("<span class='font16'>&#x20B9;</span>")&nbsp;<span class="font16 text-bold">@CommonOpn.FormatNumeric(@Model.Quotation.Insurance.ToString())</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="padding-bottom5">
                                                <div class="border-light-bottom"></div>
                                            <td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="font14 text-bold">On-road price in @Html.Raw(Model.Location)</p>
                                            </td>
                                            <td align="right">
                                                @Html.Raw("<span class='font22'>&#x20B9;</span>")&nbsp;<span class="font22 text-bold">@CommonOpn.FormatNumeric(Model.Quotation.OnRoadPrice.ToString())</span>
												@if (!Model.IsPrimaryDealerAvailable && !string.IsNullOrEmpty(Bikewale.Utility.BWConfiguration.Instance.CoverFoxLink) && !Model.IsManufacturerLeadAdShown)
                                                {
                                                <br><p class="position-rel">
                                                
                                                    <a target="_blank" rel="noopener nofollow" href="@Bikewale.Utility.BWConfiguration.Instance.CoverFoxLink" class="font12 bw-ga text-bold" data-cat="Dealer_PQ" data-act="BankbazaarLink_Clicked" data-lab="@string.Format("{0}_{1}",Model.BikeName,Model.CiyName)">Personal Loans from 10.99%<span class="position-abt pos-top0 text-light-grey text-unbold font10">&nbsp;Ad</span></a>
                                                
                                                </p>
                                                }
                                            </td>
                                        </tr>
                                        @if (Model.LeadCampaign!= null && !string.IsNullOrEmpty(Model.LeadCampaign.PriceBreakUpLinkTextDesktop))
                                        {
                                        <tr>
                                            <td align="left"></td>
                                            <td align="right">
                                                @if (!string.IsNullOrEmpty(Model.LeadCampaign.PriceBreakUpLinkDesktop))
                                                {
                                                    <a class="bw-ga font14" href="@string.Format("{0}?campaingid={1}&dealerid={2}&pqguid={3}&leadsourceid={4}&versionid={5}&url={6}&platformid={7}&bike={8}&loanamount={9}&sendLeadSMSCustomer={10}&dealerName={11}&cityId={12}", Model.LeadCampaign.PriceBreakUpLinkDesktop, Model.LeadCampaign.CampaignId, Model.LeadCampaign.DealerId, Model.LeadCampaign.PQId, Convert.ToInt16(LeadSourceEnum.DPQ_PriceBreakUpLink_Desktop), Model.LeadCampaign.VersionId, Model.LeadCampaign.CurrentPageUrl, Model.LeadCampaign.PlatformId, Model.LeadCampaign.BikeName, Model.LeadCampaign.LoanAmount, Model.LeadCampaign.SendLeadSMSCustomer, Model.LeadCampaign.Organization,cityId)" rel="nofollow">@Model.LeadCampaign.PriceBreakUpLinkTextDesktop</a>
                                                }
                                                else
                                                {
                                                    <a class="leadcapturebtn bw-ga font-14" id="pricebreakuplink" href="javascript:void(0)" data-mfgcampid="@Model.LeadCampaign.CampaignId" data-item-id="@Model.LeadCampaign.DealerId" data-item-area="@Model.LeadCampaign.Area" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.DPQ_PriceBreakUpLink_Desktop)" data-campaignid="@Model.LeadCampaign.CampaignId" data-pqsourceid="@Model.LeadCampaign.PqSourceId" data-item-message="@Model.LeadCampaign.PopupSuccessMessage" data-item-heading="@Model.LeadCampaign.PopupHeading" data-item-description="@Model.LeadCampaign.PopupDescription" data-ispincodrequired="@Model.LeadCampaign.PincodeRequired" data-dealersrequired="@Model.LeadCampaign.DealerRequired" data-item-name="@Model.LeadCampaign.Organization" data-isemailrequired="@Model.LeadCampaign.EmailRequired" data-cat="@Model.LeadCampaign.GACategory" data-act="Get_more_details_below_price_clicked" data-lab="@Model.LeadCampaign.GALabel" data-issendleadsmscustomer="@Model.LeadCampaign.SendLeadSMSCustomer" data-item-organization="@Model.LeadCampaign.Organization" rel="nofollow">
                                                        @Model.LeadCampaign.PriceBreakUpLinkTextDesktop
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                        }
                                        @if (Model.IsPrimaryDealerAvailable)
                                        {
                                            <tr>
                                                <td>

                                                    <p class="font12 text-light-grey text-truncate position-rel top-minus5">@string.Format("powered by {0}, {1}", Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization, Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName)</p>

                                                </td>
                                                <td align="right">

                                                    <a href="javascript:void(0)" class="font14 bw-ga leadcapturebtn" data-leadsourceid=@Convert.ToInt16(LeadSourceEnum.DPQ_PriceBreakUpLink_Desktop) data-campaignid="@Model.DetailedDealer.PrimaryDealer.DealerDetails.CampaignId" data-item-id="@Model.DealerId" data-item-name="@Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization" data-item-area="@Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName" data-cat="Dealer_PQ" data-act="Get_more_details_below_price_clicked" data-func="GetBikeVerLoc" rel="nofollow">Get more details</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <p class="font16 text-bold">Price for this bike is not available in this city.</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    @if (Model.DetailedDealer.PrimaryDealer != null && Model.DetailedDealer.PrimaryDealer.DealerDetails != null && Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea != null)
                    {
                        @Html.Partial("~/UI/Views/Price/_DealerCampaign.cshtml", Model.DetailedDealer)
                    }
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>


@if (Model.IsPrimaryDealerAvailable && Model.DetailedDealer.SecondaryDealerCount > 0 && !(Model.IsManufacturerLeadAdShown || Model.IsManufacturerEMIAdShown))
{
    <section>
        <div class="container margin-bottom20">
            <div class="grid-12">
                <div class="content-box-shadow padding-bottom20">
                    <h2 class="font18 padding-top20 padding-left20">Prices from @Model.DetailedDealer.SecondaryDealerCount more partner dealer@(Model.DetailedDealer.SecondaryDealerCount > 1 ? "s" : "")</h2><div class="jcarousel-wrapper inner-content-carousel small-card-carousel">
                        @Html.Partial("~/UI/Views/Price/_SecondaryDealers.cshtml", Model.DetailedDealer.SecondaryDealers)
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

@if (Model.IsManufacturerLeadAdShown)
{
    <section>
        <div class="container">
            <div class="grid-12">
                @Html.Partial("~/UI/Views/Price/_ManufacturerCampaign.cshtml", Model.LeadCampaign)
            </div>
            <div class="clear"></div>
        </div>
    </section>
}
@if (!(Model.DetailedDealer.PrimaryDealer != null && Model.DetailedDealer.PrimaryDealer.DealerDetails != null && Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea != null) || Model.IsManufacturerEMIAdShown)
{ <section>
        <div class="container margin-bottom20">
            <div id="emiContent" class="bw-model-tabs-data section-bottom-margin">
                <div class="grid-12 grid-no-padding">
                    <div class="content-box-shadow content-inner-block-20">
                        <h2 class="card-h2-heading margin-bottom20">@Model.SelectedVersion.ModelBase.ModelName EMI Calculator</h2>

                        <div class="finance-emi-container font14">
                            <div class="grid-8 alpha border-light-right padding-bottom5 margin-bottom10">

                                <div class="emi-slider-box">
                                    <p class="text-slate-grey leftfloat">Down payment</p>
                                    <p class="rightfloat margin-right15">
                                        @Html.Raw("<span>&#x20B9;</span>")
                                        &nbsp;<span id="downPaymentAmount" class="text-bold" data-bind="text: formatPrice(Math.round(downPayment()))"></span>
                                    </p>
                                    <div class="clear"></div>

                                    <div id="downPaymentSlider"
                                         data-bind="slider: downPayment, sliderOptions: { min: minDnPay(), max: maxDnPay(), range: 'min', step: 1, value: Math.round(((maxDnPay() - minDnPay()) / 2 ) + minDnPay()) }"
                                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" data-cat="Dealer_PQ" data-act="Interacted_with_EMI_Calculator" data-lab="@Model.BikeName">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                </div>

                                <div class="emi-slider-box">
                                    <p class="text-slate-grey leftfloat">Loan Amount</p>
                                    <p class="rightfloat margin-right15">
                                        @Html.Raw("<span>&#x20B9;</span>")
                                        &nbsp;<span id="loanAmount" class="text-bold" data-bind="text: formatPrice(Math.round(loan()))"></span>
                                    </p>
                                    <div class="clear"></div>

                                    <div id="loanAmountSlider"
                                         data-bind="slider: loan, sliderOptions: { min: bikePrice() - maxDnPay(), max: bikePrice() - minDnPay(), range: 'min', step: 1 }"
                                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" data-cat="Dealer_PQ" data-act="Interacted_with_EMI_Calculator" data-lab="@Model.BikeName">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                </div>

                                <div class="emi-slider-box">
                                    <p class="text-slate-grey leftfloat">Tenure</p>
                                    <p class="rightfloat text-bold margin-right15">
                                        <span id="tenurePeriod" data-bind="text: tenure"></span>&nbsp;Months
                                    </p>
                                    <div class="clear"></div>

                                    <div id="tenureSlider"
                                         data-bind="slider: tenure, sliderOptions: { min: minTenure(), max: maxTenure(), range: 'min', step: 1 }"
                                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" data-cat="Dealer_PQ" data-act="Interacted_with_EMI_Calculator" data-lab="@Model.BikeName">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                </div>

                                <div class="emi-slider-box">
                                    <p class="text-slate-grey leftfloat">Interest</p>
                                    <p class="rightfloat text-bold margin-right15">
                                        <span id="rateOfInterestPercentage" class="text-bold" data-bind="text: rateofinterest">5</span>%
                                    </p>
                                    <div class="clear"></div>

                                    <div id="rateOfInterestSlider"
                                         data-bind="slider: rateofinterest, sliderOptions: { min: minROI(), max: maxROI(), range: 'min', step: 0.25 }"
                                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" data-cat="Dealer_PQ" data-act="Interacted_with_EMI_Calculator" data-lab="@Model.BikeName">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="grid-4 padding-left20 omega">
                                <div class="border-light-bottom padding-bottom20 margin-bottom20">
                                    <p class="text-light-grey margin-bottom5">Total amount (Principal + Interest)</p>
                                    <div>
                                        @Html.Raw("<span class='font18'>&#x20B9;</span>")&nbsp;
                                        <span class="font18 text-bold" data-bind="text: formatPrice(Math.round(totalPayable()))"></span>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-light-grey margin-bottom5">Indicative EMI</p>
                                    <div>
                                        @Html.Raw("<span class='font18'>&#x20B9;</span>")&nbsp;
                                        <span class="font18 text-bold">
                                            <span id="emiAmount" data-bind="text: formatPrice(monthlyEMI())"></span>&nbsp;per month
                                        </span>
                                    </div>
                                </div>
                                @if (Model.IsManufacturerEMIAdShown)
                                {
                                    <div class="margin-top10">
                                            @if (Model.EMICampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.CapitalFirstDealerId)
                                            {
                                                <a class="btn btn-orange btn-160-32 margin-right10 bw-ga" href="/finance/capitalfirst/?campaingid=@Model.EMICampaign.CampaignId&amp;dealerid=@Model.EMICampaign.DealerId&amp;pqguid=@Model.PQId&amp;leadsourceid=@Model.EMICampaign.LeadSourceId&amp;versionid=@Model.EMICampaign.VersionId&amp;url=@Model.EMICampaign.CurrentPageUrl&amp;platformid=@Model.EMICampaign.PlatformId&amp;bike=@Model.BikeName&amp;loanamount=@Model.EMICampaign.LoanAmount&amp;cityid=@cityId&amp;dealerName=@Model.EMICampaign.Organization&amp;sendLeadSMSCustomer=@Convert.ToString(Model.EMICampaign.SendLeadSMSCustomer)" rel="nofollow">@Model.EMICampaign.EMIButtonTextDesktop</a>
                                            }
                                            else if (Model.EMICampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.BajajAutoFinanceDealerId)
                                            {
                                                <a class="btn btn-orange btn-160-32 margin-right10 bw-ga" rel="nofollow" href="@string.Format("/finance/bajaj/?dealerid={0}&campaignid={1}&pqguid={2}&leadsourceid={3}&versionid={4}&url={5}&platformid={6}&bike={7}&dealerName={8}&sendLeadSMSCustomer={9}&cityid={10}", Model.EMICampaign.DealerId, Model.EMICampaign.CampaignId, Model.PQId, Model.EMICampaign.LeadSourceId, Model.EMICampaign.VersionId, Model.EMICampaign.CurrentPageUrl, Model.EMICampaign.PlatformId, Model.BikeName, Model.EMICampaign.Organization, Model.EMICampaign.SendLeadSMSCustomer, cityId)">@Model.EMICampaign.EMIButtonTextDesktop</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="btn btn-orange btn-160-32 margin-right10 leadcapturebtn bw-ga" rel="nofollow" data-mfgcampid="@Model.EMICampaign.CampaignId" data-item-id="@Model.EMICampaign.DealerId" data-item-area="@Model.EMICampaign.Area" data-leadsourceid="@Model.EMICampaign.LeadSourceId" data-campaignid="@Model.EMICampaign.CampaignId" data-pqsourceid="@Model.EMICampaign.PqSourceId" data-item-message="@String.Format(Model.EMICampaign.PopupSuccessMessage,Model.EMICampaign.Organization)" data-item-heading="@Model.EMICampaign.PopupHeading" data-item-description="@Model.EMICampaign.PopupDescription" data-ispincodrequired="@Model.EMICampaign.PincodeRequired" data-dealersrequired="@Model.EMICampaign.DealerRequired" data-item-name="@(String.Format("Authorised {0} Dealer", Model.EMICampaign.Organization))" id="btnManufacturer" data-isemailrequired="@Model.EMICampaign.EmailRequired" data-issendleadsmscustomer="@Model.EMICampaign.SendLeadSMSCustomer" data-item-organization="@Model.EMICampaign.Organization">@Model.EMICampaign.EMIButtonTextDesktop</a>
                                            }

                                        <div class="inline-block">
                                            <p class="font12 text-light-grey">Powered by</p>
                                            <p class="font13 text-truncate" title="@String.Format(Model.EMICampaign.EMIPropertyTextDesktop, Model.EMICampaign.Organization)">@String.Format(Model.EMICampaign.EMIPropertyTextDesktop, Model.EMICampaign.Organization)</p>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                }
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
}
@if (Model.ShowOtherDealers && Model.AreOtherDealersAvailable)
{
    <section>
        <div class="container">
            <div class="grid-12 margin-bottom20">
                <div class="content-box-shadow">
                    <div class="margin-left10 margin-right10"></div>
                    <div id="makeDealersContent" class="bw-model-tabs-data padding-top20 font14">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2>@Model.SelectedVersion.MakeBase.MakeName Showrooms in @Model.Quotation.City</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="@Bikewale.Utility.UrlFormatter.DealerLocatorUrl(Model.SelectedVersion.MakeBase.MaskingName, Model.Quotation.CityMaskingName)" title="@Model.SelectedVersion.MakeBase.MakeName Showrooms in @Model.Quotation.City" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/UI/Views/DealerShowroom/_DealerCard.cshtml", Model.OtherDealers)
                        <div class="clear"></div>
                    </div>
                    <div class="margin-right10 margin-left10 border-solid-bottom"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

@if (Model.SimilarBikesVM != null && Model.SimilarBikesVM.Bikes != null && Model.SimilarBikesVM.Bikes.Count() > 0)
{
    <section>
        <div class="container margin-bottom30">
            <div class="grid-12">
                <div id="modelAlternateBikeContent" class="bw-model-tabs-data padding-top20 padding-bottom20 font14">
                    <h2 class="padding-left20 padding-right20 margin-bottom15">@Model.BodyStyleText Similar to @Model.BikeName</h2>
                    <div class="jcarousel-wrapper inner-content-carousel">
                        <div class="jcarousel">
                            <ul>
                                @if (Model.AdTags.Ad_292x359)
                                {
                                    { Html.RenderPartial("/UI/Views/Shared/Ads/Desktop/Ad292x359.cshtml", new { AdId = "1506343636197" }); }

                                }
                                @Html.Partial("~/UI/Views/BikeModels/_SimilarBikes.cshtml", Model.SimilarBikesVM)
                            </ul>
                        </div>
                        <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                        <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        @if (Model != null && Model.DetailedDealer != null && Model.DetailedDealer.PrimaryDealer != null && Model.DetailedDealer.PrimaryDealer.EMIDetails != null)
        {
            <input type="hidden" value="@Model.DetailedDealer.PrimaryDealer.EMIDetails.ProcessingFee" id="dealerProcessingFees" />
        }
    </section>
                                            }

@if (Model.LeadCapture != null)
{
    @Html.Partial("~/UI/Views/Shared/_LeadCapture.cshtml", Model.LeadCapture)
}
<script defer src="@String.Format("{0}/UI/src/ads.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>

<script type="text/javascript">

    var dealerId = '@Model.DealerId', pqId = '@Model.PQId', versionId = '@Model.VersionId', modelId = '@Model.ModelId';
    var ABHostUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiHostUrl"]';
    var cityId = '@Model.CityId', areaId = '@Model.AreaId';
    var clientIP = "@Model.ClientIP";
    var bikeName = "@Model.BikeName", bikeVersionPrice = "@Model.TotalPrice";
    var leadSourceId = "@((int)Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_DPQ_SecondaryDealers)";
    var versionName = "@(Model.SelectedVersion != null ? Model.SelectedVersion.VersionName : "")";
    var bikeVerLocation, EMIviewModel, dealerType = '@Model.DealerType', bikeVersionPrice = "@Model.TotalPrice";
    var pageUrl = window.location.href;
    var bwTrackingLab = "@Model.BhriguTrackingLabel";
    docReady(function () {
        try {
            getCityArea = GetGlobalCityArea();
            bikeVerLocation = bikeName + '_' + versionName + '_' + getCityArea;
            gaLabel = bikeVerLocation;
            @if (Model.DetailedDealer != null && Model.DetailedDealer.SecondaryDealers != null && Model.DetailedDealer.SecondaryDealerCount > 0)
         {
             <text>triggerNonInteractiveGA('Dealer_PQ', 'Secondary_Dealer_Card_Shown', bikeVerLocation);</text>
         }

            @if (!Model.IsPrimaryDealerAvailable && !string.IsNullOrEmpty(Bikewale.Utility.BWConfiguration.Instance.CoverFoxLink) && !Model.IsManufacturerLeadAdShown)
            {
                 <text>triggerNonInteractiveGA('Dealer_PQ', 'BankbazaarLink_Shown', bikeVerLocation);</text>
            }
            if (FbPixelEvent) {
                fbq('track', FbPixelEvent.viewContent);
            }
        }
        catch (e) {
            console.log(e.message);
        }

    });
</script>
