@model BikewaleOpr.Models.Comparison.ManageSponsoredComparisonRulesVM
@using Bikewale.Comparison.Entities
@{
    ViewBag.Title = "Add Sponsored Comparisons Rules";
    ViewBag.PageTitle = "Add Sponsored Comparisons Rules";


    var objMappings = Model.ComparisonVersionMapping
        .GroupBy(x => x.SponsoredModelId)
        .Select(
        group => new
        {
            SponsoredModelId = group.Key,
            Items = group,
            MappingName = string.Format("{0} {1}", group.ToList()[0].SponsoredMakeName,
            group.ToList()[0].SponsoredModelName)
        }
        ).ToList();


}


<div id="addSponsoredComparisonRules" data-comparisonid="@Model.ComparisonId" data-bwhosturl="@Bikewale.Utility.BWConfiguration.Instance.BwHostUrl">
    <div class="row">
        <div class="col m10">
            @if (objMappings != null && objMappings.Count() > 0)
            {
                <ul class="collapsible" data-collapsible="accordion">
                    @foreach (var vmap in objMappings)
                    {
                        var mappingData = objMappings[0].Items.First();
                        <li>
                            <div class="collapsible-header">
                                <blockquote>
                                    <div class="chip">
                                       
                                        @vmap.MappingName 
                                        <i class="close material-icons red-text no-margin tooltipped" data-element="model" data-sponsored-modelid="@mappingData.SponsoredModelId" data-target-modelid="@mappingData.Target.TargetModelId" data-bind="click : deleteSponsoredModelRules"  data-position="bottom" data-delay="50" data-tooltip="Remove mapping">close</i>
                                        <span class="new badge" data-badge-caption="sponsored"></span>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="collapsible-body">
                                <div class="margin-left30 inline-block margin-top10 margin-bottom10">
                                    @foreach (var item in vmap.Items)
                                    {
                                        <div class="chip">
                                            @string.Format("{0} {1}", item.Target.TargetModelName, item.Target.TargetVersionName)
                                            <i class="close material-icons red-text tooltipped" data-element="version" data-sponsored-versionid="@item.SponsoredVersionId" data-target-versionid="@item.Target.TargetVersionId" data-bind="click : deleteSponsoredVersionRules" data-position="bottom" data-delay="50" data-tooltip="Remove mapping">close</i>
                                            <span class="new badge" data-badge-caption="@item.SponsoredVersionName"></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col m2">
            <form action="/comparison/sponsored/save/rules/" method="post">
                <ul class="collapsible active" data-collapsible="accordion">
                    <li class="active">
                        <div class="collapsible-header  active"><strong>Set Comparison Rules</strong></div>
                        <div class="collapsible-body">
                            <div class="container">
                                <ul>
                                    <li class="input-field">
                                        <input type="text" autocomplete="off" id="txtSponsoredModel" class="validate" data-bind="css : {invalid : sponsoredModel() && sponsoredModel().payload.modelId =='0'},attr : {'data-value' : sponsoredModel() ? sponsoredModel().payload.modelId : null}" />
                                        <label for="txtSponsoredModel" data-error="Please select sponsored model">Sponsored Model</label>
                                    </li>
                                    <li class="input-field">
                                        <input type="text" autocomplete="off" id="txtTargetModel" class="validate" data-bind="css : {invalid : targetModel() && targetModel().payload.modelId =='0'},attr : {'data-value' : targetModel() ? targetModel().payload.modelId : null}" />
                                        <label for="txtTargetModel" data-error="Please select target model">Target Model</label>
                                    </li>
                                    <li class="input-field">
                                        <input type="text" id="txtImpressionModel" class="validate" data-bind="value : impressionModel,disable : isVersionMapping() " />
                                        <label for="txtTargetModel" data-error="Please select target model">Impression/GA(optional)</label>
                                    </li>
                                    <li class="input-field modal-trigger">
                                        <input data-bind="click : showVersionMapping,value : isVersionMapping()" type="checkbox" id="chkVersionMapping" name="IsVersionMapping" value="false" class="validate" />
                                        <label for="chkVersionMapping">Map specific versions</label>
                                    </li>
                                    <li class="input-field margin-bottom20">
                                        <button type="submit" data-bind="click: addSponsoredComparisonRules" id="btnAddCamparisonRules" class="margin-top20 btn waves-effect waves-light" name="ComparisonId" value="@Model.ComparisonId">
                                            Add Comparison
                                        </button>
                                        <input type="hidden" data-bind="value : targetSponsoredMapping" name="TargetSponsoredIds" />
                                        <input type="hidden" data-bind="value : impressionUrls" name="ImpressionUrl" />
                                    </li>
                                </ul>
                                <a href="/comparison/sponsored/manage/" class="btn btn-default blue margin-bottom20 margin-left30">Done</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </form>
        </div>
    </div>

    <div id="modalVersionMapping" class="modal modal-fixed-footer">
        <!-- ko if : sponsoredModel() && targetModel() && sponsoredModel().payload.modelId > 0 && targetModel().payload.modelId -->
        <div class="modal-content">
            <h4>Mapping <span data-bind="text : sponsoredModel().text"></span>(S) to <span data-bind="text : targetModel().text"></span>(T)</h4>
            <table class="bordered highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Target Versions</th>
                        <th>Version Price</th>
                        <th>Sponsored Versions</th>
                        <th>Impression Tracker</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach : targetModelVersions">
                    <tr data-bind="attr : {'data-target-versionid' : versionId}">
                        <td data-bind="text : bikeName"></td>
                        <td data-bind="text : '&#8377; ' + formatPrice(price)"></td>
                        <td class="input-field"><select class="chosen-select" data-bind="options : $parent.sponsoredModelVersions,optionsValue:'versionId',optionsText:function(i) { return (i.bikeName + ' (&#8377; ' + formatPrice(i.price) +')'); }"></select></td>
                        <td><input class="impression" type="text" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action btn waves-effect waves-light red lighten-2  modal-close " data-bind="click : function(){ isVersionMapping(false);$('#chkVersionMapping').prop('checked',false); }">Cancel</a>
            <a href="#!" class="modal-action btn waves-effect waves-light modal-close margin-right10">Done</a>
        </div>
        <!-- /ko -->
    </div>

</div>

<script src="/src/comparison/addcomparisonrules.js"></script>



