@model BikewaleOpr.Models.Comparison.ManageSponsoredComparisonVM
@{
    ViewBag.Title = "Manage Sponsored Comparisons";
    ViewBag.PageTitle = "Manage Sponsored Comparisons";
}

<div id="sponsoredComparisons" class="row margin-top10" style="margin-bottom : 60px">
    <div class="col m10">
        <div id="tblCampaigns" class=""  data-bwhosturl="@Bikewale.Utility.BWConfiguration.Instance.BwHostUrl">
            <table class="bordered highlight z-depth-3 centered responsive-table" id="sponsoredComparisonsList">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>LinkText</th>
                    <th>LinkUrl</th>
                    <th>Name Impression</th>
                    <th>Image Impression</th>
                    <th>Comparison Status</th>
                    <th>Rules</th>
                    <th>Updated On</th>
                    <th>Updated By</th>
                    <th>Edit</th>
                </tr>
                <tbody>
                    @foreach (var comp in Model.Sponsoredcomparisons)
                    {
                        <tr>
                            <td data-cell="id">@comp.Id</td>
                            <td data-cell="description">@comp.Name</td>
                            <td data-cell="startdate">@(comp.StartDate != null && comp.StartDate != DateTime.MinValue ? comp.StartDate.ToString("dd MMM yyyy, hh:mm tt") : "")
                            <td data-cell="enddate">@(comp.EndDate != null && comp.EndDate != DateTime.MinValue ? comp.EndDate.ToString("dd MMM yyyy, hh:mm tt") : "")</td>
                            <td data-cell="linktext">@comp.LinkText</td>
                            <td data-cell="linkurl">@comp.LinkUrl</td>
                            <td data-cell="nameimpression">@comp.NameImpressionUrl</td>
                            <td data-cell="imgimpression">@comp.ImgImpressionUrl</td>
                            <td>
                                <span>@comp.Status</span>
                                <p>
                                    @if (comp.Status.Equals(Bikewale.Comparison.Entities.SponsoredComparisonStatus.Active))
                                    {

                                        <a href="javascript:void(0)" data-bind="click : function(d,e){ currentId(@comp.Id);changeComparisonStatus(d,e); }" class="tooltipped" data-status="3" data-position="bottom" data-delay="50" data-tooltip="Pause Campaign"><i class="material-icons icon-blue">pause_circle_filled</i></a>

                                        <a href="javascript:void(0)" data-bind="click : function(d,e){ currentId(@comp.Id);changeComparisonStatus(d,e); }" data-status="5" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Abort Campaign" title="Abort Campaign"><i class="material-icons icon-red">cancel</i></a>
                                    }
                                    else if (comp.Status.Equals(Bikewale.Comparison.Entities.SponsoredComparisonStatus.Paused) || comp.Status.Equals(Bikewale.Comparison.Entities.SponsoredComparisonStatus.Unstarted))
                                    {
                                        <a href="javascript:void(0)" data-bind="click : function(d,e){ currentId(@comp.Id);changeComparisonStatus(d,e); }" data-status="2" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Start Campaign"><i class="material-icons icon-green">play_circle_filled</i></a>

                                    }

                                </p>
                            </td>
                            <td><a href="/comparison/sponsored/@(comp.Id)/rules/"><i class="material-icons icon-blue" srtle="line-height: 32px;">mode_edit</i></a></td>
                            <td>@(comp.LastUpdated != null && comp.LastUpdated != DateTime.MinValue ? comp.LastUpdated.ToString("dd MMM yyyy, hh:mm tt") : "")</td>
                            <td>@comp.UpdatedBy</td>
                            <td><a href="javascript:void(0)" data-bind="click : editSponsoredCamparison"><i class="material-icons icon-blue" srtle="line-height: 32px;">mode_edit</i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="col m2">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><strong>Search Comparisons</strong></div>
                <div class="collapsible-body">
                    <div class="container">
                        @using (Html.BeginForm("ManageSponsoredCamparison", "Comparison", FormMethod.Get))
                        {
                            <ul class="input-field row m12" id="searchComparisons">
                                <li>
                                    <input type="checkbox" id="chkActiveStatus" data-value="2" class="with-gap" />
                                    <label for="chkActiveStatus">Active</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="chkUnstartedStatus" data-value="1" class="with-gap" />
                                    <label for="chkUnstartedStatus">Unstarted</label>
                                </li>
                                <li class="margin-top5">
                                    <input type="checkbox" id="chkPausedStatus" data-value="3" class="with-gap" />
                                    <label for="chkPausedStatus">Paused</label>
                                </li>
                                <li class="margin-top5">
                                    <input type="checkbox" id="chkAbortedStatus" data-value="5" class="with-gap" />
                                    <label for="chkAbortedStatus">Aborted</label>
                                </li>
                                <li class="margin-top5">
                                    <input type="checkbox" id="chkExpiredStatus" data-value="4" class="with-gap" />
                                    <label for="chkExpiredStatus">Closed</label>
                                </li>
                                <li class="margin-top5">
                                    <input type="checkbox" id="chkAllStatus" data-value="0" class="with-gap" data-bind="click : checkAllStatus" />
                                    <label for="chkAllStatus">All</label>
                                </li>
                                <li class="margin-top5">
                                    <button type="submit" data-bind="click: searchSponsoredCamparisons" id="btnSearchCamparisons" class="margin-top20 btn waves-effect waves-light" name="comparisonType" value="">
                                        Search Campaign
                                    </button>
                                </li>

                            </ul>
                        }
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><strong>Add Campaign</strong></div>
                <div class="collapsible-body">
                    <div class="container">
                        @using (Html.BeginForm("AddorUpdateSponsoredComparison", "Comparison", FormMethod.Post))
                        {
                            <ul class="input-field row m12">
                                <li>
                                    <input id="txtComparisonDescription" type="text" class="validate" data-bind="value : description,css : { invalid : (description() == '' }" name="Name" maxlength="100" length="100" required>
                                    <label for="txtComparisonDescription" data-error="Please enter description">Comparison Description *</label>
                                </li>
                                <li class="input-field">
                                    <i class="material-icons prefix margin-top15">date_range</i>
                                    <input type="date" id="dtStartDate" class="datepicker margin-left5" data-bind="css : {invalid : startDateTime()==''}, value:startDate" required/>
                                    <label for="dtStartDate" data-error="Please enter start date">Start Date *</label>
                                    <input type="time" id="dtStartTime" value="" data-bind="value : startTime" class="timepicker" />
                                    <input type="hidden" name="StartDate" data-bind="value : startDateTime " />
                                </li>
                                <li class="input-field">
                                    <i class="material-icons prefix margin-top15">date_range</i>
                                    <input type="date" id="dtEndDate" class="datepicker margin-left5" data-bind="css : {invalid : endDateTime()==''},value:endDate" required/>
                                    <label for="dtEndDate" data-error="Please enter end date">End Date *</label>
                                    <input type="time" id="dtEndTime" data-bind="value : endTime" class="timepicker" />
                                    <input type="hidden" name="EndDate" data-bind="value : endDateTime " />
                                </li>
                                <li class="input-field">
                                    <input id="txtLinkText" type="text" class="validate" name="LinkText" data-bind="value : linkText">
                                    <label for="txtLinkText">Link Text</label>
                                </li>
                                <li class="input-field">
                                    <input id="txtLinkUrl" type="text" class="validate" name="LinkUrl" data-bind="value : linkUrl">
                                    <label for="txtLinkUrl">Link Url</label>
                                </li>
                                <li class="input-field">
                                    <input id="txtBikeNameImpression" type="text" class="validate" name="NameImpressionUrl" data-bind="value : nameImpression">
                                    <label for="txtBikeNameImpression">Bike Name GA</label>
                                </li>
                                <li class="input-field">
                                    <input id="txtBikeImageImpression" type="text" class="validate" data-bind="value : imgImpression" name="ImgImpressionUrl">
                                    <label for="txtBikeImageImpression">Bike Image GA</label>
                                </li>
                                <li class="input-field">
                                    <!-- ko if : isComparisonEdit() -->
                                    <div class="col m12 text-align-center">
                                        <button data-bind="click: addSponsoredComparison,value : currentId" style="width:100%" class="btn waves-effect waves-light margin-bottom20 green" type="submit" name="Id">
                                            Update
                                        </button>
                                    </div>
                                    <div class="col m12 text-align-center">
                                        <button data-bind="click: cancelEditComparison"   style="width:100%" class="btn waves-effect waves-light margin-bottom20 red" type="submit">
                                            Cancel
                                        </button>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko ifnot : isComparisonEdit()-->
                                    <button data-bind="click: addSponsoredComparison" class="btn waves-effect waves-light margin-bottom20" type="submit">
                                        Add Comparison
                                    </button>
                                    <!-- /ko -->
                                    <input type="hidden" value="@BikeWaleOpr.Common.CurrentUser.Id" name="UpdatedBy"/>
                                </li>
                            </ul>
                        }
                    </div>

                </div>

            </li>
        </ul>
    </div>

    <div id="msgBox" class="errorMessage margin-top10"></div>

</div>

<script src="/src/comparison/managecomparisons.js"></script>