@{
    ViewBag.Title = "Upload Used Model Image";
    ViewBag.PageTitle = "Upload Used Model Image";
    IEnumerable<BikewaleOpr.Entities.BikeData.BikeMakeEntityBase> objMakeList = ViewBag.MakeList;
}


<div class="row" style="margin-top:5px;">
    <div class="col m9" id="model-UsedBike-Images">
        @if (Model != null)
        {
            <table class="bordered highlight z-depth-3 centered responsive-table">
                <tr>
                    <th>Model Id</th>
                    <th>Model Name</th>
                    <th>Image</th>

                    <th colspan="2">Upload image</th>
                    <th>Delete image</th>
                </tr>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@m.ModelId</td>
                        <td>@m.MakeName @m.ModelName</td>
                        <td>
                            <div class="image-wrapper" style="width:144px">
                                <img id="mainImage" src='@Bikewale.Utility.Image.GetPathToShowImages(@m.OriginalImagePath, @m.HostUrl, Bikewale.Utility.ImageSize._144x81)' />
                            </div>
                        </td>
                        <td>
                            <form action="#">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>File</span>
                                        <input id="fileUpload" type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input id="filePath" class="file-path validate" type="text">
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn waves-effect waves-light uploadImage" data-modelid="@m.ModelId" data-modelname="@m.ModelName" data-bind="click : uploadUsedPhoto ">Upload</button>
                        </td>
                        <td><a href="javascript:void(0)" id="deleteButton" data-imagepath="@m.OriginalImagePath" data-modelname="@m.ModelName" data-modelid="@m.ModelId" data-bind="click : deleteUsedPhoto "><i class="material-icons icon-red">delete</i></a></td>
                    </tr>
                }
            </table>
        }
    </div>

    <div class="col m3">
        <div id="make-card" class="card" data-bind="with : vmMake">
            <div class="card-content">
                <span class="card-title">Show Models</span>
                <p>
                    <a class='dropdown-button btn' href='#' data-activates='makeDropDown' data-bind="text : makeName()"></a>
                    <!-- Dropdown Structure -->
                    <ul id='makeDropDown' class='dropdown-content'>
                        @if (objMakeList != null)
                        {
                            foreach (var make in objMakeList)
                            {
                                <li data-makeid="@make.MakeId" data-makename="@make.MakeName" data-bind="event : {click : function(d,e) { updateMake(d,e) }}"><a href="#!">@make.MakeName</a></li>
                            }
                        }
                    </ul>
                    <input name="makeId" data-bind="textInput: makeId()" type="text" hidden />
                </p>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit" name="action" data-bind="event : {click : function() { return validateMakeSubmit();}}">
                    Submit
                </button>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    environment = '@Bikewale.Utility.BWOprConfiguration.Instance.AWSEnvironment';
    bwHostUrl = '@Bikewale.Utility.BWOprConfiguration.Instance.BwHostUrlForJs';
    userid = '@BikeWaleOpr.Common.CurrentUser.Id';
    bwOprHostUrl = '@Bikewale.Utility.BWOprConfiguration.Instance.BwOprHostUrlForJs';
</script>
<script src="/src/imageUpload.js"></script>
<script src="~/src/content/usedimageupload.js"></script>
