@{
    var TopBrands = Model.TopBrands;
    var OtherBrands = Model.OtherBrands;
}

<div id="discoverBrand" class="bw-tabs-data text-center collapsible-brand-content">
    <div id="brand-type-container" class="brand-type-container">
        <ul>
            @foreach (var make in TopBrands) 
            { 
            <li>
                <a href="@string.Format("/{0}-{1}/", make.MaskingName, !make.IsScooterOnly ? "scooters" : "bikes")" title="@String.Format("{0} scooters",make.MakeName)">
                    <span class="brand-type">
                        <span class="lazy brandlogosprite brand-@make.MakeId"></span>
                    </span>
                    <span class="brand-type-title">@make.MakeName</span>
                </a>
            </li>
            }
        </ul>
        @if (Model.HasOtherBrands)
        {
        <ul class="brand-style-moreBtn padding-top25 brandTypeMore hide border-solid-top">
            @foreach (var make in OtherBrands)
            {
                <li>
                    <a href="@string.Format("/{0}-{1}/", make.MaskingName, !make.IsScooterOnly ? "scooters" : "bikes")" title="@String.Format("{0} scooters",make.MakeName)">
                        <span class="brand-type">
                            <span class="lazy brandlogosprite brand-@make.MakeId"></span>
                        </span>
                        <span class="brand-type-title">@make.MakeName</span>
                    </a>
                </li>
            }
        </ul>
        }
    </div>
    @if (Model.HasOtherBrands)
    {
    <div class="view-all-btn-container padding-top10 padding-bottom30">
        <a href="javascript:void(0)" class="view-brandType btn view-all-target-btn rotate-arrow" rel="nofollow"><span class="btn-label">View more brands</span><span class="bwsprite teal-right"></span></a>
    </div>
    }
</div>