@model Bikewale.Models.EMICalculatorVM
<div id="emiPopup" data-bikeversionprice="@Model.BikePrice" data-bind="visible: true" style="display: none;" class="@((Model.ESEMICampaign != null || Model.IsPremiumDealer) ? "emi-popup__premium-dealer" : "") emi-popup hide">
    <input type="hidden" id="emiWidgetInitialValues" value="@Model.EMIJsonBase64" />
    <div class="emi-popup-close-btn"></div>
    <p class="emi-popup__title">EMI Calculator</p>
    <div class="finance-emi-container">
        <div class="emi-calculator__amount-container">
            <div class="grid-5 text-left">
                <div class="total-emi-amount">
                    &#x20B9;&nbsp;
                    <span id="totalAmount" data-bind="text: formatPrice(Math.round(totalPayable()))" class="text-bold"></span>
                </div>
                <p class="font14 text-bold">Total amount</p>
                <p class="font12 text-light-grey">(Principal + Interest)</p>
            </div>
            <div class="grid-7 alpha text-right margin-top5">

                <div class="indicative-emi-amount">
                    &#x20B9;&nbsp;
                    <span id="emiAmount" data-bind="text: formatPrice(monthlyEMI())" class="text-bold"></span>
                    <span class="text-bold">/ month</span>
                </div>
                <p class="font14 text-light-grey">Indicative EMI</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="emi-slider__container">
            <div class="emi-slider-box">
                <div class="emi-slider-box-left-section">
                    <div class="clearfix">
                        <p class="emi-popup__label">Down payment</p>
                        <div class="emi-popup__label-value">
                            &#x20b9;
                            <span id="downPaymentAmount" data-bind="text: formatPrice(Math.round(downPayment()))" class="text-bold"></span>
                        </div>
                    </div>
                    <div id="downPaymentSlider"
                         data-bind="slider: downPayment, sliderOptions: { min: minDnPay(), max: maxDnPay(), range: 'min', step: 1, value: Math.round(((maxDnPay() - minDnPay()) / 2) + minDnPay()) }"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="emi-slider-box">
                <div class="emi-slider-box-left-section">
                    <div class="clearfix font14">
                        <p class="emi-popup__label">Loan amount</p>
                        <div class="emi-popup__label-value">
                            &#x20b9;
                            <span id="loanAmount" data-bind="text: formatPrice(Math.round(loan()))" class="text-bold"></span>
                        </div>
                    </div>
                    <div id="loanAmountSlider"
                         data-bind="slider: loan, sliderOptions: { min: bikePrice() - maxDnPay(), max: bikePrice() - minDnPay(), range: 'min', step: 1 }"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="emi-slider-box">
                <div class="emi-slider-box-left-section">
                    <div class="clearfix font14">
                        <p class="emi-popup__label">Tenure</p>
                        <div class="emi-popup__label-value text-bold">
                            <span id="tenurePeriod" data-bind="text: tenure"></span>&nbsp;Months
                        </div>
                    </div>
                    <div id="tenureSlider"
                         data-bind="slider: tenure, sliderOptions: { min: minTenure(), max: maxTenure(), range: 'min', step: 1 }"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="emi-slider-box">
                <div class="emi-slider-box-left-section">
                    <div class="clearfix font14">
                        <p class="emi-popup__label">Interest</p>
                        <div class="emi-popup__label-value text-bold">
                            <span id="rateOfInterestPercentage" data-bind="text: rateofinterest">5</span>&nbsp;%
                        </div>
                    </div>
                    <div id="rateOfInterestSlider"
                         data-bind="slider: rateofinterest, sliderOptions: { min: minROI(), max: maxROI(), range: 'min', step: 0.25 }"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>

        <div class="clear"></div>
        @if (Model.ESEMICampaign != null && (Model.IsPrimaryDealer || Model.IsManufacturerLeadAdShown))
        {
            <div class="emi-quote__btn-block">
                @if (Model.ESEMICampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.CapitalFirstDealerId)
                {
                    <a id="btnEmiQuote" class="btn btn-white emi-quote-btn bw-ga" data-cat="Model_Page" data-act="Get_EMI_Quote_Clicked" data-lab="@Model.BikeName.Replace(" ", "_")" rel="nofollow" href="@(Model.IsMobile?"/m":"")/finance/capitalfirst/?campaingid=@Model.ESEMICampaign.CampaignId&amp;dealerid=@Model.ESEMICampaign.DealerId&amp;pqid=@Model.PQId&amp;leadsourceid=@Model.ESEMICampaign.LeadSourceId&amp;versionid=@Model.ESEMICampaign.VersionId&amp;url=@Model.ESEMICampaign.CurrentPageUrl&amp;platformid=@Model.ESEMICampaign.PlatformId&amp;bike=@Model.BikeName&amp;loanamount=@Model.ESEMICampaign.LoanAmount&amp;dealerName=@Model.ESEMICampaign.Organization&amp;sendLeadSMSCustomer=@Convert.ToString(Model.ESEMICampaign.SendLeadSMSCustomer)">@(Model.IsMobile ? Model.ESEMICampaign.EMIButtonTextMobile : Model.ESEMICampaign.EMIButtonTextDesktop)</a>
                }
                else
                {
                    <a id="btnEmiQuote" href="javascript:void(0)" class="btn btn-white emi-quote-btn leadcapturebtn bw-ga" data-cat="Model_Page" data-act="Get_EMI_Quote_Clicked" data-lab="@Model.BikeName.Replace(" ", "_")" rel="nofollow" data-mfgcampid="@Model.ESEMICampaign.CampaignId" data-item-id="@Model.ESEMICampaign.DealerId" data-item-area="@Model.ESEMICampaign.Area" data-leadsourceid="@Model.ESEMICampaign.LeadSourceId" data-pqsourceid="@Model.ESEMICampaign.PqSourceId" data-item-message="@String.Format(Model.ESEMICampaign.PopupSuccessMessage, Model.ESEMICampaign.Organization)" data-item-heading="@Model.ESEMICampaign.PopupHeading" data-item-description="@Model.ESEMICampaign.PopupDescription" data-ispincodrequired="@Model.ESEMICampaign.PincodeRequired" data-dealersrequired="@Model.ESEMICampaign.DealerRequired" data-item-name="@(String.Format("Authorised {0} Dealer", Model.ESEMICampaign.Organization))" data-item-organization="@Model.ESEMICampaign.Organization" data-isemailrequired="@Model.ESEMICampaign.EmailRequired" data-issendleadsmscustomer="@Model.ESEMICampaign.SendLeadSMSCustomer">@(Model.IsMobile ? Model.ESEMICampaign.EMIButtonTextMobile : Model.ESEMICampaign.EMIButtonTextDesktop)</a>
                }
            </div>
        }
        else
        {
            if (Model.IsPremiumDealer)
            {
                <div class="emi-quote__btn-block">
                    <a id="btnEmiQuote" class="btn btn-white emi-quote-btn leadcapturebtn bw-ga" data-pqsourceid="@Convert.ToUInt16(Bikewale.Entities.PriceQuote.PQSourceEnum.Mobile_ModelPage)" data-leadsourceid="@(Convert.ToInt32(Model.PremiumDealerLeadSourceId))" data-item-registerpq="false" data-item-id="@Model.DealerDetails.DealerId" data-item-name="@Model.DealerDetails.Organization" data-item-organization="@Model.DealerDetails.Organization" data-item-area="@Model.DealerDetails.objArea.AreaName" data-cat="Model_Page" data-act="Get_EMI_Quote_Clicked" data-lab="@Model.BikeName.Replace(" ", "_")">Get EMI quote</a>
                </div>
            }
        }
    </div>
</div>
