@model Bikewale.Models.NewsDetailPageVM
@using Bikewale.Utility
<!doctype html>
<html amp lang="en">
    <head>
        <meta charset="utf-8">
        <title>@Model.ArticleDetails.Title - Bikewale News</title>
        @{
            var swLocation = BWConfiguration.Instance.AMPDomainForSW;
            var swLink = (!String.IsNullOrEmpty(swLocation) ? swLocation : "") + "/m/news/sw.js";
            var swInstallerLink = (!String.IsNullOrEmpty(swLocation) ? swLocation : "") + "/m/news/sw_installer.html";
            
        }
        <link rel="canonical" href="@Model.PageMetaTags.CanonicalUrl" />
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <style amp-custom>
			.article,.article-head{box-shadow:2px 2px 2px #dcdcdc}blockquote,body,div,fieldset,h1,h2,h3,h4,h5,h6,label,legend,li,ol,p,ul{margin:0;padding:0}ul{list-style:none}body{font-family:'Open Sans',Serif;font-size:13px;color:#4d5057;background:#f5f5f5}h1{font-size:18px;font-weight:700;color:#2a2a2a}a{color:#0288d1;text-decoration:none}.block{display:block}.article-stats-content,.vertical-middle{display:inline-block;vertical-align:middle}
            .margin-0auto {margin: 0 auto;}.margin-bottom10{margin-bottom:10px}.left-float{float:left}.right-float{float:right}.clear{clear:both}header{background:#333;padding:13px 10px;height:24px}.article{width:100%;margin:0 auto;background:#fff}.article-head{padding:15px 20px}.article-stats-list li{width:50%;float:left}.article-stats-content{font-size:12px;color:#82888b;width:90%;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.article-body{padding:20px 20px 15px;margin-bottom:10px}.footer-top,footer{padding-bottom:15px}.article-content p{font-size:14px;line-height:1.5;text-align:justify;margin-top:10px;margin-bottom:10px}.share-story-title{font-size:14px;color:#82888b}.social-wrapper{margin-top:10px;margin-bottom:15px;overflow:hidden}.social-wrapper li{width:38px;height:24px;float:left;margin-right:10px;text-align:center}.social-wrapper a{display:block;height:24px;border-radius:2px}.whatsapp-container{background:linear-gradient(to bottom,#49c633,#40ad2c)}.fb-container{background:linear-gradient(to bottom,#5171ba,#3b599c)}.tweet-container{background:linear-gradient(to bottom,#28c0ff,#1babe7)}.gplus-container{background:linear-gradient(to bottom,#ff533f,#dd2a16)}.next-prev-article-list{border-top:1px solid #e2e2e2;padding-top:10px}.next-prev-article-list li{width:46%;float:left;padding-left:10px}.next-prev-article-list li:first-child{padding-left:0;padding-right:10px;border-right:1px solid #e2e2e2}.next-prev-article-list a{color:#4d5057;display:block}.article-item-box{width:85%}.next-prev-arrow-label{font-size:12px;color:#a2a2a2}footer,footer a{color:#fff}.next-prev-article-title{display:block;font-weight:700;font-size:14px;text-decoration:none;height:40px;overflow:hidden}.footer-middle li,.footer-top li{display:inline-block}footer{background:#323434;padding-top:30px;text-align:center}.font11{font-size:11px}.footer-top li{width:32%;height:26px;vertical-align:middle}.footer-middle{border-top:1px solid rgba(183,183,183,.2);border-bottom:1px solid rgba(183,183,183,.2);padding-top:15px;padding-bottom:20px;margin-bottom:10px}.footer-middle li a{display:block;padding:10px}.footer-bottom{padding-right:10px;padding-left:10px}.cw-logo-label{font-size:8px;color:#cfcfcf;margin-left:13px;position:relative;top:-10px}#nav{width:275px;background:#fff;padding-top:8px;box-shadow:-3px 0 10px 0 #191818}.navUL .nav-accordion-header,.navUL li a{color:#1a1a1a;font-size:14px;text-decoration:none;display:block;padding:13px 0 13px 15px;font-weight:400;position:relative}.nav-accordion-header{background:#fff;border:none;padding:0}#nav .nestedUL{border-top:1px solid #ebecec;border-bottom:1px solid #ebecec;background:#f6f7f7}.navUL .nestedUL a{padding-left:51px;border-left:4px solid transparent}.nestedUL a:hover{border-left:4px solid #ef3030;background:#fff;font-weight:700}amp-accordion>section[expanded] .nav-accordion-header{font-weight:700}amp-accordion>section[expanded] .fa-angle-down{transform:rotateZ(180deg)}.bwmsprite{background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwmsprite.png?26Dec2016) no-repeat;display:inline-block}.bw-logo{background-position:-31px 0;width:84px;height:24px;vertical-align:middle}.nav-icon{background-position:0 0;width:27px;height:15px;cursor:pointer;vertical-align:middle;margin-right:10px}.home-icon,.newBikes-icon,.scooter-icon,.reviews-icon,.news-icon,.sellBikes-icon,.usedBikes-icon{width:24px;height:22px;margin-right:10px;vertical-align:middle}.home-icon{background-position:0 -40px}.newBikes-icon{background:url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/bike-22x13.png') no-repeat center;display:inline-block}.scooter-icon{background:url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/scooter-22x15.png') no-repeat center;display:inline-block}.usedBikes-icon{background-position:0 -178px}.sellBikes-icon{background-position:0 -155px}.reviews-icon{background:url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/review-24x16.png') no-repeat center;display:inline-block}.news-icon{background-position:0 -132px}.track-day{width:24px;height:22px;background-position:-188px -498px;position:relative;top:4px;margin-right:10px}.fa-angle-down{width:12px;height:7px;background-position:-155px -87px;position:absolute;top:22px;right:10px;transition:transform .3s}.author-grey-sm-icon,.calender-grey-sm-icon{width:10px;height:11px;margin-right:2px;vertical-align:middle}.calender-grey-sm-icon{background-position:-48px -486px}.author-grey-sm-icon{background-position:-66px -486px}.next-arrow,.prev-arrow{width:14px;height:18px;vertical-align:middle}.prev-arrow{background-position:-159px -219px}.next-arrow{background-position:-185px -219px}.bw-footer-icon,.ct-footer-icon,.cw-footer-icon{height:20px}.bw-footer-icon{width:73px;background-position:0 -547px}.cw-footer-icon{width:69px;background-position:-78px -517px}.ct-footer-icon{width:93px;background-position:-78px -536px}.google-play-logo{background-position:0 -344px;width:114px;height:42px;margin-top:10px;margin-bottom:10px}.social-icons-sprite{background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/social-icons-sprite.png) no-repeat;display:inline-block}.fb-icon,.gplus-icon,.tweet-icon,.whatsapp-icon{height:14px;position:relative;top:4px}.whatsapp-icon{width:12px;background-position:0 0}.fb-icon{width:8px;background-position:-22px 0}.tweet-icon{width:16px;background-position:-39px 0}.gplus-icon{width:14px;background-position:-65px 0}
            button{border:0;margin:0;}button::-webkit-focus-inner{border:0;padding:0;outline:none;}button:focus{outline:none;}
            amp-social-share[type="whatsapp"] {background: #34af23 url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/whatsapp-white.png) no-repeat;}
            .article.no-content{padding:10px;min-height:150px}.not-found{width:90%}.not-found ul{list-style-type:disc}.margin-top15{margin-top:15px}.margin-top5{margin-top:5px}.margin-left20{margin-left:20px}.margin-top10{margin-top:10px;}.model-slug-content{padding:10px 5px 0;border: 1px solid #a0d9e1;margin-bottom:10px;background:#fff;}.model-slug-content .item-image-content{width:68px;height:38px;margin-right:5px;}.item-image-content img{width:100%}.model-slug-content .bike-details-block{font-size:14px;width:70%}.item-more-details-list li{float:left;margin:0 3px 10px}.item-more-details-list a{display:block;padding:0 7px 2px;color:#787878;background:rgba(245,245,245,.9);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px}.item-more-details-list a:hover{text-decoration:none}.item-more-details-list .icon-label{font-size:12px;display:inline-block;vertical-align:middle;line-height:12px}.generic-sprite{background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/generic-sprite.png) no-repeat;display:inline-block}.news-sm,.photos-sm,.reviews-sm,.specs-sm,.videos-sm{width:14px;height:14px;vertical-align:middle;position:relative;top:1px;opacity:.6;-moz-opacity:.6;-khtml-opacity:.6}.reviews-sm{background-position:-84px -3px}.news-sm{background-position:-102px -3px}.videos-sm{background-position:-121px -3px}.specs-sm{background-position:-140px -3px}.photos-sm{width:16px;background-position:0 -486px}
.inline-block {display: inline-block;vertical-align: middle;}.text-truncate {width: 100%;text-align: left;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.text-bold {font-weight: bold;}.block {display: block;}.text-default {color: #4d5057;}.font14{font-size:14px;}.font12{font-size: 12px;}.inr-xsm-icon {width: 9px;height: 12px;background-position: -38px -36px;}.text-grey {color: #787878;}.key-specs-list li:last-child:before{content:none}
        </style>
        @if (!string.IsNullOrEmpty(Model.PageMetaTags.SchemaJSON))
        {
            <script type="application/ld+json">
                @Html.Raw(Model.PageMetaTags.SchemaJSON)
            "articleBody" : "@ViewBag.SanitizedNewsContent",
            </script>
        }
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
        <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
        
        <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
        
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
        <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '904915516356416');
    fbq('track', 'PageView');
    </script>
    <noscript>
            <img height="1" width="1"
                 src="https://www.facebook.com/tr?id=904915516356416&ev=PageView
    &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    </head>
    <body>
        <amp-install-serviceworker src="@swLink" data-iframe-src="@swInstallerLink" layout="nodisplay"></amp-install-serviceworker>
        <amp-sidebar id="nav" layout="nodisplay" side="left">
            <ul class="navUL">
                <li>
                    <h2>
                        <a href="https://www.bikewale.com/m/" target="_top">
                            <span class="bwmsprite home-icon"></span>
                            <span class="vertical-middle">Home</span>
                        </a>
                    </h2>
                </li>
                <li>
                    <amp-accordion>
                        <section>
                            <h2 class="nav-accordion-header">
                                <span class="newBikes-icon"></span>
                                <span class="vertical-middle">New Bikes</span>
                                <span class="bwmsprite fa-angle-down"></span>
                            </h2>
                            <ul class="nestedUL">
                                <li><a href="https://www.bikewale.com/m/new-bikes-in-india/" target="_top">Find New Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/comparebikes/" target="_top">Compare Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/pricequote/" target="_top">Check On-Road Price</a></li>
                                <li><a href="https://www.bikewale.com/m/dealer-showrooms/" target="_top">Locate Dealer</a></li>
                                <li><a href="https://www.bikewale.com/m/service-centers/" target="_top">Locate Service Center</a></li>
                                <li><a href="https://www.bikewale.com/m/upcoming-bikes/" target="_top">Upcoming Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/new-bike-launches/" target="_top">New Launches</a></li>
                                <li><a href="https://www.bikewale.com/m/bikebooking/" target="_top">Book Your Bike</a></li>
                            </ul>
                        </section>
                    </amp-accordion>
                </li>
                <li>
                    <amp-accordion>
                        <section>
                            <h2 class="nav-accordion-header">
                                <span class="scooter-icon"></span>
                                <span class="vertical-middle">New Scooters</span>
                                <span class="bwmsprite fa-angle-down"></span>
                            </h2>
                            <ul class="nestedUL">
                                <li><a href="https://www.bikewale.com/m/honda-scooters/" target="_top">Honda Scooters</a></li>
                                <li><a href="https://www.bikewale.com/m/hero-scooters/" target="_top">Hero Scooters</a></li>
                                <li><a href="https://www.bikewale.com/m/tvs-scooters/" target="_top">TVS Scooters</a></li>
                                <li><a href="https://www.bikewale.com/m/yamaha-scooters/" target="_top">Yamaha Scooters</a></li>
                                <li><a href="https://www.bikewale.com/m/scooters/" target="_top">All Scooters</a></li>
                            </ul>
                        </section>
                    </amp-accordion>
                </li>
                <li>
                    <amp-accordion>
                        <section>
                            <h2 class="nav-accordion-header">
                                <span class="bwmsprite usedBikes-icon"></span>
                                <span class="vertical-middle">Buy & Sell Used Bikes</span>
                                <span class="bwmsprite fa-angle-down"></span>
                            </h2>
                            <ul class="nestedUL">
                                <li><a href="https://www.bikewale.com/m/used/" target="_top">Find Used Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/used/bikes-in-india/" target="_top">All Used Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/used/sell/" target="_top">Sell Your Bike</a></li>
                            </ul>
                        </section>
                    </amp-accordion>
                </li>
                <li>
                    <h2>
                        <a href="https://www.bikewale.com/m/reviews/" target="_top">
                            <span class="reviews-icon"></span>
                            <span class="vertical-middle">Reviews</span>
                        </a>
                    </h2>
                </li>
                <li>
                    <amp-accordion>
                        <section>
                            <h2 class="nav-accordion-header">
                                <span class="bwmsprite news-icon"></span>
                                <span class="vertical-middle">News, Videos &amp; Tips</span>
                                <span class="bwmsprite fa-angle-down"></span>
                            </h2>
                            <ul class="nestedUL">
                                <li><a href="https://www.bikewale.com/m/news/" target="_top">News</a></li>
                                <li><a href="https://www.bikewale.com/m/expert-reviews/" target="_top">Expert Reviews</a></li>
                                <li><a href="https://www.bikewale.com/m/features/" target="_top">Features</a></li>
                                <li><a href="https://www.bikewale.com/m/bike-care/" target="_top">Bike Care</a></li>
                                <li><a href="https://www.bikewale.com/m/bike-videos/" target="_top">Videos</a></li>
                                <li><a href="https://www.bikewale.com/m/images/" target="_top">Images</a></li>
                            </ul>
                        </section>
                    </amp-accordion>
                </li>
                <li>
                    <h2>
                        <a href="https://www.bikewale.com/m/trackday2016/" target="_top">
                            <span class="bwmsprite track-day"></span>
                            <span class="vertical-middle">Track Day 2016</span>
                        </a>
                    </h2>
                </li>
                
            </ul>
        </amp-sidebar>

        <header>
            <button class="bwmsprite nav-icon" on="tap:nav.open"></button>
            <a href="https://www.bikewale.com/m/" target="_top" title="BikeWale" class="bwmsprite bw-logo"></a>
        </header>
         @RenderBody()
        <div class="margin-bottom10">
            <amp-ad width=320 height=50 type="doubleclick" layout=responsive data-slot="/1017752/Bikewale_Mobile_NewBikes_Bottom_320x50"></amp-ad>
        </div>
        <footer>
            <div class="footer-top">
                <ul>
                    <li>
                        <a href="https://www.bikewale.com/m/" target="_top" title="BikeWale" class="bwmsprite bw-footer-icon"></a>
                    </li>
                    <li>
                        <a href="https://www.carwale.com/m/" target="_top" title="CarWale" class="bwmsprite cw-footer-icon"></a>
                        <p class="cw-logo-label">ask the experts</p>
                    </li>
                    <li>
                        <a href="https://m.cartrade.com/" target="_top" title="CarTrade" class="bwmsprite ct-footer-icon"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-middle">
                <ul>
                    <li><a href="https://www.bikewale.com/m/contactus.aspx" target="_top" rel="nofollow">Contact Us</a></li>
                    <li><a href="https://www.bikewale.com/m/advertisewithus.aspx" target="_top" rel="nofollow">Advertise with Us</a></li>
                </ul>
                <p class="margin-bottom10">Download Mobile App</p>
                <a class="bwmsprite google-play-logo block margin-0auto" href="https://play.google.com/store/apps/details?id=com.bikewale.app&amp;referrer=utm_source%3DBikeWaleMobileWebsite%26utm_medium%3DFooter%26utm_campaign%3DBikeWale%2520MobileWebsite%2520Footer" target="_blank" rel="nofollow">
                </a>
                <a href="#" target="_top" class="block">View Mobile Site</a>
            </div>
            <div class="footer-bottom font11">
                <div class="left-float">&copy; BikeWale India</div>
                <div class="right-float">
                    <a href="https://www.bikewale.com/visitoragreement.aspx" target="_top" rel="nofollow">Visitor Agreement</a> &amp;
                    <a href="https://www.bikewale.com/privacypolicy.aspx" target="_top" rel="nofollow">Privacy Policy</a>
                </div>
                <div class="clear"></div>
            </div>
        </footer>

        <amp-analytics type="googleanalytics" id="google-analytics">
            <script type="application/json">
            {
                "vars": {
                    "account": "UA-34771801-1"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview",
                        "vars": {
                            "title": "@Model.ArticleDetails.Title"
                        }
                    }
                }
            }
            </script>
        </amp-analytics>

    </body>
</html>
