@model Bikewale.Models.ModelBase
<!doctype html>
<html amp lang="en">
<head @(Model != null && Model.PageMetaTags != null ? "prefix=og:http://ogp.me/ns#" : "")>
    <meta charset="utf-8">
    @if (Model != null && Model.PageMetaTags != null)
    {
        Model.PageMetaTags.EnableOG = true;

        if (!String.IsNullOrEmpty(Model.PageMetaTags.Title))
        {
            <title itemprop="name">@Html.Raw(Model.PageMetaTags.Title)</title>
        }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.Description))
        {
            <meta itemprop="description" name="description" content="@Model.PageMetaTags.Description" />
        }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.Keywords))
        {
            <meta name="keywords" content="@Model.PageMetaTags.Keywords" />
        }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.CanonicalUrl))
        {
            <link rel="canonical" href="@Model.PageMetaTags.CanonicalUrl" />
        }

    }
    @if (Model.PageMetaTags.EnableOG)
    {
        <meta property="og:title" content="@Html.Raw(Model.PageMetaTags.Title)" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="@Html.Raw(Model.PageMetaTags.Description)" />
        <meta itemprop="image" property="og:image" content="@(string.IsNullOrEmpty(Model.PageMetaTags.OGImage) ? Bikewale.Utility.BWConfiguration.Instance.BikeWaleLogo : Model.PageMetaTags.OGImage)" />
        if (!String.IsNullOrEmpty(Model.PageMetaTags.CanonicalUrl))
        {
            <meta property="og:url" content="@Model.PageMetaTags.CanonicalUrl" />
        }
    }
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="amp-google-client-id-api" content="googleanalytics">
    <link rel="SHORTCUT ICON" href="https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/favicon.png" type="image/png" />

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body {
                font-family: 'Open Sans',Serif;
                font-size: 13px;
                color: #4d5057;
                background: #f5f5f5;
            }
            ul {
                list-style: none;
            }
            li {
                display: list-item;
                text-align: -webkit-match-parent;
            }
            a {
                color: #0288d1;
                text-decoration: none;
            }
            .margin-center {
                margin: 0 auto;
            }
            .block {
                display:block;
            }
            button {
                border: 0;
                margin: 0;
            }
            .margin-center {
                margin:0 auto;
            }
            blockquote, body, div, fieldset, h1, h2, h3, h4, h5, h6, label, legend, li, ol, p, ul {
                margin: 0;
                padding: 0;
            }
            header {
                background: #333;
                padding: 13px 10px;
                height: 50px;
            }
            .bwmsprite {
                background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwmsprite-v4.png?v29Jun20171498739734721) no-repeat;
                display: inline-block;
            }
            .nav-icon {
                background-position: 0 0;
                width: 27px;
                height: 15px;
                cursor: pointer;
                vertical-align: middle;
                margin-right: 10px;
            }
            .bw-logo {

                width: 84px;
                height: 24px;
                vertical-align: middle;
                background-position: -31px 0;
                position: absolute;
                left: 52px;
            }
            .bw-footer-icon, .ct-footer-icon, .cw-footer-icon {
                height: 20px;
            }

            .bw-footer-icon {
                width: 73px;
                background-position: 0 -547px;
            }

            .cw-footer-icon {
                width: 69px;
                background-position: -78px -515px;
            }

            .ct-footer-icon {
                width: 93px;
                background-position: -78px -533px;
            }

            .footer-top{
              padding-top: 15px;
              padding-bottom: 10px;
            }
            .footer {
                padding-bottom: 15px;
            }

            .footer-popular-brands {
                padding-top: 15px;
                padding-bottom: 10px;
            }
            .footer-popular-brands li{
                display: inline-block;
            }
            .footer-popular-brands li a{
                padding: 0px 10px 0px 10px;
            }
            footer, footer a {
                color: #fff;
            }

            .footer-middle li, .footer-top li {
                display: inline-block;
            }

            footer {
                background: #323434;
                padding-top: 5px;
                text-align: center;
            }

            .footer-top li {
                width: 32%;
                height: 26px;
                vertical-align: middle;
            }

            .footer-middle {
                border-top: 1px solid rgba(183,183,183,.2);
                border-bottom: 1px solid rgba(183,183,183,.2);
                padding-bottom: 20px;
                margin-bottom: 10px;
            }

                .footer-middle li a {
                    display: block;
                    padding: 10px;
                }

            .footer-bottom {
                padding-right: 10px;
                padding-left: 10px;
            }

            .cw-logo-label {
                font-size: 8px;
                color: #cfcfcf;
                margin-left: 13px;
                position: relative;
                top: -10px;
            }
            .left-float {
                float: left;
            }

            .right-float {
                float: right;
            }

            .clear {
                clear: both;
            }

            #nav {
                width: 275px;
                background: #fff;
                box-shadow: -3px 0 10px 0 #191818;
            }
            .navUL .nav-accordion-header, .navUL li a {
			color: #1a1a1a;
			font-size: 14px;
			text-decoration: none;
			display: block;
			padding: 13px 0 13px 15px;
			font-weight: 400;
			position: relative;
		}

		.nav-accordion-header {
			background: #fff;
			border: none;
			padding: 0;
		}

		#nav .nestedUL {
			border-top: 1px solid #ebecec;
			border-bottom: 1px solid #ebecec;
			background: #f6f7f7;
		}

		.navUL .nestedUL a {
			padding-left: 51px;
			border-left: 4px solid transparent;
		}

		.nestedUL a:hover {
			border-left: 4px solid #ef3030;
			background: #fff;
			font-weight: 700;
		}

		amp-accordion > section[expanded] .nav-accordion-header {
			font-weight: 700;
		}

		amp-accordion > section[expanded] .fa-angle-down {
			transform: rotateZ(180deg);
		}

		.home-icon, .newBikes-icon, .scooter-icon, .reviews-icon, .news-icon, .sellBikes-icon, .usedBikes-icon {
			width: 24px;
			height: 22px;
			margin-right: 10px;
			vertical-align: middle;
		}

		.home-icon {
			background-position: 0 -40px;
		}

		.newBikes-icon {
			background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/bike-22x13.png') no-repeat center;
			display: inline-block;
		}

		.scooter-icon {
			background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/scooter-22x15.png') no-repeat center;
			display: inline-block;
		}

		.usedBikes-icon {
			background-position: 0 -178px;
		}

		.sellBikes-icon {
			background-position: 0 -155px;
		}

		.reviews-icon {
			background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/review-24x16.png') no-repeat center;
			display: inline-block;
		}

		.news-icon {
			background-position: 0 -132px;
		}

		.track-day {
			width: 24px;
			height: 22px;
			background-position: -188px -498px;
			position: relative;
			top: 4px;
			margin-right: 10px;
		}

		.fa-angle-down {
			width: 12px;
			height: 7px;
			background-position: -155px -87px;
			position: absolute;
			top: 22px;
			right: 10px;
			transition: transform .3s;
		}
		.google-play-logo {
			background-position: 0 -344px;
			width: 114px;
			height: 42px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.new-flag {
			width: 34px;
			height: 16px;
			background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/new-flag.png') no-repeat;
			display: inline-block;
			position: relative;
			top: 2px;
			margin-left: 5px;
		}

		/* auto expo navigation start */
		.auto-expo-nav {
			padding: 15px;
			background: rgba(14, 58, 80, 1);
			background: -moz-linear-gradient(left, rgba(14, 58, 80, 1) 0%, rgba(24, 113, 145, 1) 100%);
			background: -webkit-linear-gradient(left, rgba(14, 58, 80, 1) 0%, rgba(24, 113, 145, 1) 100%);
			background: linear-gradient(to right, rgba(14, 58, 80, 1) 0%, rgba(24, 113, 145, 1) 100%);
			display: block;
			cursor: pointer;
		}

		.auto-expo-nav__logo {
			width: 61px;
			height: 32px;
			background-image: url('https://imgd.aeplcdn.com/0x0/cw/es/auto-expo-2018/auto-expo-white.svg?v1');
			background-repeat: no-repeat;
			display: inline-block;
			position: relative;
		}

		.auto-expo-nav__logo:after {
			content: '';
			position: absolute;
			top: 16px;
			right: -23px;
			width: 15px;
			height: 10px;
			display: inline-block;
			background: url('https://imgd.aeplcdn.com/0x0/cw/static/icons/svg/uparrow.svg') no-repeat 50%;
			background-size: cover;
			transform: rotate(90deg);
			opacity: 0.6;
		}

		.auto-expo-nav__title {
			width: 65%;
			display: inline-block;
		}

		.auto-expo-nav__title--main,
		.auto-expo-nav__title--sub {
			color: #fff;
		}

		.auto-expo-nav__title--sub {
			text-transform: uppercase;
			font-size: 11px;
			opacity: 0.6;
			letter-spacing: 1px;
		}

		.auto-expo-nav__title--main {
			font-size: 14px;
		}
		/* auto expo navigation end */

		.dealer-campaign-wrapper {
			background: #fff;
			-webkit-box-shadow: 2px 2px 2px #dcdcdc;
			box-shadow: 2px 2px 2px #dcdcdc;
		}


        @Html.Raw(Model.Amp_Page_CSS)
    </style>

    @if (Model.PageMetaTags != null && !String.IsNullOrEmpty(Model.PageMetaTags.SchemaJSON))
    {
        <script type="application/ld+json">
            @(Html.Raw(Model.PageMetaTags.SchemaJSON))
        </script>
    }
    @if (Model.PageMetaTags != null && !String.IsNullOrEmpty(Model.PageMetaTags.PageSchemaJSON))
    {
        <script type="application/ld+json">
            @(Html.Raw(Model.PageMetaTags.PageSchemaJSON))
        </script>
    }
    @*@if (Model.Page != null)
        {
            <amp-state id="gaObj">
                <script type="application/json">
                    {
                    "id" : @((int)Model.Page),
                    "name": "@Model.Page"
                    }
                </script>
            </amp-state>
        }*@


    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    @if (Model.AmpJsTags != null)
    {
        if (Model.AmpJsTags.IsSidebar)
        {
            <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsAccordion)
        {
            <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsIframe)
        {
            <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsAd)
        {
            <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsSocialShare)
        {
            <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsCarousel)
        {
            <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsBind)
        {
            <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsSelector)
        {
            <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
        }
        if (Model.AmpJsTags.IsYoutube)
        {
            <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        }

    }
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
   
    

</head>
<body>
    <amp-pixel src="https://www.facebook.com/tr?id=904915516356416&ev=PageView&noscript=1"
               layout="nodisplay"></amp-pixel>
    <amp-sidebar id="nav" layout="nodisplay" side="left">
        <ul class="navUL padding-top10">
            <li>
                <h2>
                    <a href="https://www.bikewale.com/m/" target="_top">
                        <span class="bwmsprite home-icon"></span>
                        <span class="vertical-middle">Home</span>
                    </a>
                </h2>
            </li>
            <li>
                <amp-accordion>
                    <section>
                        <h2 class="nav-accordion-header">
                            <span class="newBikes-icon"></span>
                            <span class="vertical-middle">New Bikes</span>
                            <span class="bwmsprite fa-angle-down"></span>
                        </h2>
                        <ul class="nestedUL">
                            <li><a href="https://www.bikewale.com/m/new-bikes-in-india/" target="_top">Find New Bikes</a></li>
                            <li><a href="https://www.bikewale.com/m/comparebikes/" target="_top">Compare Bikes</a></li>
                            <li><a href="https://www.bikewale.com/m/pricequote/" target="_top">Check On-Road Price</a></li>
                            <li><a href="https://www.bikewale.com/m/dealer-showrooms/" target="_top">Locate Dealer</a></li>
                            <li><a href="https://www.bikewale.com/m/service-centers/" target="_top">Locate Service Center</a></li>
                            <li><a href="https://www.bikewale.com/m/upcoming-bikes/" target="_top">Upcoming Bikes</a></li>
                            <li><a href="https://www.bikewale.com/m/new-bike-launches/" target="_top">New Launches</a></li>
                            <li><a href="https://www.bikewale.com/m/bikebooking/" target="_top">Book Your Bike</a></li>
                        </ul>
                    </section>
                </amp-accordion>
            </li>
            <li>
                <amp-accordion>
                    <section>
                        <h2 class="nav-accordion-header">
                            <span class="scooter-icon"></span>
                            <span class="vertical-middle">New Scooters</span>
                            <span class="bwmsprite fa-angle-down"></span>
                        </h2>
                        <ul class="nestedUL">
                            <li><a href="https://www.bikewale.com/m/honda-scooters/" target="_top">Honda Scooters</a></li>
                            <li><a href="https://www.bikewale.com/m/hero-scooters/" target="_top">Hero Scooters</a></li>
                            <li><a href="https://www.bikewale.com/m/tvs-scooters/" target="_top">TVS Scooters</a></li>
                            <li><a href="https://www.bikewale.com/m/yamaha-scooters/" target="_top">Yamaha Scooters</a></li>
                            <li><a href="https://www.bikewale.com/m/scooters/" target="_top">All Scooters</a></li>
                        </ul>
                    </section>
                </amp-accordion>
            </li>
            <li>
                <amp-accordion>
                    <section>
                        <h2 class="nav-accordion-header">
                            <span class="bwmsprite usedBikes-icon"></span>
                            <span class="vertical-middle">Buy & Sell Used Bikes</span>
                            <span class="bwmsprite fa-angle-down"></span>
                        </h2>
                        <ul class="nestedUL">
                            <li><a href="https://www.bikewale.com/m/used/" target="_top">Find Used Bikes</a></li>
                            <li><a href="https://www.bikewale.com/m/used/bikes-in-india/" target="_top">All Used Bikes</a></li>
                            <li><a href="https://www.bikewale.com/m/used/sell/" target="_top">Sell Your Bike</a></li>
                        </ul>
                    </section>
                </amp-accordion>
            </li>
            <li>
                <h2>
                    <a href="https://www.bikewale.com/m/reviews/" target="_top">
                        <span class="reviews-icon"></span>
                        <span class="vertical-middle">Reviews</span>
                    </a>
                </h2>
            </li>
            <li>
                <amp-accordion>
                    <section>
                        <h2 class="nav-accordion-header">
                            <span class="bwmsprite news-icon"></span>
                            <span class="vertical-middle">News, Videos &amp; Tips</span>
                            <span class="bwmsprite fa-angle-down"></span>
                        </h2>
                        <ul class="nestedUL">
                            <li><a href="https://www.bikewale.com/m/news/" target="_top">News</a></li>
                            <li><a href="https://www.bikewale.com/m/expert-reviews/" target="_top">Expert Reviews</a></li>
                            <li><a href="https://www.bikewale.com/m/features/" target="_top">Features</a></li>
                            <li><a href="https://www.bikewale.com/m/bike-care/" target="_top">Bike Care</a></li>
                            <li><a href="https://www.bikewale.com/m/bike-videos/" target="_top">Videos</a></li>
                            <li><a href="https://www.bikewale.com/m/images/" target="_top">Images</a></li>
                        </ul>
                    </section>
                </amp-accordion>
            </li>
            <li>
                <h2>
                    <a href="https://www.bikewale.com/featured/trackday-2018/" target="_top" class ="track-day-nav-ga">
                        <span class="bwmsprite track-day"></span>
                        <span class="vertical-middle">Track Day 2018</span>
						<span class="new-flag"></span>
                    </a>
                </h2>
            </li>

        </ul>
    </amp-sidebar>

    <amp-analytics type="googleanalytics">
        <script type="application/json">
            {
                "vars": {
                    "account": "UA-34771801-1"
                },
                "extraUrlParams": {
                    "pageSourceType": "AMP"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview",
                        "vars": {
                            "title": "@Html.Raw(Model.PageMetaTags.Title)"
                        }
                    },
                    "trackEvent": {
                        "selector": ".track-day-nav-ga",
                        "on": "click",
                        "request": "event",
                        "vars": {
                            "eventCategory": "@(Model.Page)_AMP",
                            "eventAction": "Hamburger_Menu_Item_Click",
                            "eventLabel":"Track Day 2018"
                        }
                    }
                }
            }
        </script>
    </amp-analytics>


    <header>
        <button class="bwmsprite nav-icon" on="tap:nav.open"></button>
        <a href="https://www.bikewale.com/m/" target="_top" title="BikeWale" class="bwmsprite bw-logo"></a>
    </header>
    @if (Model.AdTags != null && Model.AdTags.Ad_320x50)
    {
        <div class="margin-bottom10 margin-top15">
            <amp-ad width=320 height=50 type="doubleclick" layout="responsive" data-slot="@string.Format("{0}_Top_320x50",Model.AdTags.AdPath)"></amp-ad>
        </div>
    }


    @RenderBody()

    @if (Model.BreadcrumbList != null && Model.BreadcrumbList.BreadcrumListItem != null && Model.BreadcrumbList.BreadcrumListItem.Any())
    {
        <section>
            <div class="breadcrumb">
                <span class="breadcrumb-title">You are here:</span>
                <ul>
                    @foreach (var item in Model.BreadcrumbList.BreadcrumListItem)
                    {
                        if (!string.IsNullOrEmpty(item.Item.Url))
                        {
                            <li>
                                <a class="breadcrumb-link" href="@item.Item.Url" title="@item.Item.Name">
                                    <span class="breadcrumb-link__label" itemprop="name">@item.Item.Name</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <span class="breadcrumb-link__label">@item.Item.Name</span>
                            </li>
                        }
                    }
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </section>
    }

    @if (Model.AdTags != null && Model.AdTags.Ad_Bot_320x50)
    {
        <div class="margin-bottom10 margin-top15">
            <amp-ad width=320 height=50 type="doubleclick" layout=responsive data-slot=@string.Format("{0}_Bottom_320x50",Model.AdTags.AdPath)></amp-ad>
        </div>
    }


    @if (Model.AdTags != null && Model.AdTags.Ad300x250_Bottom)
    {
        <div class="margin-bottom10 margin-top15">
            <amp-ad width=300 height=250 type="doubleclick" layout="responsive" data-slot=@string.Format("{0}_Bottom_300x250", Model.AdTags.AdPath)></amp-ad>
        </div>
    }

    <footer>
        <div class="footer-top padding-bottom15">
            <ul>
                <li>
                    <a href="https://www.bikewale.com/m/" target="_top" title="BikeWale" class="bwmsprite bw-footer-icon"></a>
                </li>
                <li>
                    <a href="https://www.carwale.com/m/" target="_top" title="CarWale" class="bwmsprite cw-footer-icon"></a>
                    <p class="cw-logo-label">ask the experts</p>
                </li>
                <li>
                    <a href="https://m.cartrade.com/" target="_top" title="CarTrade" class="bwmsprite ct-footer-icon"></a>
                </li>
            </ul>
        </div>
        <div class="footer-middle">
            <ul>
                <li><a href="https://www.bikewale.com/m/contactus.aspx" target="_top" rel="nofollow">Contact Us</a></li>
                <li><a href="https://www.bikewale.com/m/advertisewithus.aspx" target="_top" rel="nofollow">Advertise with Us</a></li>
            </ul>
            <p class="font13 text-white margin-bottom10">Download Mobile App</p>
            <a class="bwmsprite google-play-logo block margin-center" href="https://play.google.com/store/apps/details?id=com.bikewale.app&amp;referrer=utm_source%3DBikeWaleMobileWebsite%26utm_medium%3DFooter%26utm_campaign%3DBikeWale%2520MobileWebsite%2520Footer" target="_blank" rel="nofollow">
            </a>
            <a href="#" target="_top" class="block">View Mobile Site</a>
        </div>
        <div class="footer-bottom font11">
            <div class="left-float">&copy; BikeWale India</div>
            <div class="right-float">
                <a href="https://www.bikewale.com/visitoragreement.aspx" target="_top" rel="nofollow">Visitor Agreement</a> &amp;
                <a href="https://www.bikewale.com/privacypolicy.aspx" target="_top" rel="nofollow">Privacy Policy</a>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>
