@model Bikewale.Models.ModelBase
<!doctype html>
<html lang="en">
<head @(Model != null && Model.PageMetaTags != null ? "prefix=og:http://ogp.me/ns#":"")>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @if (Model != null && Model.PageMetaTags != null)
    {
        Model.PageMetaTags.EnableOG = true;

        if (!String.IsNullOrEmpty(Model.PageMetaTags.Title))
        {
            <title>@Html.Raw(Model.PageMetaTags.Title)</title>
        }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.Description))
        {
            <meta name="description" content="@Html.Raw(Model.PageMetaTags.Description)" />
        }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.Keywords))
        {
            <meta name="keywords" content="@Model.PageMetaTags.Keywords" />
        }
        if (Model.PageMetaTags.EnableOG)
        {
            <meta property="og:title" content="@Html.Raw(Model.PageMetaTags.Title)" />
            <meta property="og:type" content="website" />
            <meta property="og:description" content="@Html.Raw(Model.PageMetaTags.Description)" />
            <meta itemprop="image" property="og:image" content="@(string.IsNullOrEmpty(Model.PageMetaTags.OGImage) ? Bikewale.Utility.BWConfiguration.Instance.BikeWaleLogo : Model.PageMetaTags.OGImage)" />
            if (!String.IsNullOrEmpty(Model.PageMetaTags.CanonicalUrl))
            {
                <meta property="og:url" content="@Model.PageMetaTags.CanonicalUrl" />
            }
        }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.CanonicalUrl))
        {
            <link rel="canonical" href="@Model.PageMetaTags.CanonicalUrl" />}
        if (!String.IsNullOrEmpty(Model.PageMetaTags.PreviousPageUrl))
        {
            <link rel="prev" href="@Model.PageMetaTags.PreviousPageUrl" /> }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.NextPageUrl))
        {
            <link rel="next" href="@Model.PageMetaTags.NextPageUrl" />
        }
        if (!String.IsNullOrEmpty(Model.PageMetaTags.AmpUrl))
        {
            <link rel="amphtml" href="@Model.PageMetaTags.AmpUrl" />
        }
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="fG4Dxtv_jDDSh1jFelfDaqJcyDHn7_TCJH3mbvq6xW8" />
    <meta name="theme-color" content="#2a2a2a" />
    <link rel='stylesheet' type='text/css' href='/m/css/bwm-common-atf.css' atf-css />
    <link href="//www.googletagservices.com" rel="dns-prefetch" />
    <link href="//ad.doubleclick.net" rel="dns-prefetch" />
    <link href="//www.googleadservices.com" rel="dns-prefetch" />
    <link href="//www.bikewale.com" rel="dns-prefetch" />
    <link href="//imgd.aeplcdn.com" rel="dns-prefetch" />
    <link href="//stb.aeplcdn.com" rel="dns-prefetch" />
    <link href="//fonts.googleapis.com" rel="dns-prefetch" />
    <link href="//www.google-analytics.com" rel="dns-prefetch" />
    <link href="//bhrigu.bikewale.com" rel="dns-prefetch" />
    <link href="//tpc.googlesyndication.com" rel="dns-prefetch" />
    <link rel="SHORTCUT ICON" href="https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/favicon.png" type="image/png" />
    <script defer type="text/javascript" src="@String.Format("{0}/src/frameworks.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl, Bikewale.Utility.BWConfiguration.Instance.StaticFrameworkFileVersion)"></script>
    <script defer type="text/javascript">!function (a, b) { "use strict"; function f() { if (!d) { d = !0; for (var a = 0; a < c.length; a++) c[a].fn.call(window, c[a].ctx); c = [] } } function g() { "complete" === document.readyState && f() } a = a || "docReady", b = b || window; var c = [], d = !1, e = !1; b[a] = function (a, b) { if ("function" != typeof a) throw new TypeError("callback for docReady(fn) must be a function"); return d ? void setTimeout(function () { a(b) }, 1) : (c.push({ fn: a, ctx: b }), void ("complete" === document.readyState || !document.attachEvent && "interactive" === document.readyState ? setTimeout(f, 1) : e || (document.addEventListener ? (document.addEventListener("DOMContentLoaded", f, !1), window.addEventListener("load", f, !1)) : (document.attachEvent("onreadystatechange", g), window.attachEvent("onload", f)), e = !0))) } }("docReady", window);</script>
    @{Bikewale.Utility.BWCookies.SetBWUtmz();}
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5CSHD6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    @Html.Raw(Model.Page_ATF_CSS)
    <script type="text/javascript">
        var ga_pg_id = '0', gaObj;

    @if(Model.Page !=null)
    {
        <text>gaObj = {'id':@((int)Model.Page), 'name': '@Model.Page'};</text>
    }
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5CSHD6');

        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//script.crazyegg.com/pages/scripts/0012/9477.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
        }, 1);

        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function () {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();

        @functions{
string GetAdSlot(int slotId, string adPath, string adId)
            {
                switch (slotId)
                {
                    case 1:
                        return String.Format("googletag.defineSlot('{0}_Top_320x50', [320, 50], 'div-gpt-ad-{1}-0').addService(googletag.pubads());", adPath, adId);
                    case 2:
                        return String.Format("googletag.defineSlot('{0}_Bottom_320x50', [320, 50], 'div-gpt-ad-{1}-1').addService(googletag.pubads());", adPath, adId);
                    case 3:
                        return String.Format("googletag.defineSlot('{0}_300x250', [300, 250], 'div-gpt-ad-{1}-2').addService(googletag.pubads());", adPath, adId);
                    case 4:
                        return String.Format("googletag.defineSlot('{0}_FirstSlot_320x150', [[320, 150], [320, 50], [320, 100], [320, 425]], 'div-gpt-ad-{1}-3').addService(googletag.pubads());", adPath, adId);
                    case 5:
                        return String.Format("googletag.defineSlot('{0}_SecondSlot_320x150', [[320, 150], [320, 50], [320, 100], [320, 425]], 'div-gpt-ad-{1}-4').addService(googletag.pubads());", adPath, adId);
                    case 6:
                        return String.Format("googletag.defineSlot('{0}_Middle_320x50', [320, 50], 'div-gpt-ad-{1}-5').addService(googletag.pubads());", adPath, adId);
                    case 7:
                        return String.Format("googletag.defineSlot('{0}_ATF_320x100', [[320, 50], [320, 100]], 'div-gpt-ad-{1}-6').addService(googletag.pubads());;", adPath, adId);
                    case 8:
                        return String.Format("googletag.defineSlot('{0}_BTF_320x100', [[320, 50], [320, 100]], 'div-gpt-ad-{1}-7').addService(googletag.pubads());;", adPath, adId);
                    case 9:
                        return String.Format("googletag.defineSlot('{0}_300x100',  [300, 100], 'div-gpt-ad-{1}-8').addService(googletag.pubads());;", adPath, adId);
                    case 10:
                        return "googletag.defineSlot('/1017752/Bikewale_Mobile_Model_Comparo_320x400', [[320, 300], [320, 350], [320, 400], [320, 450], [320, 425]], 'div-gpt-ad-1495092203328-1').addService(googletag.pubads());";
                    case 11:
                        return "googletag.defineSlot('/1017752/SimilarBikes_Mobile_200x253', [200, 253], 'div-gpt-ad-1505919734321-11').addService(googletag.pubads()); ";
                    case 12:
                        return "googletag.defineSlot('/1017752/Bikewale_Mobile_PQ_200x216', [200, 216], 'div-gpt-ad-1506343636197-12').addService(googletag.pubads()); ";
                    case 13:
                        return "googletag.defineSlot('/1017752/Bikewale_BestBikes_Widget_Mobile_200x211', [200, 211], 'div-gpt-ad-1507278280998-13').addService(googletag.pubads()); ";
                    default:
                        return "";
                }
            }

            string GetGTTargeting(int targetId, string target)
            {
                switch (targetId)
                {
                    case 1:
                        return String.Format("googletag.pubads().setTargeting(\"Model\", \"{0}\");", target);
                    case 2:
                        return String.Format("googletag.pubads().setTargeting(\"Make\", \"{0}\");", target);
                    case 3:
                        return String.Format("googletag.pubads().setTargeting(\"CompareBike-M\", \"{0}\");", target);
                    case 4:
                        return String.Format("googletag.pubads().setTargeting(\"City\", \"{0}\");", target);
                    case 5:
                        return string.Format("googletag.pubads().setTargeting(\"Series\", \"{0}\");", target);
                    case 6:
                        return string.Format("googletag.pubads().setTargeting(\"Tags\", \"{0}\");", target);
                    default:
                        return "";
                }
            }
    }

        googletag.cmd.push(function () {

            @if(Model.AdTags.Ad_320x50){@Html.Raw(GetAdSlot(1, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_Bot_320x50){ @Html.Raw(GetAdSlot(2, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_300x250){@Html.Raw(GetAdSlot(3, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad320x150_Top){ @Html.Raw(GetAdSlot(4, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad320x150_Bottom){@Html.Raw(GetAdSlot(5, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_Mid_320x50){ @Html.Raw(GetAdSlot(6, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad320x100ATF){@Html.Raw(GetAdSlot(7, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad320x100BTF){@Html.Raw(GetAdSlot(8, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_300x100){@Html.Raw(GetAdSlot(9, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_320x400_Middle) { @Html.Raw(GetAdSlot(10, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_200x253){ @Html.Raw(GetAdSlot(11, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_200x216){ @Html.Raw(GetAdSlot(12, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(Model.AdTags.Ad_200x211){ @Html.Raw(GetAdSlot(13, Model.AdTags.AdPath, Model.AdTags.AdId))}
            @if(!String.IsNullOrEmpty(Model.AdTags.TargetedModel)){@Html.Raw(GetGTTargeting(1, Model.AdTags.TargetedModel))}
            @if(!String.IsNullOrEmpty(Model.AdTags.TargetedMakes)){@Html.Raw(GetGTTargeting(2, Model.AdTags.TargetedMakes))}
            @if(!String.IsNullOrEmpty(Model.AdTags.TargetedModels)){@Html.Raw(GetGTTargeting(3, Model.AdTags.TargetedModels))}
            @if(!String.IsNullOrEmpty(Model.AdTags.TargetedCity)){@Html.Raw(GetGTTargeting(4, Model.AdTags.TargetedCity))}
			@if(!String.IsNullOrEmpty(Model.AdTags.TargetedSeries)){@Html.Raw(GetGTTargeting(5, Model.AdTags.TargetedSeries))}
            @if(!String.IsNullOrEmpty(Model.AdTags.TargetedTags)){@Html.Raw(GetGTTargeting(6, Model.AdTags.TargetedTags))}

            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();
        });
    </script>
    @if (Model.PageMetaTags != null && !String.IsNullOrEmpty(Model.PageMetaTags.SchemaJSON))
    {
        <script type="application/ld+json">
            @(Html.Raw(Model.PageMetaTags.SchemaJSON))
        </script>
    }
    @if (Model.PageMetaTags != null && !String.IsNullOrEmpty(Model.PageMetaTags.PageSchemaJSON))
    {
        <script type="application/ld+json">
            @(Html.Raw(Model.PageMetaTags.PageSchemaJSON))
        </script>
    }
</head>
<body class="@(@Model.IsTransparentHeader ? " page-type-landing " : "") bg-light-grey @(@Model.IsHeaderFix ? "header-fixed-inner" : "")" data-page-id="@((int)Model.Page)" data-page-name="@Model.Page">
    @if (Model.IsHeaderRequired)
    {
        <header>
            <div id="bw-header">
                <div class="header-fixed">
                    <!-- Fixed Header code starts here -->
                    <a href="/m/" id="bwheader-logo" title="BikeWale" class="bwmsprite bw-logo bw-lg-fixed-position"></a>
                    <div class="leftfloat">
                        <span id="navbarBtn" class="navbarBtn bwmsprite nav-icon margin-right10"></span>
                        <span id="book-back" class="bwmsprite white-back-arrow margin-right10 leftfloat hide"></span>
                        <div class="headerTitle text-white leftfloat">
                            <p class="font12" id="headerText">Detailed Price Quote</p>
                            <p class="header-dealername" id="header-dealername"></p>
                        </div>
                    </div>
                    <div class="rightfloat">
                        <div class="global-search" id="global-search">
                            <span class="bwmsprite search-bold-icon"></span>
                        </div>
                        <div class="global-location">
                            <span class="bwmsprite map-loc-icon"></span>
                        </div>
                        <a href="javascript:void(0)" class="sort-btn rightfloat hide" id="sort-btn" rel="nofollow">
                            <span class="bwmsprite sort-icon"></span>
                        </a>
                    </div>
                    <div class="changecity-blackout-window"></div>
                    <div class="clear"></div>
                </div> <!-- ends here -->
                <div class="clear"></div>
            </div>
        </header>
    }
    @if (Model.IsHomePage)
    {
            <!-- Call Home Page Banner partial view -->
    }
    @if (Model.AdTags != null && Model.AdTags.Ad_320x50)
    {
        <div id='div-gpt-ad-@Model.AdTags.AdId-0' style='width:320px; height:50px;text-align:center;margin: 10px auto;'>
            <script type='text/javascript'>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-@Model.AdTags.AdId-0'); });
            </script>
        </div>
    }
    else if (Model.AdTags.ShowInnovationBannerMobile)
    {
        Html.RenderPartial("~/Views/Shared/Ads/Mobile/Ad320x50_InnovationBanner.cshtml", Model.AdTags);
    }
    @Html.Partial("~/Views/m/Shared/_PopupWidget.cshtml")
    @RenderBody()
    @if (Model.BreadcrumbList != null && Model.BreadcrumbList.BreadcrumListItem != null && Model.BreadcrumbList.BreadcrumListItem.Any())
    {
        <section>
            <div class="breadcrumb">
                <span class="breadcrumb-title">You are here:</span>
                <ul>
                    @foreach (var item in Model.BreadcrumbList.BreadcrumListItem)
                    {
                        if (!string.IsNullOrEmpty(item.Item.Url))
                        {
                            <li>
                                <a class="breadcrumb-link" href="@item.Item.Url" title="@item.Item.Name">
                                    <span class="breadcrumb-link__label" itemprop="name">@item.Item.Name</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <span class="breadcrumb-link__label">@item.Item.Name</span>
                            </li>
                        }
                    }
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </section>
    }
    @if (Model.AdTags != null && Model.AdTags.Ad_Bot_320x50)
    {
        <section>
            <div class="container">
                <div>
                    <div id='div-gpt-ad-@Model.AdTags.AdId-1' style='width:320px; height:50px;text-align:center;margin:10px auto;'>
                        <script type='text/javascript'>
                            googletag.cmd.push(function () { googletag.display('div-gpt-ad-@Model.AdTags.AdId-1'); });
                        </script>
                    </div>
                </div>
            </div>
        </section>
    }
    <div class="blackOut-window"></div>
    <nav id="nav">
        <!-- nav code starts here -->
        <ul class="navUL padding-top10">
            <li>
                <a href="/m/">
                    <span class="bwmsprite home-icon"></span>
                    <span class="navbarTitle">Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" rel="nofollow">
                    <span class="newBikes-icon"></span>
                    <span class="navbarTitle">New Bikes</span>
                    <span class="nav-drop bwmsprite fa-angle-down"></span>
                </a>
                <ul class="nestedUL">
                    <li><a href="/m/new-bikes-in-india/">Find New Bikes</a></li>
                    <li><a href="/m/comparebikes/">Compare Bikes</a></li>
                    <li><a href="/m/pricequote/">Check On-Road Price</a></li>
                    <li><a href="/m/dealer-showrooms/">Locate Dealer</a></li>
                    <li><a href="/m/service-centers/">Locate Service Center</a></li>
                    <li><a href="/m/upcoming-bikes/">Upcoming Bikes</a></li>
                    <li><a href="/m/new-bike-launches/">New Launches</a></li>
                    <li><a href="/m/bikebooking/">Book Your Bike</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" rel="nofollow">
                    <span class="scooter-icon"></span>
                    <span class="navbarTitle">New Scooters</span>
                    <span class="nav-drop bwmsprite fa-angle-down"></span>
                </a>
                <ul class="nestedUL">
                    <li><a href="/m/honda-scooters/">Honda Scooters</a></li>
                    <li><a href="/m/hero-scooters/">Hero Scooters</a></li>
                    <li><a href="/m/tvs-scooters/">TVS Scooters</a></li>
                    <li><a href="/m/yamaha-scooters/">Yamaha Scooters</a></li>
                    <li><a href="/m/scooters/">All Scooters</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" rel="nofollow">
                    <span class="bwmsprite usedBikes-icon"></span>
                    <span class="navbarTitle">Buy & Sell Used Bikes</span>
                    <span class="nav-drop bwmsprite fa-angle-down"></span>
                </a>
                <ul class="nestedUL">
                    <li><a href="/m/used/">Find Used Bikes</a></li>
                    <li><a href="/m/used/bikes-in-india/">All Used Bikes</a></li>
                    <li><a href="/m/used/sell/">Sell Your Bike</a></li>
                </ul>
            </li>
            <li>
                <a href="/m/reviews/">
                    <span class="reviews-icon"></span>
                    <span class="navbarTitle">Reviews</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" rel="nofollow">
                    <span class="bwmsprite news-icon"></span>
                    <span class="navbarTitle">News, Videos &amp; Tips</span>
                    <span class="nav-drop bwmsprite fa-angle-down"></span>
                </a>
                <ul class="nestedUL">
                    <li><a href="/m/news/">News</a></li>
                    <li><a href="/m/expert-reviews/">Expert Reviews</a></li>
                    <li><a href="/m/features/">Features</a></li>
                    <li><a href="/m/bike-care/">Bike Care</a></li>
                    <li><a href="/m/bike-videos/">Videos</a></li>
                </ul>
            </li>
            <li>
                <a href="/m/trackday2016/">
                    <span class="bwmsprite track-day"></span>
                    <span class="navbarTitle">Track Day 2016</span>
                </a>
            </li>
            @** Render login control here *@
            @Html.Partial("~/Views/m/Shared/_LoginControl.cshtml")
        </ul>
        <div id="nav-app-content">
            <p class="font12 text-bold inline-block">India’s #1 Bike Research Destination</p><a href="https://play.google.com/store/apps/details?id=com.bikewale.app&referrer=utm_source%3DMobilesite%26utm_medium%3DDrawer%26utm_campaign=BikeWale%2520MobilesiteDrawer" target="_blank" rel="noopener nofollow" class="btn btn-orange nav-app-install-btn font12 text-bold inline-block">Install</a>
        </div>
    </nav>
    <!-- nav code ends here -->
    <div class="globalcity-popup bwm-fullscreen-popup hide" id="globalcity-popup">
        <div class="globalcity-popup-data text-center">
            <div class="globalcity-close-btn position-abt pos-top10 pos-right10 bwmsprite cross-lg-lgt-grey cur-pointer"></div>
            <p class="font20 margin-bottom5 text-capitalize">Please tell us your city</p>
            <p class="text-light-grey margin-bottom5">This allows us to provide relevant content for you.</p>
            <div class="form-control-box">
                <div class="margin-bottom20 position-rel">
                    <span class="position-abt pos-right15 pos-top15 bwmsprite cross-sm-dark-grey cur-pointer"></span>
                    <input type="text" class="form-control padding-right30" name="globalCityPopUp" placeholder="Type to select city" id="globalCityPopUp" autocomplete="off">
                    <span id="loaderMakeModel" class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display:none;"></span>
                    <span class="bwmsprite error-icon hide"></span>
                    <div class="bw-blackbg-tooltip hide">No city found. Try a different search.</div>
                </div>
            </div>
            <div>
                <button id="btnGlobalCityPopup" class="btn btn-orange btn-full-width font18">Confirm city</button>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script defer type="text/javascript" src="@String.Format("{0}/src/bwcache.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>
    <!-- global-search-popup code starts here -->
    <div id="global-search-popup" class="global-search-popup" style="display:none">
        <div class="form-control-box">
            <span class="back-arrow-box" id="gs-close">
                <span class="bwmsprite back-long-arrow-left"></span>
            </span>
            <span class="cross-box hide" id="gs-text-clear">
                <span class="bwmsprite cross-md-dark-grey"></span>
            </span>
            <input type="text" name="globalSearch" placeholder="Search" id="globalSearch" class="form-control padding-right30" autocomplete="off">
            <span class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display:none;right:35px;top:13px"></span>
            <ul id="errGlobalSearch" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content hide">
                <li class="ui-menu-item" tabindex="-1">
                    <span class="text-bold">Oops! No suggestions found</span><br /> <span class="text-light-grey font12">Search by bike name e.g: Honda Activa</span>
                </li>
            </ul>
            <div id="global-search-section" class="bg-white padding-bottom10 hide">
                <div id="history-search">
                    <div class="search-title">Recently Viewed</div>
                    <ul id="global-recent-searches" class="recent-searches-dropdown bw-ui-menu"></ul>
                </div>
                <div id="trending-search">
                    <div class="search-title">Trending Searches</div>
                    <ul id="trending-bikes" class="recent-searches-dropdown bw-ui-menu"></ul>
                </div>
            </div>
        </div>
    </div> <!-- global-search-popup code ends here -->

    <footer class="bg-footer padding-top10 padding-bottom15">
        <!-- Footer section code starts here -->
        <div class="container">
            <div class="text-center">
                <p class="font13 text-white margin-bottom10">Popular Brands</p>
                <ul>
                    <li><a href="/m/honda-bikes/" title="Honda Bikes">Honda Bikes</a></li>
                    <li><a href="/m/hero-bikes/" title="Hero Bikes">Hero Bikes</a></li>
                    <li><a href="/m/suzuki-bikes/" title="Suzuki Bikes">Suzuki Bikes</a></li>
                </ul>
            </div>
            <div class="text-center padding-bottom15 border-solid-top padding-10-15 padding-top20">
                <div class="grid-4">
                    <a href="/m/" class="bwmsprite bw-footer-icon" title="Bikewale"></a>
                </div>
                <div class="grid-4">
                    <a href="https://www.carwale.com/m/" target="_blank" rel="noopener" class="bwmsprite cw-footer-icon" title="CarWale"></a>
                    <p class="cw-logo-label">ask the experts</p>
                </div>
                <div class="grid-4 omega">
                    <a href="https://m.cartrade.com/" target="_blank" rel="noopener" class="bwmsprite ct-footer-icon" title="CarTrade"></a>
                </div>
                <div class="clear"></div>
            </div>

            <div class="border-solid-top text-center">
                <div class="margin-top15">
                    <ul>
                        <li><a href="/m/contactus.aspx" rel="nofollow">Contact Us</a></li>
                        <li><a href="/m/advertisewithus.aspx" rel="nofollow">Advertise with Us</a></li>
                    </ul>
                    <p class="font13 text-white margin-bottom10">Download Mobile App</p>
                    <div>
                        <a class="bwmsprite google-play-logo" href="https://play.google.com/store/apps/details?id=com.bikewale.app&referrer=utm_source%3DBikeWaleMobileWebsite%26utm_medium%3DFooter%26utm_campaign%3DBikeWale%2520MobileWebsite%2520Footer" target="_blank" rel="noopener nofollow" class="bwsprite gplay-icon margin-right5"></a>
                    </div>
                </div>
                <div class="margin-top15 margin-bottom15">
                    <a href="/?site=desktop" target="_blank" rel="noopener" class="text-white">View Desktop Version</a>
                </div>
            </div>
        </div>
        <div class="border-solid-top text-white font11 margin-top5 padding-top10 grid-12">
            <div class="grid-4 alpha text-left">&copy; BikeWale India</div>
            <div class="grid-8 omega text-right">
                <a href="https://www.bikewale.com/visitoragreement.aspx" class="text-white" rel="nofollow">Visitor Agreement </a>&
                <a href="https://www.bikewale.com/privacypolicy.aspx" class="text-white" rel="nofollow">Privacy Policy</a>
            </div>
        </div>
        <div class="clear"></div>
    </footer> <!-- Ends here -->
    <noscript id="asynced-css">
        <link href="@String.Format("{0}/m/css/bwm-common-btf.css?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticCommonFileVersion)" rel="stylesheet" type="text/css" />
        @if (!String.IsNullOrEmpty(Model.Page_BTF_CSS_Path))
        {
            <link href="@String.Format("{0}{1}?{2}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl, Model.Page_BTF_CSS_Path,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)" rel="stylesheet" type="text/css" />
        }
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    </noscript>
    <script type="text/javascript">
        var loadAsyncCss = function () { var a = document.getElementById("asynced-css"); if (a) { var b = document.createElement("div"); b.style.display = 'none', b.innerHTML = a.textContent, document.body.appendChild(b), a.parentElement.removeChild(a) } }, raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame; raf ? raf(function () { window.setTimeout(loadAsyncCss, 0) }) : window.addEventListener("load", loadAsyncCss);
    </script>
    <script defer type="text/javascript" src="@String.Format("{0}/m/src/Plugins.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl, Bikewale.Utility.BWConfiguration.Instance.StaticPluginFileVersion)"></script>
    <script defer type="text/javascript" src="@String.Format("{0}/m/src/common.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl, Bikewale.Utility.BWConfiguration.Instance.StaticCommonFileVersion)"></script>
    @if (!String.IsNullOrEmpty(Model.Page_JS_Path))
    {
        <script defer type="text/javascript" src="@String.Format("{0}{1}?{2}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl, Model.Page_JS_Path.Trim(),Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>
    }
    @if (Model.Page_JS_Paths != null)
    {
        foreach (var scriptLink in Model.Page_JS_Paths)
        {
            <script defer type="text/javascript" src="@String.Format("{0}{1}?{2}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl, scriptLink.Trim(),Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>
        }
    }
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js" defer>
    </script>
    <script type="text/javascript">
        docReady(function () {
            try {
                /* <![CDATA[ */
                window.google_trackConversion({ google_conversion_id: 998187973, google_custom_params: window.google_tag_params, google_remarketing_only: !0 });
                //]]>
            } catch (e) {
                console.warn(e.message);
            }
        });
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/998187973/?guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>
</html>