@model Bikewale.Models.ModelBase
<!doctype html>
<html amp lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title @ViewBag.ArticleSectionTitle</title>
        <link rel="canonical" href="@ViewBag.Canonical" />
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <style amp-boilerplate>
            body {
                -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
                -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
                -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
                animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            }

            @@-webkit-keyframes -amp-start {
                from {
                    visibility: hidden;
                }

                to {
                    visibility: visible;
                }
            }

            @@-moz-keyframes -amp-start {
                from {
                    visibility: hidden;
                }

                to {
                    visibility: visible;
                }
            }

            @@-ms-keyframes -amp-start {
                from {
                    visibility: hidden;
                }

                to {
                    visibility: visible;
                }
            }

            @@-o-keyframes -amp-start {
                from {
                    visibility: hidden;
                }

                to {
                    visibility: visible;
                }
            }

            @@keyframes -amp-start {
                from {
                    visibility: hidden;
                }

                to {
                    visibility: visible;
                }
            }
        </style>
        <noscript>
            <style amp-boilerplate>
                body {
                    -webkit-animation: none;
                    -moz-animation: none;
                    -ms-animation: none;
                    animation: none;
                }
            </style>
        </noscript>
        
            @Html.Raw(Model.Amp_Page_CSS)
        <script type="application/ld+json">
        {
            "@@context": "http://schema.org",
            "@@type": "@ViewBag.ArticleType",
            "mainEntityOfPage":{
                "@@type": "WebPage",
                "@@id": "@ViewBag.MobilePageUrl"
            },
            "headline": "@ViewBag.Title",
            "image": {
                "@@type": "ImageObject",
                "url": "@ViewBag.MainImageUrl",
                "width": 696,
                "height": 318
            },
            "datePublished": "@ViewBag.PublishedDate",
            "dateModified": "@ViewBag.LastModified",
            "author": {
                "@@type": "Person",
                "name": "@ViewBag.Author"
            },
            "publisher": {
                "@@type": "Organization",
                "name": "BikeWale",
                "logo": {
                    "@@type": "ImageObject",
                    "url": "https://imgd.aeplcdn.com/0x0/bw/static/design15/bikewale-logo-amp.png",
                    "width": 55,
                    "height": 16
                }
            },
            "description": "@ViewBag.Description"
        }
        </script>
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
        <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
        <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
        <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    </head>
    <body>
        <amp-sidebar id="nav" layout="nodisplay" side="left">
            <ul class="navUL">
                <li>
                    <h2>
                        <a href="https://www.bikewale.com/m/" target="_top">
                            <span class="bwmsprite home-icon"></span>
                            <span class="vertical-middle">Home</span>
                        </a>
                    </h2>
                </li>
                <li>
                    <amp-accordion>
                        <section>
                            <h2 class="nav-accordion-header">
                                <span class="bwmsprite newBikes-icon"></span>
                                <span class="vertical-middle">New Bikes</span>
                                <span class="bwmsprite fa-angle-down"></span>
                            </h2>
                            <ul class="nestedUL">
                                <li><a href="https://www.bikewale.com/m/new-bikes-in-india/" target="_top">Find New Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/comparebikes/" target="_top">Compare Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/pricequote/" target="_top">Check On-Road Price</a></li>
                                <li><a href="https://www.bikewale.com/m/dealer-showroom-locator/" target="_top">Locate Dealer</a></li>
                                <li><a href="https://www.bikewale.com/m/bike-service-center/" target="_top">Locate Service Center</a></li>
                                <li><a href="https://www.bikewale.com/m/upcoming-bikes/" target="_top">Upcoming Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/new-bike-launches/" target="_top">New Launches</a></li>
                                <li><a href="https://www.bikewale.com/m/bikebooking/" target="_top">Book Your Bike</a></li>
                            </ul>
                        </section>
                    </amp-accordion>
                </li>
                <li>
                    <amp-accordion>
                        <section>
                            <h2 class="nav-accordion-header">
                                <span class="bwmsprite usedBikes-icon"></span>
                                <span class="vertical-middle">Used Bikes</span>
                                <span class="bwmsprite fa-angle-down"></span>
                            </h2>
                            <ul class="nestedUL">
                                <li><a href="https://www.bikewale.com/m/used/" target="_top">Find Used Bikes</a></li>
                                <li><a href="https://www.bikewale.com/m/used/bikes-in-india/" target="_top">All Used Bikes</a></li>
                            </ul>
                        </section>
                    </amp-accordion>
                </li>
                <li>
                    <h2>
                        <a href="https://www.bikewale.com/m/used/sell/" target="_top">
                            <span class="bwmsprite sellBikes-icon"></span>
                            <span class="vertical-middle">Sell Your Bike</span>
                        </a>
                    </h2>
                </li>
                <li>
                    <amp-accordion>
                        <section>
                            <h2 class="nav-accordion-header">
                                <span class="bwmsprite reviews-icon"></span>
                                <span class="vertical-middle">Reviews, News &amp; Videos</span>
                                <span class="bwmsprite fa-angle-down"></span>
                            </h2>
                            <ul class="nestedUL">
                                <li><a href="https://www.bikewale.com/m/news/" target="_top">News</a></li>
                                <li><a href="https://www.bikewale.com/m/expert-reviews/" target="_top">Expert Reviews</a></li>
                                <li><a href="https://www.bikewale.com/m/user-reviews/" target="_top">User Reviews</a></li>
                                <li><a href="https://www.bikewale.com/m/features/" target="_top">Features</a></li>
                                <li><a href="https://www.bikewale.com/m/bike-care/" target="_top">Bike Care</a></li>
                                <li><a href="https://www.bikewale.com/m/bike-videos/" target="_top">Videos</a></li>
                            </ul>
                        </section>
                    </amp-accordion>
                </li>
                <li>
                    <h2>
                        <a href="https://www.bikewale.com/m/trackday2016/" target="_top">
                            <span class="bwmsprite track-day"></span>
                            <span class="vertical-middle">Track Day 2016</span>
                        </a>
                    </h2>
                </li>
                
            </ul>
        </amp-sidebar>

        <header>
            <button class="bwmsprite nav-icon" on="tap:nav.open"></button>
            <a href="https://www.bikewale.com/m/" target="_top" title="BikeWale" class="bwmsprite bw-logo"></a>
        </header>
         @RenderBody()
        <div class="margin-bottom10">
            <amp-ad width=320 height=50 type="doubleclick" layout=responsive data-slot="/1017752/Bikewale_Mobile_NewBikes_Bottom_320x50"></amp-ad>
        </div>
        <footer>
            <div class="footer-top">
                <ul>
                    <li>
                        <a href="https://www.bikewale.com/m/" target="_top" title="BikeWale" class="bwmsprite bw-footer-icon"></a>
                    </li>
                    <li>
                        <a href="https://www.carwale.com/m/" target="_top" title="CarWale" class="bwmsprite cw-footer-icon"></a>
                        <p class="cw-logo-label">ask the experts</p>
                    </li>
                    <li>
                        <a href="https://m.cartrade.com/" target="_top" title="CarTrade" class="bwmsprite ct-footer-icon"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-middle">
                <ul>
                    <li><a href="https://www.bikewale.com/m/contactus.aspx" target="_top" rel="nofollow">Contact Us</a></li>
                    <li><a href="https://www.bikewale.com/m/advertisewithus.aspx" target="_top" rel="nofollow">Advertise with Us</a></li>
                </ul>
                <p>Download Mobile App</p>
                <a class="bwmsprite google-play-logo block" href="https://play.google.com/store/apps/details?id=com.bikewale.app&amp;referrer=utm_source%3DBikeWaleMobileWebsite%26utm_medium%3DFooter%26utm_campaign%3DBikeWale%2520MobileWebsite%2520Footer" target="_blank" rel="nofollow">
                </a>
                <a href="#" target="_top" class="block">View Mobile Site</a>
            </div>
            <div class="footer-bottom font11">
                <div class="left-float">&copy; BikeWale India</div>
                <div class="right-float">
                    <a href="https://www.bikewale.com/visitoragreement.aspx" target="_top" rel="nofollow">Visitor Agreement</a> &amp;
                    <a href="https://www.bikewale.com/privacypolicy.aspx" target="_top" rel="nofollow">Privacy Policy</a>
                </div>
                <div class="clear"></div>
            </div>
        </footer>

        <amp-analytics type="googleanalytics" id="google-analytics">
            <script type="application/json">
            {
                "vars": {
                    "account": "UA-34771801-1"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview",
                        "vars": {
                            "title": "@ViewBag.Title"
                        }
                    }
                }
            }
            </script>
        </amp-analytics>

    </body>
</html>
