@model Bikewale.Models.BikeSeries.BikeSeriesModelsVM
@using Bikewale.Entities.GenericBikes
@using Bikewale.Utility
@*@if (Model != null && Model.BikeModel != null)
{
    <div class="margin-bottom15">
        <h2 class="horizontal-swiper__title">Other @Model.BikeModel.ModelName @(Model.BodyStyle.Equals(EnumBikeBodyStyles.Scooter) ? "Scooters" : "Bikes") you might be interested in:</h2>
        <div class="swiper-container card-container horizontal-card-swiper">
            <ul class="swiper-wrapper">
                @if (Model.BikeSeriesModel != null && Model.BikeSeriesModel.Any())
                {
                    foreach (var bike in Model.BikeSeriesModel)
                    {
                        <li class="swiper-slide horizontal-swiper__slide">
                            <div class="swiper-card horizontal-swiper__card">
                                <a href=@string.Format("{0}/{1}-bikes/{2}", BWConfiguration.Instance.BwHostUrl, bike.Make.MaskingName, bike.Model.MaskingName) title=@bike.BikeName class="horizontal-swiper__target">
                                    @if (bike.IsUpcoming)
                                    {
                                        <span class="horizontal-swiper__tag">Upcoming</span>
                                    }
                                    <div class="horizontal-swiper__image inline-block">
                                        <img class="swiper-lazy" data-src=@string.Format("{0}/110x61/{1}?20171202142514$q=80", bike.HostUrl, bike.OriginalImagePath) alt=@bike.BikeName src="">
                                    </div>
                                    <div class="horizontal-swiper__details inline-block">
                                        <h3 class="horizontal-swiper__card-title text-truncate">@bike.Model.ModelName</h3>
                                        <p class="horizontal-swiper__card-subtitle text-truncate">@bike.Displacement cc, @bike.FuelEfficiencyOverall kmpl, @bike.MaxPower bhp</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}*@


