@using Carwale.Utility;

<div class="landing-page-banner">
    <div class="swiper-container noSwiper ">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_1_m.jpg" alt="Trackday" title="Trackday" />
                <span class="swiper-lazy-preloader"></span>
            </div>
            <div class="swiper-slide">
                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_2_m.jpg" alt="Trackday" title="Trackday" />
                <span class="swiper-lazy-preloader"></span>
            </div>
            <div class="swiper-slide">
                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_3_m.jpg" alt="Trackday" title="Trackday" />
                <span class="swiper-lazy-preloader"></span>
            </div>

            <div class="swiper-slide">
                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/trackday/2016/cwm-trackday/landing-images/trackday-carousel-wallpaper/m/trackday_wallpaper_4_m.jpg" alt="Trackday" title="Trackday" />
                <span class="swiper-lazy-preloader"></span>
            </div>
        </div>
    </div>

    <div class="cwmsprite swiper-button-next"></div>
    <div class="cwmsprite swiper-button-prev"></div>
</div>

<section class="track-day-main padding-top20">
    <h1 class="text-black text-uppercase text-center">Track day updates</h1>
    <div class="top-section margin-top10 bg-white padding-bottom10 text-center">
        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26201_click_m" href="/m/trackday2016/carwale-track-day-2016-an-introduction-26201/">
            <img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/top-section-img.jpg" alt="" title="">
        </a>
        <div class="top-section-content content-inner-block-10 text-left">
            <h2>
                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26201_click_m" href="/m/trackday2016/carwale-track-day-2016-an-introduction-26201/" class="text-bold font16 text-black text-no-decoration">
                    CarWale Track day 2016: An Introduction
                </a>
            </h2>
            <p class="padding-top10">Hello and welcome to the inaugural CarWale Track Day. To say it was challenging to pull this off would be a big understatement. The planning started over three months back. Shortlists were drawn, calls were made, cars were arranged, track was booked, and then as the D-day drew closer, things started to fall apart… </p>
        </div>
        <div class="padding-left10 padding-right10 text-left padding-bottom10">
            <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26201_click_m" href="/m/trackday2016/carwale-track-day-2016-an-introduction-26201/" class="btn btn-white btn-xs font13">Read More</a>
            <span class="margin-left5">By Vikrant Singh</span>
        </div>
    </div>
    <div class="container content-inner-block-10 margin-top10">
        <div class="track-car-carousel">
            <div class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="front contentWrapper">
                            <div class="imageWrapper">
                                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26200_click_m" href="/m/trackday2016/carwale-track-day-2016-lamborghini-huracan-26200/">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/article-carousel/lamborghini-huracan.jpg">
                                </a>
                            </div>
                            <div class="carDescWrapper">
                                <div class="margin-bottom10 text-black">
                                    <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26200_click_m" href="/m/trackday2016/carwale-track-day-2016-lamborghini-huracan-26200/" class="text-black">Lamborghini Huracan Spyder LP 610-4</a></h3>
                                    <p>The Lamborghini Huracan Spyder was the celebrity guest at our inaugural Track Day.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26200_click_m" href="/m/trackday2016/carwale-track-day-2016-lamborghini-huracan-26200/" class="font13 text-bold">Read More</a></p>
                                </div>
                                <div class="font12 margin-top10 margin-bottom5 author-data">By Ameya Dandekar</div>
                            </div>
                        </div>
                    </li>

                    <li class="swiper-slide">
                        <div class="front contentWrapper">
                            <div class="imageWrapper">
                                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26198_click_m" href="/m/trackday2016/carwale-track-day-2016-lap-time-leaderboard-26198/">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/article-carousel/leaderboard.jpg">
                                </a>
                            </div>
                            <div class="carDescWrapper">
                                <div class="margin-bottom10 text-black">
                                    <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26198_click_m" href="/m/trackday2016/carwale-track-day-2016-lap-time-leaderboard-26198/" class="text-black">Lap Time Leaderboard</a></h3>
                                    <p>Time for some fast cars, faster lap times, and the fastest we have seen them go! And the mix includes everything from affordable hatchbacks to.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26198_click_m" href="/m/trackday2016/carwale-track-day-2016-lap-time-leaderboard-26198/" class="font13 text-bold">Read More</a></p>
                                </div>
                                <div class="font12 margin-top10 margin-bottom5 author-data padding-bottom5">By Ninad Ambre</div>
                            </div>
                        </div>
                    </li>

                    <li class="swiper-slide">
                        <div class="front contentWrapper">
                            <div class="imageWrapper">
                                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26208_click_m" href="/m/trackday2016/carwale-track-day-2016-top-10-pictures-26208/">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/article-carousel/top-ten-pictures.jpg">
                                </a>
                            </div>
                            <div class="carDescWrapper">
                                <div class="margin-bottom10 text-black">
                                    <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26208_click_m" href="/m/trackday2016/carwale-track-day-2016-top-10-pictures-26208/" class="text-black">Top 10 Pictures From CarWale Trackday 2016</a></h3>
                                    <p>Track days are fun to drive fast cars and equally challenging for photographers to capture the right moments.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26208_click_m" href="/m/trackday2016/carwale-track-day-2016-top-10-pictures-26208/" class="font13 text-bold">Read More</a></p>
                                </div>
                            <div class="font12 margin-top10 margin-bottom5 author-data">CarWale Editorial</div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="front contentWrapper">
                            <div class="imageWrapper">
                                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26196_click_m" href="/m/trackday2016/carwale-track-day-2016-volkswagen-gti-vs-mini-cooper-s-vs-fiat-595-abarth-26196/">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/article-carousel/volkswagen-fiat.jpg">
                                </a>
                            </div>
                            <div class="carDescWrapper">
                                <div class="margin-bottom10 text-black">
                                    <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26196_click_m" href="/m/trackday2016/carwale-track-day-2016-volkswagen-gti-vs-mini-cooper-s-vs-fiat-595-abarth-26196/" class="text-black">Volkswagen GTI vs Mini Cooper S vs Fiat 595 Abarth</a></h3>
                                    <p>These might seem pricey, indulgent, and a little unnecessary, but when it comes to putting a smile.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26196_click_m" href="/m/trackday2016/carwale-track-day-2016-volkswagen-gti-vs-mini-cooper-s-vs-fiat-595-abarth-26196/" class="font13 text-bold">Read More</a></p>
                                </div>
                                <div class="font12 margin-top10 margin-bottom5 author-data">By Santosh Nair</div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="front contentWrapper">
                            <div class="imageWrapper">
                                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26195_click_m" href="/m/trackday2016/carwale-track-day-2016-bmw-320d-vs-mercedesbenz-c250d-26195/">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/article-carousel/bmw-mercedes.jpg">
                                </a>
                            </div>
                            <div class="carDescWrapper">
                                <div class="margin-bottom10 text-black">
                                    <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26195_click_m" href="/m/trackday2016/carwale-track-day-2016-bmw-320d-vs-mercedesbenz-c250d-26195/" class="text-black">BMW 320d vs Mercedes-Benz C250d</a></h3>
                                    <p>The day is gloomy for what we have lined up. It’s been drizzling all day and the track surface.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26195_click_m" href="/m/trackday2016/carwale-track-day-2016-bmw-320d-vs-mercedesbenz-c250d-26195/" class="font13 text-bold">Read More</a></p>
                                </div>
                                <div class="font12 margin-top10 margin-bottom5 author-data">Sagar Bhanushali</div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="front contentWrapper">
                            <div class="imageWrapper">
                                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26194_click_m" href="/m/trackday2016/carwale-track-day-ford-figo-tdci-vs-fiat-punto-abarth-26194/">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/article-carousel/ford-fiat.jpg">
                                </a>
                            </div>
                            <div class="carDescWrapper">
                                <div class="margin-bottom10 text-black">
                                    <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26194_click_m" href="/m/trackday2016/carwale-track-day-ford-figo-tdci-vs-fiat-punto-abarth-26194/" class="text-black">Ford Figo TDCi Vs Fiat Punto Abarth</a></h3>
                                    <p>We as Indians have this special place that brightens up when we hear terms like ‘within budget’.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26194_click_m" href="/m/trackday2016/carwale-track-day-ford-figo-tdci-vs-fiat-punto-abarth-26194/" class="font13 text-bold">Read More</a></p>
                                </div>
                                <div class="font12 margin-top10 margin-bottom5 author-data">By Venkat Desirazu</div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="front contentWrapper">
                            <div class="imageWrapper">
                                <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26201_click_m" href="/m/trackday2016/carwale-track-day-2016-an-introduction-26201/">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/article-carousel/intro-image.jpg">
                                </a>
                            </div>
                            <div class="carDescWrapper">
                                <div class="margin-bottom10 text-black">
                                    <h3 class="padding-bottom5"><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26201_click_m" href="/m/trackday2016/carwale-track-day-2016-an-introduction-26201/" class="text-black">All About Track Day</a></h3>
                                    <p>Hello and welcome to the inaugural CarWale Track Day. To say it was challenging to pull this off would be a big.. <a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="26201_click_m" href="/m/trackday2016/carwale-track-day-2016-an-introduction-26201/" class="font13 text-bold">Read More</a></p>
                                </div>
                                <div class="font12 margin-top10 margin-bottom5 author-data padding-bottom5">By Vikrant Singh</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                <!-- Navigation -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </div>
    
    <section>
        <div class="trackday-main-video text-center">
            <h2 class="text-black text-uppercase text-center padding-bottom10 padding-top5 text-bold">VIDEO</h2>
            <iframe height="200" src="https://www.youtube.com/embed/pl2GbwXsEaM?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

    <div class="trackday-driver-profile text-center margin-top10">
        <h2 class="text-bold text-uppercase padding-bottom10">Race Driver Profile</h2>
        <div class="driver-profile-content bg-white content-box-shadow">
            <img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/aditya-profile.jpg" alt="" title="">
            <div class="driver-profile-info content-inner-block-10">
                <div class="text-center">
                    <span class="text-black font16 text-bold block">Aditya Patel</span>
                    <span class="text-gray font14 block padding-top5">- Indian Racing Driver</span>
                </div>
                <div class="padding-top10">
                    <span class="block"><img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/inverted-start-comma.jpg" /></span>
                    <div class="text-black font14 text-bold">
                        <p class="padding-top10">For the inaugural CarWale Track Day, we needed someone who lives, breathes and devours racetracks. We needed someone who can push the cars to their limit, consistently, lap after lap. We needed Aditya Patel.</p>
                        <p class="padding-top10 padding-bottom10">Aditya Patel, who currently drives in the Audi R8 LMS cup with numerous podiums and race wins under his belt, is easily the most approachable and sensible pro driver we have met. In the past, he has also competed and won in racing series including Volkswagen Scirocco R-Cup, Polo Cup, Formula BMW Pacific and the coveted 24 hours of Nurburgring in 2012.</p>
                    </div>
                    <span class="block"><img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/inverted-end-comma.jpg"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="trackday-ask-expert text-center margin-top10">
        <h2 class="text-bold text-uppercase padding-bottom10">Our Take on the Track Day</h2>
        <div class="content-box-shadow padding-left10 padding-right10 padding-top10">
            <div class="expert-carousel">
                <div class="swiper-container">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="front contentWrapper">
                                <div class="imageWrapper position-rel">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)400x300/cw/author/vikrantsingh.jpg">
                                    <div class="expert-name padding-top5 padding-bottom5 text-uppercase text-black font16">Vikrant Singh</div>
                                </div>
                                <div class="carDescWrapper">
                                    <p>It might not be the easy or convenient thing to do, but doing a track day must be on every driving enthusiast's list. We had a blast!</p>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="front contentWrapper">
                                <div class="imageWrapper position-rel">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)400x300/cw/author/ameyadandekar.jpg">
                                    <div class="expert-name padding-top5 padding-bottom5 text-uppercase text-black font16">Ameya Dandekar</div>
                                </div>
                                <div class="carDescWrapper">
                                    <p>The Huracan intimidates with its numbers but on track it's so forgiving and manageable. A supercar that's super fun even for a novice driver.</p>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="front contentWrapper">
                                <div class="imageWrapper position-rel">
                                    <img title="" alt="" class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/expert-abhishek.jpg">
                                    <div class="expert-name padding-top5 padding-bottom5 text-uppercase text-black font16">Abhishek Nigam </div>
                                </div>
                                <div class="carDescWrapper">
                                    <p>Amazing agility, great noises followed by quick lap times, these hot hatches are sportscars bundled in hatchback packages!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-white"></div>
                    <!-- Navigation -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="trackdayGallery" class="text-center margin-top10">
        <h2 class="text-bold text-uppercase padding-bottom10">Gallery</h2>
        <div class="bg-white content-box-shadow track-day-connected-carousel position-rel padding-bottom10">
            <div class="connected-carousels-photos">
                <div class="stage-photos">
                    <div class="swiper-container noSwiper carousel-photos carousel-stage-photos">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/01.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/02.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/03.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/04.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/05.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/06.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/07.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/08.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/09.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/large-images/10.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                        </div>
                    </div>

                    <div data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="right_click_m" class="cwmsprite swiper-button-next"></div>
                    <div data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="left_click_m" class="cwmsprite swiper-button-prev"></div>

                </div>

                <div class="navigation-photos">
                    <div class="swiper-container carousel-navigation-photos">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/01.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/02.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/03.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/04.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/05.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/06.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/07.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/08.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/09.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>

                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/landing-page-gallery/thumb-images/10.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                        </div>
                    </div>
                    <div data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="right_click_m" class="cwmsprite swiper-button-next hide"></div>
                    <div data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="left_click_m" class="cwmsprite swiper-button-prev hide"></div>

                </div>
            </div>
        </div>
    </div>
    <div data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday_m" data-action="links_click" data-label="closeGallery_click_m" id="gallery-close-btn" class="cwmsprite cross-lg-white"></div>
    <div id="gallery-blackOut-window"></div>

    <div class="text-center margin-top10">
        <h2 class="text-bold text-uppercase padding-bottom10">Buzz On Social Media</h2>
        <div class="bg-white content-box-shadow content-inner-block-10">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/carwaletrackday" data-widget-id="808680396774723584" data-width="100%" data-height="300">#carwaletrackday Tweets</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
    <div class="text-center margin-top10 margin-bottom20">
        <h2 class="text-bold text-uppercase padding-bottom10">Making of the Event</h2>
        <img style="margin-bottom:1px;" class="block" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/making-of-the-event-1.jpg" alt="Making of the Event" title="Making of the Event">
        <img class="block" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/trackday/2016/cwm-trackday/landing-images/making-of-the-event-2.jpg" alt="Making of the Event" title="Making of the Event">
    </div>
</section>

@if(ViewBag.Isapp)
{
    <script type="text/javascript">
       $("a[href^='/m/trackday2016/']")
      .each(function()
      { 
         this.href = this.href + "?isapp=true";
      });
    </script>    
}
else{
    <script type="text/javascript">
        $('#global-location').hide();
    </script>
}
