
@model BikewaleOpr.Models.ServiceCenter.ServiceCenterCompleteDataVM

@{
    ViewBag.Title = "Bikewale Operations";
    ViewBag.PageTitle = "Manage Service Center ";
}


@if (Model.details != null)
{
    <form action="/servicecenter/save/details/" method="post">

        <div class="col padding-bottom10" id="AddServiceCenter">

            <div class="row">
                <div class="col s5 offset-s3">


                    <span class="flow-text">@(Model.details.Id > 0 ? string.Format("Edit {0} Service Center", @Model.details.Name) : string.Format("Add {0} Service Center", @Model.MakeName)) </span>
                    @*<span class="flow-text">Add Service Center </span>*@
                </div>
            </div>


            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="txtServiceCenterName" type="text" class="validate required" maxlength="100" name="Name" value="@(Model.details.Name != null ? Model.details.Name : "")">
                    <label for="txtServiceCenterName">Name *</label>

                </div>
            </div>


            <div class="row">
                <div class="input-field col s2 offset-s3">
                    <input id="txtServiceCenterEmail" type="text" class="validate" maxlength="100" name="Email" value="@(Model.details.Email != null ? Model.details.Email : "")">
                    <label for="txtServiceCenterEmail">Email  </label>
                </div>

                <div class="input-field col s2 ">


                    <input id="txtPhoneNumber" type="text" class="validate" name="Phone" maxlength="22" value="@(Model.details.Phone != null ? Model.details.Phone : "")">

                    <label for="txtPhoneNumber"> Phone Number </label>

                </div>

                <div class="input-field col s2 ">
                    <input id="txtMobileNumber" type="text" class="validate" name="Mobile" maxlength="22" value="@(Model.details.Mobile != null ? Model.details.Mobile: "")">
                    <label for="txtMobileNumber">Mobile Number </label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s6 offset-s3 sctextarea">

                    <textarea style="padding:0" id="txtServiceCenterAddress" class="materialize-textarea required" maxlength="500" name="Address" value="@(Model.details.Address != null ? Model.details.Address : "")"> @(Model.details.Address != null ? Model.details.Address : "")</textarea>
                    <label for="txtServiceCenterAddress"> Address * </label>
                </div>

            </div>


            <div class="row">

                <div class="input-field col s2  offset-s3">
                    <input id="txtPincode" type="text" class="validate" name="Pincode" maxlength="6" value="@(Model.details.Pincode != null ? Model.details.Pincode : "")">
                    <label for="txtPincode">Pincode</label>
                </div>
                <div class="input-field col s2 ">
                    <input id="txtState" type="text" value="@(Model.details.Location != null && Model.details.Location.StateName  !=null ? Model.details.Location.StateName : "")" readonly>
                    <label for="txtState">State</label>
                </div>

                <div class="input-field col s2 ">
                    <input id="txtCity" type="text" value="@(Model.details.Location != null && Model.details.Location.CityName !=null ? Model.details.Location.CityName: "")" readonly>
                    <label for="txtCity">City</label>
                </div>
            </div>



            <div class="row">

                <div class="input-field col s2 offset-s3">
                    <input id="txtLatitude" type="number" step="0.000000001" name="Lattitude" value="@(Model.details.Lattitude > 0 ? Model.details.Lattitude : 0.0 )">
                    <label for="txtLatitude">Latitude </label>
                </div>

                <div class="input-field col s2 ">
                    <input id="txtLongitude" type="number" step="0.000000001" name="Longitude" value="@(Model.details.Longitude > 0 ? Model.details.Longitude : 0.0 )">
                    <label for="txtLongitude">Longitude </label>
                </div>

            </div>

            <input type="hidden" name="Id" value="@(Model.details.Id > 0 ? Model.details.Id : 0)" />
            <input type="hidden" name="MakeId" id="inputMakeId" value="@(Model.details.MakeId > 0 ? Model.details.MakeId : 0)" />
            <input type="hidden" name="Location.CityId" id="inputCityId" value="@(Model.details.Location != null && Model.details.Location.CityId > 0 ? Model.details.Location.CityId : 0)" />
            <input type="hidden" name="Location.StateId" id="inputStateId" value="@(Model.details.Location != null && Model.details.Location.StateId > 0 ? Model.details.Location.StateId : 0)" />
            <input type="hidden" name="Location.Id" id="serviceCenterId" value="@(Model.details.Id > 0 ? Model.details.Id : 0)" />

            <div class="row">
                <div class="col offset-s3">
                    <button id="btnSaveInformation" class="btn waves-effect waves-light" type="submit" name="action" data-bind="click : formValidation">
                        Save
                    </button>

                    <a href="/servicecenter/search/index/" id="backbutton" style="padding-left: 400px;" class="waves-effect waves-light">
                        Back To Dashboard
                    </a>

                </div>
            </div>
        </div>
    </form>
}

<script src="~/src/ServiceCenter/ServiceCenterOperations.js"></script>
