@model BikewaleOpr.Models.ServiceCenter.ServiceCenterPageVM

@{

    ViewBag.Title = "Bikewale Operations";
    ViewBag.PageTitle = "Manage Service Centers";

}
<div id="serviceCenter" class="row" style="margin-top:5px;" data-currentuser="@BikeWaleOpr.Common.CurrentUser.Id">
    <div class="col m10">

        <div id="tblServiceCenter" style="padding-bottom: 50px" class="hide" >
            <table class="bordered highlight z-depth-3 centered responsive-table" data-cityid="" data-makeid="">
                <tr>
                    <th>Id</th>
                    <th> Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Mobile</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>City Name</th>
                    <th>Make Name</th>
                    <th>Edit</th>

                    <th data-bind="visible:($root.activeStatus())">Delete</th>
                    <th data-bind="visible: !($root.activeStatus())">Add</th>

                </tr>
                <tbody data-bind="template: { name: 'ServiceCenterList', foreach: allServiceCenters }"></tbody>
            </table>
        </div>
    </div>
    <div class="col m2">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><strong>Search Service Center</strong></div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="materialize-select">
                            <div class="input-field row s12">
                                <select id="ddlServiceCenter" class="form-control chosen-select" data-bind="event:{change:function (){
                                        getCityList();
                                        }}">
                                    <option value="0">Select Make</option>
                                    @foreach (var makeList in Model.Makes)
                                    {
                                        <option value="@makeList.MakeId">@makeList.MakeName</option>

                                    }
                                </select>
                                <span class="caret">▼</span>
                            </div>
                        </div>
                        <div class="materialize-select">
                            <div class="input-field row s12">
                                <select data-placeholder="Select City" class="form-control chosen-select" id="ddlServiceCenterCity" data-bind="options: cityList, optionsText:'CityName', optionsValue:'CityId',  value:selectedCity()" ></select>
                                <span class="caret">▼</span>
                            </div>
                        </div>

                        <div class="input-field row s12">
                            <input type="checkbox" data-bind="checked:activeStatus()" id="chkActiveStatus" name="rdoActiveStatus" value="2" class="with-gap" checked/>
                            <label for="chkActiveStatus">Show active</label>
                        </div>

                        <div class="input-field row s12">
                            <button data-bind="click: searchServiceCenters" id="btnSearchServiceCenters" class="btn waves-effect waves-light" type="submit" name="action">
                                Search
                            </button>
                        </div>

                    </div>

                </div>

            </li>
            <li>
                <div class="collapsible-header"><strong>Add Service Center</strong></div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="materialize-select">
                            <div class="input-field row s12">
                                <select id="ddlAddServiceCenter" class="form-control chosen-select" style="width:150px">
                                    <option value="0">Select Make</option>
                                    @foreach (var makeList in Model.AllMakes)
                                    {
                                        <option value="@makeList.MakeId">@makeList.MakeName</option>
                                    }
                                </select>
                                <span class="caret">▼</span>
                            </div>

                        </div>


                        <div class="materialize-select">
                            <div class="input-field row s12">
                                <select id="ddlSelectCity" class="form-control chosen-select">
                                    <option value="0">Select City</option>
                                    @foreach (var CityList in Model.AllCityList)
                                    {
                                        <option value="@CityList.CityId" style="text-transform:capitalize">@CityList.CityMaskingName</option>
                                    }
                                </select>
                                <span class="caret">▼</span>
                            </div>
                        </div>




                        <div class="input-field row s12">
                            <button data-bind="click: redirect" class="btn waves-effect waves-light" type="submit" name="action">
                                Add
                            </button>
                        </div>
                    </div>

                </div>

            </li>
        </ul>
    </div>

</div>




<script type="text/html" id="ServiceCenterList">
    <tr>
        <td data-bind="text: Id" class="scId"></td>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Address"></td>
        <td data-bind="text: Phone"></td>
        <td data-bind="text: Mobile?Mobile:'NA'"></td>

        <td data-bind="text: Lattitude"></td>
        <td data-bind="text: Longitude"></td>
        <td data-bind="text: CityMaskingName"></td>
        <td data-bind="text: MakeMaskingName"></td>

        <td>
            <a data-bind="attr: { href: '/servicecenter/editdetails/'+ Id + '/' }" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Service Center" target="_blank"><i class="material-icons icon-blue">mode_edit</i></a>
        </td>

        <td>
            <a href="javascript:void(0)" data-bind="click: $root.UpdateServiceCenterStatus " class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Service Center">
                <i data-bind="visible: $root.activeStatus()" class="material-icons icon-red">delete</i>
                <i data-bind="visible: !($root.activeStatus())" class="material-icons icon-blue">add_circle</i>
            </a>
        </td>

    </tr>
</script>
<script src="~/src/ServiceCenter/ServiceCenter.js"></script>