@{
    ViewBag.Title = "All About TUV";
    ViewBag.BodyClass = "bg-light-grey special-landing-page long-landing-page";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    ViewBag.landingPage = true;
    ViewBag.Responsive = true;
    ViewBag.DeeplinkAlternatives = Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString();
    ViewBag.Canonical = "";
    ViewBag.Alternate = "";
    ViewBag.CustomJS = "~/Views/StaticPartials/ES/MahindraTUVSpotlightScripts.cshtml";
    ViewBag.CustomCss = "~/Views/StaticPartials/ES/MahindraTUVSpotlightCss.cshtml";
    Layout = (ViewBag.isMobile != null && ViewBag.isMobile ? "~/views/shared/m/_MLayout.cshtml" : "~/views/shared/_Layout.cshtml");
}

<div class="scorpio-main">
    <section class="full-width-carousel banner position-rel">
     <picture>
        <source srcset="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/mobile-banner.jpg" media="(max-width: 768px)">
        <img class="banner" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/desktop-banner.jpg" alt="Nissan Terrano">
    </picture>
    <div class="ad-container">
        <div class="heading">Presenting the AMT TUV300</div>
        <div class="normal-text">It's Bold. It's Stunning.</div>
        <a href="#" id="assistant-btn" class="btn btn-transparent btn-sm click_track" data-label="HP_get assistance">Get Assistance</a>
    </div>
       <img class="position-abt" src="https://ad.doubleclick.net/ddm/trackimp/N6267.139588.CARWALE/B10494210.141284830;dc_trk_aid=313518939;dc_trk_cid=75544818;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" border="0" height="1" width="1" alt="Advertisement">
    </section>

    <div class="mb-margin">
        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">5 Reasons to Buy The Mahindra TUV300</h2>
        <section class="container top-box">
            <div class="grid-12">
                <div class="bg-white content-box-shadow">
                    <div class="grid-12 alpha omega">
                        <div class="grid-6 alpha omega">
                            <img class="tuv-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/reason-style.jpg" />
                        </div>
                        <div class="grid-6 alpha omega content content-parent">
                            <div class="tuv-content-box font14">
                                <div class="font17 text-bold">Style</div>
                                <ul class="margin-bottom10">
                                    <li>Tank-Like Build</li>
                                    <li>Bold front grille with chrome inserts</li>
                                    <li>Large clear lens headlamps & cuboidal fog lamps</li>
                                    <li>Square wheel arches</li>
                                    <li>Sporty alloy wheels</li>
                                    <li>Premium black & beige interiors</li>
                                </ul>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">My dream - TUV 300 T8 MT, delivered to mr by...</span><a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45816/" target="_blank" class="click_track_section" data-label="Style_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">Akash D Yajaman</div>
                                <div>The look is excellent. Where ever i park in thee highway...<a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45816/" target="_blank" class="click_track_section" data-label="Style_Read more">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 swap-parent alpha omega">
                        <div class="grid-6 alpha omega content-parent first_div">
                            <div class="tuv-content-box font14">
                                <div class="font17 text-bold">Performance</div>
                                <ul class="margin-bottom10">
                                    <li>Two Stage Turbocharger</li>
                                    <li>Dual mass flywheel</li>
                                    <li>High angle of approach & departure</li>
                                    <li>High ground clearance</li>
                                    <li>Rear wheel drive</li>
                                    <li>High fuel efficiency</li>
                                </ul>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">What an amazing performance !!! Value for...</span><a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/46639/" target="_blank" class="click_track_section" data-label="Performance_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">Sathish N</div>
                                <div>What a performance by "Battle Tank" !!! Amzing !!! Worth for whatever I have paid for this SUV, a "Make in India"...<a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/46639/" target="_blank" class="click_track_section" data-label="Performance_Read more">Read more</a></div>
                            </div>
                        </div>
                        <div class="grid-6 alpha omega second_div">
                            <img class="tuv-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/reason-performance.jpg" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 alpha omega">
                        <div class="grid-6 alpha omega">
                            <img class="tuv-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/reason-safety.jpg" />
                        </div>
                        <div class="grid-6 alpha omega content-parent">
                            <div class="tuv-content-box font14">
                                <div class="font17 text-bold">Safety</div>
                                <ul class="margin-bottom10">
                                    <li>Tough body shell with high strength steel</li>
                                    <li>Dual airbags</li>
                                    <li>Anti-lock Braking System (ABS) with Electronic Brakeforce Distribution (EBD)</li>
                                    <li>Front-end designed for pedestrian safety</li>
                                    <li>Crumple zones</li>
                                    <li>Digital Immobilizer</li>
                                </ul>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">Excellent Car <span class="fa fa-at"></span> Reasonable Price...</span><a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45607/" target="_blank" class="click_track_section" data-label="Safety_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">Majid Wani</div>
                                <div>Value for Money. With this price range you get SUV "Mahindra" what else you need. May be it...<a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45607/" target="_blank" class="click_track_section" data-label="Safety_Read more">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 swap-parent alpha omega">
                        <div class="grid-6 alpha omega content-parent first_div">
                            <div class="tuv-content-box font14">
                                <div class="font17 text-bold">Technology</div>
                                <ul class="margin-bottom10">
                                    <li>AMT Transmission</li>
                                    <li>Static bending headlamps</li>
                                    <li>Lead-Me-To-Vehicle & Follow-Me-Home-Headlamps</li>
                                    <li>Micro-hybrid technology</li>
                                    <li>Sporty alloy wheels</li>
                                    <li>Driver information system</li>
                                </ul>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">A great Experience on this Car...</span><a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45701/" target="_blank" class="click_track_section" data-label="Technology_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">Parameswaran</div>
                                <div>AMT performance is Good and very convenient for Highway and City Drive. The gear change lag is high and th...<a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45701/" target="_blank" class="click_track_section" data-label="Technology_Read more">Read more</a></div>
                            </div>
                        </div>
                        <div class="grid-6 alpha omega second_div">
                            <img class="tuv-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/reason-technology.jpg" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 alpha omega">
                        <div class="grid-6 alpha omega">
                            <img class="tuv-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/reason-comfort.jpg" />
                        </div>
                        <div class="grid-6 alpha omega content-parent">
                            <div class="tuv-content-box font14">
                                <div class="font17 text-bold">Comfort and Convenience</div>
                                <ul class="margin-bottom10">
                                    <li>5+2 seating capacity</li>
                                    <li>Better Legroom</li>
                                    <li>Expandable boot space</li>
                                    <li>Electric adjustable ORVMs</li>
                                    <li>Steering mounted audio & phone controls</li>
                                </ul>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">MyIndian Hummer...</span><a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45700/" target="_blank" class="click_track_section" data-label="Comfort_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">GN.Manickasankar</div>
                                <div>Best in class performance whicle comparing to Xylo, Tavera, Duster &Aacute; Eco sport. You can start move direct to someone...<a href="https://www.carwale.com/mahindra-cars/tuv300/userreviews/45700/" target="_blank" class="click_track_section" data-label="Comfort_Read more">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                

            </div>
            <div class="clear"></div>
        </section>


        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Mahindra TUV300 Specifications</h2>
        <section class="container content-box-shadow">    
            <div class="clear"></div>
            <div class="grid-12 bg-white inline-block-noalign">
                <h2 class="font20 text-underline text-uppercase text-center margin-bottom20 margin-top30">Tech Specs</h2>
                <div class="grid-12">
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite performance-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Performance</div>
                        <div class="spec-details font14">
                            <div>Power: 100 bhp<span class="fa fa-at"></span>3750 rpm</div>
                            <div>Torque: 240 Nm<span class="fa fa-at"></span>1600 rpm</div>
                        </div>
                    </div>
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite fuel-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Fuel Efficiency</div>
                        <div class="spec-details font14">
                            Mileage of 16.36 kmpl
                        </div>
                    </div>
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite transmission-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Transmission</div>
                        <div class="spec-details font14">
                           5-Speed Automatic & <br /> Manual Transmission
                        </div>
                    </div>
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite safety-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Safety</div>
                        <div class="spec-details font14">
                            2 Airbags (Driver & Co-Driver)
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <h2 class="font20 text-uppercase text-center padding-bottom20 padding-top20 bg-white text-underline">Features</h2>
            <div class="clear"></div>
            <div class="grid-12 scorpio-carousel bg-white hide">
                <div class="jcarousel-wrapper">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                    <img src="../../images/feature_1.png" alt="Mahindra e2oPlus">
                            </li>
                            <li>
                                    <img src="../../images/feature_2.png" alt="Mahindra e2oPlus">
                            </li>
                            <li>
                                    <img src="../../images/feature_3.png" alt="Mahindra e2oPlus">
                            </li>
                            <li>
                                    <img src="../../images/feature_1.png" alt="Mahindra e2oPlus">
                            </li>

                        </ul>
                    </div>
                    <span class="jcarousel-control-left"><span class="cwsprite jcarousel-control-prev"></span></span>
                    <span class="jcarousel-control-right"><span class="cwsprite jcarousel-control-next"></span></span>
                </div>
            </div>
            <div class="grid-12 bg-white tuv-features">
                <ul class="text-center">
                    <li>
                        <img src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/feature-1.png" alt="Mahindra TUV">
                        <div>TANK-LIKE BUILD</div>
                    </li>
                    <li>
                        <img src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/feature-2.png" alt="Mahindra TUV">
                        <div>TWO STAGE TURBOCHARGER</div>
                    </li>
                    <li>
                        <img src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/feature-3.png" alt="Mahindra TUV">
                        <div>STATIC BENDING HEADLAMPS</div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="margin-bottom20 margin-top20 text-center">
                <a href="#" id="assistance-feature-btn" class="btn btn-orange btn-sm click_track" data-label="Feature_get assistance">Get Assistance</a>
            </div>
        </section>

        <section class="container terrano-compare-main">
            
            <div class="grid-12">
                <h2 class="text-center margin-top40 margin-bottom20">MAHINDRA TUV300 vs COMPETITION</h2>
                <div class="grid-12 position-rel">
                    <div class="grid-4">

                    </div>
                    <div class="grid-4">
                        <div class="select-compare-car hide">
                            <div class="selected-car1 rounded-corner2">
                                <span id="selected-car-name">Hyundai creta</span>
                                <span class="accordion-sprite plus-icon"></span>
                                <div class="clear"></div>
                            </div>
                            <ul class="show-car-list1 hide">
                                <li id="compare-creta1">Hyundai creta</li>
                                <li id="compare-duster1">Renault Duster</li>
                                <li id="compare-tuv3001">Mahindra TUV300</li>
                                <li id="compare-ecosport1">Ford Ecosport</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-4 compare2-drop hide">
                        <div class="select-compare-car2">
                            <div class="selected-car2 rounded-corner2">
                                <span id="selected-car-name2">Hyundai creta</span>
                                <span class="accordion-sprite plus-icon"></span>
                                <div class="clear"></div>
                            </div>
                            <ul class="show-car-list2 hide">
                                <li id="compare-creta2">Hyundai creta</li>
                                <li id="compare-duster2">Renault Duster</li>
                                <li id="compare-tuv3002">Mahindra TUV300</li>
                                <li id="compare-ecosport2">Ford Ecosport</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="padding-lr-40 content-box-shadow">
                    <div class="position-rel margin-top20">
                        
                        
                        <div class="car-models">
                            <ul>
                                <li class="comp-border-right grid-4  alpha omega">
                                    <div class="compare-img-container">
                                        <img class="lazy" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/compare-tuv.jpg" border="0" alt="Mahindra TUV300" title="Mahindra TUV300" />
                                    </div>
                                    <div class="car-name-container">
                                        <div class="car-name-head">TUV300</div>
                                        <div class="car-version">T8 AMT mHAWK100</div>
                                        <div class="car-price">Price: ₹ 9.95L</div>
                                    </div>
                                    @*<h4>Nissan Terrano</h4>*@

                                    <div class="clear"></div>
                                </li>
                                <li class="grid-4 alpha omega">
                                    <div class="car-name">
                                        <div class="creta-content hide-content">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/compare-brezza.jpg" border="0" alt="Vitara Brezza" title="Vitara Brezza" />
                                            </div>
                                            <div class="car-name-container">
                                                <div class="car-name-head">Vitara Brezza</div>
                                                <div class="car-version">ZDi Plus</div>
                                                <div class="car-price">Price: ₹ 9.96L</div>
                                            </div>
                                            @*<h4>Hyundai Creta</h4>*@
                                            <div class="clear"></div>
                                        </div>
                                        <div class="duster-content hide-content hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-duster.jpg?201611011746211818" border="0" alt="Renault Duster" title="Renault Duster" />
                                            </div>
                                            <h4>Renault Duster</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="tuv300-content hide-content hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-tuv300.jpg?201611011746211818" border="0" alt="Mahindra TUV300" title="Mahindra TUV300" />
                                            </div>
                                            <h4>Mahindra TUV300</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="ecosport-content hide-content hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-ecosport.jpg?201611011746211818" border="0" alt="Ford Ecosport" title="Ford Ecosport" />
                                            </div>
                                            <h4>Ford Ecosport</h4>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="grid-4 third-column alpha omega">
                                    <div class="car-name">
                                        <div class="creta-content hide-content2">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/compare-ecosport.jpg" border="0" alt="Mahindra EcoSport" title="Mahindra EcoSport" />
                                            </div>
                                            <div class="car-name-container">
                                                <div class="car-name-head">EcoSport</div>
                                                <div class="car-version">Titanium 1.5L TDCi...</div>
                                                <div class="car-price">Price: ₹ 9.67L</div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="duster-content hide-content2 hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-duster.jpg?201611011746211818" border="0" alt="Renault Duster" title="Renault Duster" />
                                            </div>
                                            <h4>Renault Duster</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="tuv300-content hide-content2 hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-tuv300.jpg?201611011746211818" border="0" alt="Mahindra TUV300" title="Mahindra TUV300" />
                                            </div>
                                            <h4>Mahindra TUV300</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="ecosport-content hide-content2 hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-ecosport.jpg?201611011746211818" border="0" alt="Ford Ecosport" title="Ford Ecosport" />
                                            </div>
                                            <h4>Ford Ecosport</h4>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="comparo-accordion">
                            <ul>
                                <li class="sep" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-widget" data-cat="comparo-widget-tabs" data-label="Highlights">
                                    <h5 class="active-text">Highlights</h5>
                                    <span class="accordion-sprite minus-icon plus-icon"></span>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="data text-bold">
                                <div class="data-table">
                                    <div class="data-table-th">Max Torque (Nm<span class="fa fa-at"></span>rpm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">240 <span class="fa fa-at"></span> 1600 </div>
                                        <div class="data-table-td creta-content hide-content">200 <span class="fa fa-at"></span> 1750</div>
                                        <div class="data-table-td duster-content hide-content hide">205</div>
                                        <div class="data-table-td tuv300-content hide-content hide">190</div>
                                        <div class="data-table-td ecosport-content hide-content hide">200</div>

                                        <div class="data-table-td creta-content hide-content2 active">200 <span class="fa fa-at"></span> 1750 </div>
                                        <div class="data-table-td duster-content hide-content2 hide">205</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">190</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">200</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Transmission Type</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">Automatic</div>
                                        <div class="data-table-td creta-content hide-content">Manual</div>
                                        <div class="data-table-td duster-content hide-content hide">19.6</div>
                                        <div class="data-table-td tuv300-content hide-content hide">18.49</div>
                                        <div class="data-table-td ecosport-content hide-content hide">16.5</div>

                                        <div class="data-table-td creta-content hide-content2 active">Manual</div>
                                        <div class="data-table-td duster-content hide-content2 hide">19.6</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">18.49</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">16.5</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Hill Hold Control</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">Available</div>
                                        <div class="data-table-td creta-content hide-content">NA</div>
                                        <div class="data-table-td duster-content hide-content hide">4315</div>
                                        <div class="data-table-td tuv300-content hide-content hide">3995</div>
                                        <div class="data-table-td ecosport-content hide-content hide">3999</div>

                                        <div class="data-table-td creta-content hide-content2 active">NA</div>
                                        <div class="data-table-td duster-content hide-content2 hide">4315</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">3995</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">3999</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Seating Capacity</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">7 Person</div>
                                        <div class="data-table-td creta-content hide-content">5 Person</div>
                                        <div class="data-table-td duster-content hide-content hide">1695</div>
                                        <div class="data-table-td tuv300-content hide-content hide">1839</div>
                                        <div class="data-table-td ecosport-content hide-content hide">1708</div>

                                        <div class="data-table-td creta-content hide-content2 active">5 Person</div>
                                        <div class="data-table-td duster-content hide-content2 hide">1695</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">1839</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">1708</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Wheel Drive</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">Rear</div>
                                        <div class="data-table-td creta-content hide-content">Front</div>
                                        <div class="data-table-td duster-content hide-content hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content hide">Petrol</div>

                                        <div class="data-table-td creta-content hide-content2 active">Front</div>
                                        <div class="data-table-td duster-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">Petrol</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Height (mm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">1839</div>
                                        <div class="data-table-td creta-content hide-content">1640</div>
                                        <div class="data-table-td duster-content hide-content hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content hide">Petrol</div>

                                        <div class="data-table-td creta-content hide-content2 active">1708</div>
                                        <div class="data-table-td duster-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">Petrol</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Wheelbase (mm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">2680</div>
                                        <div class="data-table-td creta-content hide-content">2500</div>
                                        <div class="data-table-td duster-content hide-content hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content hide">Petrol</div>

                                        <div class="data-table-td creta-content hide-content2 active">2520</div>
                                        <div class="data-table-td duster-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">Petrol</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Fuel Tank Capacity (litres)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">60</div>
                                        <div class="data-table-td creta-content hide-content">48</div>
                                        <div class="data-table-td duster-content hide-content hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content hide">Petrol</div>

                                        <div class="data-table-td creta-content hide-content2 active">52</div>
                                        <div class="data-table-td duster-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">Petrol</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!ViewBag.isMobile)
                        {
                            <div class="margin-bottom20 margin-top20" id="moreComparison">
                                <a href="https://www.carwale.com/comparecars/mahindra-tuv300-vs-marutisuzuki-vitara-brezza-vs-ford-ecosport/?car1=4731&car2=4633&car3=4728" target="_blank" class="btn btn-orange btn-sm click_track" data-label="View Detailed Comparison">View Detailed Comparison</a>
                            </div>    
                        }                        
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section>
            <div class="container mb-view pq-box">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom20">Know More About the TUV300</h2>
                    <div class="font14 content-box-shadow content-inner-block-15nr buy-automatic-car">
                        <div class="request-callback-box">
                            <div class="grid-4 rightfloat">
                            @{ Html.RenderPartial("~/Views/Shared/ES/_LeadForm.cshtml"); }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">QUICK LINKS</h2>
        <section>
            <div class="container">
                <div class=grid-1></div>
                <div class="grid-10 quick-links">
                    <ul>
                        @*<li class="comp-border-right click_track" data-label="download brochure">
                            <span class="download-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">DOWNLOAD E-BROCHURE</span>
                        </li>*@
                        <li class="comp-border-right click_track book-drive" data-label="book test drive">
                            <span class="book-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">BOOK TEST DRIVE</span>
                        </li>
                        <li class="comp-border-right click_track check-price" data-label="check on road price">
                            <span class="check-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">CHECK ON-ROAD PRICE</span>
                        </li>
                        <li class="click_track request-callback-div" data-label="request a callback">
                            <span class="request-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">REQUEST A CALLBACK</span>
                        </li>
                    </ul>
                </div>
                <div class=grid-1></div>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</div>
