@{
    ViewBag.Title = "All About AMT";
    ViewBag.BodyClass = "bg-light-grey special-landing-page long-landing-page";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    ViewBag.landingPage = true;
    ViewBag.Responsive = true;
    ViewBag.DeeplinkAlternatives = Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString();
    ViewBag.Canonical = "";
    ViewBag.Alternate = "";
    ViewBag.CustomJS = "~/Views/StaticPartials/ES/NissanTerranoAMTScripts.cshtml";
    ViewBag.CustomCss = "~/Views/StaticPartials/ES/NissanTerranoAMTCss.cshtml";
    Layout = (ViewBag.isMobile != null && ViewBag.isMobile ? "~/views/shared/m/_MLayout.cshtml" : "~/views/shared/_Layout.cshtml");
}

<div class="nissan-main">
    <section class="full-width-carousel banner position-rel">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li>
                        <picture>
                            <source srcset="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/terrano-wallpaper-s.jpg?201611091933018540" media="(max-width: 768px)">
                            <img src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/terrano-wallpaper-l.jpg?201611091933018540" alt="Nissan Terrano">
                        </picture>
                    </li>
                </ul>
                <img class="position-abt" src="https://ad.doubleclick.net/ddm/trackimp/N6267.139588.CARWALE/B10494210.141284830;dc_trk_aid=313518939;dc_trk_cid=75544818;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" border="0" height="1" width="1" alt="Advertisement">
            </div>
        </div>
    </section>
    <div class="mb-margin">
        <section class="container">
            <div class="grid-12">
                <h2 class="text-uppercase text-center margin-bottom20 margin-top30">ALL ABOUT AMT CARS</h2>
                <div class="position-rel about-amt font14 content-box-shadow bg-white padding-bottom25">
                    <div class="padding-lr-40">
                        <div class="font14 margin-top30">
                            There was a time when the automatic gearbox was the least preferred option in the Indian automotive market. It was considered too heavy on maintenance, guzzled a lot more fuel, ate up brake pads and was considerably more expensive to buy than the manual variants. However, those were also the days when you could get from point A to B in far lesser time than you can imagine now. With congestion at an all-time high, traffic conditions are as bad as they can be. It is a time when your left leg is gaining a lot more muscle than the right one and the clutch pedal is working overtime.<br /><br /> Manufacturers have now understood that automatic transmissions are the need of the hour and as a result you have automatic variants across all segments with sales on the rise as well. Now there are different types of technologies when it comes to Automatics. While their most common function is to provide respite to the left leg, but they’re as different as chalk and cheese. We at CarWale decided to ease out this dilemma in a bid to help you find the automatic transmission of your choice.
                        </div>
                        <div class="font20 text-uppercase text-center margin-bottom10 text-black margin-top30 text-unbold">CHOOSING THE RIGHT AUTOMATIC GEARBOX</div>
                    </div>
                    <div class="cw-tabs-panel">
                        <div class="cw-tabs cw-tabs-flex">
                            <ul>
                                <li class="active" data-tabs="amt-section" data-role="click-tracking" data-event="CWInteractive" data-action="automatic-gearbox" data-cat="automatic-gearbox-tabs" data-label="AMT">AMT</li>
                                <li data-tabs="cvt-section" data-role="click-tracking" data-event="CWInteractive" data-action="automatic-gearbox" data-cat="automatic-gearbox-tabs" data-label="CVT">CVT</li>
                                <li data-tabs="torque-converter-section" data-role="click-tracking" data-event="CWInteractive" data-action="automatic-gearbox" data-cat="automatic-gearbox-tabs" data-label="Torque Converter">Torque Converter</li>
                                <li data-tabs="dct-section" data-role="click-tracking" data-event="CWInteractive" data-action="automatic-gearbox" data-cat="automatic-gearbox-tabs" data-label="DCT">DCT</li>
                            </ul>
                        </div>
                        <div class="cw-tabs-data padding-lr-40" id="amt-section">
                            <div class="font14 margin-bottom10">AMT – Automated manual transmission</div>
                            <div class="font14 margin-top5">AMT is by far the most trending gearbox of today and not without a reason. Pretty much every manufacturer have resorted to using it. </div>
                            <div class="font14 margin-top5">In case you’re wondering how so many cars incorporate the AMT transmission, it’s because it doesn't replace the manual transmission, unlike an automatic transmission system, which is entirely different. The AMT is just a kit that can be added to any manual transmission, however it has to be factory fitted. This transmission utilises several key parts which are not found in a manual transmission, in order to work properly. These include the torque converter, valve body, pump, and clutch bands.<br /><br /> The biggest advantage with the AMT besides putting your left leg at ease is that it can be more fuel efficient than a manual gearbox should you treat it well. AMTs aren’t the fastest-shifting gearboxes yet, but the technology is still evolving and is sure to get more refined. In fact, industry experts predict that 20 per cent of the passenger vehicles sold in India by 2020 will have AMTs.</div>
                        </div>
                        <div class="cw-tabs-data padding-lr-40 hide" id="cvt-section">
                            <div class="font14 margin-top5 margin-bottom10">CVT – Continuously Variable Transmission</div>
                            <div class="font14 margin-top5">This is another gearbox which has been around for a while. We have had it in cars like the Mitsubishi Outlander, and Nissan Teana, among others. Nissan has been using it in the Sunny and the Micra for a while now.<br /><br /> A CVT does exactly what it says on the label: instead of swapping through a set number of pre-determined gears, a CVT can vary its drive ratios almost infinitely on the fly. CVTs can be quite frugal and are the smoothest of the lot when it comes to shifting. It used to be plagued by the rubber-band effect wherein the revs rise quickly as you floor the accelerator but the actual acceleration does take a while. This is minimised now to the extent that it will make almost no difference in regular usage. CVTs are tried and tested and will remain one of the popular choices.</div>
                        </div>
                        <div class="cw-tabs-data padding-lr-40 hide" id="torque-converter-section">
                            <div class="font14 margin-top5 margin-bottom10">Torque Converter</div>
                            <div class="font14 margin-top5">This is the oldest of the bunch and was the most commonly used AT technology until recently. Instead of using a clutch to engage and disengage the engine's torque from the gearbox, traditional autos keep the drivetrain connected at all times by using a torque converter. This slightly complex bit of engineering pushes fluid around a sealed case using something called an impeller. The fluid drives a turbine on the other side of the case, which sends drive to the gearbox.<br /><br /> Torque-converter automatics have the clear advantage of big torque at low revs, which is great for acceleration off the line and overtaking. Acceleration from a standing start is smooth, as are the gear changes. However, one traditional problem with torque converters was that they are essentially inefficient which usually means larger-than-usual fuel bills.</div>
                        </div>
                        <div class="cw-tabs-data padding-lr-40 hide" id="dct-section">
                            <div class="font14 margin-top5 margin-bottom10">DCT – Dual Clutch Transmission</div>
                            <div class="font14 margin-top5">This is the mother lode as far as automatic transmissions go. Volkswagen, Skoda, Audi, Porsche, Mercedes-Benz and BMW are the ones that swear by twin clutch transmissions.</div>
                            <div class="font14 margin-top5">The USP of this gearbox is lightning-quick shifts which are faster than anything out there, and it is fuel efficient as well. The DCT works in a similar fashion to a manual transmission except that there are two separate gear sets and the shifting is computer controlled. More importantly, the two clutches operate different gears, which allows for gear changes to happen without disconnecting the engine from the transmission and interrupting power flow.<br /><br /> The only downside we see to a DCT is that when it does have a problem, it could end up being a costly affair. Then again, most gearboxes offered by manufacturers are quite reliable. So if you want the best of both worlds, performance like a manual and the convenience of an AT, it does not get better than DCTs. With plenty of technology available for gearboxes and it being affordable as well, automatics definitely have a bright future ahead.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section class="container">
            <h2 class="text-uppercase text-center margin-bottom20 margin-top30">KEY THINGS TO KNOW ABOUT AUTOMATED MANUAL TRANSMISSION</h2>
            <div class="grid-12">
                <div class="padding-lr-40 content-box-shadow">
                    <div class="padding-lr-40">
                        <div class="font14 margin-top20">Automated Manual Transmission (AMT) has made quite a buzz in the Indian automobile market, with a number of manufacturers adopting this technology. As the name suggests, it is a mechanism that automates a manual transmission. Here are some important things you should remember about AMTs.</div>
                        <div class="manual-transmission-bg margin-bottom30">
                            <div class="grid-6">
                                <div class="red-line-bottom bottomr point1">AMT is not a clutchless solution, it has a clutch but it is electronically operated.</div>
                            </div>
                            <div class="grid-6">
                                <div class="red-line-bottom bottoml point2">AMT is a low-cost solution that is also convenient, which is why it has been used in race cars such as Ferrari as early as 1986.</div>
                            </div>
                            <div class="grid-6">
                                <div class="red-line-bottom bottomr point3">AMT is a kit that can be added to any manual transmission, but it can only be factory fitted.</div>
                            </div>
                            <div class="grid-6">
                                <div class="red-line-bottom bottoml point4">AMT is more fuel efficient than a conventional automatic transmission, as automatic transmission reduces efficiency by up to 10 per cent in most cases.</div>
                            </div>
                            <div class="clear"></div>
                            <div class="grid-12 margin-top30 text-right">
                                <img class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/terrano-car-img1.png?201611011746211818" alt="Terrano" title="Terrano" />
                            </div>
                            <div class="clear"></div>
                            <div class="text-right margin-right40 font14">
                                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1192209382" : "1192206022")&iu=/1017752/1x1_CompareCars" target="_blank">Know More About Terrano AMT</a>
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container mb-view">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom20">AMT the game changer in India</h2>
                    <div class="padding-lr-40 content-box-shadow">
                        <div class="font18 text-unbold margin-top20">Nissan Terrano six-speed Advance Auto Drive AMT</div>
                        <img class="lazy rightfloat margin-bottom20 margin-top10 margin-left20" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/top-3-diesel-automatic-article-new.jpg" alt="Nissan Terrano six-speed Advance Auto Drive AMT" title="Nissan Terrano six-speed Advance Auto Drive AMT" style="max-width:100%; width:auto;" />
                        <div class="font14 margin-top10">
                            SUVs are the flavour of the season and that is going to continue for a lot more seasons to come. We all love our SUVs. They are big, burly and generally guzzle a lot of fuel. The demand for SUVs with economical diesel engines and automatic gearboxes is on a rise in the country. The Nissan Terrano that comes equipped with the 6-speed Advance Auto Drive AMT gearbox on the top-spec XV THP diesel variant is then, the perfect car for all of us.
                            <div class="font14 margin-top10"><a href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1193688982" : "1193686342")&iu=/1017752/1x1_CompareCars" target="_blank" class="margin-top5 font14 inline-block text-underline">Read More</a></div>
                        </div>
                        <div class="font14 margin-top10"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <section>
            <div class="container mb-view automatic-vs-manual">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-bottom20 margin-top40">New Nissan Terrano with 6-Speed Auto Drive </h2>
                    <div class="font14 content-box-shadow padding-lr-40 padding-bottom20">
                        <div>
                            <div class="grid-5 alpha">
                                <div class="font18 padding-top20 margin-bottom15">All-New Nissan Terrano 6 Speed Advanced Auto Drive</div>
                                <div class="font14 margin-bottom10">Experience the New #NissanTerrano with the 6 Speed Advanced Auto Drive, Japanese Quality, Raw Power combined with ultimate ease.</div>
                                <div class="font14 margin-bottom10">Price Starts at 13.75 Lakhs*</div>
                                <div class="font14 margin-bottom10">Bookings Now Open. </div>

                                <div class="margin-top20 ">
                                    <a href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1192209502" : "1192206142")&iu=/1017752/1x1_CompareCars" target="_blank" class="font14 text-link text-underline">Know More About Terrano AMT</a> |
                                    <a href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1192212142" : "1192206262")&iu=/1017752/1x1_CompareCars" target="_blank" class="font14 text-link text-underline">Contact Nissan</a>
                                </div>
                                <div class="font10 text-light-grey margin-top20">*T&C Apply</div>
                            </div>
                            <div class="grid-7 omega margin-top30 margin-bottom30">
                                <div class="video-container">
                                    <iframe width="523" height="295" src="https://www.youtube.com/embed/Ca1KdCVVjRU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <section class="container terrano-compare-main">
            <div class="grid-12">
                <h2 class="text-uppercase text-center margin-top40 margin-bottom20">Nissan’s advantage over competition</h2>
                <div class="padding-lr-40 content-box-shadow">
                    <div class="position-rel margin-top20">
                        <div class="select-compare-car">
                            <div class="selected-car rounded-corner2">
                                <span id="selected-car-name">Hyundai creta</span>
                                <span class="accordion-sprite plus-icon"></span>
                                <div class="clear"></div>
                            </div>
                            <ul class="show-car-list hide">
                                <li id="compare-creta" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-dropdown" data-cat="comparo-dropdown-option" data-label="Hyundai creta">Hyundai creta</li>
                                <li id="compare-duster" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-dropdown" data-cat="comparo-dropdown-option" data-label="Renault Duster">Renault Duster</li>
                                <li id="compare-tuv300" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-dropdown" data-cat="comparo-dropdown-option" data-label="Mahindra TUV300">Mahindra TUV300</li>
                                <li id="compare-ecosport" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-dropdown" data-cat="comparo-dropdown-option" data-label="Ford Ecosport">Ford Ecosport</li>
                            </ul>
                        </div>
                        <div class="car-models">
                            <ul>
                                <li class="comp-border-right grid-6">
                                    <div class="compare-img-container">
                                        <img class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-terrano.jpg?201611011746211818" border="0" alt="Nissan Terrano" title="Nissan Terrano" />
                                    </div>
                                    <h4>Nissan Terrano</h4>
                                    <div class="clear"></div>
                                </li>
                                <li class="grid-6">
                                    <div class="car-name">
                                        <div class="creta-content hide-content">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-creta.jpg?201611011746211818" border="0" alt="Hyundai Creta" title="Hyundai Creta" />
                                            </div>
                                            <h4>Hyundai Creta</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="duster-content hide-content hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-duster.jpg?201611011746211818" border="0" alt="Renault Duster" title="Renault Duster" />
                                            </div>
                                            <h4>Renault Duster</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="tuv300-content hide-content hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-tuv300.jpg?201611011746211818" border="0" alt="Mahindra TUV300" title="Mahindra TUV300" />
                                            </div>
                                            <h4>Mahindra TUV300</h4>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="ecosport-content hide-content hide">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/compare-section-ecosport.jpg?201611011746211818" border="0" alt="Ford Ecosport" title="Ford Ecosport" />
                                            </div>
                                            <h4>Ford Ecosport</h4>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="comparo-accordion">
                            <ul>
                                <li class="sep" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-widget" data-cat="comparo-widget-tabs" data-label="Highlights">
                                    <h5 class="active-text">Highlights</h5>
                                    <span class="accordion-sprite minus-icon plus-icon"></span>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="data">
                                <div class="data-table">
                                    <div class="data-table-th">Ground clearance (mm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">205</div>
                                        <div class="data-table-td creta-content hide-content">190</div>
                                        <div class="data-table-td duster-content hide-content hide">205</div>
                                        <div class="data-table-td tuv300-content hide-content hide">190</div>
                                        <div class="data-table-td ecosport-content hide-content hide">200</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Mileage (kmpl)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">19.61</div>
                                        <div class="data-table-td creta-content hide-content">17.01</div>
                                        <div class="data-table-td duster-content hide-content hide">19.6</div>
                                        <div class="data-table-td tuv300-content hide-content hide">18.49</div>
                                        <div class="data-table-td ecosport-content hide-content hide">16.5</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Length (mm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">4331</div>
                                        <div class="data-table-td creta-content hide-content">4270</div>
                                        <div class="data-table-td duster-content hide-content hide">4315</div>
                                        <div class="data-table-td tuv300-content hide-content hide">3995</div>
                                        <div class="data-table-td ecosport-content hide-content hide">3999</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Height (mm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">1671</div>
                                        <div class="data-table-td creta-content hide-content">1630</div>
                                        <div class="data-table-td duster-content hide-content hide">1695</div>
                                        <div class="data-table-td tuv300-content hide-content hide">1839</div>
                                        <div class="data-table-td ecosport-content hide-content hide">1708</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Fuel Type</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">Diesel</div>
                                        <div class="data-table-td creta-content hide-content">Diesel</div>
                                        <div class="data-table-td duster-content hide-content hide">Diesel</div>
                                        <div class="data-table-td tuv300-content hide-content hide">Diesel</div>
                                        <div class="data-table-td ecosport-content hide-content hide">Petrol</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comparo-accordion">
                            <ul>
                                <li class="sep" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-widget" data-cat="comparo-widget-tabs" data-label="Safety Features">
                                    <h5>Safety Features</h5>
                                    <span class="accordion-sprite plus-icon"></span>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="data hide">
                                <div class="data-table creta-data">
                                    <div class="data-table-th">Speed sensing door lock</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td creta-content hide-content"><span class="fa fa-times"></span></div>
                                        <div class="data-table-td duster-content hide-content hide"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td tuv300-content hide-content hide"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td ecosport-content hide-content hide"><span class="fa fa-check"></span></div>
                                    </div>
                                </div>
                                <div class="data-table creta-data">
                                    <div class="data-table-th">Hill Start Assist</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td creta-content hide-content"><span class="fa fa-times"></span></div>
                                        <div class="data-table-td duster-content hide-content hide"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td tuv300-content hide-content hide"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td ecosport-content hide-content hide"><span class="fa fa-check"></span></div>
                                    </div>
                                </div>
                                <div class="data-table creta-data">
                                    <div class="data-table-th">ABS + EBD + BA</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td creta-content hide-content"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td duster-content hide-content hide"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td tuv300-content hide-content hide"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td ecosport-content hide-content hide"><span class="fa fa-check"></span></div>
                                    </div>
                                </div>
                                <div class="data-table creta-data">
                                    <div class="data-table-th">Electronic Stability Program</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td creta-content hide-content"><span class="fa fa-times"></div>
                                        <div class="data-table-td duster-content hide-content hide"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td tuv300-content hide-content hide"><span class="fa fa-times"></div>
                                        <div class="data-table-td ecosport-content hide-content hide"><span class="fa fa-check"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comparo-accordion">
                            <ul>
                                <li class="sep" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-widget" data-cat="comparo-widget-tabs" data-label="Comfort & Convenience">
                                    <h5>Comfort & Convenience</h5>
                                    <span class="accordion-sprite plus-icon"></span>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="data hide">
                                <div class="data-table creta-data">
                                    <div class="data-table-th">Wheelbase (mm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">2673</div>
                                        <div class="data-table-td creta-content hide-content">2590</div>
                                        <div class="data-table-td duster-content hide-content hide">2673</div>
                                        <div class="data-table-td tuv300-content hide-content hide">2680</div>
                                        <div class="data-table-td ecosport-content hide-content hide">2520</div>
                                    </div>
                                </div>
                                <div class="data-table creta-data">
                                    <div class="data-table-th">Leather Upholstery</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td"><span class="fa fa-check"></span></div>
                                        <div class="data-table-td creta-content hide-content"><span class="fa fa-times"></span></div>
                                        <div class="data-table-td duster-content hide-content hide"><span class="fa fa-times"></span></div>
                                        <div class="data-table-td tuv300-content hide-content hide"><span class="fa fa-times"></span></div>
                                        <div class="data-table-td ecosport-content hide-content hide"><span class="fa fa-times"></span></div>
                                    </div>
                                </div>
                                <div class="data-table creta-data">
                                    <div class="data-table-th">12V Power Outlets</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">2</div>
                                        <div class="data-table-td creta-content hide-content">2</div>
                                        <div class="data-table-td duster-content hide-content hide">1</div>
                                        <div class="data-table-td tuv300-content hide-content hide">2</div>
                                        <div class="data-table-td ecosport-content hide-content hide">2</div>
                                    </div>
                                </div>
                                <div class="data-table creta-data">
                                    <div class="data-table-th">Minimum Turning Radius (mm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">5.2</div>
                                        <div class="data-table-td creta-content hide-content">5.3</div>
                                        <div class="data-table-td duster-content hide-content hide">5.2</div>
                                        <div class="data-table-td tuv300-content hide-content hide">5.35</div>
                                        <div class="data-table-td ecosport-content hide-content hide">5.3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quick-links">
                            <div class="leftfloat brand-logo"><img class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/nissan-logo-small.jpg" style="border:0px;" alt="Honda" title="Honda" /></div>
                            <div class="leftfloat margin-top12">
                                <a class="bottom-link" target="_blank" href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1188634582" : "1188631582")&iu=/1017752/1x1_CompareCars">Explore Nissan Terrano </a> |
                                <a class="bottom-link" target="_blank" href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1188634822" : "1188631942")&iu=/1017752/1x1_CompareCars">Check On-road Price </a> |
                                <a class="bottom-link" target="_blank" href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1188635062" : "1188632182")&iu=/1017752/1x1_CompareCars">Locate nearest dealer </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section>
            <div class="container mb-view">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom20">Experience The Nissan Terrano AMT</h2>
                    <div class="font14 content-box-shadow content-inner-block-15nr buy-automatic-car">
                        <div class="grid-7">
                            <div class="buy-car-btn">
                                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1192209262" : "1192205902")&iu=/1017752/1x1_CompareCars" target="_blank" class="margin-top15 font14 margin-right10">Know More</a>
                            </div>
                        </div>
                        <div class="grid-4 rightfloat">
                        @{ Html.RenderPartial("~/Views/Shared/ES/_LeadForm.cshtml"); }
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <section>
            <div class="container mb-view margin-bottom30 car-buying-guide ">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom20">Car Buying Guide</h2>
                    <div class="font14 content-box-shadow content-inner-block-15nr">
                        <div class="grid-5 rightfloat nissan-logo-small car-buying-guide-bg padding-top30 alpha">
                            <img class="lazy" src="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/static/circle-loader.gif" data-original="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/es/nissan-terrano-amt/terrano-car-img1.png?201611011746211818" alt="Automatic cars for commuting the choice of Urban India" title="Automatic cars for commuting the choice of Urban India" />
                        </div>
                        <div class="grid-7 omega icons-group">
                            <div class="grid-12 font18 margin-top10 text-unbold">Why Choose An AMT Car?</div>
                            <div class="grid-6 margin-top20">
                                <div class="car-buying-sprite nissan-gears-icon leftfloat"></div>
                                <div class="icon-content leftfloat margin-left10">Drive without shifting gears</div>
                                <div class="clear"></div>
                            </div>
                            <div class="grid-6 margin-top20">
                                <div class="car-buying-sprite nissan-clutch-throttle-icon  leftfloat"></div>
                                <div class="icon-content leftfloat margin-left10">Need not worry about the clutch-throttle dance</div>
                                <div class="clear"></div>
                            </div>
                            <div class="grid-6 margin-top20">
                                <div class="car-buying-sprite nissan-effortless-driving-icon leftfloat"></div>
                                <div class="icon-content leftfloat margin-left10">Effortless driving in traffic as well as on the highway</div>
                                <div class="clear"></div>
                            </div>
                            <div class="grid-6 margin-top20">
                                <div class="car-buying-sprite nissan-manual-transmission-icon leftfloat"></div>
                                <div class="icon-content leftfloat margin-left10">As fuel efficient as manual transmission</div>
                                <div class="clear"></div>
                            </div>
                            <div class="grid-12 margin-top20">
                                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=@(ViewBag.isMobile ? "1188635182" : "1188632662")&iu=/1017752/1x1_CompareCars" target="_blank" class="margin-top5 font14 inline-block">Experience Now</a>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    </div>
</div>
