@model Carwale.DTOs.CMS.ContentDetailDTO
@using Carwale.Utility;
@{
    ViewBag.Title = @Model.Article.Title;
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.BodyClass = "header-fixed-inner";
    Layout = "~/views/shared/_Layout.cshtml";
    ViewBag.CustomCss = "~/Views/StaticPartials/ES/TrackDayCss.cshtml";
    ViewBag.CustomJS = "~/Views/StaticPartials/ES/TrackDayScript.cshtml";
    ViewBag.Canonical = "https://www.carwale.com/";
}

<section class="container">
    <div class="grid-12">
        <div class="intro-box content-box-shadow margin-top10 bg-white margin-bottom20">
            <div class="trackday-logo">
                <span></span>
            </div>
            @if (Model.Article.OriginalImgUrl != "")
            {
                <div class="trackday-img">
                    <img title="@Model.Article.Title" alt="@Model.Article.Title" src="@Carwale.Utility.ImageSizes.CreateImageUrl(@Model.Article.HostUrl,Carwale.Utility.ImageSizes._958X539,@Model.Article.OriginalImgUrl)">
                </div>
            }

            <h1 class="margin-top20 text-center article-heading position-rel padding-bottom15">@Model.Article.Title</h1>
            <div class="author-name">
                <p class="text-link margin-bottom5 text-italic font13">@Model.Article.AuthorName</p>
                <span class="font12 text-light-grey">@Model.Article.DisplayDate.ConvertDateToDays()</span>
            </div>

           @Html.Raw(Model.Article.Content.Replace("600x337", "1280x720"))

            @if (ViewBag.ArticleImages != null && ViewBag.ArticleImages.Count > 0)
            {

                <div class="content-box-shadow trackday-gallery-section">
                    <div class="connected-carousels-photos">
                        <div class="stage-photos stage-media">
                            <div class="carousel carousel-stage carousel-stage-media">
                                <ul>
                                    @foreach (var modelImage in ViewBag.ArticleImages)
                                    {
                                        
                                        <li>
                                            <div class="gallery-photo-img-container">
                                                <span>
                                                    <img class="lazy" data-original="@(modelImage.HostUrl + "1280x720" + modelImage.OriginalImgPath)" alt="Action" src="" />
                                                </span>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <a href="#" class="prev photos-prev-stage cwsprite media-prev-next-stage" rel="nofollow"></a>
                            <a href="#" class="next photos-next-stage cwsprite media-prev-next-stage" rel="nofollow"></a>
                        </div>

                        <div class="navigation navigation-media">
                            <a href="#" class="prev photos-prev-navigation cwsprite media-prev-next-nav" rel="nofollow"></a>
                            <a href="#" class="next photos-next-navigation cwsprite media-prev-next-nav" rel="nofollow"></a>
                            <div class="carousel carousel-navigation carousel-navigation-media">
                                <ul>
                                    @foreach (var modelImage in ViewBag.ArticleImages)
                                    {
                                        <li>
                                            <div class="gallery-photo-nav-img-container">
                                                <span>
                                                    <img class="lazy" data-original="@(modelImage.HostUrl + "174x98" + modelImage.OriginalImgPath)" alt="Action" src="" />
                                                </span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="gallery-close-btn" class="cwsprite cross-lg-white"></div>
            <div id="gallery-blackOut-window" class="gallery-blackout-window"></div>

            @if (ViewBag.RelatedArticles != null && ViewBag.RelatedArticles.Articles.Count > 0)
            {
                <div class="content-inner-block-10 margin-top10">
                    <h2>More Carwale Track Day Articles</h2>
                    <ul class="related-articles-list">
                        @foreach (var relatedArticle in ViewBag.RelatedArticles.Articles)
                        {
                            if (relatedArticle.BasicId != Model.Article.BasicId)
                            {
                                <li><a data-role="click-tracking" data-event="CWInteractive" data-cat="Trackday" data-action="links_click" data-label="@(relatedArticle.BasicId)_click" href="@(relatedArticle.ArticleUrl)" title="@relatedArticle.Title">@relatedArticle.Title</a></li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="clear"></div>
</section>

