@model Bikewale.Models.DealerServiceCenterWidgetVM
<div id="makeDealersContent" class="bw-model-tabs-data padding-top20 padding-bottom20 font14">
    <h2>@Model.Title</h2>
    <div class="jcarousel-wrapper inner-content-carousel no-city-selection-carousel">
        <div class="jcarousel">
            <ul>
                @foreach (var details in Model.DealerDetails)
                {
                    <li>
                        <div class="dealer-jcarousel-image-preview">
                            <span class="city-sprite @details.CityMaskingName-icon"></span>
                        </div>
                        @if (details.DealerCount > 0)
                        {
                            <a href="@string.Format("/dealer-showrooms/{0}/{1}/", Model.MakeMaskingName,details.CityMaskingName)" title="@string.Format("{0} Showrooms in {1}", Model.MakeName,details.CityName)" class="block">
                                @details.DealerCount showroom
                            </a>
                        }
                        @if (details.ServiceCenterCount > 0)
                        {
                            <a href="@string.Format("/service-centers/{0}/{1}/", Model.MakeMaskingName, details.CityMaskingName)" title="@string.Format("{0} Service Centers in {1}", Model.MakeName, details.CityName)" class="block">
                                @details.ServiceCenterCount service center
                            </a>
                        }
                    </li>
                    if (Model.TotalDealerCount > 0 || Model.TotalServiceCenterCount > 0)
                    {
                        <li>
                            <div class="dealer-jcarousel-image-preview">
                                <span class="city-sprite india-icon"></span>
                            </div>
                            <div class="font14 padding-left20 padding-right20 padding-bottom20">
                                <p class="text-default text-bold margin-bottom5">@Model.MakeName outlets in India</p>
                                @if (Model.TotalDealerCount > 0)
                                {
                                    <a href="/dealer-showrooms/@Model.MakeMaskingName/" title="@Model.MakeName showroom in India" class="block">@Model.TotalDealerCount showrooms</a>
                                }
                                @if (Model.TotalServiceCenterCount > 0)
                                {
                                    <a href= "@string.Format("/service-centers/{0}/",Model.MakeMaskingName)"  title="@Model.MakeName service center in India" class="block">@Model.TotalDealerCount service centers</a>
                                }
                            </div>
                        </li>
                    }

                }
            </ul>
        </div>
        <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
        <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
    </div>
</div>
<div class="margin-right10 margin-left10 border-solid-bottom"></div>
