@model Bikewale.Models.MakePageVM
@using Bikewale.Utility
@using Bikewale.Entities.BikeData
@using Bikewale.BAL.ApiGateway.Entities.BikeData
@if (Model != null)
{
    {
        Layout = "~/UI/Views/Shared/_Layout_Mobile_AMP.cshtml";
        Model.Amp_Page_CSS = @"*,html{box-sizing:border-box}*,h1,html{margin:0;padding:0}h1,h2{color:#2a2a2a}.btn,.model__explore-card,.model__explore-card:hover,a{text-decoration:none}.clear,.clearfix,.container{clear:both}.btn-red-arrow,.position-rel,.review-left-divider{position:relative}.btn-card,.dropdown-select-wrapper p,.text-truncate{text-overflow:ellipsis;overflow:hidden}.btn,input[type=range]{-webkit-appearance:none}#comparisonSwiper h3+.grid-6:after,.compare-with-target:before,.dropdown-select-wrapper p:after,.review-left-divider:before,.view-cities-link:before{content:''}#select-box:focus,.btn,.read-more-button:focus,input[type=range]:focus{outline:0}html{font-size:13px;background:#f5f5f5;font-family:'Open Sans',sans-serif,Arial;color:#4d5057;line-height:1.42857143}h1{font-size:18px;font-weight:700}.font-bold,h2,h3{font-weight:600}h2{font-size:16px}.text-default,h3{color:#4d5057}h3{font-size:14px}.grid-12{width:100%}.grid-9{width:75%}.grid-8{width:66.66666667%}.grid-7{width:58.33333333%}.grid-5{width:41.66666667%}.grid-4{width:33.33333333%}.grid-3{width:25%}.grid-1,.grid-10,.grid-11,.grid-12,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9{float:left;position:relative;min-height:1px;padding-right:10px;padding-left:10px}.padding-top10{padding-top:10px}.padding-top15{padding-top:15px}.padding-top20{padding-top:20px}.orpContent-block.padding-top40{padding-top:40px}.padding-left5{padding-left:5px}.padding-left10{padding-left:10px}.padding-left15{padding-left:15px}.padding-left20{padding-left:20px}.padding-right20{padding-right:20px}.padding-bottom5{padding-bottom:5px}.padding-bottom10{padding-bottom:10px}.padding-bottom15{padding-bottom:15px}.padding-bottom20{padding-bottom:20px}.padding-15-20{padding:15px 20px}.text-right{text-align:right}.text-center{text-align:center}.text-slate-grey{color:#787878}.text-xx-light{color:#a2a2a2}.margin-right5{margin-right:5px}.margin-right10{margin-right:10px}.margin-right20{margin-right:20px}.margin-left20{margin-left:20px}.margin-top5{margin-top:5px}.margin-top15{margin-top:15px}.margin-bottom15{margin-bottom:15px}.margin-bottom16{margin-bottom:16px}.margin-bottom10{margin-bottom:10px}.margin-bottom5{margin-bottom:5px}.font11{font-size:11px}.font12{font-size:12px}.btn-180-34,.font14{font-size:14px}.font20{font-size:20px}.font15{font-size:15px}.alpha{padding-left:0}.omega{padding-right:0}.text-light-grey{color:#82888b}.text-unbold{font-weight:400}.text-bold{font-weight:700}.line-height16{line-height:1.6}.border-solid-top{border-top:1px solid #e2e2e2}.border-solid-bottom{border-bottom:1px solid #e2e2e2}.review-left-divider{margin-left:15px;padding-left:15px;padding-right:5px}.divider-bottom{border-bottom:1px solid #eee}a{color:#0288d1}.hide{display:none}.inline-block{display:inline-block;vertical-align:middle}.vertical-top{display:inline-block;vertical-align:top}.block,.target-link{display:block}.pos-top2{top:2px}.text-truncate{width:100%;text-align:left;white-space:nowrap}.btn,.overall-specs-tabs-wrapper li{text-align:center;white-space:nowrap;cursor:pointer}.target-link{color:#2a2a2a;font-weight:600}.btn{display:inline-block;padding:8px 42px;font-size:16px;line-height:1.42857143;border:1px solid transparent;border-radius:2px;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none}.btn-teal{background:#41b4c4;color:#fff;border:1px solid #41b4c4}.btn-white{background:#fff;color:#e42029;border:1px solid #e42029}.btn-180-34{width:180px;padding:6px}.btn-160-32,.btn-170-32,.btn-card{padding:5px;font-size:14px}.btn-red-arrow{width:6px;height:10px;background-position:-204px -35px;margin-left:5px;top:1px}.btn-inv-teal,.view-all-target-btn{background:0 0;color:#3799a7;border:1px solid #3799a7}.btn-170-32{width:170px}.btn-160-32{min-width:160px}.btn-full-width{display:block;width:100%}.campaign__floating-btn{position:fixed;bottom:0;right:0;left:0;z-index:8;padding:10px;background:#fff;-moz-box-shadow:0 0 7px #ccc;-webkit-box-shadow:0 0 7px #ccc;-o-box-shadow:0 0 7px #ccc;box-shadow:0 0 7px #ccc}.btn__left-label{color:#82888b;position:relative;top:6px}.btn.btn-full-32{width:100%;padding:5px;font-size:14px;border-radius:2px}.content-box-shadow,.item-more-details-list a{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px}.btn-orange{background:#ef3030;color:#fff}ol,ul{list-style:none}.campaign__powered-key{font-size:12px;color:#a2a2a2}.campaign__powered-value{font-size:13px;color:#82888b}.item-more-details-list li{float:left;margin-bottom:8px;margin-right:8px}.container{width:100%;margin:0 auto}.price-in-city__head{padding:10px 20px 0;font-size:20px;background:#fff}#modelOverallSpecsTopContent{height:44px}#overallSpecsTab{width:100%;display:block;background:#fff;overflow-x:auto;z-index:3;-webkit-overflow-scrolling:touch;position:-webkit-sticky;position:sticky;top:0;-moz-box-shadow:0 4px 5px -2px #d5d5d5;-webkit-box-shadow:0 4px 5px -2px #d5d5d5;-o-box-shadow:0 4px 5px -2px #d5d5d5;-ms-box-shadow:0 4px 5px -2px #d5d5d5;box-shadow:0 4px 5px -2px #d5d5d5}.content-box-shadow,.orpContent-block{-moz-box-shadow:2px 2px 2px #dcdcdc;-webkit-box-shadow:2px 2px 2px #dcdcdc;-o-box-shadow:2px 2px 2px #dcdcdc;-ms-box-shadow:2px 2px 2px #dcdcdc}.overall-specs-tabs-wrapper{width:100%;display:table}.overall-specs-tabs-wrapper li{display:table-cell;width:1%;font-size:14px;color:#82888b}.overall-specs-tabs-wrapper li a{color:#82888b;padding:10px 15px;display:inline-block}.overall-specs-tabs-wrapper li.active{border-bottom:3px solid #ef3f30;color:#4d5057;font-weight:600;outline-color:transparent;}.dropdown-select-wrapper p,.dropdown-select-wrapper p:focus,.select-wrapper__list[selected]{border-bottom:1px solid #82888b}.overall-specs-tabs-wrapper li.active a{color:#4d5057}#overallSpecsTab::-webkit-scrollbar{width:0;height:0;display:none}.card-bottom-margin,.section-bottom-margin{margin-bottom:20px}.content-box-shadow{background:#fff;box-shadow:2px 2px 2px #dcdcdc;-o-border-radius:2px;border-radius:2px}.content-inner-block-20{padding:20px}.model-image{width:96px;height:53px;display:inline-block;vertical-align:top}.model-image a{display:inline-block;height:48px;width:86px}.model-version-block{width:60%;display:inline-block;padding-left:15px;position:relative;font-size:14px}.version-block__title{color:#82888b;font-size:12px}.dropdown-select-wrapper{min-width:125px;max-width:185px;font-size:14px;position:relative;display:inline-block;vertical-align:middle;color:#4d5057}.dropdown-select-wrapper p{cursor:pointer;padding-right:30px;font-size:14px;padding-top:5px;padding-bottom:5px;max-width:185px;font-weight:600;white-space:nowrap}.dropdown-select-wrapper p:after{display:block;position:absolute;right:5px;top:10px;width:10px;height:5px;background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 94% no-repeat}.select-wrapper__list{position:absolute;top:35px;background:#fff}#select-option{min-width:150px;max-width:250px;-moz-box-shadow:0 1px 1px 1px #d5d5d5;-webkit-box-shadow:0 1px 1px 1px #d5d5d5;-o-box-shadow:0 1px 1px 1px #d5d5d5;-ms-box-shadow:0 1px 1px 1px #d5d5d5;box-shadow:0 1px 1px 1px #d5d5d5}#select-option div{padding:5px 10px;cursor:pointer}.model-version-block amp-selector [option][selected]{cursor:auto;outline:0}.price-table__heading{padding-bottom:15px;color:#4d5057;font-size:14px;text-align:left}.model-version_price-table{width:100%}.model-version_price-table td{font-size:14px}.info-grey-14{width:14px;height:15px;background-position:-173px -613px;position:relative;top:2px;margin-right:2px;cursor:pointer}.position--left-neg-5{left:-5px}.rate-count-1 .star-icon{background-position:0 -667px}.rate-count-2 .star-icon{background-position:-38px -667px}.rate-count-3 .star-icon{background-position:0 -278px}.rate-count-4 .star-icon{background-position:-74px -667px}.rate-count-5 .star-icon{background-position:-110px -667px}.star-icon.star-size-16{-webkit-transform:scale(.6);-moz-transform:scale(.6);-o-transform:scale(.6);transform:scale(.6)}.star-icon{width:26px;height:25px;vertical-align:middle;-webkit-transform:scale(.8);-moz-transform:scale(.8);-o-transform:scale(.8);transform:scale(.8)}.review-left-divider:before{position:absolute;top:4px;left:0;width:1px;height:12px;border-left:1px solid #e2e2e2}.model-more-info-section .item-image-content{width:100px;height:56px;display:inline-block;vertical-align:top;background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) center no-repeat}.item-image-content img{width:100%}.model-more-info-section .bike-details-block{width:62%;vertical-align:top;display:inline-block;padding-left:10px}.price-label-size-12{font-size:12px;color:#82888b}.price-value-size-18{font-size:18px;font-weight:700}.item-more-details-list a{display:block;padding:1px 8px 5px;color:#787878;background:rgba(245,245,245,.9);border-radius:2px}.photos-sm{background-position:0 -477px}.photos-sm,.videos-sm{width:14px;height:14px;vertical-align:middle;margin-right:3px}.item-more-details-list .icon-label{font-size:13px;display:inline-block;vertical-align:middle;line-height:13px}.dealers-sm{background-position:-31px -476px}.specs-sm{background-position:-141px -555px}.dealers-sm,.news-sm,.reviews-sm,.specs-sm,.user-reviews-sm{width:14px;height:14px;vertical-align:middle;margin-right:3px}.videos-sm{background-position:-16px -476px}.model-more-info-section .used-target-label{width:94%}.next-grey-icon{width:8px;height:13px;background-position:-182px -393px;vertical-align:middle}.carousel-heading-content{margin-bottom:10px;padding-right:15px;padding-left:20px}.swiper-heading-left-grid{width:77%;margin-right:-4px}.swiper-heading-right-grid{width:23%}.view-all-target-btn{padding:5px 6px;font-size:14px}.dealer-horizontal-swiper .swiper-slide{width:253px}.swiper-slide:first-child{margin-left:5px}.swiper-card{vertical-align:top;margin:2px 3px 2px 5px;min-height:170px;background:#fff;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.2);-moz-box-shadow:0 1px 4px rgba(0,0,0,.2);-ms-box-shadow:0 1px 4px rgba(0,0,0,.2);box-shadow:0 1px 4px rgba(0,0,0,.2);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px}.dealership-loc-icon{width:12px;height:15px;background-position:-40px -435px;position:relative;top:4px}.dealership-address{color:#82888b;width:92%;font-size:14px;display:inline-block;vertical-align:top;white-space:normal;text-align:left;max-height:80px;overflow:hidden}.tel-sm-grey-icon{width:15px;height:15px;background-position:0 -435px;position:relative;top:2px}.dealer-horizontal-swiper::-webkit-scrollbar{width:0;height:0;display:none}.service-center-grey{width:28px;height:25px;background-position:0 -636px;vertical-align:middle}.grid-11-inline{display:inline-block;vertical-align:middle;width:88.66666667%}.card-h2-heading{font-size:18px}.teal-right{background-position:-69px -437px}.blue-right-arrow-icon,.teal-right{width:6px;height:10px;position:relative;top:1px;margin-left:6px}.emi-slider-box-right-section{text-align:right}#emiContent .inr-xxsm-icon{width:8px}.inr-xxsm-icon{width:11px;height:10px;background-position:-54px -94px}#versionContent td a{font-size:14px}#viewmore{color:#0288d1}.view-cities-link:before{width:100%;height:20px;position:absolute;top:-40px;left:0;z-index:1;background:-moz-linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);background:-o-linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);background:linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%)}#popularContent .swiper-card,#similarContent .swiper-card{margin-left:8px;padding:5px;width:200px;min-height:210px}.swiper-card:first-child{margin-left:8px}.swiper-card:last-child{margin-right:8px}.carousel-image-preview{height:95px;padding:5px 5px 0;position:relative}.carousel-slide img{max-width:100%}.carousel-image-preview img{height:90px}#similarContent .swiper-details-block{padding:5px 15px 0}#similarContent .swiper-btn-block{padding:10px 15px 15px}.compare-with-target{display:block;padding:10px 35px 0 15px;position:relative;font-size:12px;color:#4d5057;top:-1px}.compare-with-target:before{position:absolute;left:8%;top:0;width:168px;height:1px;border-top:1px solid #e2e2e2}.compare-sm{width:17px;height:12px;background-position:-173px -596px;position:relative;top:1px;margin-right:5px}.swiper-type-similar .right-arrow{right:18px;top:13px;transform:scale(.8)}.right-arrow{width:8px;height:12px;background-position:-182px -394px;position:absolute;right:20px;top:41%}#swiper-city .swiper-card{width:200px;margin-left:8px}#swiper-city .swiper-image-preview{height:100px;padding:25px 0 10px;border-bottom:1px solid #eee;text-align:center}.c-bangalore-icon,.c-chennai-icon,.c-hyderabad-icon,.c-kolkata-icon,.c-lucknow-icon,.c-mumbai-icon,.c-newdelhi-icon,.c-pune-icon{height:48px}.c-mumbai-icon{width:78px;background-position:0 0}.c-pune-icon{width:112px;background-position:-84px 0}.c-bangalore-icon{width:82px;background-position:-202px 0}.c-newdelhi-icon{width:38px;background-position:-290px 0}.c-chennai-icon{width:33px;background-position:-334px 0}.c-hyderabad-icon{width:34px;background-position:-373px 0}.c-kolkata-icon{width:110px;background-position:-413px 0}.c-lucknow-icon{width:106px;background-position:-529px 0}#swiper-city .swiper-details-block{padding-top:10px}.graph-rank-grey{width:28px;height:25px;background-position:-62px -637px;vertical-align:middle}.text-white{color:#fff}@media screen and (-webkit-min-device-pixel-ratio:0){input[type=range]{overflow:hidden;width:100%;-webkit-appearance:none;background-color:#e2e2e2}input[type=range]::-webkit-slider-runnable-track{height:10px;-webkit-appearance:none;color:#ef3030;margin-top:1px}input[type=range]::-webkit-slider-thumb{width:10px;border-radius:50%;border:1px solid #930202;-webkit-appearance:none;height:10px;cursor:ew-resize;background:#ef3030;box-shadow:-605px 10px 0 600px #ef3030}}input[type=range]{overflow:hidden;width:100%}input[type=range]::-moz-range-thumb{border-radius:10px;-moz-box-shadow:inset 0 0 6px #fff;background:#ef3030;color:#00f}input[type=range]::-moz-range-progress{background-color:#ef3030}input[type=range]::-moz-range-track{background-color:#bababa}input[type=range]::-ms-track{width:100%;height:5px;background:0 0;border-color:transparent;border-width:6px 0;color:transparent}input[type=range]::-ms-fill-lower{background:#ef3030;border-radius:10px}input[type=range]::-ms-fill-upper{background:#bababa;border-radius:10px}input[type=range]::-ms-thumb{border:none;height:16px;width:16px;border-radius:50%;background:#ef3030}input[type=range]:focus::-ms-fill-lower{background:#ef3030}input[type=range]:focus::-ms-fill-upper{background:#bababa}div::-webkit-scrollbar{display:none;width:0;height:0}.orpContent-block{padding:20px;margin-bottom:20px;background:#fff;box-shadow:2px 2px 2px #dcdcdc;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;border-radius:2px}.version-table__head tr{font-weight:400;color:#82888b;font-size:12px}.dealer-contact,.dealer-name,.swiper-block__title{text-align:left;font-weight:600;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.version-table__head th{padding-bottom:10px;border-bottom:1px solid #e2e2e2}.version-table__body td{border-bottom:1px solid #eee;font-size:14px;color:#787878;padding-bottom:10px;padding-top:10px}.price-table__body td:first-child{color:#787878}.price-table__body td{padding-bottom:15px}.price-table__body tr:last-child td{padding-bottom:5px;padding-top:15px;border-top:1px solid #e2e2e2;font-size:14px;color:#4d5057}.dealer-name{color:#2a2a2a;display:block;font-size:15px;margin-bottom:10px}.dealer-contact{font-size:14px;color:#4d5057}.swiper-block__title{color:#2a2a2a;display:block;margin-bottom:5px;font-size:12px}.city-area-banner{width:100%;height:109px;background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/city-area-banner.png) center bottom repeat-x #f5f5f5}.city-sprite{background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite.png?26Dec2016) no-repeat;display:inline-block}.ahmedabad-icon,.bangalore-icon,.chandigarh-icon,.chennai-icon,.delhi-icon,.hyderabad-icon,.india-icon,.kolkata-icon,.lucknow-icon,.mumbai-icon,.newdelhi-icon,.pune-icon{height:70px}.mumbai-icon{width:98px;background-position:0 0}.pune-icon{width:140px;background-position:-108px 0}.bangalore-icon{width:102px;background-position:-258px 0}.delhi-icon,.newdelhi-icon{width:54px;background-position:-370px 0}.chennai-icon{width:41px;background-position:-434px 0}.hyderabad-icon{width:49px;background-position:-485px 0}.kolkata-icon{width:138px;background-position:-544px 0}.lucknow-icon{width:132px;background-position:-692px 0}.ahmedabad-icon,.chandigarh-icon{width:0;background-position:0 0}.india-icon{width:61px;background-position:-834px 0}.font16{font-size:16px}.inline{display:inline}.margin-top10{margin-top:10px}.margin-top40{margin-top:40px}.margin-bottom20{margin-bottom:20px}.margin-bottom30{margin-bottom:30px}.content-inner-block-10{padding:10px}.border-top1{border-top:1px solid #e2e2e2}.box-shadow{-moz-box-shadow:2px 2px 2px #dcdcdc;-webkit-box-shadow:2px 2px 2px #dcdcdc;-o-box-shadow:2px 2px 2px #dcdcdc;-ms-box-shadow:2px 2px 2px #dcdcdc;box-shadow:2px 2px 2px #dcdcdc}.text-teal{color:#0288d1}.text-black{color:#2a2a2a}.text-x-light{color:#a8afb3}.font18{font-size:18px}.contentWrapper,.formWrapper{position:relative;overflow:hidden;background:#fff;backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden}.imageWrapper{display:table;width:100%;height:174px;overflow:hidden;text-align:center;position:relative}.imageWrapper a{display:table-cell;vertical-align:middle}.bikeDescWrapper{padding:15px;background:#fff}.bikeTitle a{color:#2a2a2a;font-size:16px;display:block}.btn-sm{padding:8px 25px}.swiper-card{width:200px;padding:5px}.swiper-details-block{padding:5px 10px 0}.btn-size-1{font-size:14px;padding:6px 42px}.comparison-swiper .swiper-card{width:310px;min-height:220px;border:1px solid #e2e2e2;padding:0}.comparison-swiper .swiper-card a{padding-top:15px;padding-bottom:20px}#comparisonSwiper h3+.grid-6{position:relative;border-right:1px solid #f5f5f5}.model-img-content{width:126px;height:71px;margin-bottom:5px}#comparisonSwiper h3+.grid-6:after{position:absolute;right:-11px;top:45px;width:22px;height:21px;background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png) no-repeat;display:block}.content-details-wrapper h2{margin-bottom:13px}.review-image-wrapper{width:120px;height:68px;border:1px solid #e2e2e2;display:inline-block;vertical-align:top;margin-right:10px}.news-image-wrapper a,.review-image-wrapper a{width:100%;display:block}.review-heading-wrapper{width:52%;display:inline-block;vertical-align:top}.author-grey-sm-icon,.calender-grey-sm-icon{width:10px;height:10px;margin-right:2px;vertical-align:middle}.calender-grey-sm-icon{background-position:-48px -486px}.article-stats-content{font-size:12px;color:#82888b;width:70%;display:inline-block;vertical-align:middle;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.author-grey-sm-icon{background-position:-66px -486px}.content-details-wrapper h3{margin-bottom:12px}.video-image-thumbnail{position:relative;height:68px}.black-overlay,.play-icon-wrapper{width:100%;height:100%;display:block;position:absolute;top:0;left:0;margin:0 auto;text-align:center;padding-top:20%;background:rgba(0,0,0,.4);z-index:1}.video-play-icon{width:24px;height:24px;background-position:-107px -486px}no-city-selection-carousel .swiper-container.card-container{padding-right:15px}.dealer-horizontal-swiper.no-city-selection-carousel .swiper-card{min-height:177px}.dealer-horizontal-swiper .swiper-card{width:253px;padding:15px 20px 10px}.dealer-horizontal-swiper .swiper-details-block{padding:0}.dealer-city-image-preview{min-height:75px;display:block;text-align:center;margin-bottom:10px}.used-swiper .swiper-card{min-height:210px}.brand-type-carousel .swiper-card{width:200px;min-height:110px}.brand-type-carousel .brand-logo-image{width:100%;height:50px;line-height:0;display:table;text-align:center}.brand-type-carousel .brand-type{display:table-cell;vertical-align:middle}.brandlogosprite{background-image:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?28Sep20181538143400578);background-repeat:no-repeat;display:inline-block}.brand-1,.brand-10,.brand-11,.brand-12,.brand-13,.brand-14,.brand-15,.brand-16,.brand-17,.brand-19,.brand-2,.brand-20,.brand-21,.brand-22,.brand-23,.brand-3,.brand-34,.brand-38,.brand-39,.brand-4,.brand-40,.brand-41,.brand-42,.brand-5,.brand-6,.brand-7,.brand-71,.brand-72,.brand-73,.brand-74,.brand-75,.brand-76,.brand-77,.brand-79,.brand-8,.brand-81,.brand-9{height:30px}.brand-2{width:52px;background-position:0 0}.brand-7{width:34px;background-position:-58px 0}.brand-1{width:53px;background-position:-97px 0}.brand-8{width:60px;background-position:-156px 0}.brand-12{width:40px;background-position:-222px 0}.brand-40{width:75px;background-position:-268px 0}.brand-34{width:73px;background-position:-349px 0}.brand-22{width:73px;background-position:-428px 0}.brand-3{width:26px;background-position:-507px 0}.brand-17{width:52px;background-position:-539px 0}.brand-15{width:71px;background-position:-597px 0}.brand-4{width:26px;background-position:-674px 0}.brand-9{width:59px;background-position:-706px 0}.brand-16{width:70px;background-position:-771px 0}.brand-5{width:35px;background-position:-847px 0}.brand-19{width:73px;background-position:-889px 0}.brand-13{width:73px;background-position:-968px 0}.brand-6{width:38px;background-position:-1047px 0}.brand-10{width:61px;background-position:-1091px 0}.brand-14{width:76px;background-position:-1159px 0}.brand-39{width:53px;background-position:-1242px 0}.brand-20{width:49px;background-position:-1300px 0}.brand-11{width:74px;background-position:-1354px 0}.brand-41{width:40px;background-position:-1432px 0}.brand-42{width:38px;background-position:-1481px 0}.brand-81{width:38px;background-position:-1529px 0}.brand-71{width:23px;background-position:-1577px 0}.brand-21{width:57px;background-position:-1737px 0}.brand-38{width:25px;background-position:-1804px 0}.brand-23{width:70px;background-position:-1839px 0}.brand-72{width:70px;background-position:-2396px 0}.brand-73{width:30px;background-position:-1958px 0}.brand-74{width:66px;background-position:-2000px 0}.brand-75{width:70px;background-position:-2076px 0}.brand-76{width:70px;background-position:-2156px 0}.brand-77{width:70px;background-position:-2236px 0}.brand-79{width:70px;background-position:-2316px 0}.brand-type-carousel .swiper-details-block{padding-bottom:12px}.back,.bg-white,.front,.search-bike-item{background:#fff}.content-inner-block-1520{padding:15px 20px}.pos-top3{top:3px}.back,.front{height:330px;overflow:hidden;display:inline-block;border-radius:2px;box-shadow:0 2px 2px 0 #cacaca;-webkit-box-shadow:0 2px 2px 0 #cacaca;-moz-box-shadow:0 2px 2px 0 #cacaca;-ms-box-shadow:0 2px 2px 0 #cacaca;-o-box-shadow:0 2px 2px 0 #cacaca;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%}.search-bike-item .front{height:auto;border-radius:0;box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;border:0}.search-bike-item li:first-child .border-top1{display:none}#listitems .bikeDescWrapper{padding-right:20px;padding-left:20px}.price-not-available-span{margin-bottom:17px}.dealer-text{white-space:normal}.tooltip-icon-target.info-icon{position:relative;width:25px;height:15px;background:url(https://imgd.aeplcdn.com/0x0/bw/static/icons/0288d1/info-10x10.png) center no-repeat;cursor:pointer;display:inline-block;vertical-align:middle}.info-tooltip{display:none;padding:5px;width:190px;height:auto;cursor:default;position:absolute;bottom:20px;right:-85px;z-index:1;text-align:center;font-size:12px;color:#787878;border-radius:2px;border:1px solid #e2e2e2;background:#fff;box-shadow:0 1px 2px #eee}.tooltip-icon-target:hover .bw-tooltip{display:block}.tooltip-top .bw-tooltip-text:before{bottom:-19px}.tooltip-top .bw-tooltip-text:after,.tooltip-top .bw-tooltip-text:before{content:'';width:1px;height:12px;display:block;position:absolute;left:85px;border-left:7px solid transparent;border-top:7px solid #e2e2e2;border-right:7px solid transparent}.tooltip-top .bw-tooltip-text:after{border-top-color:#fff;bottom:-18px}.rate-count-container,.rate-star--small .star-icon,.rate-star-count{display:inline-block;vertical-align:middle}.popular-review-list .list-item{padding-top:20px;padding-bottom:20px;border-top:1px solid #f5f5f5}.popular-review-list .list-item:first-child{padding-top:0;border-top:none}.font10{font-size:10px}.popular-review-list h3{margin-bottom:0}.review-type-list .review-type-list__item:first-child{margin-top:0}.review-item__label{font-size:12px;color:#787878;margin-bottom:10px}.review-item__preview{font-size:14px;margin-bottom:5px}.review-type-list .review-type-list__item{margin-top:15px}.rate-count-container{font-size:0;margin-left:5px}.rate-count-5{color:#198d55}.rate-count-4{color:#13b65d}.rate-count-3{color:#efd700}.rate-count-2{color:#fd971c}.rate-count-1{color:#ef3f30}.rate-star--small .star-icon{width:23px;height:22px;-webkit-transform:scale(.5);-moz-transform:scale(.5);transform:scale(.5)}.rate-count-5 .star-icon{background:url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-5-26x25.png) center no-repeat}.rate-count-4 .star-icon{background:url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-4-26x25.png) center no-repeat}.rate-count-3 .star-icon{background:url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-3-26x25.png) center no-repeat}.rate-count-2 .star-icon{background:url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-2-26x25.png) center no-repeat}.rate-count-1 .star-icon{background:url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-1-26x25.png) center no-repeat}.rate-star-count{font-size:14px;font-weight:700}.make-subfooter{margin:10px;padding:20px 15px;background-color:#eee}.about-make__list-desc,.make-price-table td,.make-price__thead{padding-bottom:10px}.about-make{color:#787878}.foldable-content{font-size:14px}.truncatable-content{overflow:hidden;position:relative;text-align:justify}.about-make .truncatable-content{text-align:left;max-height:275px}.about-make .truncatable-content.show-full{max-height:initial}.about-make .truncatable-content:before{content:'...';position:absolute;right:0;bottom:0;padding-left:3px;background-color:#eee}.about-make .truncatable-content:after{content:'';position:absolute;right:0;width:14px;height:18px;margin-top:-8px;background-color:#eee}.about-make__list-title{margin-bottom:10px;padding-top:5px;display:block;font-weight:600}.read-more-button{display:inline-block;padding-top:10px;color:#0288d1}.make-price-block{padding-top:20px;border-top:1px solid #e2e2e2;margin-top:15px;font-size:14px}.make-price-block .truncatable-content{max-height:245px}.make-price-block .truncatable-content.show-full{max-height:initial}.make-price-table{text-align:left;width:100%;border-spacing:0}.make-price-table__title{display:table-cell;font-size:14px;color:#4d5057}.make-price__thead{color:#82888b;font-size:12px;border-bottom:1px solid #e2e2e2;margin-bottom:10px;font-weight:400}.make-price__thead.make-price__model{width:54%;padding-top:10px}.make-price-table tr:nth-of-type(2) td{padding-top:10px}.make-price__model h3{font-weight:400;color:#787878}.related-list__section{padding-top:15px;font-size:0}.model-related__card{width:33.33%;padding-left:30px;display:inline-block;vertical-align:top;font-size:14px}.related-card__title{font-size:18px;font-weight:600;padding-bottom:25px}.related-card__list li{font-size:16px;margin-bottom:20px}.related-card__target-link{color:#787878}@media only screen and (max-width:768px){.model-related__card{width:190px;height:255px;padding:20px 20px 0}.related-card__title{font-size:14px;padding-bottom:10px}.related-card__list li{font-size:12px;margin-bottom:0}.related-card__target-link{padding-top:5px;padding-bottom:15px;display:block}.model-related-swiper .swiper-slide{margin-right:0;width:190px}.model-related-swiper .swiper-slide:last-child{margin-right:30px}}.carousel__explore-bikes{padding:5px 0 20px}.carousel__explore-bikes .carousel-slide{width:217px;min-height:82px;padding:0;-webkit-box-shadow:none;box-shadow:none}.explore-card__list,.explore-card__title{width:100%;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.model__explore-card{min-height:82px;padding:15px 18px;color:#82888b;display:block;box-shadow:0 2px 4px rgba(213,213,213,.5);border-radius:2px;background:#fff9f9;border:1px solid #fd8d81}.explore-card__title{color:#2a2a2a;font-size:16px;font-weight:600;margin-bottom:8px}.explore-card__list .explore-card-list__item{position:relative;color:#82888b;font-size:13px;padding-left:5px;margin-left:5px}.explore-card__list .explore-card-list__item:before{content:'';position:absolute;top:2px;left:0;width:1px;height:15px;border-left:1px solid rgba(130,136,139,.6);display:block}.explore-card__list .explore-card-list__item:first-child{padding-left:0;margin-left:0}.explore-card__list .explore-card-list__item:first-child:before{content:none}.explore-bikes-carousel--default .page__heading-h2{font-weight:700;padding:20px 20px 10px}";
        Model.AdTags.Ad_320x50 = true;
        Model.AdTags.Ad300x250_Bottom = true;
        Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_Make";
        Model.AdTags.AdId = "1444028878952";
    }
    <amp-state id="make">
        <script type="application/json">
            {
                "collapsiblestate": {
                "aboutmake": false,
                "pricetable": false
            }
            }
        </script>
    </amp-state>
    <amp-analytics type="googleanalytics">
        <script type="application/json">
            {
            "vars": {
            "account": "UA-34771801-1"
            },
            "extraUrlParams": {
            "pageSourceType": "AMP"
            },
            "triggers": {           
            "trackEvent": {
            "selector": ".bw-makepage-tabs-ga",
            "on": "click",
            "request": "event",
            "vars": {
            "eventCategory": "Make_Page_AMP",
            "eventAction": "Floating_Navigation_Clicked"
            }
            },
            "trackEvent2": {
            "selector": ".getquotation",
            "on": "click",
            "request": "event",
            "vars": {
            "eventCategory": "Make_Page_AMP",
            "eventAction": "Get_On_Road_Price_Click"
            }
            }
            }
            }
        </script>
    </amp-analytics>

    <section>
        <div class="bg-white box-shadow content-inner-block-1520">
            <h1>@Model.Page_H1</h1>
        </div>
        @Html.Partial("~/UI/Views/Make/_Index_Tabs_Mobile_AMP.cshtml", Model)
        @if (Model.BikeDescription != null && !string.IsNullOrEmpty(Model.BikeDescription.FullDescription))
        {
            <div id="makeAboutContent" class="bw-model-tabs-data bg-white   padding-top15 padding-bottom20 border-solid-bottom margin-bottom20 active">              
                <div class="padding-right20 padding-left20">
                    <p class="font14 text-light-grey line-height17">
                        <span id="makeAboutContentMainContent" class="model-preview-main-content">
                            @Bikewale.Utility.FormatDescription.TruncateDescription(Model.BikeDescription.FullDescription, 200)
                        </span>
                        <span id="makeAboutContentMoreContent" class="model-preview-more-content" hidden>
                            @Html.Raw(Model.BikeDescription.FullDescription)
                        </span>
                        @if (Model.BikeDescription.FullDescription.Length > 200)
                        {
                            <span tabindex="0" role="option" id="makeAboutContentReadMore" class="read-more-model-preview text-teal block" on="tap: makeAboutContentMoreContent.show, makeAboutContentMainContent.hide, makeAboutContentReadMore.hide, makeAboutContentCollapse.show">Read more</span>
                            <span tabindex="0" role="option" id="makeAboutContentCollapse" class="read-more-model-preview text-teal" on="tap: makeAboutContentMoreContent.hide, makeAboutContentMainContent.show, makeAboutContentReadMore.show, makeAboutContentCollapse.hide" hidden>Collapse</span>
                        }
                    </p>
                </div>
            </div>
        }
        @if (Model.Bikes != null && Model.Bikes.Any())
        {
            <div id="bikeByMakesListing" class="container bg-white margin-bottom20">
                <div class="search-bike-container position-rel pos-top3 box-shadow padding-top15">
                    <h2 class="padding-left20 text-bold">@string.Format("{0} Bikes Prices in  India", Model.MakeName)</h2>
                    <div class="search-bike-item">
                        <ul id="listitems" class="listitems">
                            @foreach (var bike in Model.Bikes)
                            {
                                var modelUrl = Bikewale.Utility.UrlFormatter.BikePageUrl(bike.objMake.MaskingName, bike.objModel.MaskingName);
                                var bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
                                <li class="front" data-price="@bike.VersionPrice" data-mileage="@bike.MinSpecsList.FirstOrDefault(s => s.Id == (int)EnumSpecsFeaturesItems.FuelEfficiencyOverall)?.Value" data-popularity="@bike.BikePopularityIndex">
                                    <div class="border-top1 margin-left20 margin-right20 padding-top20"></div>
                                    <div class="contentWrapper">
                                        <div class="imageWrapper">
                                            <a class="modelurl" href="@string.Format("{0}/m{1}", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, modelUrl)">
                                                <amp-img width="292" height="163" src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" title="@bikeName" alt="@bike.objModel.ModelName"></amp-img>
                                            </a>
                                        </div>
                                        <div class="bikeDescWrapper">
                                            <div class="bikeTitle margin-bottom10">
                                                <h3>
                                                    <a class="modelurl text-bold" title="@bike.BikeName" href="@string.Format("/m{0}", modelUrl)">@bikeName</a>
                                                </h3>
                                            </div>
                                            <div class="font14 text-x-light margin-bottom10">
                                                @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsSpanElements(bike.MinSpecsList))
                                            </div>
                                            @if (bike.ExShowroomPrice > 0)
                                            {
                                                <div class="margin-bottom5 font14 text-light-grey">Ex-showroom, @(Model.City.CityId == 0 ? Bikewale.Utility.BWConfiguration.Instance.DefaultName : Model.City.City)</div>
                                            }
                                            else
                                            {
                                                <div class="margin-bottom5 font14 text-light-grey">
                                                    <span>Avg. Ex-showroom price</span><span class="info-icon tooltip-icon-target tooltip-top">
                                                        <span class="bw-tooltip info-tooltip">
                                                            <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", Model.City.City)</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            }
                                            <div class="margin-bottom5">
                                                @if (bike.AvgPrice > 0)
                                                {
                                                    <span class="font18"> ₹</span>
                                                    <span class="text-bold font18">@(bike.ExShowroomPrice == 0 ? Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.AvgPrice)) : Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.ExShowroomPrice)))</span>
                                                }
                                                else
                                                {
                                                    <span class="text-bold font18">Price unavailable</span>
                                                }
                                            </div>
                                            @if (bike.VersionPrice > 0)
                                            {
                                                <a href="@string.Format("{0}/m/popup/?queryString={1}", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Bikewale.Utility.TripleDES.EncryptTripleDES(string.Format("pqsourceid={0}&pagecatid={1}&preselcity={2}&makeid={3}&makename={4}&modelid={5}&modelname={6}&Url={7}{8}", (int)Bikewale.Entities.PriceQuote.PQSourceEnum.Mobile_PriceInCity_SelectArea, "9", Model.City.CityId, bike.objMake.MakeId, bike.objMake.MakeName, bike.objModel.ModelId, bike.objModel.ModelName, Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.ReturlUrl)))" class="btn btn-sm btn-white font14 margin-top10 getquotation" rel="nofollow">Check on-road price</a>

                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div id="listItemsFooter"></div>
                    </div>
                </div>
            </div>
        }

        @if (Model.SeriesLinkages.MakeSeriesList != null && Model.SeriesLinkages.MakeSeriesList.Any())
        {
            <div class="container box-shadow bg-white margin-bottom20 explore-bikes-carousel--default">
                <div class="carousel__title">
                    <h2 class="page__heading-h2">Explore @Model.MakeName Bike Series</h2>
                </div>
                @Html.Partial("~/UI/Views/BikeSeries/_MakeSeriesSlug_Mobile_AMP.cshtml", Model.SeriesLinkages)
            </div>
        }

        @if (Model.IsUpComingBikesAvailable)
        {
            <section id="bikeByMakesUpcoming" class="bg-white margin-bottom20">
                <div class="container box-shadow padding-top20 padding-bottom20">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2 class="text-bold">Upcoming @Model.MakeName bikes</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("{0}/m/{1}-bikes/upcoming/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName)" title="Upcoming @Model.MakeName Bikes in India" class="btn view-all-target-btn">View all</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/UI/Views/Upcoming/_UpcomingBikes_Mobile_Amp.cshtml", Model.UpcomingBikes)
                </div>
            </section>
        }


        @if (Model.IsCompareBikesAvailable)
        {
            <section>
                <div class="container content-box-shadow padding-top15 card-bottom-margin padding-bottom15">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2 class="text-bold">Popular Comparison of @Model.MakeName Bikes</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("{0}/m/comparebikes/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl)" title="View more comparisons" class="btn view-all-target-btn">View all</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/UI/Views/CompareBikes/_SimilarComparisons_Mobile_Amp.cshtml", Model.CompareSimilarBikes)
                </div>
            </section>
        }

        @if (Model.IsNewsAvailable || Model.IsExpertReviewsAvailable || Model.IsVideosAvailable || Model.IsDealerServiceDataAvailable ||
        Model.IsDealerServiceDataInIndiaAvailable || Model.IsUsedModelsBikeAvailable)
        {
            <section>
                <div id="makeTabsContentWrapper" class="clearfix margin-bottom20 content-details-wrapper content-box-shadow">
                    @if (Model.IsNewsAvailable)
                    {
                        <div id="makeNewsContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14">
                            <h2 class="text-bold">@Model.MakeName News</h2>
                            @Html.Partial("~/UI/Views/News/_RecentNews_Mobile_Amp.cshtml", Model.News)
                            <div class="view-all-btn-container">
                                <a href="@string.Format("{0}/m/{1}-bikes/news/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName)" title="@Model.MakeName News" class="btn view-all-target-btn">Read all news<span class="bwmsprite teal-right"></span></a>
                            </div>
                            <div class="bw-tabs-data" id="ctrlNews">
                            </div>
                        </div>
                    }


                    @if (Model.IsExpertReviewsAvailable || Model.IsUserReviewsAvailable)
                    {
                        <div id="makeReviewsContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14 active">
                            <h2 class="text-bold">@Model.MakeName Reviews</h2>
                            @if (Model.IsExpertReviewsAvailable && Model.ExpertReviews != null)
                            {
                                <h3 class="model-section-subtitle">Expert Reviews</h3>
                                @Html.Partial("~/UI/Views/ExpertReviews/_RecentExpertReviews_Mobile_Amp.cshtml", Model.ExpertReviews)
                                <div class="view-all-btn-container">
                                    <a title="@Model.MakeName Expert Reviews" href="@string.Format("{0}/m/{1}-bikes/expert-reviews/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName)" class="btn view-all-target-btn">Read all reviews<span class="bwmsprite teal-right"></span></a>
                                </div>

                            }
                            @if (Model.IsUserReviewsAvailable && Model.PopularBikesUserReviews != null)
                            {
                                if (Model.IsExpertReviewsAvailable && Model.ExpertReviews != null)
                                {
                                    <div class="padding-top20 margin-bottom20 border-solid-bottom"></div>
                                }
                                <div id="makeUserReviewsContent">
                                    <h3 class="model-section-subtitle">User Reviews</h3>
                                    @Html.Partial("~/UI/Views/UserReview/BikesWithReviewsByMake_Mobile_AMP.cshtml", Model.PopularBikesUserReviews)
                                </div>
                            }
                        </div>
                    }


                    @if (Model.IsVideosAvailable)
                    {
                        <div id="makeVideosContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14 active">
                            <h2 class="text-bold">@Model.MakeName Videos</h2>
                            @Html.Partial("~/UI/Views/Videos/_RecentVideos_Mobile_Amp.cshtml", Model.Videos)
                            <div class="view-all-btn-container">
                                <a title="@Model.MakeName Videos" href="@string.Format("{0}/m/{1}-bikes/videos/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName)" class="btn view-all-target-btn">View all videos<span class="bwmsprite teal-right"></span></a>
                            </div>
                        </div>
                    }
                    @if (Model.IsDealerServiceDataAvailable || Model.IsDealerServiceDataInIndiaAvailable)
                    {
                        <div id="makeDealersContent" class="bw-model-tabs-data active">
                            @if (Model.IsDealerAvailable)
                            {
                                <div class="padding-bottom20 padding-top15 font14">
                                    <div class="carousel-heading-content">
                                        <div class="swiper-heading-left-grid inline-block">
                                            <h2>@Model.MakeName showrooms in @Model.Location</h2>
                                        </div>
                                        <div class="swiper-heading-right-grid inline-block text-right">
                                            <a href=@string.Format("{0}/m/dealer-showrooms/{1}/{2}/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName, Model.LocationMasking) title="@Model.MakeName showrooms in @Model.Location" class="btn view-all-target-btn">View all</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    @Html.Partial("~/UI/Views/DealerShowroom/_DealerCard_Mobile_Amp.cshtml", Model.Dealers)
                                </div>
                                <div class="border-solid-bottom"></div>
                            }
                            else if (Model.IsDealerServiceDataInIndiaAvailable)
                            {
                                <div class="padding-bottom20 padding-top15 font14">
                                    <h2 class="padding-right20 padding-left20">@Model.MakeName showrooms</h2>
                                    @Html.Partial("~/UI/Views/DealerShowroom/_DealersServiceCentersInIndia_Mobile_Amp.cshtml", Model.DealersServiceCenter)
                                </div>
                                <div class="border-solid-bottom"></div>
                            }
                        </div>
                    }
                    @if (Model.IsUsedModelsBikeAvailable)
                    {
                        <div id="makeUsedBikeContent" class="bw-model-tabs-data  padding-top15 active">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>Second-hand @Model.MakeName bikes in India</h2>
                                </div>
                                <div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="@string.Format("{0}/m/{1}-bikes-in-{2}/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName, Model.LocationMasking)" title="Second-hand @Model.MakeName Bikes in India" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.Partial("~/UI/Views/Used/_UsedBikesByModel_Mobile_Amp.cshtml", Model.UsedModels)
                        </div>
                    }
                </div>
            </section>
        }
    </section>

        if (Model.OtherMakes != null && Model.OtherMakes.Makes != null)
        {
        <section>
            <div class="container bg-white box-shadow padding-top15 padding-bottom10 card-bottom-margin">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <span class="font16 text-semibold text-black">Other popular brands</span>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("{0}/m/new-bikes-in-india/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl)" title="New Bikes" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/UI/Views/Make/_BrandsModelCount_Mobile_AMP.cshtml", Model.OtherMakes.Makes)
            </div>
        </section>
        }
        if (Model.IsDiscontinuedBikeAvailable)
        {
        <section>
            <div class="container">
                <div class="content-inner-block-10 margin-bottom30">
                    <div id="discontinuedModels">
                        <div id="discontinuedLess">
                            Discontinued @Model.MakeName models: -
                            <div id="spnContent" class="inline">
                                @foreach (var bike in Model.DiscontinuedBikes.Take(4))
                                {
                                    <a title="@bike.BikeName" href="@string.Format("{0}/m{1}",Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, bike.Href)">@bike.BikeName</a>
                                    <span>, </span>
                                }
                                <span>...</span>
                                <span tabindex="1" role="option" class="f-small text-teal inline-block" id="viewall" on="tap:discontinuedLess.hide, discontinuedMore.show">View All</span>
                            </div>
                        </div>
                        <div id="discontinuedMore" hidden>
                            Discontinued @Model.MakeName models: -
                            @foreach (var bike in Model.DiscontinuedBikes)
                            {
                                <a title="@bike.BikeName" href="@string.Format("{0}/m{1}",Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, bike.Href)">@bike.BikeName</a>
                                <span>, </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        }

        if (Model.IsFooterDescriptionAvailable)
        {
        <section>
            <div class="container">
                @Html.Partial("~/UI/Views/Make/MakeFooterCategoriesandPrice_Mobile_AMP.cshtml", Model.SubFooter)
            </div>
        </section>
        }
    
	
}
