@model Bikewale.Models.IndexFeatureVM
@using Bikewale.Utility
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/m/css/content/listing.css' inline /> <link rel='stylesheet' type='text/css' href='/UI/css/components/m-brand-logo.css' inline />";
    Model.AdTags.AdId = "1517812803381";
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_EditorialList";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
    Layout = "~/UI/Views/Shared/_Layout_Mobile.cshtml";
}
<section>
    <div class="container box-shadow bg-white section-bottom-margin">

        <h1 class="box-shadow padding-15-20">Latest Bike Features</h1>
        @if (Model.ArticlesList != null && Model.ArticlesList.Any())
        {
            <ul id="divListing" class="article-list">
                @{ushort i = 0;}
                @foreach (var article in Model.ArticlesList)
                {
                    <li>
                        <a href='@string.Format("/m{0}", UrlFormatter.GetArticleUrl(Convert.ToString(article.BasicId),Convert.ToString(article.ArticleUrl),(Bikewale.Entities.CMS.EnumCMSContentType.Features).ToString()))' title="@article.Title">

                            <div class='article-item-content @Convert.ToString(article.AuthorName).ToLower().Contains("sponsored") ? "sponsored-content" : ""'>

                                @Html.Raw(string.Format("{0}", System.Text.RegularExpressions.Regex.Match(Convert.ToString(article.AuthorName), @"\b(sponsored)\b", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success ? "<div class=\"sponsored-tag-wrapper position-rel\"><span>Sponsored</span><span class=\"sponsored-left-tag\"></span></div>" : ""))

                                <div class="article-wrapper">
                                    <div class="article-image-wrapper">
                                        <img class="lazy" alt='@article.Title' title="@article.Title" data-original='@Image.GetPathToShowImages(article.OriginalImgUrl, article.HostUrl, ImageSize._110x61,QualityFactor._70)' width="100%" border="0" src="">
                                    </div>
                                    <div class="padding-left10 article-desc-wrapper">
                                        <h2 class="font14">@article.Title</h2>
                                    </div>
                                </div>

                                <div class="article-stats-wrapper font12 leftfloat text-light-grey">
                                    <span class="bwmsprite calender-grey-icon inline-block"></span><span class="inline-block">@FormatDate.GetFormatDate(article.DisplayDate.ToString(), "dd MMMM yyyy")</span>
                                </div>
                                <div class="article-stats-wrapper font12 leftfloat text-light-grey">
                                    <span class="bwmsprite author-grey-icon inline-block"></span><span class="inline-block">@article.AuthorName</span>
                                </div>
                                <div class="clear"></div>

                            </div>

                        </a>
                    </li>
                    if (Model.PagerEntity.PageNo == 1 && Model.EndIndex == 10 && i == 4)
                    {
                        <li class="list-item__slug hide" id="writereviewslug">
                            <span class="bwmsprite list-slug__close"></span>
                            <div class="list-slug__wrapper">
                                <div class="slug-content--top-align">
                                    <img class="list-slug__image lazy" data-original="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/review-contest-slug-120.png" alt="Bike Review Contest" src="" />
                                </div>
                                <div class="list-slug__details slug-content--top-align">
                                    <p class="list-slug__heading">Bike review contest</p>
                                    <p class="list-slug__subheading">Write a detailed review &amp; stand a chance to win Amazon vouchers worth <span>&#x20B9;</span>&nbsp;@Format.FormatPrice(BWConfiguration.Instance.ContestPriceMoney).</p>
                                    @{
                                        string q = EncodingDecodingHelper.EncodeTo64(string.Format("csrc={0}", (int)Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Mobile_Features));
                                    }
                                    <a href="@string.Format("/m/bike-review-contest/?q={0}",q)" title="Bike Review Contest" class="list-slug__target">Participate now<span class="bwmsprite target-arrow"></span></a>
                                </div>
                            </div>
                        </li>
                    }
                    i++;
                }
            </ul>
        }
        <div class="margin-right10 margin-left10 padding-top15 padding-bottom15 border-solid-top font14">
            <div class="grid-5 omega text-light-grey font13">
                <span class="text-bold text-default">@string.Format("{0}-{1}", Model.StartIndex, Model.EndIndex)</span> of <span class="text-bold text-default">@Model.TotalArticles</span> articles
            </div>
            @if (Model.TotalArticles > 10)
            {
                Html.RenderAction("Index", "Pager", new { objPager = Model.PagerEntity });
            }
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>
@if (Model.AdTags.Ad_300x250BTF)
{
    <div class="margin-bottom20 text-center">
        @{Html.RenderPartial("/UI/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", Model.AdTags);}
    </div>
}
@if (Model.PageWidgets != null)
{
    foreach (KeyValuePair<Bikewale.Entities.BikeData.EditorialPageWidgetPosition, Bikewale.Models.Shared.EditorialWidgetVM>
widgetItem in Model.PageWidgets)
    {
        var widget = widgetItem.Value;
        if (widget != null)
        {
            @Html.Partial("~/UI/Views/Shared/_EditorialWidgetBase_Mobile.cshtml", widget)
            <div class="clear"></div>
        }
    }
}
<script type="text/javascript">
    docReady(function () {
        if (!bwcache.get('showeditcmsreviewslug', true)) {
            $('#writereviewslug').show();
        }
        $('.list-slug__close').on('click', function () {
            bwcache.set('showeditcmsreviewslug', '1', true);
            var slugItem = $(this).closest('.list-item__slug');
            slugItem.slideUp(500, function () {
                slugItem.remove();
            });
        });
    });
</script>