@model Bikewale.Models.SimilarBikesWidgetVM
@using Bikewale.Entities.BikeData;
@using Bikewale.Utility;
@if (Model != null && Model.Bikes != null && Model.Bikes.Count() > 0)
{

    foreach (var bike in Model.Bikes)
    {
        string make = bike.MakeBase.MakeName, modelName = bike.ModelBase.ModelName;
        var bikeUrl = String.Format("/m{0}", UrlFormatter.BikePageUrl(bike.MakeBase.MaskingName, bike.ModelBase.MaskingName));
        var bikeName = String.Format("{0} {1}", make, modelName);
        <div class="swiper-slide">
            <div class="swiper-card">
                <div class="position-rel">
                    <a href="@bikeUrl" title="@bikeName" class="bw-ga" data-act="Clicked_on_SimilarModel" data-lab="@bikeName">
                        <div class="swiper-image-preview">
                            <img class="swiper-lazy" data-src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,ImageSize._210x118,Bikewale.Utility.QualityFactor._70)" title="@bikeName" alt="@bikeName" />
                            <span class="swiper-lazy-preloader"></span>
                        </div>
                        @if (bike.VersionPrice == 0 && bike.AvgExShowroomPrice == 0)
                        {
                            <p class="text-bold text-default">
                                <span class="font14">Price not available</span>
                            </p>
                        }
                        else
                        {
                            <div class="swiper-details-block">
                                <p class="target-link font12 text-truncate margin-bottom5">@bikeName</p>
                                <p class="text-truncate text-light-grey font11">@(bike.VersionPrice > 0 ? String.Format("Ex-showroom, {0}", (!String.IsNullOrEmpty(bike.CityName) ? bike.CityName : BWConfiguration.Instance.GetDefaultCityName)) : "Avg. Ex-showroom price")</p>
                                <p class="text-default font16">
                                    @Html.Raw("<span>&#x20B9;</span>")&nbsp;<span class="text-bold">@Bikewale.Utility.Format.FormatPrice(bike.VersionPrice > 0 ? bike.VersionPrice.ToString() : bike.AvgExShowroomPrice.ToString())</span>
                                </p>
                            </div>
                        }
                    </a>
                    @if (bike.VersionPrice == 0)
                    {
                        <span class="info-icon tooltip-icon-target tooltip-top tooltip--right">
                            <span class="bw-tooltip info-tooltip">
                                <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", bike.CityName)</span>
                            </span>
                        </span>
                    }
                </div>
                @if (Model.ShowCheckOnRoadCTA)
                {
                    <div class="swiper-btn-block">
                        <a href="javascript:void(0)" data-pqsourceid="@((int)Model.PQSourceId)" data-modelid="@bike.ModelBase.ModelId" class="btn btn-card btn-full-width btn-white getquotation" rel="nofollow">Check on-road price</a>
                    </div>
                }
                @if (Model.ShowPriceInCityCTA)
                {
                    <div class="swiper-btn-block">
                        <a href="@String.Format("/m{0}", UrlFormatter.PriceInCityUrl(bike.MakeBase.MaskingName,bike.ModelBase.MaskingName,bike.CityMaskingName))" class="btn btn-card btn-full-width btn-white text-truncate getquotation font12" rel="nofollow" title="@String.Format("{0} {1} On-road price in {2}",make,modelName,bike.CityName)">On-road price in @bike.CityName</a>
                    </div>
                }
                @if (Model.Make != null && Model.Model != null && Model.IsNew)
                {
                    string fullUrl = string.Format("/m/{0}", Bikewale.Utility.UrlFormatter.CreateCompareUrl(Model.Make.MaskingName, Model.Model.MaskingName, bike.MakeBase.MaskingName, bike.ModelBase.MaskingName, Convert.ToString(Model.VersionId),  Convert.ToString(bike.VersionBase.VersionId), (uint)Model.Model.ModelId, (uint)bike.ModelBase.ModelId, Bikewale.Entities.Compare.CompareSources.Mobile_Model_MostPopular_Compare_Widget));
                    <a class="compare-with-target text-truncate bw-ga redirect-url" data-act="Clicked_on_CompareCard" data-lab='@string.Format("{0} {1} vs {2}", Model.Make.MakeName, Model.Model.ModelName, bikeName)' href="@Bikewale.Utility.UrlFormatter.RemoveQueryString(fullUrl)" data-url="@fullUrl" title="@Bikewale.Utility.UrlFormatter.CreateCompareTitle(bike.ModelBase.ModelName, Model.Model.ModelName)">
                        <span class="bwmsprite compare-sm"></span>Compare with @Model.Model.ModelName<span class="bwmsprite right-arrow"></span>
                    </a>
                }
            </div>
        </div>
    }
    <div class="swiper-slide">
        <div class="swiper-card">
            <a href="@string.Format("/m{0}",(Model.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter))? "/scooters/" : "/new-bikes-in-india/")" title="@(string.Format("Explore more {0}", (Model.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter))? "scooters" : "bikes"))" class="bw-ga" data-cat="@Model.Page" data-act="Clicked_ExploreMore_Card" data-lab="@Model.Model.ModelName">
                <div class="swiper-image-preview">
                    <div class="exploremore__imagebackground">
                        <div class="exploremore__icon-background">
                        </div>
                    </div>
                </div>
                <div class="swiper-details-block">
                    <div class="exploremore-detailblock">
                        <p class="detailblock__title">Couldn’t find what you were looking for?</p>
                        <p class="detailblock__description">@(Model.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter) ? "View 60+ scooters from over 10 brands" : " View 200+ bikes from over 30 brands")</p>
                    </div>
                </div>
                @if (Model.IsNew)
                {
                    <div class="compare-with-target text-truncate">
                        @(string.Format("Explore more {0}", (Model.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter)) ? "scooters" : "bikes"))<span class="bwmsprite right-arrow"></span>
                    </div>
                }
            </a>
        </div>
    </div>

}
