@model IEnumerable<Bikewale.DTO.NewBikeSearch.SearchBudgetLink>
<ul class="padding-right10 padding-left10">
    @foreach (var item in Model)
    {
        <li class="margin-bottom20 font14">
            <a href="@string.Format("/m{0}", item.Link.Item3)" title="@Html.Raw(item.Link.Item2)">@Html.Raw(item.Link.Item1)</a>
            <p class="margin-top5 text-black">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(item.Link.Item4)) @(item.Link.Item4 == 1 ? " bike" : " bikes") available</p>
        </li>
    }
</ul>