@model IEnumerable<Tuple<String, String, String, uint>>
<ul class="alpha omega text-black">
    @foreach (var item in Model)
    {

        <li class="grid-4 margin-bottom20">
            <a title="@Html.Raw(item.Item2)" href="@item.Item3">@Html.Raw(item.Item1)</a>
            <p class="margin-top10">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(item.Item4)) @(item.Item4 == 1 ? " bike" : " bikes") available</p>
        </li>

    }
</ul>
