@model Bikewale.Models.NewBikeSearch.NewBikeSearchVM
@using Bikewale.Utility;
@if (Model != null)
{
    ushort i = 0;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/new/search.css' inline />";
    Model.Page_BTF_CSS_Path = "/css/chosen.min.css";
    Model.Page_JS_Path = "/src/new/search_new.js";
    Model.AdTags.AdId = "1517811175009";
    Model.AdTags.AdPath = "/1017752/Bikewale_NewBikeSearch_";
    Model.AdTags.Ad_970x90Top = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Layout = "~/Views/Shared/_Layout.cshtml";



    <!-- #include file="/includes/headscript.aspx" -->
    <!--Check Use of this ga_pg_id at page and script-->
    <script>ga_pg_id = '5';</script>
    <section class="bg-light-grey padding-top10">
        <div class="container">
            <div class="grid-12">
                <div class="breadcrumb margin-bottom15">
                    <!-- breadcrumb code starts here -->
                    <ul>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/" itemprop="url">
                                <span itemprop="title">Home</span>
                            </a>
                        </li>
                        <li><span class="bwsprite fa-angle-right margin-right10"></span>New Bikes</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <h1 class="margin-top10">Search New Bikes</h1>
                <div class="border-solid-bottom margin-top10 margin-bottom15"></div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="grid-12">
				<div id="filter-placeholder">
					<div id="filter-container">
						<div class="filter-container content-box-shadow">
							<div class="grid-10">
								<div class="grid-3 alpha">
									<div class="filter-div rounded-corner2">
										<div class="filter-select-title">
											<span class="hide">Select brand</span>
											<span class="leftfloat filter-select-btn default-text">Select brand</span>
											<span class="clear"></span>
										</div>
										<span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
									</div>
									<div id="filter-select-brand" name="bike" class="filter-selection-div filter-brand-list list-items hide">
										<span class="top-arrow"></span>
										<ul class="content-inner-block-10">
											@if (Model.PopularBrands != null)
                                            {
                                                foreach (var item in Model.PopularBrands)
                                                {
													<li class="uncheck" filterid="@item.MakeId"><span>@item.MakeName</span></li>
                                                }
                                            }
										</ul>
										<div class="clear"></div>
										<div class="border-solid-top margin-left10 margin-right10"></div>
										<ul class="content-inner-block-10">
											@if (Model.OtherBrands != null)
                                            {
                                                foreach (var item in Model.OtherBrands)
                                                {
													<li class="uncheck" filterid="@item.MakeId"><span>@item.MakeName</span></li>
                                                }
                                            }
										</ul>
										<div class="clear"></div>
									</div>
								</div>
								<div class="grid-3 alpha">
									<div class="rounded-corner2 budget-box">
										<div id="minMaxContainer" class="filter-select-title">
											<span class="hide">Select budget</span>
											<span class="default-text" id="budgetBtn">Select budget</span>
											<span class="minAmount"></span>
											<span class="maxAmount"></span>
											<span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
											<span class="clear"></span>
										</div>
									</div>

									<div name="budget" id="budgetListContainer" class="hide">
										<div id="userBudgetInput">
											<input type="text" id="minInput" class="priceBox" maxlength="9" placeholder="Min">
											<input type="text" id="maxInput" class="priceBox" maxlength="9" placeholder="Max">
											<div class="bw-blackbg-tooltip bw-blackbg-tooltip-max text-center hide">
												Max budget should be greater than Min budget.
											</div>
										</div>
										<ul id="minList" class="text-left"></ul>
										<ul id="maxList" class="text-right"></ul>
									</div>
								</div>
								<div class="grid-3 alpha">
									<div class="filter-div rounded-corner2">
										<div id="filter-select-mileage" class="filter-select-title">
											<span class="hide">Select mileage</span>
											<span class="leftfloat filter-select-btn default-text">Select mileage</span>
											<span class="clear"></span>
										</div>
										<span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
									</div>
									<div name="mileage" class="filter-selection-div filter-mileage-list list-items hide">
										<span class="top-arrow"></span>
										<ul class="content-inner-block-10">
											<li class="uncheck" filterid="1"><span>70 kmpl +</span></li>
											<li class="uncheck" filterid="2"><span>70 - 50 kmpl</span></li>
											<li class="uncheck" filterid="3"><span>50 - 30 kmpl</span></li>
											<li class="uncheck" filterid="4"><span>30 - 0 kmpl</span></li>
										</ul>
									</div>
								</div>
								<div class="grid-3 alpha">
									<div class="filter-div rounded-corner2">
										<div id="filter-select-displacement" class="filter-select-title">
											<span class="hide">Select displacement</span>
											<span class="leftfloat filter-select-btn default-text">Select displacement</span>
											<span class="clear"></span>
										</div>
										<span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
									</div>
									<div name="displacement" class="filter-selection-div filter-displacement-list list-items hide">
										<span class="top-arrow"></span>
										<ul class="content-inner-block-10">
											<li class="uncheck" filterid="1"><span>Up to 110 cc</span></li>
											<li class="uncheck" filterid="7"><span>110-125 cc</span></li>
											<li class="uncheck" filterid="8"><span>125-150 cc</span></li>
											<li class="uncheck" filterid="3"><span>150-200 cc</span></li>
											<li class="uncheck" filterid="4"><span>200-250 cc</span></li>
											<li class="uncheck" filterid="5"><span>250-500 cc</span></li>
											<li class="uncheck" filterid="6"><span>500 cc and more</span></li>
										</ul>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="grid-2 alpha">
								<div class="leftfloat">
									<div id="reset-btn-container" class="margin-top20">
										<p id="btnReset" class="filter-reset-btn font14">Reset</p>
									</div>
								</div>
								<div class="rightfloat">
									<div class="more-filters-btn position-rel rounded-corner2">
										<span class="font14"><span id="more-less-filter-text">More</span> Filters</span>
										<div class="filter-count-container">
											<div class="filter-counter">0</div>
											<span></span>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="more-filters-container content-box-shadow hide">
                            <div class="grid-10">
                                <div class="grid-3 padding-top10 alpha">
                                    <div class="more-filter-ride">

                                        <div class="more-filter-item-title">
                                            <h3>Ride Style</h3>
                                        </div>

                                        <div class="filter-div rounded-corner2">
                                            <div id="filter-style-displacement" class="filter-select-title">
                                                <span class="hide">Select ride style</span>
                                                <span class="leftfloat filter-select-btn default-text">Select ride style</span>
                                                <span class="clear"></span>
                                            </div>
                                            <span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
                                        </div>
                                        <div name="ridestyle" class="filter-selection-div more-filter-item-data ride-style-list list-items hide">
                                            <span class="top-arrow"></span>
                                            <ul class="content-inner-block-10">
                                                <li class="uncheck" filterid="1"><span>Cruisers</span></li>
                                                <li class="uncheck" filterid="2"><span>Sports</span></li>
                                                <li class="uncheck" filterid="3"><span>Street</span></li>
                                                <li class="uncheck" filterid="5"><span>Scooters</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid-3 padding-top10 alpha">
                                    <div class="more-filter-brakes">

                                        <div class="more-filter-item-title">
                                            <h3>Brakes</h3>
                                        </div>

                                        <div class="filter-div rounded-corner2">
                                            <div id="filter-style-displacement" class="filter-select-title">
                                                <span class="hide">Select brake types</span>
                                                <span class="leftfloat filter-select-btn default-text">Select ride style</span>
                                                <span class="clear"></span>
                                            </div>
                                            <span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
                                        </div>
                                        <div name="braketype" class="filter-selection-div more-filter-item-data ride-style-list list-items hide">
                                            <span class="top-arrow"></span>
                                            <ul class="content-inner-block-10">
                                                @if (Model.BrakeTypes != null)
                                                {
                                                    foreach (var item in Model.BrakeTypes)
                                                    {
                                                        <li class="uncheck" filterid="@item.Id"><span>@item.Value</span></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid-3 padding-top10 alpha">
                                    <div class="more-filter-wheels">

                                        <div class="more-filter-item-title">
                                            <h3>Wheels</h3>
                                        </div>

                                        <div class="filter-div rounded-corner2">
                                            <div id="filter-style-displacement" class="filter-select-title">
                                                <span class="hide">Select wheel types</span>
                                                <span class="leftfloat filter-select-btn default-text">Select ride style</span>
                                                <span class="clear"></span>
                                            </div>
                                            <span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
                                        </div>
                                        <div name="alloywheel" class="filter-selection-div more-filter-item-data ride-style-list list-items hide">
                                            <span class="top-arrow"></span>
                                            <ul class="content-inner-block-10">
                                                @if (Model.WheelTypes != null)
                                                {
                                                    foreach (var item in Model.WheelTypes)
                                                    {
                                                        <li class="uncheck" filterid="@item.Id"><span>@item.Value</span></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid-3 padding-top10 alpha">
                                    <div class="more-filter-start-type">

                                        <div class="more-filter-item-title">
                                            <h3>Start type</h3>
                                        </div>

                                        <div class="filter-div rounded-corner2">
                                            <div id="filter-style-displacement" class="filter-select-title">
                                                <span class="hide">Select start type</span>
                                                <span class="leftfloat filter-select-btn default-text">Select ride style</span>
                                                <span class="clear"></span>
                                            </div>
                                            <span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
                                        </div>
                                        <div name="starttype" class="filter-selection-div more-filter-item-data ride-style-list list-items hide">
                                            <span class="top-arrow"></span>
                                            <ul class="content-inner-block-10">
                                                @if (Model.StartTypes != null)
                                                {
                                                    foreach (var item in Model.StartTypes)
                                                    {
                                                        <li class="uncheck" filterid="@item.Id"><span>@item.Value</span></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-2 padding-top10 alpha">
                                <div class="more-filter-abs">
                                    <div class="more-filter-item-title">
                                        <h3>ABS</h3>
                                    </div>
                                    <div name="ABS" class="more-filter-item-data margin-top10">
                                        <div class="bw-tabs-panel">
                                            <div class="bw-tabs-new home-tabs">
                                                <ul>
                                                    <li filterid="1" class="first" data-tabs="yes">Yes</li>
                                                    <li filterid="2" data-tabs="no" class="second">No</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<div class="clear"></div>
							<div class="padding-left10 margin-top10 margin-bottom10">
								<input type="button" class="filter-done-btn btn btn-orange margin-right15" value="Done" />
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section>
        <div class="container margin-bottom20 margin-top10">
            <div class="grid-12">
                <div id="searchList" class="search-result-container content-box-shadow rounded-corner2">
                    <div class="search-count-container border-solid-bottom padding-top10 padding-bottom10">
                        <div class="leftfloat grid-8 padding-top5">
                            <h2><span id="bikecount">@Model.BikeSearch.TotalCount Bikes</span></h2>
                        </div>
                        <div class="rightfloat padding-right10 padding-left30 grid-3">
                            <div class="sort-div rounded-corner2">
                                <div class="sort-by-title" id="sort-by-container">
                                    <span class="leftfloat sort-select-btn">Popular</span>
                                    <span class="clear"></span>
                                </div>
                                <span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
                            </div>
                            <div class="sort-selection-div sort-list-items hide">
                                <ul>
                                    <li class="selected" so="" sc="" sortqs="">Popular</li>
                                    <li so="0" sc="1" sortqs="so=0&sc=1">Price: Low to High</li>
                                    <li so="1" sc="1" sortqs="so=1&sc=1">Price: High to Low</li>
                                    <li so="0" sc="2" sortqs="so=0&sc=2">Mileage: High to Low</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @if (Model.BikeSearch != null && Model.BikeSearch.SearchResult != null)
                    {
                        <div class="search-bike-list">
                            <input type="hidden" id="pageLoadData" value="@EncodingDecodingHelper.EncodeTo64(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BikeSearch))" />
                            <div class="grid-12 alpha omega padding-left20 margin-top20 margin-bottom10">
                                <!-- ko if: models() && models().length > 0 -->
                                <ul id="divSearchResult" data-bind="visible: (!noBikes() && TotalBikes()), css: IsLoading() ? 'loader-active' : ''">
                                    @foreach (var bike in Model.BikeSearch.SearchResult)
                                    {
                                    <!-- ko if: models()[@i] && models()[@i].bikemodel -->
                                        <li>
                                            <div class="contentWrapper">
                                                <div class="imageWrapper">
                                                    <a href="@UrlFormatter.BikePageUrl(bike.BikeModel.MakeBase.MaskingName, bike.BikeModel.MaskingName)" title="@bike.BikeName" class="bw-ga" data-cat="Search_Page" data-lab="@bike.BikeName" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, title : models()[@i].bikeName, href: '/' +  models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/'}">
                                                        <img data-bind="attr : { 'src' : (models()[@i].bikemodel.hostUrl!='' ? models()[@i].bikemodel.hostUrl : 'https://imgd.aeplcdn.com/' ) +  '/310x174/' + (models()[@i].bikemodel.imagePath!='' ? models()[@i].bikemodel.imagePath : '/bikewaleimg/images/noimage.png' ),'alt' : models()[@i].bikeName,'title' : models()[@i].bikeName}" src="@Image.GetPathToShowImages(bike.BikeModel.OriginalImagePath, bike.BikeModel.HostUrl, ImageSize._310x174)" title="@bike.BikeName" alt="@bike.BikeName" />
                                                    </a>
                                                </div>
                                                <div class="bikeDescWrapper">
                                                    <h3 class="bikeTitle margin-bottom10"><a href="@UrlFormatter.BikePageUrl(bike.BikeModel.MakeBase.MaskingName, bike.BikeModel.MaskingName)" title="@bike.BikeName" class="bw-ga" data-cat="Search_Page" data-lab="@bike.BikeName" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/', title: models()[@i].bikeName }, text: models()[@i].bikeName ">@bike.BikeName</a></h3>

                                                    <div id="reviewRatingsDiv" class="text-xt-light-grey margin-bottom10 position-rel pos-right5">
                                                        <span class="rate-star-color" data-rate-cl="@bike.BikeModel.ReviewRateStar" data-bind="attr: {'data-rate-cl': models()[@i].bikemodel.reviewRateStar}">
                                                            <span class="bwsprite star-icon star-size-16"></span><span class="font14 inline-block" data-bind="text: models()[@i].bikemodel.reviewRate ? models()[@i].bikemodel.reviewRate : 'Not rated yet'">@(bike.BikeModel.ReviewRate > 0 ? bike.BikeModel.ReviewRate.ToString() : "Not rated yet")</span>
                                                        </span>
                                                        <span class='font11 text-xt-light-grey inline-block padding-left3' data-bind="visible: { if: models()[@i].bikemodel.ratingCount }">
                                                            &nbsp;(<span data-bind="text: models()[@i].bikemodel.ratingCount">@bike.BikeModel.RatingCount</span><span data-bind="text: models()[@i].bikemodel.ratingCount == 1 ? ' rating' : ' ratings'">@(bike.BikeModel.RatingCount == 1 ? " rating" : " ratings")</span>)
                                                        </span>
                                                        <span style="display:@(bike.BikeModel.ReviewCount == 0 ? "none" : "")" data-bind="visible: models()[@i].bikemodel.reviewCount">
                                                            <a class='text-xt-light  inline-block' href="@string.Format("{0}{1}", UrlFormatter.BikePageUrl(bike.BikeModel.MakeBase.MaskingName, bike.BikeModel.MaskingName) ,"reviews/")" title="@string.Format("{0} user reviews", bike.BikeName)" data-bind="attr: { href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/reviews/' , title: models()[@i].bikeName + ' user reviews' }">
                                                                <span class="review-left-divider" data-bind="text: models()[@i].bikemodel.reviewCount">@bike.BikeModel.ReviewCount</span>&nbsp;<span data-bind="text: models()[@i].bikemodel.reviewCount == 1 ? 'review' : 'reviews' ">@(bike.BikeModel.ReviewCount == 1 ? " review" : " reviews")</span>
                                                            </a>
                                                        </span>
                                                    </div>

                                                    <div class="font14 text-light-grey margin-bottom5">Ex-showroom, @BWConfiguration.Instance.DefaultName </div>
                                                    <div class="text-bold">
                                                        <span class="bwsprite inr-lg"></span>
                                                        <span class="font18" data-bind="text: models()[@i].price">@bike.FinalPrice</span><span class="font14 padding-left5 @(bike.FinalPrice.Equals("N/A") ? "hide" : "") " data-bind="visible : models()[@i].price != 'N/A'">onwards</span>
                                                    </div>
                                                    <div class="margin-bottom10 @(bike.FinalPrice.Equals("N/A") ? "hide" : "")" data-bind="visible : models()[@i].price != 'N/A'">
                                                        <a href="javascript:void(0)" data-pqsourceid="@Model.BikeSearch.PqSource" data-bind="attr: { 'data-modelid' : models()[@i].bikemodel.modelId}" data-modelid="@bike.BikeModel.ModelId" class="btn btn-grey btn-sm margin-top15 font14 getquotation">Check on-road price</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <!-- /ko -->
                                        i++;
                                    }

                                    @while (i < 30)
                                    {
                                    <!-- ko if: models()[@i] && models()[@i].bikemodel -->
                                        <li style="display: none" data-bind="visible: models()[@i]">
                                            <div class="contentWrapper">
                                                <div class="imageWrapper">
                                                    <a class="bw-ga" data-cat="Search_Page" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, title : models()[@i].bikeName, href: '/' +  models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/'}">
                                                        <img data-bind="attr : { 'src' : (models()[@i].bikemodel.hostUrl!='' ? models()[@i].bikemodel.hostUrl : 'https://imgd.aeplcdn.com/' ) +  '/310x174/' + (models()[@i].bikemodel.imagePath!='' ? models()[@i].bikemodel.imagePath : '/bikewaleimg/images/noimage.png' )},'alt' : models()[@i].bikeName,'title' : models()[@i].bikeName" />
                                                    </a>
                                                </div>
                                                <div class="bikeDescWrapper">
                                                    <h3 class="bikeTitle margin-bottom10"><a class="bw-ga" data-cat="Search_Page" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/', title: models()[@i].bikeName }, text: models()[@i].bikeName "></a></h3>

                                                    <div id="reviewRatingsDiv" class="text-xt-light-grey margin-bottom10 position-rel pos-right5">
                                                        <span class="rate-star-color" data-bind="attr: {'data-rate-cl': models()[@i].bikemodel.reviewRateStar}">
                                                            <span class="bwsprite star-icon star-size-16"></span><span class="font14 inline-block" data-bind="text: models()[@i].bikemodel.reviewRate ? models()[@i].bikemodel.reviewRate : 'Not rated yet'"></span>
                                                        </span>
                                                        <span class='font11 text-xt-light-grey inline-block padding-left3' data-bind="visible: { if: models()[@i].bikemodel.ratingCount }">
                                                            &nbsp;(<span data-bind="text: models()[@i].bikemodel.ratingCount"></span><span data-bind="text: models()[@i].bikemodel.ratingCount == 1 ? ' rating' : ' ratings'"></span>)
                                                        </span>
                                                        <span data-bind="visible: models()[@i].bikemodel.reviewCount">
                                                            <a class='text-xt-light  inline-block' data-bind="attr: { href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/reviews/' , title: models()[@i].bikeName + ' user reviews' }">
                                                                <span class="review-left-divider" data-bind="text: models()[@i].bikemodel.reviewCount"></span>&nbsp;<span data-bind="text: models()[@i].bikemodel.reviewCount == 1 ? 'review' : 'reviews' "></span>
                                                            </a>
                                                        </span>
                                                    </div>

                                                    <div class="font14 text-light-grey margin-bottom5">Ex-showroom, @BWConfiguration.Instance.DefaultName </div>
                                                    <div class="text-bold">
                                                        <span class="bwsprite inr-lg"></span>
                                                        <span class="font18" data-bind="text: models()[@i].price"></span><span class="font14 padding-left5" data-bind="visible : models()[@i].price != 'N/A'">onwards</span>
                                                    </div>
                                                    <div class="margin-bottom10" data-bind="visible : models()[@i].price != 'N/A'">
                                                        <a href="javascript:void(0)" data-pqsourceid="@Model.BikeSearch.PqSource" data-bind="attr: { 'data-modelid' : models()[@i].bikemodel.modelId}" class="btn btn-grey btn-sm margin-top15 font14 getquotation">Check on-road price</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <!-- /ko -->
                                        i++;
                                    }
                                </ul>
                                <!-- /ko -->

                                <ul id="divMoreSearchResult" data-bind="template: { name: 'loadMoreListing', foreach: searchResult()}"></ul>
                            </div>
                            <div class="clear"></div>
                            <div style="text-align: center;">
                                <div id="loading" style="display:none;" data-bind="visible : IsLoading()">
                                    <img src="https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/search-loading.gif" />
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="load-more-btn-container" style="display: @(String.IsNullOrEmpty(Model.BikeSearch.PageUrl.NextPageUrl) ? "none" : "")" data-bind="visible: IsMoreBikesAvailable() && !IsLoading()">
                                <a id="loadMoreBikes" title="Load More Bikes" href="@Model.PageMetaTags.NextPageUrl" data-url="@Model.BikeSearch.PageUrl.NextPageUrl" class="btn btn-teal" data-bind="attr: {'data-url' : LoadMoreTarget()}">
                                    <span data-bind="visible: (!IsLoadMore() && IsMoreBikesAvailable())">
                                        Load More
                                    </span>
                                    <span data-bind="visible: IsLoadMore()" style="display: none">
                                        Loading...
                                    </span>
                                </a>
                            </div>
                            <div style="text-align: center" data-bind="visible: TotalBikes() == 0">
                                <div id="nobikeresults" class="hide">
                                    <img src="/image/no_result_d.png" />
                                </div>
                            </div>
                            <script type="text/html" id="loadMoreListing">
                                <li>
                                    <div class="contentWrapper">
                                        <div class="imageWrapper">
                                            <a data-cat="Search_Page" data-act="Model_Click" class="bw-ga" data-bind="attr: {'data-lab': bikeName, title : bikeName, href: '/' +  bikemodel.makeBase.maskingName + '-bikes/' + bikemodel.maskingName + '/' }">
                                                <img data-bind="attr : {'alt' : bikeName, 'title' : bikeName, 'src' : (bikemodel.hostUrl != '' ? bikemodel.hostUrl : 'https://imgd.aeplcdn.com/') +  '/310x174/' + (bikemodel.imagePath != '' ? bikemodel.imagePath : '/bikewaleimg/images/noimage.png') }" />
                                            </a>
                                        </div>
                                        <div class="bikeDescWrapper">
                                            <h3 class="bikeTitle margin-bottom10"><a data-cat="Search_Page" class="bw-ga" data-act="Model_Click" data-bind="attr: {'data-lab': bikeName, href: '/' + bikemodel.makeBase.maskingName + '-bikes/' + bikemodel.maskingName + '/', title: bikeName }, text: bikeName"></a></h3>

                                            <div id="reviewRatingsDiv" class="text-xt-light-grey margin-bottom10 position-rel pos-right5">
                                                <span class="rate-star-color" data-bind="attr: {'data-rate-cl': bikemodel.reviewRateStar}">
                                                    <span class="bwsprite star-icon star-size-16"></span><span class="font14 inline-block" data-bind="text: bikemodel.reviewRate ? bikemodel.reviewRate : 'Not rated yet'"></span>
                                                </span>
                                                <span class='font11 text-xt-light-grey inline-block padding-left3' data-bind="visible: { if: bikemodel.ratingCount }">
                                                    &nbsp;(<span data-bind="text: bikemodel.ratingCount"></span><span data-bind="text: bikemodel.ratingCount == 1 ? ' rating' : ' ratings'"></span>)
                                                </span>
                                                <span data-bind="visible: bikemodel.reviewCount">
                                                    <a class='text-xt-light  inline-block' data-bind="attr: { href: '/' + bikemodel.makeBase.maskingName + '-bikes/' + bikemodel.maskingName + '/reviews/' , title: bikeName + ' user reviews' }">
                                                        <span class="review-left-divider" data-bind="text: bikemodel.reviewCount"></span>&nbsp;<span data-bind="text: bikemodel.reviewCount == 1 ? 'review' : 'reviews' "></span>
                                                    </a>
                                                </span>
                                            </div>

                                            <div class="font14 text-light-grey margin-bottom5">Ex-showroom, @BWConfiguration.Instance.DefaultName </div>
                                            <div class="text-bold">
                                                <span class="bwsprite inr-lg"></span>
                                                <span class="font18" data-bind="text: price"></span><span class="font14 padding-left5" data-bind="visible: {if : price != 'N/A'}">onwards</span>
                                            </div>
                                            <div class="margin-bottom10" data-bind="visible : price != 'N/A'">
                                                <a data-pqsourceid="@Model.BikeSearch.PqSource" data-bind="attr: { 'data-modelid' : bikemodel.modelId}" class="btn btn-grey btn-sm margin-top15 font14 getquotation">Check on-road price</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </script>
                        </div>
                    }                    
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
        <!--  News Bikes   updates code starts here -->
        if (Model.TabCount > 0)
        {
            <section>
                <div class="container">
                    <div class="grid-12">
                        <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Latest bike and scooter updates</h2>
                        <div class="bw-tabs-panel margin-bottom30 padding-bottom20 content-box-shadow article-control">
                            <div class="@string.Format("text-center {0}", Model.TabCount > 2 ? string.Empty : Model.TabCount > 1 ? "margin-top30 margin-bottom30" : "margin-top10")">
                                <div id="reviewCount" class="@string.Format("bw-tabs text-center {0}", Model.TabCount > 2 ? "bw-tabs-flex" : Model.TabCount > 1 ? "home-tabs" : "hide")">
                                    <ul>
                                        @if (Model.News.FetchedCount > 0)
                                    {
                                        <li class="@string.Format("{0}", Model.IsNewsActive ? "active" : "hide")" data-tabs="ctrlNews">
                                            <h3>News</h3>
                                        </li>
                                    }
                                        @if (Model.ExpertReviews.FetchedCount > 0)
                                    {
                                        <li class="@string.Format("{0}", Model.IsExpertReviewActive ? "active" : "hide")" data-tabs="ctrlExpertReviews">
                                            <h3>Expert Reviews</h3>
                                        </li>
                                    }
                                        @if (Model.Videos.FetchedCount > 0)
                                    {
                                        <li class="@string.Format("{0}", Model.IsVideoActive ? "active" : "hide")" data-tabs="ctrlVideos">
                                            <h3>Videos</h3>
                                        </li>
                                    }
                                    </ul>
                                </div>
                            </div>
                            <div class="@string.Format("bw-tabs-data padding-left10 padding-right10 {0}", Model.IsNewsActive ? "" : "hide")" id="ctrlNews">
                                @if (Model.News.FetchedCount > 0)
                            {
                                @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)

                            }
                            </div>
                            <div class="@string.Format("bw-tabs-data padding-left10 padding-right10 {0}", Model.IsExpertReviewActive ? "" : "hide")" id="ctrlExpertReviews">
                                @if (Model.ExpertReviews.FetchedCount > 0)
                            {
                                @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)

                            }
                            </div>
                            <div class="@string.Format("bw-tabs-data padding-left10 padding-right10 {0}", Model.IsVideoActive ? "" : "hide")" id="ctrlVideos">
                                @if (Model.Videos.FetchedCount > 0)
                            {
                                @Html.Partial("~/Views/Videos/_RecentVideos.cshtml", Model.Videos)

                            }
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }
        if (Model.BikeSearch != null && Model.BikeSearch.BudgetLinks != null && Model.BikeSearch.BudgetLinks.Any())
        {
            <section>
                <div class="container margin-bottom20">
                    <div class="grid-12">
                        <div class="alpha omega padding-left10 padding-top20 content-box-shadow">
                            <h2 class="h2-heading font18 padding-left10 padding-right10 margin-bottom20">Explore bikes in other price ranges</h2>
                            @Html.Partial("~/Views/NewBikeSearch/_NewBikeSearchBudget.cshtml", Model.BikeSearch.BudgetLinks)
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }

    @Html.Hidden("min-max-budget", Model.MinMaxBudget);
}


