@model Bikewale.Models.NewBikeSearch.NewBikeSearchVM
@using Bikewale.Utility;
@if (Model != null)
{
    ushort i = 0;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/new/bwm-search.css' inline />";
    Model.Page_BTF_CSS_Path = "/css/chosen.min.css";
    Model.Page_JS_Path = "/m/src/new/search_new.js";
    Model.AdTags.AdId = "1517810637194";
    Model.AdTags.AdPath = "/1017752/Bikewale_NewBikeSearch";
    Model.AdTags.Ad_Body_Top_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
    Model.IsHeaderRequired = false;
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";

    <div class="blackOut-window"></div>
    <!-- global-search-popup code starts here -->

    <div id="global-search-popup" class="global-search-popup" style="display: none">
        <div class="form-control-box">
            <span class="back-arrow-box" id="gs-close">
                <span class="bwmsprite back-long-arrow-left"></span>
            </span>
            <span class="cross-box hide" id="gs-text-clear">
                <span class="bwmsprite cross-md-dark-grey"></span>
            </span>
            <input type="text" name="globalSearch" placeholder="Search" id="globalSearch" class="form-control padding-right30" autocomplete="off">
            <span class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display: none; right: 35px; top: 13px"></span>
            <ul id="errGlobalSearch" style="width: 100%; margin-left: 0" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content hide">
                <li class="ui-menu-item" tabindex="-1">
                    <span class="text-bold">Oops! No suggestions found</span><br />
                    <span class="text-light-grey font12">Search by bike name e.g: Honda Activa</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- global-search-popup code ends here -->
    <header>
        <div class="header-fixed">
            <!-- Fixed Header code starts here -->
            <span id="bikecount" class="font18 text-white brand-total">@Model.BikeSearch.TotalCount Bikes</span>
            <div class="leftfloat">
                <span id="navbarBtn" class="navbarBtn bwmsprite nav-icon margin-right10"></span>
            </div>
            <div class="rightfloat">
                <a class="global-search" id="global-search" style="display: none">
                    <span class="bwmsprite search-icon-grey"></span>
                </a>
                <a class="filter-btn" id="filter-btn">
                    <span class="bwmsprite filter-icon"></span>
                </a>
                <a class="sort-btn" id="sort-btn">
                    <span class="bwmsprite sort-icon"></span>
                </a>
            </div>

            <div class="clear"></div>
        </div>
        <!-- ends here -->
        <div class="clear"></div>

    </header>
    if (Model.AdTags.Ad_Body_Top_320x50)
    {
        <div class="margin-bottom20 text-center">
            @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad320x50_Top.cshtml", Model.AdTags);}
        </div>
    }
    <section>
        <!--  Used Search code starts here -->
        <div class="container">
            <div>
                <!--  class="grid-12"-->

                <div class="hide" id="sort-by-div">
                    <div class="filter-sort-div font14 bg-white">
                        <div sc="1" so="">
                            <a data-title="sort" class="price-sort position-rel">
                                Price<span class="hide sort-text" so="0"></span>
                            </a>
                        </div>
                        <div sc="" class="border-solid-left">
                            <a data-title="sort" class="position-rel">
                                Popularity
                            </a>
                        </div>
                        <div sc="2" class="border-solid-left">
                            <a data-title="sort" class="position-rel">
                                Mileage
                            </a>
                        </div>
                    </div>
                </div>
                @if (Model.BikeSearch != null && Model.BikeSearch.SearchResult != null)
                {
                    <div class="bike-search content-box-shadow">
                        <input type="hidden" id="pageLoadData" value="@EncodingDecodingHelper.EncodeTo64(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BikeSearch))" />
                        <!-- ko if : models() && models().length > 0 -->
                        <div id="divSearchResult" data-bind="visible : !noBikes() && TotalBikes() != 0" class="search-bike-container">
                            <ul>
                                @foreach (var bike in Model.BikeSearch.SearchResult)
                                {
                                    <!-- ko if: models()[@i]-->
                                    <li class="search-bike-item">
                                        <div class="front">
                                            <div class="contentWrapper">
                                                <div class="imageWrapper">
                                                    <a href="@string.Format("{0}/m{1}",BWConfiguration.Instance.BwHostUrl,  UrlFormatter.BikePageUrl(bike.BikeModel.MakeBase.MaskingName, bike.BikeModel.MaskingName))" title="@bike.BikeName" class="bw-ga" data-cat="Search_Page" data-lab="@bike.BikeName" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, href: '/m/' +  models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/', title : models()[@i].bikeName }">
                                                        <img data-bind="attr : { 'src' : (models()[@i].bikemodel.hostUrl!='' ? models()[@i].bikemodel.hostUrl : 'https://imgd.aeplcdn.com/' ) +  '/310x174/' + (models()[@i].bikemodel.imagePath!='' ? models()[@i].bikemodel.imagePath : '/bikewaleimg/images/noimage.png' ),'alt' : models()[@i].bikeName,'title' : models()[@i].bikeName}" src="@Image.GetPathToShowImages(bike.BikeModel.OriginalImagePath, bike.BikeModel.HostUrl, ImageSize._310x174)" title="@bike.BikeName" alt="@bike.BikeName" />
                                                    </a>
                                                </div>
                                                <div class="bikeDescWrapper">
                                                    <div class="bikeTitle margin-bottom10">
                                                        <h3 class="bikeTitle margin-bottom10"><a href="@string.Format("{0}/m{1}", BWConfiguration.Instance.BwHostUrl, UrlFormatter.BikePageUrl(bike.BikeModel.MakeBase.MaskingName, bike.BikeModel.MaskingName))" title="@bike.BikeName" class="bw-ga" data-cat="Search_Page" data-lab="@bike.BikeName" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/', title: models()[@i].bikeName }, text: models()[@i].bikeName">@bike.BikeName</a></h3>
                                                    </div>

                                                    <div id="reviewRatingsDiv" class=" font13 margin-bottom10 position-rel pos-right5">
                                                        <span class="rate-star-color" data-rate-cl="@bike.BikeModel.ReviewRateStar" data-bind="attr: {'data-rate-cl': models()[@i].bikemodel.reviewRateStar}">
                                                            <span class="bwmsprite star-icon star-size-16"></span><span class="font14 inline-block" data-bind="text: models()[@i].bikemodel.reviewRate ? models()[@i].bikemodel.reviewRate : 'Not rated yet'">@(bike.BikeModel.ReviewRate > 0 ? bike.BikeModel.ReviewRate.ToString() : "Not rated yet")</span>
                                                        </span>
                                                        <span class='font11 text-xt-light-grey inline-block padding-left3' data-bind="visible: { if: models()[@i].bikemodel.ratingCount }">
                                                            &nbsp;(<span data-bind="text: models()[@i].bikemodel.ratingCount">@bike.BikeModel.RatingCount</span><span data-bind="text: models()[@i].bikemodel.ratingCount == 1 ? ' rating' : ' ratings'">@(bike.BikeModel.RatingCount == 1 ? " rating" : " ratings")</span>)
                                                        </span>
                                                        <span style="display:@(bike.BikeModel.ReviewCount == 0 ? "none" : "")" data-bind="visible: models()[@i].bikemodel.reviewCount">
                                                            <a class='text-xt-light  inline-block' href="@string.Format("{0}/m{1}{2}", BWConfiguration.Instance.BwHostUrl, UrlFormatter.BikePageUrl(bike.BikeModel.MakeBase.MaskingName, bike.BikeModel.MaskingName) ,"reviews/")" title="@string.Format("{0} user reviews", bike.BikeName)" data-bind="attr: { href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/reviews/' , title: models()[@i].bikeName + ' user reviews' }">
                                                                <span class="review-left-divider" data-bind="text: models()[@i].bikemodel.reviewCount">@bike.BikeModel.ReviewCount</span>&nbsp;<span data-bind="text: models()[@i].bikemodel.reviewCount == 1 ? 'review' : 'reviews' ">@(bike.BikeModel.ReviewCount == 1 ? " review" : " reviews")</span>
                                                            </a>
                                                        </span>
                                                    </div>

                                                    <div class="margin-bottom5 font14 text-light-grey">Ex-showroom, @BWConfiguration.Instance.DefaultName</div>
                                                    <div>
                                                        <span class="bwmsprite inr-sm-icon"></span>
                                                        <span class="text-bold font18" data-bind="text: models()[@i].price">@bike.FinalPrice</span><span class="font14 padding-left5 @(bike.FinalPrice.Equals("N/A") ? "hide" : "")" data-bind="visible : models()[@i].price != 'N/A'">onwards</span>
                                                    </div>
                                                    <div class="margin-bottom10 @(bike.FinalPrice.Equals("N/A") ? "hide" : "")" data-bind="visible : models()[@i].price != 'N/A'">
                                                        <a href="javascript:void(0)" data-pqsourceid="@Model.BikeSearch.PqSource" data-bind="attr: { 'data-modelid' : models()[@i].bikemodel.modelId}" data-modelid="@bike.BikeModel.ModelId" class="btn btn-sm btn-white font14 margin-top20 getquotation">Check on-road price</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- /ko -->
                                    i++;
                                }
                                @while (i < 30)
                                {
                                    <!-- ko if: models()[@i] && models()[@i].bikemodel -->
                                    <li class="search-bike-item" style="display:none" data-bind="
                                    <li class="search-bike-item" style="display:none" data-bind="visible: models()[@i]">
                                        <div class="front">
                                            <div class="contentWrapper">
                                                <div class="imageWrapper">
                                                    <a class="bw-ga" data-cat="Search_Page" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, href: '/m/' +  models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/', title : models()[@i].bikeName }">
                                                        <img data-bind="attr : { 'src' : (models()[@i].bikemodel.hostUrl!='' ? models()[@i].bikemodel.hostUrl : 'https://imgd.aeplcdn.com/' ) +  '/310x174/' + (models()[@i].bikemodel.imagePath!='' ? models()[@i].bikemodel.imagePath : '/bikewaleimg/images/noimage.png' ),'alt' : models()[@i].bikeName,'title' : models()[@i].bikeName}" />
                                                    </a>
                                                </div>
                                                <div class="bikeDescWrapper">
                                                    <div class="bikeTitle margin-bottom10">
                                                        <h3 class="bikeTitle margin-bottom10"><a class="bw-ga" data-cat="Search_Page" data-act="Model_Click" data-bind="attr: {'data-lab': models()[@i].bikeName, href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/', title: models()[@i].bikeName }, text: models()[@i].bikeName"></a></h3>
                                                    </div>

                                                    <div id="reviewRatingsDiv" class=" font13 margin-bottom10 position-rel pos-right5">
                                                        <span class="rate-star-color" data-bind="attr: {'data-rate-cl': models()[@i].bikemodel.reviewRateStar}">
                                                            <span class="bwmsprite star-icon star-size-16"></span><span class="font14 inline-block" data-bind="text: models()[@i].bikemodel.reviewRate ? models()[@i].bikemodel.reviewRate : 'Not rated yet'"></span>
                                                        </span>
                                                        <span class='font11 text-xt-light-grey inline-block padding-left3' data-bind="visible: { if: models()[@i].bikemodel.ratingCount }">
                                                            &nbsp;(<span data-bind="text: models()[@i].bikemodel.ratingCount"></span><span data-bind="text: models()[@i].bikemodel.ratingCount == 1 ? ' rating' : ' ratings'"></span>)
                                                        </span>
                                                        <span data-bind="visible: models()[@i].bikemodel.reviewCount">
                                                            <a class='text-xt-light  inline-block' data-bind="attr: { href: '/' + models()[@i].bikemodel.makeBase.maskingName + '-bikes/' + models()[@i].bikemodel.maskingName + '/reviews/' , title: models()[@i].bikeName + ' user reviews' }">
                                                                <span class="review-left-divider" data-bind="text: models()[@i].bikemodel.reviewCount"></span>&nbsp;<span data-bind="text: models()[@i].bikemodel.reviewCount == 1 ? 'review' : 'reviews' "></span>
                                                            </a>
                                                        </span>
                                                    </div>

                                                    <div class="margin-bottom5 font14 text-light-grey">Ex-showroom, @BWConfiguration.Instance.DefaultName</div>
                                                    <div>
                                                        <span class="bwmsprite inr-sm-icon"></span>
                                                        <span class="text-bold font18" data-bind="text: models()[@i].price"></span><span class="font14 padding-left5" data-bind="visible : models()[@i].price != 'N/A'">onwards</span>
                                                    </div>
                                                    <div class="margin-bottom10" data-bind="visible : models()[@i].price != 'N/A'">
                                                        <a href="javascript:void(0)" data-pqsourceid="@Model.BikeSearch.PqSource" data-bind="attr: { 'data-modelid' : models()[@i].bikemodel.modelId}" class="btn btn-sm btn-white font14 margin-top20 getquotation">Check on-road price</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- /ko -->
                                    i++;
                                }
                            </ul>
                        </div>
                        <!-- /ko -->
                        <div id="divMoreSearchResult" data-bind="template: { name: 'loadMoreListing', foreach: searchResult }" class="search-bike-container">
                        </div>
                        <div class="clear"></div>
                        <div style="text-align: center;">
                            <div id="loading" style="display:none;" data-bind="visible : IsLoading()">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/search-loading.gif" />
                            </div>
                        </div>
                        <div class="load-more-btn-container margin-bottom15" style="display: @(String.IsNullOrEmpty(Model.BikeSearch.PageUrl.NextPageUrl) ? "none" : "")" data-bind="visible: IsMoreBikesAvailable() && !IsLoading()">
                            <a id="loadMoreBikes" title="Load More Bikes" href="@Model.PageMetaTags.NextPageUrl" data-url="@Model.BikeSearch.PageUrl.NextPageUrl" class="btn btn-teal" data-bind="attr: {'data-url' : LoadMoreTarget()}">
                                <span data-bind="visible: (!IsLoadMore() && IsMoreBikesAvailable())">
                                    Load More
                                </span>
                                <span data-bind="visible: IsLoadMore()" style="display: none">
                                    Loading...
                                </span>
                            </a>
                        </div>
                        <div style="text-align: center" data-bind="visible: TotalBikes() == 0">
                            <div id="nobikeresults" class="hide">
                                <img src="/image/no_result_m.png" />
                            </div>
                        </div>
                        <script type="text/html" id="loadMoreListing">
                            <div class="search-bike-item">
                                <div class="front">
                                    <div class="contentWrapper">
                                        <div class="imageWrapper">
                                            <a class="bw-ga" data-cat="Search_Page" data-act="Model_Click" data-bind="attr: {'data-lab': bikeName, href: '/m/' +  bikemodel.makeBase.maskingName + '-bikes/' + bikemodel.maskingName + '/', title : bikeName }">
                                                <img data-bind="attr : { 'src' : (bikemodel.hostUrl!='' ? bikemodel.hostUrl : 'https://imgd.aeplcdn.com/' ) +  '/310x174/' + (bikemodel.imagePath!='' ? bikemodel.imagePath : '/bikewaleimg/images/noimage.png' ), 'alt' : bikeName, 'title' : bikeName}" />
                                            </a>
                                        </div>
                                        <div class="bikeDescWrapper">
                                            <div class="bikeTitle margin-bottom10">
                                                <h3 class="bikeTitle margin-bottom10"><a class="bw-ga" data-cat="Search_Page" data-act="Model_Click" data-bind="attr: {'data-lab': bikeName, href: '/' + bikemodel.makeBase.maskingName + '-bikes/' + bikemodel.maskingName + '/', title: bikeName }, text: bikeName"></a></h3>
                                            </div>

                                            <div id="reviewRatingsDiv" class=" font13 margin-bottom10 position-rel pos-right5">
                                                <span class="rate-star-color" data-bind="attr: {'data-rate-cl': bikemodel.reviewRateStar}">
                                                    <span class="bwmsprite star-icon star-size-16"></span><span class="font14 text-bold inline-block" data-bind="text: bikemodel.reviewRate ? bikemodel.reviewRate : 'Not rated yet'"></span>
                                                </span>
                                                <span class='font11 text-xt-light-grey inline-block padding-left3' data-bind="visible: { if: bikemodel.ratingCount }">
                                                    &nbsp;(<span data-bind="text: bikemodel.ratingCount"></span><span data-bind="text: bikemodel.ratingCount == 1 ? ' rating' : ' ratings'"></span>)
                                                </span>
                                                <span data-bind="visible: bikemodel.reviewCount">
                                                    <a class='text-xt-light  inline-block' data-bind="attr: { href: '/' + bikemodel.makeBase.maskingName + '-bikes/' + bikemodel.maskingName + '/reviews/' , title: bikeName + ' user reviews' }">
                                                        <span class="review-left-divider" data-bind="text: bikemodel.reviewCount"></span>&nbsp;<span data-bind="text: bikemodel.reviewCount == 1 ? 'review' : 'reviews' "></span>
                                                    </a>
                                                </span>
                                            </div>

                                            <div class="margin-bottom5 font14 text-light-grey">Ex-showroom, @BWConfiguration.Instance.DefaultName</div>
                                            <div>
                                                <span class="bwmsprite inr-sm-icon"></span>
                                                <span class="text-bold font18" data-bind="text: price"></span><span class="font14 padding-left5" data-bind="visible : price != 'N/A'">onwards</span>
                                            </div>
                                            <div class="margin-bottom10" data-bind="visible : price != 'N/A'">
                                                <a href="javascript:void(0)" data-pqsourceid="@Model.BikeSearch.PqSource" data-bind="attr: { 'data-modelid' : bikemodel.modelId}" class="btn btn-sm btn-white font14 margin-top20 getquotation">Check on-road price</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </script>
                    </div>
                }
            </div>
            <div class="clear"></div>
        </div>

    </section>
    <!-- Used Search code  Ends here -->
    <!--Filters starts here-->
    <div id="filter-div" class="popup_layer hide">
        <div data-role="header" data-theme="b" class="ui-corner-top" data-icon="delete">
            <div id="hidePopup" class="filterBackArrow" popupname="filterpopup" @*onclick="CloseWindow(this)"*@>
                <!--<span class="bwmsprite back-long-arrow-left-white"></span>-->
                <span class="bwmsprite fa-angle-left"></span>
            </div>
            <div class="floatleft cw-m-sprite city-back-btn" id="back-btn"></div>
            <div class="filterTitle">Filters</div>
            <div id="btnReset" class="resetrTitle">Reset</div>
            <div class="clear"></div>
        </div>
        <div class="content-inner-block-20 margin-bottom40 clearfix">
            <!--Brand section starts here-->
            <div class="dropdown form-control-box margin-bottom20">
                <h3 class="text-black margin-bottom10">Brand</h3>
                <div class="form-control">
                    <span class="hida">Brand</span>
                    <div class="multiSel"></div>
                </div>

                <div name="bike" class="multiSelect">
                    <ul>
                        @foreach (var item in Model.PopularBrands)
                        {
                            <li class="unchecked" filterid="@item.MakeId"><span>@item.MakeName</span></li>
                        }
                        <hr class="border-solid" />
                        @foreach (var item in Model.OtherBrands)
                        {
                            <li class="unchecked" filterid="@item.MakeId"><span>@item.MakeName</span></li>
                        }
                    </ul>
                </div>
            </div>
            <!--Brand section starts here-->
            <!--Budget section starts here-->
            <div class="margin-bottom20">
                <h3 class="text-black margin-bottom10">Budget</h3>
                <div class="slider-box content-box-shadow content-inner-block-10">
                    <div class="leftfloat">
                        <span id="rangeAmount">0 - Any value</span>
                    </div>
                    <div class="clear"></div>
                    <div name="budget" id="mSlider-range" class="bwm-sliders"></div>
                </div>
            </div>
            <!--Budget section ends here-->
            <!--Displacement section starts here-->
            <div class="dropdown form-control-box margin-bottom20">
                <h3 class="text-black margin-bottom10">Displacement</h3>
                <div class="form-control">
                    <span class="hida">Displacement</span>
                    <div class="multiSel"></div>
                </div>

                <div name="displacement" class="multiSelect">
                    <ul>
                        <li class="unchecked" filterid="1"><span>Up to 110 cc</span></li>
                        <li class="unchecked" filterid="7"><span>110-125 cc</span></li>
                        <li class="unchecked" filterid="8"><span>125-150 cc</span></li>
                        <li class="unchecked" filterid="3"><span>150-200 cc</span></li>
                        <li class="unchecked" filterid="4"><span>200-250 cc</span></li>
                        <li class="unchecked" filterid="5"><span>250-500 cc</span></li>
                        <li class="unchecked" filterid="6"><span>500 cc and more</span></li>
                    </ul>
                </div>
            </div>
            <!--Displacement section starts here-->
            <!--ride section starts here-->
            <div class="dropdown form-control-box margin-bottom20">
                <h3 class="text-black margin-bottom10">Ride style</h3>
                <div class="form-control">
                    <span class="hide">Ride Style</span>
                    <span class="hida">Ride Style</span>
                    <div class="multiSel"></div>
                </div>

                <div name="ridestyle" class="multiSelect">
                    <ul>
                        <li class="unchecked" filterid="1"><span>Cruisers</span></li>
                        <li class="unchecked" filterid="2"><span>Sports</span></li>
                        <li class="unchecked" filterid="3"><span>Street</span></li>
                        <li class="unchecked" filterid="5"><span>Scooters</span></li>
                    </ul>
                </div>
            </div>
            <!--ride section starts here-->
            <!--ride section starts here-->
            <div class="form-control-box margin-bottom20 clearfix">
                <h3 class="text-black margin-bottom10">Mileage</h3>
                <div name="mileage" class="grid-12 mileage-box">
                    <div class="grid-3 content-inner-block-5">
                        <span filterid="1" class="form-control mileage">70+</span>
                    </div>
                    <div class="grid-3 content-inner-block-5">
                        <span filterid="2" class="form-control mileage">70-50</span>
                    </div>
                    <div class="grid-3 content-inner-block-5">
                        <span filterid="3" class="form-control mileage">50-30</span>
                    </div>
                    <div class="grid-3 content-inner-block-5">
                        <span filterid="4" class="form-control mileage">30-0</span>
                    </div>
                </div>
            </div>
            <!--ride section starts here-->

            <div class="grid-12 alpha omega margin-bottom20 clear">
                <div class="grid-5 alpha">
                    <h3>ABS</h3>
                </div>
                <div name="ABS" class="grid-7 omega">
                    <span filterid="1" class="form-control grid-6 checkOption">Yes</span>
                    <span filterid="2" class="form-control grid-6 checkOption">No</span>
                </div>
            </div>

            <div class="grid-12 alpha omega margin-bottom20 clear">
                <div class="grid-5 alpha">
                    <h3>Brakes</h3>
                </div>
                <div name="braketype" class="grid-7 omega">
                    <span filterid="2" class="form-control grid-6 checkOption">Disc</span>
                    <span filterid="1" class="form-control grid-6 checkOption">Drum</span>
                </div>
            </div>

            <div class="grid-12 alpha omega margin-bottom20 clear">
                <div class="grid-5 alpha">
                    <h3>Wheels</h3>
                </div>
                <div name="alloywheel" class="grid-7 omega">
                    <span filterid="2" class="form-control grid-6 checkOption">Alloy</span>
                    <span filterid="1" class="form-control grid-6 checkOption">Spoke</span>
                </div>
            </div>

            <div class="grid-12 alpha omega margin-bottom20 clear">
                <div class="grid-5 alpha">
                    <h3>Start type</h3>
                </div>
                <div name="starttype" class="grid-7 omega">
                    <span filterid="1" class="form-control grid-6 checkOption">Electric</span>
                    <span filterid="2" class="form-control grid-6 checkOption">Kick</span>
                </div>
            </div>

        </div>

        <!--Button starts here-->
        <div class="popup-btn-filters hide text-center">
            <div class="margin-left10 margin-right10">
                <input type="button" id="btnApplyFilters" class="btn btn-orange btn-full-width" value="Apply Filters" />
            </div>
        </div>
        <!--Button ends here-->
        <!--Filters ends here-->
        <div class="clear"></div>
    </div>
    if (Model.AdTags.Ad_300x250BTF)
    {
        Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", Model.AdTags);
    }
    if (Model.TabCount > 0)
    {
        <section>
            <!--  News, reviews and videos code starts here -->
            <div class="container margin-bottom20">
                <h2 class="font18 text-center margin-top20 margin-bottom10">Latest bike and scooter updates</h2>
                <div class="grid-12 alpha omega">
                    <div class="content-box-shadow">
                        <div class="bw-tabs-panel article-control padding-bottom20">
                            <div class="bw-tabs">
                                <div class="@string.Format("text-center {0}", Model.TabCount > 2 ? string.Empty : Model.TabCount > 1 ? "margin-top30 margin-bottom30" : "margin-top10")">
                                    <div id="reviewCount" class="@string.Format("bw-tabs text-center {0}", Model.TabCount > 2 ? "bw-tabs-flex" : Model.TabCount > 1 ? "home-tabs" : "hide")">
                                        <ul>
                                            @if (Model.News.FetchedCount > 0)
                                            {
                                                <li data-tabs="ctrlNews" class="@string.Format("{0}", Model.IsNewsActive ? "active" : "hide")">News</li>
                                            }
                                            @if (Model.ExpertReviews.FetchedCount > 0)
                                            {
                                                <li data-tabs="ctrlExpertReviews" class="@string.Format("{0}", Model.IsExpertReviewActive ? "active" : "hide")">Expert Reviews</li>
                                            }
                                            @if (Model.Videos.FetchedCount > 0)
                                            {
                                                <li data-tabs="ctrlVideos" class="@string.Format("{0}", Model.IsVideoActive ? "active" : "hide")">Videos</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bw-tabs-data margin-right20 margin-left20" id="ctrlNews">
                                @if (Model.News.FetchedCount > 0)
                                {
                                    @Html.Partial("~/Views/News/_RecentNews_Mobile.cshtml", Model.News)
                                }
                            </div>
                            <div class="bw-tabs-data hide margin-right20 margin-left20" id="ctrlExpertReviews">
                                @if (Model.ExpertReviews.FetchedCount > 0)
                                {
                                    @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews_Mobile.cshtml", Model.ExpertReviews)
                                }
                            </div>
                            <div class="bw-tabs-data hide margin-right20 margin-left20" id="ctrlVideos">
                                @if (Model.Videos.FetchedCount > 0)
                                {
                                    @Html.Partial("~/Views/Videos/_RecentVideos_Mobile.cshtml", Model.Videos)
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="back-to-top" id="back-to-top"></div>
        </section>
    }

    if (Model.BikeSearch != null && Model.BikeSearch.BudgetLinks != null && Model.BikeSearch.BudgetLinks.Any())
    {
        <section>
            <!--  News, reviews and videos code starts here -->
            <div class="container margin-bottom10 margin-top20">
                <div class="grid-12 alpha omega">
                    <div class="content-box-shadow padding-top15 padding-right10 padding-bottom5 padding-left10 content-details-wrapper">
                        <h2 class="font18 padding-left10 padding-right10">Explore bikes in other price ranges</h2>
                        @Html.Partial("~/Views/NewBikeSearch/_NewBikeSearchBudget_Mobile.cshtml", Model.BikeSearch.BudgetLinks)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    @Html.Hidden("min-max-budget", Model.MinMaxBudget);
}
