@using Bikewale.Entities.BikeData.NewLaunched;

@{       
    
    NewLaunchedBikeResult objBikeList = ViewBag.Bikes;
    IEnumerable<BikesCountByYearEntityBase> objYears = ViewBag.Years;
    IEnumerable<BikesCountByMakeEntityBase> objMakes = ViewBag.Makes;
}

@if (objBikeList != null)
{
    <div class="container bg-white box-shadow section-bottom-margin">
        <div class="box-shadow padding-top10 padding-bottom10">
            <div class="grid-6 padding-left15 padding-right15 border-solid-right">
                <p class="font12 text-light-grey">Brand</p>
                <p id="brand-filter-selection" class="filter-selection-value text-truncate">All brands</p>
            </div>
            <div class="grid-6 padding-left15 padding-right15">
                <p class="font12 text-light-grey">Launch year</p>
                <p id="year-filter-selection" class="filter-selection-value text-truncate">All years</p>
            </div>
            <div class="clear"></div>
        </div>
        <ul class="new-launches-list">
            @foreach (var bike in objBikeList.Bikes)
            {  string bikeName = string.Format("{0} {1}",bike.Make.MakeName,bike.Model.ModelName);
                <li class="list-item">
                    <a href="" title="@bikeName" class="block">
                        <div class="item-image-content">
                            <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,Bikewale.Utility.ImageSize._310x174)" alt="@bikeName" src="" />
                        </div>
                        <h3>@bikeName</h3>
                        <ul class="key-specs-list font12 margin-bottom5">
                            @if (string.IsNullOrEmpty(bike.MinSpecs.Displacement.ToString()))
                            {
                                <li>
                                    <span>@{ Bikewale.Utility.FormatMinSpecs.ShowAvailable(bike.MinSpecs.Displacement.ToString(), "cc"); }</span>
                                </li>
                            }
                            @if (string.IsNullOrEmpty(bike.MinSpecs.FuelEfficiencyOverall.ToString()))
                            {
                                <li>
                                    <span>@{ Bikewale.Utility.FormatMinSpecs.ShowAvailable(bike.MinSpecs.FuelEfficiencyOverall.ToString(), "kmpl"); }</span>
                                </li>
                            }
                            @if (string.IsNullOrEmpty(bike.MinSpecs.MaximumTorque.ToString()))
                            {
                                <li>
                                    <span>@{ Bikewale.Utility.FormatMinSpecs.ShowAvailable(bike.MinSpecs.MaximumTorque.ToString(), "bhp"); }</span>
                                </li>
                            }
                           
                            
                           
                        </ul>
                        <div class="leftfloat exshowroom-price-content">
                            <p class="key-size-13 text-truncate">Ex-showroom price, @( bike.City!=null && !string.IsNullOrEmpty(bike.City.CityName) ? bike.City.CityName : "Mumbai" )</p>
                            <span class="bwmsprite inr-sm-icon"></span> <span class="value-size-18">@Bikewale.Utility.Format.FormatPrice(bike.Price.ToString())</span>
                        </div>
                        <div class="leftfloat launched-date-content">
                            <p class="key-size-13 text-truncate">Launched on</p>
                            <span class="value-size-16">@Bikewale.Utility.FormatDate.GetFormatDate(bike.LaunchedOn.ToString(), "dd MMM yyyy")</span>
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div class="margin-top10">
                        <a href="javascript:void(0)" data-pqsourceid="@ViewBag.PqSource" data-modelid="@bike.Model.ModelId" class="btn btn-white btn-180-32 getquotation">Check on-road price</a>
                    </div>
                </li>
            }
            
        </ul>

        <div class="margin-right10 margin-left10 padding-top15 padding-bottom15 border-solid-top">
            <div class="grid-5 omega text-light-grey font13">
                <span class="text-bold text-default">@String.Format("{0}-{1}", ViewBag.pager.PageNo, Math.Min(ViewBag.pager.PageSize, ViewBag.pager.TotalResults))</span> of <span class="text-bold text-default">@ViewBag.pager.TotalResults</span> bikes
            </div>
            @{ Html.RenderAction("Index", "Pager", new { objPager = @ViewBag.pager }); }
        </div>
    </div>
}


 @if (objMakes != null)
 {

    <div id="brand-slideIn-drawer" class="slideIn-drawer-container fix-only-header">
        <div class="drawer-top-header">
            <span id="close-brand-slideIn-drawer" class="back-arrow-box inline-block">
                <span class="bwmsprite back-long-arrow-left"></span>
            </span><p class="head-label inline-block">Select brand</p>
        </div>
        <div class="drawer-body-content">
            <div class="filter-input-box">
                <div class="form-control-box">
                    <input type="text" id="" class="form-control padding-right40" placeholder="Type to select brand">
                    <span class="bwmsprite search-icon-grey"></span>
                </div>
            </div>
            <ul class="filter-list">
                @foreach(var make in objMakes)
                {
                     <li>
                    <span>@make.Make.MakeName</span>
                </li>
                }
                
            </ul>
        </div>
    </div>
 }
 
@if (objYears != null)
 {
<div id="year-slideIn-drawer" class="slideIn-drawer-container fix-only-header">
    <div class="drawer-top-header">
        <span id="close-year-slideIn-drawer" class="back-arrow-box inline-block">
            <span class="bwmsprite back-long-arrow-left"></span>
        </span><p class="head-label inline-block">Select year</p>
    </div>
    <div class="drawer-body-content">
        <ul class="filter-list">
            @foreach(var year in objYears)
            {
                <li>
                    <span>@year.Year</span>
                </li>  
            }
        </ul>
    </div>
</div>
}