@{    
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/new-launch/new-launch.css' />";
    ViewBag.Page_JS_Path = "/m/src/new-launch.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<section>
    <div class="container bg-white card-bottom-margin">
        <h1 class="card-header">New @ViewBag.MakeName Bike Launches</h1>
        <div class="card-inner-padding font14 text-light-grey collapsible-content">
            <p class="main-content">@ViewBag.MakeName is a well-known two-wheeler brand in India. The two-wheeler brands in India have to update their portfolio of bikes vis-à-vis changing behavior pattern and usefulness on a regular basis. Every year there are plenty of bike models that hit the market to cater the customer’s need. BikeWale brings you an exhaustive list of newly launched @ViewBag.MakeName bikes in India. Explore the list of latest @ViewBag.MakeName bikes.</p>
        </div>
    </div>
</section>

<section id="newlaunched-bikes" data-make-filter="@ViewBag.MakeId">
    <div class="container bg-white box-shadow card-bottom-margin">
        <h2 class="padding-15-20 border-solid-bottom">Latest @ViewBag.MakeName bikes in India</h2>
        @Html.Partial("~/Views/m/NewLaunches/_NewLaunchedBikes.cshtml")
    </div>
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Upcoming Bajaj bikes in India</h2>
        <div class="swiper-container card-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="TVS XL 100">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd3.aeplcdn.com///174x98//bw/upcoming/tvs-xl100-704.jpg?20162803121410" alt="TVS XL 100" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">TVS XL 100</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Jan 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">28,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Kawasaki Ninja ZX-14R [2016]">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd2.aeplcdn.com///174x98//bw/upcoming/kawasaki-ninjazx-14r[2016]-703.jpg?20162402145840" alt="Kawasaki Ninja ZX-14R [2016]" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Kawasaki Ninja ZX-14R [2016]</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Feb 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">17,50,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Suzuki Hayate EP">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd3.aeplcdn.com///174x98//bw/upcoming/suzuki-hayateep-705.jpg?20160104150238" alt="Suzuki Hayate EP" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Suzuki Hayate EP</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Apr 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">28,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="TVS XL 100">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd3.aeplcdn.com///174x98//bw/upcoming/tvs-xl100-704.jpg?20162803121410" alt="TVS XL 100" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">TVS XL 100</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Jan 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">28,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">New launches of other brands</h2>
        @{Html.RenderAction("Makes", "NewLaunches", new { makeId = ViewBag.MakeId });}
    </div>
</section>

<section>
    <h2 class="section-heading">Explore year-wise bike launches</h2>
    @{Html.RenderAction("Years", "NewLaunches");}
</section>

<div id="year-slideIn-drawer" class="slideIn-drawer-container fix-only-header">
    <div class="drawer-top-header">
        <span id="close-year-slideIn-drawer" class="back-arrow-box inline-block">
            <span class="bwmsprite back-long-arrow-left"></span>
        </span><p class="head-label inline-block">Select year</p>
    </div>
    <div class="drawer-body-content">
        <ul class="filter-list">
            <li>
                <span>2017</span>
            </li>
            <li>
                <span>2016</span>
            </li>
            <li>
                <span>2015</span>
            </li>
            <li>
                <span>2014</span>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>