@{
    ViewBag.Title = "BikesByYear";
    ViewBag.Page_JS_Path = "/m/src/new-launch.js";
    ViewBag.staticUrl = Bikewale.Utility.BWConfiguration.Instance.StaticUrl;
    ViewBag.staticFileVersion = Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion;
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/new-launch/new-launch.css' />";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<section>
    <div class="container bg-white card-bottom-margin">
        <h1 class="card-header">New Bike Launches in @ViewBag.launchYear</h1>
        <div class="card-inner-padding font14 text-light-grey collapsible-content">
            <p class="main-content">India is one of the largest two-wheeler market in the world. The Indian market of two-wheelers has some noteworthy diversity. In order to thrive in this massive competition, manufacturers try to keep up with the fast changing trends. Every year there are plenty of models that hit the market. Here is the list of all</p>
            <p class="more-content">India is one of the largest two-wheeler market in the world. The Indian market of two-wheelers has some noteworthy diversity.</p><a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
        </div>
    </div>
</section>

<section id="newlaunched-bikes" data-year-filter="@ViewBag.launchYear">
    <div class="container bg-white box-shadow card-bottom-margin">
        <h2 class="padding-15-20 border-solid-bottom">Latest bikes in India - @ViewBag.launchYear</h2>
        @Html.Partial("~/Views/m/NewLaunches/_NewLaunchedBikes.cshtml")
    </div>
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Explore year-wise bike launches</h2>
        <div class="swiper-container card-container year-type-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Bike launched in 2016" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <span>2016</span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5">Bikes launched in 2016</h3>
                                <p class="font12 text-light-grey text-truncate">Bajaj Dominar 400, Royal Enfield Classic 350, Honda CB Hornet 160R</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Bike launched in 2015" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <span>2015</span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5">Bikes launched in 2015</h3>
                                <p class="font12 text-light-grey text-truncate">Bajaj Dominar 400, Royal Enfield Classic 350, Honda CB Hornet 160R</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Bike launched in 2014" class="block swiper-card-target">
                            <div class="swiper-image-preview">
                                <span>2014</span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="margin-bottom5">Bikes launched in 2014</h3>
                                <p class="font12 text-light-grey text-truncate">Bajaj Dominar 400, Royal Enfield Classic 350, Honda CB Hornet 160R</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Upcoming bikes in India</h2>
        <div class="swiper-container card-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="TVS XL 100">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd3.aeplcdn.com///174x98//bw/upcoming/tvs-xl100-704.jpg?20162803121410" alt="TVS XL 100" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">TVS XL 100</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Jan 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">28,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Kawasaki Ninja ZX-14R [2016]">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd2.aeplcdn.com///174x98//bw/upcoming/kawasaki-ninjazx-14r[2016]-703.jpg?20162402145840" alt="Kawasaki Ninja ZX-14R [2016]" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Kawasaki Ninja ZX-14R [2016]</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Feb 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">17,50,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Suzuki Hayate EP">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd3.aeplcdn.com///174x98//bw/upcoming/suzuki-hayateep-705.jpg?20160104150238" alt="Suzuki Hayate EP" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Suzuki Hayate EP</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Apr 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">28,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="TVS XL 100">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="http://imgd3.aeplcdn.com///174x98//bw/upcoming/tvs-xl100-704.jpg?20162803121410" alt="TVS XL 100" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">TVS XL 100</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Jan 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span>
                                        <span class="text-bold font16">28,000</span>
                                        <span class="font14 text-bold">onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Explore new launches by brands</h2>
        <div class="swiper-container padding-top5 padding-bottom5 brand-type-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite brand-7"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">Honda</p>
                                <h3 class="text-unbold text-light-grey font11">24 bikes</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite brand-6"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">Hero</p>
                                <h3 class="text-unbold text-light-grey font11">48 bikes</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite brand-15"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">TVS</p>
                                <h3 class="text-unbold text-light-grey font11">72 bikes</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite brand-11"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">Royal Enfield</p>
                                <h3 class="text-unbold text-light-grey font11">96 bikes</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="brand-slideIn-drawer" class="slideIn-drawer-container fix-only-header">
    <div class="drawer-top-header">
        <span id="close-brand-slideIn-drawer" class="back-arrow-box inline-block">
            <span class="bwmsprite back-long-arrow-left"></span>
        </span><p class="head-label inline-block">Select brand</p>
    </div>
    <div class="drawer-body-content">
        <div class="filter-input-box">
            <div class="form-control-box">
                <input type="text" id="" class="form-control padding-right40" placeholder="Type to select brand">
                <span class="bwmsprite search-icon-grey"></span>
            </div>
        </div>
        <ul class="filter-list">
            <li>
                <span>Bajaj</span>
            </li>
            <li>
                <span>Honda</span>
            </li>
            <li>
                <span>Hero</span>
            </li>
            <li>
                <span>Royal Enfield</span>
            </li>
            <li>
                <span>Yamaha</span>
            </li>
            <li>
                <span>Bajaj</span>
            </li>
            <li>
                <span>Honda</span>
            </li>
            <li>
                <span>Hero</span>
            </li>
            <li>
                <span>Royal Enfield</span>
            </li>
            <li>
                <span>Yamaha</span>
            </li>
            <li>
                <span>Bajaj</span>
            </li>
            <li>
                <span>Honda</span>
            </li>
            <li>
                <span>Hero</span>
            </li>
            <li>
                <span>Royal Enfield</span>
            </li>
            <li>
                <span>Yamaha</span>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>