@{    
    ViewBag.Page_JS_Path = "/m/src/new-launch.js";
    ViewBag.staticUrl = Bikewale.Utility.BWConfiguration.Instance.StaticUrl;
    ViewBag.staticFileVersion = Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion;
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/new-launch/new-launch.css' />";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<section>
    <div class="container bg-white card-bottom-margin">
        <h1 class="card-header">New Bike Launches in @ViewBag.launchYear</h1>
        <div class="card-inner-padding font14 text-light-grey collapsible-content">
            <p class="main-content">Every year, more than 15 million two-wheelers are sold in India across dozens of brands. To keep up with the changing trends in lifestyle, roads, and requirements, two-wheeler brands launch dozens of model every year. Check out the latest bikes launched in @ViewBag.launchYear. Know more about prices, mileage, colors, specifications, and dealers of new bikes launched in @ViewBag.launchYear.</p>            
        </div>
    </div>
</section>

<section id="newlaunched-bikes" data-year-filter="@ViewBag.launchYear" data-city="@ViewBag.location.CityId">
    <div class="container bg-white box-shadow card-bottom-margin">
        <h2 class="padding-15-20 border-solid-bottom">Latest bikes in India - @ViewBag.launchYear</h2>
        @Html.Partial("~/Views/m/NewLaunches/_NewLaunchedBikes.cshtml")
    </div>
</section>

<section>
    <h2 class="section-heading">Explore year-wise bike launches</h2>   
    @{Html.RenderAction("Years", "NewLaunches", new { year = ViewBag.launchYear });}
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Upcoming bikes in India</h2>
        @{ Html.RenderAction("Index", "Upcoming", new { objFilters = ViewBag.Filters, sortBy = ViewBag.SortBy }); }
    </div>
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Explore new launches by brands</h2>
        @{Html.RenderAction("Makes", "NewLaunches");}
    </div>
</section>

<div id="brand-slideIn-drawer" class="slideIn-drawer-container fix-only-header">
    <div class="drawer-top-header">
        <span id="close-brand-slideIn-drawer" class="back-arrow-box inline-block">
            <span class="bwmsprite back-long-arrow-left"></span>
        </span><p class="head-label inline-block">Select brand</p>
    </div>
    <div class="drawer-body-content">
        <div class="filter-input-box">
            <div class="form-control-box">
                <input type="text" id="" class="form-control padding-right40" placeholder="Type to select brand">
                <span class="bwmsprite search-icon-grey"></span>
            </div>
        </div>
        <ul class="filter-list">
            <li>
                <span>Bajaj</span>
            </li>
            <li>
                <span>Honda</span>
            </li>
            <li>
                <span>Hero</span>
            </li>
            <li>
                <span>Royal Enfield</span>
            </li>
            <li>
                <span>Yamaha</span>
            </li>
            <li>
                <span>Bajaj</span>
            </li>
            <li>
                <span>Honda</span>
            </li>
            <li>
                <span>Hero</span>
            </li>
            <li>
                <span>Royal Enfield</span>
            </li>
            <li>
                <span>Yamaha</span>
            </li>
            <li>
                <span>Bajaj</span>
            </li>
            <li>
                <span>Honda</span>
            </li>
            <li>
                <span>Hero</span>
            </li>
            <li>
                <span>Royal Enfield</span>
            </li>
            <li>
                <span>Yamaha</span>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>