@model Bikewale.Models.RecentExpertReviewsVM
@using Bikewale.Utility
@if (Model != null && Model.ArticlesList != null && Model.ArticlesList.Count() > 0)
{
    <ul>
        @foreach (var review in Model.ArticlesList)
        {
                <li class="margin-bottom20">
                    <div class="review-image-wrapper">
                        <a href="@string.Format("{0}/m{1}", BWConfiguration.Instance.BwHostUrl, UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId),review.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest)))">
                            <amp-img width="118" height="66" alt="@review.Title" title="@review.Title" src="@Image.GetPathToShowImages(review.OriginalImgUrl, review.HostUrl, ImageSize._144x81, QualityFactor._70)"></amp-img>
                        </a>
                    </div>
                    <div class="review-heading-wrapper">
                        <a href="@string.Format("{0}/m{1}", BWConfiguration.Instance.BwHostUrl, UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId),review.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest)))" title="@review.Title" class="font14 target-link">@review.Title.Truncate(44)</a>
                        <div class="grid-7 alpha padding-right5">
                            <span class="bwmsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">@FormatDate.GetFormatDate(Convert.ToString(review.DisplayDate), "dd MMM yyyy")</span>
                        </div>
                        <div class="grid-5 alpha omega">
                            <span class="bwmsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">@review.AuthorName</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <p class="margin-top10">
                        @FormatDescription.TruncateDescription(review.Description, 180)
                    </p>
                    <a title="@review.Title" href="@string.Format("{0}/m{1}", BWConfiguration.Instance.BwHostUrl, UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId),review.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest)))" rel="nofollow">Read more</a>
                </li>
        }
        </ul>
}

