@model Bikewale.Models.RecentExpertReviewsVM
@using Bikewale.Utility
@if (Model != null && Model.ArticlesList != null && Model.ArticlesList.Any())
{
    foreach (var review in Model.ArticlesList)
        {
            <article class="margin-bottom20">
                <div class="grid-4">
                    <div class="model-preview-image-container">
                        <span data-url="@UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId), review.ArticleUrl, Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest))" class="article-target-image redirect-url">
                            <img class="lazy" data-original="@Image.GetPathToShowImages(review.OriginalImgUrl, review.HostUrl, ImageSize._310x174, QualityFactor._75)" title="@review.Title" alt="@review.Title" src="" />
                        </span>
                    </div>
                </div>
                <div class="grid-8">
                    <header>
                        <h3>
                            <span data-url="@UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId), review.ArticleUrl, Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest))" class="article-target-link line-height redirect-url" title="@review.Title">@review.Title</span>
                        </h3>
                    </header>
                    <div class="article-stats-left-grid">
                        <span class="bwsprite calender-grey-sm-icon"></span>
                        <span class="article-stats-content">@FormatDate.GetFormatDate(Convert.ToString(review.DisplayDate), "dd MMMM yyyy")</span>
                    </div>
                    <div class="article-stats-right-grid">
                        <span class="bwsprite author-grey-sm-icon"></span>
                        <span class="article-stats-content">@review.AuthorName</span>
                    </div>
                    <p class="line-height17 margin-top10 font14">
                        @FormatDescription.TruncateDescription(review.Description, 280)
                    </p>

                    <span data-url="@UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId), review.ArticleUrl, Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest))" title="@review.Title" class="article-target-read-more redirect-url" rel="nofollow">Read more</span>

                </div>
                <div class="clear"></div>
            </article>
        }
}
