@model Bikewale.Models.MoreAboutScootersWidgetVM

<link rel="stylesheet" type="text/css" href="/UI/sass/modules/related-card.css">
<div class="related-list__section">
    @if (Model.BikeInfo != null && Model.BikeInfo.BikeInfo != null && Model.BikeInfo.BikeInfo.Tabs != null && Model.BikeInfo.BikeInfo.Tabs.Any())
    {
        var bikeName = string.Format("{0} {1}",Model.objBikeData.MakeBase.MakeName, Model.objBikeData.ModelName);
        <div class="model-related__card ">
            <h3 class="related-card__title">More About @bikeName</h3>
            <ul class="related-card__list">
                @foreach (var Tabsdetails in Model.BikeInfo.BikeInfo.Tabs)
                {
                    <li>
                        <a class="related-card__target-link" href="@Tabsdetails.URL" title="@Model.objBikeData.MakeBase.MakeName @Model.objBikeData.ModelName @Tabsdetails.Title">
                            <span>@bikeName @Tabsdetails.TabText</span>
                        </a>
                    </li>

                }
            </ul>
        </div>
    }    
    @if (Model.SimilarBikes != null && Model.SimilarBikes.Any())
    {
        <div class="model-related__card ">
            <h3 class="related-card__title">Similar Budget Scooters</h3>
            <ul class="related-card__list">
                @foreach (var obj in Model.SimilarBikes)
            {
                    <li>
                        <a class="related-card__target-link" href="@string.Format("/{0}-bikes/{1}/",obj.MakeBase.MaskingName,obj.ModelBase.MaskingName)" title="@string.Format("{0} {1} Price",obj.MakeBase.MakeName,obj.ModelBase.ModelName)">
                            <span>@obj.MakeBase.MakeName @obj.ModelBase.ModelName Price</span>
                        </a>
                    </li>

            }
            </ul>
        </div>
    }
    @if (Model.objBestBikesList != null && Model.objBestBikesList.Any())
    {
        <div class="model-related__card ">
            <h3 class="related-card__title">Top 5 Scooters</h3>
            <ul class="related-card__list">
                @foreach (var obj in Model.objBestBikesList)
            {
                    <li>
                        <a class="related-card__target-link" href="@string.Format("/{0}-bikes/{1}/",obj.Make.MaskingName,obj.Model.MaskingName)" title="@obj.BikeName">
                            <span>@obj.BikeName</span>
                        </a>
                    </li>

            }
            </ul>
        </div>
    }
</div>
