@model Bikewale.Models.ScootersIndexPageVM
@{
    Model.AdTags.AdId = "1450262524302";
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_NewHome";
    Model.AdTags.Ad320x150_Top = true;
    Model.AdTags.Ad320x150_Bottom = true;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/m/sass/scooters/landing.css' inline />";
    Model.PageMetaTags.AlternateUrl = "";
    Layout = "~/UI/Views/Shared/_Layout_Mobile.cshtml";
    Model.IsTransparentHeader = true;
}

<section>
    <div class="container scooters-banner text-center">
        <h1 class="font24 text-uppercase text-white">Scooters in India</h1>
        <h2 class="font14 text-unbold text-white">All scooters under one roof</h2>
    </div>
</section>

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="banner-box-shadow">
                <div class="bw-tabs-panel">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul>
                            <li class="active" data-tabs="brand-tab">Brand</li>
                            <li data-tabs="budget-tab">Budget</li>
                            <li data-tabs="displacement-tab">Displacement</li>
                        </ul>
                    </div>
                    <div id="brand-tab" class="bw-tabs-data">
                        <div class="container bg-white box-shadow section-bottom-margin padding-top25 padding-bottom20 text-center collapsible-brand-content">
                            @{ Html.RenderPartial("~/UI/views/make/_Brands_Mobile.cshtml", Model.Brands); }
                          </div>
                    </div>
                    <div id="budget-tab" class="bw-tabs-data hide">
                        <ul class="elevated-card-list padding-top10">
                            <li>
                                <a href="/m/new/bike-search/bikes-under-50000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-one"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">50K</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/bikes-between-50000-and-70000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-two"></span>
                                        </div>
                                        <span class="key-size-14">Between</span><br />
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">50K</span> -
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">70K</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/bikes-above-70000/#ridestyle=5">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-three"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        @Html.Raw("<span class='value-size-15'> &#x20B9;</span>")&nbsp;<span class="value-size-15">70K</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="displacement-tab" class="bw-tabs-data hide">
                        <ul class="elevated-card-list padding-top10">
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=5&displacement=1" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite engine-lg engine-sm"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        <span class="value-size-15">100 cc</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=5&displacement=7" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite engine-lg engine-md"></span>
                                        </div>
                                        <span class="key-size-14">Between</span><br />
                                        <span class="value-size-15">100 - 125 cc</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/m/new/bike-search/?ridestyle=5&displacement=8+3+4+5+6" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite engine-lg"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        <span class="value-size-15">125 cc</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
@if (Model.AdTags.Ad320x150_Top) { 
<section>
    @{Html.RenderPartial("/UI/Views/Shared/Ads/Mobile/Ad320x150_First.cshtml", new { AdId = Model.AdTags.AdId });}
</section>
}

<section>
    <h2 class="section-heading">Featured scooters</h2>
    <div class="featured-bikes-panel content-box-shadow padding-bottom10 panel-type-scooter">
        <div class="bw-tabs-panel">
            <div class="bw-tabs bw-tabs-flex">
                <ul>
                    @if(Model.HasPopularBikes)
                    {
                        <li class="active" data-tabs="mctrlMostPopularBikes">Most Popular</li>
                    }
                    @if (Model.HasNewLaunches)
                    {
                        <li data-tabs="mctrlNewLaunchedBikes">New launches</li>}
                    @if (Model.HasUpcoming)
                    {
                    <li data-tabs="mctrlUpcomingBikes">Upcoming </li>}
                </ul>
            </div>
            @if(Model.HasPopularBikes)
              {
            <div id="mctrlMostPopularBikes" class="bw-tabs-data features-bikes-container">
                @Html.Partial("~/UI/Views/BikeModels/_MostPopularBikes_Mobile.cshtml", Model.PopularBikes)
                <div class="padding-left10 view-all-btn-container margin-top10 text-center">
                    <a href="/m/best-scooters-in-india/" title="Popular Scooters in India" class="btn view-all-target-btn">View all scooters<span class="bwmsprite teal-right"></span></a>
                </div>
                </div>
                }
                @if (Model.HasNewLaunches)
                {
                    <div id="mctrlNewLaunchedBikes" class="bw-tabs-data features-bikes-container hide">
                        @Html.Partial("~/UI/Views/Newlaunches/_newLaunches_Mobile.cshtml", Model.NewLaunches)
                    </div>
                }
                @if (Model.HasUpcoming)
                {<div id="mctrlUpcomingBikes" class="bw-tabs-data features-bikes-container hide">
                     @Html.Partial("~/UI/Views/Upcoming/_UpcomingBikes_Mobile.cshtml", Model.Upcoming)
                </div>
                }
            </div>
    </div>
</section>

<div class="content-inner-block-10">
    <div class="electric-widget__content">
        <div class="electric-widget__background"></div>
        <p class="electric-widget__title">Go Green, Go Electric.</p>
        <p class="electric-widget__subtitle">40+ electric bikes and scooter.</p>
        <a href="/m/electric-bikes/" title="Electric Bikes" class="btn btn-white btn-explore-scooters">Explore</a>
        <div class="electric-scooter-icon"></div>
    </div>
</div>

@if (Model.HasComparison)
{
    <section>
        <h2 class="font18 margin-bottom20 margin-top20 text-center">Compare Scooters</h2>
        <div class="container content-box-shadow padding-top15 card-bottom-margin padding-bottom15">
            @Html.Partial("~/UI/Views/CompareBikes/_SimilarComparisons_Mobile.cshtml", Model.ComparePopularScooters)
            <div class="view-all-btn-container margin-top10 text-center">
                <a href="/m/comparebikes/" title="New Bike Comparisons in India" class="btn view-all-target-btn">View all comparisons<span class="bwmsprite teal-right"></span></a>
            </div>
        </div>
    </section>
}
@if (Model.AdTags.Ad320x150_Bottom) 
{ 
<section>
    @{Html.RenderPartial("/UI/Views/Shared/Ads/Mobile/Ad320x150_Second.cshtml", new { AdId = Model.AdTags.AdId });}
</section>
}
<div class="margin-bottom10"></div>
@if (Model.TabCount > 0)
{
    <section class="container">
        <div class="container">
            <div class="grid-12 alpha omega margin-bottom20">
                <h2 class="font18 text-center margin-top20 margin-bottom10">Latest scooter updates</h2>
                <div class="content-box-shadow">
                    <div class="bw-tabs-panel article-control padding-bottom20">
                        <div class="bw-tabs">
                            <div class="@string.Format("text-center {0}", Model.TabCount > 2 ? string.Empty : Model.TabCount > 1 ? "margin-top30 margin-bottom30" : "margin-top10")">
                                <div id="reviewCount" class="@string.Format("bw-tabs text-center {0}", Model.TabCount > 2 ? "bw-tabs-flex" : Model.TabCount > 1 ? "home-tabs" : "hide")">
                                    <ul>
                                        @if (Model.News.FetchedCount > 0)
                                        {
                                            <li data-tabs="ctrlNews" class="@string.Format("{0}", Model.IsNewsActive ? "active" : "hide")">News</li>

                                        }
                                        @if (Model.ExpertReviews.FetchedCount > 0)
                                        {
                                            <li data-tabs="ctrlExpertReviews" class="@string.Format("{0}", Model.IsExpertReviewActive ? "active" : "hide")">Expert Reviews</li>
                                        }
                                        @if (Model.Videos.FetchedCount > 0)
                                        {
                                            <li data-tabs="ctrlVideos" class="@string.Format("{0}", Model.IsVideoActive ? "active" : "hide")">Videos</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bw-tabs-data margin-right20 margin-left20" id="ctrlNews">
                            @if (Model.News.FetchedCount > 0)
                            {
                                @Html.Partial("~/UI/Views/News/_RecentNews_Mobile.cshtml", Model.News)
                            }
                            <div class="view-all-btn-container">
                                <a href="/m/scooters/news/" title="Scooter News" class="btn view-all-target-btn">Read all news<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                        <div class="bw-tabs-data hide margin-right20 margin-left20" id="ctrlExpertReviews">
                            @if (Model.ExpertReviews.FetchedCount > 0)
                            {
                                @Html.Partial("~/UI/Views/ExpertReviews/_RecentExpertReviews_Mobile.cshtml", Model.ExpertReviews)
                                <div class="view-all-btn-container">
                                    <a title="@Model.ExpertReviews.LinkTitle" href="@string.Format("/m{0}",Model.ExpertReviews.MoreExpertReviewUrl)" class="btn view-all-target-btn">Read all reviews<span class="bwmsprite teal-right"></span></a>
                                </div>
                            }
                        </div>
                        <div class="bw-tabs-data hide margin-right20 margin-left20" id="ctrlVideos">
                            @if (Model.Videos.FetchedCount > 0)
                            {
                                @Html.Partial("~/UI/Views/Videos/_RecentVideos_Mobile.cshtml", Model.Videos)
                            }
                            <div class="view-all-btn-container">
                                <a title="Scooter Videos" href="/m/scooters/videos/" class="btn view-all-target-btn">View all videos<span class="bwmsprite teal-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}