@model Bikewale.Models.AdTags
@{
    var currentTimestamp = DateTime.Now.ToString("o");

}

<div class="maestro-animation-container">
    <div class="black-window-animation hide"></div>
    <div class="bg-animation" data-screen="1">
        <div class="vehicle-container">
            <span class="vehicle-container__tyres">
                <i class="tyre front-tyre"></i>
                <i class="tyre rear-tyre"></i>
            </span>
            <span class="vehicle-container__body"></span>
        </div>
        <div id="banner1" class="banner-screen" data-position="13">
            <div class="banner-screen__content1 no-animate">
                <span class="hero-logo"></span>
            </div>

            <div class="banner-screen__content2 text-black" data-animation="fadeInRight">
                <p style="font-size: 18px;">New</p>
                <p style="font-size: 32px; font-weight: 600; margin-top: -10px; margin-left: -3px;">Maestro Edge</p>
            </div>
            <div class="banner-screen__content3" data-animation="fadeInRight">
                <span class="offer-unit"></span>
            </div>
            <div class="banner-screen__content4" data-animation="fadeInRight">
                <span class="warranty-logo"></span>
            </div>
            <div class="banner-screen__content5 no-animate">
                <a href="javascript:void(0)" class="btn btn-orangebtn btn-orange avail-offer bw-ga" data-cat="Innovation_Banner" data-act="Main_Know more_Festive Offer_Clicked" data-lab="@Model.InnovationBannerGALabel">Know more</a>
            </div>
        </div>
        <div id="banner2" class="banner-screen" data-position="35">
            <div class="banner-screen__content1 no-animate">
                <span class="hero-logo"></span>
            </div>
            <div class="banner-screen__content2 text-black" data-animation="fadeInRight">
                <p style="font-size: 16px; font-weight: 600;">New</p>
                <p style="font-size: 31px; font-weight: 700; margin-top: -5px; margin-left: -3px;">Maestro Edge</p>
                <p style="font-size: 16px; font-weight: 600;">Style Hatke</p>
            </div>
            <div class="banner-screen__content3 text-black font17 text-bold" data-animation="fadeInRight">
                <ul class="campaign-feature-list">
                    <li><p>Advanced Engine</p></li>
                    <li><p>Advanced Features</p></li>
                    <li><p>Stylish Looks</p></li>
                </ul>
            </div>
            <div class="banner-screen__content4" data-animation="fadeInRight">
                <span class="warranty-logo"></span>
            </div>
            <div class="banner-screen__content5 no-animate">
                <a href="javascript:void(0)" class="btn btn-orangebtn btn-orange avail-offer bw-ga" data-cat="Innovation_Banner" data-act="Know more_Features_Main_Clicked" data-lab="@Model.InnovationBannerGALabel">Know more</a>
            </div>
        </div>
        <div id="banner3" class="banner-screen" data-position="50">
            <div class="banner-screen__content1 no-animate">
                <span class="hero-logo show"></span>
            </div>
            <div class="banner-screen__content2 text-black" data-animation="fadeInRight">
                <p style="font-size: 16px; font-weight: 600;">New</p>
                <p style="font-size: 31px; font-weight: 700; margin-left: -3px; margin-top: -5px;">Maestro Edge</p>
                <p style="font-size: 16px; font-weight: 600;">360<sup>o</sup> View</p>
            </div>
            <div class="banner-screen__content4 text-black font19 text-bold" data-animation="fadeInRight">
                <p>Experience the <span class="text-bolder">360<sup>o</sup> View</span></p>
            </div>
            <div class="banner-screen__content3" data-animation="fadeInRight">
                <span class="warranty-logo"></span>
            </div>
            <div class="banner-screen__content5 no-animate">
                <a href="javascript:void(0)" class="btn btn-orangebtn btn-orange avail-offer bw-ga" c="Innovation_Banner" a="Know more_360 degree_Main_Clicked" l="@Model.InnovationBannerGALabel">Know more</a>
            </div>
        </div>
        <button class="campaign-arrow-btn arrow left bw-ga" data-cat="Innovation_Banner" data-act="Main_Left Arrow_Clicked" data-lab="@Model.InnovationBannerGALabel"> </button>
        <button class="campaign-arrow-btn arrow right bw-ga" data-cat="Innovation_Banner" data-act="Main_Right Arrow_Clicked" data-lab="@Model.InnovationBannerGALabel"></button>
    </div>
    <div class="modal-window container hide">
        <div class="popup-close bw-ga" data-cat="Innovation_Banner" data-act="Close_Clicked" data-lab="@Model.InnovationBannerGALabel"></div>
        <div class="banner1_popup banner-popup">
            <div class="popup-make-logo popup-content no-animate"></div>
            <div class="bike-collage auto-margin popup-content" data-animation="fadeIn"></div>
            <div class="banner-content text-center margin-bottom5 popup-content" data-animation="fadeIn">
                <div class="group-of-slug">
                    <p class="codition-text"><sup>*</sup>T&C Apply, Finance is available from our preferred financier.</p>
                </div>
            </div>
            <div class="warranty-logo warranty-logo-inside popup-content" data-animation="fadeIn"></div>
            <div class="text-center popup-content margin-top10" data-animation="fadeIn">
                <a rel="nofollow noopener" target="_blank" href="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&mc=click&pli=22699878&PluID=0&ord=@currentTimestamp" class="btn btn-orange btn-sm margin-right10 bw-ga" data-cat="Innovation_Banner" data-act="Know_more_Clicked" data-lab="@Model.InnovationBannerGALabel">Know More</a>
            </div>
            <div class="popup-navigation popup-content" data-animation="fadeIn">
                <span class="popup-navigation__span popup-navigation__span-right bw-ga" data-click="1" data-cat="Innovation_Banner" data-act="View_features_Clicked" data-lab="@Model.InnovationBannerGALabel">View features >></span>
            </div>
        </div>
        <div class="banner2_popup campaign-advance-features banner-popup">
            <div class="hero-logo-inside popup-content no-animate">
                <div class="popup-make-logo"></div>
                <div class="text-black text-capitalize font20 text-bold position-abt" style="right: 20px; top: 20px;">Advanced Features</div>
            </div>
            <div class="popup-content campaign-fetaures full-width" data-animation="fadeIn">
                <p class="text-bolder text-black font18 text-center margin-bottom10">Top 5 Features of the Hero Maestro Edge</p>
                <div class="jcarousel-wrapper bike-animation-carousel inner-content-carousel auto-margin">
                    <div class="jcarousel">
                        <ul>
                            <li class="bike-animation-carousel__li">
                                <div class="text-center">
                                    <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/feature7.jpg" />
                                    <p class="feature-slide-title font15 text-black margin-top10 margin-bottom10 text-bold"><i>Telescopic Front Suspension</i></p>
                                </div>
                            </li>
                            <li class="bike-animation-carousel__li">
                                <div class="text-center">
                                    <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/feature2.jpg" />
                                    <p class="feature-slide-title font15 text-black margin-top10 margin-bottom10 text-bold"><i>Mobile Charging Port</i></p>
                                </div>
                            </li>
                            <li class="bike-animation-carousel__li">
                                <div class="text-center">
                                    <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/feature4.jpg" />
                                    <p class="feature-slide-title font15 text-black margin-top10 margin-bottom10 text-bold"><i>External Fuel Filling</i></p>
                                </div>
                            </li>
                            <li class="bike-animation-carousel__li">
                                <div class="text-center">
                                    <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/feature5.jpg" />
                                    <p class="feature-slide-title font15 text-black margin-top10 margin-bottom10 text-bold"><i>Integrated Braking</i></p>
                                </div>
                            </li>
                            <li class="bike-animation-carousel__li">
                                <div class="text-center">
                                    <img src="https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/feature6.jpg" />
                                    <p class="feature-slide-title font15 text-black margin-top10 margin-bottom10 text-bold"><i>Bigger Front Wheel</i></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev bw-ga" rel="nofollow" data-jcarouselcontrol="true" data-cat="Innovation_Banner" data-act="Internal Left Arrow_Clicked" data-lab="@Model.InnovationBannerGALabel"></a></span>
                    <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next bw-ga" rel="nofollow" data-jcarouselcontrol="true" data-cat="Innovation_Banner" data-act="Internal Right Arrow_Clicked" data-lab="@Model.InnovationBannerGALabel"></a></span>
                    <p class="jcarousel-pagination padding-bottom30 text-center"></p>
                </div>
            </div>
            <div class="text-center popup-content full-width" style="bottom: 40px;" data-animation="fadeIn">
                <a rel="nofollow noopener" target="_blank" href="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&mc=click&pli=22699878&PluID=0&ord=@currentTimestamp" class="btn btn-orange btn-sm margin-right10 bw-ga" data-cat="Innovation_Banner" data-act="Know_more_Clicked" data-lab="@Model.InnovationBannerGALabel">Know More</a>
            </div>
            <div class="popup-navigation popup-content" data-animation="fadeIn">
                <span class="popup-navigation__span popup-navigation__span-left bw-ga" data-click="0" data-cat="Innovation_Banner" data-act="Previous_Clicked" data-lab="@Model.InnovationBannerGALabel"><< Previous</span>
                <span class="popup-navigation__span popup-navigation__span-right bw-ga" data-click="2" data-cat="Innovation_Banner" data-act="View 360_Clicked" data-lab="@Model.InnovationBannerGALabel">View 360<sup>o</sup> >></span>
            </div>
        </div>
        <div class="banner3_popup banner-popup threesixty-view">
            <div class="hero-logo-inside popup-content no-animate">
                <div class="popup-make-logo"></div>
                <div class="text-black text-capitalize font20 text-bold position-abt" style="right: 40px; top: 20px;">360<sup>o</sup> View</div>
            </div>
            <div class="three-sixty-container popup-content no-animate">
                <div class="threesixty-slider"></div>
                <div class="threesixty car bw-ga" data-cat="Innovation_Banner" data-act="Interacted with 360 degree" data-lab="@Model.InnovationBannerGALabel">
                    <div class="spinner">
                        <span>0%</span>
                    </div>
                    <ol class="threesixty_images"></ol>
                </div>
            </div>
            <div class="text-center margin-bottom15 popup-content color-container no-animate">
                <p class="font14 padding-10-15 margin-top10 margin-bottom10">Available in below colours</p>
                <div style="overflow:auto">
                    <ul style="width: 170%">
                        <li class="campaign-bike-color">
                            <div class="color-style color1"></div>
                            <p>Shooting Night Star</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color2"></div>
                            <p>Techno Blue</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color3"></div>
                            <p>Matte Vernier Grey</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color4"></div>
                            <p>Matte Blue</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color5"></div>
                            <p>Panther Black</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color6"></div>
                            <p>Pearl Silver White</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color7"></div>
                            <p>Candy Blazing Red</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color8"></div>
                            <p>Sporty Matte Grey & Red</p>
                        </li>
                        <li class="campaign-bike-color">
                            <div class="color-style color9"></div>
                            <p>Active Matte Grey & Blue</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center popup-content full-width" style="bottom: 30px;" data-animation="fadeIn">
                <a rel="nofollow noopener" target="_blank" href="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&mc=click&pli=22699878&PluID=0&ord=@currentTimestamp" class="btn btn-orange btn-sm margin-right10 bw-ga" data-cat="Innovation_Banner" data-act="Know_more_Clicked" data-lab="@Model.InnovationBannerGALabel">Know More</a>
            </div>
            <div class="popup-navigation popup-content" data-animation="fadeIn">
                <span class="popup-navigation__span popup-navigation__span-left bw-ga" data-click="1" data-cat="Innovation_Banner" data-act="Advanced Features Link_Clicked" data-lab="@Model.InnovationBannerGALabel"> << Advanced features</span>
            </div>
        </div>
    </div>
    <img src="https://bs.serving-sys.com/serving/adServer.bs?cn=display&c=19&mc=imp&pli=22699878&PluID=0&ord=@currentTimestamp&rtu=-1" class="hide" />
</div>
<script type="text/javascript">
docReady(function () {
    var totalScreens = 3;
    try {
        triggerNonInteractiveGA('Innovation_Banner', 'Hero_Innovation_Banner_Shown', '@Model.InnovationBannerGALabel');
    } catch (e) {
        console.warn(e.message);
    }
    var totalScreens = 3,
        bannerAnimation,
        docBody;

    $.fn.extend({
        animateCss: function (animationName, callBack) {
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            this.addClass('animated ' + animationName).one(animationEnd, function () {
                $(this).removeClass('animated ' + animationName);
                if (callBack) {
                    callBack();
                }
            });
            return this;
        }
    });

    bannerAnimation = {

        animateContent: function (element, animationName, callBack) {
            $(element).show().animateCss(animationName, callBack);
        },

        animateBannerContent: function (elemId) {
            var firstElem = $("#" + elemId + " .banner-screen__content1");
            bannerAnimation.recursiveAnimate(firstElem);
        },

        recursiveAnimate: function (elem) {
            var isAnimate = $(elem).hasClass("no-animate"),
                animationName = $(elem).attr('data-animation') ? $(elem).attr('data-animation') : "fadeInRight",
                nextElem = $(elem).next();
            if (!isAnimate) {
                bannerAnimation.animateContent($(elem), animationName , function () {
                    if (nextElem.length > 0) {
                        bannerAnimation.recursiveAnimate($(nextElem));
                    }
                });
            } else {
                $(elem).show();
                if (nextElem.length > 0) {
                    bannerAnimation.recursiveAnimate($(nextElem));
                }
            }
        },

        getNextScreenId: function () {
            var dataScreen = ($(".bg-animation").attr("data-screen") * 1) + 1;

            if (dataScreen <= totalScreens) {
                $(".bg-animation").attr("data-screen", dataScreen);
                return "banner" + dataScreen;
            }
            else {
                return false;
            }
        },

        getPrevScreenId: function () {
            var dataScreen = ($(".bg-animation").attr("data-screen") * 1) - 1;
            if (dataScreen > 0) {
                $(".bg-animation").attr("data-screen", dataScreen);
                return "banner" + dataScreen;
            }
            else {
                return false;
            }
        },

        showBanner: function (bannerId) {
            $(".banner-screen, .banner-screen div").not(".no-animate").hide();
            $("#" + bannerId).show();
        },

        initializeCarousel: function () {
            $('.bike-animation-carousel .jcarousel').jcarousel({
                vertical: false,
                center: true
            });

            $('.bike-animation-carousel .jcarousel').jcarousel('target').addClass("transparent-patch");

            $('.bike-animation-carousel .jcarousel-control-prev').on('jcarouselcontrol:active', function () {
                $(this).removeClass('inactive');
            }).on('jcarouselcontrol:inactive', function () {
                $(this).addClass('inactive');
            }).jcarouselControl({
                target: '-= 1'
            });

            $('.bike-animation-carousel .jcarousel-control-next').on('jcarouselcontrol:active', function () {
                $(this).removeClass('inactive');
            }).on('jcarouselcontrol:inactive', function () {
                $(this).addClass('inactive');
            }).jcarouselControl({
                target: '+= 1'
            });

            $('.bike-animation-carousel .jcarousel').on('jcarousel:targetin', 'li', function (event, carousel) {
                $(this).addClass("transparent-patch");
            });

            $('.bike-animation-carousel .jcarousel').on('jcarousel:targetout', 'li', function (event, carousel) {

                $(this).removeClass("transparent-patch");
            });

            $('.bike-animation-carousel .jcarousel-pagination').on('jcarouselpagination:active', 'a', function () {
                $(this).addClass('active');
            }).on('jcarouselpagination:inactive', 'a', function () {
                $(this).removeClass('active');
            }).on('click', function (e) {
                e.preventDefault();
            }).jcarouselPagination({
                item: function (page) {
                    return '<a href="#' + page + '">' + page + '</a>';
                }
            });
        },

        registerEvents: function () {

            $(document).keyup(function (e) {
                if (e.keyCode == 27) { // escape key maps to keycode `27`
                    $(".modal-window, .black-window-animation, .popup-content, .banner-popup").hide();
                    docBody.unlockScroll();
                }
            });

            $(".arrow").on('click', function () {
                var bannerId;

                if ($(this).hasClass("right")) {
                    bannerId = bannerAnimation.getNextScreenId();
                    $(".reverse").removeClass("reverse");
                }
                else {
                    bannerId = bannerAnimation.getPrevScreenId();
                    $(".maestro-animation-container").addClass("reverse");
                }

                if (bannerId) {
                    bannerAnimation.showBanner(bannerId);
                    $(".vehicle-container").animate({
                        'left': $("#" + bannerId).attr("data-position") + "%"
                    }, 1000, function () {
                        bannerAnimation.animateBannerContent(bannerId);
                    });
                }
            });

            $(".avail-offer").on('click', function () {
                var elemId = $(this).closest(".banner-screen").attr('id'),
                    popupElem = $("." + elemId + "_popup");
                if ($(popupElem).find(".jcarousel").length) {
                    bannerAnimation.initializeCarousel();
                }
                var isThreeSixty = $(popupElem).find(".three-sixty-container");
                if ($(isThreeSixty).length && !$(isThreeSixty).hasClass("started")) {
                    $(".modal-window").addClass("no-bg");
                    car = $('.car').ThreeSixty({
                        totalFrames: 24,
                        endFrame: 24, 
                        currentFrame: 2,
                        imgList: '.threesixty_images', 
                        progress: '.spinner', 
                        imagePath: 'https://imgd.aeplcdn.com/0x0/bw/es/html5-property/maestro/d/360-images/',
                        filePrefix: '', 
                        ext: '.jpg',
                        height: 226,
                        width: 390
                    });
                } else {
                    $(".modal-window").removeClass("no-bg");
                }
                $(".modal-window, .black-window-animation").show();
                docBody.lockScroll();
                $(popupElem).show();
                bannerAnimation.recursiveAnimate($("." + elemId + "_popup").children()[0]);
            });

            $(".popup-close, .black-window-animation").on('click', function () {
                $(".modal-window, .black-window-animation, .popup-content, .banner-popup").hide();
                docBody.unlockScroll();
            });
        
            $(".popup-navigation__span").on('click', function () {
                $(".banner-popup, .popup-content, .banner-popup").hide();
                $($(".avail-offer")[$(this).attr('data-click')]).trigger('click');
            });


            bannerAnimation.showBanner("banner1");
            var startAnimteTime = setTimeout(function () {
                $(".vehicle-container").animate({
                    'left': "13%"
                }, 1000, function () {
                    bannerAnimation.animateBannerContent("banner1");
                });
                clearTimeout(startAnimteTime);
            }, 2000);

            
        }

    };

    docBody = {
        lockScroll: function () {
            var html_el = $('html'), body_el = $('body'), doc = $(document);
            if (doc.height() > $(window).height()) {
                var scrollTop = (html_el.scrollTop()) ? html_el.scrollTop() : body_el.scrollTop(); // Works for Chrome, Firefox, IE...
                if (scrollTop < 0) { scrollTop = 0; }
                html_el.addClass('lock-browser-scroll').css('top', -scrollTop);
            }
        },
        unlockScroll: function () {
            var scrollTop = parseInt($('html').css('top'));
            $('html').removeClass('lock-browser-scroll');
            $('html,body').scrollTop(-scrollTop);
        }
    };

    bannerAnimation.registerEvents();    
});
</script>
<script type="text/javascript" src="@String.Format("{0}/UI/src/threesixty-slider.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl, Bikewale.Utility.BWConfiguration.Instance.StaticPluginFileVersion)" defer></script>
