@using Carwale.UI.Common;
@{
    string CTAText, CTAUrl, hexCode, variant;
    bool showLogo;
    if ((CookiesCustomers.AbTest % 4) == 1)
    {
        CTAText = "DOWNLOAD NOW";
        CTAUrl = "https://play.google.com/store/apps/details?id=com.carwale&referrer=utm_source%3DCarWaleMsite%26utm_medium%3DBanner%26utm_campaign=CarWale%2520MobilesiteBannerVariantC";
        hexCode = "#f04031";
        variant = "VariantC";
        showLogo = true;
    }
    else if ((CookiesCustomers.AbTest % 4) == 2)
    {
        CTAText = "INSTALL NOW";
        CTAUrl = "https://play.google.com/store/apps/details?id=com.carwale&referrer=utm_source%3DCarWaleMsite%26utm_medium%3DBanner%26utm_campaign=CarWale%2520MobilesiteBannerVariantD";
        hexCode = "#f04031";
        variant = "VariantD";
        showLogo = true;
    }
    else if ((CookiesCustomers.AbTest % 4) == 3)
    {
        CTAText = "DOWNLOAD NOW";
        CTAUrl = "https://play.google.com/store/apps/details?id=com.carwale&referrer=utm_source%3DCarWaleMsite%26utm_medium%3DBanner%26utm_campaign=CarWale%2520MobilesiteBannerVariantE";
        hexCode = "#00AFA0";
        variant = "VariantE";
        showLogo = false;
    }
    else
    {
        CTAText = "DOWNLOAD NOW";
        CTAUrl = "https://play.google.com/store/apps/details?id=com.carwale&referrer=utm_source%3DCarWaleMsite%26utm_medium%3DBanner%26utm_campaign=CarWale%2520MobilesiteBannerVariantF";
        hexCode = "#f04031";
        variant = "VariantF";
        showLogo = false;
    }
}
@if ((HttpContext.Current.Request.ServerVariables["HTTP_USER_AGENT"] ?? string.Empty).ToString().ToLower().IndexOf("android") > -1 && Request.Cookies["AndroidDownload"] == null && (HttpContext.Current.Request.ServerVariables["HTTP_USER_AGENT"] ?? string.Empty).ToString().ToLower().IndexOf("windows") < 0 && !(Request.RawUrl.Contains("used") || Request.Url.ToString().Contains("/classifieddetails")))
{
    <div id="divAndroid" class="app-banner" data-role="impression-tracking" data-event="CWNonInteractive" data-action="app_banner_impression" data-cat="android_app_banner" data-label="@variant">
        <span class="app-banner__btnclose" onclick="CloseAndroidLink();" data-role="click-tracking" data-event="CWInteractive" data-action="close_click" data-cat="android_app_banner" data-label="@variant">
            <img class="app-banner__btnclose-img" src="https://imgd.aeplcdn.com/0x0/cw/static/icons/a8afb3/close-11x11.png" alt="close-icon" />
        </span>
        <a class="app-install-link" data-role="click-tracking" data-event="CWInteractive" data-action="install_click" data-cat="android_app_banner" data-label="@variant" href="@CTAUrl" title="Try our App for a better experience">
            <div class="app-banner__logo" style="display: @(showLogo ? "inline-block" : "none")">
                <img class="app-banner__logo-img" src="https://imgd.aeplcdn.com/0x0/cw/static/icons/app-icon-38x38.png" alt="app-icon" height="38" width="38" />
            </div>
            <div class="app-banner__content">
                <p>Try our App for a better experience</p>
                <div class="app-banner__ratings">
                    <span class="app-banner__ratefourhalf rating-sprite fourHalf-rating"></span>
                    <span class="app-banner__rate-numbers">4.5</span>
                </div>
            </div>
            <span class="app-banner__install-button text-uppercase font9" style="background: @hexCode">@CTAText</span>
        </a>
    </div>
    <script>
    function CloseAndroidLink() {
        if (window.jQuery) {
            $("#divAndroid").slideUp(500);
            $("#hrAndroid").hide();
            var expiryTime = 1000 * 60 * 60 * 24 * 30;  //30 days
            var expires = new Date((new Date()).valueOf() + expiryTime);
            document.cookie = "AndroidDownload=1;expires=" + expires.toUTCString() + ";path=/";
        }
    }
</script>
}