@using System.Configuration;
@using Carwale.UI.Common;
@using Carwale.BL.UserProfiling;
@using Carwale.BL.Experiments;
@using Carwale.Entity.Enum;
@using Carwale.Utility;
@{
    bool isMobile = Carwale.UI.ClientBL.DeviceDetectionManager.IsMobile(new HttpContextWrapper(HttpContext.Current));
    bool showCustomNotificationPopup = ProductExperiments.showCustomNotificationPopup(isMobile);
}
<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# @(ViewBag.PageId != null && Convert.ToInt32(ViewBag.PageId) == 68 ? "product:http: //ogp.me/ns/product#" : string.Empty)">
<meta charset="utf-8">
    <link rel="preload" href="https://stc.aeplcdn.com/fonts/lato-bold-webfont.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="https://stc.aeplcdn.com/fonts/lato-regular-webfont.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="https://stc.aeplcdn.com/cwfontawesome/fonts/cwfontawesome.ttf?1cyjai" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="https://stc.aeplcdn.com/fonts/rupee.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/static/sass/partials/rupee-icon.css" as="style" type="text/css">
<title itemprop="name">@ViewBag.Title - CarWale</title>
    @if (ViewBag.Description != null)
    {
        <meta itemprop="description" name="description" content="@Html.Raw(System.Text.RegularExpressions.Regex.Replace(ViewBag.Description.ToString(), @"<[^>]*>", string.Empty))" />
    }
    @if (ViewBag.Keywords != null)
    {
    <meta name="keywords" content="@(ViewBag.Keywords ?? string.Empty)" />
    }
    @RenderSection("MetaTags", false)
	@RenderSection("CarSchema", false)
    @if (!string.IsNullOrEmpty(ViewBag.Canonical))
    {
    <link rel="canonical" href="@Html.Raw(ViewBag.Canonical)" />
    }
    @if (ViewBag.Amphtml != null && ViewBag.Amphtml != string.Empty)
    {
    <link rel="amphtml" href="@ViewBag.Amphtml" />
    }
    @if (ViewBag.DeeplinkAlternativesAndroid != null)
    {
    <link rel="alternate" href="android-app://com.carwale/carwaleandroid1/www.carwale.com@(ViewBag.DeeplinkAlternativesAndroid)" />
    }
    @if (ViewBag.DeeplinkAlternatives != null)
    {
    @*<link rel="alternate" href="ios-app://910137745/ioscarwale/www.carwale.com@(ViewBag.DeeplinkAlternatives)" />*@
    }
    @if (!String.IsNullOrWhiteSpace(ViewBag.Prev))
    {
    <link rel="prev" href="@ViewBag.Prev" />
    }
    @if (!String.IsNullOrWhiteSpace(ViewBag.Next))
    {
    <link rel="next" href="@ViewBag.Next" />
    }

    <meta name="google-site-verification" content="y33JBqCALrAtfZBeI-VVHz7jyLJrZqpOsggckAZlBj8" />
    <link href="https://imgd.aeplcdn.com" rel="preconnect">
    <link href="https://stc.aeplcdn.com" rel="preconnect">
    <link href="https://www.googletagmanager.com" rel="preconnect">
    <link href="https://www.googletagservices.com" rel="preconnect">
    <link href="https://connect.facebook.net" rel="preconnect">
    <link href="https://s3.amazonaws.com" rel="preconnect">
    <link href="https://stats.g.doubleclick.net" rel="preconnect">
    <link href="https://amplify.outbrain.com" rel="preconnect">
    <link href="https://securepubads.g.doubleclick.net" rel="preconnect">
    <link href="https://adservice.google.co.in" rel="preconnect">
    <link href="https://googleads.g.doubleclick.net" rel="preconnect">
    <link href="https://tpc.googlesyndication.com" rel="preconnect">
    <link href="https://www.google-analytics.com" rel="preconnect">
    <link href="https://www.googleadservices.com" rel="preconnect">
    <link href="https://api.survicate.com" rel="preconnect">
    <link href="https://survey.survicate.com" rel="preconnect">
    <link href="https://pagead2.googlesyndication.com" rel="preconnect">
    <link href="https://sb.scorecardresearch.com" rel="preconnect">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="SHORTCUT ICON" href="@( Carwale.Utility.CWConfiguration._imgHostUrl)0x0/cw/design15/carwale.png?v=1.1" />
    <noscript class="deferred-styles">
        <link rel="stylesheet" href="/static/m/css/cwm-common-style.css" type="text/css">
        <link rel="stylesheet" href="/static/sass/m/css/loader.css" type="text/css">
        <link rel="stylesheet" href="/static/m/css/easy-autocomplete.css" type="text/css">
        <link rel="stylesheet" href="/static/cwfontawesome/cw-font-awesome.css" type="text/css">
        <link rel="stylesheet" href="/static/sass/partials/rupee-icon.css" type="text/css" />
    </noscript>
    <link rel="preload" href="/static/m/js/frameworks.js" as="script" type="text/javascript">
    <link rel="preload" href="/static/m/js/plugins/jquery-cookie.js" as="script" type="text/javascript">
    <link rel="preload" href="/static/m/js/plugins/lazy-load.js" as="script" type="text/javascript">
    <link rel="preload" href="/static/m/js/plugins/placeholder.js" as="script" type="text/javascript">
    <link rel="preload" href="/static/m/js/easy-autocomplete.js" as="script" type="text/javascript">
    <link rel="preload" href="/static/js/v2/app/cwTracking.js" as="script" type="text/javascript">
    <style>
        @@font-face {font-family: 'LatoWeb';font-display: swap;src: url('https://stc.aeplcdn.com/fonts/lato-bold-webfont.woff') format('woff');font-weight: 700;font-style: normal;}
        @@font-face {font-family: 'LatoWeb';font-display: swap;src: url('https://stc.aeplcdn.com/fonts/lato-regular-webfont.woff') format('woff');font-weight: 400;font-style: normal;}
        /*! Font Awesome 4.2.0 by @@davegandy - http://fontawesome.io - @@fontawesome * License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */
        @@font-face {font-family: 'CWFontAwesome';font-display: swap;src: url('https://stc.aeplcdn.com/cwfontawesome/fonts/cwfontawesome.eot?1cyjai');src: url('https://stc.aeplcdn.com/cwfontawesome/fonts/cwfontawesome.eot?1cyjai#iefix') format('embedded-opentype'),url('https://stc.aeplcdn.com/cwfontawesome/fonts/cwfontawesome.ttf?1cyjai') format('truetype'),url('https://stc.aeplcdn.com/cwfontawesome/fonts/cwfontawesome.woff?1cyjai') format('woff'),url('https://stc.aeplcdn.com/cwfontawesome/fonts/cwfontawesome.svg?1cyjai#CWFontAwesome') format('svg');font-weight: normal;font-style: normal;font-display: fallback;}
    </style>
    @{ Html.RenderPartial("~/Views/StaticPartials/fontCss/RupeeFontCss.cshtml"); }
    @if (ViewBag.CustomCss != null)
    {
        if (ViewBag.CustomCss.IndexOf(".css") > 0)
        {
            <link href="@ViewBag.CustomCss" rel="stylesheet" type="text/css"> }
        else
        {
            Html.RenderPartial((string)ViewBag.CustomCss);
        }
    }
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="/static/sass/partials/android-app-download.css" type="text/css" inline>
    @{
        Html.RenderPartial("~/Views/Shared/_GoogleTagManagerView.cshtml");
        Html.RenderPartial("~/Views/Shared/_GoogleTagServicesView.cshtml");
    }
    <script type="text/javascript" src="/static/m/js/frameworks.js" defer></script>
    <!-- Global Site Tag (gtag.js) - Google AdWords: 999894061 -->
    @{Html.RenderPartial("~/Views/Shared/_GlobalSiteTagScript.cshtml"); }

    @{if (ViewBag.DefineAdSlots != null)
    {
        @Html.Raw(ViewBag.DefineAdSlots);
        Html.RenderAction("GetAdTagetingData", "UserProfile", new { cwcCookieId = CurrentUser.CWC, platform = Platform.CarwaleMobile });
    }
    }
    <style>.btn-abtest .btn-orange {background: #e53012;}.btn-abtest .btn-green {background: #00afa0;}.btn-abtest .m-call-slug .btn {border-radius: 6px;font-size: 18px;font-weight: 700;}.btn-abtest .m-call-slug {background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;bottom: 0;color: #fff;padding: 5px;position: fixed;width: 100%;z-index: 5;box-shadow: #d2d2d2 0 -1px 10px;}</style>
    </head>
    <body class="@ViewBag.BodyClass bg-light-grey m-special-skin-body m-no-bg-color btn-abtest">
        @{
        Html.RenderPartial("~/Views/Shared/_GoogleTagManagerNoScript.cshtml");
        Html.RenderPartial("m/_AndroidAppDownload");
        }

        <link rel="stylesheet" href="/static/m/css/white-header-style.css" type="text/css" inline>
        @{Html.RenderPartial("~/Views/Shared/m/_WhiteHeader.cshtml"); }

        @RenderBody()
        <div id="divOverlay" style="display:none;"></div><div id="globalPopupBlackOut" class="blackOut-window"></div><div id="global-search-popup-cars" class="global-search-popup hide"><!-- global-search-popup code starts here --><div class="form-control-box"><span class="back-arrow-box" id="gs-close"><span class="cwmsprite back-long-arrow-left"></span></span><span class="cross-box hide" id="gs-text-clear"><span class="cwmsprite cross-md-dark-grey"></span></span><input type="text" id="globalSearchPopup" class="form-control" placeholder="Search"><div class="js-voice-search bg-color-grey font14">Would you like to use voice search? <span id="yes-link" class="action-btn text-link margin-left15">Yes</span><span id="no-link" class="action-btn text-link"> No</span></div><span class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display:none; right:40px;"></span></div>@Html.Partial("m/_GlobalSearch")</div><!-- global-search-popup code ends here --><div id="global-search-popup-pq" class="global-search-popup hide"><!-- global-search-popup pq code starts here --><div class="form-control-box"><span class="back-arrow-box" id="gs-close-pq"><span class="cwmsprite back-long-arrow-left"></span></span><span class="cross-box hide" id="gs-text-clear-pq"><span class="cwmsprite cross-md-dark-grey"></span></span><input type="text" id="globalSearchPQ" class="form-control" placeholder="Search"><div class="js-voice-search bg-color-grey font14">Would you like to use voice search? <span id="yes-link" class="action-btn text-link margin-left15">Yes</span><span id="no-link" class="action-btn text-link"> No</span></div><span class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display:none; right:40px;"></span></div>@Html.Partial("m/_GlobalSearch")</div><!-- global-search-popup pq code ends here --><!-- global-location-popup code starts here -->

    @{ Html.RenderPartial("~/Views/Shared/m/_MLoader.cshtml");}

    <noscript id="location_popup">
        <script type="text/html" src="/static/m/ui/location.html">
        </script>
    </noscript>
    <!-- global-location-popup code ends here -->
    <noscript id="advantage_popup">
        <script type="text/html" src="/static/m/ui/advantagecitypopup.html">
        </script>
    </noscript>
    @{ Html.RenderPartial("~/Views/Shared/m/_NavigationMenu.cshtml");}

        <footer class="bg-footer padding-top30 padding-bottom15">
            <!-- Footer section code starts here --><div class="container">
                <div class="grid-12 text-center">
                    <div class="footer-logo-section border-solid-bottom margin-bottom5"><div class="inline-block margin-right15"><a href="/m/" class="cwmsprite cw-logo"></a><p class="text-medium-grey margin-left15 font11 ask-expert-text">ask the experts</p></div><div class="inline-block margin-right15"><a href="https://m.cartrade.com/" target="_blank" rel="noopener" class="cwmsprite ct-logo"></a></div><div class="inline-block"><a href="https://www.bikewale.com/m/" target="_blank" rel="noopener" class="cwmsprite bw-logo"></a></div></div><div><ul><li><a href="/m/forums/">Forums</a></li><li><a href="/m/social/">Social Hub</a></li></ul></div>
                    <div class="app-download-menu padding-left15 padding-top5">
                        <div class="margin-bottom10 text-white">Download Mobile App</div>
                        <div class="app-link-container">
                            <a target="_blank" rel="noopener" href="https://itunes.apple.com/in/app/carwale/id910137745?mt=8"><img src="https://imgd.aeplcdn.com/0x0/cw/static/icons/app-store-img.png" alt="Download App" title="Download App"></a>
                            <a target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=com.carwale&referrer=utm_source%3DCarWaleMsite%26utm_medium%3DFooter%26utm_campaign=CarWale%2520MobilesiteFooter"><img src="https://imgd.aeplcdn.com/0x0/cw/static/icons/google-store-img.png" alt="Download App" title="Download App"></a>
                        </div>
                    </div>
                    <div class="border-solid-top text-white font11 margin-top5 padding-top10">
                        <div class="grid-4 alpha text-left">&copy; CarWale India</div><div class="grid-8 omega text-right">
                            <a href="/visitoragreement.aspx" class="text-white">Visitor Agreement </a>&
                            <a href="/privacypolicy.aspx" class="text-white">Privacy Policy</a>
                        </div>
                    </div><div class="clear"></div>
                </div><div class="clear"></div>
            </div>
        </footer><!-- Ends here --><div id="detailsNode"></div><!-- all other js plugins -->
        @if (ViewBag.City != null)
        {
        <script type="text/javascript"> geoCityId = '@ViewBag.City.CityId', geoCityName = '@ViewBag.City.CityName';</script>
        }
        <script type="text/javascript">
            var cwTrackingPath = '@ConfigurationManager.AppSettings["HostUrl"]';
            var insuranceKeys = {
                cholaStates: [@System.Configuration.ConfigurationManager.AppSettings["InsuranceStates"]],
            };
            var defaultCookieDomain = '@Carwale.UI.Common.CookiesCustomers.CookieDomain';
            var isEligibleForORP = ('@CookiesCustomers.IsEligibleForORP' === 'True');
            var abTestKey = "@(System.Configuration.ConfigurationManager.AppSettings["AbTestVersion"])";
            var abTestKeyMaxValue = "@(System.Configuration.ConfigurationManager.AppSettings["AbTestKeyMaxValue"])";
            var abTestKeyMinValue = "@(System.Configuration.ConfigurationManager.AppSettings["AbTestKeyMinValue"])";
            var askingAreaCityId = [@System.Configuration.ConfigurationManager.AppSettings["AskingAreaCityIds"]];
            var testDriveCampaignIds = [@System.Configuration.ConfigurationManager.AppSettings["TestDriveCampaignIds"]];
        </script>
        @RenderSection("Plugins", false)
        <script type="text/javascript" src="/static/m/js/plugins/jquery-cookie.js" defer></script>
        <script type="text/javascript" src="/static/m/js/plugins/lazy-load.js" defer></script>
        <script type="text/javascript" src="/static/m/js/plugins/placeholder.js" defer></script>
        <script type="text/javascript" src="/static/m/js/easy-autocomplete.js" defer></script>
        <script type="text/javascript" src="/static/js/adsense.js" defer></script>
        <script type="text/javascript" src="/static/js/v2/app/clientcache.js" defer></script>
        <script type="text/javascript" src="/static/js/globalSearch.js" defer></script>
        <script type="text/javascript" src="/static/m/js/sponsored-navigation.js" defer></script>
        <script type="text/javascript" src="/static/js/error-logger.js" defer></script>
        <script type="text/javascript" src="/static/m/js/v2/app/common.js" defer></script>
    <script type="text/javascript" src="/static/m/js/v2/app/loader.js" defer></script>
        <script type="text/javascript" src="/static/js/lead-conversion-tracking.js" defer></script>
        <script type="text/javascript" src="/static/js/cookie-migration.js" defer></script>
        <script type="text/javascript" src="/static/m/js/v2/app/new-car-common.js" defer></script>
        <script type="text/javascript" src="/static/js/v2/app/cwTracking.js" defer></script>
        <script type="text/javascript" src="/static/m/js/location.js" defer></script>
        <script type="text/javascript" src="/static/js/advantage-citypopup.js" defer></script>
        <script type="text/javascript" src="/static/js/lazyloadad.js" defer></script>



        @if (ViewBag.CustomJs != null)
        {
        if (ViewBag.CustomJs.IndexOf(".js") > 0)
        {
        <script type="text/javascript" src="@ViewBag.CustomJS"></script>}
        else
        {
        Html.RenderPartial((string)ViewBag.CustomJs);
        }
        }
        @RenderSection("Scripts", false)
        @RenderSection("LoadScript", false)

        @if (!(Request.RawUrl.StartsWith("/m/used") || Request.RawUrl.StartsWith("/used") || Request.RawUrl.Contains("/advantage")))
        {
            Html.RenderPartial(showCustomNotificationPopup ? "~/Views/Shared/Notification/_CustomNotificationPopup.cshtml" : "~/Views/Shared/Notification/_NotificationPopupScript.cshtml");
        }

        @{
        Html.RenderPartial("~/Views/Shared/_FacebookScriptView.cshtml");
        Html.RenderPartial("~/Views/Shared/_OutbrainScriptView.cshtml");
        }
	
        <script>
            var loadDeferredStyles = function () {
                var addStylesNode = document.getElementsByClassName("deferred-styles"), replacement = document.createElement("div"), styleLinks = "";
                var maxStylesNodes = addStylesNode.length;
                for (var i = 0; i < maxStylesNodes; i++) { styleLinks += addStylesNode[i].textContent; }
                replacement.innerHTML = styleLinks;
                document.body.appendChild(replacement)
            };
            var raf = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame;
            if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
            else window.addEventListener('load', loadDeferredStyles);
        </script>

        <!-- Google Code for Remarketing Tag -->
        @{Html.RenderPartial("~/Views/Shared/_GoogleAdRemarketingConversionScript.cshtml"); }
        <!-- Google Code for Remarketing Tag Ends -->

    </body>
</html>