@model Bikewale.Entities.manufacturecampaign.v2.ManufactureCampaignLeadEntity
@using Bikewale.Entities.BikeBooking;

@if (String.Equals(Model.LeadsButtonTextMobile.ToLower(), "request callback"))
{
    <div id="animate-btn" class="campaign__floating-btn floating-btn clearfix campaign-with-animation js-floating-btn">
        <p class="grid-7 alpha btn__left-label campaign-with-animation__text"><span class="campaign-animation-text__content">@String.Format(Model.LeadsPropertyTextMobile, Model.Organization)</span> </p>
        <div class="campagin-new__button grid-5 alpha omega campaign-with-animation__button">
            <a data-group="abtest" data-mfgcampid="@Model.CampaignId" data-item-id="@Model.DealerId" data-item-area="@Model.Area" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile)" data-campaignid="@Model.CampaignId" data-pqsourceid="@Model.PqSourceId" data-item-message="@String.Format(Model.PopupSuccessMessage, Model.Organization)" data-item-heading="@Model.PopupHeading" data-item-description="@Model.PopupDescription" data-ispincodrequired="@Model.PincodeRequired" data-dealersrequired="@Model.DealerRequired" data-item-name="@(String.Format(Model.LeadsButtonTextMobile, Model.Organization))" id="btnfloatingManufacturer" data-isemailrequired="@Model.EmailRequired" data-issendleadsmscustomer="@Model.SendLeadSMSCustomer" data-item-organization="@Model.Organization" data-cat="@Model.GACategory" class="btn btn-orange btn-full-32 leadcapturebtn js-mfg">Get Best Offers</a>
        </div>
        <div class="clear"></div>
    </div>
}
else
{
    <div class="campaign__floating-btn floating-btn clearfix js-floating-btn">
        <p class="grid-7 alpha btn__left-label">@String.Format(Model.LeadsPropertyTextMobile, Model.Organization)</p>
        <div class="grid-5 alpha omega">
            <a data-group="default" data-mfgcampid="@Model.CampaignId" data-item-id="@Model.DealerId" data-item-area="@Model.Area" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile)" data-campaignid="@Model.CampaignId" data-pqsourceid="@Model.PqSourceId" data-item-message="@String.Format(Model.PopupSuccessMessage, Model.Organization)" data-item-heading="@Model.PopupHeading" data-item-description="@Model.PopupDescription" data-ispincodrequired="@Model.PincodeRequired" data-dealersrequired="@Model.DealerRequired" data-item-name="@(String.Format(Model.LeadsButtonTextMobile, Model.Organization))" id="btnfloatingManufacturer" data-isemailrequired="@Model.EmailRequired" data-issendleadsmscustomer="@Model.SendLeadSMSCustomer" data-item-organization="@Model.Organization" data-cat="@Model.GACategory" data-act="FloatingLeadCTA_Partial_DefaultCTA_Click" data-lab="" data-bhriguact="ES_FloatingLeadCTA_PartialClick" data-bhrigulab="versionId=@Model.VersionId" data-bhrigucat="BWModelPage" class="btn btn-orange btn-full-32 leadcapturebtn bw-ga bw-shown-in-bhrighu bw-bhrigu">@String.Format(Model.LeadsButtonTextMobile, Model.Organization)</a>
        </div>
        <div class="clear"></div>
    </div>
}