@using Bikewale.Utility;
@model IEnumerable<Bikewale.Entities.ServiceCenters.ServiceCenterDetails>
    @foreach (var center in Model){
    <li class="card">
        <a href="@UrlFormatter.GetServiceCenterUrl(ViewBag.MakeMaskingName, ViewBag.CityMaskingName, center.Name, center.ServiceCenterId)" title="@center.Name" class="card-target">
            <h3 class="text-black text-bold text-truncate margin-bottom5">@center.Name</h3>
            @if (!String.IsNullOrEmpty(center.Address)) { 
            <p class="text-light-grey margin-bottom5">
                <span class="bwsprite dealership-loc-icon vertical-top margin-right5"></span>
                <span class="vertical-top details-column">@FormatDescription.TruncateDescription(center.Address, 80)</span>
            </p>
            }
            @if (!String.IsNullOrEmpty(center.Phone)) { 
            <p class="text-default">
                <span class="bwsprite phone-black-icon vertical-top margin-right5"></span>
                <span class="text-bold vertical-top details-column text-truncate">@center.Phone</span>
            </p>
            }
        </a>
    </li>
    }
    
