@model Bikewale.Models.BikeModels.OtherBestBikesVM

<ul class="best-bike-list margin-bottom5">
    @{int i = 0;}
    @foreach (var Bike in Model.BestBikes)
    {
        i = i + 1;
        <li class="list-item position-rel">
            <a href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.BikePageUrl(Bike.Make.MaskingName,Bike.Model.MaskingName))" class="list-item-target" title="@Bike.Make.MakeName @Bike.Model.ModelName">
                <div class="item-image-block inline-block">
                    <span class="item-rank-label">#@i</span>
                    <img class="lazy" src="@Bikewale.Utility.Image.GetPathToShowImages(Bike.OriginalImagePath, Bike.HostUrl, Bikewale.Utility.ImageSize._110x61,Bikewale.Utility.QualityFactor._70)" alt="@Bike.Make.MakeName @Bike.Model.ModelName" title="@Bike.Make.MakeName @Bike.Model.ModelName" />
                </div>
                <div class="item-details-block inline-block">
                    <p class="font14 text-bold text-default text-truncate">@Bike.Make.MakeName @Bike.Model.ModelName</p>
                    <div class="key-specs-list font12 text-xx-light margin-bottom5">
                        @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsSpanElements(Bike.MinSpecsList))
                    </div>
                    <p class="font11 text-grey text-truncate">@(Bike.Price > 0 ? string.Format("Ex-showroom, {0}", Bike.PriceInCity) : "Avg. Ex-showroom price")</p>
                    <span class='font16 text-default'> &#x20B9;</span>
                    <span class="font16 text-default text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Bike.Price > 0 ? Bike.Price : Bike.AvgPrice))</span>
                </div>
            </a>
            @if (Bike.Price == 0)
            {
                <span class="info-icon tooltip-icon-target tooltip-top tooltip--right">
                    <span class="bw-tooltip info-tooltip">
                        <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", Bike.PriceInCity)</span>
                    </span>
                </span>
            }
            
        </li>

    }
</ul>
