@model Bikewale.Models.BikeModels.ModelPageVM

<section>
    <div class="container" id="modelDetailsContainer">
        <div id="modelSummaryContent" data-id="modelSummaryContent" class="bw-model-tabs-data">
            <div class="grid-12 margin-bottom20">
                <div class="content-box-shadow">
                    <div class="padding-top15 padding-left20">
                        <h1 class="inline-block margin-right15">@Model.Page_H1</h1>
                        <div class="inline-block">
                            @Html.Partial("~/UI/Views/Model/_Index_Reviews.cshtml", Model)
                        </div>
                    </div>
                    
                    <div id="overallTabsWrapper" class="overall-tabs position-rel">
                        <div id="overallSpecsTab" class="overall-specs-tabs-container">
                            <div class="overall-specs-tabs-wrapper">
                                @Html.Partial("~/UI/Views/Model/_Index_Tabs.cshtml", Model)
                            </div>
                        </div>
                    </div>

                    <div class="padding-top15 padding-right20 padding-bottom10 padding-left20">
                        <div id="model-right-grid" class="grid-7 alpha omega rightfloat">

                            @Html.Partial("~/UI/Views/Model/_Index_VersionsAndSpecs.cshtml", Model)

                            <div id="modelPriceContainer">
                                <p class="font14 text-light-grey">Last known Ex-showroom price in <span class="city-area-name">@Model.Location</span> </p>
                                @if (Model.BikePrice == 0)
                                {
                                    <span class="font16">Price not available</span>
                                }
                                else
                                {
                                    <div class="leftfloat margin-right15">
                                        <span>
                                            @Html.Raw("<span class='font22'>&#x20B9;</span>")
                                        </span>
                                        <span id="new-bike-price" class="font22 text-bold">@Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())</span>
                                    </div>
                                }
                                <div class="clear"></div>
                                <p class="default-showroom-text font14 text-light-grey margin-top5">@Model.BikeName is now discontinued in India.</p>
                            </div>
                        </div>
                        <div class="grid-5 alpha margin-bottom20">
                            <div class="position-rel">
                                <span class="model-ribbon discontinued-ribbon">Discontinued</span>
                            </div>
                            @Html.Partial("~/UI/Views/Model/_Index_ModelGallery.cshtml", Model)
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            @if (Model.IsModelDescriptionAvailable)
            {
                <div class="bw-model-tabs-data">
                     <div class="grid-12">
                        @Html.Partial("~/UI/Views/Model/_Index_ModelSummary.cshtml", Model)
                    </div>
                    
                    <div class="clear"></div>
                </div>
            }        

          
        </div>
        @Html.Partial("~/UI/Views/Model/_Index_DetailsCard.cshtml", Model)
    </div>
</section>
