@model Bikewale.Models.BikeModels.ModelPageVM
@using Bikewale.Entities.BikeData
@using System.Linq

@if (!Model.IsUpcomingBike)
{
    bool minSpecAvailable = Model.ModelPageEntity.ModelVersionMinSpecs != null && Model.ModelPageEntity.ModelVersionMinSpecs.MinSpecsList != null;
    <div data-id="modelSummaryContent" class="bw-model-tabs-data content-box-shadow content-inner-block-20 card-bottom-margin">
        <h2 class="h2-heading padding-bottom10">@Model.BikeName Summary</h2>
        
        <div class="grid-8 alpha model-about-container">
            <div class="margin-top10">
                <table id="model-key-highlights" cellspacing="0" cellpadding="0" width="100%" border="0" class="font14 text-left">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-bold padding-bottom5">@Model.ModelPageEntity.ModelDetails.ModelName key highlights</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.BikePrice > 0 || (Model.SelectedVersion != null && Model.SelectedVersion.AverageExShowroom > 0))
                        {
                        <tr>
                            <td width="36%"><strong class="text-unbold">Price</strong></td>
                            <td width="64%">
                                @Html.Raw("&#x20B9;")
                                <strong class="text-bold">@(Model.BikePrice > 0 ? string.Format("{0}", Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())) : Bikewale.Utility.Format.FormatPrice(Model.SelectedVersion.AverageExShowroom.ToString()))</strong>
                            </td>
                        </tr>
                        }
			@if (minSpecAvailable)
			{
				var topSpeed = Bikewale.Utility.FormatMinSpecs.SanitizeNumericMinSpec(Model.ModelPageEntity.ModelVersionMinSpecs.MinSpecsList, EnumSpecsFeaturesItems.TopSpeed);
				if (topSpeed != null && !string.IsNullOrEmpty(topSpeed.Value))
				{
					<tr>
						<td>Top speed</td>
						<td class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(topSpeed.Value, topSpeed.UnitType, topSpeed.DataType, topSpeed.Id)</td>
					</tr>
				}
				var fuelEfficiency = Bikewale.Utility.FormatMinSpecs.SanitizeNumericMinSpec(Model.ModelPageEntity.ModelVersionMinSpecs.MinSpecsList, EnumSpecsFeaturesItems.FuelEfficiencyOverall);
				if (fuelEfficiency != null && !string.IsNullOrEmpty(fuelEfficiency.Value))
				{
					<tr>
						<td>Mileage</td>
						<td class="text-bold">@Bikewale.Utility.FormatMinSpecs.ShowAvailable(fuelEfficiency.Value, fuelEfficiency.UnitType, fuelEfficiency.DataType, fuelEfficiency.Id)</td>
					</tr>
				}
			}
                        @if (Model.IsModelColorsAvailable)
                        {
                        <tr>
                            <td valign="top">Colours</td>
                            <td valign="top" class="text-bold">
                                <ul class="model-color-list">
                                    @foreach (var colorName in Model.ModelPageEntity.ModelColors)
                                        {
                                        <li class="leftfloat">@colorName.ColorName</li>
                                        }
                                </ul>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.ModelPageEntity.ModelDesc != null && !string.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription) && Model.ModelPageEntity.ModelDetails != null)
            {

                <div id="modelAboutContent" class="font14 margin-top20 border-divider">
                    <h2 class="h2-heading margin-bottom15 margin-top10 ">About @Model.ModelPageEntity.ModelDetails.ModelName</h2>
                    <div class="text-slate-grey line-height17">
                        @if (!Model.IsUpcomingBike)
                        {
                            <p id="main-preview-content" class="inline">
                                @if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription))
                                {
                                    @Html.Raw(Model.ModelPageEntity.ModelDesc.SmallDescription)
                                }
                                else
                                {
                                    @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                                }
                            </p>
                            if (!String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription) && !String.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.FullDescription))
                            {
                                <p id="more-preview-content" class="hide">
                                    @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                                </p>
                                <a href="javascript:void(0)" id="read-more-preview" rel="nofollow">Read more</a>
                            }
                        }
                        else
                        {
                            @Html.Raw(Model.ModelPageEntity.ModelDesc.FullDescription)
                        }
                    </div>
                </div>
                <div class="clear"></div>

            }
        </div>
        <div class="grid-4 omega">
            <div class="text-left alpha">
                @if (Model.AdTags.Ad_Model_ATF_300x250)
                {
                    <div class="sponsored-card">
                        @{Html.RenderPartial("/UI/Views/Shared/Ads/Desktop/AdSlotGeneric.cshtml", Model.AdSlots[String.Format("{0}-9", Model.AdTags.AdId)]);}
                    </div>
                }
            </div>
            <div id="adBlocker" class="adBlocker-grid text-left alpha hide">
                <a class="bw-anchor-link" href="javascript:void(0)" data-href="@Bikewale.Utility.UrlFormatter.FormatUserReviewContestUrl(Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Desktop_ModelPage_AdPlaceholder)" target="_blank" rel="nofollow" title="Write a review" style="width: 300px; height: 250px; display:block">
                    <img src="https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/d/review-contest-300x250.jpg" alt="write a review" class="inline-block margin" />
                </a>
            </div>
            @if (Model.BikeRanking != null && Model.BikeRanking.Rank > 0)
            {
                <div class="margin-top10">
                    <a href="@Bikewale.Utility.UrlFormatter.FormatGenericPageUrl(Model.BikeRanking.BodyStyle)" title="Best @Model.BikeRanking.StyleName in India" class="model-rank-slug">
                        <div class="inline-block icon-red-bg">
                            <span class="bwsprite rank-graph"></span>
                        </div>
                        <div class="rank-slug-label inline-block text-bold text-default">
                            <p class="font14">@Html.Raw(Model.BikeRanking.Rank > 1 ? Model.BikeRanking.RankText : "") Most Popular @Model.BikeRanking.BikeType</p>
                            <p class="font11">Check out the complete list.</p>
                        </div>
                        <span class="trend-arrow"></span>
                        <span class="bwsprite right-arrow"></span>
                    </a>
                </div>

            }
            else if (Model.IsElectricBike)
            {
                <div class="margin-top10">
                    <a href="/electric-bikes/" title="Electric Bikes" class="electric-slug__content">
                        <span class="electric-scooter-icon"></span>
                        <div class="electric-slug__details">
                            <p class="electric-slug__title">Go Green, Go Electric.</p>
                            <p class="electric-slug__subtitle">Find electric bikes and scooter.</p>
                        </div>
                    </a>
                </div>
            }
            
        </div>

        
        <div class="clear"></div>


    </div>
}
