@model Bikewale.Models.BikeModels.ModelPageVM
@using Bikewale.Common;
@using Bikewale.Entities.BikeBooking;
@using Bikewale.Utility;
@{
    var cityArea = Bikewale.Utility.GlobalCityArea.GetGlobalCityArea();
    uint cityId = cityArea.CityId;
    bool isNonFinancePartner = false;
}

<section>
    @{
        string q = Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(string.Format("csrc={0}", (int)Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Mobile_ModelPage_Topslug));
    }
    <a href="javascript:void(0)" ref="nofollow" data-href="@string.Format("/m/bike-review-contest/?q={0}", q)" class="contest-slug-sm slug-teal-target bw-anchor-link">
        <span class="trophy-white"></span>
        <p class="contest-slug__label">Write a review and win Amazon vouchers worth &#x20B9;@Format.FormatPrice(BWConfiguration.Instance.ContestPriceMoney)</p>
        <span class="bwmsprite arrow-white-right"></span>
    </a>
</section>
<section>
    <div class="contaniner clearfix">
        <div class="padding-top10 padding-left20 padding-right20 bg-white">
            <h1 class="padding-bottom5">@Model.Page_H1</h1>
            @Html.Partial("~/UI/Views/Model/_Index_Reviews_Mobile.cshtml", Model)
        </div>
        <div id="modelSpecsTabsContentWrapper">
            <div id="modelOverallSpecsTopContent" class="bg-white position-rel">
                <div id="overallSpecsTab" class="overall-specs-tabs-container">
                    @Html.Partial("~/UI/Views/Model/_Index_Tabs_Mobile.cshtml", Model)
                </div>
            </div>
            <div id="overviewContent" data-id="overviewContent" class="bw-model-tabs-data card-bottom-margin content-details-wrapper">
                <div class="content-box-shadow card-bottom-margin">
                    @Html.Partial("~/UI/Views/Model/_Index_ModelGallery_Mobile.cshtml", Model)
                    <div class="elevated-shadow-top">
                        @Html.Partial("~/UI/Views/Model/_Index_VersionsAndSpecs_Mobile.cshtml", Model)
                        <div class="clear"></div>
                        <div class="padding-10-20">
                            @if (Model.BikePrice > 0)
                            {
                                string priceText = (Model.IsLocationSelected && !Model.ShowOnRoadButton ? "On-road price " : (Model.LocationCookie.CityId > 0 && !Model.IsLocationSelected ? "On-road price " : "Ex-showroom price "));
                                string locationText = (Model.IsLocationSelected && !Model.ShowOnRoadButton ? Model.Location : (Model.LocationCookie.CityId > 0 ? Model.LocationCookie.City : Bikewale.Utility.BWConfiguration.Instance.DefaultName));
                                if (Model.IsEditCityOption)
                                {
                                    int lastIndex = locationText.LastIndexOf(',');
                                    string areaText = string.Empty, cityText = string.Empty;
                                    if(lastIndex > -1 && (lastIndex+1) < locationText.Length)
                                    {
                                        areaText = locationText.Substring(0,lastIndex+2);
                                        cityText = locationText.Substring(lastIndex+2);
                                    }
                                    else
                                    {
                                        cityText = locationText;
                                    }
                                    <p class="font12 text-light-grey">@priceText in <a href="javascript:void(0)" data-reload="true" data-persistent="true" data-modelid='@Model.ModelId' data-cat="Model_Page" data-act="Edit_City_Initiated" data-lab="@string.Format("{0}in {1}",priceText,locationText)" class="getquotation bw-ga" rel="nofollow"><span class="edit-city-link">@areaText<span class="edit-city__text">@cityText<span class="edit-city__icon"></span></span></span></a></p>
                                }
                                else
                                {
                                    <p class="font12 text-light-grey">@priceText in @locationText</p>
                                }
                            }
                            else
                            {
                                <p class="font12 text-light-grey">
                                    <span>Avg. Ex-showroom price</span>
                                    <span class="info-icon tooltip-icon-target tooltip-top">
                                        <span class="bw-tooltip info-tooltip">
                                            <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", Model.LocationCookie.City)</span>
                                        </span>
                                    </span>
                                </p>

                            }
                            <div>
                                <span>
                                    @if (Model.BikePrice > 0)
                                    {
                                        @Html.Raw("<span class='font24'>&#x20B9;</span>")
                                        <span class="font24 text-bold padding-right5">&nbsp;@Bikewale.Utility.Format.FormatPrice(Model.BikePrice.ToString())</span>
                                    }
                                    else if (Model.SelectedVersion != null && Model.SelectedVersion.AverageExShowroom > 0)
                                    {
                                        @Html.Raw("<span class='font24'>&#x20B9;</span>")
                                        <span class="font24 text-bold padding-right5">&nbsp;@Bikewale.Utility.Format.FormatPrice(Model.SelectedVersion.AverageExShowroom.ToString())</span>
                                    }
                                    else
                                    {
                                        <span class="font18 text-bold">Price not available</span>
                                    }
                                </span>
                                @if ((Model.City != null && Model.IsLocationSelected && !Model.ShowOnRoadButton) && Model.BikePrice > 0 && Model.IsNewBike)
                                {
                                    <a href="/m/pricequote/dealer/?MPQ=@Model.MPQString" class="font14 text-bold viewBreakupText" rel="nofollow">View detailed price</a>
                                }
                                @if (!Model.IsLocationSelected && Model.IsManufacturerLeadAdShown && !(Model.LeadCampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.CapitalFirstDealerId || Model.LeadCampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.BajajAutoFinanceDealerId))
                                {
                                    <a id="btnGetOnRoadPrice" href="javascript:void(0)" data-reload="true" data-persistent="true" data-modelid="@Model.ModelId" style="width: 100%" class="font14 text-bold getquotation">Check on-road price</a>
                                }
                                @if (!Model.IsLocationSelected && !Model.IsManufacturerLeadAdShown && (Model.IsNearlyAllIndiaCampaign))
                                {
                                    <a id="btnGetOnRoadPrice" href="javascript:void(0)" data-reload="true" data-persistent="true" data-modelid="@Model.ModelId" style="width: 100%" class="font14 text-bold getquotation">Check on-road price</a>
                                }
                            </div>
                        </div>

                        @if ((Model.BikePrice > 0) || (Model.SelectedVersion != null && Model.SelectedVersion.AverageExShowroom > 0))
                        {
                            if (Model.EMIDetails != null && Model.EMICalculator != null)
                            {
                                Bikewale.Models.EMICalculatorVM EMICalculatorModel = Model.EMICalculator;
                                Bikewale.Entities.manufacturecampaign.ManufactureCampaignEMIEntity ESEMICampaign = EMICalculatorModel.ESEMICampaign;
                                string bhriguLab = @String.Format("versionId={0}|dealerId={1}", Model.VersionId, ESEMICampaign != null ? ESEMICampaign.DealerId : EMICalculatorModel.IsPremiumDealer?EMICalculatorModel.DealerDetails.DealerId: 0);
                                <div id="scroll-point" class="padding-left20 padding-right20 padding-bottom15">
                                    <span class="text-light-grey">
                                        EMI starting at
                                        <span class="text-bold">@Html.Raw("<span>&#x20B9;</span>") @Format.FormatPrice(Model.EMIDetails.EMIAmount.ToString())/month</span>
                                    </span>
                                    @if (Model.UpfrontLoanCampaign)
                                    {
                                        if (ESEMICampaign != null && (EMICalculatorModel.IsPrimaryDealer || EMICalculatorModel.IsManufacturerLeadAdShown))
                                        {
                                            if (ESEMICampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.CapitalFirstDealerId)
                                            {
                                                <a id="btnEmiQuote" class="emi-calculator__link bw-bhrigu bw-shown-in-bhrighu" data-bhrigucat="BWModelPage" data-bhrigushownact="ES_EMILeadCTA_Shown" data-bhriguact="ES_EMILeadCTA_Click" data-bhrigulab="@bhriguLab" rel="nofollow" href="@(EMICalculatorModel.IsMobile ? "/m" : "")/finance/capitalfirst/?campaingid=@ESEMICampaign.CampaignId&amp;dealerid=@ESEMICampaign.DealerId&amp;pqguid=@EMICalculatorModel.PQId&amp;leadsourceid=@ESEMICampaign.LeadSourceId&amp;versionid=@ESEMICampaign.VersionId&amp;url=@ESEMICampaign.CurrentPageUrl&amp;platformid=@ESEMICampaign.PlatformId&amp;bike=@EMICalculatorModel.BikeName&amp;loanamount=@ESEMICampaign.LoanAmount&amp;dealerName=@ESEMICampaign.Organization&amp;sendLeadSMSCustomer=@Convert.ToString(ESEMICampaign.SendLeadSMSCustomer)&amp;cityid=@cityId">@ESEMICampaign.EMIButtonTextMobile</a>
                                            }
                                            else if (ESEMICampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.BajajAutoFinanceDealerId)
                                            {
                                                <a id="btnEmiQuote" class="emi-calculator__link bw-bhrigu bw-shown-in-bhrighu" data-bhrigucat="BWModelPage" data-bhrigushownact="ES_EMILeadCTA_Shown" data-bhriguact="ES_EMILeadCTA_Click" data-bhrigulab="@bhriguLab" rel="nofollow" href="@string.Format("{0}/finance/bajaj/?dealerid={1}&campaignid={2}&pqguid={3}&leadsourceid={4}&versionid={5}&url={6}&platformid={7}&bike={8}&dealerName={9}&sendLeadSMSCustomer={10}&cityId={11}", EMICalculatorModel.IsMobile ? "/m" : "", ESEMICampaign.DealerId, ESEMICampaign.CampaignId, EMICalculatorModel.PQId, ESEMICampaign.LeadSourceId, ESEMICampaign.VersionId, ESEMICampaign.CurrentPageUrl, ESEMICampaign.PlatformId, EMICalculatorModel.BikeName, ESEMICampaign.Organization, ESEMICampaign.SendLeadSMSCustomer, cityId)">@ESEMICampaign.EMIButtonTextMobile</a>
                                            }
                                            else
                                            {
                                                <a id="btnEmiQuote" href="javascript:void(0)" class="emi-calculator__link leadcapturebtn bw-bhrigu bw-shown-in-bhrighu" data-bhrigucat="BWModelPage" data-bhrigushownact="ES_EMILeadCTA_Shown" data-bhriguact="ES_EMILeadCTA_Click" data-bhrigulab="@bhriguLab" rel="nofollow" data-mfgcampid="@ESEMICampaign.CampaignId" data-item-id="@ESEMICampaign.DealerId" data-item-area="@ESEMICampaign.Area" data-leadsourceid="@ESEMICampaign.LeadSourceId" data-pqsourceid="@ESEMICampaign.PqSourceId" data-item-message="@String.Format(ESEMICampaign.PopupSuccessMessage, ESEMICampaign.Organization)" data-item-heading="@ESEMICampaign.PopupHeading" data-item-description="@ESEMICampaign.PopupDescription" data-ispincodrequired="@ESEMICampaign.PincodeRequired" data-dealersrequired="@ESEMICampaign.DealerRequired" data-item-name="@(String.Format("Authorised {0} Dealer", ESEMICampaign.Organization))" data-item-organization="@ESEMICampaign.Organization" data-isemailrequired="@ESEMICampaign.EmailRequired" data-issendleadsmscustomer="@ESEMICampaign.SendLeadSMSCustomer">@ESEMICampaign.EMIButtonTextMobile</a>
                                            }
                                        }
                                        else if (EMICalculatorModel.IsPremiumDealer)
                                        {
                                            <a id="btnEmiQuote" class="emi-calculator__link leadcapturebtn bw-bhrigu bw-shown-in-bhrighu" data-bhrigucat="BWModelPage" data-bhrigushownact="DS_EMILeadCTA_Shown" data-bhriguact="DS_EMILeadCTA_Click" data-bhrigulab="@bhriguLab" data-pqsourceid="@Convert.ToUInt16(Bikewale.Entities.PriceQuote.PQSourceEnum.Mobile_ModelPage)" data-leadsourceid="@(Convert.ToInt32(EMICalculatorModel.PremiumDealerLeadSourceId))" data-campaignid="@EMICalculatorModel.DealerDetails.CampaignId" data-item-registerpq="false" data-item-id="@EMICalculatorModel.DealerDetails.DealerId" data-item-name="@EMICalculatorModel.DealerDetails.Organization" data-item-organization="@EMICalculatorModel.DealerDetails.Organization" data-item-area="@EMICalculatorModel.DealerDetails.objArea.AreaName">Get EMI quote</a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" rel="nofollow" class="emi-calculator__link bw-ga bw-bhrigu bw-shown-in-bhrighu" data-bhrigucat="BWModelPage" data-bhrigushownact="EMICalcLink_Shown" data-bhriguact="EMICalcLink_Click" data-bhrigulab="@bhriguLab" data-cat="Model_Page" data-act="Interacted_with_EMI_Calculator" data-lab="@EMICalculatorModel.BikeName.Replace(" ", "_")" id="emiCalculatorLink">
                                            <span id="mobileEmiCalculator"></span>
                                            Calculate EMI
                                        </a>
                                        EMICalculatorModel.VersionId = Model.VersionId;
                                        EMICalculatorModel.IsBhriguTracking = true;
                                        EMICalculatorModel.IsNearlyAllIndiaCampaign = !Model.IsLocationSelected && Model.IsNearlyAllIndiaCampaign && !Model.IsManufacturerLeadAdShown;
                                        EMICalculatorModel.ModelId = Model.ModelId;
                                        @Html.Partial("~/UI/Views/Shared/_EmiCalculator.cshtml", EMICalculatorModel);
                                    }
                                    <span class="clear"></span>
                                </div>
                            }
                        }

                        @if (Model.IsDealerDetailsExists || Model.DetailedDealer != null)
                        {
                            @Html.Partial("~/UI/Views/Model/_Index_DealerDetails_TopCard_Mobile.cshtml", Model)
                        }

                        <div class="floating-btn clearfix">
                            <div class="grid-12 alpha omega">
                                @if (!Model.IsLocationSelected && Model.IsManufacturerLeadAdShown && !(Model.LeadCampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.CapitalFirstDealerId || Model.LeadCampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.BajajAutoFinanceDealerId))
                                {
                                    <a href="javascript:void(0)" class="btn btn-orange btn-full-width leadcapturebtn bw-ga" rel="nofollow" id="btnPanIndiaManufacturer" data-mfgcampid="@Model.LeadCampaign.CampaignId" data-item-id="@Model.LeadCampaign.DealerId" data-item-area="@Model.LeadCampaign.Area" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile)" data-pqsourceid="@Model.LeadCampaign.PqSourceId" data-act="@Model.LeadCampaign.GAAction" data-cat="@Model.LeadCampaign.GACategory" data-lab="@Model.LeadCampaign.GALabel" data-item-message="@String.Format(Model.LeadCampaign.PopupSuccessMessage, Model.LeadCampaign.Organization)" data-item-heading="@Model.LeadCampaign.PopupHeading" data-item-description="@Model.LeadCampaign.PopupDescription" data-ispincodrequired="@Model.LeadCampaign.PincodeRequired" data-dealersrequired="@Model.LeadCampaign.DealerRequired" data-item-name="@Model.BikeName" data-isemailrequired="@Model.LeadCampaign.EmailRequired" data-organization="@Model.LeadCampaign.Organization" data-item-organization="@Model.LeadCampaign.Organization" data-issendleadsmscustomer="@Model.LeadCampaign.SendLeadSMSCustomer">Get Best Offers</a>
                                }

                                else if (!Model.IsLocationSelected && !Model.IsManufacturerLeadAdShown)
                                {
                                    if (Model.IsNearlyAllIndiaCampaign)
                                    {
                                        <a class="btn btn-orange btn-full-width getquotation bw-bhrigu" data-cat="Model_Page" data-act="FloatingLeadCTA_FullWidth_Click" data-bhrigulab="@Model.BikeName" href="javascript:void(0)" data-reload="true" data-persistent="true" data-modelid="@Model.ModelId" data-pqsourceid="@Convert.ToUInt16(Bikewale.Entities.PriceQuote.PQSourceEnum.Mobile_ModelPage)" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile)" data-popupsource="leadcapturebtn">Get Best Offers</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-orange btn-full-width getquotation" id="btnGetOnRoadPrice" href="javascript:void(0)" data-reload="true" data-persistent="true" data-modelid="@Model.ModelId">Check on-road price</a>
                                    }
                                }
                                else if ((!Model.IsLocationSelected || Model.ShowOnRoadButton) && (Model.BikePrice > 0 || (Model.SelectedVersion != null && Model.SelectedVersion.AverageExShowroom > 0)) && !Model.IsManufacturerTopLeadAdShown)
                                {
                                    <a class="btn btn-orange btn-full-width getquotation" id="btnGetOnRoadPrice" href="javascript:void(0)" data-reload="true" data-persistent="true" data-modelid="@Model.ModelId">Check on-road price</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.IsManufacturerLeadAdShown)
                {
                    <div class="cta-animation-container">
                        @Html.Partial("~/UI/Views/Price/_ManufacturerCampaign_Mobile.cshtml", Model.LeadCampaign)
                    </div>
                }
                else if (!Model.IsLocationSelected && !Model.IsManufacturerLeadAdShown)
                {
                    <link rel="stylesheet" type="text/css" href="/UI/m/css/nearby-dealers-top-card.css">
                    if (Model.IsNearlyAllIndiaCampaign)
                    {
                        <div class="dealer-campaign-wrapper card-bottom-margin nearby-dealers-top-card">
                            <div class="margin-bottom10">
                                <span class="campaign__icon"></span><p class="campaign__name inline-block">Contact <span name="mfg_organization">@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName</span> Dealer</p>
                            </div>
                            <p class="font14 margin-bottom10">Get in touch with authorized dealer for:</p>
                            <ul class="campaign__list item--50-percent margin-bottom15">
                                <li class="campaign__list-item">Best offers</li>
                                <li class="campaign__list-item">Test rides</li>
                                <li class="campaign__list-item">EMI options</li>
                                <li class="campaign__list-item">Exchange benefits</li>
                            </ul>
                            <a href="javascript:void(0)" class="btn btn-teal btn-180-32 margin-right20 getquotation bw-bhrigu" data-cat="Model_Page" data-act="TopCardCTA_Teal_GetOffersFromDealer_Click" data-bhrigulab="@Model.BikeName" data-reload="true" data-persistent="true" data-modelid="@Model.ModelId" data-pqsourceid="@Convert.ToUInt16(Bikewale.Entities.PriceQuote.PQSourceEnum.Mobile_ModelPage)" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.ModelPage_TopCard_Mobile)" data-popupsource="leadcapturebtn">Get offers from dealer</a>
                        </div>
                    }
                }

                @if (Model.IsManufacturerTopLeadAdShown)
                {
                    <div class="campaign__floating-btn floating-btn clearfix">
                            @if (Model.LeadCampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.CapitalFirstDealerId)
                            {
                                <p class="grid-7 alpha btn__left-label">@String.Format(Model.LeadCampaign.LeadsPropertyTextMobile, Model.LeadCampaign.Organization)</p>
                                <div class="grid-5 alpha omega">
                                    <a rel="nofollow" class="btn btn-orange btn-full-32 js-mfg" data-group="oem" href="/m/finance/capitalfirst/?campaingid=@Model.LeadCampaign.CampaignId&amp;dealerid=@Model.LeadCampaign.DealerId&amp;pqguid=@Model.PQId&amp;leadsourceid=@Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile)&amp;versionid=@Model.LeadCampaign.VersionId&amp;url=@Model.LeadCampaign.CurrentPageUrl&amp;platformid=@Model.LeadCampaign.PlatformId&amp;bike=@Model.BikeName&amp;loanamount=@Model.LeadCampaign.LoanAmount&amp;dealerName=@Model.LeadCampaign.Organization&amp;sendLeadSMSCustomer=@Convert.ToString(Model.LeadCampaign.SendLeadSMSCustomer)&amp;cityid=@cityId">@String.Format(Model.LeadCampaign.LeadsButtonTextMobile, Model.LeadCampaign.Organization)</a>
                                </div>
                            }
                            else if (Model.LeadCampaign.DealerId == Bikewale.Utility.BWConfiguration.Instance.BajajAutoFinanceDealerId)
                            {
                                <p class="grid-7 alpha btn__left-label">@String.Format(Model.LeadCampaign.LeadsPropertyTextMobile, Model.LeadCampaign.Organization)</p>
                                <div class="grid-5 alpha omega">
                                    <a class="btn btn-orange btn-full-32 js-mfg" rel="nofollow" data-group="oem" href="@string.Format("/m/finance/bajaj/?dealerid={0}&campaignid={1}&pqguid={2}&leadsourceid={3}&versionid={4}&url={5}&platformid={6}&bike={7}&dealerName={8}&sendLeadSMSCustomer={9}&cityid={10}", Model.LeadCampaign.DealerId, Model.LeadCampaign.CampaignId, Model.PQId, @Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile), Model.LeadCampaign.VersionId, Model.LeadCampaign.CurrentPageUrl, Model.LeadCampaign.PlatformId, Model.LeadCampaign.BikeName, Model.LeadCampaign.Organization, Model.LeadCampaign.SendLeadSMSCustomer, cityId)">@String.Format(Model.LeadCampaign.LeadsButtonTextMobile, Model.LeadCampaign.Organization)</a>
                                </div>
                            }
                            else
                            {
                                isNonFinancePartner  = true;
                            }
                        <div class="clear"></div>
                    </div>
                }

                @if (isNonFinancePartner)
                {
                    if (Model.IsAnimatedCTA)
                    {
                        @Html.Partial("/UI/Views/Shared/_AnimatedCTA.cshtml", Model.LeadCampaign)
                    }
                    else if (Model.IsNonAnimatedCTA && String.Equals(Model.LeadCampaign.LeadsButtonTextMobile.ToLower(), "request callback"))
                    {
                        <div class="campaign__floating-btn floating-btn clearfix js-floating-btn">
                            <p class="grid-7 alpha btn__left-label">@String.Format(Model.LeadCampaign.LeadsPropertyTextMobile, Model.LeadCampaign.Organization)</p>
                            <div class="grid-5 alpha omega">
                                <a data-group="fixedCTA" data-mfgcampid="@Model.LeadCampaign.CampaignId" data-item-id="@Model.LeadCampaign.DealerId" data-item-area="@Model.LeadCampaign.Area" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile)" data-campaignid="@Model.LeadCampaign.CampaignId" data-pqsourceid="@Model.LeadCampaign.PqSourceId" data-item-message="@String.Format(Model.LeadCampaign.PopupSuccessMessage, Model.LeadCampaign.Organization)" data-item-heading="@Model.LeadCampaign.PopupHeading" data-item-description="@Model.LeadCampaign.PopupDescription" data-ispincodrequired="@Model.LeadCampaign.PincodeRequired" data-dealersrequired="@Model.LeadCampaign.DealerRequired" data-item-name="@(String.Format(Model.LeadCampaign.LeadsButtonTextMobile, Model.LeadCampaign.Organization))" id="btnfloatingManufacturer" data-isemailrequired="@Model.LeadCampaign.EmailRequired" data-issendleadsmscustomer="@Model.LeadCampaign.SendLeadSMSCustomer" data-item-organization="@Model.LeadCampaign.Organization" data-cat="Model_Page" data-act="FloatingLeadCTA_Partial_GetBestOffers_TextChange_Click" data-lab="@Model.BikeName" data-bhrigushownact="ES_FloatingLeadCTA_PartialShown" data-bhrigulab="versionId=@Model.VersionId" data-bhriguact="ES_FloatingLeadCTA_PartialClick" data-bhrigucat="BWModelPage" class="btn btn-orange btn-full-32 leadcapturebtn bw-ga bw-shown-in-bhrighu bw-bhrigu js-mfg">Get Best Offers</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                    else
                    {
                        <div class="campaign__floating-btn floating-btn clearfix js-floating-btn">
                            <p class="grid-7 alpha btn__left-label">@String.Format(Model.LeadCampaign.LeadsPropertyTextMobile, Model.LeadCampaign.Organization)</p>
                            <div class="grid-5 alpha omega">
                                <a data-group="default" data-mfgcampid="@Model.LeadCampaign.CampaignId" data-item-id="@Model.LeadCampaign.DealerId" data-item-area="@Model.LeadCampaign.Area" data-leadsourceid="@Convert.ToInt16(LeadSourceEnum.ModelPage_Floating_Mobile)" data-campaignid="@Model.LeadCampaign.CampaignId" data-pqsourceid="@Model.LeadCampaign.PqSourceId" data-item-message="@String.Format(Model.LeadCampaign.PopupSuccessMessage, Model.LeadCampaign.Organization)" data-item-heading="@Model.LeadCampaign.PopupHeading" data-item-description="@Model.LeadCampaign.PopupDescription" data-ispincodrequired="@Model.LeadCampaign.PincodeRequired" data-dealersrequired="@Model.LeadCampaign.DealerRequired" data-item-name="@(String.Format(Model.LeadCampaign.LeadsButtonTextMobile, Model.LeadCampaign.Organization))" id="btnfloatingManufacturer" data-isemailrequired="@Model.LeadCampaign.EmailRequired" data-issendleadsmscustomer="@Model.LeadCampaign.SendLeadSMSCustomer" data-item-organization="@Model.LeadCampaign.Organization" data-cat="@Model.LeadCampaign.GACategory" data-act="FloatingLeadCTA_Partial_DefaultCTA_Click" data-lab="@Model.BikeName" data-bhrigushownact="ES_FloatingLeadCTA_PartialShown" data-bhriguact="ES_FloatingLeadCTA_PartialClick" data-bhrigulab="versionId=@Model.VersionId" data-bhrigucat="BWModelPage" class="btn btn-orange btn-full-32 leadcapturebtn bw-ga bw-shown-in-bhrighu bw-bhrigu js-mfg">@String.Format(Model.LeadCampaign.LeadsButtonTextMobile, Model.LeadCampaign.Organization)</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }

                }
                @if (Model.AdTags.Ad320x100ATF)
                {
                    <div class="margin-bottom20 text-center">
                        @{Html.RenderPartial("/UI/Views/Shared/Ads/Mobile/AdSlotGeneric.cshtml", Model.AdSlots[String.Format("{0}-6", Model.AdTags.AdId)]);}
                    </div>
                }

                @if (Model.ShowSeriesSlug && Model.SeriesSlug != null)
                {
                    @Html.Partial("~/UI/Views/BikeSeries/_ModelSeriesSlug_Mobile.cshtml", Model.SeriesSlug);
                }

                @if (Model.ModelPageEntity != null && ((Model.ModelPageEntity.ModelVersions != null && Model.ModelPageEntity.ModelVersions.Count > 0 || Model.IsPriceInTopCitiesAvailable) || (Model.ModelPageEntity.ModelVersionMinSpecs != null)))
                {
                    <div>
                        @if (Model.ModelPageEntity.ModelVersionMinSpecs != null)
                        {
                            @Html.Partial("~/UI/Views/Model/_Index_ModelSummary_Mobile.cshtml", Model)
                        }

                        @if (Model.IsQAModel)
                        {
                            if (Model.QASlug != null)
                            {
                                @Html.Partial("~/UI/Views/QuestionAndAnswers/_QuestionAnswerSlug.cshtml", Model.QASlug)
                            }

                            if (Model.AskQuestionPopup != null)
                            {
                                @Html.Partial("~/UI/Views/m/Shared/_question-answer.cshtml", Model.AskQuestionPopup)
                            }

                        }

                        @if (Model.ModelsBySeries != null && (Model.ModelsBySeries.IsNewAvailable || Model.ModelsBySeries.IsUpcomingAvailable))
                        {
                            <div id="modelsBySeriesWidget" data-id="overviewContent" class="margin-bottom15 bw-ga" data-cat="@Model.ModelsBySeries.Page" data-act="Series_WidgetShown" data-lab="@string.Format("{0} {1}", Model.ModelPageEntity.ModelDetails.MakeBase.MakeName, Model.ModelPageEntity.ModelDetails.ModelSeries.SeriesName)">
                                @if (Model.ModelsBySeries.SeriesBase != null && Model.ModelPageEntity.ModelDetails.MakeBase != null && !string.IsNullOrEmpty(Model.ModelsBySeries.SeriesBase.MaskingName))
                                {
                                    if (!Model.ModelsBySeries.SeriesBase.IsSeriesPageUrl)
                                    {
                                        <div class="carousel-heading-content">
                                            <h2>Explore other @Model.ModelsBySeries.SeriesBase.SeriesName @(Model.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter) ? "scooters:" : "bikes:")</h2>
                                        </div>
                                        @Html.Partial("~/UI/Views/BikeSeries/_BikeModelsBySeries_Mobile.cshtml", Model.ModelsBySeries)
                                    }
                                }


                            </div>


                        }


                    </div>
                }
            </div>



            @Html.Partial("~/UI/Views/Model/_Index_DetailsCard_Mobile.cshtml", Model)
        </div>
    </div>
</section>

@if (Model.OtherBestBikes != null && Model.OtherBestBikes.BestBikes != null && Model.OtherBestBikes.BestBikes.Any())
{
    <section>
        <div class="container padding-15-20-20 content-box-shadow card-bottom-margin">
            <h2 class="margin-bottom10">@Model.OtherBestBikes.OtherBestBikesHeading</h2>
            @if (!Model.OtherBestBikes.IsMakePresentInConfig)
            {
                @Html.Partial("~/UI/Views/Model/_BestBikes_Mobile.cshtml", Model.OtherBestBikes);
            }
            else
            {
                @Html.Partial("~/UI/Views/Model/_MoreBikesFromMake_Mobile.cshtml", Model.OtherBestBikes);
            }
            <div class="view-all-btn-container">
                @if (!Model.OtherBestBikes.IsMakePresentInConfig)
                {
                    <a href="@string.Format("/m{0}", Bikewale.Utility.UrlFormatter.FormatGenericPageUrl(Model.BikeRanking.BodyStyle))" title="Best @Model.BikeRanking.StyleName in India" class="btn view-all-target-btn">View complete list<span class="bwmsprite teal-right"></span></a>
                }
                else
                {
                    <a href="@string.Format("/m/{0}-bikes/", Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName)" title="@Model.ModelPageEntity.ModelDetails.MakeBase.MakeName Bikes" class="btn view-all-target-btn">View complete list<span class="bwmsprite teal-right"></span></a>
                }
            </div>
        </div>
    </section>
}

@if (Model.AdTags.Ad300x250_Bottom)
{
    <div class="margin-bottom20 text-center">
        @{Html.RenderPartial("/UI/Views/Shared/Ads/Mobile/AdSlotGeneric.cshtml", Model.AdSlots[String.Format("{0}-16", Model.AdTags.AdId)]);}
    </div>
}

@if (Model.LeadCapture != null)
{
    if(Model.IsLocationSelected || Model.IsManufacturerLeadAdShown || Model.IsManufacturerEMIAdShown)
    {
        @Html.Partial("/UI/Views/Shared/_LeadCapture_Mobile.cshtml", Model.LeadCapture)
    }
    else if (Model.IsNearlyAllIndiaCampaign && !Model.IsLocationSelected)
    {
        @Html.Partial("/UI/Views/Shared/_LeadCapture_Mobile_New.cshtml", Model.LeadCapture)
    }
}
