@model Bikewale.Models.BikeModels.ModelPageVM
<ul class="overall-specs-tabs-wrapper">
    <li data-tabs="#overviewContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Overview">Overview</li>
    @if (Model.IsReviewsAvailable)
    {
        <li data-tabs="#expertReviewsContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;ExpertReviews">Expert Reviews</li>
    }

    @if (Model.IsModelColorsAvailable)
    {
        <li data-tabs="#coloursContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Colours">Colours</li>
    }

    @if (Model.IsSimilarBikesAvailable)
    {
        <li data-tabs="#similarContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;SimilarBikes">Similar @Model.BodyStyleText</li>
    }
    else if (Model.IsPopularBodyStyleAvailable)
    {
        <li data-tabs="#popularContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;@Model.BodyStyleName">Popular @Model.BodyStyleName</li>
    }
    @if (Model.IsMileageByUsersAvailable && Model.Mileage != null)
    {
        <li data-tabs="#mileageContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Mileage">Mileage</li>
    }
    @if (Model.BikeSpecsFeatures != null && Model.BikeSpecsFeatures.IsVersionSpecsAvailable)
    {
        <li data-tabs="#specsFeaturesAndAboutContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;SpecsFeatures">Specs & Features</li>
    }
    else if (Model.ModelPageEntity.ModelDesc != null && !string.IsNullOrEmpty(Model.ModelPageEntity.ModelDesc.SmallDescription))
    {
        <li data-tabs="#specsFeaturesAndAboutContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;About">About</li>
    }    
	@if (Model.IsShowPriceTab)
	{
		<li data-tabs="#pricesContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Price">Price</li>
	}
    @if (Model.IsQAModel && Model.IsQAAvailable)
    {
        <li data-tabs="#questionAnswerWrapper" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Q&A">Q&amp;A</li>
    }
    @if (Model.IsUserReviewsAvailable)
    {
        <li data-tabs="#reviewsContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;UserReviews">User Reviews</li>
    }
    @if (Model.IsNewsAvailable)
    {
        <li data-tabs="#newsContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;News">News</li>
    }
    @if (Model.IsVideosAvailable)
    {
        <li data-tabs="#videosAndServiceCenterContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Videos">Videos</li>
    }
    else if (Model.IsOtherDealersAvailable || Model.IsDealersServiceCenterAvailable)
    {
        <li data-tabs="#videosAndServiceCenterContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Dealers">Dealers</li>
    }
    @if (Model.IsUsedBikesAvailable)
    {
        <li data-tabs="#makeUsedBikeContent" class="bw-ga" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="@Model.BikeName&#95;Used">Used</li>
    }
</ul>
