@model Bikewale.Models.BikeModels.OtherBestBikesVM
<div class="more-make-bikes swiper-container card-container swiper-small">
    <div class="swiper-wrapper discover-bike-carousel margin-bottom15">
        @foreach (var Bike in Model.BestBikes)
        {
            <div class="swiper-slide">
                <div class="swiper-card">
                    <div class="position-rel">
                        <a class="bw-ga block" data-lab="@Bike.BikeName" data-cat="Model_Page" data-act="Clicked_SameBrandBikes_widget" href="@string.Format("/m{0}",Bikewale.Utility.UrlFormatter.BikePageUrl(Bike.Make.MaskingName,Bike.Model.MaskingName))" title="@Bike.Make.MakeName @Bike.Model.ModelName">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="@Bikewale.Utility.Image.GetPathToShowImages(Bike.OriginalImagePath, Bike.HostUrl, Bikewale.Utility.ImageSize._210x118,Bikewale.Utility.QualityFactor._70)" src="" alt="@Bike.Make.MakeName @Bike.Model.ModelName" title="@Bike.Make.MakeName @Bike.Model.ModelName" />
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">@Bike.Make.MakeName @Bike.Model.ModelName</h3>
                                @if (Bike.OnRoadPriceInCity == 0 && Bike.Price > Bike.OnRoadPriceInCity)
                                {
                                    <p class="text-truncate text-light-grey font11">@(Bike.UsedCity.CityId == 0 ? "Ex-showroom, Mumbai" : "Avg. Ex-showroom price")</p>
                                    <span class='font16 text-default'> &#x20B9;</span>
                                    <span class="font16 text-default text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Bike.UsedCity.CityId == 0 ? Bike.Price : Bike.AvgPrice))</span>
                                }
                                else
                                {
                                    <p class="font11 text-grey text-truncate">On Road, @Bike.UsedCity.CityName</p>
                                    <span class='font16 text-default'> &#x20B9;</span>
                                    <span class="font16 text-default text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Bike.OnRoadPriceInCity))</span>
                                }
                            </div>
                        </a>
                        @if (Bike.OnRoadPriceInCity == 0 && Bike.UsedCity.CityId != 0)
                        {
                            <span class="info-icon tooltip-icon-target tooltip-top tooltip--right">
                                <span class="bw-tooltip info-tooltip">
                                    <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", Bike.UsedCity.CityName)</span>
                                </span>
                            </span>
                        }
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
