@model Bikewale.Models.BikeModels.ModelPageVM
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/sass/partials/version-dropdown.css' inline/><link rel='stylesheet' type='text/css' href='/UI/m/css/bwm-model-atf.css' inline />  <link rel='stylesheet' type='text/css' href='/UI/sass/partials/lead-popup.css' inline /><link rel='stylesheet' type='text/css' href='/UI/m/css/animate-cta.css' inline /><link rel='stylesheet' type='text/css' href='/UI/sass/partials/response-popup.css' inline /><link rel='stylesheet' type='text/css' href='/UI/css/emicalculator.css' inline /><link rel='stylesheet' type='text/css' href='/UI/sass/modules/review-article.css' inline/> <link rel='stylesheet' type='text/css' href='/UI/sass/partials/find-product-offers.css' inline/><link rel='stylesheet' type='text/css' href='/UI/sass/partials/dealer-offers.css' inline /><link rel='stylesheet' type='text/css' href='/UI/m/css/nearby-dealers-top-card.css' inline />";
    Model.Page_BTF_CSS_Paths = new string[] { "/UI/m/css/bwm-model-btf.css", "/UI/sass/partials/question-answer-popup.css", "/UI/sass/partials/question-answer.css", "/UI/sass/partials/question-answer-slug.css", "/UI/sass/qna/search-popup.css" };
    
    List<string> jsFiles = new List<string> { "/UI/src/utils/dropdown.js", "/UI/src/utils/animate-cta.js", "/UI/src/utils/scrollLock.js", "/UI/src/utils/popup.js", "/UI/src/utils/accordion.js", "/UI/m/src/bwm-model.js", "/UI/src/emi-calculator.js", "/UI/src/utils/ribbon.js", "/UI/src/utils/text-area.js", "/UI/src/utils/readMore.js", "/UI/src/utils/checkbox.js" };

    if (Model.IsQAModel)
    {
        jsFiles.AddRange(new List<string> { "/UI/src/question-and-answer.js", "/UI/src/QuestionAndAnswers/qnaSearchPopup.js" });
    }

    Model.Page_JS_Paths = jsFiles.ToArray<string>();
    
    
    Layout = "~/UI/Views/Shared/_Layout_Mobile.cshtml";
}

<div>

    @if (Model.IsNewBike)
    {
        @Html.Partial("~/UI/Views/Model/_Index_New_Mobile.cshtml", Model)
    }
    else if (Model.IsDiscontinuedBike)
    {
        @Html.Partial("~/UI/Views/Model/_Index_Discontinued_Mobile.cshtml", Model)
    }
    else if (Model.IsUpcomingBike)
    {
        @Html.Partial("~/UI/Views/Model/_Index_Upcoming_Mobile.cshtml", Model)
    }

    <div id="scroll-to-top"></div>

    <script type="text/javascript">
    ga_pg_id = '2';
    var isCityLevelCampaignPresent = '@((Model.IsManufacturerCampaignPresent && Model.LeadCapture != null && Model.LeadCapture.IsManufacturerCampaign) || (Model.IsLocationSelected && !Model.City.HasAreas && Model.IsPremiumDealer))';
    var isAreaLevelCampaignPresent = '@(Model.IsLocationSelected && Model.City.HasAreas && (Model.AreaId == 0 || (Model.AreaId > 0 && Model.IsPremiumDealer)))';
    var shownCampaignType = '@(Model.LeadCapture != null && Model.LeadCapture.IsManufacturerCampaign ? "ES" : Model.IsPremiumDealer ? "DS": "NO")';
    var isBikeNew = '@Model.IsNewBike';
    var dealerId = '@Model.DealerId';
    var pqId = '@Model.PQId';
    var versionId = '@Model.VersionId';
    var cityId = '@Model.CityId';
    var bikeVersionLocation = '';
    var bikeVersion = '';
    var isBikeWalePq = "@Model.IsBPQAvailable";
    var areaId = "@Model.AreaId";
    var isDealerPriceAvailable = "@Model.IsDPQAvailable";
    var campaignId = "@Model.CampaignId";
    var myBikeName = "@Model.BikeName";
    var clientIP = "@Model.ClientIP";
    var pageUrl = window.location.href;
    var leadSourceId, getCityArea, bikeModelId = '@Model.ModelId';
    var versionsCount = @(Model.ModelPageEntity!=null && Model.ModelPageEntity.ModelVersions!=null ? Model.ModelPageEntity.ModelVersions.Count() : 0);
    var photosCount = @(Model.AreModelPhotosAvailable ? Model.ModelPageEntity.AllPhotos.Count() - 10 : 0);
    var versionName = "@Model.VersionName", getCityArea;
    var isUpfrontLoanCampaign = @(Model.UpfrontLoanCampaign ? "true" : "false");
    var emiCampaignType = "@(Model.EMIDetails != null && Model.EMICalculator != null ? (Model.EMICalculator.ESEMICampaign != null && (Model.EMICalculator.IsPrimaryDealer || Model.EMICalculator.IsManufacturerLeadAdShown) ? "ES" : Model.EMICalculator.IsPremiumDealer ? "DS": "NO") : "NO")";

    @if (Model.ModelPageEntity != null && Model.ModelPageEntity.ModelDetails != null && Model.ModelPageEntity.ModelDetails.MakeBase != null)
    {
    <text>
    var pageData = {
        label: "@Model.BikeName",
        payload: {
            makeId: "@Model.ModelPageEntity.ModelDetails.MakeBase.MakeId",
            modelId: "@Model.ModelPageEntity.ModelDetails.ModelId",
            makeMaskingName: "@Model.ModelPageEntity.ModelDetails.MakeBase.MaskingName",
            modelMaskingName: "@Model.ModelPageEntity.ModelDetails.MaskingName",
            futuristic: "@Model.ModelPageEntity.ModelDetails.Futuristic",
            isNew: "@Model.ModelPageEntity.ModelDetails.New",
            userRatingsCount: "@Model.ModelPageEntity.ModelDetails.RatingCount",
            expertReviewsCount: "@Model.ModelPageEntity.ModelDetails.ExpertReviewsCount",
            type: "@((uint)Bikewale.Entities.AutoComplete.EntryTypesEnum.Model)"
        },
        value: "@Model.BikeName"
    };
    </text>
    }
    docReady(function () {
        if(FbPixelEvent)
        {
            fbq('track',FbPixelEvent.viewContent);
        }
    });
    </script>


</div>
<script defer src="@String.Format("{0}/UI/src/ads.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>

