@model Bikewale.Models.NewLaunchedMakeVM
@{
    Model.AdTags.AdPath = "/1017752/BikeWale_New_";
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.Ad_970x90 = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_JS_Path = "/src/new-launch.js";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/new-launch/new-launch.css' inline />";    
}

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="bg-white">
                <h1 class="section-header">@Model.Page_H1</h1>
                <p class="section-inner-padding font14 text-light-grey">@Model.Make.MakeName is a well-known two-wheeler brand in India. The two-wheeler brands in India have to update their portfolio of bikes vis-à-vis changing behavior pattern and usefulness on a regular basis. Every year there are plenty of bike models that hit the market to cater the customer's need. BikeWale brings you an exhaustive list of newly launched @Model.Make.MakeName bikes in India. Explore the list of latest @Model.Make.MakeName bikes.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<section id="newlaunched-bikes" data-make-filter="@Model.Make.MakeId" data-city="@Model.CityId">
    <div class="container section-bottom-margin">
        <div class="grid-12">
            @Html.Partial("~/Views/NewLaunches/_NewLaunchedBikes.cshtml", Model.NewLaunched)
        </div>
        <div class="clear"></div>
    </div>
</section>
@if (Model.HasUpcoming)
{
<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-bottom20">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Upcoming @Model.Make.MakeName Bikes</h2>
                    </div><div class="swiper-heading-right-grid inline-block text-right">
                              <a href="@String.Format("/{0}-bikes/upcoming/", Model.Make.MaskingName)" title="Upcoming Bikes in India" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/Upcoming/_UpcomingBikes.cshtml", Model.Upcoming)
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
}
<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-bottom20">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>New launches of other brands</h2>
                    </div><div class="swiper-heading-right-grid inline-block text-right">
                        <a href="/new-bike-launches/" title="New Bike Launches in India" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @{Html.RenderAction("Makes", "NewLaunches", new { makeId = Model.Make.MakeId });}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
