@model Bikewale.Models.NewLaunchedIndexVM
@if (Model != null)
{
{
    Model.Page_JS_Path = "/UI/m/src/new-launch.js";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/m/sass/new-launch/new-launch.css' inline />";
    Layout = "~/UI/Views/Shared/_Layout_Mobile.cshtml";
    Model.PageMetaTags.AlternateUrl = "";
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_NewBikeLaunches";
    Model.AdTags.AdId = "1517815084100";
}
<section>
    <div class="container new-launch-banner text-center">
        <h1 class="font22 text-white">@Model.Page_H1</h1>
        <h2 class="font14 text-unbold text-white">Latest bikes in India</h2>
    </div>
</section>
<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="banner-box-shadow padding-right20 padding-left20 padding-bottom20">
                <div class="padding-top15 font14 text-light-grey collapsible-content">
                    <p class="main-content">India is the world's largest two wheeler market. The sheer number of bikes and the need to keep up with or surpass the competition means that newly launched bikes </p>
                    <p class="more-content">are a regular feature. To make it easier for you to keep up with the latest bikes and launches in the Indian market, we've put all of them in a single place.</p><a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
if (Model.NewLaunched.Bikes != null)
{
    <section id="newlaunched-bikes" data-city="@Model.CityId">
        <h2 class="section-heading">New bike launches in India</h2>
        @Html.Partial("~/UI/Views/NewLaunches/_NewLaunchedBikes_Mobile.cshtml", Model.NewLaunched)
    </section>
}
if (Model.AdTags.Ad_300x250BTF)
{
    <div class="margin-top20 text-center">
        @Html.Partial("~/UI/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", Model.AdTags)
    </div>
}
if (Model.HasUpcoming)
{
    <section>
        <h2 class="section-heading">Upcoming bikes in India</h2>
        <div class="content-box-shadow padding-top20 padding-bottom20">
            @Html.Partial("~/UI/Views/Upcoming/_UpcomingBikes_Mobile.cshtml", Model.Upcoming)
            <div class="padding-left10 view-all-btn-container margin-top10 text-center">
                <a href="/m/upcoming-bikes/" title="Upcoming Bikes in India" class="btn view-all-target-btn">View all bikes<span class="bwmsprite teal-right"></span></a>
            </div>
        </div>
    </section>
}
if (Model.News != null)
{
    <section>
        <h2 class="section-heading">More about newly launched bikes</h2>
        <div id="newsContent" class="padding-15-20-20 content-box-shadow card-bottom-margin content-details-wrapper font14 ">
            @Html.Partial("~/UI/Views/News/_RecentNews_Mobile.cshtml", Model.News)
        </div>
    </section>
}
            }
