@model Bikewale.Models.BikeSeries.BikeSeriesCompareVM
@if (Model != null && Model.BikeMake != null)
{
	<div class="model-specs-tabs">
		<div class="find-specs__tabs-container">
			<ul class="find-specs-tabs-wrapper">
				<li>
					<span class="specs-btn" data-swipe="@Model.ObjBikeSpecs.MaxPower">Max Power</span>
				</li>
				<li>
					<span class="specs-btn" data-swipe="@Model.ObjBikeSpecs.Mileage">Mileage</span>
				</li>
				<li>
					<span class="specs-btn" data-swipe="@Model.ObjBikeSpecs.Price">Price</span>
				</li>
				<li>
					<span class="specs-btn" data-swipe="@Model.ObjBikeSpecs.Weight">Weight</span>
				</li>
				<li>
					<span class="specs-btn" data-swipe="@Model.ObjBikeSpecs.Displacement">Displacement</span>
				</li>
				<li>
					<span class="specs-btn" data-swipe="@Model.ObjBikeSpecs.FuelCapacity">Fuel Tank Capacity</span>
				</li>
			</ul>
		</div>
	</div>
	<div id="rightBikeSwiper" class="right-bike-swiper">
		<div class="rightbike__swiper-card right-bike__swiper-keys">
			<div class="rightbike-carousel__model-card">
			</div>
			<div class="right-bike__desc">
				@foreach (var bike in Model.BikeCompareSegments)
				{
					<span class="right-bike__label">
						@bike
					</span>
				}
			</div>
		</div>
		<div class="right-bike-swiper jcarousel-wrapper inner-content-carousel" data-overlay="right">
			<div class="jcarousel">
				<ul>
					@{uint index = 1;}
					@foreach (var bike in Model.BikeSeriesCompareBikeWithSpecs)
					{
						<li>
							<div class="rightbike__swiper-card @string.Format("{0}",index==1?"featured-card":"")" data-model-index="@index">
								<a href="@string.Format("/{0}-bikes/{1}/", Model.BikeMake.MakeMaskingName,  bike.ModelMaskingName)" title="@string.Format("{0} {1}", Model.BikeMake.MakeName, bike.ModelName)" class="rightbike-carousel__model-card">
									<div class="rightbike-carousel__image">
										<img class="lazy" alt="@bike.ModelName" title="@bike.ModelName" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,Bikewale.Utility.ImageSize._144x81,Bikewale.Utility.QualityFactor._70)" src="" border="0" />
									</div>
									<p class="rightbike-caraousel__label">
										@bike.ModelName
									</p>
									@if (index == 1)
									{
										<span class="popular-tag recommended-tag">Most Popular</span>}
									else
									{
										<span class="recommended-tag"></span>}
								</a>
								<div class="right-bike__desc">
									<span class="right-bike__label">
										@string.Format("{0}", bike.Price > 0 ? string.Format("₹ {0}", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.Price))) : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0}", bike.Displacement > 0 ? string.Format("{0} cc", bike.Displacement) : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0}", bike.Weight > 0 ? string.Format("{0} kgs", bike.Weight) : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0}", bike.FuelCapacity > 0 ? string.Format("{0} Litres", bike.FuelCapacity) : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0}", bike.Mileage > 0 ? string.Format("{0} kmpl", bike.Mileage) : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0}", bike.SeatHeight > 0 ? string.Format("{0} mm", bike.SeatHeight) : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0}", !string.IsNullOrEmpty(bike.BrakeType) ? bike.BrakeType : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0}", bike.Gears > 0 ? Convert.ToString(bike.Gears) : "--")
									</span>
									<span class="right-bike__label">
										@string.Format("{0} bhp", Bikewale.Utility.FormatMinSpecs.ShowAvailable((float)bike.MaxPower))
										<span class="right-bike__sub-label">@string.Format("{0}", bike.MaxPowerRpm > 0 ? string.Format("@{0} rpm", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.MaxPowerRpm))) : "--")</span>
									</span>
								</div>
							</div>
						</li>index++;
					}
				</ul>
			</div>
			<span class="jcarousel-control-left">
				<a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
			</span>
			<span class="jcarousel-control-right">
				<a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
			</span>
		</div>
	</div>
						}
