@model Bikewale.Models.BikeSeries.SeriesPageVM
@using Bikewale.Utility

@if (Model != null)
{
    {
		Model.AdTags.AdPath = "/1017752/Bikewale_Model_";
		Model.AdTags.AdId = "1442913773076";
		Model.AdTags.Ad_970x90 = true;
		Model.AdTags.Ad_970x90Bottom = true;
        Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/model-series/series.css' inline>";
        Model.Page_JS_Path = "/src/model-series/series.js";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <section id="seriesTabsContentWrapper" class="overall-tabs-wrapper">
        <section class="container margin-bottom20">
            <div class="grid-12">
                @if (Model.BikeMake != null && Model.SeriesBase != null)
                {
                    <div class="content-box-shadow content-inner-block-1420">
                        <h1>@string.Format("{0} {1}", Model.BikeMake.MakeName, Model.SeriesBase.SeriesName)</h1>
                    </div>
                }
                @Html.Partial("~/Views/BikeSeries/_Index_Tabs.cshtml", Model)
            </div>
            @if (Model.SeriesDescription != null && !string.IsNullOrEmpty(Model.SeriesDescription.FullDescription))
			{
                <div id="modelAboutContent" data-id="#modelAboutContent" class="content-box-shadow bw-model-tabs-data  content-inner-block-2010 border-solid-bottom margin-bottom20">
                    <div class="grid-12">
                        <p class="font14 text-light-grey line-height17">
                            <span class="preview-main-content">
								@FormatDescription.TruncateDescription(Model.SeriesDescription.FullDescription, 430)
                            </span>
                            <span class="preview-more-content hide">
                                @Model.SeriesDescription.FullDescription
                            </span>
                            <a href="javascript:void(0)" class="read-more-bike-preview" rel="nofollow">Read more</a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
			}

            @Html.Partial("~/Views/BikeSeries/_PopularNewBikes.cshtml", Model)
            <div class="clear"></div>
        </section>
        @if (Model.SeriesModels != null && Model.SeriesModels.UpcomingBikes != null && Model.SeriesModels.UpcomingBikes.Any())
        {
            <section>
                <div id="modelUpcomingBikesContent" data-id="#modelUpcomingBikesContent" class="bw-model-tabs-data container margin-bottom20 active">
                    <div class="grid-12">
                        <div class="content-box-shadow padding-top20 padding-bottom25">
                            @if (Model.BikeMake != null && Model.SeriesBase != null)
					{
						<div class="carousel-heading-content">
							<h2 class="font22">@string.Format("{0} {1} upcoming bikes", Model.BikeMake.MakeName, Model.SeriesBase.SeriesName)</h2>
						</div>
					}
                            @Html.Partial("~/Views/BikeSeries/_UpcomingBikes.cshtml", Model.SeriesModels.UpcomingBikes)
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }
        @if (Model.SimilarCompareScooters != null && Model.SimilarCompareScooters.CompareBikes != null && Model.SimilarCompareScooters.CompareBikes.Any())
        {
            <section>
                <div id="popularComparison" data-id="#popularComparison" class="bw-model-tabs-data container margin-bottom20 active">
                    <div class="grid-12">
                        <div class="content-box-shadow padding-top20 padding-bottom25">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2 class="font22">Pulsar Bikes Comparisons</h2>
                                </div><div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/comparebikes/" title="View more comparisons" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.Partial("~/Views/CompareBikes/_SimilarComparisons_V1.cshtml", Model.SimilarCompareScooters)

                        </div>

                    </div>
                    <div class="clear"></div>
                </div>

            </section>
        }

        @if (Model.ObjModel != null && Model.ObjModel.BikeSeriesCompareBikeWithSpecs != null && Model.ObjModel.BikeSeriesCompareBikeWithSpecs.Any())
        {
            <section>
                <div id="findRightBikesContent" data-id="#findRightBikesContent" class="bw-model-tabs-data container margin-bottom20 active">
                    <div class="grid-12">
                        <div class="content-box-shadow padding-top20 padding-bottom25">
                            <div class="carousel-heading-content">
                                <h2 class="font22">Find The Right Pulsar</h2>
                            </div>
                            <p class="padding-left20 font16 font-bold padding-right20">What’s are you looking for?</p>
                            <div class="find-right-bike margin-top15">
                                @Html.Partial("~/Views/BikeSeries/_BikeSeriesCompareBikesWithSpecs.cshtml", Model.ObjModel)
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }

        @if (Model.News != null && Model.News.ArticlesList != null && Model.News.ArticlesList.Any())
        {
            <section>
                <div id="modelNewsContent" data-id="#modelNewsContent" class="bw-model-tabs-data container margin-bottom20 active">
                    <div class="grid-12">
                        <div class="content-box-shadow padding-top20 padding-bottom25">
                            @if (Model.BikeMake != null && !string.IsNullOrEmpty(Model.BikeMake.MakeName) && Model.SeriesBase != null && !string.IsNullOrEmpty(Model.SeriesBase.SeriesName))
                            {
                                <div class="carousel-heading-content">
                                    <h2 class="font22">@string.Format("{0} {1} News", Model.BikeMake.MakeName, Model.SeriesBase.SeriesName)</h2>
                                </div>
                            }
                            @Html.Partial("~/Views/News/_RecentNews_v1.cshtml", Model.News)
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }
        @if (Model.Videos != null && Model.Videos.VideosList != null && Model.Videos.VideosList.Any())
        {
            <section>
                <div id="modelVideosContent" data-id="#modelVideosContent" class="bw-model-tabs-data container margin-bottom20 active">
                    <div class="grid-12">
                        <div class="content-box-shadow padding-top20 padding-bottom25">
                            @if (Model.BikeMake != null && !string.IsNullOrEmpty(Model.BikeMake.MakeName) && Model.SeriesBase != null && !string.IsNullOrEmpty(Model.SeriesBase.SeriesName))
                            {
                                <div class="carousel-heading-content">
                                    <h2 class="font22">@string.Format("{0} {1} Videos", Model.BikeMake.MakeName, Model.SeriesBase.SeriesName)</h2>
                                </div>
                            }
                            @Html.Partial("~/Views/Videos/_RecentVideos_v1.cshtml", Model.Videos)
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }
        @if (Model.ExpertReviews != null && Model.ExpertReviews.ArticlesList != null && Model.ExpertReviews.ArticlesList.Any())
        {
            <section>
                <div id="modelReviewsContent" data-id="#modelReviewsContent" class="bw-model-tabs-data container margin-bottom20 active">
                    <div class="grid-12">
                        <div class="content-box-shadow padding-top20 padding-bottom25">
                            @if (Model.BikeMake != null && !string.IsNullOrEmpty(Model.BikeMake.MakeName) && Model.SeriesBase != null && !string.IsNullOrEmpty(Model.SeriesBase.SeriesName))
                            {
                                <div class="carousel-heading-content">
                                    <h2 class="font22">@string.Format("{0} {1} Expert Reviews", Model.BikeMake.MakeName, Model.SeriesBase.SeriesName)</h2>
                                </div>
                            }
                            @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews_v1.cshtml", Model.ExpertReviews)
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }
        @if (Model.objUsedBikes != null && Model.objUsedBikes.RecentUsedBikesList != null && Model.objUsedBikes.RecentUsedBikesList.Any())
        {   <section>
            <div id="modelUsedBikeContent" data-id="#modelUsedBikeContent" class="bw-model-tabs-data container margin-bottom20 active">
                <div class="grid-12">
                    <div class="content-box-shadow padding-top20 padding-bottom10">
                        <div class="carousel-heading-content">
                            <h2 class="font22">@string.Format("{0} {1} Series", Model.BikeMake.MakeName, Model.SeriesDescription.Name) Used Bikes</h2>
                        </div>
                        <div class="used-model-swiper jcarousel-wrapper inner-content-carousel" data-overlay="right">
                            <div class="jcarousel">
                                @Html.Partial("~/Views/Used/_UsedBikeByModelCity_v1.cshtml", Model.objUsedBikes)
                            </div>
                            <span class="jcarousel-control-left">
                                <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                            </span>
                            <span class="jcarousel-control-right">
                                <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        }
        @if (Model.OtherSeriesList != null && Model.OtherSeriesList.Any())
        {
            <section>
                <div id="otherBikesContent" data-id="#otherBikesContent" class="bw-model-tabs-data container margin-bottom20 active">
                    <div class="grid-12">
                        <div class="content-box-shadow padding-top20 padding-bottom10">
                            @if (Model.BikeMake != null)
                            {
                                <div class="carousel-heading-content">
                                    <h2 class="font22">@string.Format("{0} other series", Model.BikeMake.MakeName)</h2>
                                </div>
                            }
                            <div class="model-list-carousel jcarousel-wrapper inner-content-carousel" data-overlay="right">
                                <div class="jcarousel">
                                    <ul>
                                        @foreach (var series in Model.OtherSeriesList)
                                        {
                                            <li class="model-list__card">
                                                <a href="@string.Format("/{0}-bikes/{1}/", Model.BikeMake.MakeMaskingName, series.MaskingName)" title="@string.Format("{0} Series", series.SeriesName)">
                                                    <div class="model-series-list__img">
                                                        <img class="lazy" data-original="@Image.GetPathToShowImages(series.OriginalImagePath, series.HostUrl, ImageSize._310x174, QualityFactor._70)" alt="@string.Format("{0} Series", series.SeriesName)" src="" border="0" style="display: inline;">
                                                    </div>
                                                    <div class="model-list__label-block">
                                                        <p class="model-list__title">@string.Format("{0} Series", series.SeriesName)</p>
                                                        <p class="font13">@string.Format("{0} Bikes", series.ModelsCount)</p>
                                                    </div>
                                                    <span class="right-arrow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="14px" viewBox="0 0 8 14" version="1.1">
                                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                                                <g id="review-copy-6" transform="translate(-320.000000, -5738.000000)" stroke="#AAAAAA" stroke-width="1.0125">
                                                                    <polyline id="Page-1" transform="translate(324.000000, 5745.000000) scale(1, -1) translate(-324.000000, -5745.000000) " points="321 5739 327 5745 321 5751"></polyline>
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <span class="jcarousel-control-left">
                                        <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                                    </span>
                                    <span class="jcarousel-control-right">
                                        <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }
    </section>
}
