@model IEnumerable<Bikewale.Entities.ServiceCenters.BrandServiceCenters>

@if (@Model != null)
{
    foreach (var centers in @Model)
    {
        <div class="swiper-slide">
            <div class="swiper-card">
                <a href="@string.Format("/m{0}", @Bikewale.Utility.UrlFormatter.GetServiceCenterUrl(@centers.MaskingName))" title="@String.Format("{0} service centers in india", @centers.MakeName)">
                    <div class="brand-logo-image">
                        <span class="brand-type">
                            <span class="brandlogosprite brand-@centers.MakeId"></span>
                        </span>
                    </div>
                    <div class="swiper-details-block">
                        <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">@centers.MakeName</p>
                        <h3 class="text-unbold text-light-grey font11">@String.Format("{0} {1}", @centers.ServiceCenterCount, @centers.MakeName) service center@((centers.ServiceCenterCount) > 1 ? "s" : "")</h3>
                    </div>
                </a>
            </div>
        </div>

    }
} 