@model Bikewale.Models.ServiceCenters.ServiceCentersNearByCityWidgetVM

@if (@Model != null)
{
    foreach (var centers in @Model.ServiceCentersNearbyCities)
    {
        <div class="swiper-slide">
            <div class="swiper-card">
                @if (@Model.Make != null)
                {
                    <a href="@string.Format("/m{0}", @Bikewale.Utility.UrlFormatter.GetServiceCenterUrl(@Model.Make.MaskingName, @centers.CityMaskingName))" title="@String.Format("{0} service centers in {1}", @Model.Make.MakeName, @centers.CityName)">
                        <div class="swiper-lazy service-location-img" data-background="@centers.GoogleMapImg" title="@String.Format("{0} service centers in {1}", @Model.Make.MakeName, @centers.CityName)">
                        </div>
                        <div class="swiper-details-block">
                            <p class="text-bold text-black font12 margin-bottom5 padding-top5">@centers.CityName</p>
                            <h3 class="text-unbold text-light-grey font11">@String.Format("{0} {1}", centers.ServiceCenterCount, @Model.Make.MakeName) service center@((centers.ServiceCenterCount) > 1 ? "s" : "")</h3>
                        </div>
                    </a>
                }
            </div>
        </div>
    }
}
