@model Bikewale.Models.ServiceCenters.ServiceCenterCityPageVM
@using Bikewale.Utility;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_JS_Path = "/src/service/listing.js";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/service/listing.css' inline />";
    Model.PageMetaTags.CanonicalUrl = String.Format("https://www.bikewale.com/service-centers/{0}/{1}/", Model.Make.MaskingName, Model.City.CityMaskingName);
    Model.PageMetaTags.AlternateUrl = String.Format("https://www.bikewale.com/m/service-centers/{0}/{1}/", Model.Make.MaskingName, Model.City.CityMaskingName);
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/BikeWale_New_";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;


}


@if (Model != null && Model.Make != null)
{
    if (Model.ServiceCentersListObject != null && Model.ServiceCentersListObject.Count > 0)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="bg-white">
                        <h1 class="section-header">@Model.Make.MakeName service center@(Model.ServiceCentersListObject.Count > 1 ? "s" : "") in @Model.City.CityName</h1>
                        <div class="section-inner-padding font14 text-light-grey">
                            <p id="service-main-content">
                                Is your @Model.Make.MakeName bike due for a service or are you looking to repair your @Model.Make.MakeName bike? BikeWale brings you the list of all authorised  @Model.Make.MakeName service centers in @Model.City.CityName. @Model.Make.MakeName has @Model.ServiceCentersListObject.Count authorised service center@(Model.ServiceCentersListObject.Count > 1 ? "s" : "")
                                in @Model.City.CityName. We recommend availing services only from authorised service centers. Authorised @Model.Make.MakeName service centers abide by the servicing standards of @Model.Make.MakeName with an assurance of genuine @Model.Make.MakeName spare parts..
                            </p>
                            <p id="service-more-content">BikeWale strongly recommends to use only @Model.Make.MakeName genuine spare parts for your safety and durability of your bike. For more information on pick-up and drop facility, prices and service schedules get in touch with any of the below mentioned authorised @Model.Make.MakeName service centers in @Model.City.CityName. Do check out the maintenance tips and answers to FAQs from BikeWale experts! </p>
                            <a href="javascript:void(0)" id="read-more-target" rel="nofollow">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    if (Model.ServiceCentersListObject.ServiceCenters != null && Model.ServiceCentersListObject.Count > 0 && Model.City != null)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-8">
                    <div class="content-box-shadow section-bottom-margin">
                        <div class="padding-15-20">
                            <h2 class="font18 text-black text-bold bg-white inline-block margin-right10">@String.Format("{0} {1}", Model.ServiceCentersListObject.Count, Model.Make.MakeName) service center@( Model.ServiceCentersListObject.Count > 1 ? "s" : "") in @Model.City.CityName</h2>
                            <div class="inline-block">
                                <span class="edit-blue-link" id="brandSelect"><span class="bwsprite edit-blue text-link"></span><span class="change text-link">change</span></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div id="listing-left-column">
                            <ul id="center-list">

                                @foreach (var serviceCenter in Model.ServiceCentersListObject.ServiceCenters)
								{

                                <li class="dealer-card-target" data-item-id="@serviceCenter.ServiceCenterId" data-item-inquired="false" data-lat="@serviceCenter.Lattitude" data-log="@serviceCenter.Longitude" data-item-number="@serviceCenter.Phone" data-address="@serviceCenter.Address"
                                    data-item-url="@UrlFormatter.GetServiceCenterUrl(Model.Make.MaskingName, Model.City.CityMaskingName, serviceCenter.Name, serviceCenter.ServiceCenterId)">
                                    <a href="javascript:void(0)" rel="nofollow" title="@serviceCenter.Name" class="dealer-details__target">
                                        <div class="dealer-card-content">
                                            <h3 class="dealer-details__name">@serviceCenter.Name</h3>
                                            @if (!(String.IsNullOrEmpty(serviceCenter.Address)))
												{
                                                <p class="dealer-details__address">
                                                    <span>@serviceCenter.Address</span>
                                                </p>
												}
                                        </div>
                                    </a>

                                    <div class="dealer-details__footer">
                                        @if (!(String.IsNullOrEmpty(serviceCenter.Phone)))
											{
                                            <p class="dealer-details__number">
                                                <span>@serviceCenter.Phone</span>
                                            </p>
											}
                                        <a href="https://maps.google.com/?saddr=&amp;daddr=@serviceCenter.Lattitude,@serviceCenter.Longitude" class="dealer-details__direction" target="_blank" rel="noopener">Get Directions</a>
                                    </div>


                                    <div class="dealer-details__form-content service-center-lead-content">
                                        @if (!(String.IsNullOrEmpty(serviceCenter.Address)))
											{
                                            <p class="dealer-details-form__target get-details-btn">Send Details to mobile phone</p>
											}
                                        <div class="dealer-details__form lead-mobile-content">
                                            <div class="form-field__content type-user-details">
                                                <input type="tel" id="lead-input-@serviceCenter.ServiceCenterId" class="service-center-lead-mobile form-control form-field__input field-input__mobile" placeholder="Enter your Mobile number" maxlength="10">
                                                <button type="button" class="btn btn-blue dealer-form__submit-btn form-field__submit-btn submit-service-center-lead-btn font14" data-id="@serviceCenter.ServiceCenterId">Send</button>
                                                <span class="input-mobile__prefix">+91-</span>
                                                <p class="field__error-message"></p>
                                            </div>
                                        </div>

                                        <div class="service-center-lead-response font12 text-light-grey">
                                            <span class="service-sprite response-icon"></span>
                                            <p class="response-text inline-block"></p>
                                        </div>

                                    </div>

                                </li>
								}

                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <section>
                        <div class="content-box-shadow section-bottom-margin">
                            <h2 class="section-h2-title padding-15-20">Tips from BikeWale experts to keep your bike in good shape!</h2>
                            <ul id="bw-tips-list">
                                <li>
                                    <a href="/bike-care/" target="_blank" rel="noopener" title="Bike Care - Maintenance tips">
                                        <span class="service-sprite care-icon"></span>
                                        <h3 class="bike-tips-label margin-left10 inline-block">Bike Care - Maintenance tips</h3>
                                        <span class="bwsprite right-arrow"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/bike-troubleshooting/" target="_blank" rel="noopener" title="Bike troubleshooting - FAQs">
                                        <span class="service-sprite faq-icon"></span>
                                        <h3 class="bike-tips-label margin-left10 inline-block">Bike troubleshooting - FAQs</h3>
                                        <span class="bwsprite right-arrow"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </section>

                    @if (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalServiceCenterCount > 0
					&& Model.DealersServiceCenterPopularCities.DealerServiceCenters.DealerDetails != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.DealerDetails.Any(m => m.ServiceCenterCount > 0))
					{
                    <section>
                        <div class="content-box-shadow padding-bottom20 section-bottom-margin">
                            <div class="content-inner-block-20">
                                <div class="grid-7 inline-block margin-right-4 alpha">
                                    <span class="bwsprite service-center-grey"></span>
                                    <h2 class="other-city__title font18 margin-bottom10 inline-block padding-left10">@Model.Make.MakeName service centers in other cities</h2>
                                    <div>
                                        <p class="font14 text-slate-grey">You are currently viewing service centers of @Model.Make.MakeName in @Model.City.CityName. Not from @Model.City.CityName? Select your city to find @Model.Make.MakeName service centers  in your city.</p>
                                    </div>
                                </div>

                                <div class="grid-5 omega inline-block padding-top20 text-right">
                                    <a href="javascript:void(0)" id="changeCity" data-makemasking="@Model.Make.MaskingName" class="btn changepriceincitypage btn-orange btn-200-32 " rel="nofollow">Select your city</a>
                                    @Html.Partial("~/Views/PopUp/BikeCityPopup.cshtml", @Model.BikeCityPopup)
                                </div>
                                <div class="clear"></div>
                            </div>
                            @if (Model.DealersServiceCenterPopularCities != null)
							{
                            <div class="margin-right20 margin-bottom20 margin-left20 border-solid-bottom"></div>
                            <h3 class="margin-right20 margin-bottom20 margin-left20">@Model.Make.MakeName service centers in popular cities</h3>

                            <div class="jcarousel-grid-8">
                                @Html.Partial("~/Views/PopularCityWidget/DealerServiceCenterInTopCityWidget.cshtml", Model.DealersServiceCenterPopularCities)
                            </div>
							}
                        </div>
                    </section>
					}

                    @if (Model.SimilarBrandsByCity != null && Model.SimilarBrandsByCity.Makes != null && Model.SimilarBrandsByCity.Makes.Count() > 0)
					{
                    <section>
                        <div class="content-box-shadow padding-top20 padding-bottom20 section-bottom-margin">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    @if (Model.City != null)
									{
                                    <span class="font16 text-semibold text-black">@string.Format("Service Center of other brands in {0}", Model.City.CityName)  </span>
									}

                                </div>
                                <div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/service-centers/" title="Bikes Service Center Locator" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="jcarousel-grid-8">
                                @Html.Partial("~/Views/Make/_BrandsModelCount.cshtml", Model.SimilarBrandsByCity)
                            </div>
                        </div>

                    </section>
					}

                </div>
                <div class="grid-4">
                    @if (Model.NearByCityWidgetData != null && Model.NearByCityWidgetData.ServiceCentersNearbyCities != null && Model.NearByCityWidgetData.ServiceCentersNearbyCities.Count() > 0)
                    {
                        <div class="content-box-shadow section-bottom-margin">
                            <h2 class="sidebar-list-heading">@String.Format("{0} service centers near {1}", Model.Make.MakeName, Model.City.CityName)</h2>
                            <ul class="sidebar__other-city-list">
                                @foreach (var city in Model.NearByCityWidgetData.ServiceCentersNearbyCities)
                                {
                                <li>
                                    <a href="/service-centers/@Model.Make.MaskingName/@city.CityMaskingName/" title="@Model.Make.MakeName service centers in @city.CityName">@city.CityName</a>
                                </li>
                                }
                              
                             
                            </ul>
                        </div>
                    }

                    @if (Model.PopularWidgetData != null || Model.UsedBikesByMakeList != null)
                    {
                        <div class="content-box-shadow section-bottom-margin">

                            @if (Model.PopularWidgetData != null && Model.PopularWidgetData.Bikes != null && Model.PopularWidgetData.Bikes.Count() > 0)
                            {
                                <h2 class="sidebar-list-heading">Popular @Model.Make.MakeName bikes in @Model.City.CityName</h2>

                                <div class="sidebar-list--overflow">
                                    @Html.Partial("~/Views/BikeModels/_MostPopularBikesSideBar.cshtml", Model.PopularWidgetData)
                                </div>

                                <div class="view-all-btn-container padding-10-20-20">
                                    <a href="/@Model.Make.MaskingName-bikes/" title="@Model.Make.MakeName Bikes" class="btn view-all-target-btn">View all bikes<span class="bwsprite teal-right"></span></a>
                                </div>


                            }
                        </div>
                    }

                    <div class="content-box-shadow section-bottom-margin">
                        <h2 class="sidebar-list-heading">Research More</h2>
                        <ul class="research-more__list">
                            <li>
                                <a href="#">TVS Apache Bikes</a>
                            </li>
                            <li>
                                <a href="#">Used Honda Bikes</a>
                            </li>
                            <li>
                                <a href="#">Honda Service Centers</a>
                            </li>
                            <li>
                                <a href="#">Top 10 Bikes</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="clear"></div>

                <div id="listing-footer"></div>
        </section>
    }


    <section>
        <div class="container margin-bottom30">
            <div class="grid-12 font12">
                <p>
                    <span class="font14"><strong>Disclaimer</strong>:</span>The above-mentioned information about authorised @Model.Make.MakeName service centers is furnished to best of our knowledge. The facilities of pick and drop, timings and service schedule related information might vary slightly from service center to service center. Please check with the authorised @Model.Make.MakeName service center before scheduling an appointment.
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    @Html.Partial("~/Views/Make/_BrandCityPopup.cshtml", Model.BrandCityPopupWidget)


}
@{Html.RenderAction("ChangeLocation", "Location", new { cityId = Model.City.CityId, cityName = Model.City.CityName });}
