@model Bikewale.Models.ServiceCenters.ServiceCenterCityPageVM
@using Bikewale.Utility;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_JS_Path = "/src/service/listing.js";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/service/listing.css' />";
    Model.PageMetaTags.CanonicalUrl = String.Format("https://www.bikewale.com/{0}-service-center-in-{1}/", Model.Make.MaskingName, Model.City.CityMaskingName);
    Model.PageMetaTags.AlternateUrl = String.Format("https://www.bikewale.com/m/{0}-service-center-in-{1}/", Model.Make.MaskingName, Model.City.CityMaskingName);
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/BikeWale_New_";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;    
}

@if (Model != null && Model.Make != null)
{
    if (Model.City != null)
    {
        <section>
            <div class="container padding-top10">
                <div class="grid-12">
                    <div class="breadcrumb margin-bottom15">
                        <!-- breadcrumb code starts here -->
                        <ul>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a itemprop="url" href="/" title="Home"><span itemprop="title">Home</span></a>
                            </li>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="/bike-service-center/" title="Service Center Locator"><span itemprop="title">Service Center Locator</span></a>
                            </li>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="@String.Format("/{0}-service-center-in-india/", Model.Make.MaskingName)" title="@String.Format("{0} Bikes Service Centers", Model.Make.MakeName)"><span itemprop="title">@Model.Make.MakeName Bikes Service Centers</span></a>
                            </li>
                            <li class="current"><span class="bwsprite fa-angle-right margin-right10"></span>@Model.Make.MakeName Bikes Service Center In @Model.City.CityName</li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    if (Model.ServiceCentersListObject != null)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="bg-white">
                        <h1 class="section-header">@Model.Make.MakeName service center@(Model.ServiceCentersListObject.Count > 1 ? "s" : "") in @Model.City.CityName</h1>
                        <div class="section-inner-padding font14 text-light-grey">
                            <p id="service-main-content">
                                Is your @Model.Make.MakeName bike due for a service or are you looking to repair your @Model.Make.MakeName bike? BikeWale brings you the list of all authorised  @Model.Make.MakeName service centers in @Model.City.CityName. @Model.Make.MakeName has @Model.ServiceCentersListObject.Count authorised service center@(Model.ServiceCentersListObject.Count > 1 ? "s" : "")
                                in @Model.City.CityName. We recommend availing services only from authorised service centers. Authorised @Model.Make.MakeName service centers abide by the servicing standards of @Model.Make.MakeName with an assurance of genuine @Model.Make.MakeName spare parts..
                            </p>
                            <p id="service-more-content">BikeWale strongly recommends to use only @Model.Make.MakeName genuine spare parts for your safety and durability of your bike. For more information on pick-up and drop facility, prices and service schedules get in touch with any of the below mentioned authorised @Model.Make.MakeName service centers in @Model.City.CityName. Do check out the maintenance tips and answers to FAQs from BikeWale experts! </p>
                            <a href="javascript:void(0)" id="read-more-target" rel="nofollow">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    if (Model.ServiceCentersListObject.ServiceCenters != null && Model.ServiceCentersListObject.Count > 0 && Model.City != null)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow">
                        <div class="padding-15-20">
                            <h2 class="font18 text-black text-bold bg-white inline-block margin-right10">@String.Format("{0} {1}", Model.ServiceCentersListObject.Count, Model.Make.MakeName) service center@( Model.ServiceCentersListObject.Count > 1 ? "s" : "") in @Model.City.CityName</h2>
                            <div class="inline-block">
                                <span class="edit-blue-link" id="brandSelect"><span class="bwsprite edit-blue text-link"></span><span class="change text-link">change</span></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div id="listing-left-column" class="grid-4 alpha omega">
                            <ul id="center-list">

                                @foreach (var serviceCenter in Model.ServiceCentersListObject.ServiceCenters)
                                {

                                    <li data-item-id="@serviceCenter.ServiceCenterId" data-item-inquired="false" data-lat="@serviceCenter.Lattitude" data-log="@serviceCenter.Longitude" data-item-number="@serviceCenter.Phone" data-address="@serviceCenter.Address"
                                        data-item-url="@UrlFormatter.GetServiceCenterUrl(Model.Make.MaskingName, Model.City.CityMaskingName, serviceCenter.Name, serviceCenter.ServiceCenterId)">

                                        <a href="@UrlFormatter.GetServiceCenterUrl(Model.Make.MaskingName, Model.City.CityMaskingName, serviceCenter.Name, serviceCenter.ServiceCenterId)" title="@serviceCenter.Name" class="dealer-card-target font14">
                                            <div class="dealer-card-content">
                                                <h3 class="dealer-name text-black text-bold margin-bottom5">@serviceCenter.Name</h3>
                                                @if (!(String.IsNullOrEmpty(serviceCenter.Address)))
                                                {
                                                    <p class="text-light-grey margin-bottom5">
                                                        <span class="bwsprite dealership-loc-icon vertical-top margin-right5"></span>
                                                        <span class="vertical-top details-column">@serviceCenter.Address</span>
                                                    </p>
                                                }
                                                @if (!(String.IsNullOrEmpty(serviceCenter.Phone)))
                                                {
                                                    <p>
                                                        <span class="bwsprite phone-black-icon vertical-top margin-right5"></span>
                                                        <span class="vertical-top text-bold text-default details-column">@serviceCenter.Phone</span>
                                                    </p>
                                                }
                                            </div>
                                        </a>
                                        <div class="service-center-lead-content margin-top15 padding-left20 padding-right20">
                                            @if (!(String.IsNullOrEmpty(serviceCenter.Address)))
                                            {
                                                <button type="button" class="btn btn-white service-btn get-details-btn font14">Get details on phone</button>
                                            }
                                            <div class="lead-mobile-content">
                                                <div class="input-box input-number-box form-control-box type-user-details">
                                                    <input type="tel" id="lead-input-@serviceCenter.ServiceCenterId" class="service-center-lead-mobile" maxlength="10">
                                                    <label for="lead-input-@serviceCenter.ServiceCenterId">Type in your mobile number</label>
                                                    <span class="input-number-prefix">+91-</span>
                                                    <span class="boundary"></span>
                                                    <span class="error-text"></span>
                                                </div>
                                                <button type="button" class="btn btn-orange submit-service-center-lead-btn font14" data-id="@serviceCenter.ServiceCenterId">Send details</button>
                                                <div class="clear"></div>
                                            </div>

                                            <div class="service-center-lead-response font12 text-light-grey">
                                                <span class="service-sprite response-icon"></span>
                                                <p class="response-text inline-block"></p>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div id="listing-right-column" class="grid-8 alpha omega">
                            <div class="dealer-map-wrapper">
                                <div id="dealerMapWrapper" data-currentcityname="@Model.City.CityName" style="width: 661px; height: 530px; background: #fff url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) no-repeat center;">
                                    <div id="dealersMap" style="width: 661px; height: 530px;"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="listing-footer"></div>
        </section>
    }

    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <h2 class="section-h2-title padding-15-20">Tips from BikeWale experts to keep your bike in good shape!</h2>
                    <ul id="bw-tips-list">
                        <li class="grid-6">
                            <a href="/bike-care/" target="_blank" title="Bike Care - Maintenance tips">
                                <span class="service-sprite care-icon"></span>
                                <h3 class="bike-tips-label margin-left10 inline-block">Bike Care - Maintenance tips</h3>
                                <span class="bwsprite right-arrow"></span>
                            </a>
                        </li>
                        <li class="grid-6">
                            <a href="/bike-troubleshooting/" target="_blank" title="Bike troubleshooting - FAQs">
                                <span class="service-sprite faq-icon"></span>
                                <h3 class="bike-tips-label margin-left10 inline-block">Bike troubleshooting - FAQs</h3>
                                <span class="bwsprite right-arrow"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    if (Model.NearByCityWidgetData != null)
    {
        <div class="container section-container ">
            <div class="grid-12 margin-bottom20">
                <div class="content-box-shadow padding-top20 padding-bottom20">
                    <h2 class="font18 padding-bottom20 padding-left20">@String.Format("Explore {0} service centers in cities near {1}", Model.Make.MakeName, Model.City.CityName)</h2>
                    <div class="jcarousel-wrapper inner-content-carousel map-type-carousel">
                        <div class="jcarousel">
                            @Html.Partial("~/Views/ServiceCenters/_ServiceCentersInNearByCities.cshtml", Model.NearByCityWidgetData)
                        </div>
                        <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                        <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    }

    if (Model.PopularWidgetData != null || Model.UsedBikesByMakeList != null)
    {
        <section>
            <div class="container">
                <div class="grid-12">
                    <div class="content-box-shadow ">
                        @if (Model.PopularWidgetData != null)
                        {
                            <div class="padding-bottom20">
                                <div class="carousel-heading-content padding-top20">
                                    <div class="swiper-heading-left-grid inline-block">
                                        <h2>Popular @Model.Make.MakeName bikes in @Model.City.CityName</h2>
                                    </div>
                                    <div class="swiper-heading-right-grid inline-block text-right">
                                        <a href="/@Model.Make.MaskingName-bikes/" title="@Model.Make.MakeName Bikes" class="btn view-all-target-btn">View all</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/BikeModels/_MostPopularBikes.cshtml", Model.PopularWidgetData)
                            </div>
                        }
                        <div class="margin-left10 margin-right10 border-solid-bottom"></div>
                        <div class="clear"></div>
                        <!-- Used bikes widget -->
                        @if (Model.UsedBikesByMakeList != null && Model.UsedBikesByMakeList.UsedBikeModelList != null && Model.UsedBikesByMakeList.UsedBikeModelList.Count() > 0)
                        {
                            <div class="carousel-heading-content padding-top20">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>@string.Format("Used {0} bikes in {1}", Model.Make.MakeName, Model.City.CityName)</h2>
                                </div><div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="@string.Format("/used/{0}-bikes-in-{1}/", Model.Make.MaskingName, Model.City.CityMaskingName)" title="Second Hand Bikes in India" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="padding-bottom20">
                                @Html.Partial("~/Views/Used/_UsedBikesByModel.cshtml", Model.UsedBikesByMakeList)
                            </div>
                        }
                        <div class="margin-left10 margin-right10 border-solid-bottom"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    if (Model.DealersWidgetData != null)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow">
                        <div id="makeDealersContent" class="bw-model-tabs-data padding-top20 font14">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>New @Model.Make.MakeName bikes showrooms</h2>
                                </div><div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/@Model.Make.MaskingName-dealer-showrooms-in-@Model.City.CityMaskingName/" title="@Model.Make.MakeName Showrooms in @Model.City.CityName" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.Partial("~/Views/DealerShowroom/_DealerCard.cshtml", Model.DealersWidgetData)
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    <section>
        <div class="container margin-bottom30">
            <div class="grid-12 font12">
                <p>
                    <span class="font14"><strong>Disclaimer</strong>:</span>The above-mentioned information about authorised @Model.Make.MakeName service centers is furnished to best of our knowledge. The facilities of pick and drop, timings and service schedule related information might vary slightly from service center to service center. Please check with the authorised @Model.Make.MakeName service center before scheduling an appointment.
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    @Html.Partial("~/Views/Make/_BrandCityPopup.cshtml", Model.BrandCityPopupWidget)
}
@{Html.RenderAction("ChangeLocation", "Location", new { cityId = Model.City.CityId, cityName = Model.City.CityName });}
<script defer src="@string.Format("https://maps.googleapis.com/maps/api/js?key={0}&libraries=places", BWConfiguration.Instance.GoogleMapApiKey)"></script>
