@model  Bikewale.Models.ServiceCenters.ServiceCenterIndiaPageVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/service/location.css' inline />";
    Model.Page_JS_Path = "/src/service/location.js";
    Model.AdTags.Ad_970x90Top = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.PageMetaTags.CanonicalUrl = string.Format("https://www.bikewale.com/service-centers/{0}/", Model.Make.MaskingName);
    Model.PageMetaTags.AlternateUrl = string.Format("https://www.bikewale.com/m/service-centers/{0}/", Model.Make.MaskingName);
    Model.AdTags.AdId = "1516179280416";
    Model.AdTags.AdPath = "/1017752/Bikewale_Service_Centers_";

}

@if (Model != null && Model.Make != null)
{
    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="bg-white">
                    <h1 class="section-header">@Model.Make.MakeName service centers in India</h1>
                    <p class="section-inner-padding font14 text-light-grey">There are @Bikewale.Utility.Format.FormatPrice(Convert.ToString(Model.ServiceCentersCityList.ServiceCenterCount)) authorised @Model.Make.MakeName service centers in India. BikeWale strongly recommends you to avail services only from authorized @Model.Make.MakeName service centers. These authorised service centers are spread over @Bikewale.Utility.Format.FormatPrice(Convert.ToString(Model.ServiceCentersCityList.CityCount)) cities to service your @Model.Make.MakeName bike and keep your bike moving. Enter the name of your city in the search box provided below to find authorised @Model.Make.MakeName service centers in your city.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <h2 class="section-h2-title padding-15-20">@String.Format("{0} {1}", Bikewale.Utility.Format.FormatPrice(Convert.ToString(Model.ServiceCentersCityList.ServiceCenterCount)), @Model.Make.MakeName) service centers in @Bikewale.Utility.Format.FormatPrice(Convert.ToString(Model.ServiceCentersCityList.CityCount)) cities</h2>
                    <div id="listing-left-column" class="grid-4">
                        <div id="filter-input" class="form-control-box">
                            <span class="bwsprite search-icon-grey"></span>
                            <input type="text" class="form-control padding-right40" placeholder="Type to search city" id="getCityInput" />
                        </div>
                        <ul id="location-list">
                            @foreach (var st in Model.ServiceCentersCityList.ServiceCenterDetailsList)
                            {
                                <li class="item-state">
                                    <p data-item-id="@st.Id" data-item-name="@st.Name" data-lat="@st.Lat" data-long="@st.Long" data-servicecentercount="@st.ServiceCenterCountState" class="type-state cur-pointer">@st.Name</p>
                                    <ul class="location-list-city">
                                        @foreach (var stcity in st.Cities)
                                        {
                                            <li>
                                                <a data-item-id="@stcity.CityId" data-item-name="@stcity.CityName" data-lat="@stcity.Lattitude" data-long="@stcity.Longitude" data-link="@stcity.Link" data-servicecentercount="@stcity.ServiceCenterCountCity" title="@Model.Make.MakeName service center in @stcity.CityName" href="/service-centers/@Model.Make.MaskingName/@stcity.CityMaskingName/">@stcity.CityName (@stcity.ServiceCenterCountCity)</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                        <div id="no-result"></div>
                    </div>
                    <div id="listing-right-column" class="grid-8 alpha omega">
                        <div class="dealer-map-wrapper">
                            <div id="dealerMapWrapper" style="width: 661px; height: 530px; background: #fff url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) no-repeat center;">
                                <div id="dealersMap" style="width: 661px; height: 530px;"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="listing-footer"></div>
    </section>

    if (Model.ServiceCenterBrandsList != null && Model.ServiceCenterBrandsList.Count() > 0)
    {
        <div class="container section-container">
            <div class="grid-12 margin-bottom20">
                <div class="content-box-shadow padding-top20 padding-bottom20">
                    <h2 class="font18 padding-bottom20 padding-left20">Find service centers for other brands</h2>
                    <div class="jcarousel-wrapper inner-content-carousel brand-type-carousel">
                        <div class="jcarousel">
                            @{Html.RenderPartial("/Views/ServiceCenters/_ServiceCentersByBrand.cshtml", Model.ServiceCenterBrandsList);}
                        </div>
                        <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                        <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                    </div>
                </div>
            </div>
        </div>
    }

    if (Model.UsedBikesByMakeList != null && Model.UsedBikesByMakeList.UsedBikeModelList != null && Model.UsedBikesByMakeList.UsedBikeModelList.Count() > 0)
    {
        <div class="container section-container">
            <div class="grid-12 margin-bottom20">
                <div class="content-box-shadow padding-top20 padding-bottom10">
                    <div class="carousel-heading-content padding-top20">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>@string.Format("Used {0} bikes in India", Model.Make.MakeName)</h2>
                        </div><div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("/used/{0}-bikes-in-india/", Model.Make.MaskingName)" title="Second Hand Bikes in India" class="btn view-all-target-btn">View all</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="padding-bottom20">
                        @Html.Partial("~/Views/Used/_UsedBikesByModel.cshtml", Model.UsedBikesByMakeList)
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    }

    if (Model.BikeCareWidgetVM != null && Model.BikeCareWidgetVM.ArticlesList != null && Model.BikeCareWidgetVM.ArticlesList.Count() > 0)
    {
        <section>
            <section>
                <div class="container section-bottom-margin">
                    <h2 class="section-heading">Bike Care - Maintenance tips</h2>
                    <div class="grid-12">
                        <div class="content-box-shadow content-inner-block-20">
                            @Html.Partial("~/Views/BikeCare/_RecentBikeCare.cshtml", Model.BikeCareWidgetVM)
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        </section>
    }

    <section>
        <div class="container section-bottom-margin">
            <h2 class="section-heading">Bike Troubleshooting - FAQs</h2>
            <div class="grid-12">
                <div class="content-box-shadow padding-bottom20">
                    @Html.Partial("~/Views/BikeCare/_BikeTroubleshootingFAQ.cshtml")
                    <a href="/bike-troubleshooting/" target="_blank" rel="noopener" title="Bike Troubleshooting- FAQs" class="font14 margin-left20">Read all FAQs<span class="bwsprite blue-right-arrow-icon"></span></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

}
<script defer src="@string.Format("https://maps.googleapis.com/maps/api/js?key={0}&libraries=places",Bikewale.Utility.BWConfiguration.Instance.GoogleMapApiKey)"></script>
<script defer type="text/javascript" src="@String.Format("{0}/src/new/markerwithlabel.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>
