@model Bikewale.Models.ServiceCenters.ServiceCenterDetailsPageVM
@using Bikewale.Utility;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_JS_Path = "/src/service/details.js";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/service/details.css' inline />";
    Model.PageMetaTags.CanonicalUrl = String.Format("https://www.bikewale.com{0}", UrlFormatter.GetServiceCenterUrl(Model.Make.MaskingName, Model.City.CityMaskingName, Model.ServiceCenterData.Name, Model.ServiceCenterData.Id));
    Model.PageMetaTags.AlternateUrl = String.Format("https://www.bikewale.com/m{0}", UrlFormatter.GetServiceCenterUrl(Model.Make.MaskingName, Model.City.CityMaskingName, Model.ServiceCenterData.Name, Model.ServiceCenterData.Id));
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/BikeWale_New_";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.IsHeaderFix = true;
}

@if (Model != null && Model.Make != null)
{
    if (Model.City != null && Model.ServiceCenterData != null)
    {
        <section>
            <div class="container padding-top10">
                <div class="grid-12">
                    <div class="breadcrumb margin-bottom15">
                        <!-- breadcrumb code starts here -->
                        <ul>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a itemprop="url" href="/"><span itemprop="title">Home</span></a>
                            </li>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="/service-centers/" title="Service Center Locator"><span itemprop="title">Service Center Locator</span></a>
                            </li>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="@string.Format("/service-centers/{0}/", Model.Make.MaskingName)" title="@Model.Make.MakeName Service Centers"><span itemprop="title">@Model.Make.MakeName Service Centers</span></a>
                            </li>
                            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <span class="bwsprite fa-angle-right margin-right10"></span><a itemprop="url" href="/service-centers/@Model.Make.MaskingName/@Model.City.CityMaskingName/" title="@Model.Make.MakeName Service Center in @Model.City.CityName"><span itemprop="title">@Model.Make.MakeName Service Center in @Model.City.CityName</span></a>
                            </li>
                            <li class="current"><span class="bwsprite fa-angle-right margin-right10"></span>@Model.ServiceCenterData.Name</li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>


        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="bg-white">
                        <h1 class="section-header">@Model.ServiceCenterData.Name, @Model.City.CityName</h1>
                        <div class="section-inner-padding">
                            <div class="grid-7 alpha omega font14">
                                @if (@Model.ServiceCenterData != null)
                                {
                                    <h2 class="font14 margin-bottom10">Authorized @Model.Make.MakeName service center in @Model.City.CityName</h2>
                                    if (!string.IsNullOrEmpty(@Model.ServiceCenterData.Address))
                                    {
                                        <div class="margin-bottom10">
                                            <span class="bwsprite dealership-loc-icon vertical-top"></span>
                                            <span class="vertical-top text-light-grey details-column">@Model.ServiceCenterData.Address</span>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(@Model.ServiceCenterData.Phone))
                                    {
                                        <div class="margin-bottom10">
                                            <span class="bwsprite phone-black-icon vertical-top"></span>
                                            <span class="vertical-top text-bold details-column">@Model.ServiceCenterData.Phone</span>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(@Model.ServiceCenterData.Email))
                                    {
                                        <div class="margin-bottom10">
                                            <span class="bwsprite mail-grey-icon vertical-top"></span>
                                            <a href="mailto:@Model.ServiceCenterData.Email" target="_blank" rel="noopener" class="vertical-top text-light-grey" rel="nofollow">
                                                <span class="dealership-card-details">@Model.ServiceCenterData.Email</span>
                                            </a>
                                        </div>
                                    }
                                }
                                @if (Model.ServiceCenterData != null && Model.ServiceCenterData.Lattitude > 0 && Model.ServiceCenterData.Longitude > 0)
                                {
                                    <div id="commute-distance-form" class="margin-top20">
                                        <p class="text-bold margin-bottom15">Get commute distance and time:</p>
                                        <div class="leftfloat form-control-box margin-right15">
                                            <input id="locationSearch" type="text" data-clietip="@Bikewale.Common.CommonOpn.GetClientIP()" data-map="@Bikewale.Utility.BWConfiguration.Instance.GoogleMapApiKey" data-currentaddress="@((Model.ServiceCenterData.Address != null)?Model.ServiceCenterData.Address:Model.City.CityName)" class="form-control" placeholder="Type in your location" />
                                            <span id="getUserLocation" class="crosshair-icon"></span>
                                        </div>
                                        <div class="location-details padding-top10 padding-bottom10 leftfloat">
                                            Distance: <span id="commuteDistance" class="margin-right10"></span>
                                            Time: <span id="commuteDuration"></span>
                                        </div>
                                        <div class="clear"></div>
                                        <div id="commuteResults"></div>
                                    </div>
                                }
                            </div>
                            <div class="grid-5 omega position-rel">
                                @if (Model.ServiceCenterData != null && Model.ServiceCenterData.Lattitude > 0 && Model.ServiceCenterData.Longitude > 0)
                                {
                                    <div id="dealer-map" data-servicelat="@Model.ServiceCenterData.Lattitude" data-servicelong="@Model.ServiceCenterData.Longitude" data-cityname="@Model.City.CityName" style="width:378px;height:254px;border:1px solid #eee;"></div>
                                    <div id="get-direction-button" title="Get directions">
                                        <a id="linkMap" href="https://maps.google.com/?saddr=&amp;daddr=@Model.ServiceCenterData.Lattitude,@Model.ServiceCenterData.Longitude" target="_blank" rel="noopener">
                                            <span class="bwsprite get-direction-icon"></span>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

    }

    if (Model.City != null && Model.OtherServiceCentersWidgetData != null && Model.OtherServiceCentersWidgetData.ServiceCentersList != null && Model.OtherServiceCentersWidgetData.ServiceCentersList.Count() > 0)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-bottom20">
                        <div class="carousel-heading-content padding-top20">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2>@string.Format("Other {0} service centers in {1}", Model.Make.MakeName, Model.City.CityName)</h2>
                            </div><div class="swiper-heading-right-grid inline-block text-right">
                                <a href="@UrlFormatter.GetServiceCenterUrl(Model.Make.MaskingName, Model.City.CityMaskingName)" title="@Model.Make.MakeName Service Centers in @Model.City.CityName" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/Views/ServiceCenters/_ServiceCentersCard.cshtml", Model.OtherServiceCentersWidgetData)
                        <div class="clear"></div>
                        <div class="margin-right10 margin-left10 border-solid-bottom"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    if (Model.BikeScheduleList != null && Model.BikeScheduleList.Count() > 0)
    {
        <div id="service-scheduler" class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow padding-15-20-20">
                    <h2 class="section-h2-title margin-bottom10">Is your @Model.Make.MakeName bike due for a service?</h2>
                    <p class="font14 margin-bottom25">Get you @Model.Make.MakeName bike serviced within given time period or km range, whichever condition gets satisfied earlier.</p>
                    <div id="scheduler-left-column" class="grid-4 alpha">
                        <div class="select-box">
                            <p class="font12 text-xt-light-grey">Model</p>
                            <select class="chosen-select" data-bind="event: { change: GetModelId }" data-placeholder="Select model">
                                @foreach (var bike in Model.BikeScheduleList)
                                {
                                    <option value="@bike.ModelId">@bike.ModelName</option>
                                }
                            </select>
                        </div>
                        <img data-bind="attr: { src: imagePath() }" id="service-model-image" src="" />
                    </div>
                    <div class="grid-8 omega">
                        <table data-bind="visible: isDataExist()" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th align="left" width="20%">Service no.</th>
                                    <th data-bind="visible: isKms()" align="left" width="40%">Validity from the date of purchase</th>
                                    <th data-bind="visible: isDays()" align="left" width="40%">Validity from the date of previous service</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: bikesList">
                                <!-- ko foreach : Schedules -->
                                <tr>
                                    <td data-bind="text: ServiceNo"></td>
                                    <td data-bind="visible: $root.isKms(), text: Kms + ' Kms'"></td>
                                    <td data-bind="visible: $root.isDays(), text: Days + ' days'"></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                        <!-- no service -->
                        <div data-bind="visible: !isDataExist()" id="service-not-available">
                            <span class="service-sprite calender-lg"></span>
                            <p class="font14 text-light-grey">
                                Sorry! The service schedule for <span data-bind="text: currentBikeName()"></span>is not available.<br />
                                Please check out the service schedule for other @Model.Make.MakeName bikes.
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div id="service-schedule-data" class="hide">@Newtonsoft.Json.JsonConvert.SerializeObject(Model.BikeScheduleList)</div>
    }

    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <h2 class="section-h2-title padding-15-20">Tips from BikeWale experts to keep your bike in good shape!</h2>
                    <ul id="bw-tips-list">
                        <li class="grid-6">
                            <a href="/bike-care/" title="Bike Care - Maintenance tips" target="_blank" rel="noopener">
                                <span class="service-sprite care-icon"></span>
                                <h3 class="bike-tips-label margin-left10 inline-block">Bike Care - Maintenance tips</h3>
                                <span class="bwsprite right-arrow"></span>
                            </a>
                        </li>
                        <li class="grid-6">
                            <a href="/bike-troubleshooting/" title="Bike troubleshooting - FAQs" target="_blank" rel="noopener">
                                <span class="service-sprite faq-icon"></span>
                                <h3 class="bike-tips-label margin-left10 inline-block">Bike troubleshooting - FAQs</h3>
                                <span class="bwsprite right-arrow"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        @if (Model.PopularWidgetData != null || Model.UsedBikesByMakeList != null)
        {
            <section>
                <div class="container">
                    <div class="grid-12">
                        <div class="content-box-shadow ">
                            @if (Model.PopularWidgetData != null && Model.PopularWidgetData.Bikes != null && Model.PopularWidgetData.Bikes.Count() > 0)
                            {
                                <div class="padding-bottom20">
                                    <div class="carousel-heading-content padding-top20">
                                        <div class="swiper-heading-left-grid inline-block">
                                            <h2>Popular @Model.Make.MakeName bikes in @Model.City.CityName</h2>
                                        </div>
                                        <div class="swiper-heading-right-grid inline-block text-right">
                                            <a href="/@Model.Make.MaskingName-bikes/" title="@Model.Make.MakeName Bikes" class="btn view-all-target-btn">View all</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    @Html.Partial("~/Views/BikeModels/_MostPopularBikes.cshtml", Model.PopularWidgetData)
                                </div>
                            }
                            <div class="margin-left10 margin-right10 border-solid-bottom"></div>
                            <div class="clear"></div>
                            <!-- Used bikes widget -->
                            @if (Model.UsedBikesByMakeList != null && Model.UsedBikesByMakeList.UsedBikeModelList != null && Model.UsedBikesByMakeList.UsedBikeModelList.Count() > 0)
                            {
                                <div class="carousel-heading-content padding-top20">
                                    <div class="swiper-heading-left-grid inline-block">
                                        <h2>@string.Format("Used {0} bikes in {1}", Model.Make.MakeName, Model.City.CityName)</h2>
                                    </div><div class="swiper-heading-right-grid inline-block text-right">
                                        <a href="@string.Format("/used/{0}-bikes-in-{1}/", Model.Make.MaskingName, Model.City.CityMaskingName)" title="@string.Format("Second Hand Bikes in {0}", Model.City.CityName)" class="btn view-all-target-btn">View all</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="padding-bottom20">
                                    @Html.Partial("~/Views/Used/_UsedBikesByModel.cshtml", Model.UsedBikesByMakeList)
                                </div>
                            }
                            <div class="margin-left10 margin-right10 border-solid-bottom"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }

        @if (Model.DealersWidgetData != null && Model.DealersWidgetData.Dealers != null && Model.DealersWidgetData.Dealers.Count() > 0)
        {
            <section>
                <div class="container section-bottom-margin">
                    <div class="grid-12">
                        <div class="content-box-shadow">
                            <div id="makeDealersContent" class="bw-model-tabs-data padding-top20 font14">
                                <div class="carousel-heading-content">
                                    <div class="swiper-heading-left-grid inline-block">
                                        <h2>New @Model.Make.MakeName bikes showrooms</h2>
                                    </div><div class="swiper-heading-right-grid inline-block text-right">
                                              <a href="/dealer-showrooms/@Model.Make.MaskingName/@Model.City.CityMaskingName/" title="@Model.Make.MakeName Showrooms in @Model.City.CityName" class="btn view-all-target-btn">View all</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/DealerShowroom/_DealerCard.cshtml", Model.DealersWidgetData)
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        }

        <div class="container section-bottom-margin">
            <div class="grid-12 font12">
                <p><span class="font14"><strong>Disclaimer</strong>:</span> The above-mentioned information about authorised @Model.Make.MakeName service centers is furnished to best of our knowledge. The facilities of pick and drop, timings and service schedule related information might vary slightly from service center to service center. Please check with the authorised @Model.Make.MakeName service center before scheduling an appointment.</p>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}
<script defer src="https://maps.googleapis.com/maps/api/js?key=@Bikewale.Utility.BWConfiguration.Instance.GoogleMapApiKey&libraries=places"></script>


