@model BikewaleOpr.Models.ManagePrices.PriceMonitoringVM
@using BikewaleOpr.Entity.BikePricing;
@using BikewaleOpr.Entities;
@{
    IList<PriceLastUpdateEntity> priceLastUpdatedList = null;
    IList<MfgCityEntity> cityList = null;
    IList<BikeVersionEntity> bikeVersionList = null;
    if (Model != null && Model.PriceMonitoringEntity != null)
    {
        priceLastUpdatedList = Model.PriceMonitoringEntity.PriceLastUpdatedList.ToList();
        if (priceLastUpdatedList != null && priceLastUpdatedList.Count() == 0)
        {
            priceLastUpdatedList = null;
        }
        cityList = Model.PriceMonitoringEntity.CityList.ToList();
        bikeVersionList = Model.PriceMonitoringEntity.BikeVersionList.ToList();
    }
}
@{
    ViewBag.Title = "Price Monitoring Report";

    var makeEntity = Model.BikeMakes.FirstOrDefault(c => c.MakeId == Model.MakeId);
    if (makeEntity != null)
    {
        ViewBag.PageTitle = "Price Monitoring Report - " + makeEntity.MakeName;
    }
    else
    {
        ViewBag.PageTitle = "Price Monitoring Report";
    }
}
@if (Model != null)
{
    <div class="row" style="margin-top:5px;">
        <div class="col s10 m10">
            <div id="makesTable" class="fixed-table z-depth-3 @(priceLastUpdatedList == null ? "hide": "")">
                <div class="fixed-table__header">
                    <table class="table centered highlight">
                        <thead>
                            <tr>
                                @if (bikeVersionList != null && bikeVersionList.Count() > 0)
                                {
                                    foreach (var bikeVersion in bikeVersionList)
                                    {
                                        <th>@bikeVersion.BikeName</th>
                                    }
                                }
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="fixed-table__sidebar @(priceLastUpdatedList == null ? "hide": "")">
                    <table class="table  highlight">
                        <tbody>
                            @if (cityList != null)
                            {
                                foreach (var city in cityList)
                                {
                                    <tr>
                                        <td><b>@city.CityName</b> </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="fixed-table__body @(priceLastUpdatedList == null ? "hide": "")">
                    <table class="table centered highlight">
                        <tbody>
                            @if (cityList != null && priceLastUpdatedList != null)
                            {
                                for (int c = 0, i = 0; c < cityList.Count(); c++)
                                {
                                    <tr>
                                        @for (int v = 0; v < bikeVersionList.Count(); v++)
                                        {
                                            string color = string.Empty;
                                            if (i < priceLastUpdatedList.Count() && priceLastUpdatedList[i].CityId == cityList[c].CityId
                                                                && priceLastUpdatedList[i].BikeVersionId == bikeVersionList[v].VersionId)
                                            {
                                                PriceLastUpdateEntity priceLastUpdated = priceLastUpdatedList[i];
                                                int days = 0;
                                                if (priceLastUpdated != null)
                                                {
                                                    days = (DateTime.Now - Convert.ToDateTime(priceLastUpdated.LastUpdated)).Days;

                                                    if (days <= 7)
                                                    {
                                                        color = "green darken-4";
                                                    }
                                                    else if (days > 7 && days <= 15)
                                                    {
                                                        color = "yellow accent-4";
                                                    }
                                                    else if (days > 15 && days <= 30)
                                                    {
                                                        color = "orange";
                                                    }
                                                    else
                                                    {
                                                        color = "red accent-4";
                                                    }
                                                }
                                                <td class="@color" title="Price For:@cityList[c].CityName, Version: @bikeVersionList[v].BikeName">
                                                    <a class="white-text" target="_blank" href="/content/ShowroomPrices.aspx?city=@cityList[c].CityId&make=@Model.MakeId">
                                                        @days
                                                    </a>
                                                </td>
                                                i++;
                                            }
                                            else
                                            {
                                                <td class="black" title="Price For:@cityList[c].CityName, Version: @bikeVersionList[v].BikeName">
                                                    <a class="white-text" target="_blank" href="/content/ShowroomPrices.aspx?city=@cityList[c].CityId&make=@Model.MakeId">
                                                        NA
                                                    </a>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="makeModelContainer" class="col s2 m2">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active"><b>Show Price</b></div>
                    <div class="collapsible-body">
                        @using (Html.BeginForm("GetReport", "PriceMonitoring", FormMethod.Post))
                        {
                            <div class="container">
                                <div class="input-field row s12">
                                    <select id="ddlStates" name="stateId" data-stateid="@Model.StateId" data-bind="value : selectedState, event:{change: selectState}">
                                        <option value="0">Select State</option>
                                        @if (Model.States != null)
                                        {
                                            foreach (var state in Model.States)
                                            {
                                                <option value="@state.StateId">@state.StateName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="input-field row s12">
                                    <select id="ddlMakes" name="makeId" data-makeid="@Model.MakeId" data-bind="value : selectedMake, event:{change: selectMake}">
                                        <option value="0">Select Make</option>
                                        @if (Model.BikeMakes != null)
                                        {
                                            foreach (var make in Model.BikeMakes)
                                            {
                                                <option value="@make.MakeId">@make.MakeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="input-field row s12">
                                    <select id="ddlModels" name="modelId" data-modelid="@Model.ModelId" data-bind="value:selectedModel, options:modelList, optionsText:'Name',optionsValue:'Id', optionsCaption : 'Select Model'">
                                    </select>
                                </div>
                                <div class="input-field row s12">
                                    <button id="btnShow" class="btn waves-effect waves-light" type="submit" data-bind="enable : selectedState() != 0 && selectedMake() && selectedMake() != 0 && selectedModel() && selectedModel() >= 0">
                                        Show
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s2 @(priceLastUpdatedList == null ? "offset-s10": "")">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b class="card-title-font14">Price Last Updated Codes</b></span>
                    <ul class="collection">
                        <li class="collection-item green darken-4 white-text">Less than or equal to 7 days</li>
                        <li class="collection-item yellow accent-4">Between 7 Days and 15 Days</li>
                        <li class="collection-item orange white-text">Between 15 Days and 1 Month</li>
                        <li class="collection-item red accent-4 white-text">More Than 1 Month</li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <script type="text/javascript" src="~/src/ManagePrice/pricemonitoring.js"></script>
        
    </div>
}