@model Carwale.DTOs.CMS.UserReviews.UserReviewLanding
@using Carwale.UI.PresentationLogic
@using Carwale.Utility
@{ 
    ViewBag.Title = "User Reviews on Cars in India - CarWale";
    ViewBag.Keywords = "car user reviews, car users reviews, customer car reviews, customer car feedback, car reviews, car owner feedback, owner car reviews, owner report, owner comments";
    ViewBag.Description = "Know what users are saying about the car you aspire to buy. Read first hand user feedback on cars in India. Write your own review or write comments on others' reviews to let people know about your experience.";
    ViewBag.Canonical = "https://www.carwale.com" + Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString().Replace("/m/", "/");
    ViewBag.DeeplinkAlternativesAndroid = Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString();
    Layout = "~/views/shared/m/_MLayoutV2.cshtml";
    ViewBag.CustomJS = "~/Views/StaticPartials/m/UserReviews/UserReviewLandingScript.cshtml";
    ViewBag.CustomCss = "~/Views/StaticPartials/m/UserReviews/UserReviewLandingCss.cshtml";
}
    <div data-role="page">
        <section class="container">
            <!--Main container starts here-->
            <div id="main-container">
                <div id="br-cr"><a href="/m/new/" class="normal">New Cars</a><span class="lightgray"> &rsaquo; User Reviews </span></div>
                    <div class="pgsubhead">
                        <h1> User Reviews</h1>
                    </div>
                    <div class="content-box-shadow content-inner-block-10 rounded-corner2 margin-bottom10 text-black">
                        <div class="heading">Search By : </div>
                        <div class="margin-top5">
                            <div class="margin-top10">Make &nbsp;&nbsp; <span id="spnMake" class="text-red"></span></div>
                            <div class="form-control-box margin-bottom10">
                                <select onchange="MakeChanged();" id="ddlMakes" class="form-control">
                                    <option value="0">--Select Make--</option>
                                    @foreach (var make in Model.Makes)
                                    {
                                        <option data-make-name="@Format.RemoveSpecialCharacters(make.MakeName)" value="@make.MakeId">@make.MakeName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="margin-top5">
                            <div class="margin-top10">Model &nbsp;&nbsp; <span id="spnModel" class="text-red"></span></div>
                            <div class="margin-top5">
                                <select id="ddlModels" class="form-control">
                                    <option value="0">--Select Model--</option>
                                </select>
                            </div>
                            <img id="imgLoaderModel" src="/m/images/circleloader.gif" width="16" height="16" style="position: relative; top: 3px; display: none;" />
                        </div>
                        <div class="margin-top10">
                            <input type="button" onclick="redirectToUserReviews()" id="btnSubmit" value="Go" class="btn btn-orange"/>
                        </div>
                        <div class="new-line5"></div>
                    </div>

                    <div id="rate-car-landing">
                        <div class="pgsubhead">
                            <h2>Rate your car</h2>
                        </div>
                        <div class="content-box-shadow box content-inner-block-10 rounded-corner2 margin-bottom10 text-black">
                            <div class="circle-icon-placeholder text-center">
                                <span class="write-icon margin-top25"></span>
                            </div>
                            <p class="text-light-grey font16 margin-top15 margin-bottom15">Rate your car and help others with your experience. Share your ratings and review now!</p>
                            <a data-role="click-tracking" data-event="CWInteractive" data-action="rate_your_car" data-cat="msite_user_review" data-label="" href="javascript:void(0)" class="btn btn-orange btn-xs" data-bind="click: function (d, e) { openCarSelection(); }" rel="nofollow">Select your car to rate</a>
                        </div>

                        <!-- select car starts here -->
                        <div id="select-car-cover-popup" data-bind="with: carSelection" class="cover-window-popup">
                            <div class="ui-corner-top">
                                <div id="close-car-popup" class="cover-popup-back cur-pointer leftfloat" data-bind="click: closeCarPopup">
                                    <span class="cwmsprite back-arrow-white"></span>
                                </div>
                                <div class="cover-popup-header leftfloat">Select car</div>
                                <div class="clear"></div>
                            </div>
                            <div class="car-banner"></div>
                            <div id="select-make-wrapper" class="cover-popup-body" data-bind="visible: currentStep() == 1">
                                <div class="cover-popup-body-head">
                                    <p class="no-back-btn-label head-label inline-block">Select Make</p>
                                </div>
                                <ul class="cover-popup-list with-arrow">
                                    @foreach (var make in Model.NewMakes)
                                    {
                                    <li data-bind="click: makeChanged" data-role="click-tracking" data-event="CWInteractive" data-action="make_selection" data-cat="msite_user_review" data-label="@make.MakeName">
                                    <span data-id="@make.MakeId">@make.MakeName</span></li>
                                    }
                                </ul>
                            </div>

                            <div id="select-model-wrapper" class="cover-popup-body" data-bind="visible: currentStep() == 2">
                                <div class="cover-popup-body-head">
                                    <div data-bind="click: modelBackBtn" class="body-popup-back cur-pointer inline-block">
                                        <span class="cwmsprite back-long-arrow-left"></span>
                                    </div>
                                    <p class="head-label inline-block">Select Model</p>
                                </div>
                                <ul class="cover-popup-list with-arrow" data-bind="foreach: modelArray">
                                    <li data-bind="click: $parent.modelChanged">
                                        <span data-role="click-tracking" data-event="CWInteractive" data-action="model_selection" data-cat="msite_user_review" data-bind="text: ModelName, attr: { 'data-id': ModelId, 'data-label' : ModelName }"></span>
                                    </li>
                                </ul>
                            </div>

                            <div id="select-variant-wrapper" class="cover-popup-body" data-bind="visible: currentStep() == 3">
                                <div class="cover-popup-body-head">
                                    <div data-bind="click: modelBackBtn" class="body-popup-back cur-pointer inline-block">
                                        <span class="cwmsprite back-long-arrow-left"></span>
                                    </div>
                                    <p class="head-label inline-block">Select Variant</p>
                                </div>
                                <ul class="cover-popup-list with-arrow" data-bind="foreach: versionArray">
                                    <li data-bind="click: $parent.versionChanged">
                                        <span data-role="click-tracking" data-event="CWInteractive" data-action="variant_selection" data-cat="msite_user_review" data-label="" data-bind="text: Version, attr: { 'data-id': Id, 'data-label' : Version}"></span>
                                    </li>
                                </ul>
                            </div>
                            <div id="loadingCarImg" data-bind="attr: { class: IsLoading() ? '' : 'hide' }">
                                <div class="m-loading-popup">
                                    <span class="m-loading-icon"></span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <!-- select car ends here -->
                    </div>

                    <div class="pgsubhead">
                        <h2>  Most Reviewed Cars</h2>
                    </div>
                    <div id="divMostReviewed" class="margin-top5">
                        @foreach (var cars in Model.MostReviewdCars)
                        {
                                <a href='@EditorialContent.GetUserReviewUrl(cars.MakeName, cars.MaskingName, isMsite: true)' style="text-decoration: none;">
                                    <div class="text-black box content-box-shadow content-inner-block-5 rounded-corner2 margin-bottom20">
                                        <div class="sub-heading">
                                            <b>@(cars.MakeName + " "+ cars.ModelName)</b>&nbsp;(@cars.TotalReviews)&nbsp;&nbsp;<span class="arr-small">&raquo;</span>
                                        </div>
                                    </div>
                                </a>
                        }
                    </div>
                    <div class="pgsubhead">
                        <h2>  Most Read</h2>
                    </div>
                    <div id="divMostRead" style="padding: 0px 5px;">
                        @{    
                            Html.RenderPartial("~/Views/Shared/m/UserReviews/_UserReviewList.cshtml", Model.MostReadReviews);
                        }
                    </div>
                    <div class="pgsubhead">
                        <h2>Most Helpful</h2>
                    </div>
                    <div id="div1" style="padding: 0px 5px;">
                              @{
                                  Html.RenderPartial("~/Views/Shared/m/UserReviews/_UserReviewList.cshtml", Model.MostHelpfulReviews);
                            }
                    </div>
                    <div class="pgsubhead">
                        <h2> Most Recent</h2>
                    </div>
                    <div id="div2" style="padding: 0px 5px;">
                                @{
                                    Html.RenderPartial("~/Views/Shared/m/UserReviews/_UserReviewList.cshtml", Model.MostRecentReviews);
                                }
                    </div>
                    <div class="pgsubhead">
                        <h2>  Most Rated</h2>
                    </div>
                    <div id="div3" style="padding: 0px 5px;">
                                @{
                                    Html.RenderPartial("~/Views/Shared/m/UserReviews/_UserReviewList.cshtml", Model.MostRatedReviews);
                                }
                    </div>
            </div>
        </section>
    </div>


