@model Bikewale.Models.UsedBikeByModelCityVM
@using Bikewale.Utility;

@if (Model != null && Model.City != null && Model.RecentUsedBikesList != null)
{
    <ul class="grid-12 alpha omega text-black">
        @if (Model.City.CityId == 0)
        {
                <!-- when city is not selected -->
            foreach (var bike in Model.RecentUsedBikesList)
            {
                <li class="grid-4 margin-bottom20">
                    <a class="bw-anchor-link" title="Used @Model.LinkHeading bikes in @bike.CityName" href="javascript:void(0)" data-href="@UrlFormatter.UsedBikesUrlNoCity(bike.MakeMaskingName, bike.ModelMaskingName, bike.CityMaskingName)">Used @Model.LinkHeading bikes in @bike.CityName</a>
                    <p class="margin-top10">@Format.FormatPrice(Convert.ToString(bike.AvailableBikes)) @(bike.AvailableBikes == 1 ? " bike" : " bikes") available</p>
                </li>
            }
        }
        else
        {
                <!-- when city is selected -->
            foreach (var bike in Model.RecentUsedBikesList)
            {
                <li class="grid-4 margin-bottom20">
                    <a class="bw-anchor-link" ref="nofollow" href="javascript:void(0)" data-href="@UrlFormatter.UsedBikesUrl( bike.CityMaskingName, bike.MakeMaskingName, bike.ModelMaskingName, Convert.ToString(bike.ProfileId))"
                       title="@String.Format("{0}, {1} {2} {3}",Convert.ToString(@bike.MakeYear), bike.MakeName, bike.ModelName, bike.VersionName)">
                        @String.Format("{0}, {1} {2} {3}", Convert.ToString(bike.MakeYear), bike.MakeName, bike.ModelName, bike.VersionName)
                    </a>
                    <p class="margin-top10">
                        @Html.Raw("&#x20B9;")
                        <span>@Format.FormatPrice(Convert.ToString(bike.BikePrice))</span>
                    </p>
                </li>
            }
        }
    </ul>
}