@model Bikewale.Models.UserReviews.UserReviewsSearchVM
@using Bikewale.Entities.UserReviews;
@using Bikewale.Utility;
@if (Model.UserReviews != null && Model.ReviewsInfo != null && Model.ReviewsInfo.TotalReviews > 0)
{
    <section>
        <div id="modelReviewsListing" class="container card-bottom-margin" data-readMoreCount="0" data-userReviewsReadCount="@Model.ReviewsReadPerSession">
            <div class="grid-12">
                <div class="content-box-shadow padding-top20">
                    <h2 class="h2-heading padding-left20">@Model.WidgetHeading</h2>
                    <div id="overallTabsWrapper" class="overall-tabs user-review-tabs position-rel">
                        <div id="overallSpecsTab" class="overall-specs-tabs-container">
                            <div class="overall-specs-tabs-wrapper">
                                
                                <a class="@(Model.ActiveReviewCategory.Equals(FilterBy.MostRecent)?"":"active")" href="javascript:void(0)" data-category="2" data-page-num="1" data-count="@Model.ReviewsInfo.MostHelpfulReviews" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Helpful (@Model.ReviewsInfo.MostHelpfulReviews)</a>
                                <a href="javascript:void(0)" class="@(Model.ActiveReviewCategory.Equals(FilterBy.MostRecent)?"active":"")" data-category="1" data-page-num="1" data-count="@Model.ReviewsInfo.MostRecentReviews" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Recent (@Model.ReviewsInfo.MostRecentReviews)</a>
                                <a href="javascript:void(0)" data-cattypes="1,2,3" data-category="6" data-page-num="1" data-count="@Model.ReviewsInfo.NegativeReviews" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Critical (@Model.ReviewsInfo.NegativeReviews)</a>
                                <a href="javascript:void(0)" data-cattypes="4,5" data-category="5" data-page-num="1" data-count="@Model.ReviewsInfo.PostiveReviews" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Positive (@Model.ReviewsInfo.PostiveReviews)</a>

                            </div>
                        </div>
                    </div>
                    <p style="display: none" class="padding-top15 padding-bottom15 margin-right20 margin-left20 border-grey-bottom" data-bind="visible: (activeReviewCategory() == 5 || activeReviewCategory() == 6 || activeReviewCategory() == 7) && reviewsAvailable()">
                        <span class="bwsprite info-sm margin-right5"></span>
                        <span class="font13 text-light-grey inline-block">Reviews are sorted on the basis of helpfulness</span>
                    </p>
                    <!-- ko if: ((activeReviewList() && activeReviewList().length > 0) || IsLoading()) -->
                    <div></div>
                    <div class="review-list-wrapper position-rel" style="display: @(Model.Pager != null && Model.Pager.TotalResults > 0 ? "block" : "none")" data-bind="visible: reviewsAvailable()">
                        <ul class="user-review-list" data-bind="visible : (!noReviews() && TotalReviews() !== 0), css: IsLoading() ? 'loader-active' : ''">
                            @{ushort i = 0;}
@if (Model.UserReviews.Result != null && Model.UserReviews.Result.Any())
{
    foreach (UserReviewSummary review in Model.UserReviews.Result)
    {

        if (@i == 0)
        {
                                <!-- ko foreach: activeReviewList() -->
        }

        <li class="list-item" data-bind="attr : {'data-reviewId': $data.reviewId}, css: $data.isRatingQuestion ? 'rating-question-present': 'rating-question-absent'" data-reviewid="@review.ReviewId">

            <div class="list-left-grid item-grid alpha padding-right20 @(review.IsRatingQuestion ? "grid-9 border-light-right" : "grid-12")">
                <div class="margin-bottom10">
                    <!-- ko with: $data.overallRating -->
                    <span class="rating-badge" data-rate-bg="@review.OverallRating.Value" data-bind="attr: {'data-rate-bg': id }">
                        <span class="bwsprite star-white"></span>&nbsp;<span data-bind="text: value">@review.OverallRating.Value</span>
                    </span>
                    <!-- /ko -->
                    <a onclick="logBhrighu(event, 'TitleClick')" href="@review.ReviewUrl" data-bind="attr : {'data-reviewId': $data.reviewId ,'title' : $data.title,'href' : $data.reviewUrl}, truncatedText: $data.title" class="list-item-title inline-block margin-right5" data-id="@i" data-reviewid="@review.ReviewId">@review.Title.Truncate(65)</a>
                    <span class="font12 inline-block text-light-grey" data-bind="text: $data.reviewAge + ' ago by '"></span>&nbsp;<span class="font12 inline-block text-light-grey" data-bind="trimText : $data.customerName">@review.ReviewAge ago by @review.CustomerName.Truncate(25)</span>
                </div>
                <div class="collapsible-content toggle-off main-content-off font14 text-slate-grey" data-bind="attr: {'data-reviewId': $data.reviewId }">
                    <div class="main-content" data-trimlength="270" data-bind="truncatedText: $data.sanitizedDescription">
                        @string.Format("{0}...", review.SanitizedDescription)
                    </div>
                    <div class="more-content">
                        <span data-bind="html: $data.description">
                            @Html.Raw(review.Description)
                        </span>

                        @if (review.Questions != null)
                        {
                            <ul class="rating-circle-list page-load-list" data-bind="visible: !$root.IsInitialized()">

                                @foreach (UserReviewQuestion ques in review.Questions)
                                {
                                    if (ques.Type == UserReviewQuestionType.Review)
                                    {
                                        <li>
                                            <div class="rating-circle circle-rate-@ques.SelectedRatingId">
                                                <p class="circle-label">@ques.SelectedRatingId</p>
                                                <span class="rating-progress">
                                                </span>
                                            </div>
                                            <p class="list-item-label">@ques.Heading</p>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                        <!-- ko if : $data && $data.questions && $data.questions.length > 0  -->
                        <ul class="rating-circle-list ko-list hide" data-bind="css: $data ? 'show' : 'hide'">
                            <!-- ko foreach: $data.questions -->
                            <!-- ko if : $data.qtype == 2 -->
                            <li>
                                <div data-bind="css: 'rating-circle circle-rate-' +  $data.selectedRatingId, visible: $root.IsInitialized()">
                                    <p class="circle-label" data-bind="text: $data.selectedRatingId"></p>
                                    <span class="rating-progress">
                                    </span>
                                </div>
                                <p class="list-item-label" data-bind="text: $data.heading"></p>
                            </li>
                            <!-- /ko -->
                            <!-- /ko -->
                        </ul>
                        <!-- /ko -->
                        <div class="review-block">

                            <span class="review__question">Was this review helpful?</span>

                            <button class="feedback-button" id="upvoteBtn-@review.ReviewId" data-reviewid="@review.ReviewId" data-bind="attr: {id: 'upvoteBtn-' + $data.reviewId, 'data-reviewId': $data.reviewId }" onclick="upVoteListReview(event)">

                                <span class="bwsprite like-sm"></span>
                                Yes
                                (<span id="upvoteCount-@review.ReviewId" class="btn-count" data-bind="attr: { id: 'upvoteCount-' + $data.reviewId}, formattedVotes : $data.upVotes">@Format.FormatNumbers(review.UpVotes)</span>)
                            </button>


                            <button class="feedback-button" id="downvoteBtn-@review.ReviewId" data-reviewid="@review.ReviewId" data-bind="attr: { id: 'downvoteBtn-' + $data.reviewId, 'data-reviewId': $data.reviewId }" onclick="downVoteListReview(event)">
                                <span class="bwsprite dislike-sm"></span>
                                No
                                (<span id="downvoteCount-@review.ReviewId" class="btn-count" data-bind="attr: { id: 'downvoteCount-' + $data.reviewId}, formattedVotes : $data.downVotes">@Format.FormatNumbers(review.DownVotes)</span>)
                            </button>
                            <p class="report-abuse-label rightfloat line-height26" id="pReport-@review.ReviewId">Inappropriate review? <a href="javascript:void(0)" data-reviewid="@review.ReviewId" onclick="reportReview(event)" rel="nofollow">Report Abuse</a></p>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <a href="javascript:void(0)" class="read-more-target block" data-bind="click: function (data, event) { return $parent.readMore(event);}, css: 'read-more-target', visible : $data.description, attr: {'data-reviewId': $data.reviewId }" rel="nofollow" data-reviewid="@review.ReviewId" data-id="@i">Read more</a>
                </div>

            </div>
            <div class="list-right-grid grid-3 omega padding-left20">
                @if (review.Questions != null)
                {
                    <ul class="page-load-list" data-bind="visible: !$root.IsInitialized()">
                        @foreach (UserReviewQuestion ques in review.Questions)
                        {
                            if (ques.Type == UserReviewQuestionType.Rating)
                            {
                                <li class="margin-bottom10">
                                    <span class="bwsprite questionId-@ques.Id"></span>
                                    <div class="inline-block">
                                        <p class="font10 text-xt-light">@ques.MinHeading</p>
                                        <p class="font14 text-slate-grey">@ques.SelectedRatingText</p>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                }

                <!-- ko if : $data && $data.questions && $data.questions.length > 0 -->
                <ul class="hide" data-bind="css: $data ? 'show' : 'hide'">
                    <!-- ko foreach: $data.questions -->
                    <!-- ko if : $data.qtype == 1 -->
                    <li class="margin-bottom10">
                        <span data-bind="css: 'bwsprite questionId-' +  $data.qId "></span>
                        <div class="inline-block">
                            <p class="font10 text-xt-light" data-bind="text: $data.minHeading"></p>
                            <p class="font14 text-slate-grey" data-bind="text: $data.selectedRatingText"></p>
                        </div>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>
                <!-- /ko -->

            </div>
            <div class="clear insertWidget" data-bind="attr: {'data-reviewId': $data.reviewId }"></div>
        </li>
        if (@i == 0)
        {
                                <!-- /ko -->
        }
        i++;
    }
}
                            
                        </ul>

                        @if (Model.IsPagerNeeded && ((Model.Pager.PageNo - 1) * Model.Pager.PageSize + 1) < Model.Pager.TotalResults)
                        {
                            <div class="padding-right20 padding-bottom10 padding-left20">
                                <div class="footer-pagination font14 border-solid-top padding-top10">
                                    <div class="grid-5 alpha omega text-light-grey" data-bind="visible: TotalReviews() > 0">
                                        <p><span class="text-bold" data-bind="CurrencyText: (Pagination().pageNumber() - 1) * Pagination().pageSize() + 1">@((Model.Pager.PageNo - 1) * Model.Pager.PageSize + 1)</span>-<span class="text-bold" data-bind="CurrencyText: Math.min(TotalReviews(), Pagination().pageNumber() * Pagination().pageSize())">@Math.Min((Model.Pager.PageNo) * Model.Pager.PageSize, Model.Pager.TotalResults)</span>&nbsp;of&nbsp;<span class="text-bold" data-bind="CurrencyText: TotalReviews()">@Model.Pager.TotalResults</span>&nbsp;reviews</p>
                                    </div>
                                    <div id="pagination-list-content" class="grid-7 alpha omega position-rel rightfloat pagination-list-content" data-bind="visible: TotalReviews() > 0">
                                        @if (Model.Pager.TotalResults > 10)
                                        {
                                            Html.RenderAction("Index", "Pager", new { objPager = Model.Pager });
                                        }
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        }
                        else if (!Model.IsPagerNeeded)
                        {
                            <div class="view-all-btn-container margin-left20 padding-bottom20">
                                <a title="Read more reviews" class="bw-ga btn view-all-target-btn" href="@string.Format("/{0}-bikes/{1}/reviews/", Model.ReviewsInfo.Make.MaskingName, Model.ReviewsInfo.Model.MaskingName)">Read more reviews<span class="bwsprite teal-right"></span></a>
                            </div>
                        }

                        <div class="spinner-full-width" style="display: none" data-bind="visible : IsLoading()">
                            <div class="spinner-content">
                                <svg class="bw-spinner" width="50px" height="50px" viewBox="0 0 50 50">
                                    <circle class="circle-path" fill="none" stroke-width="4" stroke-linecap="round" cx="25" cy="25" r="22"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot :  activeReviewList() && activeReviewList().length > 0 -->
                    <div class="content-inner-block-20 text-center" style="display: @(Model.Pager!=null && Model.Pager.TotalResults > 0 ? "none" : "block")" data-bind="visible: !reviewsAvailable()">
                        <div class="circle-placeholder-80">
                            <span class="bwsprite review-lg margin-top25"></span>
                        </div>
                        <p class="font14 text-light-grey margin-top20">There are no <span data-bind="text: categoryName"></span> reviews for this bike</p>
                    </div>
                    <!-- /ko -->
                    <div id="listingFooter"></div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <div id="report-abuse">
        <p class="font20 text-bold text-center margin-bottom20">Why do you want to report it abuse?</p>

        <span class="bwsprite report-abuse-close-btn"></span>

        <p class="margin-bottom10 font14">Comment</p>

        <textarea id="txtAbuseComments"></textarea>
        <span id="spnAbuseComments" class="error font12 text-red"></span>

        <div class="text-center margin-top10">
            <a id="btnReportReviewAbuse" onclick="reportAbuse()" class="btn btn-orange" rel="nofollow">Report</a>
        </div>
    </div>
    <div id="report-background"></div>

                                }
                                else
                                {
                                    <section>
                                        <div class="container card-bottom-margin">
                                            <div class="grid-12">
                                                <div class="content-box-shadow">
                                                    <h2 class="h2-heading padding-15-20 content-box-shadow">@Model.WidgetHeading</h2>
                                                    <div class="content-inner-block-20 text-center">
                                                        <div class="circle-placeholder-80">
                                                            <span class="bwsprite write-icon margin-top20"></span>
                                                        </div>
                                                        <p class="font14 text-light-grey margin-top20 margin-bottom15">There are no reviews for this bike. Be the first one to share your experience.</p>
                                                        <a href="/rate-your-bike/@Model.ModelId/?q=@Model.WriteReviewLink" class="btn btn-white btn-auto-32">Write a review</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </section>
                                }

