@model Bikewale.Models.UserReviews.UserReviewListingVM
@using Bikewale.Utility;
@using Bikewale.Entities.UserReviews;
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/m/user-review/listing.css' inline>";
    Model.Page_JS_Path = "/m/src/user-review/listing.js";
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_UserReviews";
    Model.AdTags.AdId = "1493795506249";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section id="section-review-list" data-modelid="@Model.ModelId" data-makeid="@(Model.RatingReviewData != null && Model.RatingReviewData.ReviewDetails != null && Model.RatingReviewData.ReviewDetails.Make != null ? Model.RatingReviewData.ReviewDetails.Make.MakeId : 0)" data-expertReviewCount="@Model.RatingsInfo.ExpertReviewsCount">
    <div id="modelName" data-modelName="@Model.RatingsInfo.Model.ModelName" data-makeName="@Model.RatingsInfo.Make.MakeName" class="content-box-shadow padding-15-20 margin-bottom5">
        <h1 class="font20">@Model.BikeName Reviews</h1>
    </div>

    <div class="bw-tabs-panel">
        @if (Model.RatingsInfo.ExpertReviewsCount > 0)
        {
            <div class="bw-tabs-content">
                <ul class="bw-tabs tabs-type-switch">
                    <li data-tabs="userReviewContent" class="active">User Reviews</li>
                    <li data-tabs="expertReviewContent">Expert Reviews</li>
                </ul>
            </div>
        }
        <div id="userReviewContent" class="bw-tabs-data">
            <div class="content-box-shadow card-bottom-margin">
                <div class="padding-15-20">
                    <div class="bike-details-card">
                        <a href="/m@(UrlFormatter.BikePageUrl(Model.RatingsInfo.Make.MaskingName, Model.RatingsInfo.Model.MaskingName))" title="@Model.BikeName Reviews" class="left-grid-image inline-block">
                            <img src="@Image.GetPathToShowImages(Model.RatingsInfo.OriginalImagePath, Model.RatingsInfo.HostUrl, ImageSize._110x61, QualityFactor._65)" alt="@Model.BikeName Reviews" />
                        </a>
                        <div class="right-grid-details inline-block">
                            <h2 class="margin-bottom5 font12">
                                <a href="/m@(UrlFormatter.BikePageUrl(Model.RatingsInfo.Make.MaskingName, Model.RatingsInfo.Model.MaskingName))" title="@Model.BikeName" class="text-black">@Model.BikeName</a>
                            </h2>
                            <p class="font11 text-light-grey">@(Model.ReviewsInfo.IsDiscontinued ? "Last known " : "") Ex-showroom, @BWConfiguration.Instance.DefaultName</p>
                            @Html.Raw("<span class='font16'> &#x20B9;</span>")<span class='text-bold font16'>&nbsp;@Format.FormatPrice(Model.RatingReviewData.Price.ToString())</span>
                        </div>
                    </div>
                    <div class="grid-inline-container">

                        <div class="grid-5-inline padding-right15">
                            <div class="overall-rating-box text-center">
                                <div class="table-cell">
                                    <p class="font12 text-default margin-bottom10">Overall rating:</p>
                                    <div class="margin-bottom10 rate-count-@Math.Round(Model.RatingsInfo.OverallRating)">
                                        <span class="star-icon"></span>
                                        <span class="font26 text-bold inline-block">@Model.RatingsInfo.OverallRating.ToString("0.0")</span>
                                    </div>
                                    <div class="font12 text-slate-grey border-light-top padding-top10">
                                        @if (Model.IsRatingsAvailable)
                                        {
                                            <p class="margin-bottom5">@Model.RatingsInfo.TotalRatings @(Model.RatingsInfo.TotalRatings > 1 ? "ratings" : "rating")</p>
                                        }
                                        @if (Model.IsReviewsAvailable)
                                        {
                                            <p>@Model.RatingsInfo.TotalReviews @(Model.RatingsInfo.TotalReviews > 1 ? "reviews" : "review")</p>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-7-inline">
                            <ul class="horizontal-rating-graph margin-neg5">
                                <li>
                                    <span class="bwmsprite star-0"></span>
                                    <span class="star-label">&nbsp;5&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.FiveStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-5"></span>
                                    </span>
                                    <span class="graph-bar-count">@Model.RatingsInfo.FiveStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwmsprite star-0"></span>
                                    <span class="star-label">&nbsp;4&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.FourStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-4"></span>
                                    </span>
                                    <span class="graph-bar-count">@Model.RatingsInfo.FourStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwmsprite star-0"></span>
                                    <span class="star-label">&nbsp;3&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.ThreeStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-3"></span>
                                    </span>
                                    <span class="graph-bar-count">@Model.RatingsInfo.ThreeStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwmsprite star-0"></span>
                                    <span class="star-label">&nbsp;2&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.TwoStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-2"></span>
                                    </span>
                                    <span class="graph-bar-count">@Model.RatingsInfo.TwoStarRatings</span>
                                </li>
                                <li>
                                    <span class="bwmsprite star-0"></span>
                                    <span class="star-label">&nbsp;1&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: @(Model.RatingsInfo.OneStarRatings * 100 / Model.RatingsInfo.MaximumRatings)%" class="rating-bar bg-rate-1"></span>
                                    </span>
                                    <span class="graph-bar-count">@Model.RatingsInfo.OneStarRatings</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @if (Model.ObjQuestionValue != null && Model.ObjQuestionValue.QuestionsList.Any())
                {
                    <div class="rating-parameters-content">
                        <p class="rating-circle-list-title">Rating Parameters:</p>
                        <div class="rating-overflow-container">
                            <ul class="rating-circle-list">
                                @foreach (QuestionRatingsValueEntity ques in Model.ObjQuestionValue.QuestionsList)
                                {
                                    <li>
                                        <div class="rating-circle circle-rate-@Math.Floor(ques.AverageRatingValue)">
                                            <p class="circle-label">@Math.Floor(ques.AverageRatingValue)</p>
                                            <span class="rating-progress"></span>
                                        </div>
                                        <p class="list-item-label">@ques.QuestionHeading</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <section>
                <div id="bike-rating-box" class="container content-box-shadow card-bottom-margin content-inner-block-20 contest-card">
                    <h2 class="margin-bottom10">Bike Review Contest</h2>
                    <div class="border-solid-bottom padding-bottom15 margin-bottom15">
                        <div class="trophy-icon-wrapper">
                            <span class="trophy-white-26"></span>
                        </div><p class="contest-slug__label">Write a review and stand a chance to win Amazon vouchers worth &#x20B9;@Format.FormatPrice(BWConfiguration.Instance.ContestPriceMoney)</p>
                    </div>
                    <p class="font14 text-black inline-block line-height25">Rate this bike now</p>
                    <div class="answer-star-list inline-block text-right">
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=5&sourceid={1}", Model.PageUrl, (int)UserReviewPageSourceEnum.Mobile_UserReview_Listing))" type="radio" id="rate-star-5" name="rate-bike" value="5">
                        <label class="bwmsprite star-0" for="rate-star-5" data-value="5"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=4&sourceid={1}", Model.PageUrl, (int)UserReviewPageSourceEnum.Mobile_UserReview_Listing))" type="radio" id="rate-star-4" name="rate-bike" value="4">
                        <label class="bwmsprite star-0" for="rate-star-4" data-value="4"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=3&sourceid={1}", Model.PageUrl, (int)UserReviewPageSourceEnum.Mobile_UserReview_Listing))" type="radio" id="rate-star-3" name="rate-bike" value="3">
                        <label class="bwmsprite star-0" for="rate-star-3" data-value="3"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=2&sourceid={1}", Model.PageUrl, (int)UserReviewPageSourceEnum.Mobile_UserReview_Listing))" type="radio" id="rate-star-2" name="rate-bike" value="2">
                        <label class="bwmsprite star-0" for="rate-star-2" data-value="2"></label>
                        <input data-querystring="@Utils.Utils.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=1&sourceid={1}", Model.PageUrl, (int)UserReviewPageSourceEnum.Mobile_UserReview_Listing))" type="radio" id="rate-star-1" name="rate-bike" value="1">
                        <label class="bwmsprite star-0" for="rate-star-1" data-value="1"></label>
                    </div>
                </div>
            </section>

            @if (Model.UserReviews != null && Model.UserReviews.UserReviews != null && Model.UserReviews.UserReviews.Result != null && Model.UserReviews.UserReviews.Result.Count() > 0)
            {
                @Html.Partial("~/Views/UserReview/_UserReviewsSearch_Mobile.cshtml", Model.UserReviews)
            }
            @if(Model.AdTags.Ad_300x250BTF){
            <div class="margin-bottom20 text-center">
                @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", new { AdId = Model.AdTags.AdId });}
            </div>
            }
            @if (Model.ExpertReviews != null && Model.ExpertReviews.FetchedCount > 0)
            {
                <section>
                    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2 class="h2-heading">@Model.ExpertReviews.Title</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="/m@(Model.ExpertReviews.MoreExpertReviewUrl)" title="@string.Format(@"{0} {1} Expert Reviews", Model.RatingsInfo.Make.MaskingName, Model.RatingsInfo.Model.MaskingName)" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>

                        @Html.Partial("~/views/ExpertReviews/_ExpertReviewsModelWiseCard_Mobile.cshtml", Model.ExpertReviews)

                    </div>
                </section>
            }

            @if (Model.SimilarBikesWidget != null && Model.SimilarBikesWidget.SimilarBikes != null && Model.SimilarBikesWidget.SimilarBikes.Count() > 0)
            {
                <section>
                    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2 class="h2-heading">Reviews of similar bikes</h2>
                            </div>
                            <div class="clear"></div>
                        </div>

                        @Html.Partial("~/views/UserReview/_SimilarBikeUserReview_Mobile.cshtml", Model.SimilarBikesWidget)

                    </div>
                </section>}
        </div>

        <div id="expertReviewContent" class="bw-tabs-data hide">
            <div id="expert-review-ul" class="content-box-shadow card-bottom-margin">
            </div>

            <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>@string.Format("Popular {0} bikes", Model.ReviewsInfo.Make.MakeName)</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m/{0}-bikes/", Model.ReviewsInfo.Make.MaskingName)" title="@Model.ReviewsInfo.Make.MakeName Bikes" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="popular-bikes-widget" class="section-loader-container">
                    <div class="section-spinner" data-bind="visible : IsLoading()"></div>
                </div>
            </div>

            <div id="popular-bodystyle-bikes-widget" class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Popular&nbsp;@Model.RatingReviewData.RatingDetails.BodyStyle@(Model.RatingReviewData.RatingDetails.BodyStyle.Equals(Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter) ? "s" : " bikes")</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m{0}", UrlFormatter.FormatGenericPageUrl(Model.RatingReviewData.RatingDetails.BodyStyle))" title="Best Bikes in India" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="popular-bodystyle-bikes-list" class="section-loader-container">
                    <div class="section-spinner" data-bind="visible : IsLoading()"></div>
                </div>
            </div>
        </div>

        @if (Model.objMoreAboutScooter != null)
        {
            <div id="moreAboutScooter" class="content-box-shadow padding-top20 padding-bottom20 card-bottom-margin font14">
                <div class="swiper-container card-container model-related-swiper swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        @Html.Partial("~/Views/Scooters/_ModelRelatedCard_Mobile.cshtml", Model.objMoreAboutScooter)
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<input type="hidden" id="pageSource" value="@((int)UserReviewPageSourceEnum.Mobile_UserReview_Listing)" />