@model Bikewale.Models.UserReviews.UserReviewsOtherDetailsPageVM

@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/sass/user-review/write-review.css' inline />";
    Model.Page_JS_Path = "/UI/src/user-review/write-review.js";
    Layout = "~/UI/Views/Shared/_Layout.cshtml";
    Model.ExcludeContestSlug = true;
}

<script type="text/javascript">
	var slideCountOne = 1;
</script>

@if (Model != null && Model.Make != null && Model.Model != null)
{
    <form action="/user-reviews/save/" method="post" id="writereviewform">
        <section>
            <div id="write-review-form" class="container section-bottom-margin font14 margin-top20">
                <div class="grid-12">
                    <div class="content-box-shadow">
                        <div class="content-box-shadow padding-15-20 content-box-head">
                            <p class="font22 text-black text-bold inline-block">Write a review for @Model.Make.MakeName @Model.Model.ModelName</p>
                        </div>


                        <div class="grid-12 alpha omega ">
                            <div class="other-review-block">
                                <div class="other-review__title">
                                    <span class="margin-left20 thumb-icon"></span>
                                    <span class="margin-left15 text-bold">Thank you, @Model.UserName</span>
                                    <span class="margin-left10 text-light-grey">Your review has been recorded. Tell us more about your bike.</span>
                                </div>

								<div class="jcarousel-wrapper inner-content-carousel carousel-type-questions">
									<div class="jcarousel">
                                @if (Model.QuestionsList != null && Model.QuestionsList.Count() > 0)
                                {
                                    var j = 1;
                                    <ul id="bike-review-questions" data-make-model="@string.Format("{0}_{1}_", Model.Make.MakeName, Model.Model.ModelName)" class="other-review-question review-question-list margin-bottom5">
										<li class="list-item question-type-text" data-btn-text="Continue">
                                            <p class="item-title">What mileage does your bike offer?</p>
                                            <p class="font12 text-light-grey margin-bottom20">(@j of 6)</p>

                                            <div class="mileage-slider-box">
                                                <p class="slider-text__left">0 kmpl</p>
                                                <p class="slider-text__right">150 kmpl</p>
                                                <div class="clear"></div>
                                                    <div id="mileageSlider" class="bw-ga" data-bind="KOSlider: bikeMileage, sliderOptions: { range: 'min', value: 50, min: 0, max: 150, step: 1 }">
                                                    <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                                    <span class="ui-slider-handle ui-state-default ui-corner-all">
                                                        <span class="position-rel">
                                                            <span id="mileage-slider__text" class="ui-slider__text" data-bind="text: (typeof bikeMileage() !== 'undefined') ? bikeMileage() + ' Kmpl' : '50 Kmpl'"></span>
                                                        </span>
                                                        <input name="mileage" type="hidden" type="number" id="getMileage" data-bind="value: bikeMileage" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <a href="javascript:void(0)" data-bind="click : updateMileage" class="other-review__button-block" title="" rel="nofollow">Continue</a>
                                            </div>

                                        </li>
                                        @foreach (var ques in Model.QuestionsList)
                                        {

                                            <li class="list-item question-type-text" data-btn-text="">
                                                <p class="item-title">@ques.Description</p>
                                                <p class="font12 text-light-grey margin-bottom20">(@(j + 1) of 6)</p>
                                                <div>
                                                    @if (ques.Rating != null && ques.Rating.Any())
                                                    {
                                                        var i = 1;
                                                        foreach (var rating in ques.Rating)
                                                        {

                                                            <div class="rating-face-list">
                                                                <input type="radio" questiontId="@ques.Id" id="review-@j-@i" name="review-q-@j" value="@i" />
                                                                <label data-bind="click : updateOptionRatings" for="review-@j-@i" name="review-q-@j" data-value="@i">
                                                                    @rating.Text
                                                                </label>
                                                            </div>
                                                            i++;
                                                        }
                                                    }
                                                </div>
                                                <div class="clear"></div>
                                                <div class="margin-top20 text-center">
                                                    @if(j != 5)
                                                    {
                                                         <a href="javascript:void(0)" class="other-review__button-block" rel="nofollow">Skip this question</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:void(0)" data-bind="click : function() { submitReview(); document.getElementById('writereviewform').submit(); }" class="other-review__button-block" rel="nofollow">Submit</a>
                                                    }
                                                   
                                                </div>
                                            </li>
                                            j++;
                                        }
                                    </ul>
                                }

										<span class="jcarousel-control-left">
											<a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
										</span>
										<span class="jcarousel-control-right">
											<a href="#" class="bwsprite jcarousel-control-next" rel="nofollow" ></a>
										</span>

										<div class="clear"></div>
									</div>
								</div>

                               
                                <input type="hidden" id="reviewQuestion" name="reviewQuestion" />
                                <input type="hidden" name="reviewDescription" value="" />
                                <input type="hidden" id="reviewId" name="reviewId" value="@Model.ReviewId" />
                                <input type="hidden" id="encodedId" name="encodedId" value="@Bikewale.Utility.TripleDES.EncryptTripleDES(string.Format("customerid={0}&reviewid={1}", Model.CustomerId, Model.ReviewId))" />
                                <input type="hidden" name="userName" value="@Model.UserName" />
                                <input type="hidden" name="emailId" value="@Model.EmailId" />
                                <input type="hidden" name="makeName" value="@Model.Make.MakeName" />
                                <input type="hidden" name="modelName" value="@Model.Model.ModelName" />
                                <input type="hidden" name="encodedString" value="@Model.EncodedWriteUrl" />
                                <input type="hidden" name="queryEncoded" value="@Model.EncodedWriteUrl" />
                                <input type="hidden" name="isDesktop" value="true" />
                                <input type="hidden" id="overAllRatings" value="@Model.Rating.Value" />
                                <input type="hidden" id="pageSourceId" value="@Model.PageSourceId" />
                                <input type="hidden" id="contestSrc" value="@Model.ContestSrc" />
                                <input type="hidden" name="fromParametersRatingScreen" value="true" />
                                @Html.AntiForgeryToken()
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <span id="previousPageUrl" class="hide">@Model.PreviousPageUrl</span>
            <span id="returnUrl" class="hide">@Model.ReturnUrl</span>
        </section>
    </form>
}

<script type="text/javascript">
    var page = "otherDetails";
    var vmWriteReview;
    window.addEventListener("beforeunload", function (event) {
        vmWriteReview.SaveToBwCache();
    });
</script>
