@model Bikewale.Models.UserReviewRatingVM
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/sass/user-review/write-review.css' inline />";
    Model.Page_JS_Path = "/m/src/user-review/write-review.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    string gaLabel = string.Format("{0}_{1}_{2}", Model.objModelEntity.MakeBase.MakeName, Model.objModelEntity.ModelName, Model.SourceId);   
}

<section>
	<div class="contest-slug-sm slug-grey-info">
		<span class="bwmsprite trophy-grey"></span>
		<p class="contest-slug__label">Rate and write a detailed review &amp; stand a chance to win Amazon vouchers worth &#x20B9;@Bikewale.Utility.Format.FormatPrice(Bikewale.Utility.BWConfiguration.Instance.ContestPriceMoney).</p>
	</div>
</section>

<section>
    <div id="rate-bike-form" class="container content-box-shadow card-bottom-margin font14">
        <div class="padding-10-20 content-box-shadow">
            <div class="model-image-grid inline-block position-rel">
                @*<p class="model-ribbon discontinued-ribbon">Discontinued</p>*@
                <img src="@Bikewale.Utility.Image.GetPathToShowImages(Model.objModelEntity.OriginalImagePath, Model.objModelEntity.HostUrl, Bikewale.Utility.ImageSize._110x61, Bikewale.Utility.QualityFactor._70)" alt="@Model.objModelEntity.MakeBase.MakeName @Model.objModelEntity.ModelName" />
            </div>
            <h1 class="model-details-grid inline-block">@Model.objModelEntity.MakeBase.MakeName @Model.objModelEntity.ModelName</h1>
        </div>
        <form action="/user-reviews/ratings/save/" method="post">
            <div class="content-inner-block-20">
                <div id="bike-rating-box" data-selectedrating="@Model.SelectedRating"  data-make-model="@string.Format("{0}_{1}_",Model.objModelEntity.MakeBase.MakeName, Model.objModelEntity.ModelName)" class="margin-bottom15 border-light border-radius-10">					
					<div class="rating-box-top">
						<div class="table-middle">
							<!-- ko if: ratingCount() == 0 -->
							<div class="circle-placeholder inline-block">
								<span class="bwmsprite share-rating"></span>
							</div>
							<!-- /ko -->
							<!-- ko if: ratingCount() > 0 -->
							<span class="rating-feedback" data-bind="css: 'feedback-' + ratingCount()"></span>
							<!-- /ko -->
							<div class="feedback-grid inline-block">
								<h2 class="font-bold text-default" data-bind="text: feedbackTitle">Rate this bike</h2>
								<!-- ko if: ratingCount() == 0 -->
								<p class="margin-top5 font12 text-slate-grey">Consider looks &amp; styling, performance, experience, mileage etc. before you rate.</p>
								<!-- /ko -->
								<p class="margin-top5 font12 text-slate-grey" data-bind="text: feedbackSubtitle"></p>
							</div>
							<p class="error-text text-center" data-bind="visible: validateRatingCountFlag() && ratingCount() == 0, text: ratingErrorText"></p>
						</div>
					</div>
					<div class="rating-placeholder">
						<div class="answer-star-list" data-bind="foreach: overallRating.slice(0).reverse()">
							<input type="radio" name="rate-box" data-bind="attr: {id: 'rate-' + ($root.overallRating().length - $index()), value: ($root.overallRating().length - $index())}" />
							<label class="bwmsprite star-zero" data-bind="attr: {for: 'rate-' + ($root.overallRating().length - $index()), 'data-value': ($root.overallRating().length - $index())}"></label>
						</div>
					</div>
                </div>

                <div id="rate-bike-questions" class="margin-bottom10 border-solid-bottom" data-bind="foreach: ratingQuestions">
                    <!-- ko if: displayType == 2 -->
                    <div class="question-field question-type-text" data-bind="visible: visibility, attr:{id: 'question-' + qId, 'data-sub-question': subQuestionId, 'data-required': isRequired}">
                        <h3 class="question-item" data-bind="text: heading"></h3>
                        <p class="error-text" data-bind="" style="display: none">This is a compulsory field.</p>

                        <div class="answer-radio-list" data-bind="foreach: rating">
                            <input type="radio" data-bind="attr: {questionId:$parentContext.$index()+1,id: 'q-' + $parentContext.$index() + '-' + $index(), name: 'rating-q-' + $parentContext.$index(),value:ratingValue,'data-checked' : (ratingValue == $parentContext.$data.selectedRatingId) ? 'true' : 'false'} " />
                            <label data-bind="attr: {for: 'q-' + $parentContext.$index() + '-' + $index(), 'data-value': ratingValue}, text: ratingText"></label>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- /ko -->
                </div>

                <div class="margin-bottom20">
                    <h2 class="margin-bottom10">Personal details</h2>
                    <p class="text-slate-grey">We wish to credit this rating to you. We will never spam your inbox.</p>
                </div>

                <div class="input-box form-control-box margin-bottom15  bw-ga" data-cat="Rate_Bike" data-act="Name_Field_Focus" data-lab="@gaLabel" data-bind="css: userName().length > 0 ? 'not-empty' : ''">
                    <input type="text" id="txtUserName" name="userName" data-bind="textInput: userName" value="@(string.IsNullOrEmpty(Model.CustomerName) ? "" : Model.CustomerName)" />
                    <label for="getUserName">Name<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text"></span>
                </div>

                <div class="input-box form-control-box margin-bottom15   bw-ga" data-cat="Rate_Bike" data-act="Email_Field_Focus" data-lab="@gaLabel" data-bind="css: emailId().length > 0 ? 'not-empty' : ''">
                    <input type="email" id="txtEmailID" name="emailId" data-bind="textInput: emailId" value="@(string.IsNullOrEmpty(Model.CustomerEmail) ? "" : Model.CustomerEmail)" />
                    <label for="getEmailID">Email ID<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text"></span>
                </div>
                <input type="hidden" id="overallratingQuestion" value="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(Model.OverAllRatingText)" />
                <input type="hidden" id="rating-question" value="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(Model.RatingQuestion)" />
                <input type="hidden" name="overAllrating" id="finaloverallrating" />
                <input type="hidden" name="reviewed-rating" id="reviewedoverallrating" value="@Model.ReviewsOverAllrating" />
                <input type="hidden" name="UtmzCookieValue" value='@Model.UtmzCookieValue' />
                <input type="hidden" name="modelId" value="@Model.objModelEntity.ModelId" />
                <input type="hidden" name="makeId" value="@Model.objModelEntity.MakeBase.MakeId" />
                <input type="hidden" name="ratingQuestionAns" id="rating-quesition-ans"/>
                <input type="hidden" name="priceRangeId" value="@Model.PriceRangeId" />                
                <input type="hidden" name="reviewId" value="@Model.ReviewId" />
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <input type="hidden" name="sourceId" id="pageSourceId" value="@Model.SourceId" />
                <input type="hidden" name="contestSrc" id="contestSrc" value="@Model.ContestSrc" />
                <input type="hidden" name="platformId" value="2" />
                <input type="submit" class="btn btn-orange" value="Submit rating" data-bind="click: submitRating" />                          
            </div>
            @Html.AntiForgeryToken()
        </form>  
    </div>
</section>

