@model Bikewale.Models.UserReviewRatingVM
@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/write-review.css' />";
    Model.Page_JS_Path = "/src/user-review/write-review.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.ExcludeContestSlug = true;
    Model.PageMetaTags.AlternateUrl = string.Format("https://www.bikewale.com/m/rate-your-bike/{0}/", Model.objModelEntity.ModelId);
    string gaLabel = string.Format("{0}_{1}_{2}", Model.objModelEntity.MakeBase.MakeName, Model.objModelEntity.ModelName, Model.SourceId);
}

<section>
    <form action="/user-reviews/ratings/save/" method="post">
        <div id="rate-bike-form" data-value="@string.Format("{0}",Model.IsFake?"true":"")" class="container section-bottom-margin font14">
            <div class="grid-12">
                <div class="content-box-shadow">
                    <h1 class="content-box-shadow padding-15-20 margin-top20">@Model.objModelEntity.MakeBase.MakeName @Model.objModelEntity.ModelName</h1>
                    <div class="padding-15-20">
                        <div class="contest-slug-sm slug-grey-info margin-bottom20">
                            <span class="trophy-a2a2a2-14"></span>
                            <p class="contest-slug__label">Rate &amp; write a detailed review and stand a chance to win Amazon vouchers worth &#x20B9; 1,000. Help others in making the right decision.</p>
                        </div>

                        <div class="grid-8 alpha">
                            <h2 class="font18 margin-bottom10">How much do you like this bike?</h2>
                            <p class="text-slate-grey">Consider looks & styling, performance, servicing experience, mileage etc. before you rate.</p>

                            <div id="bike-rating-box" data-make-model="@string.Format("{0}_{1}_",Model.objModelEntity.MakeBase.MakeName, Model.objModelEntity.ModelName)" data-selectedrating="@Model.SelectedRating">
                                <div class="circle-placeholder">
                                    <span class="bwsprite" data-bind="css: ratingCount() > 0 ? 'feedback-' + ratingCount() : 'star-one'"></span>
                                </div>
                                <div class="rating-placeholder">
                                    <h3 class="font20 font-bold margin-bottom5" data-bind="text: feedbackTitle">Rate your bike</h3>
                                    <p data-bind="text: feedbackSubtitle"></p>

                                    <p class="error-text" data-bind="slideIn: validateRatingCountFlag(), text: ratingErrorText"></p>

                                    <div class="answer-star-list hover-effect" data-bind="foreach: overallRating.slice(0).reverse()">
                                        <input type="radio" name="rate-box" data-bind="attr: {id: 'rate-' + ($root.overallRating().length - $index()), value: ($root.overallRating().length - $index())}" />
                                        <label class="bwsprite star-zero" data-bind="hoverRating: $root.clickEventRatingCount, attr: {for: 'rate-' + ($root.overallRating().length - $index()), 'data-value': ($root.overallRating().length - $index())}"></label>
                                    </div>
                                    <div class="clear"></div>

                                </div>
                            </div>

                            <ul id="rate-bike-questions" class="margin-bottom20 border-solid-bottom" data-bind="foreach: ratingQuestions">
                                <!-- ko if: displayType == 2 -->
                                <li class="question-field question-type-text" data-bind="visible: visibility, attr:{id: 'question-' + qId, 'data-sub-question': subQuestionId, 'data-required': isRequired}">
                                    <h3 class="question-item" data-bind="text: heading"></h3>
                                    <p class="error-text" data-bind="" style="display: none">This is a compulsory field.</p>
                                    <div class="answer-radio-list" data-bind="foreach: rating">
                                        <input type="radio" data-bind="attr: {questionId:$parentContext.$index()+1, id: 'q-' + $parentContext.$index() + '-' + $index(), name: 'rating-q-' + $parentContext.$index(), value: ratingValue,'data-checked' : (ratingValue == $parentContext.$data.selectedRatingId) ? 'true' : 'false'}" />
                                        <label data-bind="attr: {for: 'q-' + $parentContext.$index() + '-' + $index(), 'data-value': ratingValue}, text: ratingText"></label>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <!-- /ko -->
                            </ul>

                            <div class="margin-bottom5">
                                <div class="margin-bottom20">
                                    <h2 class="font18 margin-bottom10">Personal details</h2>
                                    <p class="text-slate-grey">We wish to credit this rating to you. We will never spam your inbox.</p>
                                </div>

                                <div class="grid-6 alpha">
                                    <div class="input-box bw-ga" c="Rate_Bike" a="Name_Field_Focus" l="@gaLabel" data-bind="css: userName().length > 0 ? 'not-empty' : ''">
                                        <input type="text" id="txtUserName" name="userName" data-bind="textInput: userName" value="@(string.IsNullOrEmpty(Model.CustomerName) ? "" : Model.CustomerName)" />
                                        <label for="getUserName">Name<sup>*</sup></label>
                                        <span class="boundary"></span>
                                        <span class="error-text"></span>
                                    </div>
                                </div>
                                <div class="grid-6 omega">
                                    <div class="input-box  bw-ga" c="Rate_Bike" a="Email_Field_Focus" l="@gaLabel" data-bind="css: emailId().length > 0 ? 'not-empty' : ''">
                                        <input type="email" id="txtEmailID" name="emailId" data-bind="textInput: emailId" value="@(string.IsNullOrEmpty(Model.CustomerEmail) ? "" : Model.CustomerEmail)" />
                                        <label for="getEmailID">Email ID<sup>*</sup></label>
                                        <span class="boundary"></span>
                                        <span class="error-text"></span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <input type="hidden" id="overallratingQuestion" value="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(Model.OverAllRatingText)" />
                                <input type="hidden" id="rating-question" value="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64(Model.RatingQuestion)" />
                                <input type="hidden" name="overAllrating" id="finaloverallrating" />
                                <input type="hidden" name="reviewed-rating" id="reviewedoverallrating" value="@Model.ReviewsOverAllrating" />

                                <input type="hidden" name="modelId" value="@Model.objModelEntity.ModelId" />
                                <input type="hidden" name="makeId" value="@Model.objModelEntity.MakeBase.MakeId" />
                                <input type="hidden" name="ratingQuestionAns" id="rating-quesition-ans" />
                                <input type="hidden" name="priceRangeId" value="@Model.PriceRangeId" />
                                <input type="hidden" name="reviewId" value="@Model.ReviewId" />
                                <input type="hidden" name="isDesktop" value="true" />
                                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                <input type="hidden" name="platformId" value="1" />
                                <input type="hidden" name="sourceId" id="pageSourceId" value="@Model.SourceId" />
                                <input type="hidden" name="contestSrc" id="contestSrc" value="@Model.ContestSrc" />
                                <input type="hidden" name="utmzCookieValue" value='@Model.UtmzCookieValue' />
                                <input type="submit" class="btn btn-orange btn-220-40" value="Submit rating" data-bind="click: submitRating" />
                            </div>
                        </div>
                        <div class="grid-4 omega">
                            <div id="review-sidebar">
                                <div class="sidebar-circle-placeholder">
                                    <div class="sidebar-circle">
                                        <span class="review-sprite write-icon"></span>
                                    </div>
                                </div>
                                <div class="sidebar-content">
                                    <p class="font18 text-default text-bold text-uppercase text-center">Share your experience</p>
                                    <ul class="sidebar-list">
                                        <li>
                                            <span class="bwsprite ui-search-icon"></span>
                                            <p>6 million+ people visit BikeWale to research about bikes every month</p>
                                        </li>
                                        <li>
                                            <span class="review-sprite user-review-lg"></span>
                                            <p>More than 2 lakh people read reviews every month on BikeWale</p>
                                        </li>
                                        <li>
                                            <span class="bwsprite info-icon"></span>
                                            <p>Help others in making the right decision!</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</section>

