@model Bikewale.Models.UserReviewDetailsVM
@using Bikewale.Entities.UserReviews;
@using Bikewale.Utility;
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/m/sass/user-review/listing.css' inline />";
    Model.Page_JS_Path = "/UI/m/src/user-review/listing.js";
    Layout = "~/UI/Views/Shared/_Layout_Mobile.cshtml";
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_UserReviews";
    Model.AdTags.AdId = "1493795506249";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
}

@if (Model != null && Model.UserReviewDetailsObj != null && Model.UserReviewDetailsObj.Model != null && Model.UserReviewDetailsObj.Make != null)
{
    var bikeName = string.Format("{0} {1}", Model.UserReviewDetailsObj.Make.MakeName, Model.UserReviewDetailsObj.Model.ModelName);
    <section id="section-review-details" data-modelid="@Model.UserReviewDetailsObj.Model.ModelId" data-makeid="@Model.UserReviewDetailsObj.Make.MakeId">
        <div class="container content-box-shadow card-bottom-margin">
            <div class="model-card-details content-box-shadow padding-10-20">
                <div class="left-grid-image inline-block">
                    <img src="@Image.GetPathToShowImages(Model.UserReviewDetailsObj.OriginalImagePath,Model.UserReviewDetailsObj.HostUrl,ImageSize._110x61,QualityFactor._65)" alt="@Model.UserReviews.BikeName">
                </div>
                <div class="right-grid-details inline-block">
                    <h1 class="font16 font-bold">User Reviews of @bikeName</h1>
                    <div class="model-overall-rating">
                        <span class="rate-count-@Math.Round(Model.UserReviewDetailsObj.OverAllModelRating)">
                            <span class="star-icon"></span>
                            <span class="font14 text-bold">@Model.UserReviewDetailsObj.OverAllModelRating.ToString("0.0")</span>
                        </span>
                        <span class="font12 text-slate-grey review-left-divider">@string.Format("{0} rating{1}", Model.UserReviewDetailsObj.TotalRatings, (Model.UserReviewDetailsObj.TotalRatings > 1 ? "s" : ""))</span>
                        <span class="font12 text-slate-grey review-left-divider">@string.Format("{0} review{1}", Model.UserReviewDetailsObj.TotalReviews, (Model.UserReviewDetailsObj.TotalReviews > 1 ? "s" : ""))</span>
                    </div>
                </div>
            </div>
            <div class="user-review-list content-inner-block-20 content-box-shadow margin-top3">
                <div class="margin-bottom10">
                    <span class="rating-badge bg-rate-@Model.UserReviewDetailsObj.OverallRating.Value">
                        <span class="bwmsprite star-white"></span>
                        <span>@Model.UserReviewDetailsObj.OverallRating.Value</span>
                    </span>
                    <div class="grid-10-inline font15 text-black text-bold">
                                <span class="review-title position-rel"><span itemprop="name">@Model.UserReviewDetailsObj.Title.Truncate(85)</span></span>
                    </div>
                </div>

                <span class="font12 text-light-grey" data-bind="text: submittedOn + ' ago by ' + author">@Model.UserReviewDetailsObj.ReviewAge ago by @Model.UserReviewDetailsObj.CustomerName</span>
            </div>

            @if (Model.RatingQuestions != null && Model.RatingQuestions.Count > 0)
            {
                <div class="bg-light position-rel top3">
                    <ul class="about-reviewer-list item-count-@Model.RatingQuestionCount">
                        @foreach (var q in Model.RatingQuestions)
                        {
                            <li>
                                <span class="bwmsprite questionId-@q.Id"></span>
                                <p class="item-question">@q.MinHeading</p>
                                <p class="item-answer">@q.SelectedRatingText</p>
                            </li>
                        }
                    </ul>
                </div>
            }

            <div id="modelName" data-modelName="@Model.UserReviewDetailsObj.Model.ModelName" data-makeName="@Model.UserReviewDetailsObj.Make.MakeName" class="content-inner-block-20">
                <h2 class="font14 margin-bottom10">Full review of @Model.UserReviewDetailsObj.Make.MakeName @Model.UserReviewDetailsObj.Model.ModelName</h2>
                @if (Model.ReviewQuestions != null && Model.ReviewQuestions.Count > 0)
                {
                    <ul class="horizontal-rating-graph user-review-graph">
                        @foreach (var q in Model.ReviewQuestions)
                        {
                            if (q.SelectedRatingId > 0)
                            {
                                <li>
                                    <span class="graph-bar-label">@q.Heading</span>
                                    <span class="graph-bar-bg">
                                        <span style="width:@(q.SelectedRatingId * 20)%" class="rating-bar bg-rate-@q.SelectedRatingId"></span>
                                    </span>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
            <div class="padding-bottom20">
                @if (!string.IsNullOrEmpty(Model.UserReviewDetailsObj.Description))
                {
                    <div class="padding-right20 padding-left20 padding-bottom10 font14 text-light-grey"><p>@Html.Raw(Model.UserReviewDetailsObj.Description)</p></div>
                }

                @if (Model.UserReviewDetailsObj.Tips.Length > 0)
                {
                    <p class="padding-right20 padding-left20 font14 font-bold text-black margin-top20 margin-bottom15">Tips for @Model.UserReviewDetailsObj.Make.MakeName @Model.UserReviewDetailsObj.Model.ModelName</p>
                    <p class="padding-right20 padding-left20 font14 text-light-grey margin-bottom15">@Model.UserReviewDetailsObj.Tips</p>
                }
                <div class="margin-bottom15 padding-right20 padding-left20">

                    <span class="review__question text-light-grey font12">Was this review helpful?</span>

                    <button type="button" class="feedback-button" id="upvoteButton" onclick="upVoteReview()">
                        <span class="bwmsprite like-sm"></span>
                        Yes
                        (<span id="upvoteCount" class="btn-count review-btn">@Format.FormatNumbers(Model.UserReviewDetailsObj.UpVotes)</span>)
                    </button>


                    <button type="button" id="downvoteButton" onclick="downVoteReview()" class="feedback-button">
                        <span class="bwmsprite dislike-sm"></span>
                        No
                        (<span id="downvoteCount" class="btn-count">@Format.FormatNumbers(Model.UserReviewDetailsObj.DownVotes)</span>)
                    </button>
                </div>                
                <div class="border-solid-top margin-top10 margin-bottom10 margin-right20 margin-left20"></div>
                <p id="divAbuse" data-reviewid="@Model.ReviewId" class="font12 text-light-grey padding-right20 padding-left20">Inappropriate review? <a href="javascript:void(0)" onclick="abuseClick()" id="report-abuse-target">Report Abuse</a></p>
            </div>

        </div>
    </section>

    if (Model.UserReviews != null && Model.UserReviews.UserReviews.TotalCount > 0)
    {
        @Html.Partial("~/UI/Views/UserReview/_UserReviewsSearch_Mobile.cshtml", Model.UserReviews)
    }
    if (Model.AdTags.Ad_300x250BTF)
    {
    <div class="margin-bottom20 text-center">
        @{Html.RenderPartial("/UI/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", new { AdId = Model.AdTags.AdId });}
    </div>
     }            
            if (Model.GenericBikeWidgetData != null)
            {
                <section class="content-box-shadow section-bottom-margin">
                    @Html.Partial("~/UI/views/BikeModels/_BikeInfoCard_Mobile.cshtml", Model.GenericBikeWidgetData)
                </section>
            }

    <section>
        <div id="bike-rating-box" class="container content-box-shadow card-bottom-margin content-inner-block-20">
            <p class="font16 text-black text-bold inline-block margin-right15">Rate this bike now</p>
            <div class="answer-star-list inline-block">
                <input data-querystring="@Bikewale.Utility.TripleDES.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=5&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Mobile_UserReview_Details))" type="radio" id="rate-star-5" name="rate-bike" value="5">
                <label class="bwmsprite star-0" for="rate-star-5" data-value="5"></label>
                <input data-querystring="@Bikewale.Utility.TripleDES.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=4&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Mobile_UserReview_Details))" type="radio" id="rate-star-4" name="rate-bike" value="4">
                <label class="bwmsprite star-0" for="rate-star-4" data-value="4"></label>
                <input data-querystring="@Bikewale.Utility.TripleDES.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=3&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Mobile_UserReview_Details))" type="radio" id="rate-star-3" name="rate-bike" value="3">
                <label class="bwmsprite star-0" for="rate-star-3" data-value="3"></label>
                <input data-querystring="@Bikewale.Utility.TripleDES.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=2&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Mobile_UserReview_Details))" type="radio" id="rate-star-2" name="rate-bike" value="2">
                <label class="bwmsprite star-0" for="rate-star-2" data-value="2"></label>
                <input data-querystring="@Bikewale.Utility.TripleDES.EncryptTripleDES(string.Format("returnurl={0}&selectedRating=1&sourceid={1}", Model.PageUrl,(int)UserReviewPageSourceEnum.Mobile_UserReview_Details))" type="radio" id="rate-star-1" name="rate-bike" value="1">
                <label class="bwmsprite star-0" for="rate-star-1" data-value="1"></label>
            </div>
        </div>
    </section>



            if (Model.ExpertReviews != null && Model.ExpertReviews.ArticlesList != null && Model.ExpertReviews.ArticlesList.Count() > 0)
            {
                <section>
                    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2 class="h2-heading">@Model.ExpertReviews.Title</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="@string.Format("/m{0}", Model.ExpertReviews.MoreExpertReviewUrl)" title="@string.Format("{0} {1} Expert Reviews", Model.UserReviewDetailsObj.Make.MakeName, Model.UserReviewDetailsObj.Model.ModelName)" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>

                        @Html.Partial("~/UI/views/ExpertReviews/_ExpertReviewsModelWiseCard_Mobile.cshtml", Model.ExpertReviews)

                    </div>
                </section>
            }

            if (Model.SimilarBikesWidget.SimilarBikes != null && Model.SimilarBikesWidget.SimilarBikes.Count() > 0)
            {
                <section>
                    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2 class="h2-heading">Reviews of similar bikes</h2>
                            </div>
                            <div class="clear"></div>
                        </div>

                        @Html.Partial("~/UI/views/UserReview/_SimilarBikeUserReview_Mobile.cshtml", Model.SimilarBikesWidget)

                    </div>
                </section>
            }

            <div id="report-abuse-popup">
                <p class="font14 text-bold text-center margin-bottom10">Why do you want to report it abuse?</p>
                <div class="report-abuse-close-btn position-abt pos-top10 pos-right10 bwmsprite cross-lg-lgt-grey cur-pointer"></div>
                <p class="margin-bottom10">Comment</p>
                <textarea id="txtAbuseComments"></textarea>
                <span id="spnAbuseComments" class="errorText"></span>
                <div class="text-center">
                    <button onclick="reportAbuse()" type="button" class="btn btn-orange">Report</button>
                </div>
            </div>
            <div id="popup-background"></div>

            }
<input type="hidden" id="pageSource" value="@((int)UserReviewPageSourceEnum.Mobile_UserReview_Details)" />