@model Bikewale.Models.UserReviews.UserReviewByMakeVM

@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/sass/review/make.css' inline>";
    Layout = "~/UI/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12 content-box-shadow margin-bottom20 alpha omega">
            <h1 class="padding-15-20">@Model.Page_H1</h1>

            <div class="padding-left15 padding-right15">
                <h2 class="padding-left5 font14 padding-bottom5">Popular models</h2>
                <ul class="card-container">
                    @foreach (var bike in Model.PopularBikes)
                    {
                        string bikeName = string.Format("{0} Review{1}",bike.Model.ModelName, bike.ReviewCount > 0 ? "s" : "");
                        <li class="model-card">
                            <a href="@Bikewale.Utility.UrlFormatter.FormatUserReviewUrl(bike.Make.MaskingName,bike.Model.MaskingName)" title="@bikeName" class="block">
                                <div class="model-card__image-preview">
                                    <img src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,Bikewale.Utility.ImageSize._310x174,Bikewale.Utility.QualityFactor._75)" title="@bikeName" alt="@bikeName">
                                </div>
                                <div class="card-desc-block">
                                    <h3 class="font15 text-black margin-bottom5">@bike.Model.ModelName</h3>
                                    <div class="rating-container">
                                        <div class="grid-6-inline rate-count-@Math.Round(bike.OverallRating)" data-rate-bg="@Math.Round(bike.OverallRating)">
                                            <span class="star-icon star-size-14"></span>
                                            <span class="inline-block">@bike.OverallRating.ToString("0.0")</span>
                                            <span class="font11 text-xt-light inline-block margin-left5">@string.Format("({0} rating{1})",bike.RatingsCount, bike.RatingsCount > 1 ? "s" : "")</span>
                                        </div>
                                        <div class="grid-6-inline font12 text-default divider-left">@string.Format("Read {0} review{1}", bike.ReviewCount, bike.ReviewCount > 1 ? "s" : "")</div>
                                        <span class="bwsprite next-grey-icon-listing"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                    
                </ul>

            </div>
            @if (Model.OtherBikes != null && Model.OtherBikes.Any())
            {
                <div class="other-model-block">
                    <h2 class="padding-left5 font14">Other models</h2>
                    <ul class="card-container">
                        @foreach (var bike in Model.OtherBikes)
                        {
                            string bikeName = string.Format("{0} Review{1}",bike.Model.ModelName, bike.ReviewCount > 1 ? "s" : "");
                            <li>
                                <a href="@Bikewale.Utility.UrlFormatter.FormatUserReviewUrl(bike.Make.MaskingName,bike.Model.MaskingName)" title="@bikeName">
                                    @bikeName (@bike.ReviewCount)
                                </a>
                            </li>
                        }                       
                    </ul>
                </div>
            }
            
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@if (Model.OtherMakes != null)
{
    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12 content-box-shadow margin-bottom20 alpha omega">
                <div class="content-box-shadow padding-top20 padding-bottom20">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <span class="font16 text-semibold text-black">Bike reviews of other brands</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/UI/Views/Make/_BrandsModelCount.cshtml", Model.OtherMakes)
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

