@model BikewaleOpr.Models.ManagePrices.MappedCitiesVM
@if (Model != null)
{
    ViewBag.Title = "MappedCities";
    ViewBag.PageTitle = "Manage Mapped Cities for " + Model.StateName;
}
<div class="row" style="margin-top:15px;">
    <div class="col m10">
       @if (Model != null && Model.MappedCities != null && Model.MappedCities.Any())
        {
           
            <table class="bordered highlight z-depth-3 " id="bikes_table">
                <tr>
                    <th>OEM City Name</th>
                    <th>State Name</th>
                    <th>City Name</th>
                    <th>City Id</th>
                    <th>Last Updated Date</th>
                    <th>Last Updated By</th>
                    <th></th>
                </tr>
                @foreach (var city in Model.MappedCities)
                {
                    <tr>
                        <td>@city.OemCityName</td>
                        <td>@city.StateName</td>
                        <td>@city.CityName</td>
                        <td>@city.CityId</td>
                        <td>@city.LastUpdatedDate</td>
                        <td>@city.LastUpdatedBy</td>
                        <td><a class=" tooltipped" data-position="bottom" data-tooltip="Delete Mapping" href="/prices/bulkupload/mappedcities/state/@Model.StateId/@city.Id/delete/?stateName=@city.StateName" ><i class=" material-icons icon-red" onclick="return confirm('Are you sure to delete mapping?')">delete</i></a></td>
                    </tr>
                }
            </table>
            
        }
    </div>
    <div class="col m2">
        @if (Model != null && Model.MakesListVM != null)
        {
            @Html.Partial("_SelectOperationCollapsible", Model.MakesListVM);
        }
    </div>
    <input value="@Model.StateId" id="selected_state" hidden />
    <input value="mappedcities" id="operation" hidden />
</div>

<script src="~/src/ManagePrice/bulkprice.js"></script>





