@model BikewaleOpr.Models.DealerFacility.ManageDealerFacilityVM

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.PageTitle = Model.PageTitle;
}


@if (Model != null)
{
    <div id="dealerFacility" class="row" data-currentuser="@BikeWaleOpr.Common.CurrentUser.UserName" data-currentuserid="@BikeWaleOpr.Common.CurrentUser.Id">
        <div class="col m9 ">
            <table id="tblFacilityData" class="bordered highlight centered z-depth-3 margin-top10">
                <thead>
                    <tr>
                        <th>Facility Id</th>
                        <th>Facilities</th>
                        <th>Is Active</th>
                        <th>Edit</th>
                        <th>Last Updated By</th>
                        <th>Last Updated On</th>
                    </tr>
                </thead>
                <tbody id="tblFacilityBody">

                    @foreach (var record in Model.FacilityList)
                    {

                        <tr data-id="@record.Id">
                            <td data-element="facilityid">@record.Id</td>
                            <td data-element="facilityname">@record.Facility</td>
                            <td data-element="activeicon" data-status="@record.IsActive">
                                @{

                                    if (record.IsActive)
                                    {
                                        <i class="material-icons icon-green">done</i>
                                    }
                                    else
                                    {
                                        <i class="material-icons icon-red">clear</i>
                                    }

                                }
                            </td>
                            <td data-element="editicon"><a href="javascript:void(0)" data-bind="click : editFacility"><i data-tooltip="Edit facility" class="material-icons icon-blue tooltipped" style="line-height: 32px;">mode_edit</i></a></td>
                            <td data-element="updatedby">@record.LastUpdatedBy </td>

                            <td data-element="updatedon">@record.LastUpdatedOn</td>
                        </tr>
                                    }

                </tbody>
            </table>

        </div>

        <div class="col m3">
            <ul class="collapsible margin-top10" data-collapsible="accordion">
                @Html.Partial("~/Views/DealerBikePrice/_SelectOperationCollapsable.cshtml", Model.DealerOperationParams)
                <li>
                    <div class="collapsible-header add-facilities-collapsible"><strong>Add Facility</strong></div>
                    <div class="collapsible-body">
                        <div class="container">
                            <ul class="input-field row m12">
                                <li>
                                    <input id="txtFacilityName" type="text" class="validate" data-bind="value:facility" maxlength="500" length="500">
                                    <label for="txtFacilityName" data-error="Please enter facility">Faciltity Name *</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="chkActiveStatus" />
                                    <label for="chkActiveStatus" data-bind="checked: activeStatus()">Is Active</label>
                                </li>

                                <li class="input-field">
                                    <!-- ko if : isFacilityEdit() -->
                                    <div class="col m12 text-align-center">
                                        <button data-bind="click: updateFacility" style="width:100%" class="btn waves-effect waves-light margin-bottom20 green" type="submit">
                                            Update
                                        </button>
                                    </div>
                                    <div class="col m12 text-align-center">
                                        <button data-bind="click: cancelEditFacility" style="width:100%" class="btn waves-effect waves-light margin-bottom20 red" type="submit">
                                            Cancel
                                        </button>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko ifnot : isFacilityEdit()-->
                                    <button data-bind="click:addFacility" class="btn waves-effect waves-light margin-bottom20" type="submit">
                                        Add Facility
                                    </button>
                                    <!-- /ko -->
                                </li>
                            </ul>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
        <input type="hidden" id="txtDealerId" data-bind="value:dealerId" value="@(Model.DealerId > 0 ? Model.DealerId : 0)" />
    </div>


                                    }
<script src="~/src/DealerPricing/dealeroperationcollapsable.js"></script>
<script src="~/src/DealerFacility/DealerFacility.js"></script>

