@model BikewaleOpr.Models.DealerFacility.ManageDealerFacilityVM

@{
    ViewBag.Title = "Manage Dealer Facilites";
    ViewBag.PageTitle = "Manage Dealer Facilites";
}


@if (Model != null)
{
    <div id="dealerFacility" class="row margin-top10" style="margin-bottom : 60px">
        <div class="col m10">
            <div id="displayDealerFacility" data-BwOprHostUrl="@System.Configuration.ConfigurationManager.AppSettings["BwOprHostUrlForJs"]">
                @*<div class="row">
                        Facility
                        <input type="text" data-bind="value:facility" maxlength="100" style="display:inline-block;width:300px;height:40px;border:groove">

                        <input type="checkbox" id="chkActiveStatus" />
                        <label for="chkActiveStatus" data-bind="checked: activeStatus()">Is Active</label>

                        <button class="btn waves-effect waves-light" data-bind="click:addFacility" type="submit" name="action">
                            Add Facility
                        </button>

                        <button class="btn waves-effect waves-light" data-bind="click:updateFacility" type="submit" name="action">
                            Update Facility
                        </button>
                    </div>*@
                @*<div class="col m10">*@


                <table id="tblFacilityData" class="bordered highlight z-depth-3 centered responsive-table">
                    <tr>
                        <th>FacilityId</th>
                        <th>Facilities</th>
                        <th>IsActive</th>
                        <th>Edit</th>
                    </tr>
                    <tbody id="tblFacilityBody">

                        @foreach (var record in Model.FacilityList)
                        {
                            var statusId = "id_" + record.Id;
                            <tr>
                                <td data-facilityId="@record.Id">@record.Id</td>
                                <td data-facilityName="@record.Facility">@record.Facility</td>
                                <td>
                                    <input type="checkbox" id="@statusId" value="@record.IsActive" @(record.IsActive ? "checked" : "") />
                                    <label for="@statusId"></label>

                                </td>
                                <td><a href="javascript:void(0)" data-bind="click : editFacility"><i class="material-icons icon-blue" srtle="line-height: 32px;">mode_edit</i></a></td>
                            </tr>

                        }

                    </tbody>
                </table>

            </div>
        </div>

        <div class="col m2">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><strong>Add Facility</strong></div>
                    <div class="collapsible-body">
                        <div class="container">
                            <ul class="input-field row m12">
                                <li>
                                    <input id="txtFacilityName" type="text" class="validate" data-bind="value:facility" maxlength="100" length="100">
                                    <label for="txtFacilityName" data-error="Please enter facility">Faciltity Name *</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="chkActiveStatus" />
                                    <label for="chkActiveStatus" data-bind="checked: activeStatus()">Is Active</label>
                                </li>

                                <li class="input-field">
                                   <!-- ko if : isFacilityEdit() -->
                                        <div class="col m12 text-align-center">
                                            <button data-bind="click: updateFacility" style="width:100%" class="btn waves-effect waves-light margin-bottom20 green" type="submit" >
                                                Update
                                            </button>
                                        </div>
                                        <div class="col m12 text-align-center">
                                            <button data-bind="click: cancelEditFacility" style="width:100%" class="btn waves-effect waves-light margin-bottom20 red" type="submit">
                                                Cancel
                                            </button>
                                        </div>
                                        <!-- /ko -->
                                    <!-- ko ifnot : isFacilityEdit()-->
                                    <button data-bind="click:addFacility" class="btn waves-effect waves-light margin-bottom20" type="submit">
                                        Add Facility
                                    </button>
                                    <!-- /ko -->
                                </li>
                            </ul>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
        <input type="hidden" id="txtDealerId" value="@(Model.DealerId > 0 ? Model.DealerId : 0)" />
    </div>


}

<script src="~/src/DealerFacility/DealerFacility.js"></script>

