@model Bikewale.Models.RecentExpertReviewsVM
@using Bikewale.Utility;

@if (Model != null && Model.ArticlesList != null)
{
    <div class="expert-review-list">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h3 class="font16 padding-left20 padding-top20">@Model.Title</h3>
        }        
        <div class="jcarousel-wrapper inner-content-carousel article-type-carousel padding-top20 padding-bottom20">
            <div class="jcarousel">
                <ul>
                    @foreach (var article in Model.ArticlesList)
                    {
                        <li class="jcarousel-card">
                            <a href="@string.Format("/expert-reviews/{0}-{1}.html", article.ArticleUrl, article.BasicId)" title="@article.Title" class="jcarousel-card">
                                <div class="jcarousel-image-preview">
                                    <img class="lazy" data-original="@Image.GetPathToShowImages(article.OriginalImgUrl, article.HostUrl, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" src="" alt=" " />
                                </div>
                                <div class="card-desc-block">
                                    <h3 class="font15 text-black">@FormatDescription.TruncateDescription(article.Title, 60)</h3>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
                <span class="jcarousel-control-left">
                    <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                </span>
                <span class="jcarousel-control-right">
                    <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                </span>
            </div>

        </div>

        @if (Model.IsViewAllLink)
        {
            <div class="padding-left10 more-article-target view-all-btn-container">
                <a title="@Model.BikeName expert reviews" href="~/expert-reviews/" class="bw-ga btn view-all-target-btn" c="UserReviews" a="Read_all_expert_reviews_link_cliked" v="@Model.BikeName">Read all reviews<span class="bwsprite teal-right"></span></a>
            </div>
        }
        
    </div>
}