@model Bikewale.Models.RecentExpertReviewsVM
@using Bikewale.Utility
@if (Model != null && Model.ArticlesList != null && Model.ArticlesList.Count() > 0)
{
    <ul>
            @foreach (var review in Model.ArticlesList)
            {
                <li class="margin-bottom20">
                    <div class="review-image-wrapper">
                        <span data-url="@string.Format("/m{0}",UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId),review.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest)))" class="article-target-image redirect-url">
                            <img class="lazy" alt="@review.Title" title="@review.Title" data-original="@Image.GetPathToShowImages(review.OriginalImgUrl, review.HostUrl, ImageSize._144x81, QualityFactor._70)" />
                        </span>
                    </div>
                    <div class="review-heading-wrapper">
                        <h3>
                            <span data-url="@string.Format("/m{0}",UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId),review.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest)))" title="@review.Title" class="font14 target-link redirect-url">@review.Title.Truncate(44)</span>
                        </h3>
                        <div class="grid-7 alpha padding-right5">
                            <span class="bwmsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">@FormatDate.GetFormatDate(Convert.ToString(review.DisplayDate), "dd MMM yyyy")</span>
                        </div>
                        <div class="grid-5 alpha omega">
                            <span class="bwmsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">@review.AuthorName</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <p class="font14 margin-top10">
                        @FormatDescription.TruncateDescription(review.Description, 180)
                    </p>

                    <span title="@review.Title" href="@string.Format("/m{0}",UrlFormatter.GetArticleUrl(Convert.ToString(review.BasicId),review.ArticleUrl,Convert.ToString(Bikewale.Entities.CMS.EnumCMSContentType.RoadTest)))" rel="nofollow" class="article-target-read-more redirect-url">Read more</span>

                </li> }
        </ul>
}