@model Bikewale.Models.ExpertReviewsDetailPageVM
@using Bikewale.Utility
@using Bikewale.Entities.GenericBikes
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/content/details.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline />";
    Model.Page_BTF_CSS_Path = "/css/jquery.floating-social-share.min.css";
    Model.Page_JS_Paths = new string[] { "/src/content/details.js", "/src/sidebarsection.js", "/src/bw-contenttracking.js" };
    Model.PageMetaTags.FBTitle = Model.ArticleDetails.Title;
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/Bikewale_Reviews_";
    Model.AdTags.Ad_300x250 = true;
    Model.AdTags.Ad_300x250BTF = true;
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.IsHeaderFix = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model != null && Model.ArticleDetails != null) { Model.AdTags.TargetedTags = String.Join(",", Model.ArticleDetails.TagsList); };
}
@if(Model != null)
{
    <section>
    
            <div id="overallContainer" class="container margin-bottom20">
                <div class="grid-12">
                    @if(Model.ArticleDetails != null)
                    {                   
                        <div id="content" class="grid-8 alpha">
                            <div class="bg-white">
                                <div class="section-header">
                                    <h1 class="margin-bottom5">@Model.ArticleDetails.Title</h1>
                                    <div>
                                        <span class="bwsprite calender-grey-sm-icon"></span>
                                        <span class="article-stats-content margin-right20">@FormatDate.GetFormatDate(Convert.ToString(Model.ArticleDetails.DisplayDate), "dd MMMM yyyy, hh:mm tt")</span>
                                        @if (string.IsNullOrEmpty(Model.ArticleDetails.AuthorMaskingName))
                                        {
                                            <span class="bwsprite author-grey-sm-icon"></span>
                                            <span class="article-stats-content margin-right20"><span>@Model.ArticleDetails.AuthorName</span></span>
                                        }
                                        else
                                        {
                                            <a href=@UrlFormatter.AuthorPageUrl(Model.ArticleDetails.AuthorMaskingName) class="hover-no-underline">
                                                <span class="bwsprite author-grey-sm-icon"></span>
                                                <span class="article-stats-content margin-right20"><span class="text-link">@Model.ArticleDetails.AuthorName</span></span>
                                            </a>
                                        }
                                        <span class="font12 inline-block text-light-grey">
                                            @if (Model.BikeTested != null && !string.IsNullOrEmpty(Model.BikeTested.ToString()))
                                            {
                                                @Html.Raw(Model.BikeTested)}
                                        </span>
                                    </div>
                                </div>
                                <div class="section-inner-padding">
                                    <div id="topNav" class="margin-bottom10">
                                        @if (Model.ArticleDetails.PageList != null && Model.ArticleDetails.PageList.Any())
                                        {
                                            <ul>
                                                @foreach (var page in Model.ArticleDetails.PageList)
                                                {
                                                    <li>
                                                        <a href="#@page.pageId">@page.PageName</a>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="#divPhotos">Images</a>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                    <div class="clear"></div>
                                    <div class="content-details" data-id="@Model.ArticleDetails.BasicId" data-category-id="@Model.ArticleDetails.CategoryId" data-event-label="Expert_Review_Detail">
                                        @if (Model.ArticleDetails.PageList != null && Model.ArticleDetails.PageList.Any())
                                        {
                                            foreach (var page in Model.ArticleDetails.PageList)
                                            {
                                                <div class="margin-top10 margin-bottom10">
                                                    <h3 class="article-content-title">@page.PageName</h3>
                                                    <div id='@page.pageId' class="margin-top10 article-content">
                                                        @Html.Raw(page.Content)
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>

                                        @if (Model.PhotoGallery != null && Model.PhotoGallery.Images != null && Model.PhotoGallery.ImageCount > 0)
                                        {
                                            <div id="divPhotos">
                                                @Html.Partial("~/Views/Shared/_EditCMSPhotoGallery.cshtml", Model.PhotoGallery.Images)
                                            </div>
                                        }


                                        @if (Model.TaggedBikes != null && Model.TaggedBikes.Any())
                                        {

                                            <div class="padding-top20 padding-left20 padding-right20 padding-bottom20 bg-read-more-articles">
                                                <h2 class="list-head">More expert reviews</h2>
                                                <ul class="disk-list">
                                                    @foreach (var bike in Model.TaggedBikes)
                                                    {
                                                        string bikeName = string.Format("{0} {1}", bike.MakeBase.MakeName, bike.MakeBase.MakeName);
                                                        <li data-cat="Expert_Reviews" data-lab="@bikeName" data-act="Clicked_ModelExpertReviews_Link">
                                                            <a href="@string.Format("/{0}-bikes/{1}/expert-reviews/", bike.MakeBase.MaskingName, bike.ModelBase.MaskingName)" title="@bikeName Expert Reviews">Read more @bikeName Reviews</a>
                                                        </li>

                                                    }
                                                </ul>
                                            </div>

                                        }

                                    </div>
                            </div>
                        </div>
                    }
                    <div class="grid-4 omega">
                        @{
                            var pageWidgets = Model.PageWidgets;
                            if (pageWidgets != null)
                            {
                                @Html.Partial("~/Views/Shared/_EditorialWidgetBase.cshtml", Model.PageWidgets[Bikewale.Entities.BikeData.EditorialPageWidgetPosition.First])
                                <div class="clear"></div>
                            
                                
                                @Html.Partial("~/Views/Shared/_EditorialWidgetBase.cshtml", Model.PageWidgets[Bikewale.Entities.BikeData.EditorialPageWidgetPosition.Second])
                                <div class="clear"></div>
                            }
                            if (Model.AdTags.Ad_Model_ATF_300x250)
                            {
                                <div class="margin-bottom20 text-center">
                                    @Html.Partial("/Views/Shared/Ads/Desktop/Model_ATF_300x250.cshtml", Model.AdTags);
                                </div>
                            }
                    
                            <div class="margin-bottom20">
                                @Html.Partial("~/Views/Shared/Ads/Desktop/Ad300x250.cshtml", Model.AdTags)
                            </div>
                            if (Model.SimilarBikes != null && Model.SimilarBikes.Bikes != null && Model.SimilarBikes.Bikes.Any() && Model.Model.ModelId != 987)
                            {
                                <div id="sidebarBikeSection" class="content-box-shadow sidebar-bike-section margin-bottom20">
                                    <h2 class="sidebar-list-heading">You may also like</h2>
                                    @Html.Partial("~/Views/Shared/_Sidebar-section.cshtml", Model.SimilarBikes)
                                </div>
                            }
                        }
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
    </section>
    <div class="back-to-top" id="back-to-top"></div>
    if (Model.PhotoGallery != null && Model.PhotoGallery.Images != null && Model.PhotoGallery.ImageCount > 0)
    {
        <section>
            <div class="model-gallery-container">
                <div class="blackOut-window-model"></div>
                <div class="modelgallery-close-btn position-abt pos-top20 pos-right20 bwsprite cross-lg-white cur-pointer hide"></div>
                <div class="bw-tabs-panel bike-gallery-popup hide" id="bike-gallery-popup">

                    <div class="bike-gallery-heading margin-bottom20 margin-left30 margin-top90">
                        <p class="font18 text-bold text-white">@Model.ArticleDetails.Title</p>
                    </div>
                    @Html.Partial("~/Views/Shared/_EditCMSModelGallery.cshtml", Model.PhotoGallery)
                </div>
            </div>
        </section>
    }
    <script defer type="text/javascript" src="@String.Format("{0}/src/jquery.floating-social-share.min.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticPluginFileVersion)"></script>
    <div id="lightBoxContainer" class="hide">
        <span class="light-box__close-icon"></span>
        <span class="spin-loader fixed-loader"></span>
        <img class="lazy" data-original="" src=" " alt="">
    </div>
}