@model Bikewale.Models.ExpertReviewsDetailPageVM
@using Bikewale.Utility
@using Bikewale.Entities.GenericBikes
@{
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/content/details.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline />";
    Model.Page_JS_Path = "/m/src/content/details.js";
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/Bikewale_Reviews";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    if (Model != null && Model.ArticleDetails != null) { Model.AdTags.TargetedTags = String.Join(",", Model.ArticleDetails.TagsList); };
}
<section>
    <div class="container box-shadow bg-white section-bottom-margin">
        <div class="box-shadow article-head padding-15-20">
            <h1 class="margin-bottom10">@Model.ArticleDetails.Title</h1>
            <div class="grid-6 alpha padding-right5">
                <span class="bwmsprite calender-grey-sm-icon"></span>
                <span class="article-stats-content">@FormatDate.GetFormatDate(Convert.ToString(Model.ArticleDetails.DisplayDate), "dd MMM yyyy, hh:mm tt")</span>
            </div>
            <div class="grid-6 alpha omega">
                @if (string.IsNullOrEmpty(Model.ArticleDetails.AuthorMaskingName))
                {
                    <span class="bwmsprite author-grey-sm-icon"></span>
                    <span class="article-stats-content"><span>@Model.ArticleDetails.AuthorName</span></span>
                }
                else
                {
                    <a href=@string.Format("/m{0}", UrlFormatter.AuthorPageUrl(Model.ArticleDetails.AuthorMaskingName)) class="hover-no-underline">
                        <span class="bwmsprite author-grey-sm-icon"></span>
                        <span class="article-stats-content"><span class="text-link">@Model.ArticleDetails.AuthorName</span></span>
                    </a>
                }
            </div>
            <div class="clear"></div>
        </div>

        <div class="article-content-padding">
            @if (Model.ArticleDetails.PageList != null && Model.ArticleDetails.PageList.Count() > 0)
            {
                <div id="divDesc" class="article-content">
                    @foreach (var page in Model.ArticleDetails.PageList)
                    {
                        <div class="margin-bottom10">
                            <h3 class="margin-bottom10" role="heading">@page.PageName</h3>
                            <div id='@page.pageId' class="margin-top-10 article-content">
                                @Html.Raw(page.Content)
                            </div>
                        </div>
                    }
                </div>
            }
            @if (Model.BikeTested != null && !String.IsNullOrEmpty(Model.BikeTested.ToString()))
            {
                @Html.Raw(string.Format("<div class='font12 text-light-grey margin-top10 margin-bottom10'>{0}</div>", Model.BikeTested)) }
            <p class="margin-bottom10 font14 text-light-grey border-light-top">Share this story</p>
            <ul class="social-wrapper">
                <li class="whatsapp-container rounded-corner2 text-center share-btn" data-attr="wp">
                    <span data-text="share this video" data-link="www.google.com" class="social-icons-sprite whatsapp-icon"></span>
                </li>
                <li class="fb-container rounded-corner2 text-center share-btn" data-attr="fb">
                    <span class="social-icons-sprite fb-icon"></span>
                </li>
                <li class="tweet-container rounded-corner2 text-center share-btn" data-attr="tw">
                    <span class="social-icons-sprite tweet-icon"></span>
                </li>
                <li class="gplus-container rounded-corner2 text-center  share-btn" data-attr="gp">
                    <span class="social-icons-sprite gplus-icon"></span>
                </li>
            </ul>
            <div class="clear"></div>

            @if (Model.PhotoGallery != null && Model.PhotoGallery.Images != null && Model.PhotoGallery.ImageCount > 0)
            {
                <div class="border-solid-top padding-top10">
                    <h3 class="margin-bottom10">Images</h3>
                    <div class="swiper-container article-photos-swiper">
                        <div class="swiper-wrapper">
                            @foreach (var photo in Model.PhotoGallery.Images)
                            {
                                <div class="swiper-slide">
                                    <img class="swiper-lazy" title="@photo.ImageName" alt="@photo.ImageName" data-src='@Image.GetPathToShowImages(photo.OriginalImgPath, photo.HostUrl, ImageSize._110x61, QualityFactor._70)'>
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            }
                        </div>
                        <div class="bwmsprite swiper-button-next"></div>
                        <div class="bwmsprite swiper-button-prev"></div>
                    </div>
                </div>
            }
        </div>

        @if (Model.TaggedBikes != null && Model.TaggedBikes.Any())
        {
                <div class="padding-top20 padding-left20 padding-right20 padding-bottom20 bg-read-more-articles">
                    <h2 class="list-heading">More expert reviews</h2>
                    <ul class="disk-list">
                    @foreach (var bike in Model.TaggedBikes)
                    {
                        string bikeName = string.Format("{0} {1}", bike.MakeBase.MakeName, bike.MakeBase.MakeName);
                            <li data-cat="Expert_Reviews" data-lab="@bikeName" data-act="Clicked_ModelExpertReviews_Link">
                                <a href="@string.Format("/m/{0}-bikes/{1}/expert-reviews/",bike.MakeBase.MaskingName,bike.ModelBase.MaskingName)" title="@bikeName Expert Reviews">Read more @bikeName Reviews</a>
                            </li>

                        }
                    </ul>
                </div>
        }
    </div>
</section>


@if (Model.IsSeriesAvailable && Model.MostPopularBikes != null)
{
    <section>
        <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>@Model.MostPopularBikes.WidgetHeading</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="@string.Format("/m{0}",Model.MostPopularBikes.WidgetHref)" title="@Model.MostPopularBikes.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("~/Views/BikeModels/_MostPopularBikes_Mobile.cshtml", Model.MostPopularBikes)
        </div>
    </section>
}
else if (Model.MostPopularBikes != null && Model.MostPopularBikes.Bikes != null && Model.MostPopularBikes.Bikes.Any())
{
    <section>
        <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>@Model.MostPopularBikes.WidgetHeading</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="@string.Format("/m{0}",Model.MostPopularBikes.WidgetHref)" title="@Model.MostPopularBikes.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("~/Views/BikeModels/_MostPopularBikes_Mobile.cshtml", Model.MostPopularBikes)
        </div>
    </section>
}

@if (Model.PopularScooterMakesWidget != null && Model.PopularScooterMakesWidget.Any())
{
    <section>
        <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>Popular scooter brands</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="/m/scooters/" title="Scooters" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("~/views/m/shared/_otherbrands.cshtml", Model.PopularScooterMakesWidget)
        </div>
    </section>
}
else if (Model.Model != null && Model.Model.ModelId > 0)
{
    if (Model.PopularBodyStyle != null && Model.PopularBodyStyle.PopularBikes != null && Model.PopularBodyStyle.PopularBikes.Any())
    {
        <section>
            <div class="container box-shadow bg-white section-bottom-margin padding-bottom20">
                <div class="carousel-heading-content padding-top15">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>@Model.PopularBodyStyle.WidgetHeading</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m{0}",Model.PopularBodyStyle.WidgetHref)" title="@Model.PopularBodyStyle.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/BestBikes/_PopularBodyStyleCarousel_Mobile.cshtml", Model.PopularBodyStyle)
            </div>
        </section>
    }
}
else
{
    if (Model.UpcomingBikes != null && Model.UpcomingBikes.UpcomingBikes != null && Model.UpcomingBikes.UpcomingBikes.Any())
    {
        <section>
            <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>@Model.UpcomingBikes.WidgetHeading</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@string.Format("/m{0}",Model.UpcomingBikes.WidgetHref)" title="@Model.UpcomingBikes.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Editorial_Mobile.cshtml", Model.UpcomingBikes)
            </div>
        </section>
    }
}

@if (Model.PhotoGallery != null && Model.PhotoGallery.Images != null && Model.PhotoGallery.ImageCount > 0)
{
    <section>
        <div class="model-gallery-container relative-gallery-container">
            <h3 class="font16 text-white">@Model.ArticleDetails.Title</h3>
            <div class="gallery-close-btn position-abt pos-top15 pos-right15 bwmsprite cross-md-white cur-pointer"></div>
            @Html.Partial("~/Views/Shared/_EditCMSModelGallery_Mobile.cshtml", Model.PhotoGallery)
        </div>
    </section>
}

<div class="back-to-top" id="back-to-top"></div>
