@model Bikewale.Models.ScooterExpertReviewsPageVM
@using Bikewale.Utility
@using System.Text.RegularExpressions
@{
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/content/listing.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline />";
	Model.AdTags.AdId = "1395986297721";
	Model.AdTags.AdPath = "/1017752/Bikewale_Reviews_";
	Model.AdTags.Ad_300x250 = true;
	Model.AdTags.Ad_970x90 = true;
	Model.AdTags.Ad_970x90Bottom = true;
	Model.IsHeaderFix = true;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
	<div class="container margin-bottom20">
		<div class="grid-12">
			<div id="content" class="grid-8 alpha">
				<div class="bg-white">
					<h1 class="section-header padding-15-20">@Model.PageH1</h1>
					@if (Model.Articles != null && Model.Articles.Articles != null && Model.Articles.Articles.Count() > 0)
					{
						<div class="section-inner-padding">
							<ul class="article-list">
								@{ushort i = 0;}
								@foreach (var article in Model.Articles.Articles)
								{
									string articleUrl = UrlFormatter.GetArticleUrl(Convert.ToString(article.BasicId), article.ArticleUrl, Convert.ToString(article.CategoryId));
									<li id='post-@article.BasicId' class="@(Regex.Match(article.AuthorName, @"\b(sponsored)\b",RegexOptions.IgnoreCase).Success ? "sponsored-content" : "post-content") article-content">
										<div class="article-item-content">
											@Html.Raw(Regex.Match(article.AuthorName, @"\b(sponsored)\b", RegexOptions.IgnoreCase).Success ? "<div class=\"sponsored-tag-wrapper position-rel\"><span>Sponsored</span><span class=\"sponsored-left-tag\"></span></div>" : "")
											<div class="article-image-wrapper">
												<a href='@articleUrl'>
													@if (i < 3)
													{
														<img src="@Image.GetPathToShowImages(article.OriginalImgUrl, article.HostUrl, ImageSize._210x118, QualityFactor._70)" src="" alt="@article.Title" title="@article.Title" width='100%' border='0' />
													}
													else
													{
														<img data-original="@Image.GetPathToShowImages(article.OriginalImgUrl, article.HostUrl, ImageSize._210x118, QualityFactor._70)" src="" alt="@article.Title" title="@article.Title" width='100%' border='0' class="lazy" />
													}
												</a>
											</div>
											<div class="article-desc-wrapper">
												<h2 class="font14 margin-bottom10">
													<a href='@articleUrl' title="@article.Title" rel="bookmark" class="text-black text-bold">
														@article.Title
													</a>
												</h2>
												<div class="font12 text-light-grey margin-bottom25">
													<div class="article-date">
														<span class="bwsprite calender-grey-icon inline-block"></span>
														<span class="inline-block">
															@FormatDate.GetFormatDate(Convert.ToString(article.DisplayDate), "dd MMMM yyyy")
														</span>
													</div>
													<div class="article-author">
														<span class="bwsprite author-grey-icon inline-block"></span>
														<span class="inline-block">
															@article.AuthorName
														</span>
													</div>
												</div>
												<div class="font14 line-height">@Html.Raw(article.Description)<a href="@articleUrl">Read full review</a></div>
											</div>
											<div class="clear"></div>
										</div>
									</li>
									if (Model.PagerEntity.PageNo == 1 && Model.EndIndex == 10 && i == 4)
									{
										<li class="list-item__slug hide" id="writereviewslug">
											<span class="bwsprite list-slug__close"></span>
											<div class="list-slug__wrapper">
												<div class="slug-content--top-align">
													<img class="list-slug__image lazy" data-original="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/review-contest-slug-120.png" alt="Bike Review Contest" src="" />
												</div>
												<div class="list-slug__details slug-content--top-align">
													<p class="list-slug__heading">Bike review contest</p>
													<p class="list-slug__subheading">Write a detailed review &amp; stand a chance to win Amazon vouchers worth <span>&#x20B9;</span>&nbsp;@Format.FormatPrice(BWConfiguration.Instance.ContestPriceMoney)</p>
                                                    @{
                                                        string q = EncodingDecodingHelper.EncodeTo64(string.Format("csrc={0}", (int)Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Desktop_ExpertReviews));
                                                    }
                                                    <a href="@string.Format("/bike-review-contest/?q={0}",q)" title="Bike Review Contest" class="btn view-all-target-btn list-slug__target">Participate now<span class="bwsprite teal-right"></span></a>
												</div>
											</div>
										</li>
									}
									i++;
								}
							</ul>

							<div id="footer-pagination" class="font14 pagination-padding">
								<div class="grid-5 alpha omega text-light-grey">
									<p>Showing <span class="text-default text-bold">@string.Format("{0}-{1}", Model.StartIndex, Model.EndIndex)</span> of <span class="text-default text-bold">@Model.Articles.RecordCount</span> articles</p>
								</div>
								@if (Model.Articles.RecordCount > 10)
								{
									Html.RenderAction("Index", "Pager", new { objPager = @Model.PagerEntity });
								}
								<div class="clear"></div>
							</div>
						</div>
									}
				</div>
			</div>
			<div class="grid-4 omega">
				@if (Model.MostPopularScooters != null && Model.MostPopularScooters.Bikes != null && Model.MostPopularScooters.Bikes.Count() > 0)
				{
					<div class="content-box-shadow padding-15-20-10 margin-bottom20">
						<h2>@Model.MostPopularScooters.WidgetHeading</h2>
						@Html.Partial("~/Views/BikeModels/_MostPopularBikesSideBar.cshtml", Model.MostPopularScooters)

						<div class="view-all-btn-container padding-top10 padding-bottom10">
							<a href="@Model.MostPopularScooters.WidgetHref" title="@Model.MostPopularScooters.WidgetLinkTitle" class="btn view-all-target-btn">View all scooters<span class="bwsprite teal-right"></span></a>
						</div>
					</div>
				}

				@if (Model.PopularScooterMakesWidget != null &&  Model.PopularScooterMakesWidget.Count() > 0)
                {
                <div class="content-box-shadow padding-15-20-10 margin-bottom20">
                    <h2>@Model.PopularScooterBrandsWidgetHeading</h2>
                    @Html.Partial("~/Views/Scooters/_PopularScooterBrandsVerticalWidget.cshtml", Model.PopularScooterMakesWidget)
                    <div class="view-all-btn-container padding-top10 padding-bottom10">
                        <a href="/scooters/" title="Scooters" class="btn view-all-target-btn">
                            View all scooters<span class="bwsprite teal-right"></span>
                        </a>
                    </div>
                </div>
				}
				
				<div class="margin-bottom20">
					@Html.Partial("~/Views/Shared/Ads/Desktop/Ad300x250.cshtml", Model.AdTags)
				</div>
				@Html.Partial("~/Views/PriceInCity/_OnRoadPriceWidget.cshtml")
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</section>

<script type="text/javascript">
	docReady(function () {
		if (!bwcache.get('showeditcmsreviewslug', true)) {
			$('#writereviewslug').show();
		}
		$('.list-slug__close').on('click', function () {
			bwcache.set('showeditcmsreviewslug', '1', true);
			var slugItem = $(this).closest('.list-item__slug');
			slugItem.slideUp(500, function () {
				slugItem.remove();
			});
		});
	});
</script>