@model Carwale.Entity.ViewModels.CarData.ImageCarousal

    @using Carwale.Utility;
    @{
        int position = 1;
    }
        
    <section class="image-swiper-container">
        <h2 class="image-swiper-container__heading m-special-skin-text">@Model.Title</h2>
        <div class="swiper-container">
            <ul class="swiper-wrapper">            
                @foreach (var carModel in Model.ModelPhotos)
                {
                    if (carModel.Images.Count > 0)
                    {
                        <li class="swiper-slide swiper-wrapper__list-item">
                            <a href="@carModel.ModelImagePageUrl" title="@carModel.ImageSwiperTitle" class="image-grid__link">
                                <div class="image-grid-container">
                                    <div class="image-grid__content-wrapper">
                                        <div class="image-grid-wrapper">
                                            <ul class="image-grid-list" data-grid="@carModel.Images.Count" data-role="click-tracking" data-event="CWInteractive" data-action='position_@position' data-cat='Make_Images_slug_m' data-label="@string.Format("{0}_{1}", carModel.MakeName, carModel.ModelName)">
                                                @foreach (var modelPhoto in carModel.Images)
                                                {
                                                    <li class="image-grid__list-item">
                                                        <img class="swiper-lazy" src="https://imgd.aeplcdn.com/0x0/statics/grey.gif"
                                                             data-src="@ImageSizes.CreateImageUrl(modelPhoto.HostUrl, ImageSizes._211x211, modelPhoto.OriginalImgPath)"
                                                             alt="@carModel.ModelName image" />
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="image-grid__info-wrapper">
                                            <h3 class="image-grid-info__model-name">
                                                <span class="make-name">@carModel.MakeName</span>
                                                <span class="model-name">@carModel.ModelName</span>
                                            </h3>
                                            <div class="image-grid-info__image-count">
                                                <span class="image-icon"></span>
                                                <span class="image-count">@carModel.RecordCount</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        position++;
                    }
                }
            </ul>
            <div class="clear"></div>
        </div>
        <div class="view-all-images-container">
            <a href="@Model.LandingUrl" title="" class="view-all-images__link" data-role="click-tracking" data-event="CWInteractive" data-action="Make-Page-Image-Link-Click" data-cat="Make_Images_slug_m" data-label="@Model.MakeName">All @Model.Title</a>
        </div>
    </section>
