@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/scooters/listing.css' />";
    ViewBag.Page_JS_Path = "/m/src/scooters-by-make.js";
    IEnumerable<Bikewale.Entities.BikeData.UpcomingBikeEntity> upcomingScooters = ViewBag.UpcomingBikes;
    Bikewale.Models.Shared.Showrooms dealerShowrooms = ViewBag.objShowrooms;
    IEnumerable<Bikewale.Entities.ServiceCenters.ServiceCenterDetails> serviceCenters = ViewBag.serviceCenters;
}

<section>
    <div class="container content-box-shadow card-bottom-margin">
        <h1 class="padding-15-20 content-box-shadow">Honda scooters</h1>
        <ul class="bike-listing">
            <li class="list-item">
                <a href="" title="Bajaj Avenger 150 Street" class="block">
                    <div class="item-image-content">
                        <img class="lazy" data-original="https://imgd3.aeplcdn.com//310x174//bw/models/bajaj-avenger-150-street.jpg?20152710145912" alt="Bajaj Avenger 150 Street" src="" />
                    </div>
                    <h2 class="margin-bottom10">Bajaj Avenger 150 Street</h2>
                    <div class="font14 text-x-light margin-bottom10">
                        <span>109.19 cc</span>, <span>7.72 bhp</span>, <span>101 kgs</span>
                    </div>
                    <p class="key-size-14 margin-bottom5">Ex-showroom price, Mumbai</p>
                    <span class="bwmsprite inr-sm-icon"></span>
                    <span class="value-size-18">99,999</span>
                    <span class="value-size-14"> onwards</span>
                </a>
                <div class="margin-top15">
                    <a href="javascript:void(0)" class="btn btn-white btn-180-32" rel="nofollow">Check on-road price</a>
                </div>
            </li>
            <li class="list-item">
                <a href="" title="Bajaj Avenger 150 Street" class="block">
                    <div class="item-image-content">
                        <img class="lazy" data-original="https://imgd3.aeplcdn.com//310x174//bw/models/bajaj-avenger-150-street.jpg?20152710145912" alt="Bajaj Avenger 150 Street" src="" />
                    </div>
                    <h2 class="margin-bottom10">Bajaj Avenger 150 Street</h2>
                    <div class="font14 text-x-light margin-bottom10">
                        <span>109.19 cc</span>, <span>7.72 bhp</span>, <span>101 kgs</span>
                    </div>
                    <p class="key-size-14 margin-bottom5">Ex-showroom price, Mumbai</p>
                    <span class="bwmsprite inr-sm-icon"></span>
                    <span class="value-size-18">99,999</span>
                    <span class="value-size-14"> onwards</span>
                </a>
                <div class="margin-top15">
                    <a href="javascript:void(0)" class="btn btn-white btn-180-32" rel="nofollow">Check on-road price</a>
                </div>
            </li>
            <li class="list-item">
                <a href="" title="Bajaj Avenger 150 Street" class="block">
                    <div class="item-image-content">
                        <img class="lazy" data-original="https://imgd3.aeplcdn.com//310x174//bw/models/bajaj-avenger-150-street.jpg?20152710145912" alt="Bajaj Avenger 150 Street" src="" />
                    </div>
                    <h2 class="margin-bottom10">Bajaj Avenger 150 Street</h2>
                    <div class="font14 text-x-light margin-bottom10">
                        <span>109.19 cc</span>, <span>7.72 bhp</span>, <span>101 kgs</span>
                    </div>
                    <p class="key-size-14 margin-bottom5">Ex-showroom price, Mumbai</p>
                    <span class="bwmsprite inr-sm-icon"></span>
                    <span class="value-size-18">99,999</span>
                    <span class="value-size-14"> onwards</span>
                </a>
                <div class="margin-top15">
                    <a href="javascript:void(0)" class="btn btn-white btn-180-32" rel="nofollow">Check on-road price</a>
                </div>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="container content-box-shadow padding-top15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Popular comparison of scooters</h2>
        <div id="ctrlCompareBikes">
            <div id="comparisonSwiper" class="swiper-container comparison-swiper card-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-card rounded-corner2">
                            <a href="" title="CB Shine vs Splendor iSmart" class="block">
                                <h3 class="font12 text-black text-center margin-bottom10">CB Shine vs Splendor iSmart</h3>
                                <div class="grid-6">
                                    <div class="model-img-content">
                                        <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//144x81//bw/models/honda-cb-shine-electric-start/drum/alloy-112.jpg?20151209184344" alt="" title="" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <p class="font11 text-light-grey text-truncate">Ex-showroom, Mumbai</p>
                                    <span class="bwmsprite inr-xsm-icon"></span>&nbsp;<span class="font16 text-default text-bold">57,300</span>
                                </div>
                                <div class="grid-6">
                                    <div class="model-img-content">
                                        <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//144x81//bw/models/hero-splendor-ismart-spoke-755.jpg?20151209181902" alt="" title="" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <p class="font11 text-light-grey text-truncate">Ex-showroom, Mumbai</p>
                                    <span class="bwmsprite inr-xsm-icon"></span>&nbsp;<span class="font16 text-default text-bold">49,887</span>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top15 text-center">
                                    <span class="btn btn-white btn-size-1">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-card rounded-corner2">
                            <a href="" title="CB Shine vs Splendor iSmart" class="block">
                                <h3 class="font12 text-black text-center margin-bottom10">CB Shine vs Splendor iSmart</h3>
                                <div class="grid-6">
                                    <div class="model-img-content">
                                        <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//144x81//bw/models/honda-cb-shine-electric-start/drum/alloy-112.jpg?20151209184344" alt="" title="" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <p class="font11 text-light-grey text-truncate">Ex-showroom, Mumbai</p>
                                    <span class="bwmsprite inr-xsm-icon"></span>&nbsp;<span class="font16 text-default text-bold">57,300</span>
                                </div>
                                <div class="grid-6">
                                    <div class="model-img-content">
                                        <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//144x81//bw/models/hero-splendor-ismart-spoke-755.jpg?20151209181902" alt="" title="" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <p class="font11 text-light-grey text-truncate">Ex-showroom, Mumbai</p>
                                    <span class="bwmsprite inr-xsm-icon"></span>&nbsp;<span class="font16 text-default text-bold">49,887</span>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top15 text-center">
                                    <span class="btn btn-white btn-size-1">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-top10 margin-left20 padding-bottom20 font14">
                <a href="" title="View more comparisons">View more comparisons<span class="bwmsprite blue-right-arrow-icon"></span></a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Scooters of other brands</h2>
        <div class="swiper-container padding-top5 padding-bottom5 brand-type-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite brand-7"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">Honda</p>
                                <h3 class="text-unbold text-light-grey font11">7 scooters</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite brand-6"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">Hero</p>
                                <h3 class="text-unbold text-light-grey font11">6 scooters</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite brand-15"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">TVS</p>
                                <h3 class="text-unbold text-light-grey font11">15 scooters</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (upcomingScooters != null && upcomingScooters.Count() > 0)
{
    
<section>
    <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Upcoming @ViewBag.MakeName scooters</h2>
        @Html.Partial("~/Views/m/Shared/_UpcomingBikes.cshtml", upcomingScooters)
      </div>
    </section>     
}

@*<section>
    <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Upcoming scooters</h2>
        <div class="swiper-container card-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Kawasaki Ninja ZX-14R [2016]">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="http://imgd2.aeplcdn.com///174x98//bw/upcoming/kawasaki-ninjazx-14r[2016]-703.jpg?20162402145840" alt="Kawasaki Ninja ZX-14R [2016]" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Kawasaki Ninja ZX-14R [2016]</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Jan 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span> <span class="text-bold font16">28,000</span><span class="font14 text-bold"> onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Kawasaki Ninja ZX-14R [2016]">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="http://imgd2.aeplcdn.com///174x98//bw/upcoming/kawasaki-ninjazx-14r[2016]-703.jpg?20162402145840" alt="Kawasaki Ninja ZX-14R [2016]" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Kawasaki Ninja ZX-14R [2016]</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Jan 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span> <span class="text-bold font16">28,000</span><span class="font14 text-bold"> onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Kawasaki Ninja ZX-14R [2016]">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="http://imgd2.aeplcdn.com///174x98//bw/upcoming/kawasaki-ninjazx-14r[2016]-703.jpg?20162402145840" alt="Kawasaki Ninja ZX-14R [2016]" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Kawasaki Ninja ZX-14R [2016]</h3>
                                <div class="text-light-grey margin-bottom5">
                                    <p class="font11 text-light-grey">Expected launch</p>
                                    <p class="font16 text-bold text-default">Jan 2016</p>
                                </div>
                                <div>
                                    <div class="font11 text-light-grey">Expected Price</div>
                                    <div class="text-default">
                                        <span class="bwmsprite inr-xsm-icon"></span> <span class="text-bold font16">28,000</span><span class="font14 text-bold"> onwards</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section>
    <div id="makeTabsContentWrapper" class="container content-box-shadow card-bottom-margin">
        <div id="makeOverallTabsWrapper">
            <div class="overall-specs-tabs-container">
                <ul class="overall-specs-tabs-wrapper">
                    <li class="active" data-tabs="#makeAboutContent">About</li>
                    <li data-tabs="#dealerAndServiceContent">Dealers & Service Centers</li>
                </ul>
            </div>
        </div>
        <div id="makeAboutContent" class="bw-model-tabs-data padding-top15 padding-bottom15 active">
            <div class="padding-right20 padding-left20">
                <h2 class="text-bold">Honda Scooters Summary</h2>
                <div class="font14 text-light-grey collapsible-content">
                    <p class="main-content">Honda Motorcycle amp Scooter India is a 100 per cent Indian subsidiary of Honda Motor Company Founded in 1999 Honda was the erstwhile partner of Hero MotoCorp before both companies parted ways Known for pioneering the scooter segment in India through Activa range of scooters Honda manufactures </p>
                    <p class="more-content">a wide range of two wheelers in India Honda currently has four production facilities Manesar in Gurgaon Tapukara in Rajasthan Narsapura in Karnataka and the new Vithalapur unit in Gujarat Other than manufacturing bikes. </p><a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                </div>
            </div>
        </div>
        <div class="margin-right20 margin-left20 border-solid-bottom"></div>
        <div id="dealerAndServiceContent" class="bw-model-tabs-data">
            @Html.Partial("~/Views/m/Shared/_showrooms.cshtml", dealerShowrooms)
            @Html.Partial("~/Views/m/Shared/_ServiceCenters.cshtml", serviceCenters)
    @*@<div id="makeDealersContent" class="bw-model-tabs-data padding-bottom20 padding-top15 font14">
                <h2 class="padding-right20 padding-left20">Honda Showrooms & Service Centers</h2>
                <div class="swiper-container card-container dealer-horizontal-swiper no-city-selection-carousel">
                    <!-- dealers when no city selected -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-card">
                                <span class="dealer-city-image-preview">
                                    <span class="city-sprite hyderabad-icon"></span>
                                </span>
                                <p class="text-default text-bold margin-bottom5">Honda outlets in Hyderabad</p>
                                <a href="" title="" class="block">27 showrooms</a>
                                <a href="" title="" class="block">31 service centers</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-card">
                                <span class="dealer-city-image-preview">
                                    <span class="city-sprite pune-icon"></span>
                                </span>
                                <p class="text-default text-bold margin-bottom5">Honda outlets in Pune</p>
                                <a href="" title="" class="block">27 showrooms</a>
                                <a href="" title="" class="block">31 service centers</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-card">
                                <span class="dealer-city-image-preview">
                                    <span class="city-sprite india-icon"></span>
                                </span>
                                <p class="text-default text-bold margin-bottom5">Honda outlets in India</p>
                                <a href="" title="" class="block">1888 showrooms</a>
                                <a href="" title="" class="block">2534 service centers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div id="makeSpecsFooter"></div>
    </div>
</section>

<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>