@model Bikewale.Models.PriceInCityPageVM
@if (Model.FirstVersion != null)
{
    <span data-href="#orpContent" rel="nofollow" class="bw-ga navtab" c="Price_in_City_Page" a="Floating_Navigation_Clicked" l="@(string.Format("{0}_On-road Price",Model.GABikeName))">On-road price</span>
}
@if (Model.HasDealers || Model.HasServiceCenters)
{
    <span data-href="#dealerContent" rel="nofollow" class="bw-ga navtab" c="Price_in_City_Page" a="Floating_Navigation_Clicked" l="@(string.Format("{0}_Dealers",Model.GABikeName))">Dealers</span>
}
@if (Model.IsNew)
{
    <span data-href="#emiContent" rel="nofollow" class="bw-ga navtab" c="Price_in_City_Page" a="Floating_Navigation_Clicked" l="@(string.Format("{0}_EMI calculator",Model.GABikeName))">EMI calculator</span>
}
@if (Model.IsNew && (Model.BikeVersionPrices != null || Model.HasNearestPriceCities))
{
    <span data-href="#priceListContent" rel="nofollow" class="bw-ga navtab" c="Price_in_City_Page" a="Floating_Navigation_Clicked" l="@(string.Format("{0}_Price list",Model.GABikeName))">Price list</span>
}
@if (Model.HasAlternateBikes)
{
    <span data-href="#similarContent" rel="nofollow" class="bw-ga navtab" c="Price_in_City_Page" a="Floating_Navigation_Clicked" l="@(string.Format("{0}_Similar bikes",Model.GABikeName))">Compare bikes</span>
}