@model Bikewale.Models.PriceInCityPageVM
@{
    var gaBikeName = String.Format("{0}_{1}_{2}", Model.Make.MakeName, Model.BikeModel.ModelName,Model.CityEntity.CityName);
}
<ul class="overall-specs-tabs-wrapper">    
    @if (Model.FirstVersion != null)
    {
    <li data-tabs="#orpContent" class="bw-ga" data-cat="Price_in_City_Page" data-act="Floating_Navigation_Clicked" data-lab="@String.Format("{0}_On-road price", gaBikeName)">On-road price</li>
    }
    @if (Model.HasDealers || Model.HasServiceCenters)
    {
        <li data-tabs="#dealerContent" class="bw-ga" data-cat="Price_in_City_Page" data-act="Floating_Navigation_Clicked" data-lab="@String.Format("{0}_Dealers", gaBikeName)">Dealers</li>
    }
    @if (Model.IsNew)
    {
        <li data-tabs="#emiContent" class="bw-ga" data-cat="Price_in_City_Page" data-act="Floating_Navigation_Clicked" data-lab="@String.Format("{0}_EMI calculator", gaBikeName)">EMI calculator</li>
    }
    @if (Model.IsNew && (Model.BikeVersionPrices != null || Model.HasNearestPriceCities))
    {
        <li data-tabs="#versionContent" class="bw-ga" data-cat="Price_in_City_Page" data-act="Floating_Navigation_Clicked" data-lab="@String.Format("{0}_Price list", gaBikeName)">Price list</li>
    }
    @if (Model.HasAlternateBikes)
    {
        <li data-tabs="#similarContent" class="bw-ga" data-cat="Price_in_City_Page" data-act="Floating_Navigation_Clicked" data-lab="@String.Format("{0}_Similar bikes", gaBikeName)">Compare @Model.BodyStyleText</li>
    }
    else if (Model.IsPopularBodyStyleAvailable)
    {
        <li data-tabs="#popularContent" class="bw-ga" data-cat="Price_in_City_Page" data-act="Floating_Navigation_Clicked" data-lab="@String.Format("{0}_Similar bikes", gaBikeName)">Popular @Model.BodyStyleText</li>
    }
</ul>
