@model Bikewale.Models.PriceInCity.PriceInTopCitiesWidgetVM

@if (@Model != null)
{
    foreach (var priceQuote in @Model.PriceQuoteList)
    {
        <tr>
            <td class="city-name padding-bottom20">
                <a title="@string.Format("{0} price in {1}", @Model.BikeName, @priceQuote.CityName)" href="@Bikewale.Utility.UrlFormatter.PriceInCityUrl(@priceQuote.MakeMaskingName, @priceQuote.ModelMaskingName, @priceQuote.CityMaskingName)" class="text-truncate">@priceQuote.CityName</a>
            </td>
            <td align="right" class="city-price padding-bottom20 text-black">
                <span class="bwsprite inr-sm-dark"></span>@Bikewale.Utility.Format.FormatPrice(Convert.ToString(priceQuote.OnRoadPrice))
            </td>
        </tr>
    }
}