@model Bikewale.Models.PriceInCity.PriceInTopCitiesWidgetVM

@if (Model != null && Model.PriceQuoteList != null)
{
    foreach (var priceQuote in Model.PriceQuoteList)
    {
        <li>
            <span class="city-name left">
                <a title="@string.Format("{0} price in {1}", @Model.BikeName, @priceQuote.CityName)" href="@Bikewale.Utility.UrlFormatter.PriceInCityUrl(@priceQuote.MakeMaskingName, @priceQuote.ModelMaskingName, @priceQuote.CityMaskingName)" class="text-truncate inline-block">@priceQuote.CityName</a>
            </span>
            <span class="city-name right text-black">
                @Html.Raw("&#x20B9;") @Bikewale.Utility.Format.FormatPrice(Convert.ToString(priceQuote.OnRoadPrice))
            </span>
        </li>
    }
}