@model Bikewale.Models.PriceInCityPageVM
@using Bikewale.Common;
@using Bikewale.Utility;
@{
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250 = true;
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_Model";
    Model.AdTags.AdId = "1444028976556";
    Model.PageMetaTags.AlternateUrl = "";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/new/bwm-modelprice-in-city.css' />";
    Model.Page_BTF_CSS_Path = "/m/css/bwm-common-btf.css";
    Model.Page_JS_Path = "/m/src/priceincity.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@if (Model != null && Model.BikeModel != null && Model.CityEntity != null) {

<section>
    <div class="container">
        <div class="padding-top10 padding-left20 padding-right20 bg-white">
            <h1 class="font20">@Model.Page_H1</h1>
        </div>
        <div id="modelSpecsTabsContentWrapper">
            <div id="modelOverallSpecsTopContent" class="bg-white position-rel">
                <div id="overallSpecsTab" class="overall-specs-tabs-container">
                    @Html.Partial("~/views/priceincity/_index_Tabs_Mobile.cshtml", Model)
                </div>
            </div>

            <!-- model orp start -->
            <div id="orpContent" class="bw-model-tabs-data content-box-shadow card-bottom-margin content-inner-block-20 @(Model.IsDiscontinued ? " padding-top40" : "") ">
                <div class="margin-bottom15">
                    <div class="model-image inline-block position-rel">
                        @if (Model.IsDiscontinued)
                        {
                            <p class="model-ribbon-tag discontinued-ribbon">Discontinued</p>
                        }
                        <img src="@Model.ModelImage" title="@Model.BikeName" alt="@Model.BikeName" />
                    </div>
                    <div class="model-version-block inline-block padding-left15">
                        <p class="font12 text-light-grey">Version:</p>
                        @if (Model.BikeVersionPrices.Count() > 1)
                        {
                        <div class="dropdown-select-wrapper">
                            <select class="dropdown-select" data-title="Version">
                                @foreach (var version in Model.BikeVersionPrices)
                                {
                                    <option value="@version.VersionId">@version.VersionName</option>
                                }
                            </select>
                        </div>
                        }
                        else
                        {
                        <p class="font14 text-bold">@Model.FirstVersion.VersionName</p>
                        }
                    </div>
                </div>
                @if (Model.IsNew) { 
                <table width="100%" cellspacing="0" cellpadding="0" class="font14">
                    <thead>
                        <tr>
                            <th colspan="2" align="left" class="padding-bottom15 text-default font-bold">@Model.BikeName price in @Model.CityEntity.CityName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  ko if: exshowroomPrice().length > 0 -->
                        <tr>
                            <td align="left" valign="top" width="70%" class="padding-bottom15 text-slate-grey">Ex-showroom</td>
                            <td align="right" valign="top" width="30%" class="padding-bottom15 text-bold"><span class="bwmsprite inr-dark-grey-xsm-icon"></span><span data-bind="text: exshowroomPrice()"></span></td>
                        </tr>
                        <!-- /ko -->
                        <!--  ko if: rtoPrice().length > 0 -->
                        <tr>
                            <td align="left" valign="top" class="padding-bottom15 text-slate-grey">RTO</td>
                            <td align="right" valign="top" class="padding-bottom15 text-bold"><span class="bwmsprite inr-dark-grey-xsm-icon"></span><span data-bind="text: rtoPrice()"></span></td>
                        </tr>
                        <!-- /ko -->
                        <!--  ko if: insurancePrice().length > 0 -->
                        <tr>
                            <td align="left" valign="top" class="padding-bottom15 text-slate-grey">Insurance (Comprehensive)</td>
                            <td align="right" valign="top" class="padding-bottom15 text-bold"><span class="bwmsprite inr-dark-grey-xsm-icon"></span><span data-bind="text: insurancePrice()"></span></td>
                        </tr>
                        <!-- /ko -->
                        <tr>
                            <td align="left" valign="top" class="padding-top15 padding-bottom15 border-solid-top border-solid-bottom text-default">@Model.BikeName on-road price in @Model.CityEntity.CityName</td>
                            <td align="right" valign="top" class="padding-top15 padding-bottom15 border-solid-top border-solid-bottom font16 text-bold"><span class="bwmsprite inr-xsm-icon"></span><span data-bind="text: onRoadPrice()"></span></td>
                        </tr>
                    </tbody>
                </table>
                }
                @if (Model.IsNew) { 
                <div class="margin-top15 font14">
                    <p class="font-bold margin-bottom10">Quick facts about @Model.BikeModel.ModelName</p>
                    <p class="text-slate-grey line-height16">@Model.PageDescription</p>
                </div>
                }
                @if (Model.IsDiscontinued)
                {
                    <div class="font14 text-default text-bold">
                        <span>Last known Ex-showroom price</span><span class="rightfloat"><span class="bwmsprite inr-xsm-icon margin-right5"></span><span class="text-bold font16" data-bind="text: exshowroomPrice()">@Model.FirstVersion.ExShowroomPrice</span></span>
                    </div>
                    <div class="margin-top15 font14">
                        <p class="text-slate-grey line-height16">@String.Format("{0} has discontinued the {0} and the bike is out of production.", Model.Make.MakeName, Model.BikeModel.ModelName)</p>
                    </div>
                }
            </div>
            <!-- model orp end -->

            <!-- model about start -->
            <div id="aboutContent" class="bw-model-tabs-data content-box-shadow card-bottom-margin">
                    @Html.Partial("~/views/Bikemodels/_BikeInfoCard_Mobile.cshtml", Model.BikeInfo)
            </div>
            <!-- model about end -->

            <!-- model dealers start -->
            <div id="dealerContent" class="bw-model-tabs-data content-box-shadow padding-top20 padding-bottom5 card-bottom-margin">
                @if (Model.IsAreaAvailable && !Model.HasCampaignDealer && Model.IsNew)
                { 
                <div class="padding-right20 padding-bottom20 padding-left20">
                    <h2 class="card-h2-heading margin-bottom10">@Model.Make.MakeName Dealers in @Model.CityEntity.CityName</h2>
                    <div class="font14 text-slate-grey">
                        <p class="margin-bottom10">Please provide your location to get information on:</p>
                        <ul class="list-type-disc margin-bottom15">
                            <li>Nearest dealer details in @Model.CityEntity.CityName</li>
                            <li>Exclusive offers</li>
                            <li>Complete buying assistance</li>
                        </ul>
                        <a href="javascript:void(0)" data-pqsourceid="@((int) Bikewale.Entities.PriceQuote.PQSourceEnum.Mobile_PriceInCity_SelectArea)" data-preselcity="@Model.CityEntity.CityId" data-modelid="@Model.BikeModel.ModelId" c="Price_in_City_Page" a="Select_Area_Clicked" l="@String.Format(" {0}_{1}_{2}", Model.Make.MakeName, Model.BikeModel.ModelName, Model.BikeVersionPrices.FirstOrDefault().VersionName)" class="btn btn-orange btn-auto-32 getquotation changeCity" rel="nofollow">Select your location</a>
                    </div>
                </div>
                }
                else
                {
                    if (Model.HasCampaignDealer && Model.IsNew) { 
                    <div class="padding-right20 padding-bottom20 padding-left20">
                        <h2 class="card-h2-heading margin-bottom10">@Model.Make.MakeName Dealer near you</h2>
                        <div class="margin-bottom10">
                            <span class="rank-graph-black"></span>
                            <div class="inline-block rank-graph-label">
                                <h3>@String.Format("{0}, {1}", Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization, Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName)</h3>
                                <p class="font12 text-xx-light">@Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName</p>
                            </div>
                        </div>
                        <div class="font14 text-slate-grey">
                            <p class="margin-bottom10">Get in touch with @Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization for:</p>
                            <ul class="list-type-disc margin-bottom15">
                                <li>Best offers</li>
                                <li>EMI options</li>
                                <li>Complete buying assistance</li>
                            </ul>
                            <a href="/m/pricequote/dealer/?MPQ=@Model.MPQString" c="Price_in_City_Page" a="View_dealer_details_Clicked" l="@String.Format(" {0}_{1}_{2}", Model.Make.MakeName, Model.BikeModel.ModelName, Model.FirstVersion.VersionName)" class="btn btn-orange btn-180-32" rel="nofollow">View dealer details</a>
                        </div>
                    </div>
                    }
                }
                @if (Model.HasDealers)
                {
                    if (Model.IsNew && (Model.HasCampaignDealer || Model.IsAreaAvailable))
                    { 
                    <div class="margin-right20 margin-bottom20 margin-left20 border-solid-bottom"></div>
                    }
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">                        
                        @if (Model.IsNew && (Model.HasCampaignDealer || Model.IsAreaAvailable))
                        { 
                        <h3>@Model.Dealers.TotalCount Authorised dealers</h3>
                        }
                        else
                        {
                            <h2>@Model.DealersWidget_H2</h2>
                        }
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="@String.Format("/m{0}", Model.DealersWidget_ViewAll_Href)" title="@Model.DealersWidget_ViewAll_Title" class="btn view-all-target-btn">View all</a>
                    </div>
                </div>
                    @Html.Partial("~/views/dealershowroom/_DealerCard_Mobile.cshtml", Model.Dealers)
                }
            </div>
            <!-- model dealers end -->

            @if (Model.HasServiceCenters) { 
            <!-- model service centers start -->
            <div id="serviceCenterContent" class="bw-model-tabs-data content-box-shadow card-bottom-margin content-inner-block-20">
                <div class="margin-bottom10">
                    <span class="rank-graph-black"></span>
                    <div class="inline-block rank-graph-label">
                        <h2 class="card-h2-heading">@String.Format("{0} {1}",Model.ServiceCentersCount, Model.ServiceCenterWidget_H2)</h2>
                    </div>
                </div>
                <p class="font14 text-slate-grey margin-bottom15">Get in touch with your nearest @Model.Make.MakeName service center in @Model.CityEntity.CityName for service enquiries, service and repair costs and more!</p>
                <a href="@String.Format("/m{0}", Model.ServiceCenterWidget_ViewAll_Href)" title="@Model.ServiceCenterWidget_ViewAll_Title" class="btn view-all-target-btn">View complete list<span class="bwmsprite teal-right"></span></a>
            </div>
            <!-- model service centers end -->
            }
            
            <div class="margin-bottom20 text-center">
                @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250.cshtml", new { AdId = Model.AdTags.AdId });}
            </div>

            <!-- model emi calculator start -->
            @if (Model.IsNew) { 
            <div id="emiContent" class="bw-model-tabs-data content-box-shadow card-bottom-margin content-inner-block-20">
                <h2 class="card-h2-heading margin-bottom10">@Model.BikeModel.ModelName EMI Calculator</h2>

                <div class="finance-emi-container font14">                    
                    <div class="emi-slider-box">
                        <div class="emi-slider-box-left-section">
                            <p class="grid-8 alpha text-slate-grey">Down payment</p>
                            <div class="emi-slider-box-right-section grid-4 omega">
                                <span class="bwmsprite inr-xxsm-icon margin-right5"></span><span id="downPaymentAmount" data-bind="text: formatPrice(Math.round(downPayment()))" class="text-bold"></span>
                            </div>
                            <div class="clear"></div>

                            <div id="downPaymentSlider"
                                    data-bind="slider: downPayment, sliderOptions: { min: minDnPay(), max: maxDnPay(), range: 'min', step: 1, value: Math.round(((maxDnPay() - minDnPay()) / 2) + minDnPay()) }"
                                    class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="emi-slider-box">
                        <div class="emi-slider-box-left-section">
                            <p class="grid-8 alpha text-slate-grey">Loan amount</p>
                            <div class="emi-slider-box-right-section grid-4 omega">
                                <span class="bwmsprite inr-xxsm-icon margin-right5"></span><span id="loanAmount" data-bind="text: formatPrice(Math.round(loan()))" class="text-bold"></span>
                            </div>
                            <div class="clear"></div>

                            <div id="loanAmountSlider"
                                    data-bind="slider: loan, sliderOptions: { min: bikePrice() - maxDnPay(), max: bikePrice() - minDnPay(), range: 'min', step: 1 }"
                                    class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="emi-slider-box">
                        <div class="emi-slider-box-left-section">
                            <p class="grid-8 alpha text-slate-grey">Tenure</p>
                            <div class="emi-slider-box-right-section grid-4 omega text-bold">
                                <span id="tenurePeriod" data-bind="text: tenure"></span>&nbsp;Months
                            </div>
                            <div class="clear"></div>

                            <div id="tenureSlider"
                                    data-bind="slider: tenure, sliderOptions: { min: minTenure(), max: maxTenure(), range: 'min', step: 1 }"
                                    class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="emi-slider-box">
                        <div class="emi-slider-box-left-section">
                            <p class="grid-8 alpha text-slate-grey">Interest</p>
                            <div class="emi-slider-box-right-section grid-4 omega text-bold">
                                <span id="rateOfInterestPercentage" data-bind="text: rateofinterest">5</span>&nbsp;%
                            </div>
                            <div class="clear"></div>

                            <div id="rateOfInterestSlider"
                                    data-bind="slider: rateofinterest, sliderOptions: { min: minROI(), max: maxROI(), range: 'min', step: 0.25 }"
                                    class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="border-solid-top padding-top20 padding-bottom20">
                        <p class="grid-9 alpha text-slate-grey omega">Total amount (Principal + Interest)</p>
                        <div class="emi-slider-box-right-section grid-3 omega alpha">
                            <span class="bwmsprite inr-xxsm-icon margin-right5"></span><span class="text-bold" data-bind="text: formatPrice(Math.round(totalPayable()))"></span>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <p class="grid-5 text-default alpha position-rel pos-top2">Indicative EMI</p>
                    <div class="text-right grid-7 omega font16 text-bold">
                        <span class="bwmsprite inr-sm-icon margin-right5"></span><span data-bind="text: formatPrice(monthlyEMI())"></span>/month
                    </div>
                    <div class="clear"></div>

                </div>
            </div>
            
            <!-- model emi calculator end -->
            <!-- model version prices start -->
            <div id="versionContent" class="bw-model-tabs-data content-box-shadow card-bottom-margin content-inner-block-20">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="2" align="left" class="padding-bottom10">
                                <h2 class="card-h2-heading">@Model.BikeName version price@(Model.BikeVersionPrices.Count() > 1 ?"s" :"") in @Model.CityEntity.CityName</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left" width="72%" class="font12 text-light-grey padding-bottom10 border-solid-bottom">Version</td>
                            <td align="left" width="28%" class="font12 text-light-grey padding-bottom10 border-solid-bottom">Price</td>
                        </tr>
                        
                        @foreach (var version in Model.BikeVersionPrices)
                        {
                            <tr>
                                <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14 text-slate-grey">@String.Format("{0} {1}", Model.BikeName, version.VersionName)</td>
                                <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14 text-bold"><span class="bwmsprite inr-dark-grey-xsm-icon margin-right5"></span>@Bikewale.Utility.Format.FormatPrice(Convert.ToString(version.OnRoadPrice))</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2" class="padding-top10 font12 text-light-grey">Above mentioned prices are On-road, @Model.CityEntity.CityName</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- model version prices end -->

            <!-- model prices in nearby cities start -->
            if (Model.HasNearestPriceCities) {
                var priceQuotesCities = Model.NearestPriceCities.PriceQuoteList;
                var top4Cities = priceQuotesCities.Take(4);
                Model.NearestPriceCities.PriceQuoteList = top4Cities;
                
            <div id="nearbyCityContent" class="bw-model-tabs-data padding-top20 padding-bottom10 content-box-shadow card-bottom-margin">
                <h2 class="card-h2-heading margin-bottom10 padding-left20 padding-right20">@Model.BikeModel.ModelName price in cities near @Model.CityEntity.CityName<span class="font14 text-slate-grey text-unbold">&nbsp;(On-road price)</span></h2>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="padding-right20 padding-left20 font14">
                    <tbody>
                        @Html.Partial("~/Views/PriceInCity/_PriceInTopCities_Mobile.cshtml", Model.NearestPriceCities)
                    </tbody>
                </table>
                @if (priceQuotesCities.Count() > 4)
                {
                    Model.NearestPriceCities.PriceQuoteList = priceQuotesCities.Skip(4);
                <table id="more-cities-list" width="100%" border="0" cellspacing="0" cellpadding="0" class="padding-right20 padding-left20 font14 hide">
                    <tbody>
                        @Html.Partial("~/Views/PriceInCity/_PriceInTopCities_Mobile.cshtml", Model.NearestPriceCities)
                    </tbody>
                </table>
                <div class="padding-right20 padding-left20 padding-bottom5">
                    <a href="javascript:void(0)" class="view-cities-link position-rel block font14" title="" rel="nofollow">View more cities</a>
                </div>                                
                }
            </div>
            }
            }
            <!-- model prices in nearby cities end -->
            <!-- model prices similar bikes start -->
            @if (Model.HasAlternateBikes) { 
            <div id="similarContent" class="bw-model-tabs-data content-box-shadow padding-top20 padding-bottom5 card-bottom-margin">
                <h2 class="card-h2-heading margin-bottom10 padding-left20 padding-right20">Prices of similar bikes in @Model.CityEntity.CityName</h2>
                @Html.Partial("~/views/Bikemodels/_SimilarBikes_Mobile.cshtml", Model.AlternateBikes)
            </div>
            }
            <!-- model prices similar bikes end -->
            @if (Model.HasPriceInTopCities && Model.IsNew) { 
            <!-- model prices in other cities start -->
            <div id="otherCityContent" class="bw-model-tabs-data content-box-shadow padding-bottom5 card-bottom-margin">
                <div class="content-inner-block-20">
                    <h2 class="card-h2-heading margin-bottom10">@Model.BikeModel.ModelName prices in other cities</h2>
                    <p class="font14 text-slate-grey margin-bottom15">You are currently viewing price of @Model.BikeName in @Model.CityEntity.CityName. Not from @Model.CityEntity.CityName? Select your city to see price in your city.</p>
                    <a href="" class="btn btn-white btn-170-32">Select your city</a>
                </div>
                <div class="margin-right20 margin-bottom20 margin-left20 border-solid-bottom"></div>
                <h3 class="margin-right20 margin-bottom10 margin-left20">@Model.BikeModel.ModelName prices in popular cities</h3>
                <div class="swiper-container card-container swiper-city">
                    @Html.Partial("~/views/priceincity/_PriceInTopCitiesIcon_Mobile.cshtml",Model.PriceInTopCities)
                </div>
            </div>
            <!-- model prices in other cities end -->
            }

            <div id="modelSpecsFooter"></div>
        </div>
    </div>
</section>

    if (Model.BikeRank != null)
    {
        <section>
            <div class="container content-box-shadow content-inner-block-20 card-bottom-margin">
                <div class="margin-bottom10">
                    <span class="rank-graph-black"></span>
                    <div class="inline-block rank-graph-label">
                        <h2 class="card-h2-heading">Top 10 @Model.BikeRank.StyleName in India</h2>
                    </div>
                </div>
                <p class="font14 margin-bottom15 text-slate-grey">Are you looking for a @Model.BikeRank.BikeType.ToLower() bike? Check out our list of top 10 @Model.BikeRank.BikeType.ToLower() in India.</p>
                <a href="@String.Format("/m{0}", UrlFormatter.FormatGenericPageUrl(Model.BikeRank.Rank.BodyStyle))" title="Best @Model.BikeRank.StyleName in India" class="btn view-all-target-btn">View complete list<span class="bwmsprite teal-right"></span></a>
            </div>
        </section>
    }
    <section>
        <div class="container card-bottom-margin padding-right20 padding-left20 font12 text-slate-grey">
            <p class="text-default text-bold">Disclaimer:</p>
            <p>
                BikeWale takes utmost care in gathering precise and accurate information about @Model.BikeName price in @Model.CityEntity.CityName However, this information is only indicative and may not reflect the final price you may pay. For more information please read <a href="/termsconditions.aspx" target="_blank">terms and conditions</a>,<a href="/visitoragreement.aspx" target="_blank">&nbsp;visitor agreement</a>&nbsp;and&nbsp;<a href="/privacypolicy.aspx" target="_blank">privacy policy</a>.
            </p>
        </div>
        <div class="hide" id="dvPgVar" data-modelid="@Model.BikeModel.ModelId"></div>
    </section>
    <script type="text/javascript">
        var versionCount = @Model.BikeVersionPrices.Count(),bikeVersionPrice = "@Model.FirstVersion.OnRoadPrice";
    </script>
    <div class="hide" id="dvVersionPrice" data-isdiscontinued="@Model.IsDiscontinued">@EncodingDecodingHelper.EncodeTo64(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BikeVersionPrices))</div>
}