@model Bikewale.Models.PriceInCityPageVM
@using Bikewale.Utility;
@using Bikewale.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/new/modelprice-in-city.css' />";
    Model.Page_JS_Path = "/src/priceincity.js";
    Model.AdTags.Ad_300x250 = true;
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.AdTags.AdId = "1442913773076";
    Model.AdTags.AdPath = "/1017752/Bikewale_CityPrice_";
    Model.IsPageTypeLanding = false;
    Model.IsHeaderFix = false;
    var gaBikeName = String.Format("{0}_{1}_{2}", Model.Make.MakeName, Model.BikeModel.ModelName, Model.CityEntity.CityName);
}
@if (Model != null && Model.BikeModel != null && Model.CityEntity != null)
{
    <section class="bg-light-grey padding-top10">
        <div class="container">
            <div class="grid-12">
                <div class="breadcrumb margin-bottom15">
                    <!-- breadcrumb code starts here -->
                    <ul>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/" itemprop="url">
                                <span itemprop="title">Home</span>
                            </a>
                        </li>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span class="bwsprite fa-angle-right margin-right10"></span>
                            <a href="/@Model.Make.MaskingName-bikes/" itemprop="url">
                                <span itemprop="title">@Model.Make.MakeName Bikes</span>
                            </a>
                        </li>
                        <li>
                            <span class="bwsprite fa-angle-right margin-right10"></span>
                            <a href="@UrlFormatter.BikePageUrl(Model.Make.MaskingName,Model.BikeModel.MaskingName)" itemprop="url">
                                <span>@Model.BikeName</span>
                            </a>
                        </li>
                        <li>
                            <span class="bwsprite fa-angle-right margin-right10"></span>
                            <span>@String.Format("Price in {0}", Model.CityEntity.CityName)</span>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="grid-12">
                <div class="padding-top15 padding-left20 content-box-shadow">
                    <h1>@Model.Page_H1</h1>
                </div>
                <div id="modelSpecsTabsContentWrapper">
                    <div id="modelOverallSpecsTopContent" class="bg-white position-rel">
                        <div id="overallSpecsTab" class="overall-specs-tabs-container">
                            <div class="overall-specs-tabs-wrapper">
                                @Html.Partial("~/views/PriceInCity/_Index_Tabs.cshtml")
                            </div>
                        </div>
                    </div>

                    <!-- model on-road price start -->
                    <div id="orpContent" class="bw-model-tabs-data">
                        <div class="content-box-shadow content-inner-block-20 section-bottom-margin">
                            <div class="alpha omega @(Model.IsNew? "grid-8 orp-grid-8": "grid-12")">
                                <div class="orp-left-grid leftfloat margin-top5 padding-right10">
                                    <div class="model-image position-rel margin-bottom10">
                                        @if (Model.IsDiscontinued)
                                        {
                                            <p class="model-ribbon-tag discontinued-ribbon">Discontinued</p>
                                        }
                                        <img src="@Model.ModelImage" title="@Model.BikeName" alt="@Model.BikeName" />
                                    </div>
                                    @Html.Raw(Model.MinSpecsHtml)
                                </div>
                                <div class="orp-right-grid leftfloat">
                                    @if (Model.BikeVersionPrices.Count() > 1)
                                    {
                                    <div id="model-version-dropdown" class="margin-right15 padding-top20 vertical-top">
                                        <div class="select-box select-box-no-input done size-small">
                                            <p class="select-label">Version</p>                                            
                                            <select id="version-dropdown" class="chosen-select bw-ga" data-title="Version" c="Price_in_City_Page" a="Version_Changed" l="@gaBikeName">
                                                @foreach (var version in Model.BikeVersionPrices)
                                                {
                                                    <option value="@version.VersionId">@version.VersionName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="single-version-content vertical-top margin-right15">
                                        <p class="font12 text-light-grey">Version</p>
                                        <p class="text-bold single-version-value text-truncate">@Model.FirstVersion.VersionName</p>
                                    </div>
                                    }
                                    @if (Model.IsNew)
                                    {
                                        <div class="location-selection vertical-top cur-pointer">
                                            <p class="font12 text-light-grey">City</p>
                                            <p c="Price_in_City_Page" a="City_Change_Initiated_Top_Card" l="@gaBikeName" data-makemasking="@Model.Make.MaskingName" data-modelmasking="@Model.BikeModel.MaskingName" data-modelid="@Model.BikeModel.ModelId" class="text-bold selected-city text-truncate position-rel changepriceincitypage bw-ga">
                                                <span>@Model.CityEntity.CityName</span>
                                                <span class="bwsprite loc-change-blue-icon"></span>
                                            </p>
                                        </div>

                                        <table width="100%" cellspacing="0" cellpadding="0" class="margin-top15 font14">
                                            <thead>
                                                <tr>
                                                    <th colspan="2" align="left" class="padding-bottom10 text-default text-bold">@Model.BikeName price in @Model.CityEntity.CityName</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- ko if: exshowroomPrice().length > 0 -->
                                                <tr>
                                                    <td align="left" valign="top" width="70%" class="padding-bottom10 text-slate-grey">Ex-showroom</td>
                                                    <td align="right" valign="top" width="30%" class="padding-bottom10 text-bold"><span class="bwsprite inr-sm"></span><span data-bind="text: exshowroomPrice()"></span></td>
                                                </tr>
                                                <!-- /ko -->
                                                <!-- ko if: rtoPrice().length > 0 -->
                                                <tr>
                                                    <td align="left" valign="top" width="70%" class="padding-bottom10 text-slate-grey">RTO</td>
                                                    <td align="right" valign="top" width="30%" class="padding-bottom10 text-bold"><span class="bwsprite inr-sm"></span><span data-bind="text: rtoPrice()"></span></td>
                                                </tr>
                                                <!-- /ko -->
                                                <!-- ko if: insurancePrice().length > 0 -->
                                                <tr>
                                                    <td align="left" valign="top" width="70%" class="padding-bottom15 text-slate-grey">Insurance (Comprehensive)</td>
                                                    <td align="right" valign="top" width="30%" class="padding-bottom15 text-bold"><span class="bwsprite inr-sm"></span><span data-bind="text: insurancePrice()"></span></td>
                                                </tr>
                                                <!-- /ko -->
                                                <tr>
                                                    <td align="left" valign="top" width="70%" class="padding-top15 border-solid-top">@Model.BikeName price in @Model.CityEntity.CityName</td>
                                                    <td align="right" valign="top" width="30%" class="padding-top15 border-solid-top font16 text-bold"><span class="bwsprite inr-md"></span><span data-bind="text: onRoadPrice()"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    @if (Model.IsDiscontinued)
                                    {
                                        <div class="font14 text-default text-bold padding-top15">
                                            <span>Last known Ex-showroom price</span><span class="margin-left15"><span class="bwsprite inr-md margin-right5"></span><span class="text-bold font16" data-bind="text: exshowroomPrice()">@Model.FirstVersion.ExShowroomPrice</span></span>
                                        </div>
                                        <div class="margin-top15 font14">
                                            <p class="text-slate-grey line-height16">@String.Format("{0} has discontinued the {1} and the bike is out of production.", Model.Make.MakeName, Model.BikeModel.ModelName)</p>
                                        </div>
                                    }
                                </div>

                                <div class="clear"></div>
                            </div>
                            @if (Model.IsNew) { 
                            <div class="grid-4 padding-left5 omega padding-top30">
                                <div class="padding-left10">

                                    @if (Model.IsAreaAvailable && !Model.HasCampaignDealer && !Model.IsAreaSelected && Model.IsNew)
                                    {
                                    <div class="margin-bottom15">
                                        <span class="bwsprite dealer-grey"></span>
                                        <div class="grid-10-inline padding-left10">
                                            <h3 class="font15 font-bold">Find dealer near you</h3>
                                        </div>
                                    </div>
                                    <div class="text-slate-grey font14">
                                        <p class="margin-bottom10 font14">Please select your area to get:</p>
                                        <ul class="list-type-disc margin-bottom20 font14">
                                            <li>Nearest dealership details</li>
                                            <li>Exclusive offers</li>
                                            <li>Complete buying assistance</li>
                                        </ul>
                                        <a href="javascript:void(0)" data-pqsourceid="@((int) Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_PriceInCity_SelectAreas)" f="getBikeVersionName" c="Price_in_City_Page" a="Select_Area_Clicked" data-preselcity="@Model.CityEntity.CityId" data-persistent="true" data-modelid="@Model.BikeModel.ModelId" class="btn btn-orange btn-xxlg font14 getquotation changeCity bw-ga" rel="nofollow">Select your location</a>
                                        </div>
                                    }

                                    else if (Model.HasCampaignDealer && Model.IsNew) 
                                    {
                                        <div class="margin-bottom15">
                                            <span class="bwsprite dealer-grey"></span>
                                            <div class="grid-10-inline padding-left10">
                                                <h3 class="font-bold">@String.Format("{0}, {1}", Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization, Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName)</h3>
                                                <p class="font12 text-xx-light">@Model.DetailedDealer.PrimaryDealer.DealerDetails.objArea.AreaName</p>
                                            </div>
                                        </div>
                                        <div class="text-slate-grey font14">
                                            <p class="margin-bottom10">Get in touch with @Model.DetailedDealer.PrimaryDealer.DealerDetails.Organization for:</p>
                                            <ul class="list-type-disc margin-bottom15">
                                                <li>Best offers</li>
                                                <li>EMI options</li>
                                                <li>Complete buying assistance</li>
                                            </ul>
                                            <a href="/pricequote/dealer/?MPQ=@Model.MPQString" data-pqsourceid="@((int) Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_PriceInCity_Dealer_Detail_Click)" rel="nofollow" c="Price_in_City_Page" a="View_dealer_details_Clicked" l="@String.Format(" {0}_{1}_{2}", Model.Make.MakeName, Model.BikeModel.ModelName, Model.FirstVersion.VersionName)" data-modelid="@Model.BikeModel.ModelId" class="btn btn-orange btn-180-32 bw-ga">View dealer details</a>
                                        </div>
                                    }
                                   
                                    else
                                    {
                                      @Html.Partial("~/Views/Shared/Ads/Desktop/Ad300x250.cshtml", Model.AdTags)
                                    }
                                </div>
                            </div>
                            }
                            <div class="clear"></div>
                            @if (Model.IsNew) { 
                            <div class="border-solid-top margin-top20 padding-top20 font14">
                                <p class="font-bold margin-bottom10">Quick facts about @Model.BikeModel.ModelName</p>
                                <p class="text-slate-grey">@Model.PageDescription</p>
                            </div>
                            }
                        </div>

                        <!-- model about start (widget)-->
                        @if (Model.BikeInfo != null)
                        {
                            @Html.Partial("~/views/Bikemodels/_BikeInfoCard.cshtml", Model.BikeInfo)
                        }
                        <!-- model about end -->
                    </div>
                    <!-- model on-road price end -->
                    <!-- model dealers start -->
                    <div id="dealerContent" class="bw-model-tabs-data">
                        <div class="section-bottom-margin">
                            <div class="grid-12 grid-no-padding">
                                <div class="content-box-shadow">
                                    @if (Model.HasDealers)
                                    {
                                    <div class="padding-top20 font14">
                                        <div class="carousel-heading-content">
                                            <div class="swiper-heading-left-grid inline-block">
                                                <h2 class="card-h2-heading">@Model.DealersWidget_H2</h2>
                                                </div>
                                            <div class="swiper-heading-right-grid inline-block text-right">
                                                <a href="@Model.DealersWidget_ViewAll_Href" title="@Model.DealersWidget_ViewAll_Title" class="btn view-all-target-btn">View all</a>
                                            </div>
                                        </div>
                                        @Html.Partial("~/views/dealershowroom/_DealerCard.cshtml", Model.Dealers)
                                        <div class="clear"></div>
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <!-- model service centers start -->
                        @if (Model.HasServiceCenters)
                        {
                            <div class="section-bottom-margin">
                                <div class="grid-12 grid-no-padding">
                                    <div class="content-box-shadow content-inner-block-20">
                                        <div class="grid-10-inline margin-right-4">
                                            <span class="bwsprite service-center-grey"></span>
                                            <div class="grid-11-inline padding-left20">
                                                <h2 class="card-h2-heading margin-bottom5">@string.Format("{0} {1}", Model.ServiceCentersCount, Model.ServiceCenterWidget_H2)</h2>
                                                <p class="font14 text-slate-grey">Get in touch with your nearest @Model.Make.MakeName service center in @Model.CityEntity.CityName for service enquiries, service and repair costs and more!</p>
                                            </div>
                                        </div>
                                        <div class="grid-2-inline text-right">
                                            <a href="@Model.ServiceCenterWidget_ViewAll_Href" title="@Model.ServiceCenterWidget_ViewAll_Title" class="btn view-all-target-btn">View complete list<span class="bwsprite teal-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                        <!-- model service centers end -->

                    </div>
                    <!-- model dealers end -->
                    <!-- model emi calculator start -->
                    @if (Model.IsNew) { 
                    <div id="emiContent" class="bw-model-tabs-data section-bottom-margin">
                        <div class="grid-12 grid-no-padding">
                            <div class="content-box-shadow content-inner-block-20">
                                <h2 class="card-h2-heading margin-bottom20">@Model.BikeModel.ModelName EMI Calculator</h2>

                                <div class="finance-emi-container font14">
                                    <div class="grid-8 alpha border-light-right padding-bottom5 margin-bottom10">

                                        <div class="emi-slider-box">
                                            <p class="text-slate-grey leftfloat">Down payment</p>
                                            <p class="rightfloat margin-right15">
                                                <span class="bwsprite inr-sm"></span>
                                                <span id="downPaymentAmount" class="text-bold" data-bind="text: formatPrice(Math.round(downPayment()))"></span>
                                            </p>
                                            <div class="clear"></div>

                                            <div id="downPaymentSlider"
                                                 data-bind="slider: downPayment, sliderOptions: { min: minDnPay(), max: maxDnPay(), range: 'min', step: 1, value: Math.round(((maxDnPay() - minDnPay()) / 2 ) + minDnPay()) }"
                                                 class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" c="Price_in_City_Page" a="Interacted_with_EMI_Calculator" l="@gaBikeName">
                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                            </div>
                                        </div>

                                        <div class="emi-slider-box">
                                            <p class="text-slate-grey leftfloat">Loan Amount</p>
                                            <p class="rightfloat margin-right15">
                                                <span class="bwsprite inr-sm"></span>
                                                <span id="loanAmount" class="text-bold" data-bind="text: formatPrice(Math.round(loan()))"></span>
                                            </p>
                                            <div class="clear"></div>

                                            <div id="loanAmountSlider"
                                                 data-bind="slider: loan, sliderOptions: { min: bikePrice() - maxDnPay(), max: bikePrice() - minDnPay(), range: 'min', step: 1 }"
                                                 class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" c="Price_in_City_Page" a="Interacted_with_EMI_Calculator" l="@gaBikeName">
                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                            </div>
                                        </div>

                                        <div class="emi-slider-box">
                                            <p class="text-slate-grey leftfloat">Tenure</p>
                                            <p class="rightfloat text-bold margin-right15">
                                                <span id="tenurePeriod" data-bind="text: tenure"></span>&nbsp;Months
                                            </p>
                                            <div class="clear"></div>

                                            <div id="tenureSlider"
                                                 data-bind="slider: tenure, sliderOptions: { min: minTenure(), max: maxTenure(), range: 'min', step: 1 }"
                                                 class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" c="Price_in_City_Page" a="Interacted_with_EMI_Calculator" l="@gaBikeName">
                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                            </div>
                                        </div>

                                        <div class="emi-slider-box">
                                            <p class="text-slate-grey leftfloat">Interest</p>
                                            <p class="rightfloat text-bold margin-right15">
                                                <span id="rateOfInterestPercentage" class="text-bold" data-bind="text: rateofinterest">5</span>%
                                            </p>
                                            <div class="clear"></div>

                                            <div id="rateOfInterestSlider"
                                                 data-bind="slider: rateofinterest, sliderOptions: { min: minROI(), max: maxROI(), range: 'min', step: 0.25 }"
                                                 class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all bw-ga" c="Price_in_City_Page" a="Interacted_with_EMI_Calculator" l="@gaBikeName">
                                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid-4 padding-left20 omega">
                                        <div class="border-light-bottom padding-bottom20 margin-bottom20">
                                            <p class="text-light-grey margin-bottom5">Total amount (Principal + Interest)</p>
                                            <div>
                                                <span class="bwsprite inr-lg"></span>&nbsp;
                                                <span class="font18 text-bold" data-bind="text: formatPrice(Math.round(totalPayable()))"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="text-light-grey margin-bottom5">Indicative EMI</p>
                                            <div>
                                                <span class="bwsprite inr-lg"></span>&nbsp;
                                                <span class="font18 text-bold">
                                                    <span id="emiAmount" data-bind="text: formatPrice(monthlyEMI())"></span>&nbsp;per month
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    }
                    <!-- model emi calculator end -->
                    <!-- model version prices start -->
                    @if (Model.IsNew && (Model.BikeVersionPrices != null || Model.HasNearestPriceCities)) {
                    <div id="priceListContent" class="bw-model-tabs-data section-bottom-margin">
                        <div class="grid-12 grid-no-padding">
                            <div class="content-box-shadow content-inner-block-20">
                                @if (Model.BikeVersionPrices != null) { 
                                <h2 class="card-h2-heading margin-bottom20">@Model.BikeName price list</h2>
                                <div id="version-prices-grid" class="grid-6 alpha padding-right20">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <thead>
                                            <tr>
                                                <th colspan="2" align="left" class="padding-bottom10">
                                                    <h3>@Model.BikeName version prices in @Model.CityEntity.CityName</h3>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td align="left" width="72%" class="font12 text-light-grey padding-bottom10 divider-bottom">Versions</td>
                                                <td align="left" width="28%" class="font12 text-light-grey padding-bottom10 divider-bottom">Price</td>
                                            </tr>
                                            @foreach (var bikeversion in Model.BikeVersionPrices)
                                            {
                                                <tr>
                                                    <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14">@string.Format("{0} {1}", Model.BikeName, bikeversion.VersionName)</td>
                                                    <td valign="top" class="padding-top10 padding-bottom10 divider-bottom font14 text-bold"><span class="bwsprite inr-sm-dark"></span>@Format.FormatPrice(Convert.ToString(bikeversion.OnRoadPrice))</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2" class="padding-top10 font12 text-light-grey">Above mentioned prices are On-road, @Model.CityEntity.CityName</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                }
                                @if (Model.HasNearestPriceCities){
                                <div id="nearby-prices-grid" class="grid-6 omega padding-left20">
                                    <h3 class="margin-bottom20">On-road prices in cities near @Model.CityEntity.CityName</h3>
                                   
                                        <table id="prices-top-cities" width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                @Html.Partial("~/Views/PriceInCity/_PriceInTopCities.cshtml", Model.NearestPriceCities)
                                            </tbody>
                                        </table>
                                </div>
                                }
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    }
                    
                    <!-- model version prices end -->
                    <!-- model similar start -->
                    @if (Model.HasAlternateBikes){
                    <div id="similarContent" class="bw-model-tabs-data section-bottom-margin">
                        <div class="grid-12 grid-no-padding">
                            <div class="content-box-shadow padding-top20 padding-bottom20">
                                <h2 class="card-h2-heading padding-right20 padding-left20">Prices of similar bikes in @Model.CityEntity.CityName</h2>
                                  <div id="modelAlternateBikeContent" class="bw-model-tabs-data padding-top20 padding-bottom20 font14 ">
                                        @Html.Partial("~/views/Bikemodels/_SimilarBikes.cshtml", Model.AlternateBikes)
                                    </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    }
                    <!-- model similar end -->

                    <div id="modelSpecsFooter"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>


    <!-- model prices in other cities start -->
    if(Model.IsNew){
    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow padding-bottom20">
                    <div class="content-inner-block-20">
                        <h2 class="card-h2-heading margin-bottom20">@Model.BikeModel.ModelName Prices in other cities</h2>
                        <div class="grid-9 alpha">
                            <p class="font14 text-slate-grey">You are currently viewing price of @Model.BikeName in @Model.CityEntity.CityName. Not from @Model.CityEntity.CityName? Select your city to see price in your city.</p>
                        </div>
                        <div class="grid-3 omega">
                            <a href="javascript:void(0)" id="changeCity" c="Price_in_City_Page" a="City_Change_Initiated_Bottom_Card" l="@gaBikeName" data-modelid="@Model.BikeModel.ModelId" data-makemasking="@Model.Make.MaskingName" data-modelmasking="@Model.BikeModel.MaskingName" class="btn changepriceincitypage btn-orange btn-200-32 bw-ga" rel="nofollow">Select your city</a>
                            @Html.Partial("~/Views/Price/_PriceInCityPopUp.cshtml")
                        </div>
                        <div class="clear"></div>
                    </div>
                    @if (Model.HasPriceInTopCities && Model.IsNew)
                    {
                        <div class="margin-right20 margin-bottom20 margin-left20 border-solid-bottom"></div>
                        <h3 class="margin-right20 margin-bottom20 margin-left20">@Model.BikeModel.ModelName prices in popular cities</h3>
                        @Html.Partial("~/views/PriceInCity/_ModelPriceInTopCitiesWidget.cshtml", Model.PriceInTopCities);
                    }
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    }
    <!-- model prices in other cities end -->

    <!-- top 10 bikes start -->

    if (Model.BikeRank != null)
    {
          <section>
                <div class="container section-bottom-margin">
                    <div class="grid-12">
                        <div class="content-box-shadow content-inner-block-20">
                            <div class="grid-10-inline margin-right-4">
                                <span class="bwsprite graph-rank-grey"></span>
                                <div class="grid-11-inline padding-left20">
                                    <h2 class="card-h2-heading margin-bottom5">Top 10 @Model.BikeRank.StyleName in India</h2>
                                    <p class="font14 text-slate-grey">Are you looking for a @Model.BikeRank.BikeType.ToLower()? Check out our list of top 10 @Model.BikeRank.StyleName.ToLower() in India.</p>
                                </div>
                            </div>
                            <div class="grid-2-inline text-right">
                                <a href="@UrlFormatter.FormatGenericPageUrl(Model.BikeRank.Rank.BodyStyle)" title="Best @Model.BikeRank.StyleName in India" class="btn view-all-target-btn">View complete list<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
}
    <!-- top 10 bikes end -->

    <!-- disclaimer start -->
    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="padding-right20 padding-left20 font12 text-slate-grey">
                    <p class="text-bold">Disclaimer:</p>
                    <p>BikeWale takes utmost care in gathering precise and accurate information about @Model.BikeName price in @Model.CityEntity.CityName.  However, this information is only indicative and may not reflect the final price you may pay. For more information please read <a target="_blank" href="/TermsConditions.aspx">Terms & Condition</a> ,<a target="_blank" href="/visitoragreement.aspx">Visitor Agreement</a> and  <a target="_blank" href="/privacypolicy.aspx">Privacy Policy</a>. </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <!-- disclaimer end -->

    <div class="hide" id="dvPgVar" data-cityarea="@Model.CookieCityArea" data-bikename="@Model.BikeName" data-modelid="@Model.BikeModel.ModelId"></div>
    { Html.RenderAction("ChangeLocation", "Location", new { cityId = Model.CityEntity.CityId, cityName = Model.CityEntity.CityName }); }
    <div class="hide" id="dvVersionPrice" data-isdiscontinued="@Model.IsDiscontinued">@EncodingDecodingHelper.EncodeTo64(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BikeVersionPrices))</div>
    <div class="hide" id="versionPrice">@EncodingDecodingHelper.EncodeTo64(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FirstVersion.OnRoadPrice))</div>
    <div class="hide" id="versionCount">@EncodingDecodingHelper.EncodeTo64(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BikeVersionPrices.Count()))</div>
}
