<div id="brand-type-container" class="brand-type-container">
    <ul>
        @foreach (var make in Model.TopBrands)
        {
            <li>
                <a href="@string.Format("/m/{0}-{1}/", make.MaskingName, !make.IsScooterOnly ? "scooters" : "bikes")" title="@String.Format("{0} scooters",make.MakeName)">
                    <span class="brand-type">
                        <span class="lazy brandlogosprite brand-@make.MakeId"></span>
                    </span>
                    <span class="brand-type-title">@make.MakeName</span>
                </a>
            </li>
        }        
    </ul>
    <ul class="brand-style-moreBtn brandTypeMore border-top1 padding-top25 hide">
        @foreach (var make in Model.OtherBrands)
        {
            <li>
                <a href="@string.Format("/m/{0}-{1}/", make.MaskingName, !make.IsScooterOnly ? "scooters" : "bikes")" title="@String.Format("{0} scooters",make.MakeName)">
                    <span class="brand-type">
                        <span class="lazy brandlogosprite brand-@make.MakeId"></span>
                    </span>
                    <span class="brand-type-title">@make.MakeName</span>
                </a>
            </li>
        }
    </ul>
</div>
@if (Model.HasOtherBrands)
    {
    <div class="view-all-btn-container">
        <a href="javascript:void(0)" class="view-brandType btn view-all-target-btn rotate-arrow" rel="nofollow"><span class="btn-label">View more brands</span><span class="bwmsprite teal-right"></span></a>
    </div>
}
