@using Bikewale.Entities.BikeData;
@using Bikewale.Utility;
@model IEnumerable<MostPopularBikesBase>
@if (Model != null && Model.Count() > 0) { 
<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 margin-bottom10">
        <div class="carousel-heading-content">
            <div class="swiper-heading-left-grid inline-block">
                <h2>Explore popular @ViewBag.MakeName bikes</h2>
            </div>
            <div class="swiper-heading-right-grid inline-block text-right">
                <a href="/m/@ViewBag.MakeMaskingName-bikes/" title="@ViewBag.MakeName Bikes" class="btn view-all-target-btn">View all</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="swiper-container card-container">
            <div class="swiper-wrapper">
                @foreach (var bike in Model)
                {
                    string bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="@string.Format("/m{0}",UrlFormatter.BikePageUrl(bike.objMake.MaskingName, bike.objModel.MaskingName))" title="@bikeName">
                                <div class="swiper-image-preview position-rel">
                                    <img class="swiper-lazy" data-src="@Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, ImageSize._174x98)" src="" alt="@bikeName">
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                                <div class="swiper-details-block">
                                    <h3 class="target-link font12 text-truncate margin-bottom5">@bikeName</h3>
                                    @if (bike.VersionPrice > 0)
                                    {
                                        <p class="text-truncate text-light-grey font11">Ex-showroom, @(!string.IsNullOrEmpty(bike.CityName) ? bike.CityName : Bikewale.Common.Configuration.GetDefaultCityName)</p>
                                        <p class="text-default font16">
                                            @Html.Raw("<span> &#x20B9;</span>")&nbsp;<span class="text-bold">@Format.FormatPrice(Convert.ToString(bike.VersionPrice))</span>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="text-default">
                                            <span class="text-bold font14">Price not available</span>
                                        </p>
                                    }
                                </div>
                            </a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
}

