@using Bikewale.Utility;
@model IEnumerable<Bikewale.Entities.ServiceCenters.ServiceCenterDetails>
 <div class="swiper-container card-container margin-bottom15 dealer-horizontal-swiper font14">
        <div class="swiper-wrapper">
            @foreach (var serviceCenter in Model)
            { 
            <div class="swiper-slide">
                <div class="swiper-card">
                    <a href="@string.Format("/m{0}",UrlFormatter.GetServiceCenterUrl(ViewBag.MakeMaskingName,ViewBag.CityMaskingName, serviceCenter.Name,serviceCenter.ServiceCenterId))" title="@serviceCenter.Name" class="block">
                        <div class="target-link margin-bottom5 text-truncate font14">@serviceCenter.Name</div>
                        @if (!string.IsNullOrEmpty(serviceCenter.Address))
                        {
                        <p class="margin-bottom5 text-light-grey">
                            <span class="bwmsprite dealership-loc-icon vertical-top"></span>
                            <span class="vertical-top dealership-address details-column">@FormatDescription.TruncateDescription(serviceCenter.Address, 95)</span>
                        </p>
                         }
                    </a>
                    @if (!string.IsNullOrEmpty(serviceCenter.Phone))
                    {
                    <a href="tel:@serviceCenter.Phone" class="text-default text-bold text-truncate block">
                        <span class="bwmsprite tel-sm-grey-icon"></span>@serviceCenter.Phone
                    </a>
                    }
                </div>
            </div>
            }
        </div>
    </div>
