@model Bikewale.Models.UpcomingPageVM
@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/sass/upcoming-bikes/upcoming-bikes.css' inline />";
    Model.Page_JS_Path = "/m/src/upcoming-bikes.js";
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_Upcoming";
    Model.AdTags.AdId = "1517814337429";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
}

@if (Model != null && Model.Make != null)
{
    <section>
        <div class="container bg-white card-bottom-margin">
            <h1 class="card-header">Upcoming @Model.Make.MakeName bikes</h1>
            <div class="card-inner-padding font14 text-light-grey collapsible-content">
                <p class="main-content">@Model.Make.MakeName is a well-known two-wheeler brand in India. @Model.Make.MakeName bikes announces some of its key upcoming models at the beginning of a year. Either we are a first-time bike buyer or a seasoned rider, we eagerly wait to know the expected launches of different brands. </p>
                <p class="more-content">BikeWale brings you a list of all expected @Model.Make.MakeName bike launches along with their expected price. Explore the list of upcoming @Model.Make.MakeName bikes and get ready to pick your favorite one for this year.</p><a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
            </div>
        </div>
    </section>

    <section>
        <div id="upcoming-bikes" data-make-filter="@Model.Make.MakeId" class="container bg-white box-shadow card-bottom-margin">
            <h2 class="padding-15-20 border-solid-bottom">@Model.TotalBikes Upcoming @Model.Make.MakeName bike@(Model.TotalBikes > 1 ? "s" : "")</h2>
            @Html.Partial("~/Views/Upcoming/_UpcomingBikesList_Mobile.cshtml", Model)
        </div>
    </section>
    if (Model.AdTags.Ad_300x250BTF)
    {
    <section>
        <div class="container">
            @Html.Partial("~/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", Model.AdTags)
        </div>
    </section>
    }
    if (Model.PopularBikes != null && Model.PopularBikes.Bikes != null && Model.PopularBikes.Bikes.Count() > 0)
    {
        <section>
            <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Other popular @Model.Make.MakeName bikes</h2>
                    </div><div class="swiper-heading-right-grid inline-block text-right">
                              <a href="@string.Format("/m/{0}-bikes/",Model.Make.MaskingName)" title="@string.Format("{0} Bikes",Model.Make.MakeName)" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.Partial("~/Views/BikeModels/_MostPopularBikes_Mobile.cshtml", Model.PopularBikes)
            </div>
        </section>
    }
    if (Model.OtherMakes != null)
    {
        <section>
            <div class="container bg-white box-shadow padding-top15 padding-bottom15 card-bottom-margin">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Upcoming bikes of other brands</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="/m/upcoming-bikes/" title="Upcoming bikes in India" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="swiper-container card-container brand-type-carousel">
                    <div class="swiper-wrapper">
                        @Html.Partial("~/Views/Make/_OtherMakes_Mobile.cshtml", Model.OtherMakes)
                    </div>
                </div>
            </div>
        </section>
    }
}