@model Bikewale.Models.UpcomingPageVM

@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/sass/upcoming-bikes/upcoming-bikes.css' inline />";
    Model.Page_JS_Path = "/m/src/upcoming-bikes.js";
    Model.IsTransparentHeader = true;
    Model.IsPageTypeLanding = true;
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_Upcoming";
    Model.AdTags.AdId = "1517814337429";
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.Ad_300x250BTF = true;
    
}

@if (Model != null)
{
    <section>
        <div class="container upcoming-bikes-banner text-center">
            <h1 class="font22 text-white">Upcoming Bikes</h1>
            <h2 class="font14 text-unbold text-white">Expected Launches in @DateTime.Now.Year</h2>
        </div>
    </section>

    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="banner-box-shadow padding-right20 padding-left20 padding-bottom20">
                    <div class="padding-top15 font14 text-light-grey collapsible-content">
                        <p class="main-content">India is the world’s largest two-wheeler market, and it can get a little confusing for the buyer who is waiting for their dream bike to launch. </p>
                        <p class="more-content">
                            Here on BikeWale’s ‘Upcoming Bikes’ page, we give you all the information about that bike you’ve been waiting for, 
                            so you can take an educated decision on whether to put off your purchase for a while and be ready to purchase that bike you’ve always wanted the instant it is launched!
                        </p>
                        <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <h2 class="section-heading">Upcoming bikes in India</h2>
        <div id="upcoming-bikes" class="container content-box-shadow section-bottom-margin">
            @Html.Partial("~/Views/Upcoming/_UpcomingBikesList_Mobile.cshtml", Model)
        </div>
    </section>
    if (Model.AdTags.Ad_300x250BTF)
    {
        <section>
                @Html.Partial("~/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", Model.AdTags);
        </section>
    }
    if (Model.NewLaunches != null)
    {
        <section>
            <h2 class="section-heading">New bike launches in India</h2>
            <div class="contaner content-box-shadow section-bottom-margin padding-top15 padding-bottom15">
                @Html.Partial("~/Views/NewLaunches/_NewLaunches_Mobile.cshtml", Model.NewLaunches)
                <div class="view-all-btn-container margin-top10">
                    <a href="/m/new-bike-launches/" title="New bike launches in India" class="btn view-all-target-btn">View all launches<span class="bwmsprite teal-right"></span></a>
                </div>
            </div>
        </section>
    }

    if (Model.Brands != null)
    {
        <section>
            <h2 class="section-heading">Upcoming bikes by brands</h2>
            <div class="container content-box-shadow section-bottom-margin padding-top25 padding-bottom20 text-center collapsible-brand-content">
                @Html.Partial("~/Views/Make/_Brands_Mobile.cshtml", Model.Brands)
            </div>
        </section>
    }

    if (Model.News != null)
    {
        <section>
            <h2 class="section-heading">More about upcoming bikes</h2>
            <div id="newsContent" class="padding-15-20-20 content-box-shadow card-bottom-margin content-details-wrapper font14">
               
                @Html.Partial("~/Views/News/_RecentNews_Mobile.cshtml", Model.News)
              
            </div>
        </section>
    }


}
