@{
    ViewBag.IsHeaderFix = false;
    ViewBag.IsTransparentHeader = false;
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/upcoming-bikes/upcoming-bikes.css' />";
    ViewBag.Page_JS_Path = "/src/upcoming-bikes.js";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
}

<section>
    <div class="container padding-top10">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url" title="Home">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="" itemprop="url" title="">
                            <span itemprop="title">Upcoming bikes</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span itemprop="title">Bajaj Upcoming bikes</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="bg-white">
                <h1 class="section-header">Upcoming Bajaj bikes</h1>
                <p class="section-inner-padding font14 text-light-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow">
                <div class="padding-right20 padding-left20">
                    <div class="padding-top15 padding-bottom15 border-solid-bottom">
                        <h3 class="font18 text-black grid-5 alpha">200 Upcoming Bajaj bikes</h3>
                        <div class="grid-7 omega text-right upcoming-filter">
                            <p class="font14 text-light-grey inline-block margin-right5">Filter by:</p>
                            <div class="select-box select-box-no-input inline-block right-align-box">
                                <select class="chosen-select" data-title="Select year">
                                    <option value="0">All years</option>
                                    <option value="1">2017</option>
                                    <option value="2">2016</option>
                                    <option value="3">2015</option>
                                    <option value="4">2014</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="upcoming-bikes-wrapper">
                    <ul class="bike-listing-horizontal">
                        <li class="list-item">
                            <div class="launching-label">
                                <p class="border-red-left font12 text-bold margin-bottom10 margin-left10">Launching this month</p>
                            </div>
                            <a href="" title="Bajaj model420x" class="block">
                                <div class="model-jcarousel-image-preview">
                                    <img src="https://imgd.aeplcdn.com//310x174//bw/models/ducati-multistrada-1200-enduro.jpg?20150612185045" alt="Bajaj model420x">
                                </div>
                                <div class="card-desc-block">
                                    <h3 class="bikeTitle">Bajaj model420x</h3>
                                    <p class="key-size-14 text-truncate">Expected launch</p>
                                    <span class="value-size-16">June 2016</span>
                                    <p class="key-size-14 text-truncate margin-top10">Expected price</p>
                                    <span class="bwsprite inr-lg"></span>&nbsp;
                                    <span class="value-size-18">12,489</span>&nbsp;
                                    <span class="value-size-14">onwards</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <div class="launching-label"></div>
                            <a href="" title="Bajaj model420x" class="block">
                                <div class="model-jcarousel-image-preview">
                                    <img src="https://imgd.aeplcdn.com//310x174//bw/models/suzuki-gixxer-fi.jpg?20161002175445" alt="Bajaj model420x">
                                </div>
                                <div class="card-desc-block">
                                    <h3 class="bikeTitle">Bajaj model420x</h3>
                                    <p class="key-size-14 text-truncate">Expected launch</p>
                                    <span class="value-size-16">June 2016</span>
                                    <p class="key-size-14 text-truncate margin-top10">Expected price</p>
                                    <span class="bwsprite inr-lg"></span>&nbsp;
                                    <span class="value-size-18">12,489</span>&nbsp;
                                    <span class="value-size-14">onwards</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <div class="launching-label"></div>
                            <a href="" title="Bajaj model420x" class="block">
                                <div class="model-jcarousel-image-preview">
                                    <img src="https://imgd.aeplcdn.com//310x174//bw/models/benelli-tornado-302.jpg?20152511122705" alt="Bajaj model420x">
                                </div>
                                <div class="card-desc-block">
                                    <h3 class="bikeTitle">Bajaj model420x</h3>
                                    <p class="key-size-14 text-truncate">Expected launch</p>
                                    <span class="value-size-16">June 2016</span>
                                    <p class="key-size-14 text-truncate margin-top10">Expected price</p>
                                    <span class="bwsprite inr-lg"></span>&nbsp;
                                    <span class="value-size-18">12,489</span>&nbsp;
                                    <span class="value-size-14">onwards</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-item">
                            <div class="launching-label">
                                <p class="border-red-left font12 text-bold margin-bottom10 margin-left10">Launching this month</p>
                            </div>
                            <a href="" title="Bajaj model420x" class="block">
                                <div class="model-jcarousel-image-preview">
                                    <img src="https://imgd.aeplcdn.com//310x174//bw/models/aprilia-sr150.jpg?20161002174559" alt="Bajaj model420x">
                                </div>
                                <div class="card-desc-block">
                                    <h3 class="bikeTitle">Bajaj model420x</h3>
                                    <p class="key-size-14 text-truncate">Expected launch</p>
                                    <span class="value-size-16">June 2016</span>
                                    <p class="key-size-14 text-truncate margin-top10">Expected price</p>
                                    <span class="bwsprite inr-lg"></span>&nbsp;
                                    <span class="value-size-18">12,489</span>&nbsp;
                                    <span class="value-size-14">onwards</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="padding-right20 padding-bottom10 padding-left20">
                    <div class="footer-pagination font14 border-solid-top padding-top10">
                        <div class="grid-5 alpha omega text-light-grey">
                            <p>
                                Showing
                                <span class="text-bold">1</span>-
                                <span class="text-bold">10</span> of
                                <span class="text-bold" data-bind="CurrencyText: TotalBikes()">1000</span> bikes
                            </p>
                        </div>
                        <div id="pagination-list-content" class="grid-7 alpha omega position-rel rightfloat pagination-list-content">
                            <ul id="pagination-list" class="pagination-list">
                                <li class="active">
                                    <a href="">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>
                                <li>
                                    <a href="">4</a>
                                </li>
                                <li>
                                    <a href="">5</a>
                                </li>
                            </ul>
                            <span class="pagination-control-prev inactive">
                                <a href="" class="bwmsprite bwsprite prev-page-icon"></a>
                            </span>
                            <span class="pagination-control-next">
                                <a href="" class="bwmsprite bwsprite next-page-icon"></a>
                            </span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="spinner-content" style="display: none">
                    <svg class="bw-spinner" width="50px" height="50px" viewBox="0 0 50 50">
                        <circle class="circle-path" fill="none" stroke-width="4" stroke-linecap="round" cx="25" cy="25" r="22"></circle>
                    </svg>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-bottom20">
                <div class="carousel-heading-content">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2>Upcoming bikes of other brands</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="" title="" class="btn view-all-target-btn">View all</a>
                    </div>
                    <div class="clear"></div>
                </div>
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@if (Model.NewLaunchedBikes != null && Model.NewLaunchedBikes.Bikes != null && Model.NewLaunchedBikes.Bikes.Count() > 0)
{

    <div class="carousel-heading-content padding-top20 padding-bottom15">
        <div class="swiper-heading-left-grid inline-block">
            <h2>New @Model.Make.MakeName bike launches</h2>
        </div><div class="swiper-heading-right-grid inline-block text-right ">
            <a href="@string.Format("/new-{0}-bike-launches/", Model.Make.MaskingName)" title="@string.Format("{0} Bike Launches in India", Model.Make.MakeName)" class="btn view-all-target-btn">View all</a>
        </div>
        <div class="clear"></div>
    </div>
    @Html.Partial("~/Views/NewLaunches/_NewLaunches.cshtml", Model.NewLaunchedBikes)



}

<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/src/frameworks.js?@ViewBag.staticFileVersion"></script>