@model Carwale.DTOs.CarData.SubNavigationDTO

@using Carwale.UI.Common;
@using Carwale.Utility;
@using Carwale.BL.CMS;
@using Carwale.Entity.Enum;
@using Carwale.UI.PresentationLogic;
@{
    string trackingAction360 = string.Empty;
    switch (Model.Page)
    {
        case Pages.ModelPageId: trackingAction360 = "model"; break;
        case Pages.PIC: trackingAction360 = "price_in_city_experiment"; break;
        case Pages.VersionPage: trackingAction360 = "version"; break;
        case Pages.ExpertReviewDetails: trackingAction360 = "expertreview"; break;
        case Pages.UserReviewListing: trackingAction360 = "user_review"; break;
    }
    string carName = string.Format("{0} {1}", Model.MakeName, Model.ModelName);
}
<!-- nav code starts here -->
<!-- refactoring pending and reviews and on Road price -->
<div class="container">
    @if (Model != null)
    {
        string modelUrl = @ManageCarUrl.CreateModelUrl(Model.MakeName, Model.MaskingName);
        <div id="dropdown-nav">
            <ul id="ulSubNavigation" class="dropdown-menu dropdown-menu-skin city-price-container__menu">
                <li id="liOverview">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="@Model.ModelName" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" id="overview" class="truncate-modelname" title="@Model.ModelName" href="@(modelUrl)">@Model.ModelName</a>
                </li>
                <li>
                    <a class="menu-active" data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="On Road Price" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="#">On Road Price</a>
                </li>
                <li id="liReviews">
                    <a href="#" rel="nofollow">Reviews</a>
                    <ul>
                        @if (Model.IsExpertReviewAvial)
                        {
                        <li hastagname="#expertreviews" @if (Model.Category != "") { <text> data-cwtccat="@Model.Category" data-cwtcact="ReviewTabClick" data-cwtclbl="@Model.Label" </text>  }><a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="Expert Reviews" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="@(modelUrl)@(Model.IsModelPage?"#expertreviews":"expert-reviews/")">Expert Reviews</a></li>
                        }
                        @if (Model.IsUserReviewsAvailable)
                        {
                        <li hastagname="#userreviews" @if (Model.Category != "") { <text> data-cwtccat="@Model.Category" data-cwtcact="ReviewTabClick" data-cwtclbl="@Model.Label" </text>  }><a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="User Reviews" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="@(modelUrl)@(Model.IsModelPage?"#userreviews":"userreviews/")">User Reviews</a></li>
                        }
                    </ul>
                </li>
                    @if (Model.ImageCount > 0 || Model.Is360Avail || Model.VideoCount > 0)
                    {
                        <li id="liPhotos">
                            <a href="javascript:void(0)">Gallery</a>
                            <ul>
                                @if (Model.ImageCount > 0)
                                {
                                    <li data-cwtccat="@Model.Category" data-cwtcact="PhotosTabClick" data-cwtclbl="@Model.Label">
                                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="Sub Navigation" data-action="Images" data-label="@string.Format("{0}-{1}-{2}-{3}", Model.Category, Model.MakeName, Model.ModelName, ViewBag.CityName)" href="@Carwale.BL.CMS.CMSCommon.GetImageUrl(Model.MakeName, Model.MaskingName)">Images (@Model.ImageCount)</a>
                                    </li>
                                }
                                @if (Model.Is360Avail)
                                {
                                    <li data-role="inview-imp" data-cat="desktop_360_linkages" data-label="@string.Format("{0} {1}", Model.MakeName, Model.ModelName)" data-action="@(trackingAction360)_sub_nav_impression">
                                        <a href="@EditorialContent.Get360PageUrl(Model.MakeName, Model.MaskingName, Model.Default360Category, false)" data-role="click-tracking" data-event="CWInteractive" data-cat="desktop_360_linkages" data-action="@(trackingAction360)_sub_nav" data-label="@carName">360° View</a>
                                    </li>
                                }
                                @if (Model.VideoCount > 0)
                                {
                                    <li data-role="inview-imp" data-cat="desktop_video_linkages" data-action="@(trackingAction360)_sub_nav_impression" data-label="@carName">
                                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="desktop_video_linkages" data-action="@(trackingAction360)_sub_nav" data-label="@carName" href="@CMSCommon.GetVideoUrl(Model.MakeName, Model.MaskingName, null, 0)">Videos (@Model.VideoCount)</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                <li id="liColors" @if (!Model.ShowColorsLink) {<text>hastagname = "#colours"</text>} @if(Model.ShowColorsLink) {<text>data-role="inview-imp" data-cat="desktop_colour_linkages" data-label="@string.Format("{0} {1}",Model.MakeName,Model.ModelName)" data-action="@(trackingAction360)_sub_nav_impression"</text>}>
                    <a data-role="click-tracking" data-event="CWInteractive" @if(Model.ShowColorsLink) {<text>data-cat="desktop_colour_linkages"  data-label="@string.Format("{0} {1}",Model.MakeName,Model.ModelName)" data-action="@(trackingAction360)_sub_nav"</text>}else{<text>data-cat="New Sub Navigation" data-action="Colours" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)"</text>} href="@(modelUrl)@(Model.ShowColorsLink?"colours/":"#colours")">Colours</a>
                </li>
                <li id="liVersions" hastagname="#versions">
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="Versions" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="@(modelUrl)#versions">Versions</a>
                </li>
                @if (Model.IsReviewsAvial)
                {
                    <li hastagname="#news">
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="News" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="@(modelUrl)@(Model.IsModelPage?"#news":"news/")">News</a>
                    </li>
                }                
                @if (Model.IsMileageAvail)
                {
                    <li>
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="Mileage" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="@(modelUrl)mileage/">Mileage</a>
                    </li>
                }
                <li>
                    <a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="Dealers" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="/new/@UrlRewrite.FormatSpecial(Model.MakeName)-dealers/">Dealers</a>
                </li>
                @if (Model.IsUsedCarAvail)
                {
                    <li>
                        <a data-role="click-tracking" data-event="CWInteractive" data-cat="New Sub Navigation" data-action="Used Model" data-label="@string.Format("{0}-{1}-{2}-{3}",Model.Category,Model.MakeName,Model.ModelName, ViewBag.CityName)" href="/used/@UrlRewrite.FormatSpecial(Model.MakeName)-@Model.MaskingName-cars/">Used Model</a>
                    </li>
                }                
            </ul>
        </div>
    }
</div>