@model List<Carwale.Entity.CarData.LaunchedCarModel>
@using Carwale.UI.Common;
@using Carwale.Utility;
@using Carwale.Entity;
   @foreach (var item in Model)
    {
        <li>
            <div class="front">
                <div class="contentWrapper">
                    <div class="imageWrapper">
                        @if (item.Version != null && item.Version.VersionId > 0 && item.Version.VersionName != null)
                        {
                            <a href="@ManageCarUrl.CreateVersionUrl(item.Make.MakeName, item.Model.MaskingName, item.Version.VersionMasking)" onclick='trackTNU("NewLauncheCars", "NewLauncheCars-Click","@item.Version.VersionName");'>
                                <img width="310" height="174" class="lazy" src="https://imgd.aeplcdn.com/0x0/statics/grey.gif" data-original="@ImageSizes.CreateImageUrl(item.Image.HostUrl,ImageSizes._310X174,item.Image.ImagePath)" title="@item.Make.MakeName @item.Model.ModelName @item.Version.VersionName" alt="@item.Make.MakeName @item.Model.ModelName @item.Version.VersionName">
                            </a>
                        }
                        else
                        {
                            <a href="@ManageCarUrl.CreateModelUrl(item.Make.MakeName,item.Model.MaskingName)" onclick='trackTNU("NewLauncheCars", "NewLauncheCars-Click","@item.Model.ModelName");'>
                                <img width="310" height="174" class="lazy" src="https://imgd.aeplcdn.com/0x0/statics/grey.gif" data-original="@ImageSizes.CreateImageUrl(item.Image.HostUrl,ImageSizes._310X174,item.Image.ImagePath)" title="@item.Make.MakeName @item.Model.ModelName" alt="@item.Make.MakeName @item.Model.ModelName">
                            </a>
                        }
                    </div>
                    <div class="carDescWrapper">
                        @if (item.Version != null && item.Version.VersionId > 0 && item.Version.VersionName != null)
                        {
                            <div class="carTitle margin-bottom20 text-bold">
                                <a href="@ManageCarUrl.CreateVersionUrl(item.Make.MakeName, item.Model.MaskingName, item.Version.VersionMasking)"  title="@item.Make.MakeName @item.Model.ModelName @item.Version.VersionName">@item.Make.MakeName @item.Model.ModelName @item.Version.VersionName</a>
                            </div>
                        }
                        else
                        {
                            <div class="carTitle margin-bottom20 text-bold">
                                <a href="@ManageCarUrl.CreateModelUrl(item.Make.MakeName,item.Model.MaskingName)" title="@item.Make.MakeName @item.Model.ModelName">@item.Make.MakeName @item.Model.ModelName</a>
                            </div>
                        }

                        <div class="margin-bottom5 font24">
                            ₹
                            <span class="font25"> @(FormatPrice.GetFormattedPriceV2(item.PriceOverview != null ? item.PriceOverview.Price.ToString() : "0"))</span>
                            @if (item.PriceOverview != null && item.PriceOverview.PriceVersionCount > 1)
                            {
                                <span class="font24">onwards</span>
                            }
                        </div>
                        @if (item.PriceOverview != null && item.PriceOverview.PriceLabel != null)
                        {
                            <div class='font14 text-light-grey @(item.PriceOverview.PriceStatus == (int)PriceBucket.PriceNotAvailable ? "oliveText" : item.PriceOverview.PriceStatus==(int)PriceBucket.CarNotSold ? "redText":"")'>@(item.PriceOverview.PriceStatus == (int)PriceBucket.HaveUserCity ? item.PriceOverview.PriceLabel + ", " + item.PriceOverview.City.CityName : item.PriceOverview.PriceLabel)</div>
                            
                            if (item.PriceOverview.City == null && item.PriceOverview.Price > 0)
                            {
                                <div>
                                    <span class="justLaunched text-bold text-link font14 carModelPage"
                                          data-role="click-inview-imp" data-cat="desktop_justlaunchedcarousel" data-action="showpriceinmycity" data-label="@item.Model.ModelName"
                                          onclick="RedirectToModelPage('@Format.FormatSpecial(item.Make.MakeName)','@item.Model.MaskingName', this)">
                                        @CWConfiguration.orpText
                                    </span>
                                </div>
                                
                            }
                            else if( item.PriceOverview.PriceStatus == 1)
                            {
                                <div>
                                    <span class="justLaunched text-bold text-link font14 priceInCity"
                                          data-role="click-inview-imp" data-cat="desktop_justlaunchedcarousel" data-action="viewpricebreakup" data-label="@String.Format("{0}_{1}", item.Model.ModelName,item.PriceOverview.City.CityName)"
                                          onclick="GetPriceQuote('', @item.Model.ModelId, 0, this)">
                                        @CWConfiguration.ViewPriceBreakupText
                                    </span>
                                </div>

                            }
                        }
                        
                    </div>
                </div>
            </div>
            
        </li>
    }