@model Bikewale.ManufacturerCampaign.Entities.NavigationWidgetEntity


<link href="~/css/materialize-stepper.css" rel="stylesheet" />
<div class="row">
    <ul class="stepper horizontal focused">
        @if (Model != null)
        {
            if (!(Model.CampaignId > 0))
            {
                <li class="step @(Model.ActivePage == 1 ? "active" : "")"><a href="/manufacturercampaign/information/@Model.DealerId/"><div class="step-title waves-effect waves-dark" data-step-label="Step 1">Configure Campaign</div></a></li>
                <li class="step"><span><div class="step-title waves-effect waves-dark" data-step-label="Step 2">Configure Properties</div></span></li>
                <li class="step"><span><div class="step-title waves-effect waves-dark" data-step-label="Step 3">Configure Popup</div></span></li>
                <li class="step"><span><div class="step-title waves-effect waves-dark" data-step-label="Step 4">Configure Rules</div></span></li>
            }
            else
            {
                <li class="step @(Model.ActivePage == 1 ? "active" : "")"><a href="/manufacturercampaign/information/@Model.DealerId/?campaignId=@Model.CampaignId"><div class="step-title waves-effect waves-dark" data-step-label="Step 1">Configure Campaign</div></a></li>
                <li class="step @(Model.ActivePage == 2 ? "active" : "")"><a href="/manufacturercampaign/properties/@Model.DealerId/?campaignId=@Model.CampaignId"><div class="step-title waves-effect waves-dark" data-step-label="Step 2">Configure Properties</div></a></li>
                <li class="step @(Model.ActivePage == 3 ? "active" : "")"><a href="/manufacturercampaign/popup/@Model.DealerId/?campaignId=@Model.CampaignId"><div class="step-title waves-effect waves-dark" data-step-label="Step 3">Configure Popup</div></a></li>
                <li class="step @(Model.ActivePage == 4 ? "active" : "")"><a href="/manufacturercampaign/rules/campaignId/@Model.CampaignId/?dealerId=@Model.DealerId"><div class="step-title waves-effect waves-dark" data-step-label="Step 4">Configure Rules</div></a></li>
            }
        }
    </ul>
</div>