@model Bikewale.ManufacturerCampaign.Entities.CampaignPropertyEntity
@{
    ViewBag.Title = "Configure Properties for Manufacturer Campaign";
    ViewBag.PageTitle = "Configure Properties for Manufacturer Campaign";
}

@Html.Partial("~/Views/ManufacturerCampaign/_NavigationBreadcrumbs.cshtml", Model.NavigationWidget)
<script src="~/src/materialize-stepper.min.js"></script>
<form action="/manufacturercampaign/saveproperties/@Model.DealerId/?campaignid=@Model.CampaignId" method="post" onsubmit="return Validate()">
    <div class="row">
        <div class="stepper-height-60 col m6  offset-m3" id="properties">
            <ul class="stepper vertical">
                <li class="step">
                    <div class="step-title waves-effect waves-dark">Configure Leads Property</div>
                    <div class="step-content">
                        <div class="row margin-top20">
                            <input type="checkbox" class="filled-in" id="HasLeadProperties" name="HasLeadProperties" @(Model.EMI != null && Model.Lead.EnableProperty ? "checked='checked'" : string.Empty) value='@Model.Lead.EnableProperty' />
                            <label class="font18" for="HasLeadProperties">Enable Leads Property</label>
                        </div>
                        <div id="leadproperties">
                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="LeadButtonTextMobile" name="LeadButtonTextMobile" type="text" class="validate text_input" maxlength="100" disabled="disabled" value="@(Model.Lead.ButtonTextMobile!= null? Model.Lead.ButtonTextMobile : string.Empty)">
                                    <label for="LeadButtonTextMobile">Button Text Mobile Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkLeadsButtonMobile" name="chkLeadsButtonMobile" @(Model.Lead.ButtonTextMobile != null && Model.Lead.ButtonTextMobile.Length > 0 ? string.Empty : "checked='checked'" ) disabled="disabled" />
                                    <label for="chkLeadsButtonMobile">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="LeadPropertyTextMobile" name="LeadPropertyTextMobile" type="text" class="validate text_input" maxlength="100" disabled="disabled" value="@(Model.Lead.PropertyTextMobile!= null? Model.Lead.PropertyTextMobile : string.Empty)">
                                    <label for="LeadPropertyTextMobile">Property Text Mobile Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkLeadsPropertyMobile" name="chkLeadsPropertyMobile" @(Model.Lead.PropertyTextMobile != null && Model.Lead.PropertyTextMobile.Length > 0 ? string.Empty : "checked='checked'" ) disabled="disabled" />
                                    <label for="chkLeadsPropertyMobile">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="LeadButtonTextDesktop" name="LeadButtonTextDesktop" type="text" class="validate text_input" maxlength="100" disabled="disabled" value="@(Model.Lead.ButtonTextDesktop!= null? Model.Lead.ButtonTextDesktop : string.Empty)">
                                    <label for="LeadButtonTextDesktop">Button Text Desktop Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkLeadsButtonDesktop" name="chkLeadsButtonDesktop" @(Model.Lead.ButtonTextDesktop != null && Model.Lead.ButtonTextDesktop.Length > 0 ? string.Empty : "checked='checked'" ) disabled="disabled" />
                                    <label for="chkLeadsButtonDesktop">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="LeadPropertyTextDesktop" name="LeadPropertyTextDesktop" type="text" class="validate text_input" maxlength="100" disabled="disabled" value="@(Model.Lead.PropertyTextDesktop!= null? Model.Lead.PropertyTextDesktop : string.Empty)">
                                    <label for="LeadPropertyTextDesktop">Property Text Desktop Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkLeadsPropertyDesktop" name="chkLeadsPropertyDesktop" @(Model.Lead.PropertyTextDesktop != null && Model.Lead.PropertyTextDesktop.Length > 0 ? string.Empty : "checked='checked'" ) disabled="disabled" />
                                    <label for="chkLeadsPropertyDesktop">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="LeadHtmlMobile" name="LeadHtmlMobile" type="text" class="validate text_input" maxlength="10000" disabled="disabled" value="@(Model.Lead.HtmlMobile!= null? WebUtility.HtmlDecode(Model.Lead.HtmlMobile) : string.Empty)">
                                    <label for="LeadHtmlMobile">Mobile Site HTML Template</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkLeadsMobileTemplate" name="chkLeadsMobileTemplate" checked="checked" disabled="disabled" />
                                    <label for="chkLeadsMobileTemplate">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="LeadHtmlDesktop" name="LeadHtmlDesktop" type="text" class="validate text_input" maxlength="10000" disabled="disabled" value="@(Model.Lead.HtmlDesktop!= null? WebUtility.HtmlDecode(Model.Lead.HtmlDesktop) : string.Empty)">
                                    <label for="LeadHtmlDesktop">Desktop Site HTML Template</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkLeadsDesktopTemplate" name="chkLeadsDesktopTemplate" checked="checked" disabled="disabled" />
                                    <label for="chkLeadsDesktopTemplate">Use Default</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m8">
                                    <select id="LeadPriority" name="LeadPriority" disabled>
                                        <option value="0">Select</option>
                                        @foreach (var leadPriority in Model.LeadPriority)
                                        {
                                            <option @(leadPriority.IsSelected ? "selected" : string.Empty ) value="@leadPriority.Id">@leadPriority.Status</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="card teal lighten-5">
                                <div class="card-content">
                                    <div class="row">
                                        <h6>Configure Price breakup link on PriceInCity and PriceQuote page</h6>
                                    </div>
                                    <div class="row padding-bottom20">
                                        <div class="input-field col m6">
                                            <span class="font18" for="isPopup">Open Lead Capture as a separate page?</span>
                                        </div>
                                        <div class="input-field col m6">
                                            <div class="switch">
                                                <label>
                                                    No<input type="checkbox" name="IsPopup" id="isPopUp" @((!string.IsNullOrEmpty(Model.Lead.PriceBreakUpLinkMobile) && (!string.IsNullOrEmpty(Model.Lead.PriceBreakUpLinkDesktop))) ? "checked='checked'" : string.Empty)>
                                                    <span class="lever"></span>Yes
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m6">
                                            <input id="PriceBreakUpLinkTextMobile" name="PriceBreakUpLinkTextMobile" type="text" data-ignorevalidation class="validate" maxlength="100" value="@(Model.Lead.PriceBreakUpLinkTextMobile!= null? WebUtility.HtmlDecode(Model.Lead.PriceBreakUpLinkTextMobile) : string.Empty)">
                                            <label for="PriceBreakUpLinkTextMobile">Mobile Price Breakup Text</label>
                                        </div>
                                        <div class="input-field col m6">
                                            <input id="PriceBreakUpLinkMobile" name="PriceBreakUpLinkMobile" type="text" class="validate price_link" maxlength="100" disabled="disabled" value="@(Model.Lead.PriceBreakUpLinkMobile!= null? WebUtility.HtmlDecode(Model.Lead.PriceBreakUpLinkMobile) : string.Empty)">
                                            <label for="PriceBreakUpLinkMobile">Mobile Price Breakup Link</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m6">
                                            <input id="PriceBreakUpLinkTextDesktop" name="PriceBreakUpLinkTextDesktop" type="text" data-ignorevalidation class="validate" maxlength="100" value="@(Model.Lead.PriceBreakUpLinkTextDesktop!= null? WebUtility.HtmlDecode(Model.Lead.PriceBreakUpLinkTextDesktop) : string.Empty)">
                                            <label for="PriceBreakUpLinkTextDesktop">Desktop Price Breakup Text</label>
                                        </div>
                                        <div class="input-field col m6">
                                            <input id="PriceBreakUpLinkDesktop" name="PriceBreakUpLinkDesktop" type="text" class="validate price_link" maxlength="100" disabled="disabled" value="@(Model.Lead.PriceBreakUpLinkDesktop!= null? WebUtility.HtmlDecode(Model.Lead.PriceBreakUpLinkDesktop) : string.Empty)">
                                            <label for="PriceBreakUpLinkDesktop">Desktop Price Breakup Link</label>
                                        </div>
                                    </div>
                                </div>
                              </div>


                            </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">Configure Emi Property</div>
                    <div class="step-content">
                        <div class="row margin-top20">
                            <div>
                                <input type="checkbox" class="filled-in" id="HasEmiProperties" name="HasEmiProperties" @(Model.EMI.EnableProperty ? "checked='checked'" : string.Empty) value='@Model.EMI.EnableProperty' />
                                <label class="font18" for="HasEmiProperties">Enable Emi Property</label>
                            </div>
                            @*<div class="col m11">
                                    <span class="flow-text">Configure Emi Property</span>
                                </div>*@
                        </div>
                        <div id="emiproperties">
                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="EmiButtonTextMobile" name="EmiButtonTextMobile" type="text" maxlength="100" disabled="disabled" value="@(Model.EMI.ButtonTextMobile!= null? Model.EMI.ButtonTextMobile : string.Empty)">
                                    <label for="EmiButtonTextMobile">Button Text Mobile Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkEmiButtonMobile" name="chkEmiButtonMobile" checked="checked" value="@(Model.EMI.ButtonTextMobile!= null && Model.EMI.ButtonTextMobile.Length > 0 ? false : true)" disabled="disabled" />
                                    <label for="chkEmiButtonMobile">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="EmiPropertyTextMobile" name="EmiPropertyTextMobile" type="text" class="validate" maxlength="100" disabled="disabled" value="@(Model.EMI.PropertyTextMobile!= null? Model.EMI.PropertyTextMobile : string.Empty)">
                                    <label for="EmiPropertyTextMobile">Property Text Mobile Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkEmiPropertyMobile" name="chkEmiPropertyMobile" checked="checked" disabled="disabled" />
                                    <label for="chkEmiPropertyMobile">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="EmiButtonTextDesktop" name="EmiButtonTextDesktop" type="text" class="validate" maxlength="100" disabled="disabled" value="@(Model.EMI.ButtonTextDesktop!= null? Model.EMI.ButtonTextDesktop : string.Empty)">
                                    <label for="EmiButtonTextDesktop">Button Text Desktop Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkEmiButtonDesktop" name="chkEmiButtonDesktop" checked="checked" disabled="disabled" />
                                    <label for="chkEmiButtonDesktop">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <input id="EmiPropertyTextDesktop" name="EmiPropertyTextDesktop" type="text" class="validate" maxlength="100" disabled="disabled" value="@(Model.EMI.PropertyTextDesktop!= null? Model.EMI.PropertyTextDesktop : string.Empty)">
                                    <label for="EmiPropertyTextDesktop">Property Text Desktop Site</label>
                                </div>

                                <div class="col m4 margin-top25">
                                    <input type="checkbox" class="filled-in default-chk" id="chkEmiPropertyDesktop" name="chkEmiPropertyDesktop" checked="checked" disabled="disabled" />
                                    <label for="chkEmiPropertyDesktop">Use Default</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col m8">
                                    <select id="EmiPriority" name="EmiPriority" disabled>
                                        <option value="0">Select</option>
                                        @foreach (var opt in Model.EMIPriority)
                                        {
                                            <option @(opt.IsSelected ? "selected" : string.Empty ) value="@opt.Id">@opt.Status</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <input type="hidden" id="FormattedHtmlDesktop" name="FormattedHtmlDesktop" value="">
            <input type="hidden" id="FormattedHtmlMobile" name="FormattedHtmlMobile" value="">
            <button id="btnConfigureCampaign" name="btnConfigureCampaign" class="btn waves-effect waves-light" type="submit">
                Configure
            </button>
        </div>
    </div>
</form>
<script src="/src/ManufactureCampaign/configureCampaignProperties.js?18052018"></script>
