@model Bikewale.ManufacturerCampaign.Entities.ManufacturerCampaignRulesVM
@{
    ViewBag.Title = "Manufacturer Campaign Rules";
    ViewBag.PageTitle = "Configure Rules for Manufacturer Campaign";
}
<input type="hidden" id="CampaignId" value="@Model.CampaignId" />
@Html.Partial("~/Views/ManufacturerCampaign/_NavigationBreadcrumbs.cshtml", Model.NavigationWidget)
<div class="row">
    <div class="col m9 margin-bottom30">
       @if (Model != null && Model.Rules != null && Model.Rules.Count() > 0)
       {
         <ul class="collapsible" data-collapsible="accordion">
               @foreach (var rule in Model.Rules){
                <li>
                    <div class="collapsible-header">
                        <blockquote>
                            <div class="chip">
                                @rule.Make.MakeName @rule.Model.ModelName
                                <i class="close material-icons red-text no-margin" data-element="model" data-modelId="@rule.Model.ModelId" data-name="@rule.Make.MakeName @rule.Model.ModelName">close</i>
                            </div>
                        </blockquote>
                    </div>
                    <div class="collapsible-body">
                        <div class="margin-left30 margin-bottom10">
                            @foreach (var s in rule.State)
                            {
                                <div class="state">
                                @if (s.StateId > 0)
                                {
                                    <blockquote>
                                        <div class="chip">
                                            @s.StateName
                                            <i class="close material-icons red-text" data-element="state" data-modelId="@rule.Model.ModelId" data-stateid="@s.StateId" data-name="@s.StateName">close</i>
                                        </div>
                                    </blockquote>
                                }
                                <div class="inline-block margin-top10">
                                    @foreach (var c in s.Cities)
                                    {
                                        <div class="chip">
                                            @c.CityName
                                            <input type="hidden" id="CityId" value="@c.CityId" />
                                            <i class="close material-icons red-text" data-element="city" data-modelId="@rule.Model.ModelId" data-cityId="@c.CityId" data-allindia="@(c.CityId == 0 ? true : false)" data-name="@c.CityName">close</i>
                                        </div>
                                    }
                                </div>
                                </div>
                            }
                        </div>
                    </div>
                </li>
                }
       </ul>
       }
    </div>


    <div class="col m3" id="configRules">
        <form method="post">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><strong>Configure Bike Models (Step 1)</strong></div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="list-type-radio" id="configModels">
                                <div class="input-field row s12 toggle-field-parent">
                                    <input type="radio" id="rdoModel1" value="1" name="rdoModel" />
                                    <label for="rdoModel1">Select Models</label>
                                    <div class="toggle-field-content select-auto-width padding-left35 margin-top10 hide">
                                        @if (Model.Makes != null && Model.Makes.Count() > 0)
                                        {
                                            <select id="ddlMakes" name="makeIdList" data-bind="event:{change: selectMake}">
                                                <option>Select Make</option>
                                                @foreach (var make in Model.Makes)
                                                {
                                                    <option value="@make.MakeId">@make.MakeName</option>
                                                }
                                            </select>
                                            <br/>
                                            <select data-placeholder="Select Models" id="ddlModels" data-bind="options: listModels(), optionsText: 'modelName', optionsValue: 'modelId', optionsCaption: 'Select All', enable : listModels().length>0" multiple>
                                            </select>
                                        }
                                        else
                                        {
                                            <span>Problem in retrieving makes</span>
                                        }
                                    </div>
                                </div>
                                <div class="input-field row s12 toggle-field-parent">
                                    <input type="radio" id="rdoModel2" value="2" name="rdoModel" />
                                    <label for="rdoModel2">Enter list of Model Ids</label>
                                    <div class="toggle-field-content select-auto-width padding-left35 margin-top10 hide">

                                            <div class="input-field input-validate">
                                                <input id="txtModels" type="text" class="validate margin-bottom10 margin-top10" name="txtModels" length="6000" maxlength="6000">
                                                <label for="txtModels" data-error="Model ids should be comma separated only">Model Ids (Comma separated)</label>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><strong>Configure Locations (Step 2)</strong></div>
                    <div class="collapsible-body">
                        
                        <div class="container">                            
                            <div class="list-type-radio" id="configLoc">
                                <div class="input-field row s12">
                                  <input type="radio" id="rdoLocation1" value="1" name="location" data-bind="checked : isAllIndia.ForSubmit"/>
                                   <label for="rdoLocation1">All India</label>
                                 </div>

                                    <div class="input-field row s12 toggle-field-parent">
                                        <input type="radio" id="rdoLocation2" value="2" name="location" />
                                        <label for="rdoLocation2">Map States</label>
                                        <div class="toggle-field-content select-auto-width padding-left35 margin-top10 hide">
                                            @if (Model.States != null && Model.States.Count() > 0)
                                            {
                                                <select id="ddlStatesOnly" name="stateIdList" data-bind="event:{change: selectStates}" multiple>
                                                    <option disabled>Select States</option>
                                                    @foreach (var state in Model.States)
                                                    {
                                                        <option value="@state.StateId">@state.StateName</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <span>Problem in retrieving states</span>
                                            }
                                        </div>
                                    </div>


                                    <div class="input-field row s12 toggle-field-parent">
                                        <input type="radio" id="rdoLocation3" value="3" name="location" />
                                        <label for="rdoLocation3">Map Cities</label>
                                        <div class="toggle-field-content select-auto-width padding-left35 margin-top10 hide">
                                            @if (Model.States != null && Model.States.Count() > 0)
                                            {
                                                <select id="ddlStates" name="stateIdList" data-bind="event:{change: selectState}">
                                                    <option value="0">Select State</option>
                                                    @foreach (var state in Model.States)
                                                    {
                                                        <option value="@state.StateId">@state.StateName</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <span>Problem in retrieving states</span>
                                            }
                                           <select id="ddlCities" data-bind="options: listCities(), optionsText: 'cityName', optionsValue: 'cityId', optionsCaption:'Select All (All cities will be mapped)', enable : listCities().length>0" multiple></select>
                                           </div>
                                    </div>


                                    <div class="input-field row s12 toggle-field-parent">
                                        <input type="radio" id="rdoLocation4" value="4" name="location" />
                                        <label for="rdoLocation4">Enter list of City Ids</label>
                                        <div class="toggle-field-content padding-left35 margin-alpha margin-omega hide">
                                            <div class="input-field input-validate">
                                                <input id="txtCities" type="text" class="validate margin-bottom10 margin-top10"  name="txtCities" length="6000" maxlength="6000">
                                                <label for="txtCities" data-error="City ids should be comma separated only">City Ids (Comma separated)</label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            
                        </div>
                    </div>
                </li>
            </ul>
            <input type="hidden" value="@Model.CampaignId" name="campaignId" id="hdnCampaignId" />
            <input type="hidden" value="" name="modelIds" id="hdnModelIdList" />
            <input type="hidden" value="" name="stateIds" id="hdnStateIdList" />
            <input type="hidden" value="" name="cityIds" id="hdnCityIdList" />
            <input type="hidden" value="" name="isAllIndia" id="hdnIsAllIndia" />
            <input type="hidden" value="@BikeWaleOpr.Common.CurrentUser.Id" name="userId" id="hdnUserId" />
            <button id="btnAddRules" class="btn waves-effect waves-light" type="submit" name="action" formaction="/manufacturercampaign/rules/campaignid/@Model.CampaignId/add/?dealerId=@Model.DealerId">
                Add Rules
            </button>
        </form>
    </div>
</div>
<script type="text/javascript">
    var bwHostUrl = '@Bikewale.Utility.BWOprConfiguration.Instance.BwOprHostUrlForJs';
    var msg = '@Convert.ToString(TempData["msg"])';
    var onExShowroom=@Convert.ToString(Model.ShowOnExShowroom).ToLower();
</script>
<script src="~/src/ManufactureCampaign/rules.js"></script>
