@model Bikewale.ManufacturerCampaign.Entities.Models.SearchManufacturerCampaignVM
@{
    ViewBag.Title = "Bikewale Operations";
    ViewBag.PageTitle = "Manage Manufacturer's Campaigns";
}
<div id="mfgCampaigns" class="row" style="margin-top:5px;">
    <div class="col m10">
        <div id="tblCampaigns" class="hide" data-BwOprHostUrl="@System.Configuration.ConfigurationManager.AppSettings["BwOprHostUrlForJs"]" data-userid="@Model.UserId">
            <table class="bordered highlight z-depth-3 centered responsive-table" id="DealerCampaignsList">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Masking Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Campaign Days</th>
                    <th>Daily Start Time</th>
                    <th>Daily End Time</th>
                    <th>Daily Lead Limit</th>
                    <th>Daily Leads Delivered</th>
                    <th>Total Lead Limit</th>
                    <th>Total Leads Delivered</th>
                    <th>Show On Exshowroom</th>
                    <th>Campaign</th>
                    <th>Properties</th>
                    <th>Popup</th>
                    <th>Rules</th>
                    <th>Status</th>
                </tr>
                <tbody data-bind="template: { name: 'DealerCampaignList', foreach: ManufacturersCampaign }"></tbody>
            </table>
        </div>
    </div>
    <div class="col m2">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><strong>Search Campaign</strong></div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="input-field row s12">
                            <select id="ddlManufacturers" class="form-control chosen-default">
                                <option value="0">Select a brand</option>
                                @foreach (var MgfList in Model.ManufacturerList)
                                {
                                    <option value="@MgfList.Id">@MgfList.Organization</option>
                                }
                            </select>
                        </div>
                        <div class="input-field row s12">
                            <input type="checkbox" id="chkActiveStatus" name="rdoActiveStatus" value="2" class="with-gap" />
                            <label for="chkActiveStatus">Only Active Campaign</label>
                        </div>
                        <div class="input-field row s12">
                            <button data-bind="click: searchCampaigns" id="btnSearchCampaigns" class="btn waves-effect waves-light" type="submit" name="action">Search Campaign</button>
                        </div>

                    </div>

                </div>

            </li>
            <li>
                <div class="collapsible-header"><strong>Add Campaign</strong></div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="input-field row s12">
                            <select id="ddlAddManufacturers" class="form-control chosen-default">
                                <option value="0">Select a brand</option>
                                @foreach (var MgfList in Model.ManufacturerList)
                                {
                                    <option value="@MgfList.Id">@MgfList.Organization</option>
                                }
                            </select>
                            <span class="bwsprite error-icon errorIcon hide"></span>
                            <div class="bw-blackbg-tooltip errorText hide"></div>
                        </div>
                        <div class="input-field row s12">
                            <button data-bind="click: redirect" class="btn waves-effect waves-light" type="submit" name="action">
                                Add Campaign
                            </button>
                        </div>
                    </div>

                </div>

            </li>
        </ul>
    </div>
    <div id="msgBox" class="errorMessage margin-top10"></div>
</div>

<script type="text/html" id="DealerCampaignList">
    <tr>
        <td data-bind="text: id"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: maskingNumber"></td>
        <td data-bind="text: campaignStartDate"></td>
        <td data-bind="text: campaignEndDate"></td>
        <td>
             <a class="tooltipped" data-position="bottom" data-delay="50" data-bind="attr: {'data-tooltip': campaignDays}"><i class="material-icons icon-blue">info</i></a>
        </td>
        <td data-bind="text: dailyStartTime"></td>
        <td data-bind="text: dailyEndTime"></td>
        <td data-bind="text: dailyLeadLimit"></td>
        <td data-bind="text: dailyLeadsDelivered"></td>
        <td data-bind="text: totalLeadLimit"></td>
        <td>
            <div>
                <span data-bind="text: totalLeadsDelivered"></span>
                <p>
                    <a href="javascript:void(0)" data-bind="visible: totalLeadsDelivered > 0, event: { click: function (data, event) { $parent.resetTotalLeadsDelivered(data, event); } }" class="tooltipped" data-tooltip="Reset total leads delivered"><i class="material-icons icon-blue">autorenew</i></a>
                </p>
            </div>
        </td>
        <td data-bind="text: showCampaignOnExshowroom?'Yes':'No'"></td>
        <td>
            <a data-bind="attr: { href: '/manufacturercampaign/information/'+dealerId+'/?campaignId='+id }" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Campaign" target="_blank" rel="noopener"><i class="material-icons icon-blue">mode_edit</i></a>
        </td>
        <td>
            <a data-bind="attr: { href: '/manufacturercampaign/properties/'+dealerId+'/?campaignId='+id }"  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Campaign Properties" target="_blank" rel="noopener"><i class="material-icons icon-blue">mode_edit</i></a>
        </td>
        <td>
            <a  data-bind="attr: { href: '/manufacturercampaign/popup/'+dealerId+'/?campaignId='+id }" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Campaign popup" target="_blank" rel="noopener"><i class="material-icons icon-blue">mode_edit</i></a>
        </td>
        <td><a data-bind="attr: { href: '/manufacturercampaign/rules/campaignId/'+id+'/?dealerId='+dealerId}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Campaign Rules" target="_blank" rel="noopener"><i class="material-icons icon-blue">mode_edit</i></a></td>
        <td>
            <span data-bind="text: status"></span>
            <p>
                <a href="javascriptvoid(0)" data-bind="event: { click: function (data, event) { $parent.changeStatus(data, event); } },visible : (status=='Paused'||status=='Unstarted')?true:false" data-status="2" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Start Campaign"><i class="material-icons icon-green">play_circle_filled</i></a>

                <a href="javascriptvoid(0)" data-bind="event: { click: function (data, event) { $parent.changeStatus(data, event); } },visible : status=='Active'?true:false" class="tooltipped" data-status="4" data-position="bottom" data-delay="50" data-tooltip="Pause Campaign"><i class="material-icons icon-blue">pause_circle_filled</i></a>
                <a href="javascriptvoid(0)" data-bind="event: { click: function (data, event) { $parent.changeStatus(data, event); } },visible : (status=='Active'||status=='Paused')?true:false" data-status="6" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Abort Campaign" title="Abort Campaign"><i class="material-icons icon-red">cancel</i></a>
            </p>
        </td>
    </tr>
</script>

<script src="/src/ManufacturerCampaign/SearchManufacture.js"></script>
