@model Bikewale.Models.CompareDetailsVM
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/compare/details.css' />";
    Model.Page_JS_Path = "/src/compare/details.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isFirstActiveTab = true;
    int i = 0;
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/BikeWale_CompareBikes_";
    Model.AdTags.Ad_970x90Bottom = true;
    Model.AdTags.Ad_970x90 = true;
    
    }
<script type="text/javascript">
    var slideCountTwo = 2;
</script>
<section>
    <div class="container padding-top10">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url" title="Home">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="/comparebikes/" itemprop="url" title="Compare Bikes">
                            <span itemprop="title">Compare bikes</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span itemprop="title">@Model.comparisionText</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div id="bike-comparison-container" class="container card-bottom-margin" data-column-count="@(Model.Compare.BasicInfo.Count()<4?Model.Compare.BasicInfo.Count()+1:4)">
        <div id="sponsored-column-active" class="grid-12">
            <div class="content-box-shadow card-bottom-margin bw-tabs-panel">
                <h1 class="content-box-shadow padding-15-20 margin-bottom2">Bike Comparison - @Model.comparisionText</h1>

                <div class="grid-2 padding-left20 padding-top20">
                    <div class="toggle-features-btn cur-pointer">
                        <span class="bwsprite unchecked-box"></span>
                        <span id="toggle-features-btn" class="btn-label font14 inline-grid-9">Hide common features</span>
                    </div>
                </div>
                <div id="bike-comparison-grid" data-basicinfo="@Bikewale.Utility.EncodingDecodingHelper.EncodeTo64((new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(Model.Compare.BasicInfo));" data-sponseredId="@Model.sponsoredVersionId" class="grid-10 alpha omega">
                    <ul class="compare-bike-list">
                        @foreach (var bike in Model.Compare.BasicInfo)
                        {
                            string bikeName = string.Format("{0} {1}", bike.Make, bike.Model);
                            <li class="@string.Format("list-item {0}", (bike.VersionId != Model.sponsoredVersionId) ? "" : "sponsored-list-item")" data-value="@i @{i++;}">
                                <div class=" bike-details-block">
                                    <span class="bwsprite cancel-selected-item cross-md-dark-grey"></span>
                                    @if (bike.VersionId == Model.sponsoredVersionId)
                                    {
                                        <span class="position-abt text-light-grey font12 top-neg17">Sponsored</span>
                                    }

                                    <a href="@string.Format("/{0}-bikes/{1}/",bike.MakeMaskingName,bike.ModelMaskingName)" title="@bikeName" class="item-target-link underline-none">
                                        <p class="font12 text-black">@bike.Make</p>
                                        <h2 class="font15 margin-bottom10 text-truncate">@bike.Model</h2>
                                        <img class="bike-image-block" src="@Bikewale.Utility.Image.GetPathToShowImages(bike.ImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._210x118, Bikewale.Utility.QualityFactor._70)" alt="@bikeName">
                                    </a>
                                    @if (bike.Versions.Count() > 1)
                                    {
                                        <div class="select-box select-box-no-input select-version done">
                                            <p class="select-label">Version</p>
                                            <select class="chosen-select" data-title="Version">

                                                @foreach (var v in bike.Versions)
                                                {
                                                    <option value="@v.VersionId" @(bike.VersionId != v.VersionId ? "" : "selected")> @v.VersionName</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="single-version-content">
                                            <p class="font12 text-light-grey">Version</p>
                                            <p class="text-bold font14 dropdown-effect-light text-truncate">@bike.Version</p>
                                        </div>
                                    }
                                    <span class="error-text"></span>
                                    <p class="font-12 text-light-grey margin-bottom2">Ex-showroom, @Bikewale.Utility.BWConfiguration.Instance.DefaultName</p>
                                    <div class="margin-bottom5 font18 ">
                                        @Html.Raw("<span>&#x20B9;</span>")&nbsp;<span class="font-bold" data-bind="text: price">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.Price))</span>
                                    </div>
                                    @if ((bike.VersionId != Model.sponsoredVersionId) || string.IsNullOrEmpty(Model.FeaturedBike))
                                    {
                                        <a href="javascript:void(0)" data-pqsourceid="@((int)Model.PQSourceId)" data-makename="@bike.Make" data-modelname="@bike.Model" data-modelid="@bike.ModelId" class="btn btn-white btn-160-32 getquotation">Check on-road price</a>
                                    }
                                    else
                                    {
                                        <a href="@Model.FeaturedBike" c="Comparison_Page" a="Sponsored_Comparison_Know_more_clicked" l="@string.Format("{0}_TopCard", bikeName)" target ="_blank" class="bw-ga font14 know-more-target">Know more<span class="bwsprite know-more-icon"></span></a>
                                    }

                                </div>
                            </li>
                        }
                        @if (Model.Compare.BasicInfo.Count() < 4 && !Model.isSponsoredBike)
                        {
                            <li class="list-item">
                                <p class="font15 text-bold margin-bottom20">Add bike to compare</p>
                                <div class="add-bike-form">
                                    <div class="box-placeholder">
                                        <span class="box-label"><span class="add-icon"></span></span>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="add-compare-btn btn btn-white btn-160-32">Add another bike</button>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

                <div id="comparison-floating-card" class="content-box-shadow">
                    <div class="grid-2 padding-left20 padding-top20">
                        <div class="toggle-features-btn cur-pointer">
                            <span class="bwsprite unchecked-box"></span>
                            <span class="btn-label font14 inline-grid-9">Hide common features</span>
                        </div>
                    </div>
                    <div class="grid-10 alpha omega">
                        <ul class="compare-bike-list floating-compare-list">
                            @foreach (var bike in Model.Compare.BasicInfo)
                            {
                                string bikeName = string.Format("{0} {1}", bike.Make, bike.Model);
                                i = 0;
                                <li class="@string.Format("list-item {0}", (bike.VersionId != Model.sponsoredVersionId) ? "" : "sponsored-list-item")" data-value="@i @{i++;}">
                                    <div class="bike-details-block">
                                        <span class="bwsprite cancel-selected-item cross-md-dark-grey"></span>
                                        @if (bike.VersionId == Model.sponsoredVersionId)
                                        {
                                            <span class="position-abt text-light-grey font9 top-neg10">Sponsored</span>
                                        }

                                        <a href="@string.Format("/{0}-bikes/{1}/", bike.MakeMaskingName, bike.ModelMaskingName)" title="@bikeName" class="item-target-link underline-none">
                                            <p class="font12 text-black">@bike.Make</p>
                                            <p class="font14 text-bold text-black margin-bottom5 text-truncate">@bike.Model</p>
                                        </a>
                                        @if ((bike.VersionId != Model.sponsoredVersionId) || string.IsNullOrEmpty(Model.FeaturedBike))
                                        {
                                            <a href="javascript:void(0)" data-pqsourceid="@((int)Model.PQSourceId)" data-makename="@bike.Make" data-modelname="@bike.Model" data-modelid="@bike.ModelId" class="btn btn-white btn-160-32 getquotation">Check on-road price</a>
                                        }
                                        else
                                        {
                                            <a href="@Model.FeaturedBike" c="Comparison_Page" a="Sponsored_Comparison_Know_more_clicked" l="@string.Format("{0}_Floating", bikeName)" class="bw-ga know-more-target">Know more<span class="bwsprite know-more-icon"></span></a>
                                        }

                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="bw-tabs-flex overall-specs-tabs-wrapper font14">
                        <ul>
                            <li class="active" data-tabs="specsTabContent">Specifications</li>
                            <li data-tabs="featuresTabContent">Features</li>
                            <li data-tabs="coloursTabContent">Colours</li>
                        </ul>
                    </div>
                </div>

                <div id="overall-tabs" class="bw-tabs-flex overall-specs-tabs-wrapper font14">
                    <ul>
                        <li class="active" data-tabs="specsTabContent">Specifications</li>
                        <li data-tabs="featuresTabContent">Features</li>
                        <li data-tabs="coloursTabContent">Colours</li>
                    </ul>
                </div>
                @if (Model.Compare.CompareSpecifications != null)
                {
                    <div id="specsTabContent" class="bw-tabs-data font14">

                        <ul class="accordion-list">
                            @{isFirstActiveTab = true;}  @foreach (var spec in Model.Compare.CompareSpecifications.Spec)
                            {
                                <li>
                                    <div class="model-accordion-tab">
                                        <span class="model-sprite specs-@spec.Value-sm"></span>
                                        <span class="accordion-tab-label">@spec.Text</span>
                                    </div>
                                    <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr class="row-width-grid">
                                                <td width="162"></td>
                                                @foreach (var specCat in spec.SpecCategory)
                                                {

                                                foreach (var compSpec in specCat.CompareSpec)
                                                {
                                                <td></td>
                                                }
                                                <td></td>

                                                }
                                            </tr>

                                            @{isFirstActiveTab = false;} @foreach (var specCat in spec.SpecCategory)
                                            {

                                                <tr class="row-type-data">
                                                    <td>@specCat.Text</td>
                                                    @foreach (var compSpec in specCat.CompareSpec)
                                                    {
                                                        
                                                        <td>@compSpec.Value</td>

                                                    }
                                                    <td></td>
                                                </tr>

                                            }
                                        </tbody>

                                    </table>
                                </li>
                            }
                        </ul>

                    </div>
                }

                @if (Model.Compare.CompareFeatures != null)
                {
                    <div id="featuresTabContent" class="bw-tabs-data font14 hide">
                        @foreach (var spec in Model.Compare.CompareFeatures.Spec)
                        {
                            <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr class="row-width-grid">
                                        <td width="162"></td>
                                        @foreach (var specCat in spec.SpecCategory)
                                        {

                                        foreach (var compSpec in specCat.CompareSpec)
                                        {
                                        <td></td>
                                        }
                                        <td></td>

                                        }
                                    </tr>

                                    @{isFirstActiveTab = false;} @foreach (var specCat in spec.SpecCategory)
                                    {

                                        <tr class="row-type-data">
                                            <td>@specCat.Text</td>
                                            @foreach (var compSpec in specCat.CompareSpec)
                                            {
                                                <td>@compSpec.Value</td>

                                            }
                                            <td></td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                }
                @if (Model.Compare.CompareColors != null)
                {
                    <div id="coloursTabContent" class="bw-tabs-data font14 hide">
                        <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr class="row-width-grid">
                                    <td width="162"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="row-type-data">
                                    <td>Avialable Colours</td>
                                    @foreach (var bike in Model.Compare.CompareColors.bikes)
                                    {
                                        <td>
                                            <ul class="color-box-list">
                                                @foreach (var color in bike.bikeColors)
                                                {
                                                    <li>
                                                        <div class="color-box inline-block color-count-@color.HexCodes.Count()">
                                                            @foreach (var hexCode in color.HexCodes)
                                                            {
                                                                <span style="background-color: #@hexCode"></span>
                                                            }
                                                        </div>
                                                        <p class="color-box-label inline-block text-truncate">@color.Color </p>
                                                    </li>
                                                }

                                            </ul>
                                        </td>
                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

                <div id="comparison-footer"></div>
            </div>
            @if (Model.isUsedBikePresent)
            {
                <div id="used-bikes-container" class="content-box-shadow font14">
                    <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr class="row-width-grid">
                                <td width="162"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="row-type-data">
                                <td class="row-heading">Used bikes you may like</td>
                                @foreach (var bike in Model.Compare.BasicInfo)
                                {
                                    <td>
                                        @if (bike.UsedBikeCount.BikeCount > 0)
                                        {
                                            <a href="@Bikewale.Utility.UrlFormatter.UsedBikesUrlNoCity(bike.MakeMaskingName,bike.ModelMaskingName,!string.IsNullOrEmpty(bike.UsedBikeCount.CityMaskingName)?bike.UsedBikeCount.CityMaskingName:"india" )" title="Used @bike.Make @bike.Model">@string.Format("{0} Used {1} {2}", bike.UsedBikeCount.BikeCount, bike.Make, bike.Model)</a><br />
                                            <span>
                                                Starting at&nbsp;@Html.Raw("&#x20B9;") @Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.UsedBikeCount.StartingPrice))
                                            </span>}
                                        else
                                        {
                                            <span>--</span>

                                        }
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="clear"></div>
    </div>
</section>

@if (Model.compareSummaryText != null)
{
    <section>
        <div class="container card-bottom-margin">
            <div class="grid-12">
                <div class="content-box-shadow content-inner-block-20">
                    <p class="h2-heading text-bold text-black margin-bottom20">Bike Comparison - @Model.templateSummaryTitle</p>
                    <div class="font14 text-slate-grey collapsible-content">
                        <p class="main-content">@Html.Raw(Bikewale.Utility.StringExtention.StringHelper.Truncate(Model.compareSummaryText, 300))</p><p class="more-content">@Html.Raw(Model.compareSummaryText.Substring(300))</p>
                        <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}


<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20">
                <h2 class="h2-heading padding-left20 margin-bottom20">People who compared above bikes also compared</h2>
                @Html.Partial("~/Views/CompareBikes/_PopularComaprisonBodyStyle.cshtml", Model.topBikeCompares)
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
 