@model Bikewale.Models.ComparisonTestsIndexPageVM
@using Bikewale.Utility
@using System.Text.RegularExpressions
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/content/listing.css' /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline />";
    Model.PageMetaTags.FBTitle = Model.PageMetaTags.Title;
    Model.AdTags.AdId = "1517813244820";
    Model.AdTags.AdPath = "/1017752/Bikewale_EditorialList_";
    Model.PageMetaTags.FBImage = BWConfiguration.Instance.BikeWaleLogo;
    Model.AdTags.Ad_Model_ATF_300x250 = true;
    Model.AdTags.Ad_Model_BTF_300x250 = true;
    Model.AdTags.Ad_970x90Top = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.IsHeaderFix = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container padding-top10">
    <div class="grid-12">
        <div class="breadcrumb margin-bottom15">
            <ul>
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="/" itemprop="url">
                        <span itemprop="title">Home</span>
                    </a>
                </li>
                <li><span class="bwsprite fa-angle-right margin-right10"></span>Comparison Tests</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>

<section>
    <div class="container margin-bottom20">
        <div class="grid-12">
            <div id="content" class="grid-8 alpha">
                <div class="bg-white">
                    <div id="news-header" class="section-header padding-15-20">
                        <h1 class="margin-right5">@Model.PageH1</h1>
                    </div>
                    @if (Model.Articles != null && Model.Articles.Articles != null && Model.Articles.Articles.Count() > 0)
                    {
                        <div class="section-inner-padding">
                            <ul class="article-list">
                                @{ushort i = 0;}
                                @foreach (var article in Model.Articles.Articles)
                                {
                                    string articleUrl = UrlFormatter.GetArticleUrl(Convert.ToString(article.BasicId), article.ArticleUrl, Convert.ToString(article.CategoryId));
                                    <li id='post-@article.BasicId' class="@(Regex.Match(article.AuthorName, @"\b(sponsored)\b",RegexOptions.IgnoreCase).Success ? "sponsored-content" : "post-content") article-content">
                                        <div class="article-item-content">
                                            @Html.Raw(Regex.Match(article.AuthorName, @"\b(sponsored)\b", RegexOptions.IgnoreCase).Success ? "<div class=\"sponsored-tag-wrapper position-rel\"><span>Sponsored</span><span class=\"sponsored-left-tag\"></span></div>" : "")
                                            <div class="article-image-wrapper">
                                                <a href='@articleUrl'>
                                                    @if (i < 3)
                                                    {
                                                        <img src="@Image.GetPathToShowImages(article.OriginalImgUrl, article.HostUrl, ImageSize._210x118, QualityFactor._70)" alt="@article.Title" title="@article.Title" width='100%' border='0' />
                                                    }
                                                    else
                                                    {
                                                        <img class="lazy" src="" data-original="@Image.GetPathToShowImages(article.OriginalImgUrl, article.HostUrl, ImageSize._210x118, QualityFactor._70)" alt="@article.Title" title="@article.Title" width='100%' border='0' />
                                                    }
                                                </a>
                                            </div>
                                            <div class="article-desc-wrapper">
                                                <h2 class="font14 margin-bottom10">
                                                    <a href='@articleUrl' title="@article.Title" rel="bookmark" class="text-black text-bold">
                                                        @article.Title
                                                    </a>
                                                </h2>
                                                <div class="font12 text-light-grey margin-bottom25">
                                                    <div class="article-date">
                                                        <span class="bwsprite calender-grey-icon inline-block"></span>
                                                        <span class="inline-block">
                                                            @FormatDate.GetFormatDate(Convert.ToString(article.DisplayDate), "dd MMMM yyyy")
                                                        </span>
                                                    </div>
                                                    <div class="article-author">
                                                        <span class="bwsprite author-grey-icon inline-block"></span>
                                                        <span class="inline-block">
                                                            @article.AuthorName
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="font14 line-height">@Html.Raw(article.Description)<a href="@articleUrl">Read detailed comparison</a></div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </li>
                                    i++;
                                }
                            </ul>
                            <div id="footer-pagination" class="font14 pagination-padding">
                                <div class="grid-5 alpha omega text-light-grey">
                                    <p>Showing <span class="text-default text-bold">@string.Format("{0}-{1}", Model.StartIndex, Model.EndIndex)</span> of <span class="text-default text-bold">@Model.Articles.RecordCount</span> articles</p>
                                </div>
                                @if (Model.Articles.RecordCount > 10)
                                {
                                    Html.RenderAction("Index", "Pager", new { objPager = Model.PagerEntity });
                                }
                                <div class="clear"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="grid-4 omega">
                @if (Model.PageWidgets != null)
                {
                    if (Model.PageWidgets.ContainsKey(Bikewale.Entities.BikeData.EditorialPageWidgetPosition.First))
                    {
                        @Html.Partial("~/Views/Shared/_EditorialWidgetBase.cshtml", Model.PageWidgets[Bikewale.Entities.BikeData.EditorialPageWidgetPosition.First])
                        <div class="clear"></div>
                    }
                }
                @if (Model.AdTags.Ad_Model_ATF_300x250)
                {
                    <div class="margin-bottom20 text-center">
                        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Model_ATF_300x250.cshtml", Model.AdTags);}
                    </div>
                }
                @if (Model.PageWidgets != null)
                {
                    if (Model.PageWidgets.ContainsKey(Bikewale.Entities.BikeData.EditorialPageWidgetPosition.Second))
                    {
                        @Html.Partial("~/Views/Shared/_EditorialWidgetBase.cshtml", Model.PageWidgets[Bikewale.Entities.BikeData.EditorialPageWidgetPosition.Second])
                        <div class="clear"></div>
                    }
                }
                @if (Model.AdTags.Ad_Model_BTF_300x250)
                {
                    <div class="margin-bottom20 text-center">
                        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad_BTF_300x250.cshtml", Model.AdTags);}
                    </div>
                }
                @Html.Partial("~/Views/PriceInCity/_OnRoadPriceWidget.cshtml")
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>


