@model Carwale.Entity.Common.NewsRightWidget

@if (Model != null) { 
<style>
    .cw-tabs li h2 {
        width: 145px !important;
    }
</style>

<div>
    <div class="content-inner-block-10">
        <h2 class="font18 text-bold">Things You Shouldn't Miss</h2>
    </div>
    <div class="content-inner-block-10">
        <div class="cw-tabs" id="news-tabs">
            <ul id="head">
                <li id="popular_News"><h2 class="active first">Popular News</h2></li>
                <li id="recent_News"><h2>Recent News</h2></li>

            </ul>
            <div class="clear"></div>
        </div>

        <div class="news-tab-data">
            <div class="data-view" id="popularNews">
                <ul>
                            @{int i = 1;}
                            @foreach (var news in Model.PopularNews) { 
                            <li>
                                <div class="news-title-widget"><a href="@news.ArticleUrl" title="@news.Title">@news.Title</a></div>
                                <div class="news-title-count">@i</div>
                                <div class="clear"></div>
                            </li>
                                i++;
                            }
                   
                </ul>
            </div>
        </div>

        <div class="news-tab-data">
            <div class="data-view">
                <ul id="forIeRecent" class="hide">
                    @{ i = 1;}
                    @foreach (var news in Model.RecentNews)
                    {
                        <li>
                            <div class="news-title-widget"><a href="@news.ArticleUrl" title="@news.Title">@news.Title</a></div>
                            <div class="news-title-count">@i</div>
                            <div class="clear"></div>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    //for news tabs
    $("#news-tabs li h2").click(function () {
        $(".news-tab-data").hide();
        $(".news-tab-data").eq($(this).parent().index()).show();
        $("#news-tabs li h2").removeClass("active");
        $(this).addClass("active");

    });

    $("#head li").click(function () {
        var liValue = $(this).attr("id");

        if (liValue == "popular_News")
        {
            $("#popularNews").show();
            $("#recentNews").hide();
            $("#forIeRecent").hide();
        }
        else
        {
            $("#recentNews").show();
            $("#popularNews").hide();
            $("#forIeRecent").show();
        }
    });

</script>
}