@model  Bikewale.Models.DealerCardVM
<amp-carousel class="dealer-horizontal-swiper" height="180" layout="fixed-height" type="carousel">
    @if (Model != null && Model.Dealers != null)
    {
        foreach (var dealers in Model.Dealers)
        {
            <div class="swiper-card" title="@dealers.Name">
                <div class="block">
                    <div class="dealer-name">@dealers.Name</div>
                    <p class="@string.Format("margin-bottom10 text-light-grey {0}",String.IsNullOrEmpty(dealers.Address)? "hide":"")">
                        <span class="bwmsprite dealership-loc-icon vertical-top"></span>
                        @if (string.IsNullOrEmpty(dealers.objArea.PinCode))
                        {
                            <span class="dealership-address">@string.Format("{0}, {1}", dealers.Address, dealers.City)</span>
                        }
                        else
                        {
                            <span class="dealership-address">@string.Format("{0}, {1} - {2}", dealers.Address, dealers.City, dealers.objArea.PinCode)</span>
                        }
                    </p>
                </div>
                <span class="@string.Format("dealer-contact {0}", String.IsNullOrEmpty(dealers.MaskingNumber) ? "hide" : "block")"><span class="bwmsprite tel-sm-grey-icon"></span>@dealers.MaskingNumber</span>
            </div>
        }
    }
</amp-carousel>