@model BikewaleOpr.Models.Banner.BannerListVM

@{
    ViewBag.Title = "Home Page Banners";
    ViewBag.PageTitle = "Bikewale Operations - Home Page Banners";
}

<div  class="row" style="margin-top:10px;">
    <div class="col m10">

        <div id="tblBanners" data-BwOprHostUrl="@System.Configuration.ConfigurationManager.AppSettings["BwOprHostUrlForJs"]">
            <table class="bordered highlight z-depth-3 centered responsive-table">
                <tr>
                    <th>BannerId</th>
                    <th>Banner Description</th>                   
                    <th>Start Date</th>
                    <th>End Date</th>                   
                    <th>Status</th>
                    <th>Updated By</th>
                    <th>Last Updated</th>
                    <th>Edit</th>                                  
                </tr>
                @if (Model.BannerList != null && Model.BannerList.Count() > 0)
                {
                    foreach (var m in Model.BannerList)
                    {
                    <tr >
                    <td>@m.BannerId</td>                    
                    <td>@m.BannerDescription</td>                   
                    <td>@(m.StartDate != null ? m.StartDate.ToString("dd MMM yyyy, hh:mm tt") : "")</td>
                    <td>@(m.EndDate != null ? m.EndDate.ToString("dd MMM yyyy, hh:mm tt") : "")</td>
                    <td>@(m.IsActive == 1 ? "Active" : "InActive")</td>   
                    <td>@m.UpdatedBy</td>         
                    <td>@(m.LastUpdated != null ? m.LastUpdated.ToString("dd MMM yyyy, hh:mm tt") : "")</td>                             
                    <td><a target="_blank" href="/banner/index/?id=@m.BannerId" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Campaign"><i class="material-icons icon-blue">mode_edit</i></a>
                        @if (m.IsActive == 1)
                        {
                            <a class="tooltipped" href="" id="btnAbort_@m.BannerId" data-position="bottom" data-delay="50" data-tooltip="Abort Campaign" title="Abort Campaign" data-bannerId="@m.BannerId" onclick="changeBannerStatus(event, 0)"><i class="material-icons icon-red">cancel</i></a>
                        }
                        else
                        {
                            <a class="tooltipped" href="" id="btnStart_@m.BannerId" data-position="bottom" data-delay="50" data-tooltip="Start Campaign" title="Start Campaign" data-bannerId="@m.BannerId" onclick="changeBannerStatus(event, 1)"><i class="material-icons icon-green">play_circle_filled</i></a>
                        }
                        </td>                    
                 </tr>
                    }
                }
            </table>
        </div>
    </div>

    <div class="col s2 m2" >
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><strong>Filter Banners</strong></div>
                <div class="collapsible-body">
                    <div class="container">                        
                        <div class="input-field row s12">
                            <input name="group1" type="radio" id="chkFilter1" value="1" class="with-gap" />
                            <label for="chkFilter1">Show Active</label>
                            <input name="group1" type="radio" id="chkFilter2" value="2"  class="with-gap"/>
                            <label for="chkFilter2">Show Inactive</label>                            
                            <input name="group1" type="radio" id="chkFilter3" value="3" class="with-gap" />
                            <label for="chkFilter3">Show All</label>
                        </div>

                        <div style="margin-bottom:5px;">
                            <a class="btn waves-effect waves-light" onclick="filterData()" >Show Banners</a>
                        </div>
                    </div>
                </div>
            </li>   
            <li>
                <div class="collapsible-header"><strong>Add Banner</strong></div>
                <div class="collapsible-body">
                    <div class="input-field row s12" style="margin-left:20px">
                        <a target="_blank" class="btn waves-effect waves-light" href="/banner/index">Add new Banner</a>
                    </div>
                </div>
            </li>        
        </ul>        
    </div>
        
</div>

<script src="/src/BannerList.js"></script>
