@model BikewaleOpr.Models.BannerVM
@{
    ViewBag.Title = "Banner Configuration";
    ViewBag.PageTitle = "Bikewale Operations - Banner Configuration";
}

<link href="/css/materialize-stepper.css" rel="stylesheet">

<script src="~/src/materialize-stepper.min.js"></script>
<form>
    <div id="configureBanner" class="row" data-userId="@Model.UserId">
        <div class="stepper-height-60 col m7 offset-m1">
            <ul class="stepper vertical">
                <li class="step">
                    <div class="step-title waves-effect waves-dark">Banner Basic Details</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="input-field row">
                                <textarea id="textareaBannerDesc" class="materialize-textarea" data-bind="css:bannerDescriptionMsg()!=''?'invalid':'' ">@(Model.BannerDescription )</textarea>
                                <label for="textareaBannerDesc" data-error="" data-bind="attr:{'data-error':bannerDescriptionMsg},css:bannerDescriptionMsg()!=''?'active':''">Banner Description*</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m4">
                                <div class="input-field">
                                    <i class="material-icons prefix margin-top15">date_range</i>
                                    <input type="date" id="startDateEle" name="StartDate" value="@(Model.StartDate!= null && Model.StartDate != DateTime.MinValue?Model.StartDate.ToString("yyyy-MM-dd") : "")" class="datepicker margin-left5" data-bind="css:campaignStartDateMsg()!=''?'invalid':'' "/>
                                    <label for="startDateEle" data-error="" data-bind="attr:{'data-error':campaignStartDateMsg},css:campaignStartDateMsg()!=''?'active':''">Campaign Start Date*</label>
                                </div>
                            </div>

                            <div class="col m2">
                                <div class="input-field">
                                  <input type="time" id="startTimeEle" value="@(Model.StartDate!= null && Model.StartDate != DateTime.MinValue?Model.StartDate.ToString("HH:mm:ss"):"00:00:00")" />
                                </div>
                            </div>

                            <div class="col m4">
                                <div class="input-field">
                                    <i class="material-icons prefix margin-top15">date_range</i>
                                    <input type="date" id="endDateEle" name="EndDate" value="@(Model.EndDate!= null && Model.EndDate != DateTime.MinValue?Model.EndDate.ToString("yyyy-MM-dd") : "")" class="datepicker margin-left5" />
                                    <label for="endDateEle">Campaign End Date</label>
                                </div>
                            </div>

                            <div class="col m2">
                                <div class="input-field">
                                    <input type="time" id="endTimeEle" value="@(Model.EndDate!= null && Model.EndDate != DateTime.MinValue?Model.EndDate.ToString("HH:mm:ss"):"00:00:00")" />
                                </div>
                            </div>

                        </div>

                        <button class="btn waves-effect waves-light" value="Configure" data-bind="click:Configure" type="button">Configure</button>


                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect waves-dark validate-step">Upload Image</div>
                    <div class="step-content">
                        <div class="row">
                            @if (Model.DesktopBannerDetails != null)
                            {
                            <div class="col m3" id="desktop-image" data-src='@string.Format("{0}0x0{1}", @Model.DesktopBannerDetails.HostUrl, @Model.DesktopBannerDetails.OriginalImagePath)'>
                                <img class="materialboxed"  width="150" src='@string.Format("{0}0x0{1}", @Model.DesktopBannerDetails.HostUrl, @Model.DesktopBannerDetails.OriginalImagePath)'>
                            </div>
                            }
                            <div class="col m9">
                                <div class="file-field input-field row">

                                    <div class="btn col m5">
                                        <span>Select Desktop Background Image</span>
                                        <input id="file-desktop" type="file" />
                                    </div>
                                    <div class="file-path-wrapper col m2">
                                        <input class="file-path" type="text">
                                    </div>
                                    <button class="btn waves-effect waves-light" data-bind="click:uploadPhoto(event, 1)" type="button">Upload</button>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.MobileBannerDetails != null)
                            {
                            <div class="col m3" id="mobile-image" data-src='@string.Format("{0}0x0{1}", @Model.MobileBannerDetails.HostUrl, @Model.MobileBannerDetails.OriginalImagePath)'>
                                <img class="materialboxed" width="150" src='@string.Format("{0}0x0{1}", @Model.MobileBannerDetails.HostUrl, @Model.MobileBannerDetails.OriginalImagePath)'>
                            </div>
                            }
                            <div class="col m9">
                                <div class="file-field input-field row">
                                    <div class="btn col m5">
                                        <span>Select Mobile Background Image</span>
                                        <input id="file-mobile" type="file" />
                                    </div>
                                    <div class="file-path-wrapper col m2">
                                        <input class="file-path validate" type="text">
                                    </div>
                                    <button class="btn waves-effect waves-light" data-bind="click:uploadPhoto(event, 2)" type="button">Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect waves-dark validate-step">Configure Desktop Home Page Banner</div>
                    <div class="step-content">

                        <div class="row">
                            <div class="input-field col m4">
                                <select id="select-hori-pos-Desktop">
                                    <option value="0" disabled selected>Select Position</option>
                                    <option value="left" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.HorizontalPosition == "left" ? "selected" : "")>Left</option>
                                    <option value="center" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.HorizontalPosition == "center" ? "selected" : "")>Center</option>
                                    <option value="right" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.HorizontalPosition == "right" ? "selected" : "")>Right</option>
                                </select>
                                <label for="select-hori-pos-Desktop">Background Horizontal Position</label>
                            </div>
                            <div class="input-field col m4">
                                <select id="select-ver-pos-Desktop">
                                    <option value="0" disabled selected>Select Position</option>
                                    <option value="top" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.VerticalPosition == "top" ? "selected" : "")>Top</option>
                                    <option value="bottom" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.VerticalPosition == "bottom" ? "selected" : "")>Bottom</option>
                                    <option value="center" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.VerticalPosition == "center" ? "selected" : "")>Center</option>
                                </select>
                                <label for="select-ver-pos-Desktop">Background Vertical Position</label>
                            </div>
                            <div class="input-field col m4">
                                <input id="txtBackgroundColorDesktop" name="DesktopBannerDetails.BackgroundColor" value="@(Model.DesktopBannerDetails!=null?Model.DesktopBannerDetails.BackgroundColor:"")" data-bind="css:backgroundColorDesktopMsg()!=''?'invalid':'' " type="text" maxlength="100">
                                <label for="txtBackgroundColorDesktop" data-error="" data-bind="attr:{'data-error':backgroundColorDesktopMsg},css:backgroundColorDesktopMsg()!=''?'active':''">Background Color*</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m8">
                                <input id="txtBannerTitleDesktop" name="DesktopBannerDetails.BannerTitle" value="@(Model.DesktopBannerDetails!=null?Model.DesktopBannerDetails.BannerTitle:"")" type="text" data-bind="css:bannerTitleDesktopMsg()!=''?'invalid':'' " maxlength="100">
                                <label for="txtBannerTitleDesktop" data-error="" data-bind="attr:{'data-error':bannerTitleDesktopMsg},css:bannerTitleDesktopMsg()!=''?'active':''">Banner Title*</label>
                            </div>
                            <div class="input-field col m4">
                                <select id="select-banner-pos-Desktop">
                                    <option value="0" disabled selected>Select Position</option>
                                    <option value="left" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonPosition == "left" ? "selected" : "")>Left</option>
                                    <option value="right" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonPosition == "right" ? "selected" : "")>Right</option>
                                </select>
                                <label for="select-banner-pos-Desktop">Banner Position</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m5 margin-top25">
                                <label>Button Type :</label>
                                <span>
                                    <input name="group3" type="radio" id="btnTypeLinkDesktop" class="with-gap" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonType == 1 ? "checked" : "") />
                                    <label for="btnTypeLinkDesktop">Link</label>
                                    <input name="group3" type="radio" id="btnTypeButtonDesktop" class="with-gap" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonType == 2 ? "checked" : "") />
                                    <label for="btnTypeButtonDesktop">Button</label>
                                </span>
                            </div>
                            <div class="input-field col m3">
                                <select id="select-button-color-Desktop">
                                    <option value="0" disabled selected>Button Color</option>
                                    <option value="orange" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonColor == "orange" ? "selected" : "")>Orange</option>
                                    <option value="transparent" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonColor == "transparent" ? "selected" : "")>Transparent</option>
                                </select>
                                <label for="select-button-color-Desktop">Select Button Color</label>
                            </div>
                            <div class="input-field col m4">
                                <input id="txtButtonDesktop" name="DesktopBannerDetails.ButtonText" value="@(Model.DesktopBannerDetails!=null?Model.DesktopBannerDetails.ButtonText:"")" type="text" data-bind="css:buttonTextDesktopMsg()!=''?'invalid':'' " maxlength="100">
                                <label for="txtButtonDesktop" data-error="" data-bind="attr:{'data-error':buttonTextDesktopMsg},css:buttonTextDesktopMsg()!=''?'active':''">Button text*</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m6">
                                <input id="txtButtonlinkDesktop" name="DesktopBannerDetails.TargetHref" value="@(Model.DesktopBannerDetails!=null?Model.DesktopBannerDetails.TargetHref:"")" type="text" data-bind="css:buttonLinkDesktopMsg()!=''?'invalid':'' " maxlength="250">
                                <label for="txtButtonlinkDesktop" data-error="" data-bind="attr:{'data-error':buttonLinkDesktopMsg},css:buttonLinkDesktopMsg()!=''?'active':''">Button Link*</label>
                            </div>
                            <div class="col m6 margin-top25">
                                <label>Open Button Link In New Page :</label>
                                <span>
                                    <input name="group4" type="radio" id="radioOpenInNewPageDesktop" value="1" class="with-gap" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.Target == 1 ? "checked=checked" : "") />
                                    <label for="radioOpenInNewPageDesktop">Yes</label>
                                    <input name="group4" type="radio" class="with-gap" id="radioOpenInSamePageDesktop" value="2" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.Target == 2 ? "checked=checked" : "") />
                                    <label for="radioOpenInSamePageDesktop">No</label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m4">

                                <input id="txtCategoryDesktop" value="@(Model.DesktopBannerDetails!=null?Model.DesktopBannerDetails.Category:"")" type="text" data-bind="css:categoryDesktopMsg()!=''?'invalid':'' " maxlength="200">
                                <label for="txtCategoryDesktop" data-error="" data-bind="attr:{'data-error':categoryDesktopMsg},css:categoryDesktopMsg()!=''?'active':''">Category*</label>
                            </div>
                            <div class="input-field col m4">

                                <input id="txtActionDesktop" value="@(Model.DesktopBannerDetails!=null?Model.DesktopBannerDetails.Action:"")" data-bind="css:actionDesktopMsg()!=''?'invalid':'' " type="text" maxlength="200">
                                <label for="txtActionDesktop" data-error="" data-bind="attr:{'data-error':actionDesktopMsg},css:actionDesktopMsg()!=''?'active':''">Action*</label>
                            </div>
                            <div class="input-field col m4">

                                <input id="txtLabelDesktop" value="@(Model.DesktopBannerDetails!=null?Model.DesktopBannerDetails.Label:"")" data-bind="css:labelDesktopMsg()!=''?'invalid':'' " type="text" maxlength="200">
                                <label for="txtLabelDesktop" data-error="" data-bind="attr:{'data-error':labelDesktopMsg},css:labelDesktopMsg()!=''?'active':''">Label*</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m6">
                                <select id="select-button-jmbdepth-Desktop">
                                    <option value="0" disabled selected>Jumbotron Depth</option>
                                    <option value="120" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.JumbotronDepth == "120" ? "selected" : "")>120px</option>
                                    <option value="90" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.JumbotronDepth == "90" ? "selected" : "")>90px</option>
                                </select>
                                <label for="select-jumbotron-depth-Desktop">Select Jumbotron Depth</label>
                            </div>
                        </div>

                        <div class="input-field row">
                            <textarea id="textareaHtmlDesktop" class="materialize-textarea">@(Model.DesktopBannerDetails != null ? Model.DesktopBannerDetails.HTML : "")</textarea>
                            <label for="textareaHtmlDesktop">Html</label>
                        </div>

                        <div class="input-field row">
                            <textarea id="textareaCssDesktop" class="materialize-textarea">@(Model.DesktopBannerDetails != null ? Model.DesktopBannerDetails.CSS : "")</textarea>
                            <label for="textareaCssDesktop">Css</label>
                        </div>

                        <div class="input-field row">
                            <textarea id="textareaJsDesktop" class="materialize-textarea">@(Model.DesktopBannerDetails != null ? Model.DesktopBannerDetails.JS : "")</textarea>
                            <label for="textareaJsDesktop">Js</label>
                        </div>

                        <button class="btn waves-effect waves-light" data-bind="click:saveDesktop" type="button">
                            Save
                        </button>


                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark validate-step">Configure Mobile Home Page Banner</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="input-field col m4">
                                <select id="select-hori-pos-Mobile">
                                    <option value="0" disabled selected>Select Position</option>
                                    <option value="left" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.HorizontalPosition == "left" ? "selected" : "")>Left</option>
                                    <option value="center" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.HorizontalPosition == "center" ? "selected" : "")>Center</option>
                                    <option value="right" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.HorizontalPosition == "right" ? "selected" : "")>Right</option>
                                </select>
                                <label for="select-hori-pos-Mobile">Background Horizontal Position</label>
                            </div>
                            <div class="input-field col m4">
                                <select id="select-ver-pos-Mobile">
                                    <option value="0" disabled selected>Select Position</option>
                                    <option value="top" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.VerticalPosition == "top" ? "selected" : "")>Top</option>
                                    <option value="bottom" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.VerticalPosition == "bottom" ? "selected" : "")>Bottom</option>
                                    <option value="center" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.VerticalPosition == "center" ? "selected" : "")>Center</option>
                                </select>
                                <label for="select-ver-pos-Mobile">Background Vertical Position</label>
                            </div>
                            <div class="input-field col m4">
                                <input id="txtBackgroundColorMobile" value="@(Model.MobileBannerDetails!=null?Model.MobileBannerDetails.BackgroundColor:"")" type="text" data-bind="css:backgroundColorMobileMsg()!=''?'invalid':'' " maxlength="100">
                                <label for="txtBackgroundColorMobile" data-error="" data-bind="attr:{'data-error':backgroundColorMobileMsg},css:backgroundColorMobileMsg()!=''?'active':''">Background Color *</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m8">
                                <input id="txtBannerTitleMobile" value="@(Model.MobileBannerDetails!=null?Model.MobileBannerDetails.BannerTitle:"")" data-bind="css:bannerTitleMobileMsg()!=''?'invalid':'' " type="text" maxlength="100">
                                <label for="txtBannerTitleMobile" data-error="" data-bind="attr:{'data-error':bannerTitleMobileMsg},css:bannerTitleMobileMsg()!=''?'active':''">Banner Title*</label>
                            </div>
                            <div class="input-field col m4">
                                <select id="select-banner-pos-Mobile">
                                    <option value="0" disabled selected>Select Position</option>
                                    <option value="left" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.ButtonPosition == "left" ? "selected" : "")>Left</option>
                                    <option value="right" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.ButtonPosition == "right" ? "selected" : "")>Right</option>
                                </select>
                                <label for="select-banner-pos-Mobile">Banner Position</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m5 margin-top25">
                                <label>Button Type :</label>
                                <span>
                                    <input name="group1" type="radio" id="btnTypeLinkMobile" class="with-gap" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.ButtonType == 1 ? "checked=checked" : "") />
                                    <label for="btnTypeLinkMobile">Link</label>
                                    <input name="group1" type="radio" id="btnTypeButtonMobile" class="with-gap" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.ButtonType == 2 ? "checked=checked" : "") />
                                    <label for="btnTypeButtonMobile">Button</label>
                                </span>
                            </div>
                            <div class="input-field col m3">
                                <select id="select-button-color-Mobile">
                                    <option value="0" disabled selected>Button Color</option>
                                    <option value="orange" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonColor == "orange" ? "selected" : "")>Orange</option>
                                    <option value="transparent" @(Model.DesktopBannerDetails != null && Model.DesktopBannerDetails.ButtonColor == "transparent" ? "selected" : "")>Transparent</option>
                                </select>
                                <label for="select-button-color-Mobile">Select Button Color</label>
                            </div>
                            <div class="input-field col m4">
                                <input id="txtButtonMobile" type="text" value="@(Model.MobileBannerDetails!=null?Model.MobileBannerDetails.ButtonText:"")" data-bind="css:buttonTextMobileMsg()!=''?'invalid':'' " maxlength="100">
                                <label for="txtButtonMobile" data-error="" data-bind="attr:{'data-error':buttonTextMobileMsg},css:buttonTextMobileMsg()!=''?'active':''">Button text *</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m6">
                                <input id="txtButtonlinkMobile" value="@(Model.MobileBannerDetails!=null?Model.MobileBannerDetails.TargetHref:"")" type="text" class="validate" data-bind="css:buttonLinkMobileMsg()!=''?'invalid':'' " maxlength="250">
                                <label for="txtButtonlinkMobile" data-error="" data-bind="attr:{'data-error':buttonLinkMobileMsg},css:buttonLinkMobileMsg()!=''?'active':''">Button Link*</label>
                            </div>
                            <div class="col m6 margin-top25">
                                <label>Open Button Link In New Page :</label>
                                <span>
                                    <input name="group2" type="radio" id="radioOpenInNewPageMobile" class="with-gap" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.Target == 1 ? "checked" : "") />
                                    <label for="radioOpenInNewPageMobile">Yes</label>
                                    <input name="group2" type="radio" id="radioOpenInSamePageMobile" class="with-gap" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.Target == 2 ? "checked" : "") />
                                    <label for="radioOpenInSamePageMobile">No</label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m4">
                                <input id="txtCategoryMobile" value="@(Model.MobileBannerDetails!=null?Model.MobileBannerDetails.Category:"")" type="text" data-bind="css:categoryMobileMsg()!=''?'invalid':'' " maxlength="200">
                                <label for="txtCategoryMobile" data-error="" data-bind="attr:{'data-error':categoryMobileMsg},css:categoryMobileMsg()!=''?'active':''">Category*</label>
                            </div>
                            <div class="input-field col m4">
                                <input id="txtActionMobile" value="@(Model.MobileBannerDetails!=null?Model.MobileBannerDetails.Action:"")" type="text" data-bind="css:actionMobileMsg()!=''?'invalid':'' " maxlength="200">
                                <label for="txtActionMobile" data-error="" data-bind="attr:{'data-error':actionMobileMsg},css:actionMobileMsg()!=''?'active':''">Action*</label>
                            </div>
                            <div class="input-field col m4">
                                <input id="txtLabelMobile" value="@(Model.MobileBannerDetails!=null?Model.MobileBannerDetails.Label:"")" type="text" data-bind="css:labelMobileMsg()!=''?'invalid':'' " maxlength="200">
                                <label for="txtLabelMobile" data-error="" data-bind="attr:{'data-error':labelMobileMsg},css:labelMobileMsg()!=''?'active':''">Label*</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col m6">
                                <select id="select-button-jmbdepth-Mobile">
                                    <option value="0" disabled selected>Jumbotron Depth</option>
                                    <option value="40" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.JumbotronDepth == "40" ? "selected" : "")>40px</option>
                                    <option value="15" @(Model.MobileBannerDetails != null && Model.MobileBannerDetails.JumbotronDepth == "15" ? "selected" : "")>15px</option>
                                </select>
                                <label for="select-button-jmbdepth-Mobile">Select Jumbotron Depth</label>
                            </div>
                        </div>

                        <div class="input-field row">
                            <textarea id="textareaHtmlMobile" class="materialize-textarea">@(Model.MobileBannerDetails != null ? Model.MobileBannerDetails.HTML : "")</textarea>
                            <label for="textareaHtmlMobile">Html</label>
                        </div>

                        <div class="input-field row">
                            <textarea id="textareaCssMobile" class="materialize-textarea">@(Model.MobileBannerDetails != null ? Model.MobileBannerDetails.CSS : "")</textarea>
                            <label for="textareaCssMobile">Css</label>
                        </div>

                        <div class="input-field row">
                            <textarea id="textareaJsMobile" class="materialize-textarea">@(Model.MobileBannerDetails != null ? Model.MobileBannerDetails.JS : "")</textarea>
                            <label for="textareaJsMobile">Js</label>
                        </div>

                        <button class="btn waves-effect waves-light" data-bind="click:saveMobile" type="button">Save</button>

                    </div>
                </li>
            </ul>
        </div>

        <div class="col m4 margin-top10">
            <img class="materialboxed" width="400" src="~/images/homePageBanner.png">
        </div>
    </div>

</form>

<script src="/src/imageUpload.js"></script>
<script src="/src/Banner.js"></script>

<input id="environment" value="@Bikewale.Utility.BWOprConfiguration.Instance.AWSEnvironment" type="text" hidden />
<input id="userid" value="@BikeWaleOpr.Common.CurrentUser.Id" type="text" hidden />
<input id="bwOprHostUrl" value="@Bikewale.Utility.BWOprConfiguration.Instance.BwOprHostUrlForJs" type="text" hidden />
<input id="bannerId" value="@(Model.CampaignId)" type="hidden" hidden />
<input id="ModifiedCssDesktop" type="text" hidden />
<input id="ModifiedCssMobile" type="text" hidden />
<input id="ModifiedHtmlDesktop" type="text" hidden />
<input id="ModifiedHtmlMobile" type="text" hidden />
