@model Bikewale.Models.Gallery.ModelGalleryVM

@if (!string.IsNullOrEmpty(Model.ReturnUrl) && Model.ReturnUrl.Length > 0)
{
    <div class="gallery-loader-placeholder gallery-bg-overlay text-center">
        <span class="spin-loader fixed-loader"></span>
    </div>
}

<section id="pageGallery" data-videos="@(Model.IsVideosAvailable ? Model.VideosJSON : string.Empty)" data-images="@(Model.IsImagesAvailable ? Model.ImagesJSON : string.Empty)" data-modelname="@Model.Model.ModelName" data-selectedimageid="@Model.SelectedImageId" data-selectedcolorimageid="@Model.SelectedColorImageId" data-returnurl="@Model.ReturnUrl" data-bikename="@Model.BikeName" data-photoscount="@Model.ImagesCount" data-videoscount="@Model.VideosCount" data-modelid="@(Model.Model!=null ? Model.Model.ModelId : 0)" data-makename="@Model.Make.MakeName">
    <div id="gallery-root">
        <div class="gallery-loader-placeholder gallery-bg-overlay text-center hide"><span class="spin-loader fixed-loader"></span></div>

        <div class="gallery-container gallery-bg-overlay" style="display: none;" data-bind="visible: isGalleryActive()">
            <div class="gallery-header" data-bind="visible: galleryTabsActive()">
                <h2 class="text-white gallery-title">@Model.BikeName Images</h2>
                <span id="gallery-close-btn" class="position-abt bwmsprite cross-md-white cur-pointer"></span>
                <ul class="horizontal-tabs-wrapper">
                    <li data-bind="click: togglePhotoTab, css: photosTabActive() ? 'active' : ''">Images</li>
                    @if (Model.IsVideosAvailable)
                    {
                        <li data-bind="click: togglePhotoTab, css: !photosTabActive() ? 'active' : ''">Videos</li>
                    }
                </ul>
            </div>

            <div class="gallery-body">
                <div id="main-photo-swiper" class="swiper-container gallery-swiper noSwiper" data-bind="visible: photosTabActive() && photoSwiperActive()">
                    <div class="swiper-heading-details" data-bind="visible: photoHeadingActive()">
                        <p class="grid-9 text-truncate font14 text-white text-left" data-bind="text: activePhotoTitle()"></p>
                        <div class="grid-3 alpha font12 text-xx-light text-right position-rel pos-top2">
                            <span data-bind="text: activePhotoIndex()"></span>&nbsp;/&nbsp;<span data-bind="text : photoList().length"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="swiper-wrapper" data-bind="foreach: photoList">
                        <div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
                            <img class="swiper-lazy gallery-swiper-image" data-bind="attr: { 'data-index': $index, alt: modelName + ' ' + ImageTitle, title: modelName + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
                        </div>
                    </div>
                    <div class="bwmsprite swiper-button-next gallery-type-next"></div>
                    <div class="bwmsprite swiper-button-prev gallery-type-prev"></div>
                </div>

                <div id="main-color-swiper" style="display: none" class="swiper-container gallery-swiper noSwiper" data-bind="visible: photosTabActive() && !photoSwiperActive()">
                    <div class="swiper-heading-details" data-bind="visible: photoHeadingActive()">
                        <p class="grid-9 text-truncate font14 text-white text-left" data-bind="text: activeColorTitle()"></p>
                        <div class="grid-3 alpha font12 text-xx-light text-right position-rel pos-top2">
                            <span data-bind="text: activeColorIndex()"></span>&nbsp<span>of</span>
                            <span data-bind="text: colorPhotoList().length"></span>&nbsp<span data-bind="text  : colorPhotoList().length > 1 ? 'colours' : 'colour'"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="swiper-wrapper" data-bind="foreach: colorPhotoList">
                        <div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
                            <img class="swiper-lazy gallery-swiper-image" data-bind="attr: { alt: modelName + ' ' + ImageTitle, title: modelName + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
                        </div>
                    </div>
                    <div class="bwmsprite swiper-button-next color-type-next"></div>
                    <div class="bwmsprite swiper-button-prev color-type-prev"></div>
                </div>

                <div id="main-video-content" data-bind="visible: !photosTabActive()">
                    <div class="swiper-heading-details" data-bind="visible: photoHeadingActive()">
                        <p class="grid-12 text-truncate font14 text-white" data-bind="text: activeVideoTitle()"></p>
                        <div class="clear"></div>
                    </div>
                    <div class="main-video-wrapper">
                        <div class="main-video-iframe-content">
                            <iframe id="iframe-video" width="360" height="203" src="" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>

            <div id="gallery-footer" class="gallery-footer" data-bind="visible: galleryFooterActive()">
                <div class="footer-tabs-wrapper">
                    <div data-bind="click: togglePhotoThumbnailScreen, visible: photosTabActive(), css: photoThumbnailScreen() ? 'tab-active' : ''" class="footer-tab all-option-tab position-rel tab-separator">
                        <span class="bwmsprite grid-icon margin-right10"></span>
                        <span class="inline-block font14">All photos</span>
                    </div>

                    @if (Model.IsVideosAvailable)
                    {
                        <div style="display: none" data-bind="click: toggleVideoListScreen, visible: !photosTabActive(), css: videoListScreen() ? 'tab-active' : ''" class="footer-tab all-option-tab position-rel tab-separator">
                            <span class="bwmsprite grid-icon margin-right10"></span>
                            <span class="inline-block font14">All videos</span>
                        </div>
                    }

                    <div data-bind="click: toggleFullScreen, visible: photosTabActive() && fullscreenSupport(), css: fullScreenModeActive() ? 'fullscreen-active' : ''" class="footer-tab grid-3-tab">
                        <span class="bwmsprite fullscreen-icon"></span>
                    </div>

                    <a data-bind="attr: { href: getImageDownloadUrl() }" download class="footer-tab grid-3-tab">
                        <span class="download-icon"></span>
                    </a>

                    <div data-bind="click: toggleColorThumbnailScreen, visible: photosTabActive() && colorTabActive(), css: colorsThumbnailScreen() ? 'tab-active' : ''" class="footer-tab grid-3-tab">
                        <span class="bwmsprite color-palette"></span>
                    </div>

                    <div class="clear"></div>
                </div>

                <div id="thumbnail-tab-screen" class="footer-tab-card padding-top20 padding-bottom20" data-bind="css: photoThumbnailScreen() ? 'position-fixed' : ''">
                    <div id="thumbnail-photo-swiper" class="swiper-container thumbnail-swiper noSwiper">
                        <div class="swiper-wrapper" data-bind="foreach: photoList">
                            <div class="swiper-slide">
                                <div class="thumbnail-image-placeholder">
                                    <img class="swiper-lazy" data-bind="attr: { alt: modelName + ' ' + ImageTitle, title: modelName + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'110x61') }" src="" alt="" title="" border="0" />
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="color-tab-screen" class="footer-tab-card padding-top20 padding-bottom20" data-bind="css: colorsThumbnailScreen() ? 'position-fixed' : ''">
                    <div id="thumbnail-colors-swiper" class="swiper-container color-thumbnail-swiper noSwiper">
                        <div class="swiper-wrapper" data-bind="foreach: colorPhotoList">
                            <div class="swiper-slide">
                                <div class="color-box inline-block" data-bind="foreach: Colors, css: (Colors.length == 3) ? 'color-count-three' : (Colors.length == 2) ? 'color-count-two' : 'color-count-one'">
                                    <span data-bind="style: { 'background-color': '#' + $data }"></span>
                                </div>
                                <p class="color-box-label inline-block" data-bind="text: (ImageTitle.length > 12 ? ImageTitle.substring(0, 12) + '...' : ImageTitle)"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="info-tab-screen" class="footer-tab-card" data-bind="css: modelInfoScreen() ? 'position-fixed' : ''">
                    @if (Model.BikeInfo != null)
                    {
                        @Html.Partial("~/views/Photos/_PhotosBikeInfoCard_Mobile.cshtml", Model.BikeInfo)
                    }
                </div>

                <div id="video-tab-screen" class="footer-tab-card font14" style="display: none" data-bind="visible: videoListScreen()">
                    <ul class="video-tab-list" data-bind="foreach: videoList">
                        <li>
                            <div class="video-image-block inline-block">
                                <img data-bind="attr: { alt: VideoTitle, src: 'https://img.youtube.com/vi/' + VideoId + '/default.jpg' }" border="0" />
                                <span class="black-overlay">
                                    <span class="bwmsprite video-play-icon"></span>
                                </span>
                            </div>
                            <p class="video-title-block padding-left15 inline-block" data-bind="text: VideoTitle"></p>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>