@model Bikewale.Models.Shared.BikeInfo

@if (Model != null)
{
    <div class="model-slug-content">
        <div class="margin-bottom10">
            <a href="@Model.Url" class="item-image-content inline-block" title="@Model.Bike">
                @if (Model.Info != null)
                {
                    <amp-img src="@Bikewale.Utility.Image.GetPathToShowImages(Model.Info.OriginalImagePath, Model.Info.HostUrl,Bikewale.Utility.ImageSize._110x61)" alt="@Model.Bike" height="38" width="68"></amp-img>
                }
               
            </a>
            <div class="bike-details-block inline-block">
                <p class="font12 text-grey">Know more</p>
                <h3 class="margin-bottom5"><a href="@Model.Url" class="block text-bold text-default text-truncate font14" title="@Model.Bike">@Model.Bike</a></h3>
            </div>

        </div>
        <ul class="item-more-details-list">
            @if (Model.Info != null)
            {
                    string makeMasking = (Model.Info.Make!=null ? Model.Info.Make.MaskingName : "");
                    string modelMasking = (Model.Info.Model!=null ? Model.Info.Model.MaskingName :"");
                
                if (Model.Info.ExpertReviewsCount > 0)
                {
                    <li>
                        <a href="@String.Format("{0}/m{1}", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Bikewale.Utility.UrlFormatter.FormatExpertReviewUrl(makeMasking, modelMasking))" title="@Model.Bike Expert Reviews">
                            <span class="generic-sprite reviews-sm"></span>
                            <span class="icon-label">Reviews</span>
                        </a>
                    </li>
                }
                if (Model.Info.PhotosCount > 0)
                {
                    <li>
                        <a href="@String.Format("{0}/m{1}", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Bikewale.Utility.UrlFormatter.FormatPhotoPageUrl(makeMasking, modelMasking))" title="@Model.Bike Images">
                            <span class="bwmsprite photos-sm"></span>
                            <span class="icon-label">Images</span>
                        </a>
                    </li>
                }
                if (Model.Info.VideosCount > 0)
                {
                    <li>
                        <a href="@String.Format("{0}/m{1}", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Bikewale.Utility.UrlFormatter.FormatVideoPageUrl(makeMasking, modelMasking))" title="@Model.Bike Videos">
                            <span class="generic-sprite videos-sm"></span>
                            <span class="icon-label">Videos</span>
                        </a>
                    </li>
                }
                if (Model.Info.IsSpecsAvailable)
                {
                    <li>
                        <a href="@String.Format("{0}/m{1}", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Bikewale.Utility.UrlFormatter.ViewAllFeatureSpecs(makeMasking, modelMasking))" title="@Model.Bike Specification">
                            <span class="generic-sprite specs-sm"></span>
                            <span class="icon-label">Specs</span>
                        </a>
                    </li>
                }
            }
        </ul>

        <div class="clear"></div>
    </div>
}
