@model Bikewale.Models.BikeInfoVM
@if (Model!= null && Model.BikeInfo != null)
{
    <section>
        <div class="container no-container-width section-bottom-margin">
            <div class="grid-12 grid-no-padding">
                <div class="content-box-shadow padding-top20 padding-right20 padding-bottom15 padding-left20 model-grid-12-slug">
                    @if (Model.IsUpcoming)
                    {
                        <p class="model-ribbon-tag upcoming-ribbon">Upcoming</p>
                    }
                    else if (Model.IsDiscontinued)
                    {
                        <p class="model-ribbon-tag discontinued-ribbon">Discontinued</p>
                    }
                    <div class="clear"></div>
                    <div class="margin-bottom15">
                        <a href="@Model.BikeUrl" title="@Model.BikeName" class="margin-right10 inline-block bw-ga" data-cat="@Model.Category" data-act="Clicked_Model_GenericSlug" data-lab="@Model.BikeName">
                            <h2>@Model.BikeName</h2>
                        </a>
                        @if (Model.BikeInfo.RatingCount > 0)
                        {
                        <div id="reviewRatingsDiv" class="inline-block">
                            <span class="rate-count-@Math.Round(Model.BikeInfo.Rating)">
                                <span class="bwsprite star-icon star-size-16"></span>
                                <span class="font14 text-bold inline-block">@Model.BikeInfo.Rating.ToString("0.0")</span>
                            </span>&nbsp;<span class='font11 text-xt-light-grey inline-block padding-left3'>(@string.Format("{0} {1}", Model.BikeInfo.RatingCount, Model.BikeInfo.RatingCount > 1 ? "ratings" : "rating"))</span>
                            @if (Model.BikeInfo.UserReviewCount > 0)
                            {
                                <a class='review-left-divider inline-block' href="@string.Format("{0}reviews/", Model.BikeUrl)" title="@Model.BikeName user reviews">@string.Format("{0} {1}", Model.BikeInfo.UserReviewCount, Model.BikeInfo.UserReviewCount > 1 ? "reviews" : "review")</a>
                            }
                        </div>
                        }
                    </div>
                    <div class="grid-8 alpha padding-right20 border-solid-right">
                        <a href="@Model.BikeUrl" title="@Model.BikeName" class="model-image-target vertical-top">
                            <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(Model.BikeInfo.OriginalImagePath, Model.BikeInfo.HostUrl, Bikewale.Utility.ImageSize._160x89, Bikewale.Utility.QualityFactor._70) " src="" alt="@Model.BikeName" width="157" height="88" />
                        </a>
                        <div class="model-details-block vertical-top bw-ga" data-cat="@Model.Category" data-act="Clicked_OtherElements_GenericSlug" data-lab="@Model.BikeName">
                            @if (Model.BikeInfo.MinSpecsList != null && Model.BikeInfo.MinSpecsList.Any())
                            {
                                <ul class="key-specs-list margin-bottom15 text-light-grey">
                                    @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsLiElementsWithIcon(Model.BikeInfo.MinSpecsList, "bwsprite capacity-sm"))
                                </ul>
                            }
                            <ul class="item-more-details-list margin-bottom5 inline-block">
                                @if (Model.BikeInfo.Tabs != null)
                                {
                                    foreach (var Tabsdetails in Model.BikeInfo.Tabs)
                                    {
                                        <li>
                                            <a href="@Tabsdetails.URL" title="@Model.BikeName @Tabsdetails.Title">
                                                <span class="bwsprite @Tabsdetails.IconText-sm"></span>
                                                <span class="icon-label">@Tabsdetails.TabText</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            @if (Model.BikeInfo.UsedBikeCount > 0)
                            {
                                <div class="border-solid-bottom margin-bottom10"></div>
                                <a href="@Bikewale.Utility.UrlFormatter.UsedBikesUrlNoCity(Model.BikeInfo.Make.MaskingName, Model.BikeInfo.Model.MaskingName, (Model.CityDetails != null) ? Model.CityDetails.CityMaskingName : "india")" title="@Model.BikeInfo.UsedBikeCount used @Model.BikeName bikes" class="block text-default hover-no-underline">
                                    <span class="used-target-label inline-block">
                                        <span class="font14 text-bold">@Model.BikeInfo.UsedBikeCount Used @Model.BikeName bikes</span>&nbsp;<span class="font12 text-light-grey">starting at &#x20b9; @Bikewale.Utility.Format.FormatNumeric(Convert.ToString(Model.BikeInfo.UsedBikeMinPrice))</span>
                                    </span>
                                    <span class="bwsprite next-grey-icon"></span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="grid-4 omega padding-left20">
                        @if (Model.IsDiscontinued)
                        {
                            <p class="font14 text-light-grey margin-bottom5" title="Last known Ex-showroom price">Last known Ex-showroom price</p>
                            <div class="margin-bottom10 font18">
                                @Html.Raw("<span>&#x20B9;</span>")
                                <span class="text-bold version-price">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Model.BikeInfo.BikePrice))</span>
                            </div>
                        }
                        else if (Model.IsUpcoming)
                        {
                            <p class="font14 text-light-grey margin-bottom5" title="Expected price">Expected price</p>
                            <div class="margin-bottom10 font18">
                                @Html.Raw("<span>&#x20B9;</span>")
                                <span class="text-bold version-price">&nbsp;@Bikewale.Utility.Format.FormatNumeric(Convert.ToString(Model.BikeInfo.EstimatedPriceMin))  - @Bikewale.Utility.Format.FormatNumeric(Convert.ToString(Model.BikeInfo.EstimatedPriceMax)) </span>
                            </div>
                        }
                        else
                        {
                            if (Model.BikeInfo.PriceInCity > 0 && Model.CityDetails != null)
                            {
                                <p class="font14 text-light-grey margin-bottom5" title="@String.Format(" On-road price, {0}", Model.CityDetails.CityName)">@String.Format("On-road price, {0}", Model.CityDetails.CityName)</p>
                                <div class="margin-bottom10 font18">
                                    @Html.Raw("<span>&#x20B9;</span>")
                                    <span class="text-bold version-price">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Model.BikeInfo.PriceInCity)) </span>
                                </div>
                            }
                            else
                            {
                                <p class="font14 text-light-grey margin-bottom5" title="@String.Format(" Ex-showroom, {0}", Bikewale.Utility.BWConfiguration.Instance.DefaultName)">@String.Format("Ex-showroom, {0}", Bikewale.Utility.BWConfiguration.Instance.DefaultName)</p>
                                <div class="margin-bottom10 font18">
                                    @Html.Raw("<span>&#x20B9;</span>")
                                    <span class="text-bold version-price">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(Model.BikeInfo.BikePrice)) </span>
                                </div>
                            }
                        }
                        <a href="@Bikewale.Utility.UrlFormatter.BikePageUrl(Model.BikeInfo.Make.MaskingName,Model.BikeInfo.Model.MaskingName)" title="@Model.BikeName" class="btn btn-white btn-180-34">View model details <span class="bwsprite btn-red-arrow"></span></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}
