@model  Bikewale.Models.MostPopularBikeWidgetVM
@using Bikewale.Entities.BikeData;
@using Bikewale.Utility;
<ul class="sidebar-bike-list">
    @foreach (var bike in Model.Bikes)
    {
    var bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
    
    <li>
        <a href="@Bikewale.Utility.UrlFormatter.BikePageUrl(bike.objMake.MaskingName,bike.objModel.MaskingName)" title="@bikeName " class="bike-target-link" data-newlaunch="@string.Format("{0}",bike.IsAdPromoted?1:0)">
            <div class="bike-target-image inline-block">
                <img src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._110x61, QualityFactor._70)" alt="@bikeName" />
            </div>
            <div class="bike-target-content inline-block padding-left10">
                @if (bike.IsAdPromoted)
                {<span class="model-category__tag category--newlaunch">Newly Launched</span>}
                <h3>@bikeName</h3>
                @if (bike.VersionPrice > 0)
                {
                    <p class="font11 text-light-grey">@String.Format("Ex-showroom, {0}", !string.IsNullOrEmpty(bike.CityName) ? bike.CityName : Bikewale.Common.Configuration.GetDefaultCityName)</p>
                    @Html.Raw("<span class='font16'> &#x20B9;</span>")<span class="font16 text-bold">&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.VersionPrice))</span>
                }
                else
                {
                    <span class='font14 text-light-grey'>Price not available</span>
                }
            </div>
        </a>
    </li>
    }
</ul>
