@model  Bikewale.Models.MostPopularBikeWidgetVM
@using Bikewale.Utility;
<div class="swiper-container card-container swiper-small">
    <div class="swiper-wrapper discover-bike-carousel">
        @foreach (var bike in Model.Bikes)
        {
            var bikeName = String.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
            <div class="swiper-slide">
                <div class="swiper-card" data-newlaunch="1">
                    <a href="@string.Format("/m{0}",UrlFormatter.BikePageUrl(bike.objMake.MaskingName,bike.objModel.MaskingName))" title="@bikeName"  class="block">
						<span class="model-category__tag category--newlaunch">Newly Launched</span>
                        <div class="swiper-image-preview">
                            <img class="swiper-lazy" data-src="@Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, ImageSize._174x98, QualityFactor._70)" title="@bikeName" alt="@bikeName" src="" />
                          <span class="swiper-lazy-preloader"></span>
                        </div>
                        <div class="swiper-details-block">
                            <h3 class="target-link font12 text-truncate margin-bottom5">@bikeName</h3>
                            @if (bike.VersionPrice > 0)
                            {
                                <p class="text-truncate text-light-grey font11">Ex-showroom, @(!String.IsNullOrEmpty(bike.CityName) ? bike.CityName : BWConfiguration.Instance.GetDefaultCityName)</p>
                                <p class="text-default font16">
                                    @Html.Raw("<span>&#x20B9;</span>")&nbsp;<span class="text-bold">@Format.FormatPrice(Convert.ToString(bike.VersionPrice))</span><span class="font14 text-bold"> onwards</span>
                                </p>
                            }
                            else
                            {
                                <p class="text-default">
                                    <span class="font14 text-light-grey">Price not available </span>
                                </p>
                            }
                        </div>
                    </a>
                    @if (Model.ShowCheckOnRoadCTA && bike.VersionPrice > 0)
                    {
                        <div class="swiper-btn-block">
                            <a href="javascript:void(0)" data-pagecatid="@Model.PageCatId" data-pqsourceid="@((int)Model.PQSourceId)" data-makename="@bike.objMake.MakeName" data-modelname="@bike.objModel.ModelName" data-modelid="@bike.objModel.ModelId" class="btn btn-card btn-full-width btn-white getquotation">Check on-road price</a>
                        </div>
                    }
                    @if (Model.ShowPriceInCityCTA && bike.VersionPrice > 0)
                    {
                        <div class="swiper-btn-block">
                            <a href="@String.Format("/m{0}", Bikewale.Utility.UrlFormatter.PriceInCityUrl(bike.objMake.MaskingName, bike.objModel.MaskingName, bike.CityMaskingName))" class="btn btn-card btn-full-width btn-white font14 text-truncate" rel="nofollow" title="@String.Format("{0} {1} On-road price in {2}", bike.objMake.MakeName, bike.objModel.ModelName, bike.CityName)">@String.Format("On-road price in {0}", bike.CityName)</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
