@model Bikewale.Models.BikeModels.MultiTabsWidgetVM

@if (Model != null)
{

    <div class="bw-tabs-panel content-box-shadow section-bottom-margin">
        <div class="bw-tabs bw-tabs-flex tabs-flex--reset-margin">
            <ul id="widgetTab">
                <li class="active" data-tabs="@Model.TabId1" data-other-tabs="@Model.TabId2">
                    <h2 class="bw-tabs__item bw-tabs-item--sm">@Model.TabHeading1</h2>
                </li>
                <li data-tabs="@Model.TabId2" data-other-tabs="@Model.TabId1">
                    <h2 class="bw-tabs__item bw-tabs-item--sm">@Model.TabHeading2</h2>
                </li>
            </ul>
        </div>
        <div id="@Model.TabId1" class="bw-tabs-data sidebar-list--overflow">
            @switch ((uint)Model.Pages)
            {
                case 1:
                    @Html.Partial(@Model.ViewPath1, Model.MostPopularBikes)
                    break;
                case 2:
                @Html.Partial(@Model.ViewPath1, Model.UpcomingBikes)
                    break;
                case 3:
                @Html.Partial(@Model.ViewPath1, Model.MostPopularBikes)
                    break;
                case 4:
                @Html.Partial(@Model.ViewPath1, Model.MostPopularMakeBikes)
                    break;
                case 5:
                @Html.Partial(@Model.ViewPath1, Model.MostPopularMakeScooters)
                    break;
                case 6:
                @Html.Partial(@Model.ViewPath1, Model.MostPopularScooters)
                    break;
                case 7:
                @Html.Partial(@Model.ViewPath1, Model.PopularSeriesBikes)
                    break;
                case 8:
                @Html.Partial(@Model.ViewPath1, Model.UpcomingBikesByBodyStyle)
                    break;

            }
            @if (Model.ShowViewAllLink1)
            {
                <div class="view-all-btn-container padding-10-20-20 read-more">
                    <a href="@Model.ViewAllHref1" title="@Model.ViewAllTitle1" data-tab="@Model.TabId1" class="btn view-all-target-btn">@Model.ViewAllText1<span class="bwsprite teal-right"></span></a>
                </div>
            }
        </div>
        <div id="@Model.TabId2" class="bw-tabs-data sidebar-list--overflow hide">
            @switch ((uint)Model.Pages)
            {
                case 1:
                    @Html.Partial(@Model.ViewPath2, Model.MostPopularScooters)
                    break;
                case 2:
                @Html.Partial(@Model.ViewPath2, Model.UpcomingScooters)
                    break;
                case 3:
                @Html.Partial(@Model.ViewPath2, Model.UpcomingBikes)
                    break;
                case 4:
                @Html.Partial(@Model.ViewPath2, Model.PopularBodyStyle)
                    break;
                case 5:
                @Html.Partial(@Model.ViewPath2, Model.PopularScooterMakes)
                    break;
                case 6:
                @Html.Partial(@Model.ViewPath2, Model.UpcomingScooters)
                    break;
                case 7:
                @Html.Partial(@Model.ViewPath2, Model.PopularBikesByBodyStyle)
                    break;
                case 8:
                @Html.Partial(@Model.ViewPath2, Model.PopularBikesByBodyStyle)
                    break;
            }
            @if (Model.ShowViewAllLink2)
            {
                <div class="view-all-btn-container padding-10-20-20 read-more">
                    <a href="@Model.ViewAllHref2" title="@Model.ViewAllTitle2" data-tab="@Model.TabId2" class="btn view-all-target-btn">@Model.ViewAllText2<span class="bwsprite teal-right"></span></a>
                </div>
            }
        </div>
    </div>

    <script type='text/javascript'>
        var pageName = "@Model.PageName";

        docReady(function () {

            $('#widgetTab li').on('click', function (ele) {
                if (ele) {
                    triggerGA(pageName + '_Page', 'Clicked_on_Tab', ele.currentTarget.getAttribute('data-tabs') + '_' + ele.currentTarget.getAttribute('data-other-tabs'));
                }
            });

            $('.sidebar-list--overflow ul li a').on('click', function (ele) {
                if (ele) {
                    triggerGA(pageName + '_Page', 'Clicked_on_Model_Card', ele.currentTarget.getAttribute('title'));
                }
            });

            $('.read-more a').on('click', function (ele) {
                if (ele) {
                    triggerGA(pageName + '_Page', 'Clicked_on_View_All', ele.currentTarget.getAttribute('data-tab'));
                }
            });

        });
    </script>

}   