@model IEnumerable<Bikewale.Entities.PriceQuote.v2.NewBikeDealerBase>

@if (Model != null)
{
    uint secondaryDealersCount = Convert.ToUInt32(Model.Count());
    <!-- Secondary dealer section -->
    <div id="pq-secondary-dealer" class="bg-white padding-10-5 bottom-shadow margin-bottom10">
        <p class="font18 text-bold text-black padding-right20 padding-left20 margin-bottom10">Prices from @secondaryDealersCount more @(secondaryDealersCount == 1 ? "dealer" : "dealers") </p>
        <div class="swiper-container pq-secondary-dealer-swiper">
            <div class="swiper-wrapper padding-top5 padding-bottom5">
                @foreach (var dealer in Model)
                {
                    <div class="swiper-slide secondary-dealer-card">
                        <a href="javascript:void(0)" onclick="secondarydealer_Click(@dealer.DealerId)" class="secondary-dealer bw-ga text-default" dealerid="@dealer.DealerId">
                            <div class="margin-bottom15">
                                <span class="grid-9 alpha omega font14 text-default text-bold">@dealer.Name</span>
                                <span class="grid-3 omega text-light-grey text-right @(dealer.Distance > 0 ? "" : "hide") ">@Math.Truncate(dealer.Distance)  kms</span>
                                <div class="clear"></div>
                                <span class="bwmsprite dealership-loc-icon vertical-top"></span>
                                <span class="font12 text-light-grey">@dealer.Area</span>
                                <div class="margin-top15">
                                    <div class="grid-4 alpha omega @(dealer.DealerPackageType != Bikewale.Entities.PriceQuote.DealerPackageTypes.Standard && dealer.OfferCount > 0 ?  "border-solid-right" : "") ">
                                        <p class="font12 text-light-grey margin-bottom5">On-road price</p>
                                        @Html.Raw("<span class='font16 text-default'> &#x20B9;</span>")&nbsp;<span class="font16 text-default text-bold">@Bikewale.Utility.Format.FormatPrice(dealer.SelectedVersionPrice.ToString()) </span>
                                    </div>
                                    @if (dealer.DealerPackageType != Bikewale.Entities.PriceQuote.DealerPackageTypes.Standard && dealer.OfferCount > 0)
                                    {

                                        <div class="grid-8 padding-top10 padding-left20 omega">
                                            <span class="bwmsprite offers-sm-box-icon"></span>
                                            <span class="font14 text-default text-bold">@dealer.OfferCount</span>
                                            <span class="font12 text-light-grey">@(dealer.OfferCount > 1 ? "Offers available" : "Offer available")</span>
                                        </div>
                                    }
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                        <div>
                            <a href="javascript:void(0)" onclick="secondarydealer_Click(@dealer.DealerId)" class="btn btn-white btn-sm-1 margin-right5 inline-block" rel="nofollow">View detailed price</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}