@model Bikewale.Models.PriceInCityPageVM
@{
    var gaBikeName = String.Format("{0}_{1}_{2}", Model.Make.MakeName, Model.BikeModel.ModelName, Model.CityEntity.CityName);
}

<ul class="overall-specs-tabs-wrapper">
    @if (Model.FirstVersion != null)
    {
        <li class="bw-price-in-city-ga active">
            <a href="@string.Format("{0}/m{1}price-in-{2}/#orpContent", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.BikeInfo.BikeUrl, Model.CityEntity.CityMaskingName)">On-road price</a>
        </li>
    }
    @if (Model.HasDealers || Model.HasServiceCenters)
    {
        <li class="bw-price-in-city-ga">
            <a href="@string.Format("{0}/m{1}price-in-{2}/#dealerContent", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.BikeInfo.BikeUrl, Model.CityEntity.CityMaskingName)">Dealers</a>
    </li>
    }
    @if (Model.IsNew)
    {
        <li class="bw-price-in-city-ga">
            <a href="@string.Format("{0}/m{1}price-in-{2}/#emiContent", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.BikeInfo.BikeUrl, Model.CityEntity.CityMaskingName)">EMI calculator</a>
    </li>
    }
    @if (Model.IsNew && (Model.BikeVersionPrices != null || Model.HasNearestPriceCities))
    {
        <li class="bw-price-in-city-ga">
            <a href="@string.Format("{0}/m{1}price-in-{2}/#versionContent", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.BikeInfo.BikeUrl, Model.CityEntity.CityMaskingName)">Price list</a>
    </li>
    }
    @if (Model.HasAlternateBikes)
    {
        <li class="bw-price-in-city-ga">
            <a href="@string.Format("{0}/m{1}price-in-{2}/#similarContent", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.BikeInfo.BikeUrl, Model.CityEntity.CityMaskingName)">Compare @Model.BodyStyleText</a>
    </li>
    }
    else if (Model.IsPopularBodyStyleAvailable)
    {
        <li class="bw-price-in-city-ga">
            <a href="@string.Format("{0}/m{1}price-in-{2}/#popularContent", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.BikeInfo.BikeUrl, Model.CityEntity.CityMaskingName)">Popular @Model.BodyStyleText</a>
    </li>
    }
</ul>