@model Bikewale.Models.PriceInCity.PriceInTopCitiesWidgetVM
@using Bikewale.Utility
<div class="jcarousel-wrapper inner-content-carousel carousel-type-city">
    <div class="jcarousel">
        <ul>
            @foreach (var city in Model.PriceQuoteList)
            {
                <li>
                    <a href="@UrlFormatter.PriceInCityUrl(city.MakeMaskingName, city.ModelMaskingName, city.CityMaskingName)" title="@string.Format("{0} price in {1}", Model.BikeName, city.CityName)" class="card-target-link">
                        <div class="city-image-preview">
                            <span class="city-sprite @string.Format("{0}-icon",city.CityMaskingName)"></span>
                        </div>
                        <div class="text-left padding-top15 padding-left20 padding-right20 padding-bottom20">
                            <p class="font15 text-default text-bold margin-bottom5">@city.CityName</p>
                            <p class="text-light-grey font14">
                                @Html.Raw("<span>&#x20B9;</span>")&nbsp;@Format.FormatPrice(Convert.ToString(city.OnRoadPrice)) onwards
                            </p>
                        </div>
                    </a>
                </li>
            }
                </ul>
            </div>
        <span class="jcarousel-control-left">
            <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
        </span>
        <span class="jcarousel-control-right">
            <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
        </span>
    </div>

