@model Bikewale.Models.PriceInCity.PriceInTopCitiesWidgetVM
@if (Model != null && Model.PriceQuoteList != null)
{
    foreach (var priceQuote in @Model.PriceQuoteList)
    {
        <tr>
            <td align="left" width="60%" class="city-name padding-bottom20">
                <a title="@string.Format("{0} price in {1}", @Model.BikeName, @priceQuote.CityName)" href="@string.Format("/m{0}", @Bikewale.Utility.UrlFormatter.PriceInCityUrl(@priceQuote.MakeMaskingName, @priceQuote.ModelMaskingName, @priceQuote.CityMaskingName))">@priceQuote.CityName</a>
            </td>
            <td align="right" width="40%" class="city-price padding-bottom20">
                @Html.Raw("<span>&#x20B9;</span>")&nbsp;@Bikewale.Utility.Format.FormatPrice(Convert.ToString(priceQuote.OnRoadPrice))
            </td>
        </tr>
    }
}