@model IEnumerable<Bikewale.Entities.GenericBikes.BestBikeEntityBase>
@using Bikewale.Utility;

            @foreach (var bike in Model)
            {
                var bikeName = String.Format("{0} {1}", bike.Make.MakeName, bike.Model.ModelName);
                <li>
                    <a href="@UrlFormatter.BikePageUrl(bike.Make.MaskingName,bike.Model.MaskingName)" title="@bikeName" class="jcarousel-card">
                        <div class="model-jcarousel-image-preview">
                            <span class="card-image-block">
                                <img class="lazy" data-original="@Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,ImageSize._310x174,QualityFactor._75)" alt="@bikeName" src="" border="0" />
                            </span>
                        </div>
                        <div class="card-desc-block">
                            <h3 class="bikeTitle">@bikeName</h3>
                            <p class="text-xt-light-grey font14 margin-bottom10">
                                @Html.Raw(FormatMinSpecs.GetMinSpecs(Convert.ToString(bike.MinSpecs.Displacement), Convert.ToString(bike.MinSpecs.FuelEfficiencyOverall), Convert.ToString(bike.MinSpecs.MaxPower), Convert.ToString(bike.MinSpecs.KerbWeight)))
                            </p>
                            @if (bike.Price > 0)
                            {
                                <p class="font14 text-light-grey margin-bottom5">Ex-showroom, @BWConfiguration.Instance.GetDefaultCityName</p>
                                    <p class="font18 text-default">
                                        @Html.Raw("<span>&#x20B9;</span>")<span class="text-bold">&nbsp;@Format.FormatPrice(Convert.ToString(bike.Price))</span><span class="font14"> onwards</span>
                                    </p>
                            }
                            else
                            {
                                <p class="text-bold text-default">
                                    <span class="font14">Price not available</span>
                                </p>
                            }
                        </div>
                    </a>
                  
                        <div class="margin-left20 margin-bottom20">
                            <a href="javascript:void(0);" data-pagecatid="0" data-pqsourceid="@((int)Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_HomePage_BestBikes)" data-makename="@bike.Make.MakeName" data-modelname="@bike.Model.ModelName" data-modelid="@bike.Model.ModelId" class="btn btn-grey btn-sm font14 getquotation" rel="nofollow">Check on-road price</a>
                        </div>
                    
                </li>
            }
    