@model Bikewale.Models.BestBikeWidgetVM
<div class="container section-bottom-margin">
        <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">@Model.Title</h2>
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-bottom20">
                
                <div class="jcarousel-wrapper inner-content-carousel generic-carousel">
                    <div class="jcarousel">
                        <ul>
                            <li id="allbikes">
                                <a href="/best-bikes-in-india/" title="Top 10 bikes in India" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <div class="card-image-block">
                                            <img class="lazy" data-original="https://imgd.aeplcdn.com/310x174/bw/best-bikes/best-bikes-thumb.jpg?05042017&q=75" alt="Top 10 bikes in India" src="" />
                                        </div>
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="margin-bottom5 text-truncate">Top 10 bikes in India</h3>
                                        <p class="font12 text-light-grey text-truncate">@Model.objBestBikesList</p>
                                    </div>
                                </a>
                            </li>
                            @*@if (Model.CurrentPage!= null && Model.CurrentPage != Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter)
                            {*@ 
                            <li id="scooter">
                                <a href="/best-scooters-in-india/" title="Top 10 scooters in India" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <div class="card-image-block">
                                            <img class="lazy" data-original="https://imgd.aeplcdn.com/310x174/bw/best-bikes/scooter-style-thumb.jpg?05042017&q=75" alt="Top 10 scooters in India" src="" />
                                        </div>
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="margin-bottom5 text-truncate">Top 10 scooters in India</h3>
                                        <p class="font12 text-light-grey text-truncate">@Model.objBestScootersList</p>
                                    </div>
                                </a>
                            </li>
                            <li id="mileage">
                                <a href="/best-mileage-bikes-in-india/" title="Top 10 mileage bikes in India" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <div class="card-image-block">
                                            <img class="lazy" data-original="https://imgd.aeplcdn.com/310x174/bw/best-bikes/mileage-bikes-thumb.jpg?05042017&q=75" alt="Top 10 mileage bikes in India" src="" />
                                        </div>
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="margin-bottom5 text-truncate">Top 10 mileage bikes in India</h3>
                                        <p class="font12 text-light-grey text-truncate">@Model.objBestMileageBikesList</p>
                                    </div>
                                </a>
                            </li>
                            <li id="sports">
                                <a href="/best-sports-bikes-in-india/" title="Top 10 sports bikes in India" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <div class="card-image-block">
                                            <img class="lazy" data-original="https://imgd.aeplcdn.com/310x174/bw/best-bikes/sports-style-thumb.jpg?05042017&q=75" alt="Top 10 sports bikes in India" src="" />
                                        </div>
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="margin-bottom5 text-truncate">Top 10 sports bikes in India</h3>
                                        <p class="font12 text-light-grey text-truncate">@Model.objBestSportsBikeList</p>
                                    </div>
                                </a>
                            </li>
                            <li id="cruiser">
                                <a href="/best-cruiser-bikes-in-india/" title="Top 10 cruiser bikes in India" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <div class="card-image-block">
                                            <img class="lazy" data-original="https://imgd.aeplcdn.com/310x174/bw/best-bikes/cruiser-style-thumb.jpg?05042017&q=75" alt="Top 10 cruiser bikes in India" src="" />
                                        </div>
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="margin-bottom5 text-truncate">Top 10 cruiser bikes in India</h3>
                                        <p class="font12 text-light-grey text-truncate">@Model.objBestCruiserBikesList</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                    <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                </div>
                </div>
            </div>
    <div class="clear"></div>
        </div>
