<script>    
    doNotShowAskTheExpert = false;
    var relatedBasicIds =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.RelatedArticleIds));
    var articleBasicId = '@Model.ArticlePages.BasicId';
</script>
<script type="text/html" id="article-photos">
    <a data-bind="attr:{ rel : 'slidePhoto-'+$parent.basicId,href : HostUrl + '1056x594' + OriginalImgPath,title : Caption, target : '_blank'}">
        <img data-bind="attr:{ alt : MakeBase.makeName + ' ' + ModelBase.ModelName + ' ' + ImageCategory , 'data-original' : HostUrl+'160X89'+ OriginalImgPath,border:'0',style:'cursor:pointer;',src:'https://imgd.aeplcdn.com/0x0/statics/grey.gif',class:'lazy',title:'Click to view larger photo' }" />
    </a>
            
</script>
<script type="text/html" id="related-expert-review">
    <h1 class="font30 text-black special-skin-text" data-bind="text: title"></h1>
    <div class="border-solid-bottom margin-top10 margin-bottom15"></div>
    <div class="content-details related-details" data-bind="attr : {id : basicId,categoryid : categoryId,categoryname : 'expert-reviews'}">
        <div class="content-box-shadow content-inner-block-10 margin-bottom20">
            <div class="navExpert">
                <div id="menuareaExpReview">
                    <ul class="menu" style="display: inline;" data-bind="foreach : pageList">
                        <li style="display: inline; margin-right: 10px;">
                            <a data-bind="attr:{href : '#'+ Common.utils.formatSpecial(pageName)+'-'+$parent.basicId}">
                                <strong data-bind="text : pageName"></strong>
                            </a>
                        </li>
                        <!-- ko if: ($index() == ($parent.pageList.length - 1)) && $parent.showGallery -->
                        <li style="display: inline; margin-right: 10px;">
                            <a data-bind="attr:{href : '#photos-'+$parent.basicId,idx:$parentContext.$index()}">
                                <strong>Photos</strong>
                            </a>
                        </li>
                        <!-- /ko -->
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <!--Below code for expert Review Subnavigation ends here-->
            <div class="margin-top10">
                <div class="leftfloat">

                    <span data-bind="if : authorMaskingName != null && authorMaskingName != '' ">
                        <span data-bind="text : Editorial.utils.getDisplayDate(displayDate) + ' IST by '"></span><a data-bind="attr:{href : '/authors/' + authorMaskingName + '/'}"><span data-bind="text :  authorName"></span></a>
                    </span>
                    <span data-bind="if : authorMaskingName == null || authorMaskingName == ''">
                        <span data-bind="text : Editorial.utils.getDisplayDate(displayDate) + ' IST by '+ authorName"></span>
                    </span>
                </div>

                <div class="rightfloat">
                    <span class="view-icon margin-right5"></span><span data-bind="text: views+(views>1? ' Views': ' View')"></span>
                </div>
                <div class="clear"></div>
                <div class="leftfloat">
                    <span data-bind="if : categoryId == 8">
                        <span>Car Tested: </span><!--<a data-bind="attr:{href : '/'+ Common.utils.formatSpecial(makeBase.makeName) + '-cars/'+modelBase.maskingName + '/',title : tagsList[0] + ' Cars' }"></a>-->
                        <span data-bind="foreach : vehicleTagsList">
                            <!-- ko if: ($index() === 0 ) -->
                            <a data-bind="attr:{title: makeBase.makeName + ' ' + modelBase.modelName  + ' Cars', href : '/'+ Common.utils.formatSpecial(makeBase.makeName) + '-cars/'+modelBase.maskingName + '/' }, text : makeBase.makeName + ' ' + modelBase.modelName"></a>
                            <span data-bind="if: versionBase.id != -1">
                                Version: <a data-bind="attr:{title: makeBase.makeName + ' ' + modelBase.modelName  + ' '+ versionBase.name, href : '/'+ Common.utils.formatSpecial(makeBase.makeName) + '-cars/'+modelBase.maskingName + '/' + Common.utils.formatSpecial(versionBase.name)+'-'+versionBase.id+'/'}, text :  versionBase.name"></a>
                            </span>
                            <!-- /ko -->
                        </span>
                    </span>
                    <span data-bind="if : categoryId == 2">
                        <span> A comparison road test of :</span>
                        <span data-bind="foreach : vehicleTagsList">
                            <a data-bind="attr:{title: makeBase.makeName + ' ' + modelBase.modelName  + ' Cars', href : '/'+ Common.utils.formatSpecial(makeBase.makeName) + '-cars/'+modelBase.maskingName + '/' }, text : makeBase.makeName + ' ' + modelBase.modelName + ' '+ versionBase.name"></a>
                            <!-- ko if: ($index() < ($parent.vehicleTagsList.length - 1)) -->and<!-- /ko -->
                        </span>
                    </span>
                </div>
                <div class="clear"></div>
                <ul class="social margin-top15">
                    <li style="float: left; width: 90px; height: 20px;">
                        <iframe data-bind="attr:{src : 'https://www.facebook.com/plugins/like.php?layout=button_count&show_faces=false&action=like&font&colorscheme=light&width=100&height=25&href=https://www.carwale.com' + articleUrl }" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100px; height: 25px;" allowtransparency="true"></iframe>
                    </li>
                    <li style="float: left; width: 90px; height: 20px;">
                        <iframe allowtransparency="true" frameborder="0" scrolling="no" data-bind="attr:{ src: 'https://platform.twitter.com/widgets/tweet_button.html?text='+ tagsList +' Road Test&via=CarWale&url=http://www.carwale.com'+articleUrl+'&counturl=http://www.carwale.com'+ articleUrl }" style="width: 110px; height: 40px;"></iframe>
                    </li>
                    <li style="float: left; width: 90px; height: 20px;">
                        <div class="g_plus" data-bind="attr:{id:'gplus-'+basicId}">

                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div id="expert-review">
            <div data-bind="foreach : pageList">
                <!-- ko if: ($index() == 0) --><span class='first-page-start' data-bind="attr:{basic:$parent.basicId,idx:$parentContext.$index()}"></span><!-- /ko -->
                <!-- ko if: ($index() == ($parent.pageList.length - 1)) --><span class='next-page-trigger' data-bind="attr:{basic:$parent.basicId}"></span><!-- /ko -->
                <div data-bind="attr:{id: Common.utils.formatSpecial(pageName)+'-'+$parent.basicId }" class="content-box-shadow content-inner-block-10 margin-bottom20">
                    <h2 class="font16" data-bind="text: pageName"></h2>
                    <div class="text-area-right content-font" data-bind="html: content"></div>
                </div>
                <!-- ko if: ($index() == ($parent.pageList.length - 1)) --><span class='last-page-end' data-bind="attr:{basic:$parent.basicId,idx:$parentContext.$index()}"></span><!-- /ko -->
            </div>
            <!--for photos code starts here-->
            <div data-bind="if: showGallery == true,attr:{id:'photos-'+basicId,class:'next-page-trigger',basic:basicId}">
                <div class="content-box-shadow content-inner-block-10 rounded-corner2 margin-top20">
                    <div data-bind="attr:{id:'article-photos-'+basicId,idx:$index()}" class="photos-slug">
                        <h2 class="font16 margin-bottom20">Photos<span class="fa fa-spinner fa-spin margin-left10"></span></h2>
                        <div style="display:inline-block;">
                            <div data-bind="template: { name: 'article-photos', foreach: images,afterRender: galleryHandler }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script type="text/javascript">    
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<script type="text/javascript" src="https://www.youtube.com/iframe_api" defer></script>
<script  language="javascript"  src="/static/src/jquery.slideshow.js"  type="text/javascript"></script>
<script  type="text/javascript"  src="/static/src/graybox.js" ></script>
<script  type="text/javascript"  src="/static/src/jquery.colorbox.js" ></script>
<script  type="text/javascript"  src="/static/src/dropdown-menu.min.js" ></script>
<script type="text/javascript" src="/static/src/jquery.dfp.min.js" defer></script>
<script type="text/javascript" src="/static/js/sticky-ad-news.js" defer></script>
<script  type="text/javascript"  src="/static/js/expert-reviews.js" defer></script>
<script  type="text/javascript"  src="/static/js/contenttracking.js" ></script>
<script type="text/javascript" src="/static/js/utils/date-format.js" defer></script>
<script type="text/javascript" src="/static/js/editorial-common.js" defer></script>

<script type="text/javascript" src="/static/js/videostracking.js" defer></script>
<script type="text/javascript">
    var CityId = '@Carwale.UI.Common.CookiesCustomers.MasterCityId';
    var CityName = '@Carwale.UI.Common.CookiesCustomers.MasterCity';
    $(document).ready(function(){
        ContentTracking.tracking.setUpTracking(1, 'ExpertReview', '.content-details');
        @if (Model.Videos != null && Model.Videos.Count > 0)
        {
        <text>
        onYouTubeIframeReady('@Model.Videos[0].VideoId');
        </text>
        }
    });    
</script>