@model Carwale.DTOs.Deals.DealsStockDTO

@{
    ViewBag.Title = "Thank You | CarWale Advantage";
    ViewBag.Description = "";
    ViewBag.PageTag = "mA-3";
    ViewBag.CustomCss = "~/Views/StaticPartials/m/Deals/MDealsCss.cshtml";
    ViewBag.CustomJs = "~/Views/StaticPartials/m/Deals/MDealsScript.cshtml";  //MDealsScriptBooking.cshtml";
    ViewBag.Canonical = "https://www.carwale.com" + Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString().Replace("/m/", "/");
    Layout = "~/views/shared/m/_MLayout.cshtml";
}

<section class="container">
    <div class="grid-12 padding-left5 padding-right5 padding-top10">
        
        <div class="content-inner-block-10 content-box-shadow rounded-corner2">
            @if (ViewBag.Success != null && ViewBag.Success)
            {
                <div id="successSection">
                    <div class="text-center padding-top5 padding-bottom15">
                        <span class="green-thanks-icon"></span>
                        <br />
                        <span class="font20 padding-top10 text-black text-bold">Congratulations!</span>
                        <p class="text-light-grey margin-top20 text-center font15 text-bold">You've successfully completed transaction against following car:</p>
                    </div>

                    <div class="grid-12 alpha omega">
                        @if (Model != null && Model.StockCount > 0)
                        {
                            <div class="padding-top10 padding-bottom10 border-solid show">
                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Transaction Id :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="font14 text-black text-bold">@ViewBag.TransactionId</span><br />
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Car :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="font14 text-black text-bold">@(Model.Make.MakeName + " " + Model.Model.ModelName.Split('[')[0])</span><br />
                                        <span class="font12">@Model.Version.Name</span><br />
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Colour :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="color-code-circle-sm" style="background-color:#@Model.Color.HexCode;"></span>
                                        <span class="font14 text-black padding-left5 text-bold">@Model.Color.ColorName</span>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Year :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="font14 text-black text-bold">@Model.ManufacturingYear</span>
                                    </div>
                                </div>
                                <div class="clear"></div>

                            </div>
                        }

                        <h2 class="font15 margin-top20 margin-bottom10 text-center">Next steps</h2>
                        <div class="content-inner-block-10 border-solid show font14 text-light-grey">
                            <p class="margin-top5 margin-bottom10 font9 position-rel"><span class="fa fa-circle position-abt pos-top5"></span><span class="font14 padding-left20 block">You will be notified once the booking is confirmed by the partner dealer.</span></p>
                            <p class="margin-top5 margin-bottom5 font9 position-rel"><span class="fa fa-circle position-abt pos-top5"></span><span class="font14 padding-left20 block">Once confirmed, please visit the dealership for completion of transaction.</span></p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            <!-- /successSection -->
            }
            else
            {
                <div id="failureSection">
                    <div class="text-center padding-top5 padding-bottom15">
                        <span class="cwm-circle-icon failure-icon"></span>
                        <br />
                        <span class="font20 padding-top10 text-black text-bold">Oops !</span>
                        <p class="text-light-grey margin-top20 text-center font15 text-bold">Your transaction could not be completed</p>

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/m/deals/retrypayment/" + Model.StockId + "/" }))
                        {
                            <div class="text-center margin-top20">
                                <input type="submit" value="retry" id="retryBtn" class="btn btn-orange text-uppercase" />
                            </div>
                        }
                    </div>

                    <div class="grid-12 alpha omega">
                        @if (Model != null && Model.StockCount > 0)
                        {
                            <div class="padding-top10 padding-bottom10 border-solid show">
                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Transaction Id :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="font14 text-black text-bold">@ViewBag.TransactionId</span><br />                                        
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Car :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="font14 text-black text-bold">@(Model.Make.MakeName + " " + Model.Model.ModelName.Split('[')[0])</span><br />
                                        <span class="font12">@Model.Version.Name</span><br />
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Colour :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="color-code-circle-sm" style="background-color:#@Model.Color.HexCode;"></span>
                                        <span class="font14 text-black padding-left5 text-bold">@Model.Color.ColorName</span>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <div class="grid-12 margin-bottom20 alpha omega">
                                    <div class="grid-6"><span class="font14 text-light-grey">Year :</span></div>
                                    <div class="grid-6 alpha">
                                        <span class="font14 text-black text-bold">@Model.ManufacturingYear</span>
                                    </div>
                                </div>
                                <div class="clear"></div>

                            </div>
                        }

                    </div>
                    <div class="clear"></div>
                </div>
            <!-- /failureSection -->
            }

            <div class="text-center aged-call-details margin-top25 margin-bottom10">
                <p class="fonnt15 text-bold text-grey margin-bottom5">For Further Queries</p>
                <p class="font15 text-grey margin-bottom5">Facing any issue ? Reach out to us at</p>
                <p class="font18 aged-phone-no"><span class="fa fa-phone"></span>@(System.Configuration.ConfigurationManager.AppSettings["CarwaleAdvantageMaskingNumber"] ?? "1800 2090 230")</p>
            </div>

        </div>
    </div>
    <div class="clear"></div>    
</section>
<!-- /thankyou-section -->
@{Html.RenderPartial("~/Views/Shared/Deals/_DealFaq.cshtml");}

