@model Carwale.DTOs.Deals.AdvantageSearchModelDTO
@{
    ViewBag.Title = "CarWale Advantage";
    ViewBag.Description = "";
    ViewBag.PageTag = "mA-1";
    ViewData["landingPage"] = false;
    ViewBag.Canonical = "https://www.carwale.com" + Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString().Replace("/m/", "/");
    ViewBag.adPath = System.Configuration.ConfigurationManager.AppSettings["adPathMobile"];
    ViewBag.CustomCss = "~/Views/StaticPartials/m/Deals/MDealsCss.cshtml";
    var path = (System.Configuration.ConfigurationManager.AppSettings["staticurl"] != "" ? "https://st.aeplcdn.com" + System.Configuration.ConfigurationManager.AppSettings["stagingpath"] : "");
    Layout = "~/views/shared/m/_MLayout.cshtml";

}
<script>
    $(function () {
        $("#mSlider-budget").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {
                $("#budgetText").text("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#budgetText").text("$" + $("#mSlider-budget").slider("values", 0) +
          " - $" + $("#mSlider-budget").slider("values", 1));
    });
</script>

<div class="clear"></div>
<div class="background"></div>
<div id="m-blackOut-window" class="hide"></div>
<div id="cwmLoadingIcon" class="m-loading-popup hide">
    <span class="m-loading-icon"></span>
    <div class="clear"></div>
</div>

@*<header class="advantage-listing-banner">
    <div class="container">
        <div class="welcome-box">
            <h2 class="text-white text-center padding-top20">Carwale Advantage</h2>
            <p class="font13">Handpicked brand new cars with exclusive savings</p>
        </div>
    </div>
</header>*@
<div class="clear"></div>
<div id="offerOfWeek">
    <!--ko if : offerOfTheWeek() != null-->
    <div id="AdvtIntroWrap" class="content-inner-block-10 listingBanner" data-bind="css: {'hide': offerOfTheWeek() != null}">
        <div class="content-inner-block-10 content-box-shadow position-rel">
            <span id="closeIconBanner" class="cwmsprite cross-lg-dark-grey position-abt pos-right10 pos-top10"></span>
            <div class="text-grey margin-bottom15">
                <div>Introducing</div>
                <div class="font16 padding-top5 padding-bottom5"><span class="inline-block valign-middle padding-right5">CarWale</span><span class="deals-car-sprite advt-logo-111x14  valign-middle"></span></div>
                <div class="text-grey margin-bottom10">Exclusive savings on brand new cars.</div>
            </div>
            <ul class="margin-bottom10">
                <li class="block text-light-grey font9 padding-bottom10"><span class="fa fa-circle valign-middle"></span> <span class="font13 text-default padding-left5 inline-block valign-middle">Authorized dealers</span></li>
                <li class="block text-light-grey font9 padding-bottom10"><span class="fa fa-circle valign-middle"></span> <span class="font13 text-default padding-left5 inline-block valign-middle">Immediate availability</span></li>
                <li class="block text-light-grey font9 padding-bottom10"><span class="fa fa-circle valign-middle"></span> <span class="font13 text-default padding-left5 inline-block valign-middle">Convenience of home booking</span></li>
                <li class="block text-light-grey font9"><span class="fa fa-circle valign-middle"></span> <span class="font13 text-default padding-left5 inline-block valign-middle">Transparent prices.</span></li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
    <!--ko if : offerOfTheWeek() != null-->
    <div id="offerOfWeekBanner" class="listingBanner">
        <div class="margin-top10 padding-left10 padding-right10">
            <h3>Offer of the Week</h3>
            <div id="offerTime">
                <span class="time-text inline-block">Ends in: </span>
                <div class="inline-block">
                    <span data-days class="font14 text-bold text-red"></span> <span class="time-text">days : </span>
                    <span data-hours class="font14 text-bold text-red"></span> <span class="time-text">hours : </span>
                    <span data-mins class="font14 text-bold text-red"></span> <span class="time-text">mins : </span>
                    <span data-secs class="font14 text-bold text-red"></span> <span class="time-text">secs</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="week-offer-container border-solid margin-top15 margin-left10 margin-right10 bg-white">
            <div class="week-offer-img">
                <!-- ko if : offerOfTheWeek().carImageDetails.originalImgPath -->
                <img data-bind="attr:{src:offerOfTheWeek().carImageDetails.hostUrl + '310x174' + offerOfTheWeek().carImageDetails.originalImgPath}" alt="CarWale Advantage" title="CarWale Advantage">
                <!-- /ko -->
                <!-- ko ifnot : offerOfTheWeek().carImageDetails.originalImgPath -->
                <img data-bind="attr:{src:'https://img.carwale.com/used/no-cars.jpg'}" alt="CarWale Advantage " title="CarWale Advantage ">
                <!-- /ko -->
            </div>
            <div class="week-offer-content text-center">
                <div class="week-offer-car-info padding-top15 padding-bottom10 padding-left10 padding-right10">
                    <a href="javascript:void(0)">
                        <h3 class="margin-bottom10" data-bind="text: offerOfTheWeek().make.makeName + ' ' + Common.utils.filterModelName(offerOfTheWeek().model.modelName) + ' '+ offerOfTheWeek().version.name"></h3>
                    </a>
                    <div class="font14 margin-top5 margin-bottom5">
                        <div class="striked-amount position-rel ">
                            <span class="striked-line"></span><span class="text-grey">₹ </span><span data-bind="text: Common.utils.formatNumeric(offerOfTheWeek().OnRoadPrice)"></span>
                        </div>
                        <span class="text-green margin-left10">(₹<span data-bind="text:Common.utils.formatNumeric(offerOfTheWeek().savings)"></span> off)</span>
                    </div>
                    <h2 class="font16 text-bold margin-bottom15">
                        ₹ 
                        <span data-bind="text:Common.utils.formatNumeric(offerOfTheWeek().OfferPrice)"></span>
                        <span class="text-light-grey text-unbold onroad-Price font12">On-Road Price <span data-bind="text:offerOfTheWeek().city.cityName"></span></span>
                    </h2>
                    <div class="btn btn-orange btn-sm text-uppercase"><a data-role="click-tracking" data-event="CWInteractive" data-action="dealsaccess_mobile" data-cat="deals_mobile" class="text-white" data-bind="attr: {'href':  '/m/' + Common.utils.formatSpecial(offerOfTheWeek().make.makeName) + '-cars/' + offerOfTheWeek().model.maskingName + '/advantage/?src=m17&cityid=' + offerOfTheWeek().city.cityId + '&versionId=' + offerOfTheWeek().version.id, 'data-label':'Offeroftheweek'}">View Offer Details</a></div>
                </div>
                <div class="week-offer-discount-info border-solid-top">
                    <div class="padding-top10 padding-bottom10 padding-left10 padding-right10">
                        <div>Limited Stock. Hurry!</div>
                        <div class="font20 text-red text-bold inline-block">
                            ₹ 
                            <span data-bind="text:Common.utils.formatNumeric(offerOfTheWeek().savings)"></span>
                        </div>
                        <div class="text-uppercase text-black font14 text-bold inline-block margin-left5">flat cash savings</div>
                    </div>
                    <div class="padding-left10 padding-right10 padding-bottom5" style="line-height:19px;">
                        <div class="margin-bottom5">Offer Includes: Regular Savings ₹ <span data-bind="text:Common.utils.formatNumeric(offerOfTheWeek().savings - offerOfTheWeek().extraSavings)"></span>/-</div>
                        <div class="margin-bottom5"><span class="text-bold">Extra Savings ₹ <span data-bind="text:Common.utils.formatNumeric(offerOfTheWeek().extraSavings)"></span></span>/- till the offer time ends</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    </div>
    <h2 class="content-inner-block-10 m-special-skin-text">New Car Offers in&nbsp;<span id="advantage-city">@Model.SelectedCity.CityName</span></h2>

    <!-- Advantage Car Sort Section Code Starts Here -->
    <div id="btnSortFilter" class="border-solid-top border-solid-bottom sort-filter-div position-rel">
        <a id="btnFilter" class="width50"><span class="deals-car-sprite filter-icon"></span>Filter</a>
        <a id="btnSort" class="width50"><span class="deals-car-sprite sort-icon"></span>Sort</a>
    </div>
    <!-- Advantage Car Sort Section Code Ends Here -->

    <section class="container content-inner-block-10 margin-bottom10 position-rel">

        <div class="aged-error-message aged-no-car-msg text-center font14 padding-top10 padding-bottom10 text-black" id="divChangeFilter">
            <div class="clear"></div>
            <!-- ko if : totalCount==0 -->
            No cars found. <a href="javascript:void(0)" class="change-filter-link">Change filters</a>.
            <!-- /ko -->
        </div>

        <div class="" id="dataDiv">
            <!-- Listing Content Start-->
            <div id="cw-loading-box" class="position-rel">
                <div class="stock-list" id="listingDetails">
                    <ul id="listingsData" data-bind="foreach:stocks">

                        <li data-bind="attr:{'data-make-name': $data.make.makeName ,'data-model-id': $data.model.modelId ,'data-model-name': $data.model.modelName ,'data-version-id': $data.version.id ,'data-model-maskingname': $data.model.maskingName}" class="aged-car-listing content-box-shadow margin-top10 margin-bottom10">
                            <a target="_blank" data-bind="attr: {'href':  '/m/' + Common.utils.formatSpecial($data.make.makeName) + '-cars/' + $data.model.maskingName + '/advantage/?src=m01&cityid=' + $data.city.cityId + '&versionid=' + $data.version.id}" class="normal block" onclick="Common.utils.trackAction('CWInteractive', 'deals_mobile', ' dealsaccess_mobile', 'landingPage_card')">
                                <div class="contentWrapper" data-role="click-tracking" data-event="CWInteractive" data-action="dealsaccess_mobile" data-cat="deals_mobile" data-label="landingPage_card">
                                    <div data-bind="if:$data.offers" class="position-abt pos-left0 pos-top0">
                                        <div class="offers-title text-white font11 text-uppercase">
                                            <span class="offers-top-shadow"></span>
                                            <span class="offers-text">Offer</span>
                                            <span class="offers-right-ribbon">
                                                <span class="ribbon top"></span>
                                                <span class="ribbon bottom"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="imageWrapper swiper-imgLoader">
                                        <img width="296" height="166" class="lazy" data-bind="attr:{src:carImageDetails.hostUrl + '310x174' + carImageDetails.originalImgPath}" alt="" title="" src="">
                                    </div>
                                    <div class="carDescWrapper listCarDescWrapper">
                                        <div class="carTitle margin-top10 text-link">
                                            <h3 class="font16" data-bind="text: make.makeName + ' ' + Common.utils.filterModelName(model.modelName) "></h3>
                                            <h3 class="font16" data-bind="text: version.name"></h3>
                                        </div>
                                        <div class="small-desc margin-top5 font12 text-light-grey">
                                            <span data-bind="text:specificationsOverview"></span>
                                        </div>
                                        <div data-bind="if: $data.offers &&  $data.savings <= 0 && $data.offerValue <= 0" class="margin-top5 margin-bottom5">
                                            <span class="text-green">Offer available</span>
                                        </div>
                                        <div data-bind="if: $data.offerValue > 0 &&  $data.savings <= 0" class="margin-top5 margin-bottom5">
                                            <span class='text-green'>Offers worth </span>
                                            <span class="text-green">₹ </span>
                                            <span class='text-green' data-bind="text: Common.utils.formatNumeric(offerValue)"></span>
                                        </div>
                                        <div data-bind="if: $data.savings > 0" class="margin-top5 margin-bottom5">
                                            <div class="striked-amount font11 text-black">
                                                <span class="striked-line"></span><span class="text-grey">₹ </span><span data-bind="text: Common.utils.formatNumeric(OnRoadPrice)"></span>
                                            </div>
                                            <span class="text-green margin-left10">(</span><span class="text-green">₹ </span><span data-bind="text: Common.utils.formatNumeric(savings) +' '+ 'off'" class="text-green"></span><span class="text-green">)</span>
                                        </div>
                                        <div class="font14 text-black">
                                            <span class="valign-middle">₹ </span><span class="text-bold  font16 inline-block valign-middle" data-bind="text: Common.utils.formatNumeric(OfferPrice)"></span>
                                            <span class="text-light-grey font12 inline-block valign-middle padding-left10" data-bind="text:'On-Road Price'+ ' ' +  city.cityName"></span>
                                        </div>
                                        <div data-bind="if: $data.offerValue > 0 && $data.savings > 0" class="margin-top5">
                                            <span class='text-green'>Extra offers worth</span>
                                            <span class="text-green">₹ </span>
                                            <span class='text-green' data-bind="text: Common.utils.formatNumeric(offerValue)"></span>
                                        </div>


                                    </div>
                                </div>
                                <div class="clear"></div>
                            </a>
                            <div class="clear"></div>
                            <div class="padding-left15 padding-right15 padding-bottom15 padding-top5">
                                <p data-role="click-tracking" data-event="CWInteractive" data-action="+versions_clicked" data-cat="deals_mobile">
                                    <!-- ko if : versionCount > 1 -->
                                    <span class="version-text text-link version-link">
                                        <span>+</span>
                                        <span data-bind="text: (versionCount - 1)"></span>
                                        <!-- ko if : versionCount > 2 -->
                                        <span> versions</span>
                                        <!-- /ko -->
                                        <!-- ko if : versionCount == 2 -->
                                                <span class="version-text"> version</span>
                                        <!-- /ko -->
                                    </span>
                                    <span class="text-black"> available</span>
                                    <!-- /ko -->
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="noCarsFoundContainer" class="hide">

                <div class="content-inner-block-10 bg-white content-inner-block-10 border-solid">
                    <p class="margin-bottom5 font20">To find more cars...</p>
                    <p class="font16">Try broadening your search criteria</p>
                    <span class="us-sprite noResult-icon"></span>
                </div>
            </div>
        </div>
        <div class="text-center padding-top15 margin-auto block advantage-pagination">
            <ul id="pager" class="pagination" data-bind="foreach:pages">
                <li data-bind="attr:{class:className, 'data-pageno':no}"><a href="javascript:void(0);"><span data-bind="text:fieldText"></span></a></li>
            </ul>
        </div>
        <div class="backtotop-link text-center padding-top10 padding-bottom10">
            <a href="javascript:void(0);">Back to top</a>
        </div>        
    </section>

    <!-- sort div code starts here -->
    <div id="sort-div" class="hide">
        <div id="dataDiv">
            <div id="btnSortBack" class="top-corner">
                <span class="cwmsprite back-long-arrow-left-white leftfloat position-rel pos-top15"></span>
                <span class="margin-left10 leftfloat">Sort by</span>
            </div>
            <div class="sort-list">
                <ul id="sortFilter">
                    <li class="cur-pointer" data-value="0" data-sc="2" data-so="1" class="active">Relevance</li>
                    <li class="cur-pointer" data-value="1" data-sc="1" data-so="0">Final Price - Low to High</li>
                    <li class="cur-pointer" data-value="2" data-sc="1" data-so="1">Final Price - High to Low</li>
                    <li class="cur-pointer" data-value="3" data-sc="0" data-so="1">Savings % - Highest to Lowest</li>
                    <li class="cur-pointer" data-value="4" data-sc="0" data-so="0">Savings % - Lowest to Highest</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- filter div starts here -->
    <div id="filter-div" class="hide">
        <div class="top-corner">
            <div id="btnFilterBack">
                <span class="cwmsprite back-long-arrow-left-white leftfloat position-rel pos-top15"></span>
                <span class="margin-left10 leftfloat">Filter</span>
            </div>
            <span class="rightfloat" id="resetAllFilters" data-role="click-tracking" data-event="CWInteractive" data-action="landingpage_filter_applied" data-cat="deals_mobile" data-label="reset-filters">Reset</span>
        </div>
        <div class="content-inner-block-10 filter-alert-points">
            <ul>
                <!-- City section starts here -->
                <li>
                    <h3 class="text-black">City</h3>
                    <div class="cust-dropdown-wrap form-control-box">
                        <select name="advDrpCity" id="advDrpCity" class="form-control ">
                            @foreach (var city in @Model.Cities)
                            {
                                <option value="@city.CityId">@city.CityName</option>
                            }

                        </select>
                    </div>
                </li>

                <!-- Budget starts here -->
                <li>
                   <h3 class="text-black">Budget</h3>
                    <div class="used-budget-box margin-top10">
                        <div id="minMaxContainer">
                            <span class="leftfloat" id="budgetBtn">Choose your budget</span>
                            <span id="upDownArrow" class="rightfloat text-grey fa fa-angle-down"></span>
                            <div class="clear"></div>
                        </div>
                        <div id="budgetListContainer" class="hide margin-bottom50">
                            <div id="userBudgetInput">

                                <input type="text" class="priceBox" id="minInput" placeholder="Min" maxlength="4">
                                <input type="text" class="priceBox" id="maxInput" placeholder="Max" maxlength="4">
                                <div class="cw-blackbg-tooltip cw-blackbg-tooltip text-center hide">Max budget should be greater than Min budget.</div>
                            </div>
                            <div class="clear"></div>
                            <ul id="minPriceList" class="text-left">
                                <li data-min-price="Any">Any</li>
                                <li data-min-price="1">1 Lakh</li>
                                <li data-min-price="3">3 Lakh</li>
                                <li data-min-price="4">4 Lakh</li>
                                <li data-min-price="6">6 Lakh</li>
                                <li data-min-price="8">8 Lakh</li>
                                <li data-min-price="12">12 Lakh</li>
                                <li data-min-price="20">20 Lakh</li>
                            </ul>
                            <ul id="maxPriceList" class="text-right hide">
                                <li data-max-price="12">12 Lakh</li>
                                <li data-max-price="15">15 Lakh</li>
                                <li data-max-price="20">20 Lakh</li>
                                <li data-max-price="30">30 Lakh</li>
                                <li data-max-price="40">40 Lakh</li>
                                <li data-max-price="50">50 Lakh</li>
                                <li data-max-price="60">60 Lakh</li>
                                <li data-max-price="Any">Any</li>
                            </ul>
                        </div>
                    </div>




                </li>
             
                <!-- Manufacturer starts here -->
                <li>
                    <h3 class="text-black">Manufacturer</h3>
                    <div id="manufacturerSelection" class="form-control padding-right40 position-rel">
                        <span>Select Manufacturers</span>
                        <span class="position-abt pos-top5 pos-right10 font20"><span class="fa fa-angle-right"></span></span>
                    </div>
                    <div class="selected-car margin-top5">
                        <ul id="carLabel"></ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <!-- Fuel code starts here -->
                <li>
                    <h3 class="margin-bottom10 text-black">Fuel</h3>
                    <div class="more-filters-list content-inner-block-10 content-box-shadow">
                        <ul id="fuel">
                            <li class="fuelLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons petrol-gray filterText" data-filterid="1"></span>
                                    <span>Petrol</span>
                                </a>
                            </li>
                            <li class="fuelLi">
                                <a class="parentCheck moreFilterIcons" href="javascript:void(0)">
                                    <span class="more-filter-icons diesel-gray filterText" data-filterid="2"></span>
                                    <span>Diesel</span>
                                </a>
                            </li>
                            <li class="fuelLi">
                                <a class="parentCheck moreFilterIcons" href="javascript:void(0)">
                                    <span class="more-filter-icons cng-gray filterText" data-filterid="3"></span>
                                    <span>CNG</span>
                                </a>
                            </li>
                            <li class="fuelLi">
                                <a class="parentCheck moreFilterIcons" href="javascript:void(0)">
                                    <span class="more-filter-icons lpg-gray filterText" data-filterid="4"></span>
                                    <span>LPG</span>
                                </a>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul id="more-filters-ul" class="more-filter-box">
                <!-- body type code starts here -->
                <li>
                    <h3 class="margin-bottom10 text-black">Body Type</h3>
                    <div class="more-filters-list content-inner-block-10 content-box-shadow">
                        <ul id="bodyType">
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons sedan-gray filterText" data-filterid="1"></span>
                                    <span>Sedan</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons coupe-gray filterText" data-filterid="2"></span>
                                    <span>Coupe</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons hatchback-gray filterText" data-filterid="3"></span>
                                    <span>Hatchback</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons  mini-van-gray filterText" data-filterid="4"></span>
                                    <span>Minivan/Van</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons convertible-gray filterText" data-filterid="5"></span>
                                    <span>Convertible</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons muv-gray filterText" data-filterid="6"></span>
                                    <span>SUV/MUV</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons truck-gray filterText" data-filterid="7"></span>
                                    <span>Truck</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons wagon-gray filterText" data-filterid="8"></span>
                                    <span>Station Wagon</span>
                                </a>
                            </li>
                            <li class="bodytypeLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons muv-gray filterText" data-filterid="9"></span>
                                    <span>MUV</span>
                                </a>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </li>
                <!-- transmission code starts here -->
                <li>
                    <h3 class="margin-bottom10 text-black">Transmission</h3>
                    <div class="more-filters-list content-inner-block-10 content-box-shadow">
                        <ul id="transmission">
                            <li class="transmissionLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons manual-gray filterText" data-filterid="2"></span>
                                    <span>Manual</span>
                                </a>
                            </li>
                            <li class="transmissionLi">
                                <a class="parentCheck moreFilterIcons">
                                    <span class="more-filter-icons automatic-gray filterText" data-filterid="1"></span>
                                    <span>Automatic</span>
                                </a>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </li>

            </ul>
            <p id="btnMoreFilter" class="font14 text-link text-center margin-bottom40 margin-top10 more-filter-btn">More Filters</p>
        </div>

        <div id="manfListDiv" class="version-selection hide popup_layer">
            <div class="top-corner">
                <span id="btnMakeBack" class="cwmsprite back-long-arrow-left-white leftfloat position-rel pos-top15"></span>
                <span class="margin-left10 leftfloat">Select Make</span>
            </div>
            <div id="divMakesList">
                <ul class="popup_content" id="makeListing" data-bind="foreach:makes">
                    <li class="us-sprite makeLi cur-pointer">
                        <div class="parentCheck">
                            <span class="filterText" data-bind="attr:{'data-filterid': makeId}, text: makeName"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- apply filter btn fixed -->
    <div id="btnApplyFilters" class="apply-filter-btn hide">
        <a class="btn btn-orange btn-full-width " href="javascript:void(0)" data-role="click-tracking" data-event="CWInteractive" data-action="landingpage_filter_applied" data-cat="deals_mobile" data-label="filter_applied">Apply Filters</a>
    </div>

    <!-- submit filter btn fixed -->
    <div id="btnMakeSubmit" class="apply-filter-btn bg-white hide">
        <a class="btn btn-orange btn-full-width text-uppercase" href="javascript:void(0)">Submit</a>
    </div>

    <div class="extraDivHt"></div>
    @section Scripts
{
        <script  type="text/javascript"  src="/static/js/advantagesearch.js" ></script>
        <script type="text/javascript" src="/static/m/js/useddefault.js"></script>
        <script type="text/javascript">
            Common.showCityPopup = false;
            $(document).ready(function () {
                AdvantageSearch.env = 1;
                AdvantageSearch.isAdvantageCity = "@Model.IsAdvantageCity" === "@true";
                AdvantageSearch.cityId = "@Model.SelectedCity.CityId";
                AdvantageSearch.filters.manufacturers = '@Model.Filters.Manufacturers';
                AdvantageSearch.filters.fuels ='@Model.Filters.Fuels';
                AdvantageSearch.filters.transmissions ='@Model.Filters.Transmissions';
                AdvantageSearch.filters.bodyTypes ='@Model.Filters.BodyTypes';
                AdvantageSearch.sort.sc ='@Model.Filters.SC';
                AdvantageSearch.sort.so = '@Model.Filters.SO';
                AdvantageSearch.pageSize = @System.Configuration.ConfigurationManager.AppSettings["AdvantagePageSizeDesktop"];
                AdvantageSearch.offerOfWeek.offers = '@System.Configuration.ConfigurationManager.AppSettings["OfferOfWeek"]';
                AdvantageSearch.budget.budgetRange = '@Model.Filters.BudgetRange';
                AdvantageSearch.pageLoad.listingLoad();
            });
        </script>
    }


<div class="contact-det-popup hide" id="advantage-version-popup">
    <!-- global city pop up code starts here -->
    <div class="globalcity-popup-data text-center">
        <div class="globalcity-close-btn advantage-close-btn position-abt pos-top10 pos-right10 cwmsprite cross-lg-lgt-grey cur-pointer"></div>
        <div class="clear"></div>
        <div id="detailPopup" class="">
            <div class="version-list-top-popup bg-white padding-left15 padding-right15 padding-top15 padding-bottom20 text-left">
                <h3 class="font16 text-black padding-top10">Best Deal</h3>
                <a id="bestDeal"></a>
                <div class="clear"></div>
            </div>

            <div id="filteredVersions" class="advantage-right-popup version-list-bottom-popup">
                <div class="bg-light-grey content-inner-block-10">
                    <h3 class="font16 text-black" data-bind="text: 'Available ' + makeName() + ' ' + Common.utils.filterModelName(modelName()) + ' Variants in ' + $('#advDrpCity option:selected').text()"></h3>
                </div>
                <ul data-bind="foreach:filteredVersions">
                    <li class="version-and-price border-solid-bottom content-inner-block-20">
                        <div class="version-section version-content">
                            <a target="_blank" data-bind="attr: {href:  '/m/' + Common.utils.formatSpecial(make.makeName) + '-cars/' + $root.maskingName() + '/advantage/?src=d01&cityid=' + AdvantageSearch.getSelectedCityId() + '&versionid=' + version.id}"
                               data-role="click-tracking" data-event="CWInteractive" data-action="dealsaccess_mobile" data-cat="deals_mobile" data-label="landingPage_versionslist">
                                <h3 class="text-link font14" data-bind="text: version.name"></h3>
                            </a>
                            <span class="margin-top5 block" data-bind="text:specificationsOverview"></span>
                        </div><div class="roadprice-section roadprice-content">
                            <div class="font13 margin-bottom5">
                                <!-- ko if : savings > 0 -->
                                <span class="striked-amount position-rel text-black">
                                    <span class="striked-line"></span>
                                    ₹ <span data-bind="text: Common.utils.formatNumeric(OnRoadPrice)"></span>
                                </span>
                                <span class="text-green margin-left5">₹ <span data-bind="text: Common.utils.formatNumeric(savings)"></span> off</span>
                                <!-- /ko -->
                                <!-- ko if : savings == 0 -->
                                <span class="position-rel text-green">
                                    Offer Available
                                </span>
                                <!-- /ko -->
                            </div>

                            <div class="font14 margin-top5 text-black">
                                ₹ <span class="text-bold" data-bind="text: Common.utils.formatNumeric(OfferPrice)"></span>
                                <span class="text-grey font13" data-bind="text: $('#advDrpCity option:selected').text()"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="clear"></div>

        </div>
    </div>
</div>
