@model Bikewale.Models.NewsDetailPageVM
@using Bikewale.Utility
@{
    Layout = "~/Views/Shared/_Layout_Mobile_AMP_PWA.cshtml";
}
@if(Model != null && Model.ArticleDetails != null)
{
    if (!String.IsNullOrEmpty(Model.ArticleDetails.Content))
    {
        <article class="article">
            <div class="article-head">
                <h1 class="margin-bottom10">@Model.ArticleDetails.Title</h1>
                <ul class="article-stats-list">
                    <li>
                        <span class="bwmsprite calender-grey-sm-icon"></span>
                        <span class="article-stats-content">@Bikewale.Utility.FormatDate.GetFormatDate(Model.ArticleDetails.DisplayDate.ToString(), "dd MMMM yyyy, hh:mm tt")</span>
                    </li>
                    <li>
                        @if (string.IsNullOrEmpty(Model.ArticleDetails.AuthorMaskingName))
                        {
                            <span class="bwmsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">@Model.ArticleDetails.AuthorName</span>
                        }
                        else
                        {
                            <a href="@string.Format("{0}/m/authors/{1}", BWConfiguration.Instance.BwHostUrl, Model.ArticleDetails.AuthorMaskingName)" class="hover-no-underline">
                                <span class="bwmsprite author-grey-sm-icon"></span>
                                <span class="article-stats-content"><span class="text-link">@Model.ArticleDetails.AuthorName</span></span>
                            </a>
                        }

                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="article-body">
                <div class="article-content">
                    @if (!String.IsNullOrEmpty(Model.ArticleDetails.OriginalImgUrl))
                    {
                        <amp-img alt='@Model.ArticleDetails.Title' title='@Model.ArticleDetails.Title' src='@Model.PageMetaTags.ShareImage' width="640" height="348" layout="responsive"></amp-img>
                    }
                    @Html.Raw(Model.ArticleDetails.Content)
                </div>
                @if (Model.Model != null && Convert.ToUInt32(Model.Model.ModelId) > 0) { Html.RenderAction("Index", "BikeInfo", new { modelId = Convert.ToUInt32(Model.Model.ModelId) }); }
                <p class="share-story-title margin-bottom10">Share this story</p>
                <div class="margin-bottom10">
                    <amp-social-share type="whatsapp" width="38" height="24" data-share-endpoint="whatsapp://send" data-param-text="@Model.ArticleDetails.Title - Bikewale News CANONICAL_URL"></amp-social-share>
                    <amp-social-share type="facebook" width="38" height="24" data-param-text="@Model.ArticleDetails.Title - Bikewale News" data-param-app_id="1208823352520180"></amp-social-share>
                    <amp-social-share type="twitter" width="38" height="24" data-param-text="@Model.ArticleDetails.Title - Bikewale News"></amp-social-share>
                    <amp-social-share type="gplus" width="38" height="24" data-param-text="@Model.ArticleDetails.Title - Bikewale News"></amp-social-share>
                </div>
                <ul class="next-prev-article-list">
                    <li>
                        @if (!String.IsNullOrEmpty(Model.PageMetaTags.PreviousPageUrl))
                        {
                            <a href="@Model.PageMetaTags.PreviousPageUrl" target="_top" title="@Model.ArticleDetails.PrevArticle.Title">
                                <span class="bwmsprite prev-arrow"></span>
                                <div class="article-item-box vertical-middle">
                                    <span class="next-prev-arrow-label">Previous</span><br>
                                    <span class="next-prev-article-title">@Model.ArticleDetails.PrevArticle.Title</span>
                                </div>
                            </a>
                        }
                    </li>
                    <li>
                        @if (!String.IsNullOrEmpty(Model.ArticleDetails.NextArticle.Title))
                        {
                            <a href="@Model.PageMetaTags.NextPageUrl" target="_top" title="@Model.ArticleDetails.NextArticle.Title">
                                <div class="article-item-box vertical-middle">
                                    <span class="next-prev-arrow-label">Next</span>
                                    <span class="next-prev-article-title">@Model.ArticleDetails.NextArticle.Title</span>
                                </div>
                                <span class="bwmsprite next-arrow"></span>
                            </a>
                        }
                    </li>
                </ul>
                <div class="clear"></div>

            </div>
        </article>

    }
    else
    {
        Model.PageMetaTags.Title = "Oops! We failed to serve the content on this page";
        <article class="article no-content">
            <div class="not-found">
                <h3>Oops! We failed to serve the content on this page.</h3>
                <div class="margin-top15">
                    Possible causes for this inconvenience are:
                    <ul class="margin-left20 margin-top5">
                        <li>The requested page might have been removed from the server.</li>
                        <li>The URL might be mis-typed by you.</li>
                        <li>Some maintenance process is going on the server.</li>
                    </ul>
                </div>
                <p class="margin-top15">Please visit <a href="@Bikewale.Utility.BWConfiguration.Instance.BwHostUrl/m/news/">www.bikewale.com</a> to continue reading news of your favourite bike.</p>
            </div>
        </article>
    }
}


