@model Bikewale.Models.NewsDetailPageVM
@using Bikewale.Utility
@{
	Layout = "~/Views/Shared/_Layout_Mobile_AMP.cshtml";
	Model.Amp_Page_CSS = "header{height:24px}.article,.article-head{box-shadow:2px 2px 2px #dcdcdc}blockquote,body,div,fieldset,h1,h2,h3,h4,h5,h6,label,legend,li,ol,p,ul{margin:0;padding:0}ul{list-style:none}body{font-family:'Open Sans',Serif;font-size:13px;color:#4d5057;background:#f5f5f5}h1{font-size:18px;font-weight:700;color:#2a2a2a}a{color:#0288d1;text-decoration:none}.block{display:block}.article-stats-content,.vertical-middle{display:inline-block;vertical-align:middle}.margin-bottom10{margin-bottom:10px}.article{width:100%;margin:0 auto;background:#fff}.article-head{padding:15px 20px}.article-stats-list li{width:50%;float:left}.article-stats-content{font-size:12px;color:#82888b;width:90%;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.article-body{padding:20px 20px 15px;margin-bottom:10px}.article-content p{font-size:14px;line-height:1.5;text-align:justify;margin-top:10px;margin-bottom:10px}.share-story-title{font-size:14px;color:#82888b}.social-wrapper{margin-top:10px;margin-bottom:15px;overflow:hidden}.social-wrapper li{width:38px;height:24px;float:left;margin-right:10px;text-align:center}.social-wrapper a{display:block;height:24px;border-radius:2px}.whatsapp-container{background:linear-gradient(to bottom,#49c633,#40ad2c)}.fb-container{background:linear-gradient(to bottom,#5171ba,#3b599c)}.tweet-container{background:linear-gradient(to bottom,#28c0ff,#1babe7)}.gplus-container{background:linear-gradient(to bottom,#ff533f,#dd2a16)}.next-prev-article-list{border-top:1px solid #e2e2e2;padding-top:10px}.next-prev-article-list li{width:46%;float:left;padding-left:10px}.next-prev-article-list li:first-child{padding-left:0;padding-right:10px;border-right:1px solid #e2e2e2}.next-prev-article-list a{color:#4d5057;display:block}.article-item-box{width:85%}.next-prev-arrow-label{font-size:12px;color:#a2a2a2}.next-prev-article-title{display:block;font-weight:700;font-size:14px;text-decoration:none;height:40px;overflow:hidden}.font11{font-size:11px}.author-grey-sm-icon,.calender-grey-sm-icon{width:10px;height:11px;margin-right:2px;vertical-align:middle}.calender-grey-sm-icon{background-position:-48px -486px}.author-grey-sm-icon{background-position:-66px -486px}.next-arrow,.prev-arrow{width:14px;height:18px;vertical-align:middle}.prev-arrow{background-position:-159px -219px}.next-arrow{background-position:-185px -219px}.social-icons-sprite{background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/social-icons-sprite.png) no-repeat;display:inline-block}.fb-icon,.gplus-icon,.tweet-icon,.whatsapp-icon{height:14px;position:relative;top:4px}.whatsapp-icon{width:12px;background-position:0 0}.fb-icon{width:8px;background-position:-22px 0}.tweet-icon{width:16px;background-position:-39px 0}.gplus-icon{width:14px;background-position:-65px 0}button::-webkit-focus-inner{border:0;padding:0;outline:0}button:focus{outline:0}amp-social-share[type=whatsapp]{background:#34af23 url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/whatsapp-white.png) no-repeat}.article.no-content{padding:10px;min-height:150px}.not-found{width:90%}.not-found ul{list-style-type:disc}.margin-top15{margin-top:15px}.margin-top5{margin-top:5px}.margin-left20{margin-left:20px}.margin-top10{margin-top:10px}.model-slug-content{padding:10px 5px 0;border:1px solid #a0d9e1;margin-bottom:10px;background:#fff}.model-slug-content .item-image-content{width:68px;height:38px;margin-right:5px}.item-image-content img{width:100%}.model-slug-content .bike-details-block{font-size:14px;width:70%}.item-more-details-list li{float:left;margin:0 3px 10px}.item-more-details-list a{display:block;padding:0 7px 2px;color:#787878;background:rgba(245,245,245,.9);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px}.item-more-details-list a:hover{text-decoration:none}.item-more-details-list .icon-label{font-size:12px;display:inline-block;vertical-align:middle;line-height:12px}.generic-sprite{background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/generic-sprite.png) no-repeat;display:inline-block}.news-sm,.photos-sm,.reviews-sm,.specs-sm,.videos-sm{width:14px;height:14px;vertical-align:middle;position:relative;top:1px;opacity:.6;-moz-opacity:.6;-khtml-opacity:.6}.reviews-sm{background-position:-84px -3px}.news-sm{background-position:-102px -3px}.videos-sm{background-position:-121px -3px}.specs-sm{background-position:-140px -3px}.photos-sm{width:16px;background-position:0 -486px}.inline-block{display:inline-block;vertical-align:middle}.text-truncate{width:100%;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.text-bold{font-weight:700}.block{display:block}.text-default{color:#4d5057}.font14{font-size:14px}.font12{font-size:12px}.inr-xsm-icon{width:9px;height:12px;background-position:-38px -36px}.text-grey{color:#787878}.key-specs-list li:last-child:before{content:none}.bg-white { background: #FFF; }.padding-top10 { padding-top: 10px; }.padding-right10 { padding-right: 10px; }.padding-bottom10 { padding-bottom: 10px; }.padding-left10 { padding-left: 10px; }.padding-top15 { padding-top: 15px; }.padding-right15 { padding-right: 15px; }.padding-bottom15 { padding-bottom: 15px; }.padding-left15 { padding-left: 15px; }.padding-top20 { padding-top: 20px; }.padding-right20 { padding-right: 20px; }.padding-bottom20 { padding-bottom: 20px; }.padding-left20 { padding-left: 20px; }.swiper-btn-block .btn-card { font-size: 14px; padding: 5px;overflow: hidden;text-overflow: ellipsis;}.text-truncate {width:100%;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}.carousel-heading-content {margin-bottom: 10px;padding-right: 15px;padding-left: 20px;}.swiper-heading-left-grid {width: 77%;margin-right: -4px;}.swiper-heading-right-grid {width: 23%;}.content-details-wrapper.carousel-heading-content h2{margin-bottom: 0;}.text-right { text-align: right; }.text-center { text-align: center; }.swiper-small .swiper-card { min-height: 115px;margin-left: 5px;width: 200px; position: relative; vertical-align: top; }.swiper-small .swiper-details-block { padding-bottom: 15px;}.text-light-grey {color: #82888b;}.btn { display: inline-block; padding: 8px 42px; font-size: 16px; line-height: 1.42857143; text-align: center; white-space: nowrap; border: 1px solid transparent; border-radius: 2px; outline: none; text-decoration: none; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; -webkit-appearance:none;}.btn-orange { background: #ef3030; color: #fff; }.btn-orange:hover { background: #f44336; text-decoration: none; }.btn-orange:focus { background: #d42c2c; }.btn-white { background:#fff; color:#e42029; border:1px solid #e42029; }.btn-white.active { background: #f44336; color: #fff; text-decoration: none; border:1px solid #f44336; }.btn-teal { background: #41b4c4; color: #fff; border: 1px solid #41b4c4; }.btn-teal:hover { background: #58bdcb; border: 1px solid #58bdcb; text-decoration: none; }.btn-inv-teal, .view-all-target-btn { background: transparent; color: #3799a7; border: 1px solid #3799a7; }.view-all-target-btn { padding: 5px 6px; font-size: 14px;}.btn-inv-teal.active { background: #3799a7; color: #fff; }.btn:hover { text-decoration: none } .target-link { color:#2a2a2a; font-weight: 600; display: block; margin-bottom: 7px;}.target-link:hover { text-decoration:underline; }.swiper-card { margin:3px 0 5px 5px; width: 200px; min-height: 174px; background: #fff; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -ms-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px;}.swiper-card a:hover { text-decoration: none;}.swiper-image-preview { height: 95px; padding: 5px 5px 0; position: relative; background: #fff; }.swiper-image-preview img { height: 90px;}.swiper-details-block { padding: 5px 15px 0;}.swiper-btn-block { padding: 10px 15px;}.text-unbold {font-weight: normal;}.border-solid-top {border-top: 1px solid #e2e2e2; }.text-black {color:#2a2a2a;}.brand-logo-image { width: 100%; height: 50px; line-height: 0; display: table; text-align: center; }.brand-type { display: table-cell; vertical-align: middle; }/* brands */.brandlogosprite { background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?13Feb20181518498503688); background-repeat: no-repeat; display: inline-block; }.brand-2,.brand-1,.brand-40,.brand-3,.brand-4,.brand-11,.brand-20,.brand-5,.brand-39,.brand-6,.brand-7,.brand-8,.brand-34,.brand-17,.brand-9,.brand-19,.brand-10,.brand-12,.brand-22,.brand-15,.brand-16,.brand-13,.brand-14,.brand-41,.brand-42,.brand-81,.brand-71,.brand-21,.brand-38,.brand-23,.brand-72, .brand-73,.brand-74,.brand-75,.brand-76,.brand-77 { height: 30px; }.brand-2 { width: 52px; background-position: 0 0; }.brand-7 { width: 34px; background-position: -58px 0; }.brand-1 { width: 53px; background-position: -97px 0; }.brand-8 { width: 60px; background-position: -156px 0; }.brand-12 { width: 40px; background-position: -222px 0; }.brand-40 { width: 75px; background-position: -268px 0; }.brand-34 { width: 73px; background-position: -349px 0; }.brand-22 { width: 73px; background-position: -428px 0; }.brand-3 { width: 26px; background-position: -507px 0; }.brand-17 { width: 52px; background-position: -539px 0; }.brand-15 { width: 71px; background-position: -597px 0; }.brand-4 { width: 26px; background-position: -674px 0; }.brand-9 { width: 59px; background-position: -706px 0; }.brand-16 { width: 70px; background-position: -771px 0; }.brand-5 { width: 35px; background-position: -847px 0; }.brand-19 { width: 73px; background-position: -889px 0; }.brand-13 { width: 73px; background-position: -968px 0; }.brand-6 { width: 38px; background-position: -1047px 0; }.brand-10 { width: 61px; background-position: -1091px 0; }.brand-14 { width: 76px; background-position: -1159px 0; }.brand-39 { width: 53px; background-position: -1242px 0; }.brand-20 { width: 49px; background-position: -1300px 0; }.brand-11 { width: 74px; background-position: -1354px 0; }.brand-41 { width: 40px; background-position: -1432px 0; }.brand-42 { width: 38px; background-position: -1481px 0; }.brand-81 { width: 38px; background-position: -1529px 0; }.brand-71 { width: 23px; background-position: -1577px 0; }.brand-21 { width: 57px; background-position: -1737px 0; }.brand-38 { width: 25px; background-position: -1804px 0; }.brand-23 { width: 70px; background-position: -1839px 0; }.brand-72 { width: 31px; background-position: -1919px 0; }.brand-73 {width: 30px;background-position: -1958px 0;}.brand-74 {width: 66px;background-position: -2000px 0;}.brand-75 {width: 70px;background-position: -2076px 0;}.brand-76 {width: 70px;background-position: -2156px 0;}.brand-77 {width: 70px;background-position: -2236px 0;}.container { width: 100%; margin: 0 auto; clear:both; }.content-box-shadow { background: #fff; -moz-box-shadow: 2px 2px 2px #dcdcdc; -webkit-box-shadow: 2px 2px 2px #dcdcdc; -o-box-shadow: 2px 2px 2px #dcdcdc; -ms-box-shadow: 2px 2px 2px #dcdcdc; box-shadow: 2px 2px 2px #dcdcdc; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }.card-bottom-margin, .section-bottom-margin { margin-bottom: 10px; }.bg-light-grey{background:#f5f5f5;}.box-shadow { -moz-box-shadow: 2px 2px 2px #dcdcdc; -webkit-box-shadow: 2px 2px 2px #dcdcdc; -o-box-shadow: 2px 2px 2px #dcdcdc; -ms-box-shadow: 2px 2px 2px #dcdcdc; box-shadow: 2px 2px 2px #dcdcdc; }.btn-full-width {display: block;width: 100%;}h2 {font-size: 16px;font-weight: 600;color: #2a2a2a;}";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.AdId = "1395986297721";
    Model.AdTags.AdPath = "/1017752/Bikewale_Reviews";
    if (Model != null && Model.ArticleDetails != null) { Model.AdTags.TargetedTags = String.Join(",", Model.ArticleDetails.TagsList); };
}
@if (Model != null && Model.ArticleDetails != null)
{
    if (!String.IsNullOrEmpty(Model.ArticleDetails.Content))
    {
        <article class="article">
            <div class="article-head">
                <h1 class="margin-bottom10">@Model.ArticleDetails.Title</h1>
                <ul class="article-stats-list">
                    <li>
                        <span class="bwmsprite calender-grey-sm-icon"></span>
                        <span class="article-stats-content">@Bikewale.Utility.FormatDate.GetFormatDate(Model.ArticleDetails.DisplayDate.ToString(), "dd MMMM yyyy, hh:mm tt")</span>
                    </li>
                    <li>
                        @if (string.IsNullOrEmpty(Model.ArticleDetails.AuthorMaskingName))
                        {
                            <span class="bwmsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">@Model.ArticleDetails.AuthorName</span>
                        }
                        else
                        {
                            <a href="@string.Format("{0}/m/authors/{1}", BWConfiguration.Instance.BwHostUrl, Model.ArticleDetails.AuthorMaskingName)" class="hover-no-underline">
                                <span class="bwmsprite author-grey-sm-icon"></span>
                                <span class="article-stats-content"><span class="text-link">@Model.ArticleDetails.AuthorName</span></span>
                            </a>
                        }

                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="article-body">
                <div class="article-content">
                    @if (!String.IsNullOrEmpty(Model.ArticleDetails.OriginalImgUrl))
                    {
                        <amp-img alt='@Model.ArticleDetails.Title' title='@Model.ArticleDetails.Title' src='@Model.PageMetaTags.ShareImage' width="640" height="348" layout="responsive"></amp-img>
                    }
                    @Html.Raw(Model.ArticleDetails.Content.ConvertToAmpContent())
                </div>
                @if (Model.Model != null && Convert.ToUInt32(Model.Model.ModelId) > 0) { Html.RenderAction("Index", "BikeInfo", new { modelId = Convert.ToUInt32(Model.Model.ModelId) }); }
                <p class="share-story-title margin-bottom10">Share this story</p>
                <div class="margin-bottom10">
                    <amp-social-share type="whatsapp" width="38" height="24" data-share-endpoint="whatsapp://send" data-param-text="@Model.ArticleDetails.Title - Bikewale News CANONICAL_URL"></amp-social-share>
                    <amp-social-share type="facebook" width="38" height="24" data-param-text="@Model.ArticleDetails.Title - Bikewale News" data-param-app_id="1208823352520180"></amp-social-share>
                    <amp-social-share type="twitter" width="38" height="24" data-param-text="@Model.ArticleDetails.Title - Bikewale News"></amp-social-share>
                    <amp-social-share type="gplus" width="38" height="24" data-param-text="@Model.ArticleDetails.Title - Bikewale News"></amp-social-share>
                </div>
                <ul class="next-prev-article-list">
                    <li>
                        @if (!String.IsNullOrEmpty(Model.PageMetaTags.PreviousPageUrl))
                        {
                            <a href="@Model.PageMetaTags.PreviousPageUrl" target="_top" title="@Model.ArticleDetails.PrevArticle.Title">
                                <span class="bwmsprite prev-arrow"></span>
                                <div class="article-item-box vertical-middle">
                                    <span class="next-prev-arrow-label">Previous</span><br>
                                    <span class="next-prev-article-title">@Model.ArticleDetails.PrevArticle.Title</span>
                                </div>
                            </a>
                        }
                    </li>
                    <li>
                        @if (!String.IsNullOrEmpty(Model.ArticleDetails.NextArticle.Title))
                        {
                            <a href="@Model.PageMetaTags.NextPageUrl" target="_top" title="@Model.ArticleDetails.NextArticle.Title">
                                <div class="article-item-box vertical-middle">
                                    <span class="next-prev-arrow-label">Next</span>
                                    <span class="next-prev-article-title">@Model.ArticleDetails.NextArticle.Title</span>
                                </div>
                                <span class="bwmsprite next-arrow"></span>
                            </a>
                        }
                    </li>
                </ul>
                <div class="clear"></div>

            </div>
        </article>
        if (Model.IsSeriesAvailable && Model.SeriesBikes != null && Model.SeriesBikes.Bikes != null)
        {
            <section>
                <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>@Model.SeriesBikes.WidgetHeading</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("{0}{1}", BWConfiguration.Instance.BwHostUrl, Model.SeriesBikes.WidgetHref)" title="@Model.SeriesBikes.WidgetLinkTitle" class="btn view-all-target-btn">@Model.SeriesBikes.WidgetLinkTitle</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/Views/BikeModels/_MostPopularBikes_Mobile_Amp.cshtml", Model.SeriesBikes)
                </div>
            </section>

        }
        else if (Model.MostPopularBikes != null && Model.MostPopularBikes.Bikes != null && Model.MostPopularBikes.Bikes.Count() > 0)
        {
            <section>
                <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>@Model.MostPopularBikes.WidgetHeading</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("{0}{1}",BWConfiguration.Instance.BwHostUrl, Model.MostPopularBikes.WidgetHref)" title="@Model.MostPopularBikes.WidgetLinkTitle" class="btn view-all-target-btn">@Model.MostPopularBikes.WidgetLinkTitle</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/Views/BikeModels/_MostPopularBikes_Mobile_Amp.cshtml", Model.MostPopularBikes)
                </div>
            </section>
        }

        if (Model.PopularScooterMakesWidget != null && Model.PopularScooterMakesWidget.Count() > 0)
        {
            <section>
                <div class="container content-box-shadow padding-top15 padding-bottom15 card-bottom-margin">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>Popular scooter brands</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            <a href="@string.Format("{0}/m/scooters/", BWConfiguration.Instance.BwHostUrl)" title="Scooters" class="btn view-all-target-btn">View all</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/views/m/shared/_OtherBrands_Amp.cshtml", Model.PopularScooterMakesWidget)
                </div>
            </section>
        }
        else if (Model.Model != null && Model.Model.ModelId > 0)
        {
            if (Model.PopularBodyStyle != null && Model.PopularBodyStyle.PopularBikes != null && Model.PopularBodyStyle.PopularBikes.Count() > 0)
            {
                <section>
                    <div class="container box-shadow bg-white section-bottom-margin padding-bottom20">
                        <div class="carousel-heading-content padding-top15">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2>@Model.PopularBodyStyle.WidgetHeading</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="@string.Format("{0}{1}", BWConfiguration.Instance.BwHostUrl, Model.PopularBodyStyle.WidgetHref)" title="@Model.PopularBodyStyle.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/Views/BestBikes/_PopularBodyStyleCarousel_Mobile_Amp.cshtml", Model.PopularBodyStyle)
                    </div>
                </section>
            }
        }
        else
        {
            if (Model.UpcomingBikes != null && Model.UpcomingBikes.UpcomingBikes != null && Model.UpcomingBikes.UpcomingBikes.Count() > 0)
            {
                <section>
                    <div class="container box-shadow bg-white section-bottom-margin padding-bottom20 padding-top15">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2>@Model.UpcomingBikes.WidgetHeading</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="@string.Format("{0}{1}",BWConfiguration.Instance.BwHostUrl, Model.UpcomingBikes.WidgetHref)" title="@Model.UpcomingBikes.WidgetLinkTitle" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Editorial_Mobile_Amp.cshtml", Model.UpcomingBikes)
                    </div>
                </section>
            }
        }

    }
    else
    {
        Model.PageMetaTags.Title = "Oops! We failed to serve the content on this page";
        <article class="article no-content">
            <div class="not-found">
                <h3>Oops! We failed to serve the content on this page.</h3>
                <div class="margin-top15">
                    Possible causes for this inconvenience are:
                    <ul class="margin-left20 margin-top5">
                        <li>The requested page might have been removed from the server.</li>
                        <li>The URL might be mis-typed by you.</li>
                        <li>Some maintenance process is going on the server.</li>
                    </ul>
                </div>
                <p class="margin-top15">Please visit <a href="@Bikewale.Utility.BWConfiguration.Instance.BwHostUrl/m/news/">www.bikewale.com</a> to continue reading news of your favourite bike.</p>
            </div>
        </article>
    }
}


