@model Bikewale.Models.BikeSeries.SeriesPageVM
@if (Model != null && Model.SeriesBase != null)
{
    <div id="seriesOverallTabsWrapper" class="overall-tabs">
        <div id="seriesOverallTabs" class="overall-specs-tabs-container">
            <div class="overall-specs-tabs-wrapper">
                @if (Model.SeriesDescription != null && !string.IsNullOrEmpty(Model.SeriesDescription.FullDescription))
                {
                    <span class="navtab" data-href="#modelAboutContent" data-lab="@string.Format("{0}_About", Model.SeriesBase.SeriesName)">About</span>
                }
                @if (Model.SeriesModels != null && Model.SeriesModels.NewBikes != null && Model.SeriesModels.NewBikes.Any())
                {
                    <span class="navtab" data-href="#bikeModeleList" data-lab="@string.Format("{0}_BikeModels", Model.SeriesBase.SeriesName)">Bike Models</span>
                }
                @if (Model.SeriesModels != null && Model.SeriesModels.UpcomingBikes != null && Model.SeriesModels.UpcomingBikes.Any())
                {
                    <span class="navtab" data-href="#modelUpcomingBikesContent" data-lab="@string.Format("{0}_UpcomingBikes", Model.SeriesBase.SeriesName)">Upcoming</span>
                }
                @if (Model.TopComparisons != null && Model.TopComparisons.CompareBikes != null && Model.TopComparisons.CompareBikes.Any())
                {
                    <span class="navtab" data-href="#popularComparison" data-lab="@string.Format("{0}_TopComparisons", Model.SeriesBase.SeriesName)">Top Comparisons</span>
                }
                @if (Model.News != null && Model.News.ArticlesList != null && Model.News.ArticlesList.Any())
                {
                    <span class="navtab" data-href="#modelNewsContent" data-lab="@string.Format("{0}_News", Model.SeriesBase.SeriesName)">News</span>
                }
              
                @if (Model.Videos != null && Model.Videos.VideosList != null && Model.Videos.VideosList.Any())
                {
                    <span class="navtab" data-href="#modelVideosContent" data-lab="@string.Format("{0}_Videos", Model.SeriesBase.SeriesName)">Videos</span>
                }
                @if (Model.ExpertReviews != null && Model.ExpertReviews.ArticlesList != null && Model.ExpertReviews.ArticlesList.Any())
                {
                    <span class="navtab" data-href="#modelReviewsContent" data-lab="@string.Format("{0}_Reviews", Model.SeriesBase.SeriesName)">Reviews</span>
                }
                @if (Model.objUsedBikes != null && Model.objUsedBikes.RecentUsedBikesList != null && Model.objUsedBikes.RecentUsedBikesList.Any())
                {
                    <span class="navtab" data-href="#modelUsedBikeContent" data-lab="@string.Format("{0}_UsedBikes", Model.SeriesBase.SeriesName)">@string.Format("Used {0}", Model.SeriesBase.BodyStyle == Bikewale.Entities.GenericBikes.EnumBikeBodyStyles.Scooter ? "Scooters" : "Bikes") </span>
                }
                
            </div>
        </div>
    </div>
}
