@model Bikewale.Models.ComparisonMinWidgetVM

@if (@Model != null)
{
    if (@Model.TopComparisonRecord != null)
    {
        <div class="grid-6">
            <a href="/@Bikewale.Utility.UrlFormatter.CreateCompareUrl(@Model.TopComparisonRecord.MakeMaskingName1, @Model.TopComparisonRecord.ModelMaskingName1, @Model.TopComparisonRecord.MakeMaskingName2, @Model.TopComparisonRecord.ModelMaskingName2, @Model.TopComparisonRecord.VersionId1.ToString(), @Model.TopComparisonRecord.VersionId2.ToString(), @Model.TopComparisonRecord.ModelId1, @Model.TopComparisonRecord.ModelId2, Bikewale.Entities.Compare.CompareSources.Desktop_Featured_Compare_Widget)" title="@string.Format("Compare {0} vs {1}", @Model.TopComparisonRecord.Bike1, @Model.TopComparisonRecord.Bike2)" id="main-compare-bikes-target">
                <div class="grid-6 padding-left20 border-light-right">
                    <div class="imageWrapper margin-bottom30">
                        <div class="comparison-image">
                            <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(@Model.TopComparisonRecord.VersionImgUrl1, @Model.TopComparisonRecord.HostUrl1, Bikewale.Utility.ImageSize._210x118, Bikewale.Utility.QualityFactor._70)" src="" alt="@string.Format("Compare {0} vs {1}", @Model.TopComparisonRecord.Bike1, @Model.TopComparisonRecord.Bike2)" />
                        </div>
                    </div>
                    <h3 class="font18 text-black margin-bottom5">@Model.TopComparisonRecord.Bike1</h3>
                    <div class="text-default font22 ">
                        @Html.Raw("<span>&#x20B9;</span>")&nbsp;<span class="text-bold">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(@Model.TopComparisonRecord.Price1))</span>
                        @if (@Model.TopComparisonRecord.Price1 > 0)
                        {
                            <span class="font16">&nbsp;onwards</span>
                        }
                    </div>
                    <p class="text-light-grey margin-bottom5 font14">Ex-showroom, Mumbai</p>
                </div>
                <div class="grid-6 padding-right20">
                    <div class="imageWrapper margin-bottom30">
                        <div class="comparison-image">
                            <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(@Model.TopComparisonRecord.VersionImgUrl2, @Model.TopComparisonRecord.HostUrl2, Bikewale.Utility.ImageSize._210x118, Bikewale.Utility.QualityFactor._70)" src="" alt="@string.Format("Compare {0} vs {1}", @Model.TopComparisonRecord.Bike1, @Model.TopComparisonRecord.Bike2)" />
                        </div>
                    </div>
                    <h3 class="font18 text-black margin-bottom5">@Model.TopComparisonRecord.Bike2</h3>
                    <div class="text-default font22">
                        @Html.Raw("<span>&#x20B9;</span>")&nbsp;<span class="text-bold">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(@Model.TopComparisonRecord.Price2))</span>
                        @if (@Model.TopComparisonRecord.Price2 > 0)
                        {
                            <span class="font16">&nbsp;onwards</span>
                        }
                    </div>
                    <p class="text-light-grey margin-bottom5 font14">Ex-showroom, Mumbai</p>
                </div>
                <div class="clear"></div>
                <div class="margin-top20 text-center">
                    <span class="btn btn-orange">Compare now</span>
                </div>
            </a>
        </div>
    }

    if (@Model.RemainingCompareList != null)
    {
        <div class="grid-6 font14">
            <ul id="compare-sidebar-list">
                @foreach (var bike in @Model.RemainingCompareList)
                {
                    <li>
                        <a href="/@Bikewale.Utility.UrlFormatter.CreateCompareUrl(bike.MakeMaskingName1,bike.ModelMaskingName1,bike.MakeMaskingName2,bike.ModelMaskingName2, bike.VersionId1.ToString(), bike.VersionId2.ToString(), bike.ModelId1,bike.ModelId2, Bikewale.Entities.Compare.CompareSources.Desktop_Featured_Compare_Widget)"
                           title="@string.Format("Compare {0} vs {1}", bike.Bike1, bike.Bike2)" class="compare-bikes-target">
                            <div class="grid-6 compare-bike-box">
                                <div class="sidebar-image inline-block">
                                    <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.VersionImgUrl1, bike.HostUrl1, Bikewale.Utility.ImageSize._110x61, Bikewale.Utility.QualityFactor._70)" src="" alt="@string.Format("Compare {0} vs {1}", bike.Bike1, bike.Bike2)" />
                                </div>
                                <div class="sidebar-image-label inline-block text-default">
                                    <h3 class="text-black text-bold margin-bottom5">@bike.Bike1</h3>
                                    @Html.Raw("&#x20B9;")&nbsp;@string.Format("{0}{1}", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.Price1)), bike.Price1 > 0 ? " onwards" : string.Empty)
                                </div>
                            </div>
                            <div class="grid-6 compare-bike-box">
                                <div class="sidebar-image inline-block">
                                    <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.VersionImgUrl2, bike.HostUrl2, Bikewale.Utility.ImageSize._110x61, Bikewale.Utility.QualityFactor._70)" src="" alt="@string.Format("Compare {0} vs {1}", bike.Bike1, bike.Bike2)" />
                                </div>
                                <div class="sidebar-image-label inline-block text-default">
                                    <h3 class="text-black text-bold margin-bottom5">@bike.Bike2</h3>
                                    @Html.Raw("&#x20B9;")&nbsp;@string.Format("{0}{1}", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.Price2)), bike.Price2 > 0 ? " onwards" : string.Empty)
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                }
            </ul>
            @if (@Model.ShowComparisonButton)
            {
                <div class="view-all-btn-container">
                    <a href="/comparebikes/" class="btn view-all-target-btn" title="New Bike Comparisons in India">View more comparisons<span class="bwsprite teal-right"></span></a>
                </div>
            }
        </div>
        <div class="clear"></div>
    }
}