@model Bikewale.Models.DealersServiceCentersIndiaWidgetVM
@using Bikewale.Utility


@if (Model != null && Model.DealerServiceCenters != null && Model.DealerServiceCenters.DealerDetails!=null && Model.DealerServiceCenters.DealerDetails.Any())
{

    <div class="jcarousel-wrapper inner-content-carousel carousel-type-city">
        <div class="jcarousel">
            <ul>

                @foreach (var details in Model.DealerServiceCenters.DealerDetails)
                {

                    if ((Model.IsServiceCenterPage && details.ServiceCenterCount > 0) || (!Model.IsServiceCenterPage && details.DealerCount > 0))
                    {
                        <li>
                            <a href="@string.Format("/{0}/{1}/{2}/", Model.CityCardLink, Model.MakeMaskingName, details.CityMaskingName)" title="@string.Format("{0}  {1} {2}", Model.MakeName, Model.CityCardTitle, details.CityName)" class="card-target-link">
                                <div class="city-image-preview">
                                    <span class="city-sprite @string.Format("{0}-icon", details.CityMaskingName)"></span>
                                </div>
                                <div class="text-left padding-top15 padding-left20 padding-right20 padding-bottom20">
                                    <p class="font15 text-default text-bold margin-bottom5">@details.CityName</p>

                                    @if (Model.IsServiceCenterPage)
                                    {
                                        <p class="text-light-grey font14">
                                            @details.ServiceCenterCount @Model.MakeName Service @((details.ServiceCenterCount > 1) ? "centers" : "center")
                                        </p>

                                    }
                                    else
                                    {
                                        <p class="text-light-grey font14">
                                            @details.DealerCount @Model.MakeName @((details.DealerCount > 1) ? "showrooms" : "showroom")
                                        </p>
                                    }

                                </div>
                            </a>
                        </li>
                    }

                }

                @if (Model.IsIndiaCardNeeded)
                {
                    <li>
                        <a href="/dealer-showrooms/@Model.MakeMaskingName/" title="@Model.MakeName showrooms in India" class="card-target-link">
                            <div class="city-image-preview">
                                <span class="city-sprite india-icon"></span>
                            </div>
                            <div class="text-left padding-top15 padding-left20 padding-right20 padding-bottom20">
                                <p class="font15 text-default text-bold margin-bottom5">India</p>
                                @if (Model.DealerServiceCenters.TotalDealerCount > 0)
                                {  <p class="text-light-grey font14">
                                    @Bikewale.Utility.Format.FormatPrice(Model.DealerServiceCenters.TotalDealerCount.ToString()) @Model.MakeName showrooms
                                </p>
                                }
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <span class="jcarousel-control-left">
            <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
        </span>
        <span class="jcarousel-control-right">
            <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
        </span>
    </div>

}


