@model Bikewale.Models.OtherMakesVM

@if (Model != null && Model.Makes!=null && Model.Makes.Any())
{
    <div class="jcarousel-wrapper inner-content-carousel brand-type-carousel">
        <div class="jcarousel">
            <ul>
                @foreach (var BrandCount in Model.Makes)
                {
                    <li>
                        <a href="@(!string.IsNullOrEmpty(Model.PageLinkFormat) ? string.Format(Model.PageLinkFormat, BrandCount.MaskingName) : Bikewale.Utility.UrlFormatter.BikeMakeUrl(BrandCount.MaskingName))" title="@(!string.IsNullOrEmpty(Model.PageTitleFormat) ? string.Format(Model.PageTitleFormat, BrandCount.MakeName) : string.Format("{0} {1}", BrandCount.MakeName ,Model.CardText))" class="jcarousel-card">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite @string.Format("brand-{0}", BrandCount.MakeId)"></span>
                                </span>
                            </div>
                            <div class="card-desc-block">
                                <p class="card-heading font14 text-bold text-black padding-top10 border-solid-top">@BrandCount.MakeName</p>
                                <h3 class="text-unbold text-light-grey">@string.Format("{0} {1}{2}", BrandCount.TotalCount, Model.CardText, (BrandCount.TotalCount == 1 ? "" : "s"))</h3>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
        <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
    </div>
}
