@model Bikewale.Models.MakePageVM
<div id="makeOverallTabsWrapper">
    <div id="makeOverallTabs" class="overall-floating-tabs">
        <div class="overall-specs-tabs-wrapper">
            @if (Model.BikeDescription != null && Model.BikeDescription.FullDescription.Length > 0)
            {   
                <span class="navtab" data-href="#makeAboutContent" data-lab="@string.Format("{0}_About", Model.MakeName)">About</span>
            }
            @if (Model.Bikes != null && Model.Bikes.Count() > 0)
            {
                <span class="navtab" data-href="#bikeMakeList" data-lab="@string.Format("{0}_Models", Model.MakeName)">Bike Models</span>
            }
            @if (Model.IsCompareBikesAvailable)
            {
                <span class="navtab" data-href="#popularComparisonAndOtherBrands" data-lab="@string.Format("{0}_TopComparisons", Model.MakeName)">Top Comparisons</span>
            }
            @if (Model.IsNewsAvailable)
            {
                <span class="navtab" data-href="#modelNewsContent" data-lab="@string.Format("{0}_News", Model.MakeName)">News</span>
            }
            @if (Model.IsExpertReviewsAvailable || Model.IsUserReviewsAvailable)
            {
                <span class="navtab" data-href="#makeReviewsContent" data-lab="@string.Format("{0}_Reviews", Model.MakeName)" >Reviews</span>
            }
           @if (Model.BikeModelsPhotos != null && Model.BikeModelsPhotos.ModelList != null && Model.BikeModelsPhotos.ModelList.Any())
           {
            <span class="navtab" data-href="#makeImagesVideosContent" data-lab="@string.Format("{0}_Images", Model.MakeName)">Images</span>
           }
        </div>
    </div>
</div>