@model Bikewale.Models.MakePageVM
@if (Model != null)
{
    string mobileUrl = string.Format("{0}/m/{1}-bikes/", Bikewale.Utility.BWConfiguration.Instance.BwHostUrl, Model.MakeMaskingName);
    
        <div id="overallSpecsTab" class="overall-specs-tabs-container">
            <ul class="overall-specs-tabs-wrapper">
                @{
                    bool IsActive = true;
                }

                @if (Model.BikeDescription != null && Model.BikeDescription.FullDescription.Length > 0)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#makeAboutContent", mobileUrl)">About</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.Bikes != null && Model.Bikes.Any())
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#bikeMakeList", mobileUrl)">Bike Models</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.IsUpComingBikesAvailable)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#bikeByMakesUpcoming", mobileUrl)">Upcoming</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.IsCompareBikesAvailable)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#popularComparison", mobileUrl)">Top Comparisions</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.IsNewsAvailable)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#makeNewsContent", mobileUrl)">News</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.IsExpertReviewsAvailable || Model.IsUserReviewsAvailable)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#makeReviewsContent", mobileUrl)">Reviews</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.IsVideosAvailable)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#makeVideosContent", mobileUrl)">Videos</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.IsDealerServiceDataAvailable || Model.IsDealerServiceDataInIndiaAvailable)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#makeDealersContent", mobileUrl)">Dealers</a>
                    </li>
                    {IsActive = false;}
                }
                @if (Model.IsUsedModelsBikeAvailable)
                {
                    <li class="bw-makepage-tabs-ga @(IsActive ? "active":"")">
                        <a href="@string.Format("{0}#makeUsedBikeContent", mobileUrl)">Used Bikes</a>
                    </li>
                }
            </ul>
        </div>
    
}
