@model Bikewale.Entities.Filters.FilterBase
@{
    ViewBag.Title = "_MakePageFilters_Mobile";
}
@if (Model != null)
{
    string[] inputId = new string[4];
    for (int i = 0; i < 4; i++)
    {
        inputId[i] = Model.FilterType + Convert.ToString(i);
    }
    <div class="refine-result">
        <h3 class="refine-result__heading">Refine Your Results</h3>
        <p class="refine-result__instruction">Select a fuel economy range for your driving pattern</p> <!-- Ask PM -->
        <ul class="refine-result__list">
            @if (Model.Unit != null && Model.FilterType != null)
            {
                if (Model.RangeList[0] != null)
                {

                    <li class="refine-result__list-item">
                        <input type="checkbox" class="refine-result__list-checkbox" name="inpageFilter" id="@inputId[0]" value="1">
                        <label class="refine-result__checkbox-label" for="inpageFilter1">
                            Less than

                            @if (Model.FilterType == "budget")
                            {
                                @Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice(Model.RangeList[0].ToString());
                            }
                            else
                            {
                                @Bikewale.Utility.FormatMinSpecs.ShowAvailable(@Model.RangeList[0], @Model.Unit);
                            }


                        </label>

                    </li>
                }


                if (Model.RangeList[0] != null && Model.RangeList[1] != null)
                {
                    <li class="refine-result__list-item">
                        <input type="checkbox" name="inpageFilter" class="refine-result__list-checkbox" id="@inputId[1]" value="2">
                        <label class="refine-result__checkbox-label" for="inpageFilter2">
                            @if (Model.FilterType == "budget")
                            {
                                @Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice(Model.RangeList[0].ToString()) @Html.Raw("&#8722;") @Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice(@Model.RangeList[1].ToString());
                            }
                            else
                            {
                                @Bikewale.Utility.FormatMinSpecs.ShowAvailable(@Model.RangeList[0], @Model.Unit) @Html.Raw("&#8722;") @Bikewale.Utility.FormatMinSpecs.ShowAvailable(@Model.RangeList[1], @Model.Unit) ;
                            }

                        </label>

                    </li>
                }


                if (Model.RangeList[1] != null && Model.RangeList[2] != null)
                {
                    <li class="refine-result__list-item">
                        <input type="checkbox" name="inpageFilter" class="refine-result__list-checkbox" id="@inputId[2]" value="3">
                        <label class="refine-result__checkbox-label" for="inpageFilter3">


                            @if (Model.FilterType == "budget")
                            {
                                @Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice(Model.RangeList[1].ToString()) @Html.Raw("&#8722;") @Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice(@Model.RangeList[2].ToString());
                            }
                            else
                            {
                                @Bikewale.Utility.FormatMinSpecs.ShowAvailable(@Model.RangeList[1], @Model.Unit) @Html.Raw("&#8722;") @Bikewale.Utility.FormatMinSpecs.ShowAvailable(@Model.RangeList[2], @Model.Unit) ;
                            }
                        </label>

                    </li>
                }

                if (Model.RangeList[2] != null)
                {
                    <li class="refine-result__list-item">
                        <input type="checkbox" name="inpageFilter" class="refine-result__list-checkbox" id="@inputId[3]" value="4">
                        <label class="refine-result__checkbox-label" for="inpageFilter4">
                            More than

                            @if (Model.FilterType == "budget")
                            {
                                @Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice(Model.RangeList[2].ToString());
                            }
                            else
                            {
                                @Bikewale.Utility.FormatMinSpecs.ShowAvailable(@Model.RangeList[2], @Model.Unit);
                            }
                        </label>

                    </li>
                }


            }

        </ul>

        <button type="button" id="refineResultApply" class="inv-blue--disabled btn btn-inv-blue refine-result__view-more refine-result__apply" disabled>Apply</button>
    </div>
}