@model Bikewale.Models.Make.UserReviewPopupVM

<div class="bw-popup hide bw-popup-sm" id="divUserReviewBikePopup">
    <div class="popup-inner-container">
        <div class="bwsprite popup-close-btn close-btn position-abt pos-top10 pos-right10 cur-pointer"></div>
        <div class="cityPop-icon-container">
            <div class="icon-outer-container rounded-corner50 margin-bottom20">
                <div class="icon-inner-container rounded-corner50">
                    <div class="bike-default-icon"></div>
                </div>
            </div>
        </div>


        <p class="font18 margin-top15 text-center">Help fellow bikers make the right choice</p>
        <p class="text-light-grey margin-bottom15 margin-top15 text-center">Select brand and model to write a review</p>

        <div class="padding-top10">
            <div id="divMakesPopup" class="margin-top10 form-control-box">
                <div>
                    <select id="ddlMakesPopup" class="chosen-select" data-placeholder="--Select Brand--" data-bind="value: selectedMake, event: {change: onMakeChange}">
                        <option value="" selected disabled>--Select Brand--</option>
                        @if (Model != null && Model.Makes != null && Model.Makes.Count() > 0)
                        {
                            if (!(Model.Makes.Any(objModel => objModel.MakeId == Model.MakeId)))
                            {
                                <option value="@Model.MakeId">@Model.MakeName</option>
                            }

                            foreach (var make in Model.Makes)
                            {
                                <option value="@make.MakeId">@make.MakeName</option>
                            }
                        }
                    </select>
                    <span class="bwsprite error-icon error-tooltip-siblings"></span>
                    <div class="bw-blackbg-tooltip error-tooltip-siblings"></div>
                </div>
                <span class="position-abt progress-bar"></span>
            </div>

            <div id="divModelsPopup" class="margin-top10 form-control-box">
                <div class="placeholder-loading-text form-control">Loading Models..<span class="fa fa-spinner fa-spin position-abt text-black btnSpinner"></span></div>
                <div class="divModelsSelectPopup">
                    <select data-placeholder="--Select Model--" class="chosen-select" id="ddlModelsPopup" tabindex="2" data-bind="options: models, value: selectedModel, optionsText: 'modelName', optionsValue: 'modelId', optionsCaption: '--Select Model--', event: {change: onModelChange}, chosen: {width: '100%'}"></select>
                    <span class="bwsprite error-icon error-tooltip-siblings"></span>
                    <div class="bw-blackbg-tooltip error-tooltip-siblings"></div>
                </div>
                <span class="position-abt progress-bar"></span>
            </div>

            <input id="btnWriteYourReviewPopup" data-bind="event: {click: onClickWriteReview}" class="action-btn margin-top15 margin-left70 " style="display: block;" type="button" value="Write Your Review">
          
         </div>
    </div>
    <input type="hidden" id="makeId" value="@Model.MakeId" />
    <input type="hidden" id="modelId" value="@Model.ModelId" />
    <input type="hidden" id="modelName" value="@Model.ModelName" />
</div>

<script defer type="text/javascript" src="../src/popup/makemodelpopup.js"></script>
