@model Bikewale.Models.MakePageVM
@using Bikewale.Utility;
<div data-id="popularModel" class="bg-white section-bottom-margin newly-lauched-section overall-tabs-data">
        <div class="newly-launched__title">
            <h2 class="page__heading-h2">
                Newly launched
            </h2>
        </div>

                <div class="swiper-container carousel__newly-lauched" data-spacebetween="0">
                    <ul class="swiper-wrapper">
                        @foreach (var bike in Model.NewLaunchedMakeBikesNDays.Models)
                        {
                            var bikeUrl = UrlFormatter.BikePageUrl(bike.MakeBase.MaskingName, bike.MaskingName);
                            var bikeName = string.Format("{0} {1}", bike.MakeBase.MakeName, bike.ModelName);

                            <li class="swiper-slide carousel-slide model-list__item">
                                <div class="model__card">
                                    <a href="@string.Format("/m{0}", bikeUrl)" title="" class="model-card__target">
                                        <div class="model-card__image">
                                            <img class="swiper-lazy" data-src="@Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" src="" title="@bikeName" alt="@bikeName">
                                        </div>
                                        <div class="model-card__detail">
                                            <h3 class="card-detail__name">@bike.ModelName</h3>
                                            <p class="card-detail__launch-date">Launch Date: @string.Format("{0}", FormatDate.GetFormatDate(bike.LaunchDate.ToString(), "dd MMM yyyy"))</p>
                                            <ul class="card-detail__specs-list">
                                                @if (bike.Specs.Displacement != 0)
                                                {
                                                    <li>
                                                        <span class="bwsprite capacity-sm"></span>
                                                        <span>@FormatMinSpecs.ShowAvailable(bike.Specs.Displacement.ToString(), "cc") </span>
                                                    </li>
                                                }
                                                @if (bike.Specs.FuelEfficiencyOverall != 0)
                                                {
                                                    <li>
                                                        <span class="bwsprite mileage-sm"></span>
                                                        <span>@FormatMinSpecs.ShowAvailable(bike.Specs.FuelEfficiencyOverall.ToString(), "kmpl") </span>
                                                    </li>
                                                }
                                                @if (bike.Specs.MaxPower != 0)
                                                {
                                                    <li>
                                                        <span class="bwsprite power-sm"></span>
                                                        <span>@FormatMinSpecs.ShowAvailable(bike.Specs.MaxPower.ToString(), "bhp") </span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </a>
                                    <div class="model-card__exshowroom-content">
                                        <div class="model-card__exshowroom">
                                            <div class="card-exshowroom__col">
                                                <p class="card-exshowroom__label">Ex-showroom, @(Model.City.CityId == 0 ? BWConfiguration.Instance.DefaultName : Model.City.City)</p>

                                                <span class="card-exshowroom__value">&#x20b9;&nbsp;<span class="text--semibold">@Format.FormatPrice(Convert.ToString(bike.MinPrice))</span></span>
                                            </div>

                                            <a href="@string.Format("/m{0}", bikeUrl)" title="@bikeName" class="model-card__explore">
                                                Explore
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }
                    </ul>
                </div>

</div>