@model Bikewale.Models.NewLaunchedWidgetVM
@using Bikewale.Utility;

@if (Model != null)
{
    var city = Model.City;
    <div data-id="popularModel" class="bg-white section-bottom-margin newly-lauched-section overall-tabs-data">
            <div class="newly-launched__title">
                <h2 class="page__heading-h2">
                    Newly launched
                </h2>
            </div>
                    <div class="swiper-container carousel__newly-lauched" data-spacebetween="0">
                        <ul class="swiper-wrapper">
                            @foreach (var bike in Model.Bikes)
                            {
                                if (bike != null && bike.Make != null && bike.Model != null)
                                {
                                    var bikeUrl = UrlFormatter.BikePageUrl(bike.Make.MaskingName, bike.Model.MaskingName);
                                    var bikeName = string.Format("{0} {1}", bike.Make.MakeName, bike.Model.ModelName);

                                    <li class="swiper-slide carousel-slide model-list__item">
                                        <div class="model__card">
                                            <a href="@string.Format("/m{0}", bikeUrl)" title="@bikeName" class="model-card__target">
                                                <div class="model-card__image">
                                                    <img class="swiper-lazy" data-src="@Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostUrl, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" src="" title="@bikeName" alt="@bikeName">
                                                </div>
                                                <div class="model-card__detail">
                                                    <h3 class="card-detail__name" title="@bikeName">@bike.Model.ModelName</h3>
                                                    <p class="card-detail__launch-date">Launch Date: @string.Format("{0}", FormatDate.GetFormatDate(bike.LaunchedOn.ToString(), "dd MMM yyyy"))</p>
                                                    <ul class="card-detail__specs-list">
                                                        @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsAsLiElement(Convert.ToString(bike.MinSpecs.Displacement), Convert.ToString(bike.MinSpecs.FuelEfficiencyOverall), Convert.ToString(bike.MinSpecs.MaxPower), Convert.ToString(bike.MinSpecs.KerbWeight)))
                                                    </ul>
                                                </div>
                                            </a>
                                            <div class="model-card__exshowroom-content">
                                                <div class="model-card__exshowroom">
                                                    <div class="card-exshowroom__col">
                                                            @if (bike.ExshowroomPrice > 0)
                                                            {
                                                                <p class="card-exshowroom__label">@string.Format("Ex-showroom, {0}", (bike.City == null || bike.City.CityId == 0 ? BWConfiguration.Instance.DefaultName : city.CityName))</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="card-exshowroom__label">
                                                                    <span>Avg. Ex-showroom price</span><span class="info-icon tooltip-icon-target tooltip-top">
                                                                        <span class="bw-tooltip info-tooltip">
                                                                            <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", city!=null ? city.CityName : "")</span>
                                                                        </span>
                                                                    </span>
                                                                </p>
                                                            }
                                                            <span class="card-exshowroom__value">

                                                                @if (bike.AvgPrice > 0)
                                                                {

                                                                    <span class="text--semibold">@Html.Raw(String.Format(" <span class='font18'>&#x20B9;</span>&nbsp;<span class='font18'>{0}</span><span class='font14'> onwards</span>", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.ExshowroomPrice > 0 ? bike.ExshowroomPrice : bike.AvgPrice))))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text--semibold">Price unavailable</span>
                                                                }
                                                            </span>


                                                    </div>
                                               
                                                    <a href="@string.Format("/m{0}", bikeUrl)" title="@bikeName" class="model-card__explore">
                                                        Explore
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

    </div>
}