@model Bikewale.Models.MakePageVM

@{
    ViewBag.Title = "Bike Make page";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/m/make/make.css' inline />";
    Model.Page_JS_Path = "/m/src/make.js";
}

<section id="overallContainer">
    <div class="container section-bottom-margin">
        <h1 class="page__heading">Royal Enfield Bikes</h1>
        @Html.Partial("~/Views/Make/_Index_Tab_Mobile_New.cshtml", Model)
      
        <section>
            <div data-id="popularModel" class="bg-white section-bottom-margin newly-lauched-section overall-tabs-data">
                <div class="newly-launched__title">
                    <h2 class="page__heading-h2">
                        Newly launched
                    </h2>
                </div>
                @{var totalCard = 1;
                if (totalCard == 1)
                {
                    <div class="newly-lauched-card">
                        <div class="model__card">
                            <a href="" title="" class="model-card__target">
                                <div class="model-card__image">
                                    <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/honda-cb-hornet-160r.jpg?20161209185003&q=75" src="" title="" alt="">
                                </div>
                                <div class="model-card__detail">
                                    <h3 class="card-detail__name">Himalayan</h3>
                                    <p class="card-detail__launch-date">Launch Date: 24 Jan 2019</p>
                                    <ul class="card-detail__specs-list">
                                        <li>2204.8 cc</li>
                                        <li>381.5 kmpl</li>
                                        <li>21.89 bhp</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="model-card__exshowroom-content">
                                <div class="model-card__exshowroom">
                                    <div class="card-exshowroom__col">
                                        <p class="card-exshowroom__label">Ex-showroom, Mumbai</p>
                                        <span class="card-exshowroom__value">&#x20b9;&nbsp;<span class="text--semibold">92,352</span></span>
                                    </div>
                                    <a href="" title="" class="model-card__explore">
                                        Explore
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="swiper-container carousel__newly-lauched" data-spacebetween="0">
                        <ul class="swiper-wrapper">
                            @for (var i = 0; i <= 5; i++)
                            {
                                <li class="swiper-slide carousel-slide model-list__item">
                                    <div class="model__card">
                                        <a href="" title="" class="model-card__target">
                                            <div class="model-card__image">
                                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//310x174//bw/models/honda-cb-hornet-160r.jpg?20161209185003&q=75" src="" title="" alt="">
                                            </div>
                                            <div class="model-card__detail">
                                                <h3 class="card-detail__name">Himalayan</h3>
                                                <p class="card-detail__launch-date">Launch Date: 24 Jan 2019</p>
                                                <ul class="card-detail__specs-list">
                                                    <li>2204.8 cc</li>
                                                    <li>381.5 kmpl</li>
                                                    <li>21.89 bhp</li>
                                                </ul>
                                            </div>
                                        </a>
                                        <div class="model-card__exshowroom-content">
                                            <div class="model-card__exshowroom">
                                                <div class="card-exshowroom__col">
                                                    <p class="card-exshowroom__label">Ex-showroom, Mumbai</p>
                                                    <span class="card-exshowroom__value">&#x20b9;&nbsp;<span class="text--semibold">92,352</span></span>
                                                </div>
                                                <a href="" title="" class="model-card__explore">
                                                    Explore
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }

                }


            </div>

        </section>

        @if (Model.TopPopularBikes != null && Model.TopPopularBikes.Any())
        {
            <section>
                <div data-id="popularModel" class="bg-white section-bottom-margin overall-tabs-data">
                    <div class="popular-carousel__title">
                        <h2 class="page__heading-h2">Popular @Model.MakeName Bikes</h2>
                        <p class="page-heading__disclaimer">*Based on number of searches</p>
                    </div>

                    <div class="swiper-container carousel__popular-bikes" data-spacebetween="0">
                        <ul class="swiper-wrapper">
                            @foreach (var bike in Model.TopPopularBikes)
                            {
                                var modelUrl = Bikewale.Utility.UrlFormatter.BikePageUrl(bike.objMake.MaskingName, bike.objModel.MaskingName);
                                var bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
                                <li class="swiper-slide carousel-slide">
                                    <div class="model__card">
                                        <a title="@bike.BikeName" href='@string.Format("/m{0}", modelUrl)' class="model-card__target">
                                            <div class="model-card__image">
                                                <img class="swiper-lazy" data-src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" src="" title="@bikeName" alt="@bike.objModel.ModelName">
                                            </div>
                                        </a>
                                        <div class="model-card__detail-content">
                                            <div class="model-card__detail">
                                                <a title="@bike.BikeName" href='@string.Format("/m{0}", modelUrl)' class="model-card__target card-detail__target">
                                                    <span class="rating-badge" data-rate-bg="@Math.Round(bike.ModelRating)">
                                                        <span class="rating-badge__star"></span>
                                                        <span>@bike.ModelRating.ToString("0.0")</span>
                                                    </span>

                                                    <h3 class="card-detail__name">@bike.objModel.ModelName</h3>

                                                    <ul class="card-detail__specs-list">
                                                        @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsAsLiElement(Convert.ToString(bike.Specs.Displacement), Convert.ToString(bike.Specs.FuelEfficiencyOverall), Convert.ToString(bike.Specs.MaxPower), Convert.ToString(bike.Specs.KerbWeight)))
                                                    </ul>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="model-card__exshowroom-content">
                                            <div class="model-card__exshowroom">
                                                <div class="card-exshowroom__col">
                                                    @if (bike.ExShowroomPrice > 0)
                                                    {
                                                        <p class="card-exshowroom__label">Ex-showroom, @(Model.City.CityId == 0 ? Bikewale.Utility.BWConfiguration.Instance.DefaultName : Model.City.City)</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-exshowroom__label">
                                                            <span>Avg. Ex-showroom price</span><span class="info-icon tooltip-icon-target tooltip-top">
                                                                <span class="bw-tooltip info-tooltip">
                                                                    <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", Model.City.City)</span>
                                                                </span>
                                                            </span>
                                                        </p>
                                                    }
                                                    <span class="card-exshowroom__value">

                                                        @if (bike.AvgPrice > 0)
                                                        {
                                                            @*<span class="text--semibold">@Html.Raw(string.Format("{0}", bike.ExShowroomPrice == 0 ? string.Format("{0} <span class='font14'> onwards</span>", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.AvgPrice))) : Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.ExShowroomPrice))))</span>*@

                                                            <span class="text--semibold">@Html.Raw(String.Format(" <span class='font18'>&#x20B9;</span>&nbsp;<span class='font18'>{0}</span><span class='font14'> onwards</span>", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.ExShowroomPrice > 0 ? bike.ExShowroomPrice : bike.AvgPrice))))</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text--semibold">Price unavailable</span>
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </section>
        }

        @if (Model.Bikes != null && Model.Bikes.Count() > 0)
        {
            <section>
                <div data-id="bikeModel" class="content--inner-padding bg-white section-bottom-margin overall-tabs-data">
                    <h2 class="page__heading-h2">@string.Format("All {0} Bikes", Model.MakeName)</h2>
                    <p class="page-heading__disclaimer">*Prices are indicative Ex-Showroom, Navi Mumbai</p>

                    <ul class="all-model__list">
                        @foreach (var bike in Model.Bikes)
                        {
                            var modelUrl = Bikewale.Utility.UrlFormatter.BikePageUrl(bike.objMake.MaskingName, bike.objModel.MaskingName);
                            var bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);

                            <li class="model-list__item">
                                <div class="model__card">
                                    <a href="@string.Format("/m{0}", modelUrl)" class="model-card__target">
                                        <div class="model-card__image">
                                            <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" src="" title="@bikeName" alt="@bike.objModel.ModelName">
                                        </div>
                                        <div class="model-card__detail">
                                            <span class="rating-badge" data-rate-bg="@Math.Round(bike.ModelRating)">
                                                <span class="rating-badge__star"></span>
                                                <span>@bike.ModelRating.ToString("0.0")</span>
                                            </span>

                                            <h3 class="card-detail__name">@string.Format("{0} {1}",Model.MakeName ,bike.objModel.ModelName) </h3>
                                            <ul class="card-detail__specs-list">
                                                @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsAsLiElement(Convert.ToString(bike.Specs.Displacement), Convert.ToString(bike.Specs.FuelEfficiencyOverall), Convert.ToString(bike.Specs.MaxPower), Convert.ToString(bike.Specs.KerbWeight)))
                                            </ul>
                                        </div>
                                        <div class="model-card__exshowroom-content">
                                            <div class="model-card__exshowroom">
                                                <div class="card-exshowroom__col">
                                                    @if (bike.ExShowroomPrice > 0)
                                                    {
                                                        <p class="card-exshowroom__label">Ex-showroom, @(Model.City.CityId == 0 ? Bikewale.Utility.BWConfiguration.Instance.DefaultName : Model.City.City)</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-exshowroom__label">Avg. Ex-showroom price</p>
                                                        <span class="bw-tooltip info-tooltip">
                                                            <span class="bw-tooltip-text">@string.Format("Price is not available in {0}", Model.City.City)</span>
                                                        </span>
                                                    }
                                                    @if (bike.VersionPrice > 0)
                                                    {
                                                        @Html.Raw("<span class='card-exshowroom__value'>&#x20b9;&nbsp;</span>")
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<span class='font18' style='display: none;'> &#x20B9;</span>")
                                                    }
                                                    @if (bike.AvgPrice > 0)
                                                    {
                                                        <span class="card-exshowroom__value text--semibold">@Html.Raw(string.Format("{0}", bike.ExShowroomPrice == 0 ? string.Format("{0} <span class='font14'> onwards</span>", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.AvgPrice))) : Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.ExShowroomPrice))))</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font18 text--semibold">Price unavailable</span>
                                                    }

                                                </div>
                                                @if (bike.EMIDetails != null)
                                                {
                                                    <div class="card-emi__col">
                                                        <p class="card-emi__label">EMI starting at</p>
                                                        <span class="card-emi__value">@Html.Raw("<span>&#x20B9;</span>") @Bikewale.Utility.Format.FormatPrice(bike.EMIDetails.EMIAmount.ToString())/month</span>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </section>
        }


        @if (Model.IsUpComingBikesAvailable)
        {
            <section>
                <div data-id="upcomingBikes" class="bg-white section-bottom-margin  overall-tabs-data">
                    <h2 class="upcoming-carousel__title page__heading-h2">Upcoming @Model.MakeName bikes</h2>

                    @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Mobile_V2.cshtml", Model.UpcomingBikes)
                </div>
            </section>
        }
        <div id="notifyPopup">
            <div class="notify-popup__content">
                <span id="notifyCloseBtn"></span>
                <svg class="notify__bell-icon" viewBox="0 0 27 33" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#fff" stroke="#fff" fill-rule="evenodd">
                        <path d="M23.48 17.62v-5.05a9.78 9.78 0 0 0-7.22-9.4 2.52 2.52 0 0 0-5.05 0A9.78 9.78 0 0 0 4 12.57v5.05L1.1 20.15v3.97h25.25v-3.97l-2.88-2.53z" stroke-linecap="round" stroke-linejoin="round" />
                        <path class="bell-clapper" d="M17.34 27.3v1.08a3.43 3.43 0 0 1-3.42 3.42h-.36a3.44 3.44 0 0 1-3.43-3.43V27.3" />
                    </g>
                </svg>

                <div class="notify-popup__detail">
                    <p>To get updates about</p>
                    <p class="notify-details__model">Royal Enfield Himalayan 750</p>
                    <p>Please enter your email ID</p>
                </div>
                <div class="form-field__content">
                    <input type="text" id="notifyEmailField" class="form-control form-field__input" placeholder="Enter your email id">
                    <button type="button" id="notifySubmitBtn" class="btn btn-orange form-field__submit-btn">Submit</button>
                    <p class="field__error-message"></p>
                </div>
            </div>
            <div id="notifyWhiteoutWindow"></div>
        </div>

        <div id="interestingFact">
            <div class="interesting-fact-popup interesting-fact-section">
                <span id="interestingFactCloseBtn"></span>
                <div class="interesting-fact__title">
                    <h2 class="page__heading-h2">Interesting Fact</h2>
                </div>
                <div class="interesting-fact-container">
                    <div class="fact-container__block" data-overlay="none">
                        <p class="interesting-fact__content"></p>
                    </div>
                </div>

            </div>
            <div class="interesting-fact__whiteout-window"></div>
        </div>

        <section>
            <div data-id="upcomingBikes" class="section-bottom-margin interesting-fact-section  overall-tabs-data">
                <h2 class="interesting-fact__title page__heading-h2">Interesting Fact</h2>
                <div class="interesting-fact-container">
                    <p class="interesting-fact__content">
                        @Html.Raw(Model.BikeDescription.FullDescription)
                    </p>
                    <div class="interesting-fact__link-block">
                        <span class="interesting-fact__read-more">
                            Read more about @Model.MakeName Bikes
                        </span>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div data-id="latestUpdate" class="bg-white section-bottom-margin latest-update-section  overall-tabs-data">
                <div class="carousel__title">
                    <h2 class="page__heading-h2 carousel-title__label">Latest Updates</h2>
                    <a href="" class="view-all-btn">
                        View all
                    </a>
                </div>

                <div class="swiper-container carousel__editorial" data-spacebetween="0">
                    <ul class="swiper-wrapper">
                        @for (var i = 0; i <= 5; i++)
                        {
                            <li class="swiper-slide carousel-slide">
                                <div class="editorial-card">
                                    <a href="" title="" class="editorial-card__target">
                                        <div class="editorial-card__image">
                                            <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//310x174//bw/models/honda-cb-hornet-160r.jpg?20161209185003&q=75" src="" title="" alt="">
                                        </div>
                                        <div class="editorial-card__detail">
                                            <h3 class="editorial-card__name">TVS Apache RR 310 to be launched tomorrow</h3>
                                            <p class="editorial-card__description">The TVS Apache RR 310 is going to be launched in India tomorrow. The company’s first fully-faired motorcycle, the Apache RR 310 is the production version of the Ak…</p>
                                        </div>
                                    </a>
                                    <div class="editorial-card__footer">
                                        <div class="editorial-footer__author-img">
                                            @{var author = 0;
                                            if (author == 0)
                                            {
                                                <span class="editorial-author_defult-img"></span>
                                            }
                                            else
                                            {
                                                <img class="swiper-lazy editorial-author-img" src="" data-src="" title="" alt="" />
                                            }



                                            }
                                        </div>
                                        <div class="editorial-card__about">
                                            <span class="editorial-card__author-name">Ranjan B.</span>
                                            <p class="editorial-card__date-section">
                                                <span>24 Jan 2019</span> -
                                                <span>4 min read</span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </section>
        @if (Model.IsDealerServiceDataAvailable || (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0))
        {
            <section>
                <div data-id="dealer" class="bg-white section-bottom-margin dealer-section overall-tabs-data">

                    @if (Model.IsDealerAvailable)
                    {
                        <div class="carousel__title">
                            <h2 class="page__heading-h2 carousel-title__label">@Model.MakeName showrooms @string.Format("in {0}", Model.Dealers.CityName) </h2>
                            <a href="/m/dealer-showrooms/@Model.MakeMaskingName/@Model.Dealers.CityMaskingName" class="view-all-btn">
                                View all
                            </a>
                        </div>
                        <p class="dealer-section__note">
                            Showing Dealer/Store results from
                            <span id="allIndiaUrl" data-url="/m/dealer-showrooms/@Model.MakeMaskingName/" class="dealer-note__link text-link">
                                All India
                            </span>
                        </p>
                        <div class="swiper-container carousel__dealer-in-city" data-spacebetween="0">
                            @Html.Partial("~/Views/DealerShowroom/_NewDealerShowroomWithCount.cshtml", Model.Dealers)
                        </div>
                    }
                    else if (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0)
                    {
                        <div class="carousel__title">
                            <h2 class="page__heading-h2 carousel-title__label">@Model.MakeName showrooms</h2>
                            <a href="/m/dealer-showrooms/@Model.MakeMaskingName/" class="view-all-btn">
                                View all
                            </a>
                        </div>
                        <p class="dealer-section__note">
                            Showing Dealer/Store results from
                            <span id="allIndiaUrl" data-url="/m/dealer-showrooms/@Model.MakeMaskingName/" class="dealer-note__link text-link">
                                All India
                            </span>
                        </p>

                        <div class="swiper-container carousel__dealer-by-city" data-spacebetween="0">
                            @Html.Partial("~/Views/PopularCityWidget/_DealerInPopularCity_Mobile.cshtml", Model.DealersServiceCenterPopularCities)
                        </div>
                    }


                </div>
            </section>
        }

        <section>
            <div data-id="news" class="bg-white section-bottom-margin latest-news-section overall-tabs-data">
                <div class="carousel__title">
                    <h2 class="page__heading-h2 carousel-title__label">Royal Enfield News</h2>
                    <a href="" class="view-all-btn">
                        View all
                    </a>
                </div>

                <div class="swiper-container carousel__editorial" data-spacebetween="0">
                    <ul class="swiper-wrapper">
                        @for (var i = 0; i <= 5; i++)
                        {
                            <li class="swiper-slide carousel-slide">
                                <div class="editorial-card">
                                    <a href="" title="" class="editorial-card__target">
                                        <div class="editorial-card__image">
                                            <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//310x174//bw/models/honda-cb-hornet-160r.jpg?20161209185003&q=75" src="" title="" alt="">
                                        </div>
                                        <div class="editorial-card__detail">
                                            <h3 class="editorial-card__name">TVS Apache RR 310 to be launched tomorrow</h3>
                                            <p class="editorial-card__description">The TVS Apache RR 310 is going to be launched in India tomorrow. The company’s first fully-faired motorcycle, the Apache RR 310 is the production version of the Ak…</p>
                                        </div>
                                    </a>
                                    <div class="editorial-card__footer">
                                        <div class="editorial-footer__author-img">
                                            @{var author = 1;
                                            if (author == 0)
                                            {
                                                <span class="editorial-author_defult-img"></span>
                                            }
                                            else
                                            {
                                                if (i % 2 == 0)
                                                {
                                                    <img class="swiper-lazy editorial-author-img" src="" data-src="https://imgd.aeplcdn.com/300x225/cw/author/abhishek.jpg?q=70" title="" />
                                                }
                                                else
                                                {
                                                    <img class="swiper-lazy editorial-author-img" src="" data-src="https://imgd.aeplcdn.com/300x225/cw/author/vikrantsingh.jpg?q=70" title="" />

                                                }
                                            }
                                            }
                                        </div>
                                        <div class="editorial-card__about">
                                            <span class="editorial-card__author-name">Ranjan B.</span>
                                            <p class="editorial-card__date-section">
                                                <span>24 Jan 2019</span> -
                                                <span>4 min read</span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </section>


        <section>
            <div data-id="reviews" class="bg-white section-bottom-margin review-section overall-tabs-data">
                <div class="carousel__title">
                    <h2 class="page__heading-h2">Royal Enfield Reviews</h2>
                </div>
                <section class="expert-review-section">
                    <div class="carousel__title">
                        <h3 class="carousel-title__label">Expert Reviews</h3>
                        <a href="" class="view-all-btn">
                            View all
                        </a>
                    </div>
                    <div class="article-section__count">
                        <span class="article-count__number">32</span>&nbsp;Expert Reviews for <span class="article-count__number">14</span>&nbsp;Models
                    </div>
                    <div class="swiper-container carousel__expert-review" data-spacebetween="0">
                        <ul class="swiper-wrapper">
                            @for (var i = 0; i <= 5; i++)
                            {
                                <li class="swiper-slide carousel-slide">
                                    <div class="review-card carousel-card" data-review-category="@((i==0)?"23": (i==1)?"24":"40")">
                                        <span class="card-category__tag">
                                            First Ride Review
                                        </span>
                                        <h3 class="review-card__title">
                                            TVS Apache RR 310
                                        </h3>
                                        <p class="review-card__desc">
                                            “Style is very good in terms offering and sporty look. Engine per...”
                                        </p>
                                        <div class="review-card__about">
                                            <div class="review-card__author">
                                                @{
                                if (i == 0)
                                {
                                    <span class="review-author_defult-img"></span>
                                }
                                else
                                {
                                    if (i % 2 == 0)
                                    {
                                        <img class="swiper-lazy review-author__img" src="" data-src="https://imgd.aeplcdn.com/300x225/cw/author/abhishek.jpg?q=70" title="" />
                                    }
                                    else
                                    {
                                        <img class="swiper-lazy review-author__img" src="" data-src="https://imgd.aeplcdn.com/300x225/cw/author/vikrantsingh.jpg?q=70" title="" />

                                    }
                                }
                                                }
                                            </div>
                                            <p class="review-card__author-name">Ranjan B.</p>
                                            <p class="review-card__date">
                                                3 days ago
                                            </p>
                                        </div>

                                        <a class="review-card__read-more" href="" title="">
                                            Read full reivew
                                        </a>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>
                </section>

                @if (Model.IsUserReviewsAvailable && Model.PopularBikesUserReviews != null)
                {
                    @*if (Model.IsExpertReviewsAvailable && Model.ExpertReviews != null)
                        {
                            <div class="padding-top20 border-solid-bottom margin-bottom20"></div>
                        }*@
                    <section>
                        <div class="bg-white user-review-section">
                            <div class="carousel__title">
                                <h2 class="carousel-title__label">User Reviews</h2>
                                <a href="" class="view-all-btn">
                                    View all
                                </a>
                            </div>
                            @Html.Partial("~/Views/UserReview/BikesWithReviewsByMake_Mobile_New.cshtml", Model.PopularBikesUserReviews)
                        </div>
                    </section>

                }

            </div>
        </section>

        <section>
            <div data-id="images" class="bg-white section-bottom-margin overall-tabs-data model-image-section">
                <div class="carousel__title">
                    <h2 class="page__heading-h2 carousel-title__label">Royal Enfield Images</h2>
                    <a href="" class="view-all-btn">
                        View all
                    </a>
                </div>
                @Html.Partial("~/Views/Photos/_ImageCaraousel.cshtml", Model.BikeModelsPhotos)
            </div>
        </section>

        <section>
            <div data-id="videos" class="bg-white section-bottom-margin video-section overall-tabs-data">
                <div class="carousel__title">
                    <h2 class="page__heading-h2 carousel-title__label">Royal Enfield Videos</h2>
                    <a href="" class="view-all-btn">
                        View all
                    </a>
                </div>
                <ul class="video-list">
                    @for (var i = 0; i <= 3; i++)
                    {
                        <li class="video-card-container">
                            <h4 class="swiper-card__label">Pulsar SS400 New look the new FZ Series in India. Featuring a host of mechanical </h4>
                            <div class="model-card__list__video-card">
                                <div class="video-card__video-preview">
                                    <iframe width="330" height="186" src="https://www.youtube.com/embed/WDSI_AyYCtA" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video-card__desc clearfix">
                                    <div class="grid-4">
                                        <p class="font11 text-light-grey">24 Jan 2019</p>
                                    </div>
                                    <div class="grid-8 text-right">
                                        <span class="model-card__sub-title">3.6k Views</span>
                                        <span class="model-card__sub-title margin-left20">
                                            <span class="thumbsup-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
                                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g id="review-copy-6" transform="translate(-290.000000, -4233.000000)" stroke="#82888B">
                                                            <g id="Group-24" transform="translate(16.000000, 3959.000000)">
                                                                <g id="Group-20">
                                                                    <g id="Group-23" transform="translate(0.000000, 32.000000)">
                                                                        <g id="Group-21">
                                                                            <g id="Group-33" transform="translate(4.000000, 242.000000)">
                                                                                <g id="Group-32" transform="translate(271.000000, 0.000000)">
                                                                                    <g id="Group-31" transform="translate(0.000000, 1.000000)">
                                                                                        <g id="Page-1">
                                                                                            <path d="M2.48373667,11.1808992 C2.48373667,11.1808992 3.527745,12.5305158 5.44156167,12.3880575 C6.99343667,12.3881658 10.402795,12.3637908 10.402795,12.3637908 C10.60722,12.3336742 10.8030867,12.2302158 10.9477117,12.0530908 C11.1981783,11.7465075 11.2040283,11.2929158 10.96082,10.9804825 C10.8247533,10.8057408 10.6398283,10.6991408 10.4439617,10.6604658 L9.13323667,10.6595992" id="Stroke-1" stroke-linejoin="round" />
                                                                                            <path d="M11.1990667,8.97784333 C11.3656833,9.00882667 11.5249333,9.06732667 11.6533083,9.196785 C11.9899,9.535435 11.959675,10.2320183 11.5408583,10.5167183 C11.3516,10.6972017 10.582325,10.622235 10.4439833,10.6604767" id="Stroke-3" stroke-linejoin="round" />
                                                                                            <path d="M11.1606625,7.20007167 C11.1606625,7.20007167 11.8672125,7.19606333 12.0274375,7.32974667 C12.4877458,7.71422167 12.5576208,8.34786333 12.2188625,8.68434667 C12.0656792,8.83644667 11.8157542,8.97359667 11.6159875,8.98757167 L9.17144583,8.98952167" id="Stroke-5" stroke-linejoin="round" />
                                                                                            <path d="M9.17755583,7.18822 L11.8533892,7.20002833 C12.1614892,7.16785333 12.4136892,6.96657 12.5825808,6.79876167 C12.9213392,6.46238667 12.8042308,5.83752 12.4677475,5.49887 C12.2995058,5.32943667 12.0785058,5.244395 11.8572892,5.24352833 L7.27381417,5.22825333 C7.27381417,5.22825333 7.94233917,3.060395 7.77073917,2.51872833" id="Stroke-7" stroke-linejoin="round" />
                                                                                            <path d="M7.7982125,2.71752 C7.7982125,2.71752 8.08962917,-0.806563333 5.70337083,0.252828333 C6.28587917,2.51872833 4.76227917,5.17517 4.76227917,5.17517" id="Stroke-9" stroke-linejoin="round" />
                                                                                            <path d="M2.50637833,5.7642325 L4.90097833,5.0498825" id="Stroke-11" />
                                                                                            <path d="M2.0464925,12.9921025 L0.486059167,12.9867942 C0.246750833,12.9860358 0.0533758333,12.7913608 0.0541341667,12.5520525 L0.0802425,4.7933275 C0.0810008333,4.55401917 0.275675833,4.36064417 0.514984167,4.36151083 L2.07552583,4.36671083 C2.31483417,4.3675775 2.50810083,4.5622525 2.5073425,4.80156083 L2.4813425,12.5602858 C2.48047583,12.7995942 2.28580083,12.9928608 2.0464925,12.9921025 Z" id="Stroke-13" />
                                                                                        </g>
                                                                                    </g>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                            9,904
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="video-list__more-btn-content">
                    <input type="button" class="btn btn-inv-blue" value="Load More">
                </div>
            </div>

        </section>
    </div>
</section>

<section>
    <div class="content--inner-padding bg-white section-bottom-margin">
        <h2 class="page__heading-h2">Used Royal Enfield Bikes</h2>
        <div class="other-model-list__content">
            <ul class="other-model__list">
                <li class="other-model-list__item">
                    <a href="" title="" class="other-model-card__target">
                        <div class="other-model-card__image">
                            <img src="https://imgd.aeplcdn.com//310x174//bw/models/honda-cb-hornet-160r.jpg?20161209185003&q=75" alt="" title="">
                        </div>
                        <div class="other-model-card__detail">
                            <h3 class="other-model-card__name">Royal Enfield Bikes</h3>
                            <p class="other-model-card__count">3 Bikes</p>
                            <p class="other-model-card__price">&#x20b9;&nbsp;20,000 Onwards</p>
                        </div>
                        <span class="other-model-card__arrow"></span>
                    </a>
                </li>
                <li class="other-model-list__item">
                    <a href="" title="" class="other-model-card__target">
                        <div class="other-model-card__image">
                            <img src="https://imgd.aeplcdn.com//310x174//bw/models/honda-cb-hornet-160r.jpg?20161209185003&q=75" alt="" title="">
                        </div>
                        <div class="other-model-card__detail">
                            <h3 class="other-model-card__name">Royal Enfield Bikes</h3>
                            <p class="other-model-card__count">3 Bikes</p>
                            <p class="other-model-card__price">&#x20b9;&nbsp;20,000 Onwards</p>
                        </div>
                        <span class="other-model-card__arrow"></span>
                    </a>
                </li>
                <li class="other-model-list__item">
                    <a href="" title="" class="other-model-card__target">
                        <div class="other-model-card__image">
                            <img src="https://imgd.aeplcdn.com//310x174//bw/models/honda-cb-hornet-160r.jpg?20161209185003&q=75" alt="" title="">
                        </div>
                        <div class="other-model-card__detail">
                            <h3 class="other-model-card__name">Royal Enfield Bikes Bikes</h3>
                            <p class="other-model-card__count">3 Bikes</p>
                            <p class="other-model-card__price">&#x20b9;&nbsp;20,000 Onwards</p>
                        </div>
                        <span class="other-model-card__arrow"></span>
                    </a>
                </li>
            </ul>
            <div class="other-model__btn-content">
                <a href="" class="btn btn-inv-blue other-model__more-btn">View More</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-white section-bottom-margin video-section overall-tabs-data">
        <div class="carousel__title">
            <h2 class="page__heading-h2">Other Brands</h2>
        </div>
        <div class="swiper-container carousel__related-makes" data-spacebetween="0">
            <ul class="swiper-wrapper image-card--list">
                <li class="swiper-slide carousel-slide">
                    <a href="" title="" class="related-make-card">
                        <div class="make-icon__content">
                            <span class="brandlogosprite brand-2"></span>
                        </div>
                        <div class="make-details__content">
                            <h3 class="make-details__title">Royal Enfield Bikes</h3>
                            <p class="make-details__subtitle">156 Bikes</p>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide carousel-slide">
                    <a href="" title="" class="related-make-card">
                        <div class="make-icon__content">
                            <span class="brandlogosprite brand-7"></span>
                        </div>
                        <div class="make-details__content">
                            <h3 class="make-details__title">Royal Enfield Bikes</h3>
                            <p class="make-details__subtitle">156 Bikes</p>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide carousel-slide">
                    <a href="" title="" class="related-make-card">
                        <div class="make-icon__content">
                            <span class="brandlogosprite brand-13"></span>
                        </div>
                        <div class="make-details__content">
                            <h3 class="make-details__title">Yamaha Bikes</h3>
                            <p class="make-details__subtitle">156 Bikes</p>
                        </div>
                    </a>
                </li>
                <li class="swiper-slide carousel-slide">
                    <a href="" title="" class="related-make-card">
                        <div class="make-icon__content">
                            <span class="brandlogosprite brand-23"></span>
                        </div>
                        <div class="make-details__content">
                            <h3 class="make-details__title">Husqvarna Bikes</h3>
                            <p class="make-details__subtitle">156 Bikes</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
