@model Bikewale.Models.MakePageVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/brand.css' inline />";
    Model.Page_JS_Paths = new string[] { "/src/new/bikemake.js", "/src/review-popup.js" };
    
    Model.AdTags.AdPath = "/1017752/Bikewale_NewBike_";
    Model.AdTags.AdId = "1442913773076";
    Model.AdTags.Ad_970x90 = true;
    Model.AdTags.Ad_970x90Bottom = true;
    Model.AdTags.Ad_300x250 = true;

}

<section id="makeTabsContentWrapper">
    <section class="container margin-bottom20">
        <div class="grid-12">

            <div class="content-box-shadow content-inner-block-1420">
                <div class="grid-8 alpha">
                    <h1 class="leftfloat font24 text-x-black">@Model.Page_H1</h1>
                </div>
                <div class="clear"></div>
            </div>

            @Html.Partial("~/Views/Make/_Index_Tabs.cshtml", Model)


            @if (Model.BikeDescription != null && Model.BikeDescription.FullDescription.Length > 0)
            {
                <div id="makeAboutContent" class="content-box-shadow bw-model-tabs-data  content-inner-block-2010 border-solid-bottom margin-bottom20">
                    <div class="grid-12">
                        <p class="font14 text-light-grey line-height17">
                            <span class="preview-main-content">
                                @Bikewale.Utility.FormatDescription.TruncateDescription(Model.BikeDescription.FullDescription, 400)
                            </span>
                            <span class="preview-more-content hide" style="display: none;">
                                @Html.Raw(Model.BikeDescription.FullDescription)
                            </span>
                            @if (Model.BikeDescription.FullDescription.Length > 400)
                            {
                                <a href="javascript:void(0)" class="read-more-bike-preview" rel="nofollow">Read more</a>
                            }
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            }
            @if (Model.Bikes != null && Model.Bikes.Count() > 0)
            {
                <section id="bikeMakeList" class="bw-model-tabs-data">
                    <div class="content-box-shadow content-inner-block-1420">
                        <div class="grid-8 alpha">
                            <h2 class="leftfloat text-x-black">@string.Format("{0} Bikes Prices in  India", Model.MakeName)</h2>
                        </div>
                        <div class="grid-4 rightfloat omega font14" id="sortByContainer">
                            <div class="leftfloat sort-by-text text-light-grey margin-left50">
                                <p>Sort by:</p>
                            </div>
                            <div class="rightfloat">
                                <div class="sort-div rounded-corner2">
                                    <div class="sort-by-title" id="sort-by-container">
                                        <span class="leftfloat sort-select-btn text-truncate">@Model.SelectedSortingText</span>
                                        <span class="clear"></span>
                                    </div>
                                    <span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
                                </div>
                                <div class="sort-selection-div sort-list-items hide">
                                    <ul id="sortbike">
                                        <li id="0" class="@(Model.SelectedSortingId == 0 ? "selected" : "")">Price: Low to High</li>
                                        <li id="1" class="@(Model.SelectedSortingId == 1 ? "selected" : "")">Popular</li>
                                        <li id="2">Price: High to Low</li>
                                        <li id="3">Mileage: High to Low</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-box-shadow padding-top25 padding-left20 rounded-corner2 inner-content-card">

                        @if (Model.Bikes != null && Model.Bikes.Count() > 0)
                        {

                            <ul id="listitems" class="listitems">
                                @foreach (var bike in Model.Bikes)
                                {
                                    var modelUrl = Bikewale.Utility.UrlFormatter.BikePageUrl(bike.objMake.MaskingName, bike.objModel.MaskingName);
                                    var bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
                                    <li class="front" data-price="@bike.VersionPrice" data-mileage="@bike.Specs.FuelEfficiencyOverall" data-popularity="@bike.BikePopularityIndex" data-bike="@bikeName">
                                        <div class="contentWrapper">
                                            <div class="imageWrapper">
                                                <a class="modelurl" href='@modelUrl'>
                                                    <img src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" title="@bikeName" alt="@bike.objModel.ModelName" />
                                                </a>
                                            </div>
                                            <div class="bikeDescWrapper">
                                                <h3 class="bikeTitle margin-bottom10"><a class="modelurl" href='@modelUrl'>@bikeName</a></h3>
                                                <div class="text-xt-light-grey font14 margin-bottom15">
                                                    @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecs(Convert.ToString(bike.Specs.Displacement), Convert.ToString(bike.Specs.FuelEfficiencyOverall), Convert.ToString(bike.Specs.MaxPower), Convert.ToString(bike.Specs.KerbWeight)))
                                                </div>
                                                @if (bike.ExShowroomPrice > 0)
                                                {
                                                    <div class="font14 text-light-grey margin-bottom5">@string.Format("Ex-showroom, {0}", Model.City.CityId == 0 ? Bikewale.Utility.BWConfiguration.Instance.DefaultName : Model.City.City)</div>
                                                }
                                                else
                                                {
                                                    <div class="font14 text-light-grey margin-bottom5">
                                                        <span class="margin-right5">Avg. Ex-showroom price</span>
                                                        <span class="bwsprite info-icon tooltip-icon-target tooltip-top">
                                                            <span class="bw-tooltip info-tooltip">
                                                                <span class="bw-tooltip-text">Price is not available in @Model.City.City</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                }
                                                <div class="text-bold">
                                                    @if (bike.AvgPrice == 0)
                                                    { @Html.Raw("<span class='font16'>Price Unavailable</span>");
                                                    }
                                                    else
                                                    { @Html.Raw(String.Format(" <span class='font18'>&#x20B9;</span>&nbsp;<span class='font18'>{0}</span><span class='font14'> onwards</span>", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.ExShowroomPrice > 0 ? bike.ExShowroomPrice : bike.AvgPrice))));
                                                    }
                                                </div>
                                                @if (bike.VersionPrice > 0 && Model.ShowCheckOnRoadpriceBtn)
                                                {
                                                    <a rel="nofollow" href="Javascript:void(0)" data-pagecatid="1" data-pqsourceid="@((int)Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_MakePage)" data-makename="@bike.objMake.MakeName" data-modelname="@bike.objModel.ModelName" data-modelid="@bike.objModel.ModelId" class="btn btn-grey btn-sm margin-top15 font14 getquotation">Check on-road price</a>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </section>
            }

        </div>
        <div class="clear"></div>
    </section>
    @if (Model.IsUpComingBikesAvailable)
    {
        <section>
            <div id="makeUpcomingBikesContent" class="bw-model-tabs-data container margin-bottom20">
                <div class="grid-12">
                    <div class="content-box-shadow padding-top20 padding-bottom25">
                        <div class="carousel-heading-content">
                            <div class="swiper-heading-left-grid inline-block">
                                <h2>Upcoming @Model.MakeName Bikes</h2>
                            </div>
                            <div class="swiper-heading-right-grid inline-block text-right">
                                <a href="/@Model.MakeMaskingName-bikes/upcoming/" title="Upcoming Bikes in India" class="btn view-all-target-btn">View all</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/Views/Upcoming/_UpcomingBikes.cshtml", Model.UpcomingBikes)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }
    @if (Model.IsCompareBikesAvailable || Model.OtherMakes != null)
    {
        <div id="popularComparisonAndOtherBrands" class="bw-model-tabs-data">
            @if (Model.IsCompareBikesAvailable)
            {
                <section id="popularComparison">
                    <div class="container section-bottom-margin">
                        <div class="grid-12">
                            <div class="content-box-shadow padding-top20 padding-bottom5">
                                <div class="carousel-heading-content">
                                    <div class="swiper-heading-left-grid inline-block">
                                        <h2>Popular Comparison of @Model.MakeName Bikes</h2>
                                    </div>
                                    <div class="swiper-heading-right-grid inline-block text-right">
                                        <a href="/comparebikes/" title="View more comparisons" class="btn view-all-target-btn">View all</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/CompareBikes/_SimilarComparisons.cshtml", Model.CompareSimilarBikes)
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
            }


            @if (Model.OtherMakes != null)
            {
                <section>
                    <div class="container section-bottom-margin">
                        <div class="grid-12">
                            <div class="content-box-shadow padding-top20 padding-bottom20">
                                <div class="carousel-heading-content">
                                    <div class="swiper-heading-left-grid inline-block">
                                        <span class="font16 text-semibold text-black">Other popular brands</span>
                                    </div>
                                    <div class="swiper-heading-right-grid inline-block text-right">
                                        <a href="/new-bikes-in-india/" title="New Bikes in India" class="btn view-all-target-btn">View all</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/Make/_BrandsModelCount.cshtml", Model.OtherMakes)
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
            }
        </div>
    }

    @if (Model.IsDealerServiceDataAvailable || (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0))
    {

        <div id="dealerAndServiceContent" class="bw-model-tabs-data">
            @if (Model.IsDealerAvailable)
            {
                <section>
                    <div class="container font14">
                        <div class="grid-12 section-bottom-margin">
                            <div id="makeDealersContent" class="content-box-shadow padding-top20">
                                <div class="carousel-heading-content">
                                    <div class="swiper-heading-left-grid inline-block">
                                        <h2>@Model.MakeName showrooms in @Model.Location</h2>
                                    </div>
                                    <div class="swiper-heading-right-grid inline-block text-right">
                                        <a href="/dealer-showrooms/@Model.MakeMaskingName/@Model.LocationMasking/" title="@Model.MakeName showrooms in @Model.Location" class="btn view-all-target-btn">View all</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                @Html.Partial("~/Views/DealerShowroom/_DealerCard.cshtml", Model.Dealers)
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
            }
            else if (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0)
            {
                <section>
                    <div class="container font14">
                        <div class="grid-12 section-bottom-margin">
                            <div class="content-box-shadow padding-bottom20">
                                <div class="content-inner-block-20">
                                    <div class="grid-9 inline-block margin-right-4 alpha">
                                        <span class="bwsprite dealer-grey"></span>
                                        <h2 class="font18 margin-bottom10 inline-block padding-left10">@Model.MakeName showroom@(Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount == 1 ? "" : "s")</h2>
                                        <div class="grid-11 alpha">
                                            @{
                                                var showroomText = (Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount == 1 ? "showroom" : "showrooms");
                                            }
                                            <p class="font14 text-slate-grey">There @(Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount == 1 ? "is" : "are") @Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount @Model.MakeName @showroomText across @Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalCitiesCount @(Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount == 1 ? "city" : "cities") in India. Select your city to find address, & contact details of @Model.MakeName @showroomText near you.</p>
                                        </div>
                                    </div>

                                    <div class="grid-3 omega inline-block padding-top20">
                                        <a href="javascript:void(0)" id="changeCity" data-makemasking="@Model.MakeMaskingName" class="btn changepriceincitypage btn-orange btn-200-32 " rel="nofollow">Select your city</a>
                                        @Html.Partial("~/Views/PopUp/BikeCityPopup.cshtml", @Model.BikeCityPopup)
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="margin-right20 margin-bottom20 margin-left20 border-solid-bottom"></div>
                                <h3 class="margin-right20 margin-bottom20 margin-left20">@Model.MakeName showrooms</h3>
                                @Html.Partial("~/Views/PopularCityWidget/DealerServiceCenterInTopCityWidget.cshtml", Model.DealersServiceCenterPopularCities)
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
            }
        </div>
    }

    @if (Model.IsMakeTabsDataAvailable)
    {
        <section class="container">
            <div class="grid-12 margin-bottom20 content-details-wrapper">
                <div class="content-box-shadow">
                    <!-- news control starts here -->
                    @if (Model.IsNewsAvailable)
                    {
                        <div id="modelNewsContent" class="bw-model-tabs-data margin-right10 margin-left10 content-inner-block-2010 border-solid-bottom font14">
                            <h2 class="margin-bottom20">@Model.News.Title</h2>
                            @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)
                            <div class="more-article-target view-all-btn-container">
                                <a href="@Bikewale.Utility.UrlFormatter.FormatNewsUrl(Model.News.MakeMasking, Model.News.ModelMasking)" title="@(!string.IsNullOrEmpty(Model.News.ModelMasking) ? string.Format("{0} {1} News", Model.News.MakeName, Model.News.ModelName) : (!string.IsNullOrEmpty(Model.News.MakeMasking) ? string.Format("{0} News", Model.News.MakeName) : "Bikes News"))"
                                   class="btn view-all-target-btn">Read all news<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }
                    <!-- news control ends here -->
                    @if (Model.IsExpertReviewsAvailable || Model.IsUserReviewsAvailable)
                    {
                        <div id="makeReviewsContent" class="bw-model-tabs-data margin-right10 margin-left10 padding-top20 padding-bottom20 border-solid-bottom font14">
                            <h2 class="padding-left10 padding-right10">@Model.MakeName Reviews</h2>

                            @if (Model.IsExpertReviewsAvailable && Model.ExpertReviews != null)
                            {
                                <h3 class="padding-left10 padding-right10">Expert Reviews</h3>
                                @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)
                                <div class="padding-left10 more-article-target view-all-btn-container">
                                    <a title="@Model.ExpertReviews.LinkTitle" href="@Model.ExpertReviews.MoreExpertReviewUrl" class="btn view-all-target-btn">Read all reviews<span class="bwsprite teal-right"></span></a>
                                </div>

                            }

                            <!-- User reviews starts here-->
                            @if (Model.IsUserReviewsAvailable && Model.PopularBikesUserReviews != null)
                            {
                                if (Model.IsExpertReviewsAvailable && Model.ExpertReviews != null)
                                {
                                    <div class="padding-top20 border-solid-bottom margin-bottom20"></div>
                                }
                                <div>
                                    <h3 class="padding-left10 padding-right10">User Reviews</h3>
                                    @Html.Partial("~/Views/UserReview/BikesWithReviewsByMake.cshtml", Model.PopularBikesUserReviews)
                                </div>
                            }
                        </div>
                    }
                    @if (Model.IsVideosAvailable)
                    {
                        <div id="makeVideosContent" class="bw-model-tabs-data margin-right10 margin-left10 padding-top20 padding-bottom20 border-solid-bottom font14">
                            <h2 class="padding-right10 padding-left10">@Model.MakeName Videos</h2>
                            @Html.Partial("~/Views/Videos/_RecentVideos.cshtml", Model.Videos)
                            <div class="padding-left10 more-article-target view-all-btn-container">
                                <a title="@Model.Videos.LinkTitle" href="@Model.Videos.MoreVideoUrl" class="btn view-all-target-btn">View all videos<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }


                    @if (Model.IsUsedModelsBikeAvailable)
                    {
                        <div id="makeUsedBikeContent" class="bw-model-tabs-data">
                            <div class="carousel-heading-content padding-top20">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>Second-hand @Model.MakeName bikes in @Model.Location</h2>
                                </div>
                                <div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/used/@Model.MakeMaskingName-bikes-in-@Model.LocationMasking/" title="Second-hand Bikes in @Model.Location" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="padding-bottom20">
                                @Html.Partial("~/Views/Used/_UsedBikesByModel.cshtml", Model.UsedModels)
                            </div>
                        </div>
                    }
                    <div id="overallMakeDetailsFooter"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
    }
</section>


@if (Model.IsDiscontinuedBikeAvailable)
{
    <section>
        <div class="container">
            <div class="grid-12">
                <div id="discontinuedModels">
                    <div class="content-inner-block-10 margin-bottom20 font14">
                        <div id="discontinuedLess">
                            Discontinued @Model.MakeName models: - <span id="spnContent"></span>
                        </div>
                        <div id="discontinuedMore">
                            Discontinued @Model.MakeName models: -
                            @foreach (var bike in Model.DiscontinuedBikes)
                            {
                                <a title="@bike.BikeName" href="@bike.Href">@bike.BikeName</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

@if (Model.IsFooterDescriptionAvailable)
{
    <!-- Footer widget starts here-->
    <section>
        <div class="container">
            <div class="grid-12">
                @Html.Partial("~/Views/Make/MakeFooterCategoriesandPrice.cshtml", Model.SubFooter)
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <!-- Footer widget ends-->
}


@if (Model.IsUserReviewsAvailable && Model.PopularBikesUserReviews != null)
{
    <!-- Make review popup-->
    <div id="reviewPopup" class="review-popup hide" data-csslink="@String.Format("{0}/sass/partials/review-popup.css?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFrameworkFileVersion)"></div>
    <!-- make review popup ends-->
}
    <script type="text/javascript">
        var suggestionText = "@Model.MakeName".concat(" Bikes");
        var pageData = {
            label: suggestionText,
            payload : {
                makeId: "@Model.MakeId",
                modelId : "0",
                makeMaskingName : "@Model.MakeMaskingName",
                modelMaskingName : "",
                futuristic : "False",
                isNew: "@(Model.Bikes!= null && Model.Bikes.Count() > 0)",
                userRatingsCount: "0",
                expertReviewsCount: "0"
            },
            value: suggestionText
        };

    </script>

