@model Bikewale.Models.MakePageVM
@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/bwm-brand.css' />";
    Model.Page_JS_Path = "/m/src/bwm-brand.js";
    Model.AdTags.AdPath = "/1017752/Bikewale_NewBike_";
    Model.AdTags.AdId = "1442913773076";
    Model.AdTags.Ad320x150_Top = true;
    Model.AdTags.Ad320x150_Bottom = true;
}

<section>
    <div id="bikeByMakesListing" class="container bg-white margin-bottom20">
        <div>
            <div class="hide" id="sort-by-div">
                <div class="filter-sort-div font14 bg-white">
                    <div sc="1" so="">
                        <a data-title="sort" class="price-sort position-rel text-bold">
                            Price <span class="hide" so="0" class="sort-text ">: Low</span>
                        </a>
                    </div>
                    <div sc="" class="border-solid-left">
                        <a data-title="sort" class="position-rel">
                            Popularity
                        </a>
                    </div>
                    <div sc="2" class="border-solid-left">
                        <a data-title="sort" class="position-rel">
                            Mileage
                        </a>
                    </div>
                </div>
            </div>

            <div class="bg-white box-shadow content-inner-block-1520">
                <h1>@Model.MakeName Bikes</h1>
            </div>
            <div class="search-bike-container position-rel pos-top3 box-shadow">
                <div class="search-bike-item">
                    <ul id="listitems" class="listitems">
                        @foreach (var bike in Model.Bikes)
                        {
                            var modelUrl = Bikewale.Utility.UrlFormatter.BikePageUrl(bike.MakeMaskingName, bike.objModel.MaskingName);
                            var bikeName = string.Format("{0} {1}", bike.MakeName, bike.objModel.ModelName);

                            <li class="front" data-price="@bike.VersionPrice" data-mileage="@bike.Specs.FuelEfficiencyOverall" data-popularity="@bike.BikePopularityIndex">
                                <div class="border-top1 margin-left20 margin-right20 padding-top20"></div>
                                <div class="contentWrapper">
                                    <div class="imageWrapper">
                                        <a class="modelurl" href='@modelUrl'>
                                            <img src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._310x174)" title="@bikeName" alt="@bike.objModel.ModelName" />
                                        </a>
                                    </div>
                                    <div class="bikeDescWrapper">
                                        <div class="bikeTitle margin-bottom10">
                                            <h3>
                                                <a class="modelurl text-bold" title="@bike.BikeName" href='/m@modelUrl'>@bikeName</a>
                                            </h3>
                                        </div>
                                        <div class="font14 text-x-light margin-bottom10">
                                            @Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecs(Convert.ToString(bike.Specs.Displacement), Convert.ToString(bike.Specs.FuelEfficiencyOverall), Convert.ToString(bike.Specs.MaxPower), Convert.ToString(bike.Specs.KerbWeight)))
                                        </div>
                                        <div class="margin-bottom5 font14 text-light-grey">Ex-showroom, @Bikewale.Utility.BWConfiguration.Instance.DefaultName</div>
                                        <div class="margin-bottom5">
                                            <span class="bwmsprite inr-sm-icon" style="@string.Format("{0}", bike.VersionPrice > 0  ? "display:inline-block;" : "display:none;")"></span>
                                            <span class="text-bold font18">@Html.Raw(string.Format("{0}", bike.VersionPrice > 0 ? string.Format("{0} <span class='font14'> onwards</span>", Bikewale.Utility.Format.FormatPrice(bike.VersionPrice.ToString())) : "Price unavailable"))</span>
                                        </div>
                                        <a href="javascript:void(0)" data-makename="@bike.MakeName" data-modelname="@bike.objModel.ModelName" data-modelid="@bike.objModel.ModelId" data-pagecatid="1" data-pqsourceid="@((int)Bikewale.Entities.PriceQuote.PQSourceEnum.Mobile_MakePage)" class="btn btn-sm btn-white font14 margin-top10 getquotation" rel="nofollow">Check on-road price</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div id="listItemsFooter"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<section id="bikeByMakesUpcoming" class="bg-white margin-bottom20">
    @if (Model.IsUpComingBikesAvailable)
    {
        <div class="container box-shadow padding-top20 padding-bottom20">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>Upcoming @Model.MakeName bikes</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="/m/@Model.MakeMaskingName-bikes/upcoming/" title="Upcoming @Model.MakeName Bikes in India" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Mobile.cshtml", Model.UpcomingBikes)
        </div>
    }
</section>

@if (Model.IsMakeTabsDataAvailable)
{
    <section>
        <div id="makeTabsContentWrapper" class="container bg-white clearfix box-shadow margin-bottom20 content-details-wrapper">
            <div id="makeOverallTabsWrapper">
                <div id="overallSpecsTab" class="overall-specs-tabs-container">
                    <ul class="overall-specs-tabs-wrapper">
                        @if (Model.BikeDescription != null && Model.BikeDescription.FullDescription.Length > 0)
                        {
                            <li data-tabs="#makeAboutContent">About</li>
                        }
                        @if (Model.IsNewsAvailable)
                        {
                            <li data-tabs="#makeNewsContent">News</li>
                        }
                        @if (Model.IsExpertReviewsAvailable)
                        {
                            <li data-tabs="#makeReviewsContent">Reviews</li>
                        }
                        @if (Model.IsVideosAvailable)
                        {
                            <li data-tabs="#makeVideosContent">Videos</li>
                        }
                        @if (Model.IsDealerServiceDataAvailable || Model.IsDealerServiceDataInIndiaAvailable)
                        {
                            <li data-tabs="#makeDealersContent">
                                Dealers & Service Centers
                            </li>
                        }
                        @if (Model.IsUsedModelsBikeAvailable)
                        {
                            <li data-tabs="#makeUsedBikeContent">Used</li>
                        }
                    </ul>
                </div>
            </div>

            @if (Model.BikeDescription != null && Model.BikeDescription.FullDescription.Length > 0)
            {
                <div id="makeAboutContent" class="bw-model-tabs-data padding-top15 padding-bottom15 border-solid-bottom">
                    <div class="margin-bottom20 padding-right20 padding-left20">
                        <h2 class="text-bold">About @Model.MakeName</h2>
                        <p class="font14 text-light-grey line-height17 margin-bottom15">
                            <span class="model-preview-main-content">
                                @Bikewale.Utility.FormatDescription.TruncateDescription(Model.BikeDescription.FullDescription, 700)
                            </span>
                            <span class="model-preview-more-content">
                                @Html.Raw(Model.BikeDescription.FullDescription)
                            </span>
                            @if (Model.BikeDescription.FullDescription.Length > 700)
                            {
                                <a href="javascript:void(0)" class="read-more-model-preview" rel="nofollow">Read more</a>
                            }
                        </p>
                    </div>
                    <div class="margin-bottom20 text-center">
                        @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad300x250.cshtml", new { AdId = Model.AdTags.AdId });}
                    </div>
                </div>
            }

            @if (Model.IsNewsAvailable)
            {
                <div id="makeNewsContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14">
                    <h2 class="text-bold">@Model.MakeName News</h2>
                    @Html.Partial("~/Views/News/_RecentNews_Mobile.cshtml", Model.News)
                </div>
            }
            @if (Model.IsExpertReviewsAvailable)
            {
                <div id="makeReviewsContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14">
                    <h2 class="text-bold">@Model.MakeName Reviews</h2>
                    <h3 class="model-section-subtitle">Expert Reviews</h3>
                    @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews_Mobile.cshtml", Model.ExpertReviews)
                </div>
            }
            @if (Model.IsVideosAvailable)
            {
                <div id="makeVideosContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top15 padding-bottom20 border-solid-bottom font14">
                    <h2 class="text-bold">@Model.MakeName Videos</h2>
                    @Html.Partial("~/Views/Videos/_RecentVideos_Mobile.cshtml", Model.Videos)
                </div>
            }
            @if (Model.IsDealerServiceDataAvailable || Model.IsDealerServiceDataInIndiaAvailable)
            {
                <div id="makeDealersContent" class="bw-model-tabs-data">
                    @if (Model.IsDealerAvailable)
                    {
                        <div class="padding-bottom20 padding-top15 font14">
                            <div class="carousel-heading-content">
                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>@Model.MakeName showrooms in @Model.Location</h2>
                                </div>
                                <div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/m/@Model.MakeMaskingName-dealer-showrooms-in-@Model.LocationMasking/" title="@Model.MakeName Showrooms in @Model.Location" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.Partial("~/Views/DealerShowroom/_DealerCard_Mobile.cshtml", Model.Dealers)
                        </div>
                    }
                    @if (Model.IsServiceDataAvailable)
                    {
                        <div class="padding-bottom20 padding-top15 font14">
                            <div class="carousel-heading-content">

                                <div class="swiper-heading-left-grid inline-block">
                                    <h2>@Model.MakeName service centers in @Model.Location</h2>
                                </div>
                                <div class="swiper-heading-right-grid inline-block text-right">
                                    <a href="/m/@Model.MakeMaskingName-service-center-in-@Model.LocationMasking/" title="@Model.MakeName Service Centers in @Model.Location" class="btn view-all-target-btn">View all</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="swiper-container card-container dealer-horizontal-swiper">
                                <div class="swiper-wrapper">
                                    @Html.Partial("~/Views/ServiceCenters/_ServiceCentersCard_Mobile.cshtml", Model.ServiceCenters)
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.IsDealerServiceDataInIndiaAvailable)
                    {
                        <div class="padding-bottom20 padding-top15 font14">
                            <h2 class="padding-right20 padding-left20">@Model.MakeName Showrooms & Service Centers </h2>
                            @Html.Partial("~/Views/DealerShowroom/_DealersServiceCentersInIndia_Mobile.cshtml", Model.DealersServiceCenter)
                        </div>
                    }
                </div>
            }

            @if (Model.IsUsedModelsBikeAvailable)
            {
                <div id="makeUsedBikeContent" class="bw-model-tabs-data  padding-top15">
                    <div class="carousel-heading-content">
                        <div class="swiper-heading-left-grid inline-block">
                            <h2>Used @Model.MakeName bikes in @Model.UsedModels.Location</h2>
                        </div>
                        <div class="swiper-heading-right-grid inline-block text-right">
                            <a href="/m/used/@Model.MakeMaskingName-bikes-in-@Model.UsedModels.LocationMasking/" title="Second Hand @Model.MakeName Bikes in @Model.UsedModels.Location" class="btn view-all-target-btn">View all</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @Html.Partial("~/Views/Used/_UsedBikesByModel_Mobile.cshtml", Model.UsedModels)
                </div>
            }
            <div id="makeSpecsFooter"></div>
        </div>
    </section>

}
@if (Model.IsDiscontinuedBikeAvailable)
{
    <section>
        <div class="container">
            <div class="content-inner-block-10 margin-bottom30">
                <div id="discontinuedModels" style="display: block;">
                    <div id="discontinuedLess">
                        Discontinued @Model.MakeName models: - <span id="spnContent"></span>
                    </div>
                    <div id="discontinuedMore">
                        Discontinued @Model.MakeName models: -
                        @foreach (var bike in Model.DiscontinuedBikes)
                        {
                            <a title="@bike.BikeName" href="/m/@bike.Href">@bike.BikeName</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}