@model Bikewale.Models.MakePageVM
@using Bikewale.Entities.BikeData
@using Bikewale.BAL.ApiGateway.Entities.BikeData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/brand.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/m-brand-logo.css' inline /> <link rel='stylesheet' type='text/css' href='/sass/partials/photo-grid-carousel.css' inline />";
    Model.Page_JS_Paths = new string[] { "/src/new/bikemake.js", "/src/review-popup.js" };

}

<section id="makeTabsContentWrapper">
    <section class="container margin-bottom20">
        <div class="padding-left10 margin-bottom15">
            <h1 class="font24 text-x-black">@Model.Page_H1</h1>
        </div>
        <div class="grid-8">
            @Html.Partial("~/Views/Make/_Index_Tabs.cshtml", Model)


            @if (Model.BikeDescription != null && Model.BikeDescription.FullDescription.Length > 0)
            {
                <div id="makeAboutContent" class="content-box-shadow bw-model-tabs-data  content-inner-block-2010 border-solid-bottom margin-bottom20">
                    <div class="grid-12">
                        <p class="font14 text-light-grey line-height17">
                            <span class="preview-main-content">
                                @Bikewale.Utility.FormatDescription.TruncateDescription(Model.BikeDescription.FullDescription, 400)
                            </span>
                            <span class="preview-more-content hide" style="display: none;">
                                @Html.Raw(Model.BikeDescription.FullDescription)
                            </span>
                            @if (Model.BikeDescription.FullDescription.Length > 400)
                            {
                                <a href="javascript:void(0)" class="read-more-bike-preview" rel="nofollow">Read more</a>
                            }
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            }
            @if (Model.Bikes != null && Model.Bikes.Count() > 0)
            {
                <section id="bikeMakeList" class="bw-model-tabs-data">
                    <div class="content-box-shadow content-inner-block-1420">
                        <div class="grid-6 alpha">
                            <h2 class="leftfloat text-x-black">@string.Format("{0} Bikes Prices in  India", Model.MakeName)</h2>
                        </div>
                        <div class="grid-6 rightfloat omega font14" id="sortByContainer">
                            <div class="leftfloat sort-by-text text-light-grey margin-left50">
                                <p>Sort by:</p>
                            </div>
                            <div class="rightfloat">
                                <div class="sort-div rounded-corner2">
                                    <div class="sort-by-title" id="sort-by-container">
                                        <span class="leftfloat sort-select-btn text-truncate">@Model.SelectedSortingText</span>
                                        <span class="clear"></span>
                                    </div>
                                    <span id="upDownArrow" class="rightfloat fa fa-angle-down position-abt pos-top15 pos-right10"></span>
                                </div>
                                <div class="sort-selection-div sort-list-items hide">
                                    <ul id="sortbike">
                                        <li id="0" class="@(Model.SelectedSortingId == 0 ? "selected" : "")">Price: Low to High</li>
                                        <li id="1" class="@(Model.SelectedSortingId == 1 ? "selected" : "")">Popular</li>
                                        <li id="2">Price: High to Low</li>
                                        <li id="3">Mileage: High to Low</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-box-shadow padding-top25 padding-left20 rounded-corner2 inner-content-card section-bottom-margin">

			@if (Model.Bikes != null && Model.Bikes.Count() > 0)
			{
			<ul id="listitems" class="listitems">
				@foreach (var bike in Model.Bikes)
				{
					var modelUrl = Bikewale.Utility.UrlFormatter.BikePageUrl(bike.objMake.MaskingName, bike.objModel.MaskingName);
					var bikeName = string.Format("{0} {1}", bike.objMake.MakeName, bike.objModel.ModelName);
					var mileage = "0";
					if (bike.MinSpecsList != null)
					{
						SpecsItem specItem = bike.MinSpecsList.FirstOrDefault(s => s.Id == (int)EnumSpecsFeaturesItems.FuelEfficiencyOverall);
						if (specItem != null)
						{
							mileage = specItem.Value;
						}
					}
					<li class="front" data-price="@bike.VersionPrice" data-mileage="@mileage" data-popularity="@bike.BikePopularityIndex" data-bike="@bikeName">
						<div class="contentWrapper">
							<div class="imageWrapper">
								<a class="modelurl" href='@modelUrl'>
									<img src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath, bike.HostURL, Bikewale.Utility.ImageSize._310x174, Bikewale.Utility.QualityFactor._75)" title="@bikeName" alt="@bike.objModel.ModelName" />
								</a>
							</div>
							<div class="bikeDescWrapper">
								<h3 class="bikeTitle margin-bottom10"><a class="modelurl" href='@modelUrl'>@bikeName</a></h3>
								<div class="text-xt-light-grey font14 margin-bottom15">
									@Html.Raw(Bikewale.Utility.FormatMinSpecs.GetMinSpecsSpanElements(bike.MinSpecsList))
								</div>
								@if (bike.ExShowroomPrice > 0)
								{
									<div class="font14 text-light-grey margin-bottom5">@string.Format("Ex-showroom, {0}", Model.City.CityId == 0 ? Bikewale.Utility.BWConfiguration.Instance.DefaultName : Model.City.City)</div>
								}
								else
								{
									<div class="font14 text-light-grey margin-bottom5">
										<span class="margin-right5">Avg. Ex-showroom price</span>
										<span class="bwsprite info-icon tooltip-icon-target tooltip-top">
											<span class="bw-tooltip info-tooltip">
												<span class="bw-tooltip-text">Price is not available in @Model.City.City</span>
											</span>
										</span>
									</div>
								}
								<div class="text-bold">
									@if (bike.AvgPrice == 0)
									{ @Html.Raw("<span class='font16'>Price Unavailable</span>");
									}
									else
									{ @Html.Raw(String.Format(" <span class='font18'>&#x20B9;</span>&nbsp;<span class='font18'>{0}</span><span class='font14'> onwards</span>", Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.ExShowroomPrice > 0 ? bike.ExShowroomPrice : bike.AvgPrice))));
									}
								</div>
								@if (bike.VersionPrice > 0)
								{
									<a rel="nofollow" href="Javascript:void(0)" data-pagecatid="1" data-pqsourceid="@((int)Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_MakePage)" data-makename="@bike.objMake.MakeName" data-modelname="@bike.objModel.ModelName" data-modelid="@bike.objModel.ModelId" class="btn btn-grey btn-sm margin-top15 font14 getquotation">Check on-road price</a>
								}
							</div>
						</div>
					</li>
				}
			</ul>
			}
			</div>

                </section>
            }


            @if (Model.IsCompareBikesAvailable || Model.OtherMakes != null)
            {
                <div id="popularComparisonAndOtherBrands" class="bw-model-tabs-data">
                    @if (Model.IsCompareBikesAvailable)
                    {
                        <section id="popularComparison">
                            <div class="section-bottom-margin">
                                <div class="content-box-shadow padding-top20 padding-bottom5">
                                    <div class="carousel-heading-content">
                                        <div class="swiper-heading-left-grid inline-block">
                                            <h2>Popular Comparison of @Model.MakeName Bikes</h2>
                                        </div>
                                        <div class="swiper-heading-right-grid inline-block text-right">
                                            <a href="/comparebikes/" title="View more comparisons" class="btn view-all-target-btn">View all</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    @Html.Partial("~/Views/CompareBikes/_SimilarComparisons.cshtml", Model.CompareSimilarBikes)
                                </div>
                            </div>
                        </section>
                    }


                </div>
            }

            @if (Model.IsMakeTabsDataAvailable)
            {
                <section>
                    <div class="margin-bottom20 content-details-wrapper">
                        <div class="content-box-shadow">
                            <!-- news control starts here -->
                            @if (Model.IsNewsAvailable)
                            {
                                <div id="modelNewsContent" class="bw-model-tabs-data margin-right10 margin-left10 content-inner-block-2010 border-solid-bottom font14 article--text-wrap">
                                    <h2 class="margin-bottom20">@Model.News.Title</h2>
                                    @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)
                                    <div class="more-article-target view-all-btn-container">
                                        <a href="@Bikewale.Utility.UrlFormatter.FormatNewsUrl(Model.News.MakeMasking, Model.News.ModelMasking)" title="@(!string.IsNullOrEmpty(Model.News.ModelMasking) ? string.Format("{0} {1} News", Model.News.MakeName, Model.News.ModelName) : (!string.IsNullOrEmpty(Model.News.MakeMasking) ? string.Format("{0} News", Model.News.MakeName) : "Bikes News"))"
                                           class="btn view-all-target-btn">Read all news<span class="bwsprite teal-right"></span></a>
                                    </div>
                                </div>
                            }
                            <!-- news control ends here -->
                            @if (Model.IsExpertReviewsAvailable || Model.IsUserReviewsAvailable)
                            {
                                <div id="makeReviewsContent" class="bw-model-tabs-data margin-right20 margin-left20 padding-top20 padding-bottom20 border-solid-bottom font14 article--text-wrap">
                                    <h2>@Model.MakeName Reviews</h2>

                                    @if (Model.IsExpertReviewsAvailable && Model.ExpertReviews != null)
                                    {
                                        <h3>Expert Reviews</h3>
                                        @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)
                                        <div class="more-article-target view-all-btn-container">
                                            <a title="@Model.ExpertReviews.LinkTitle" href="@Model.ExpertReviews.MoreExpertReviewUrl" class="btn view-all-target-btn">Read all reviews<span class="bwsprite teal-right"></span></a>
                                        </div>

                                    }

                                    <!-- User reviews starts here-->
                                    @if (Model.IsUserReviewsAvailable && Model.PopularBikesUserReviews != null)
                                    {
                                        if (Model.IsExpertReviewsAvailable && Model.ExpertReviews != null)
                                        {
                                            <div class="padding-top20 border-solid-bottom margin-bottom20"></div>
                                        }
                                        <div>
                                            <h3>User Reviews</h3>
                                            @Html.Partial("~/Views/UserReview/BikesWithReviewsByMake.cshtml", Model.PopularBikesUserReviews)
                                        </div>
                                    }
                                </div>
                            }

                            @if (Model.BikeModelsPhotos != null && Model.BikeModelsPhotos.ModelList != null && Model.BikeModelsPhotos.ModelList.Any())
                            {
                                <div id="makeImagesVideosContent" class="bw-model-tabs-data">

                                    <div id="makeimagescontent" class="padding-top20 font14 make-image-content">
                                        <div class="carousel-heading-content">
                                            <div class="swiper-heading-left-grid inline-block">
                                                <h2>@Model.MakeName Images</h2>
                                            </div>
                                            <div class="swiper-heading-right-grid inline-block text-right">
                                                <a href="@string.Format("/{0}-bikes/images/", @Model.MakeMaskingName)" title="@string.Format("{0} Images",Model.MakeName)" class="btn view-all-target-btn">
                                                    View all
                                                </a>
                                            </div>
                                        </div>
                                        @Html.Partial("~/Views/Photos/_ImageCaraousel.cshtml", Model.BikeModelsPhotos)


                                        <div class="clear"></div>
                                    </div>

                                    @if (Model.Videos != null && Model.Videos.VideosList != null && Model.Videos.VideosList.Any())
                                    {
                                        <section>
                                            <div id="makeVideosContent" class="padding-top20 padding-bottom20 font14">


                                                <h2 class="padding-left20 padding-right20">@string.Format("{0} Videos", Model.MakeName)</h2>


                                                @Html.Partial("~/Views/Videos/_RecentVideos_v1.cshtml", Model.Videos)

                                                <div class="margin-top10 padding-left20">
                                                    <a title="@Model.Videos.LinkTitle" href="@Model.Videos.MoreVideoUrl" class="btn view-all-target-btn">
                                                        View all videos <span class="bwsprite teal-right"></span>
                                                    </a>
                                                </div>
                                            </div>

                                        </section>
                                    }
                                </div>
                            }

                            <div id="overallMakeDetailsFooter"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </section>
            }

        </div>
        <div class="grid-4">
            @if (Model.IsUpComingBikesAvailable)
            {
                <div class="content-box-shadow section-bottom-margin">
                    <h2 class="sidebar-list-heading">Upcoming @Model.MakeName Bikes</h2>
                    <div class="sidebar-list--overflow">
                        @Html.Partial("~/Views/Upcoming/_UpcomingBikes_Vertical.cshtml", Model.UpcomingBikes)
                    </div>

                    <div class="view-all-btn-container padding-10-20-20">
                        <a href="/@Model.MakeMaskingName-bikes/upcoming/" title="Upcoming @Model.MakeName Bikes in India" class="btn view-all-target-btn">View all bikes<span class="bwsprite teal-right"></span></a>
                    </div>
                </div>


                if (Model.AdTags.Ad_Top_300x250)
                {
                    <section>
                        <div class="margin-top10">
                            @{Html.RenderPartial("~/Views/Shared/Ads/Desktop/AdSlotGeneric.cshtml", Model.AdSlots[String.Format("{0}-17", Model.AdTags.AdId)]);}
                        </div>
                    </section>
                }
                <div class="content-box-shadow section-bottom-margin"></div>
            }



            @if (Model.IsDealerServiceDataAvailable || (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0))
            {
                <div class="content-box-shadow section-bottom-margin">
                    @if (Model.IsDealerAvailable)
                    {
                        <h2 class="sidebar-list-heading">@Model.MakeName showrooms in @Model.Location</h2>
                        @Html.Partial("~/Views/DealerShowroom/_DealerCard_Vertical.cshtml", Model.Dealers)

                        <div class="view-all-btn-container padding-10-20-20">
                            <a href="/dealer-showrooms/@Model.MakeMaskingName/@Model.LocationMasking/" title="@Model.MakeName showrooms in @Model.Location" class="btn view-all-target-btn">View all<span class="bwsprite teal-right"></span></a>
                        </div>
                    }
                    else if (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0)
                    {
                        <div class="content-box-shadow section-bottom-margin">
                            <h2 class="sidebar-list-heading">@Model.MakeName showrooms</h2>
                            <div class="sidebar-list--overflow">
                                @Html.Partial("~/Views/PopularCityWidget/DealerServiceCenterInTopCityWidget_Vertical.cshtml", Model.DealersServiceCenterPopularCities)

                                <div class="view-all-btn-container padding-10-20-20">
                                    <a href="@string.Format("/dealer-showrooms/{0}/",Model.MakeMaskingName)" title="@Model.MakeName showrooms in India" class="btn view-all-target-btn">View all<span class="bwsprite teal-right"></span></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                if (Model.AdTags.Ad_Model_ATF_300x250)
                {
                    <section>
                        <div class="sponsored-card">
                            @{Html.RenderPartial("~/Views/Shared/Ads/Desktop/AdSlotGeneric.cshtml", Model.AdSlots[String.Format("{0}-9", Model.AdTags.AdId)]);}
                        </div>
                    </section>
                }
                <div class="content-box-shadow section-bottom-margin"></div>
            }




            @if (Model.OtherMakes != null)
            {
                <div class="content-box-shadow section-bottom-margin">
                    <p class="sidebar-list-heading">Other popular brands</p>
                    <div class="sidebar-list--overflow">
                        @Html.Partial("~/Views/Make/_BrandsModelCount_Vertical.cshtml", Model.OtherMakes)
                    </div>
                    <div class="view-all-btn-container padding-10-20-20">
                        <a href="/new-bikes-in-india/" title="New Bikes in India" class="btn view-all-target-btn">View all<span class="bwsprite teal-right"></span></a>
                    </div>
                </div>

                if (Model.AdTags.Ad_Model_BTF_300x250)
                {
                    <section>
                        @{Html.RenderPartial("~/Views/Shared/Ads/Desktop/AdSlotGeneric.cshtml", Model.AdSlots[String.Format("{0}-11", Model.AdTags.AdId)]);}
                    </section>
                }
                <div class="content-box-shadow section-bottom-margin"></div>
            }


            @if (Model.ResearchMoreMakeWidget != null)
            {

                <div class="content-box-shadow section-bottom-margin">
                    <h2 class="sidebar-list-heading">Research More</h2>
                    @Html.Partial("~/Views/Make/ResearchMoreAboutMake.cshtml", Model.ResearchMoreMakeWidget)
                </div>
            }


        </div>
        <div class="clear"></div>
    </section>

</section>


@if (Model.IsDiscontinuedBikeAvailable)
{
    <section>
        <div class="container">
            <div class="grid-12">
                <div id="discontinuedModels">
                    <div class="content-inner-block-10 margin-bottom20 font14">
                        <div id="discontinuedLess">
                            Discontinued @Model.MakeName models: - <span id="spnContent"></span>
                        </div>
                        <div id="discontinuedMore">
                            Discontinued @Model.MakeName models: -
                            @foreach (var bike in Model.DiscontinuedBikes)
                            {
                                <a title="@bike.BikeName" href="@bike.Href">@bike.BikeName</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

@if (Model.IsFooterDescriptionAvailable)
{
    <!-- Footer widget starts here-->
    <section>
        <div class="container">
            <div class="grid-12">
                @Html.Partial("~/Views/Make/MakeFooterCategoriesandPrice.cshtml", Model.SubFooter)
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <!-- Footer widget ends-->
}


@if (Model.IsUserReviewsAvailable && Model.PopularBikesUserReviews != null)
{
    <!-- Make review popup-->
    <div id="reviewPopup" class="review-popup hide" data-csslink="@String.Format("{0}/sass/partials/review-popup.css?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFrameworkFileVersion)"></div>
    <!-- make review popup ends-->
}
<script type="text/javascript">
    var suggestionText = "@Model.MakeName" + " Bikes";
    var pageData = {
        label: suggestionText,
        payload: {
            makeId: "@Model.MakeId",
            modelId: "0",
            makeMaskingName: "@Model.MakeMaskingName",
            modelMaskingName: "",
            futuristic: "False",
            isNew: "@(Model.Bikes!= null && Model.Bikes.Count() > 0)",
            userRatingsCount: "0",
            expertReviewsCount: "0"
        },
        value: suggestionText
    };
    docReady(function () {
        if (FbPixelEvent) {
            fbq('track', FbPixelEvent.viewContent);
        }
    });
</script>

