@model BikewaleOpr.Models.ConfigurePageMetas.ConfigurePageMetaSearchVM
@{
    ViewBag.Title = "Page Metas";
    ViewBag.PageTitle = "Page Metas";
}
<div class="row" style="margin-top:10px;" id="managePageMetas">
    <div class="col m10">
        <div id="tblBanners" data-BwOprHostUrl="@System.Configuration.ConfigurationManager.AppSettings["BwOprHostUrlForJs"]">
            <table class="bordered highlight z-depth-3 centered responsive-table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="filled-in deleteCheckBoxClicked" id="chkAll" />
                            <label for="chkAll"></label>
                        </th>
                        <th>Id</th>
                        <th>Page</th>
                        <th>Platform</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Last Updated</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Update</th>
                    </tr>
                </thead>
                @if (Model != null && Model.PageMetaList != null && Model.PageMetaList.Count() > 0)
                {
                    <tbody>
                        @foreach (var item in Model.PageMetaList)
                        {
                            <tr>
                                <td>
                                    <input data-metaid="@item.Id" data-checkedmakeid="@item.MakeId" data-checkedmodelid="@item.ModelId" type="checkbox" class="filled-in deleteCheckBoxClicked" id="chkAll-@item.Id" title="Select all" />
                                    <label for="chkAll-@item.Id"></label>
                                </td>
                                <td>@item.Id</td>
                                <td>@item.PageName</td>
                                <td>@item.Platform</td>
                                <td>@item.MakeName</td>
                                <td>@(string.IsNullOrEmpty(item.ModelName) ? "---" : item.ModelName)</td>
                                <td>@(item.UpdatedDate != null && item.UpdatedDate != DateTime.MinValue ? item.UpdatedDate.ToString("dd MMM yyyy, hh:mm tt") : "")</td>
                                <td>@(item.IsActive ? "Active" : "InActive")</td>
                                <td>
                                    <a target="_blank" rel="noopener" href="/PageMetas/add?id=@item.Id" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit page meta"><i class="material-icons icon-blue">mode_edit</i></a>
                                </td>
                                @if (item.IsActive)
                                {
                                    <td>
                                        <a id="metaDelete_@item.Id" data-pagemetaid="@item.Id" data-modelid="@item.ModelId" data-makeid="@item.MakeId" data-setstatus="0" href="javascript:void(0)" class="tooltipped update-status" data-position="bottom" data-delay="50" data-tooltip="Delete page meta"><i class="material-icons icon-red">delete</i></a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a data-pagemetaid="@item.Id" data-setstatus="1" href="javascript:void(0)" class="tooltipped update-status" data-position="bottom" data-delay="50" data-tooltip="Activate page meta"><i class="material-icons icon-green">play_circle_outline</i></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
    <div class="col s2 m2">
        <ul class="collapsible" data-collapsible="accordion">            
            <li>
                <div class="collapsible-header"><strong>Add Page Meta</strong></div>
                <div class="collapsible-body">
                    <div class="input-field row s12" style="margin-left:20px">
                        <a target="_blank" rel="noopener" class="btn waves-effect waves-light" href="/PageMetas/add/">Add new</a>
                      
                    </div>
                </div>
            </li>
            <li id="deleteAccordian">
                <div class="collapsible-header"><strong>Delete Page Meta</strong></div>
                <div class="collapsible-body">
                    <div class="input-field row s12" style="margin-left:20px">
                        <a href="#!" target="_blank" rel="noopener" class="btn waves-effect waves-light" data-bind="click : function(){ deleteRecords(); }">Delete</a>
                    </div>
                    <div class="input-field row s12" style="margin-left:20px">
                        <a target="_blank" rel="noopener" class="btn waves-effect waves-light red lighten-2" href="#!" data-bind="click : function(){ slideUp(); }">Cancel</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
  
    <input type="hidden" id="userId" value="@BikeWaleOpr.Common.CurrentUser.Id" />
</div>
<script src="/src/pagemetasearch.js"></script>


