@{
    ViewBag.Title = "Home Page";
    ViewBag.PageTitle = "Bikewale Operations - Home";
}
@model BikewaleOpr.Entity.HomePageData
@if (Model != null)
{
    <div class="row">
        @if (Model.IsUsedBikeModelsAvailable)
        {
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <h5><span class="card-title">Pending used model images</span></h5>
                    <p>
                        <b>Please upload pending used bike model images by clicking on the link below given by make name.</b>
                    </p>
                    <p><a href="#modal1">See all models</a></p>
                </div>
                <div class="card-action">
                    <a href="/Models/UsedModelImageUpload/">Upload Photos now</a>
                </div>
            </div>
        </div>
        if (Model.UsedModelsData != null && Model.UsedModelsData.BikesByMake != null)
        {
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Pending used model images</h4>

                @foreach (var bikeGroup in Model.UsedModelsData.BikesByMake)
                {
                    <div class="col m6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light margin-left20">
                                <span class="margin-top10 brandlogosprite brand-@bikeGroup.MakeId"></span>
                            </div>
                            <div class="card-content ">
                                <span class="card-title activator grey-text text-darken-4 ">@bikeGroup.MakeName<i class="material-icons right">more_vert</i></span>
                            </div>

                            <div class="card-action teal"><a class="white-text" target="_blank" rel="noopener" href="/Models/UsedModelImageUpload/?makeId=@bikeGroup.MakeId">Update Photos <i class="material-icons right white-text">keyboard_arrow_right</i></a></div>

                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                                <ul class="collection">
                                    @foreach (var bikeModel in bikeGroup.ModelList)
                                    {
                                        <li class="collection-item">@bikeModel</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        }
        }
        @if(Model.BikeModelByMakeList != null && Model.BikeModelByMakeList.Count() > 0)
        {
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <h5><span class="card-title">Models with missing color image</span></h5>
                        <p>
                            <b>Please upload pending model color image by clicking on the link below.</b>
                        </p>
                        <p><a class="modal-trigger" href="#modal-missingColor">See all models</a></p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" rel="noopener" href="/content/modelcolorwiseimage.aspx">Models images by color</a>
                    </div>
                </div>
            </div>

            <div id="modal-missingColor" class="modal">
                <div class="modal-content">
                    <h4>Models with missing color image</h4>
                    @foreach (var makeGroup in Model.BikeModelByMakeList)
                    {
                        if (makeGroup.BikeMakeEntity != null)
                        {
                            <div class="col s12 m6">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light margin-left20 activator">
                                        <span class="margin-top10 brandlogosprite brand-@makeGroup.BikeMakeEntity.MakeId activator"></span>
                                    </div>
                                    <div class="card-content activator">
                                        <span class="card-title grey-text text-darken-4 activator">@makeGroup.BikeMakeEntity.MakeName</span>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                                        <ul class="collection">
                                            @if (makeGroup.BikeModelEntity != null && makeGroup.BikeModelEntity.Count() > 0)
                                            {
                                                foreach (var bikeModel in makeGroup.BikeModelEntity)
                                                {
                                                    <li class="collection-item">
                                                        <a target="_blank" rel="noopener" href="/content/modelcolorwiseimage.aspx?makeid=@makeGroup.BikeMakeEntity.MakeId&modelid=@bikeModel.ModelId">
                                                            @bikeModel.ModelName
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        @if (Model.IsSoldBikeDataUpatedShown && Model.SoldUnitsData != null)
        {
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <h5><span class="card-title">Sold bike data</span></h5>
                        <p>Model units sold data has been last updated on </p>
                        <p><b>@Model.SoldUnitsData.LastUpdateDate.ToString("dd/MM/yyyy")</b></p>
                    </div>
                    <div class="card-action">
                        <a href="/content/bikeunitssold.aspx">Click here to Update data</a>
                    </div>
                </div>
            </div>
        }
    </div>
}