@model Bikewale.Models.HomePageVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/home.css' />";
    Model.Page_BTF_CSS_Path = "";
    Model.Page_JS_Path = "";
    Model.AdTags.AdPath = "/1017752/BikeWale_HomePage_";
    Model.AdTags.AdId = "1395985604192";
    Model.AdTags.Ad_970x90 = false;
    Model.AdTags.Ad_970x90Bottom = false;
    Model.AdTags.Ad_300x250 = false;
    Model.AdTags.Ad_300x250BTF = false;
    Model.AdTags.Ad_976x400First = true;
    Model.AdTags.Ad_976x400Second = true;
    Model.AdTags.Ad_976x204 = false;
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/scooters/listing.css' />";
}
<body data-pageid="1">
    <header class="home-top-banner">
        <div class="container top-campaign-banner-container">
            <div class="welcome-box">
                <h1>Find your bike</h1>
                <p class="banner-subheading font20">Get Comprehensive Information on Bike Prices, Specs, Reviews & More!</p>
                <div class="margin-top60">
                    <div class="bike-search-container position-rel">
                        <div class="bike-search new-bike-search position-rel">
                            <input type="text" placeholder="Search your bike here, e.g. Honda Activa " id="newBikeList" autocomplete="off" tabindex="1">
                            <span class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display: none"></span>
                        </div>
                        <div class="findBtn">
                            <input type="button" id="btnSearch" class="btn btn-orange btn-md font16" tabindex="2" value="Search" />
                        </div>
                        <div class="clear"></div>
                        <ul id="errNewBikeSearch" class="ui-autocomplete ui-front ui-menu hide">
                            <li class="ui-menu-item" tabindex="-1">
                                <span class="text-bold">Oops! No suggestions found</span><br />
                                <span class="text-light-grey font12">Search by bike name e.g: Honda Activa</span>
                            </li>
                        </ul>
                        <ul id="new-global-recent-searches" class="recent-searches-dropdown"></ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <!--  Discover your bike code starts here -->
        <div class="container">
            <div class="grid-12">
                <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Discover your bike</h2>
                <div class="bw-tabs-panel content-box-shadow brand-budget-mileage-style-wrapper">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul class="brand-collapsible-present">
                            <li class="active" data-tabs="discoverBrand">
                                <h3>Brand</h3>
                            </li>
                            <li data-tabs="discoverBudget">
                                <h3>Budget</h3>
                            </li>
                            <li data-tabs="discoverMileage">
                                <h3>Mileage</h3>
                            </li>
                            <li data-tabs="discoverStyle">
                                <h3>Style</h3>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("~/Views/BikeMakes/_Brands.cshtml",Model.Brands)
                    <div class="bw-tabs-data hide" id="discoverBudget">
                        <div class="budget-container margin-bottom20">
                            <ul class="text-center">
                                <li>
                                    <a href="/new/bike-search/#budget=0-50000">
                                        <span class="budget-title-box font16">
                                            Upto
                                        </span>
                                        <span class="budget-amount-box">
                                            <span class="bwsprite inr-budget"></span>
                                            <span class="font20">50,000</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#budget=50000-100000">
                                        <span class="budget-title-box font16">
                                            Between
                                        </span>
                                        <span class="budget-amount-box">
                                            <span class="bwsprite inr-budget"></span>
                                            <span class="font20">50,000 - </span>
                                            <span class="bwsprite inr-budget"></span>
                                            <span class="font20">1</span>
                                            <span class="budget-amount-text-box font16">Lakhs</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#budget=100000-250000">
                                        <span class="budget-title-box font16">
                                            Between
                                        </span>
                                        <span class="budget-amount-box">
                                            <span class="bwsprite inr-budget"></span>
                                            <span class="font20">1</span>
                                            <span class="budget-amount-text-box font16">Lakhs</span>
                                            <span>- </span>
                                            <span class="bwsprite inr-budget"></span>
                                            <span class="font20">2.5</span>
                                            <span class="budget-amount-text-box font16">Lakhs</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#budget=250000-">
                                        <span class="budget-title-box font16">
                                            Above
                                        </span>
                                        <span class="budget-amount-box">
                                            <span class="bwsprite inr-budget"></span>
                                            <span class="font20">2.5</span>
                                            <span class="budget-amount-text-box font16">Lakhs</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bw-tabs-data hide" id="discoverMileage">
                        <div class="mileage-container margin-bottom20">
                            <ul class="text-center">
                                <li>
                                    <a href="/new/bike-search/#mileage=1">
                                        <span class="mileage-title-box font16">
                                            Above
                                        </span>
                                        <span class="mileage-amount-box font20">
                                            <span>70 <span class="font16">Kmpl</span></span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#mileage=2">
                                        <span class="mileage-title-box font16">
                                            Between
                                        </span>
                                        <span class="mileage-amount-box">
                                            <span class="font20">70</span>
                                            <span class="mileage-amount-text-box font16">Kmpl</span>
                                            <span class="font20">- 50</span>
                                            <span class="mileage-amount-text-box font16">Kmpl</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#mileage=3">
                                        <span class="mileage-title-box font16">
                                            Between
                                        </span>
                                        <span class="mileage-amount-box">
                                            <span class="font20">50</span>
                                            <span class="mileage-amount-text-box font16">Kmpl</span>
                                            <span class="font20">- 30</span>
                                            <span class="mileage-amount-text-box font16">Kmpl</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#mileage=4">
                                        <span class="mileage-title-box font16">
                                            Upto
                                        </span>
                                        <span class="mileage-amount-box">
                                            <span class="font20">30</span>
                                            <span class="mileage-amount-text-box font16">Kmpl</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bw-tabs-data hide" id="discoverStyle">
                        <div class="style-type-container margin-bottom35">
                            <ul class="text-center">
                                <li>
                                    <a href="/new/bike-search/#ridestyle=5">
                                        <span class="style-type">
                                            <span class="styletypesprite style-scooters"></span>
                                        </span>
                                        <span class="style-type-title">Scooters</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#ridestyle=3">
                                        <span class="style-type">
                                            <span class="styletypesprite style-street"></span>
                                        </span>
                                        <span class="style-type-title">Street</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#ridestyle=1">
                                        <span class="style-type">
                                            <span class="styletypesprite style-cruiser"></span>
                                        </span>
                                        <span class="style-type-title">Cruiser</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/new/bike-search/#ridestyle=2">
                                        <span class="style-type">
                                            <span class="styletypesprite style-sports"></span>
                                        </span>
                                        <span class="style-type-title">Sports</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section>
        <div class="container section-bottom-margin">
            <h2 class="section-heading">Featured bikes</h2>
            <div class="grid-12">
                <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Featured bikes</h2>
                <div class="bw-tabs-panel newbike-discover-bike-container content-box-shadow">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul>
                            @*@if (popularScooters.PopularScooters != null && popularScooters.PopularScooters.Count() > 0)
                            {
                                <li class="active" data-tabs="ctrlMostPopularBikes">
                                    <h3>Most Popular</h3>
                                </li>
                            }*@
                            @if (Model.NewLaunchedBikes != null && Model.NewLaunchedBikes.Bikes != null && Model.NewLaunchedBikes.Bikes.Count() > 0)
                            {
                                <li data-tabs="ctrlNewLaunchedBikes">
                                    <h3>New launches</h3>
                                </li>
                            }
                            @*@if (objUpcoming != null && objUpcoming.Count() > 0)
                            {
                                <li data-tabs="ctrlUpcomingBikes">
                                    <h3>Upcoming</h3>
                                </li>
                            }*@
                        </ul>
                    </div>
                    @*@if (popularScooters.PopularScooters != null && popularScooters.PopularScooters.Count() > 0)
                    {
                        <div id="ctrlMostPopularBikes" class="bw-tabs-data">
                            @Html.Partial("~/Views/Shared/_popularBikesScooters.cshtml", popularScooters)
                            <div class="view-all-btn-container padding-top15 padding-bottom20">
                                <a href="/best-scooters-in-india/" class="btn view-all-target-btn" title="Popular Scooters in India">View all scooters<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }*@
                    @if (Model.NewLaunchedBikes != null && Model.NewLaunchedBikes.Bikes != null && Model.NewLaunchedBikes.Bikes.Count() > 0)
                    {
                        <div class="bw-tabs-data hide padding-top15 padding-bottom20" id="ctrlNewLaunchedBikes">
                            @Html.Partial("~/Views/NewLaunches/_NewLaunches.cshtml", Model.NewLaunchedBikes)
                        </div>
                    }
                    @*@if (objUpcoming != null && objUpcoming.Count() > 0)
                    {
                        <div class="bw-tabs-data hide padding-top15 padding-bottom20" id="ctrlUpcomingBikes">
                            @Html.Partial("~/Views/Shared/_UpcomingBikes.cshtml", objUpcoming)
                        </div>
                    }*@
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section>
        @Html.Partial("~/Views/BestBikes/_BestBikes.cshtml", Model.BestBikes)
    </section>
</body>
