@model Bikewale.Models.HomePageVM
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/home.css' inline /> <link rel='stylesheet' type='text/css' href='/css/components/brand-logo.css' inline />";
    Model.Page_JS_Path = "/src/bw-home.js";
    Model.AdTags.AdPath = "/1017752/BikeWale_HomePage_";
    Model.AdTags.AdId = "1395985604192";
    Model.AdTags.Ad_976x400First = true;
    Model.AdTags.Ad_976x400Second = true;
    Model.IsTransparentHeader = true;
    Model.IsPageTypeLanding = true;
}
<body class="page-type-landing">
    <header class="home-top-banner">
        <div class="container top-campaign-banner-container">
            <div class="welcome-box">
                <h1>Find your bike</h1>
                <p class="banner-subheading font20">Get Comprehensive Information on Bike Prices, Specs, Reviews & More!</p>
                <div class="margin-top60">
                    <div class="bike-search-container position-rel">
                        <div class="bike-search new-bike-search position-rel">
                            <input type="text" placeholder="Search your bike here, e.g. Maestro Edge " id="newBikeList" autocomplete="off" tabindex="1">
                            <span class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display: none"></span>
                        </div>
                        <div class="findBtn">
                            <input type="button" id="btnSearch" class="btn btn-orange btn-md font16" tabindex="2" value="Search" />
                        </div>
                        <div class="clear"></div>
                        <ul id="errNewBikeSearch" class="ui-autocomplete ui-front ui-menu hide">
                            <li class="ui-menu-item" tabindex="-1">
                                <span class="text-bold">Oops! No suggestions found</span><br />
                                <span class="text-light-grey font12">Search by bike name e.g: Maestro Edge</span>
                            </li>
                        </ul>
                        <div id="new-global-search-section" class="bg-white hide">
                            <div id="new-history-search">
                                <div class="search-title">Recently Viewed</div>
                                <ul id="new-global-recent-searches" class="recent-searches-dropdown bw-ui-menu"></ul>
                            </div>
                            <div id="new-trending-search">
                                <div class="search-title">Trending Searches</div>
                                <ul id="new-trending-bikes" class="recent-searches-dropdown bw-ui-menu"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Banner != null)
        {
            @Html.Raw(Model.Banner.Html);
            @Html.Raw(Model.Banner.Css);
            @Html.Raw(Model.Banner.JS);
        }
    </header>
    @if (Model.AdTags.Ad_976x400First)
    {
        <section>
            @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad976x400_First.cshtml", new { AdId = Model.AdTags.AdId });}
        </section>
                }
    <section>
        <!--  Discover your bike code starts here -->
        <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Discover your bike</h2>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="bw-tabs-panel content-box-shadow brand-budget-mileage-style-wrapper">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul class="brand-collapsible-present">
                            <li class="active" data-tabs="discoverBrand">
                                <h3>Brand</h3>
                            </li>
                            <li data-tabs="discoverBudget">
                                <h3>Budget</h3>
                            </li>
                            <li data-tabs="discoverMileage">
                                <h3>Mileage</h3>
                            </li>
                            <li data-tabs="discoverStyle">
                                <h3>Style</h3>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("~/Views/Make/_Brands.cshtml", Model.Brands)
                    <div class="bw-tabs-data budget-container margin-bottom20 hide" id="discoverBudget">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/new/bike-search/bikes-under-50000/" class="list-item">
                                    <span class="block-key-field">Upto</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">50,000</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-between-50000-and-100000/" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">50,000 - </span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">1</span>
                                        <span class="font16">Lakhs</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-between-100000-and-250000/" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">1</span>
                                        <span class="font16">Lakhs</span>
                                        <span>- </span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">2.5</span>
                                        <span class="font16">Lakhs</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/bikes-above-250000/" class="list-item">
                                    <span class="block-key-field">Above</span>
                                    <span>
                                        <span class="bwsprite inr-budget"></span>
                                        <span class="font20">2.5</span>
                                        <span class="font16">Lakhs</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bw-tabs-data margin-bottom20 hide" id="discoverMileage">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/new/bike-search/#mileage=1" class="list-item">
                                    <span class="block-key-field">Above</span>
                                    <span>
                                        <span class="font20">70 <span class="font16">Kmpl</span></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#mileage=2" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="font20">70</span>
                                        <span class="font16">Kmpl</span>
                                        <span class="font20">- 50</span>
                                        <span class="font16">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#mileage=3" class="list-item">
                                    <span class="block-key-field">Between</span>
                                    <span>
                                        <span class="font20">50</span>
                                        <span class="font16">Kmpl</span>
                                        <span class="font20">- 30</span>
                                        <span class="font16">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#mileage=4" class="list-item">
                                    <span class="block-key-field">Upto</span>
                                    <span>
                                        <span class="font20">30</span>
                                        <span class="font16">Kmpl</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bw-tabs-data style-type-container margin-bottom35 hide" id="discoverStyle">
                        <ul class="block-button-list text-center">
                            <li>
                                <a href="/new/bike-search/#ridestyle=5" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-scooters"></span>
                                    </span>
                                    <span>Scooters</span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=3" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-street"></span>
                                    </span>
                                    <span>Street</span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=1" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-cruiser"></span>
                                    </span>
                                    <span>Cruiser</span>
                                </a>
                            </li>
                            <li>
                                <a href="/new/bike-search/#ridestyle=2" class="list-item">
                                    <span class="style-type">
                                        <span class="styletypesprite style-sports"></span>
                                    </span>
                                    <span>Sports</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section>
        <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Featured bikes</h2>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="bw-tabs-panel newbike-discover-bike-container content-box-shadow">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul>
                            @if (Model.IsPopularBikesDataAvailable)
                            {
                                <li class="active" data-tabs="ctrlMostPopularBikes">
                                    <h3>Most Popular</h3>
                                </li>
                            }
                            @if (Model.IsNewLaunchedDataAvailable)
                            {
                                <li data-tabs="ctrlNewLaunchedBikes">
                                    <h3>New launches</h3>
                                </li>
                            }
                            @if (Model.IsUpcomingBikeAvailable)
                            {
                                <li data-tabs="ctrlUpcomingBikes">
                                    <h3>Upcoming</h3>
                                </li>
                            }
                        </ul>
                    </div>
                    @if (Model.IsPopularBikesDataAvailable)
                    {
                        <div id="ctrlMostPopularBikes" class="bw-tabs-data padding-bottom20">
                            @Html.Partial("~/Views/BikeModels/_MostPopularBikes.cshtml", Model.PopularBikes)
                            <div class="view-all-btn-container padding-top15">
                                <a href="/best-bikes-in-india/" class="btn view-all-target-btn" title="Popular Bikes in India">View all bikes<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }
                    @if (Model.IsNewLaunchedDataAvailable)
                    {
                        <div class="bw-tabs-data hide padding-top15 padding-bottom20" id="ctrlNewLaunchedBikes">
                            @Html.Partial("~/Views/NewLaunches/_NewLaunches.cshtml", Model.NewLaunchedBikes)
                            <div class="view-all-btn-container padding-top15">
                                <a href="/new-bike-launches/" class="btn view-all-target-btn" title="New Bike Launches in India">View all launches<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }
                    @if (Model.IsUpcomingBikeAvailable)
                    {
                        <div class="bw-tabs-data hide padding-top15 padding-bottom20" id="ctrlUpcomingBikes">
                            @Html.Partial("~/Views/Upcoming/_UpcomingBikes.cshtml", Model.UpcomingBikes)
                            <div class="view-all-btn-container padding-top15">
                                <a href="/upcoming-bikes/" class="btn view-all-target-btn" title="Upcoming Bikes in India">View upcoming bikes<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section class="lazy home-getFinalPrice-banner" data-original="https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/d/get-final-price-banner.jpg">
        <div class="container">
            <div class="grid-5 leftfloat">
                <div class="bg-white content-inner-block-15 light-box-shadow rounded-corner2 margin-top70" id="OnRoadContent">
                    <h2 class="text-bold margin-bottom20 font22">On-road price</h2>
                    <!-- On road pricequote control -->
                    <div class="form-control-box margin-bottom20">
                        <input value="" class="form-control ui-autocomplete-input" type="text" placeholder="Search Make and Model" id="makemodelFinalPrice" tabindex="1" autocomplete="off">
                        <span class="fa fa-spinner fa-spin position-abt pos-right10 pos-top15 text-black" style="display: none"></span>
                        <span class="bwsprite error-icon hide"></span>
                        <div class="bw-blackbg-tooltip hide">Please enter make/model name</div>
                    </div>
                    <div class="form-control-box margin-bottom20 finalPriceCitySelect ">
                        <select data-placeholder="--Select City--" class="form-control" id="ddlCitiesOnRoad" tabindex="2" data-bind="options: bookingCities, value: selectedCity, optionsText: 'cityName', optionsValue: 'cityId', optionsCaption: '--Select City--', event: { change: cityChangedOnRoad },chosen: { width: '100%' }"></select>
                        <span class="bwsprite error-icon hide"></span>
                        <div class="bw-blackbg-tooltip hide">Please Select City</div>
                    </div>
                    <div class="form-control-box margin-bottom20 finalPriceAreaSelect " data-bind="visible: bookingAreas().length > 0">
                        <select data-placeholder="--Select Area--" class="form-control" id="ddlAreaOnRoad" tabindex="3" data-bind="options: bookingAreas, value: selectedArea, optionsText: 'areaName', optionsValue: 'areaId', optionsCaption: '--Select Area--', chosen: { width: '100%' }"></select>
                        <span class="bwsprite error-icon hide"></span>
                        <div class="bw-blackbg-tooltip hide">Please Select Area</div>
                    </div>
                    <button id="btnDealerPriceOnRoad" tabindex="4" class="btn btn-orange margin-bottom20" type="button" data-pqleadid="@Convert.ToInt16(Bikewale.Entities.PriceQuote.PQSourceEnum.Desktop_New_PQ_Widget)" data-bind="event: { click: getPriceQuoteOnRoad }">Check on-road price</button>
                    <p class="margin-bottom5">Its private, no need to share your number and email</p>
                </div>
                <!-- Onroad price quote ends here -->
            </div>
        </div>
    </section>

    @if (Model.AdTags.Ad_976x400Second)
    {
        <section>
            @{Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad976x400_Second.cshtml", new { AdId = Model.AdTags.AdId });}
        </section>
                }

    @if (Model.BestBikes != null)
    {<section>

        <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">@string.Format("Best bikes of {0}", string.Format("{0} {1}", DateTime.Now.ToString("MMMM"), DateTime.Now.AddMonths(-1).Year))</h2>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="bw-tabs-panel content-box-shadow brand-budget-mileage-style-wrapper padding-bottom15">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul class="brand-collapsible-present">
                            @if (Model.BestBikes.objBestScootersList != null && Model.BestBikes.objBestScootersList.Count() > 0)
                            {
                                <li class="active" data-tabs="compareTypeBike"><h3>Scooters</h3></li>}
                            @if (Model.BestBikes.objBestMileageBikesList != null && Model.BestBikes.objBestMileageBikesList.Count() > 0)
                            {
                                <li data-tabs="compareTypeScooter"><h3>Mileage Bikes</h3></li>}
                            @if (Model.BestBikes.objBestSportsBikeList != null && Model.BestBikes.objBestSportsBikeList.Count() > 0)
                            {
                                <li data-tabs="compareTypeCruiser"><h3>Sports</h3></li>}
                            @if (Model.BestBikes.objBestCruiserBikesList != null && Model.BestBikes.objBestCruiserBikesList.Count() > 0)
                            {
                                <li data-tabs="compareTypeSport"><h3>Cruisers</h3></li>}
                        </ul>
                    </div>
                    @if (Model.BestBikes.objBestScootersList != null && Model.BestBikes.objBestScootersList.Count() > 0)
                    {
                        <div id="compareTypeBike" class="bw-tabs-data">
                            <div class="jcarousel-wrapper inner-content-carousel carousel-height-360">
                                <div class="jcarousel">
                                    <ul>
                                        @if (Model.AdTags.Ad_292x360)
                                        {
                                            { Html.RenderPartial("/Views/Shared/Ads/Desktop/Ad292x360.cshtml", new { AdId = "1507278280998" }); }

                                        }
                                        @Html.Partial("~/Views/BestBikes/_BestBikeByBodyStyleCarousel.cshtml", Model.BestBikes.objBestScootersList)
                                    </ul>
                                </div>
                                <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                                <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                            </div>
                            <div class="view-all-btn-container padding-top15">
                                <a href="/best-scooters-in-india/" class="btn view-all-target-btn" title="Best Scooters"> View complete list<span class="bwsprite teal-right"></span></a>
                            </div>

                        </div>
                    }
                    @if (Model.BestBikes.objBestMileageBikesList != null && Model.BestBikes.objBestMileageBikesList.Count() > 0)
                    {
                        <div id="compareTypeScooter" class="bw-tabs-data hide">
                            <div class="jcarousel-wrapper inner-content-carousel carousel-height-360">
                                <div class="jcarousel">
                                    <ul>
                                        @Html.Partial("~/Views/BestBikes/_BestBikeByBodyStyleCarousel.cshtml", Model.BestBikes.objBestMileageBikesList)
                                    </ul>
                                </div>
                                <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                                <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                            </div>
                            <div class="view-all-btn-container padding-top15">
                                <a href="/best-mileage-bikes-in-india/" class="btn view-all-target-btn" title="Best Mileage Bikes"> View complete list<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }
                    @if (Model.BestBikes.objBestSportsBikeList != null && Model.BestBikes.objBestSportsBikeList.Count() > 0)
                    {
                        <div id="compareTypeCruiser" class="bw-tabs-data hide">
                            <div class="jcarousel-wrapper inner-content-carousel carousel-height-360">
                                <div class="jcarousel">
                                    <ul>
                                        @Html.Partial("~/Views/BestBikes/_BestBikeByBodyStyleCarousel.cshtml", Model.BestBikes.objBestSportsBikeList)
                                    </ul>
                                </div>
                                <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                                <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                            </div>
                            <div class="view-all-btn-container padding-top15">
                                <a href="/best-sports-bikes-in-india/" class="btn view-all-target-btn" title="Best Sports Bikes"> View complete list<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }
                    @if (Model.BestBikes.objBestCruiserBikesList != null && Model.BestBikes.objBestCruiserBikesList.Count() > 0)
                    {
                        <div id="compareTypeSport" class="bw-tabs-data hide">
                            <div class="jcarousel-wrapper inner-content-carousel carousel-height-360">
                                <div class="jcarousel">
                                    <ul>
                                        @Html.Partial("~/Views/BestBikes/_BestBikeByBodyStyleCarousel.cshtml", Model.BestBikes.objBestCruiserBikesList)
                                    </ul>
                                </div>
                                <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a></span>
                                <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a></span>
                            </div>
                            <div class="view-all-btn-container padding-top15">
                                <a href="/best-cruiser-bikes-in-india/" class="btn view-all-target-btn" title="Best Cruisers"> View complete list<span class="bwsprite teal-right"></span></a>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    }


    @if (Model.IsComparePopularBikesAvailable)
    {
        <section>
            <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Compare bikes</h2>

            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-top15">
                        @Html.Partial("~/Views/CompareBikes/_SimilarComparisons.cshtml", Model.ComparePopularBikes)
                        <div class="more-article-target view-all-btn-container padding-bottom20">
                            <a href="/comparebikes/" title="View more comparisons" class="btn view-all-target-btn">View more comparisons<span class="bwsprite teal-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </section>
    }
   
    @Html.Partial("~/Views/UserReview/_SearchUserReviewMakeModel.cshtml", Model.RecentUserReviewsList)

    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="contest-participate-banner">
                    <span class="contest-banner__icon"></span>
                    <div class="contest-banner__left-grid inline-block">
                        <p class="contest-banner__title">Bike Review Contest</p>
                        <p class="contest-banner__subtitle">Write a detailed review &amp; stand a chance to win Amazon vouchers worth &#x20b9;&nbsp;@Bikewale.Utility.BWConfiguration.Instance.ContestPriceMoney.</p>
                    </div>
                    <a href="@Bikewale.Utility.UrlFormatter.FormatUserReviewContestUrl(Bikewale.Entities.UserReviews.UserReviewPageSourceEnum.Desktop_HomePage)" class="btn btn-orange btn-180-40">Participate &amp; win<span class="bwsprite btn-white-arrow"></span></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <!--  Discover your bike code starts here -->
        <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Find second-hand bikes</h2>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="bw-tabs-panel content-box-shadow">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul>
                            @if (Model.IsUsedModelsAvailable)
                            {
                                <li class="active" data-tabs="usedByModel">
                                    <h3>Model</h3>
                                </li>
                            }
                            @if (Model.IsUsedBikeCitiesAvailable)
                            {
                                <li class="@(Model.IsUsedModelsAvailable ? "" : "active")" data-tabs="usedByCity">
                                    <h3>City</h3>
                                </li>
                            }
                            <li data-tabs="usedByBudget">
                                <h3>Budget</h3>
                            </li>
                        </ul>
                    </div>

                    @if (Model.IsUsedModelsAvailable)
                    {
                        <div class="bw-tabs-data padding-bottom20" id="usedByModel">
                            @Html.Partial("~/Views/Used/_UsedBikesByModel.cshtml", Model.UsedModels)
                            <div class="more-article-target view-all-btn-container padding-top20">
                                <a href="/used/bikes-in-@Model.LocationMasking/" title="Second-hand Bikes in @Model.Location" class="btn view-all-target-btn">
                                    View all used bikes<span class="bwsprite teal-right">
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                    @if (Model.IsUsedBikeCitiesAvailable)
                    {
                        <section>
                            <div class="bw-tabs-data @(Model.IsUsedModelsAvailable ? "hide" : "")" id="usedByCity">
                                @Html.Partial("~/Views/UsedBikes/_usedBikesCities.cshtml", Model.UsedBikeCities)
                            </div>
                        </section>
                    }
                    <div id="usedByBudget" class="bw-tabs-data hide">
                        <ul class="elevated-card-list">
                            <li>
                                <a href="/used/bikes-in-india/#budget=0+35000" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite budget-one"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">35,000</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/used/bikes-in-india/#budget=35000+80000" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite budget-two"></span>
                                        </div>
                                        <span class="key-size-14">Between</span><br />
                                        @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">35,000 -</span>
                                        &nbsp;@Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">80,000</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/used/bikes-in-india/#budget=80000+200000" rel="nofollow">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwsprite budget-three"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        @Html.Raw("<span class='value-size-16'>&#x20B9;</span>")&nbsp;<span class="value-size-16">80,000</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="more-article-target view-all-btn-container padding-top10 padding-bottom20">
                            <a href="/used/bikes-in-india/" title="Second Hand Bikes in India" class="btn view-all-target-btn">View all used bikes<span class="bwsprite teal-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </section>


    <section>
        <!--  News Bikes latest updates code starts here -->
        <div class="@string.Format("container {0}", Model.TabCount == 0 ? "hide" : string.Empty)">
            <div class="grid-12">
                <h2 class="text-bold text-center margin-top30 margin-bottom20 font22">Latest updates from the bike industry</h2>
                <div class="bw-tabs-panel margin-bottom30 padding-bottom20 content-box-shadow article-control">
                    <div class="@string.Format("text-center {0}", Model.TabCount > 2 ? string.Empty : Model.TabCount > 1 ? "margin-top30 margin-bottom30" : "margin-top10")">
                        <div id="reviewCount" class="@string.Format("bw-tabs text-center {0}", Model.TabCount > 2 ? "bw-tabs-flex" : Model.TabCount > 1 ? "home-tabs" : "hide")">
                            <ul>
                                @if (Model.News.FetchedCount > 0)
                                {
                                    <li class="@string.Format("{0}", Model.IsNewsActive ? "active" : "hide")" data-tabs="ctrlNews">
                                        <h3>News</h3>
                                    </li>
                                }
                                @if (Model.ExpertReviews.FetchedCount > 0)
                                {
                                    <li class="@string.Format("{0}", Model.IsExpertReviewActive ? "active" : "hide")" data-tabs="ctrlExpertReviews">
                                        <h3>Expert Reviews</h3>
                                    </li>
                                }
                                @if (Model.Videos.FetchedCount > 0)
                                {
                                    <li class="@string.Format("{0}", Model.IsVideoActive ? "active" : "hide")" data-tabs="ctrlVideos">
                                        <h3>Videos</h3>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="bw-tabs-data padding-left10 padding-right10" id="ctrlNews">
                        @if (Model.News.FetchedCount > 0)
                        {
                            @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)
                            <div class="more-article-target view-all-btn-container">
                                <a href="@Bikewale.Utility.UrlFormatter.FormatNewsUrl(Model.News.MakeMasking, Model.News.ModelMasking)" title="@(!string.IsNullOrEmpty(Model.News.ModelMasking) ? string.Format("{0} {1} News", Model.News.MakeName, Model.News.ModelName) : (!string.IsNullOrEmpty(Model.News.MakeMasking) ? string.Format("{0} News", Model.News.MakeName) : "Bikes News"))"
                                   class="btn view-all-target-btn">Read all news<span class="bwsprite teal-right"></span></a>
                            </div>
                        }
                    </div>
                    <div class="bw-tabs-data hide padding-left10 padding-right10" id="ctrlExpertReviews">
                        @if (Model.ExpertReviews.FetchedCount > 0)
                        {
                            @Html.Partial("~/Views/ExpertReviews/_RecentExpertReviews.cshtml", Model.ExpertReviews)
                            <div class="padding-left10 more-article-target view-all-btn-container">
                                <a title="@Model.ExpertReviews.LinkTitle" href="@Model.ExpertReviews.MoreExpertReviewUrl" class="btn view-all-target-btn">Read all reviews<span class="bwsprite teal-right"></span></a>
                            </div>
                        }
                    </div>
                    <div class="bw-tabs-data hide padding-left10 padding-right10" id="ctrlVideos">
                        @if (Model.Videos.FetchedCount > 0)
                        {
                            @Html.Partial("~/Views/Videos/_RecentVideos.cshtml", Model.Videos)
                            <div class="padding-left10 more-article-target view-all-btn-container">
                                <a title="@Model.Videos.LinkTitle" href="@Model.Videos.MoreVideoUrl" class="btn view-all-target-btn">View all videos<span class="bwsprite teal-right"></span></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </section>
    <!-- Ends here -->
    <input type="hidden" id="source" value="@Model.Source" />
</body>
<script defer src="@String.Format("{0}/src/ads.js?{1}", Bikewale.Utility.BWConfiguration.Instance.StaticUrl,Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion)"></script>
