@model Bikewale.Models.Photos.SimilarBikesWithPhotosVM

@if (Model != null && Model.FetchedRecordsCount > 0)
{
    <section>
        <div class="image-swiper container bg-white box-shadow section-bottom-margin">
            <div class="carousel-heading-content padding-15-20">
                <h2 class="swiper-heading-left-grid inline-block">@Model.WidgetHeading</h2>
            </div>
            <div class="swiper-container card-container alternate-bikes-photo-swiper">
                <div class="swiper-wrapper">
                    @foreach (var bike in Model.Bikes)
                    {
                        string bikeName = string.Format("{0} {1}", bike.Make.MakeName, bike.Model.ModelName);
                        <div class="swiper-slide">

                            <div class="swiper-card">
                                <a href="/m@(Bikewale.Utility.UrlFormatter.BikePageUrl(bike.Make.MaskingName,bike.Model.MaskingName))" title="@bikeName" class="block swiper-card-target">
                                    <div class="swiper-image-preview">
                                        <img class="swiper-lazy" data-src="@Bikewale.Utility.Image.GetPathToShowImages(bike.OriginalImagePath,bike.HostUrl,Bikewale.Utility.ImageSize._160x89,Bikewale.Utility.QualityFactor._70)" alt="@bikeName images" src="" />
                                    </div>
                                    <div class="swiper-details-block">
                                        <h3 class="target-link font12 text-truncate margin-bottom5">@bikeName</h3>
                                        <p class="text-truncate text-light-grey font11">
                                            @if (bike.OnRoadPriceInCity > 0)
                                            {
                                                string.Format("On-Road Price, {0}", Model.City);
                                            }
                                            else
                                            {
                                                string.Format("Ex-showroom price, {0}", Bikewale.Utility.BWConfiguration.Instance.DefaultName);
                                            }
                                        </p>
                                        <p class="text-default font16 margin-bottom15">
                                            &#x20b9;&nbsp;<span class="text-bold">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(bike.OnRoadPriceInCity > 0 ? bike.OnRoadPriceInCity : bike.ExShowroomPriceMumbai))</span>

                                            @if (bike.OnRoadPriceInCity > 0)
                                            {
                                                <span class="font14">&nbsp;onwards</span>
                                            }
                                        </p>
                                    </div>
                                </a>
                                <a href="@string.Format("/m{0}images",Bikewale.Utility.UrlFormatter.BikePageUrl(bike.Make.MaskingName,bike.Model.MaskingName))" title="@bikeName images" class="compare-with-target text-truncate">
                                    <span class="bwmsprite photos-sm"></span><span class="margin-left5 font12 text-default">View all&nbsp;@bike.PhotosCount &nbsp;@(bike.PhotosCount > 1 ? "images" : "image")</span><span class="bwmsprite right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
} 