@model Bikewale.Models.Photos.PhotosPageVM
@{
    /**/

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/photos.css' inline />";
    Model.Page_JS_Paths = new string[] { "/m/src/photos/modelgallery.js", "/m/src/photos/photos.js" };
    Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_Image";
    Model.AdTags.AdId = "1516082384256";
    Model.AdTags.Ad_320x50 = true;
    Model.AdTags.Ad_320x50BTF = true;
    Model.AdTags.Ad_300x250BTF = true;
}

@if (Model != null)
{
    int i = 0; IList<Bikewale.Entities.CMS.Photos.ColorImageBaseEntity> objImages = new List<Bikewale.Entities.CMS.Photos.ColorImageBaseEntity>();

    if (Model.ModelImages != null)
    {
        objImages = Model.ModelImages.ToList();
    }

    <section>
        <div class="container box-shadow section-bottom-margin padding-bottom2">
            <h1 class="section-header bg-white">@Model.Page_H1</h1>
            @if (!Model.IsPopupOpen && Model.TotalPhotos > 0)
            {
                <ul id="grid-images-noremainder" class="photos-grid-list" data-modelid="@(Model.objModel!=null ? Model.objModel.ModelId : 0)">
                    @for (; i < Model.GridPhotoCount && i < 6; i++)
                    {
                        <li data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
                            <img src="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" />
                        </li>
                    }
                    @for (; i < Model.GridPhotoCount && i < Model.GridSize; i++)
                    {
                        <li data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
                            <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" src="" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" />
                        </li>
                    }
                </ul>


                <ul class="photos-grid-list photos-remainder-@Model.NonGridPhotoCount remainder-grid-list model-grid-images">
                    @if (Model.TotalPhotos < Model.GridSize && Model.NonGridPhotoCount > 1)
                    {
                        for (; i < Model.TotalPhotos && i < Model.GridSize; i++)
                        {
                            <li data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
                                <img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" src="" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" />
                            </li>
                        }
                    }
                    else if (Model.TotalPhotos == 1)
                    {
                        <li data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
                            <img src="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" />
                        </li>
                    }
                </ul>


            }
            <div class="clear"></div>
        </div>
    </section>
    if (Model.AdTags.Ad_300x250BTF)
    {
        <div class="margin-bottom20 text-center">
            @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", new { AdId = Model.AdTags.AdId });}
        </div>
    }
    <div id="photoTemplateWrapper" class="hide">
        <!-- ko if : Loadedphotos() && Loadedphotos().length > 0 -->
        <ul data-bind="foreach : Loadedphotos">
            <li data-bind="attr:{'data-imgcat' : ImageCategory , 'data-imgtype' : ImageType,'data-imgid' : ImageId}">
                <img class="lazy" data-bind="attr:{'src' : HostUrl + '/476x268/' + OriginalImgPath }" @*alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)"*@ />
            </li>
        </ul>
        <!-- /ko -->
    </div>
    if (Model.BikeInfo != null)
    { <section>
            <div class="container bg-white box-shadow section-bottom-margin">
                @Html.Partial("~/views/Bikemodels/_BikeInfoCard_Mobile.cshtml", Model.BikeInfo)
            </div>
        </section>
    }

    if (Model.ModelVideos != null && Model.Videos != null)
    {
        <div class="container bg-white box-shadow padding-15-20 section-bottom-margin">

            <h2 class="margin-bottom15">@Model.BikeName Videos</h2>

            @Html.Partial("~/Views/Videos/_RecentVideos_v1_Mobile.cshtml", Model.Videos)

            <div class="margin-top10">
                <a title="@Model.Videos.LinkTitle" href="@string.Format("/m{0}",Model.Videos.MoreVideoUrl)" class="btn view-all-target-btn">
                    View all videos <span class="bwmsprite teal-right"></span>
                </a>
            </div>
        </div>


    }

    if (Model.SimilarBikes != null && Model.SimilarBikes.Bikes != null)
    {
        @Html.Partial("~/views/Photos/_SimilarBikeWithPhotos_Mobile.cshtml", Model.SimilarBikes)
    }

    if (Model.ModelGallery != null)
    {
        @Html.Partial("~/views/Gallery/_ModelGallery_Mobile.cshtml", Model.ModelGallery)
    }

    if (Model.objMoreAboutScooter != null)
    {
        <div id="moreAboutScooter" class="content-box-shadow padding-top20 padding-bottom20 card-bottom-margin font14">
            <div class="swiper-container card-container model-related-swiper swiper-container-horizontal">
                <div class="swiper-wrapper">
                    @Html.Partial("~/Views/Scooters/_ModelRelatedCard_Mobile.cshtml", Model.objMoreAboutScooter)
                </div>
            </div>
        </div>
    }

}
@if (Model.AdTags.Ad_320x50BTF)
{
    <div class="margin-bottom20 text-center">
        @{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad320x50BTF.cshtml", new { AdId = Model.AdTags.AdId });}
    </div>
}
