@model Bikewale.Models.Photos.v1.PhotosPageVM
@if (Model != null)
{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/photos/landing.css' inline />";
    Model.Page_JS_Path = "/src/photos/landing.js";
    // Top Ad is being set in this file, not in _Layout_Mobile.cshtml
    Model.AdTags.Ad_Bot_320x50 = true;
    Model.AdTags.AdId = "1516009422206";
    Model.AdTags.AdPath = "/1017752/Bikewale_Bike_Image_Mobile";

    <script type="text/javascript">
        var isMobile = true;
        var currentPageNo = @Model.Pager.PageNo;
    </script>

    <section>
        <div class="container padding-15-20-20 bg-white">
            <h1 class="text-semibold margin-bottom10">Bike Images</h1>
            <div class="foldable-content" data-toggle="yes">
                <p class="truncatable-content" data-readtextflag="1">@Model.ImagesSynopsis</p>
                <a href="javascript:void(0)" class="read-more-button" rel="nofollow" data-text="Collapse">...Read more</a>
            </div>
        </div>
    </section>
    
    if (Model.PopularSportsModelsImages != null)
    {
        <section>
            <div class="container margin-bottom15">
                <h2 class="image-carousel__title">Popular Sport Bikes Images</h2>
                @Html.Partial("~/Views/Photos/_ImageCaraousel_Mobile.cshtml", Model.PopularSportsModelsImages)
            </div>
        </section>
    }

    <section>
        <div id='div-gpt-ad-@Model.AdTags.AdId-0' style='width:320px; height:50px;text-align:center;margin: 10px auto;'>
            <script type='text/javascript'>
                googletag.cmd.push(function () {
                    googletag.defineSlot('/1017752/Bikewale_Bike_Image_Mobile_ATF_320x50', [[320, 50], [320, 100]], 'div-gpt-ad-1516009422206-0').addService(googletag.pubads());
                    googletag.pubads().enableSingleRequest();
                    googletag.pubads().collapseEmptyDivs();
                    googletag.enableServices();
                });
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1516009422206-0'); });
            </script>
        </div>
    </section>

    <section>
        <div class="container section-bottom-margin" id="exploreModelListing">
            <h2 class="explore-bikes__title">Explore Images by Models</h2>
            <div class="explore-bikes__container">
                <div class="explore-bikes__content">
                    <div class="explore-bikes__search form-control-box">
                        <input type="text" id="exploreBikesField" class="form-control__input" placeholder="Search Bike and Brands">
                        <span class="input__search-icon" id="btnExploreBikesField"></span>
                        <ul id="errExploreBikes" class="ui-autocomplete ui-front ui-menu hide form-control__error">
                            <li class="ui-menu-item" tabindex="-1">
                                <span class="text-bold">Oops! No suggestions found</span><br />
                                <span class="text-light-grey font12">Search by bike name e.g: Maestro Edge</span>
                            </li>
                        </ul>
                    </div>
                    @if (Model != null && Model.BikeModelsPhotos != null)
                    {
                        @Html.Partial("~/Views/Photos/_ModelsImageList_Mobile.cshtml", Model.BikeModelsPhotos)
                    }
                    
                    @if (!string.IsNullOrEmpty(Model.PageMetaTags.NextPageUrl))
                    {
                        <div style="text-align: center; margin-top:20px;">
                            <div id="loading" style="display: none;" data-bind="visible : $root.IsLoading()">
                                <img src="https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/search-loading.gif">
                            </div>
                        </div>
                        <div class="explore-model__more-btn">
                            <a id="viewMoreBtn" href="@Model.PageMetaTags.NextPageUrl" class="btn btn-inv-blue" data-bind="click: $root.LoadMore, visible: $root.IsLoadMore() && !$root.IsLoading()">Load More</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    if (Model != null && Model.OtherPopularMakes != null)
    {
        <section>
            <div class="container bg-white padding-bottom10 section-bottom-margin">
                <h2 class="related-bikes__title">Browse Images by Brands</h2>
                @Html.Partial("~/Views/Photos/_OtherPopularMakes_Mobile.cshtml", Model.OtherPopularMakes)
            </div>
        </section>
    }

    if (Model.Videos != null && Model.Videos.VideosList != null && Model.Videos.VideosList.Any())
    {
        <div class="container bg-white ">
            <div id="videosContent" class="margin-right20 margin-left20 padding-top15 padding-bottom20 font14">
                <h2 class="font18">Videos</h2>
                @Html.Partial("~/Views/Videos/_RecentVideos_v1_Mobile.cshtml", Model.Videos)
                <div class="margin-top10">
                    <a title="@Model.Videos.LinkTitle" href="@string.Format("/m{0}",Model.Videos.MoreVideoUrl)" class="btn view-all-target-btn">
                        View all videos <span class="bwmsprite teal-right"></span>
                    </a>
                </div>
            </div>
        </div>
    }
}
