@model Bikewale.Models.Photos.PhotosPageVM
@{
	Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/photos.css' inline /> <link rel='stylesheet' type='text/css' href='/sass/m/photos/listing.css' inline/>";
	Model.Page_JS_Paths = new string[] { "/src/utils/swiperYoutube.js", "/src/utils/scroll.js", "/src/utils/navigationTabs.js", "/m/src/photos/gallery.js", "/m/src/photos/model.js" };
	Model.AdTags.Ad_300x250BTF = true;
	Model.AdTags.Ad_320x50 = true;
	Model.AdTags.Ad_320x50BTF = true;
	Model.AdTags.AdId = "1516082576550";
	Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_Image";
}
@if (Model != null)
{
	int i = 0; IList<Bikewale.Entities.CMS.Photos.ColorImageBaseEntity> objImages = new List<Bikewale.Entities.CMS.Photos.ColorImageBaseEntity>();

	if (Model.ModelImages != null)
	{
		objImages = Model.ModelImages.ToList();
	}
	<section>
		<div class="container box-shadow section-bottom-margin">

			<div id="galleryRoot" class="margin-bottom60" data-bind="css: { 'orientation--landscape': fullScreenModeActive(), 'gallery-popup--active': activePopup() }">
				<h1 class="page-header">@Model.Page_H1</h1>
				<div class="model-gallery-section">
					<div class="model-gallery__container" data-bind="css: activePopup() ? 'model-gallery--relative' : ''">
						<div id="mainPhotoSwiper" class="swiper-container swiper__image noSwiper model-gallery">
							<div class="swiper-wrapper" data-bind="foreach: photoList">
								<div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
									<img class="swiper-lazy gallery-swiper-image" data-bind="attr: { 'data-index': $index, alt: modelName + ' ' + ImageTitle, title: modelName + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
								</div>
							</div>
							<div class="swiper--next gallery__next"></div>
							<div class="swiper--prev gallery__prev"></div>
						</div>
						<div class="gallery-footer" data-bind="visible: galleryFooterActive()">
							<div class="gallery-footer__content">
								<div class="gallery-image__footer" data-visible="color">
									<div class="gallery-image__left-section">
										<span class="gallery-image__count">
											<span data-bind="text: activePhotoIndex()"></span>&nbsp;/&nbsp;<span data-bind="text : photoList().length"></span>
										</span>
										<h2 class="model-gallery__image-title" data-bind="text: activePhotoTitle(), css: (HideSwiperTitle() == false) ? 'inline': 'hide'"></h2>
									</div>
									<span class="gallery-image__color" data-bind="visible: activeFooterColorOption(), click: colorPopup().openPopup">Colors</span>
									<div class="gallery-image__feature">
										<a href="" title="" class="gallery__download-icon"></a>
										<a href="javascript:void(0)" title="" data-bind="click: toggleSharePopup" class="share-icon"></a>
										<a href="javascript:void(0)" title="" class="zoom-icon"></a>
										<a href="javascript:void(0)" title="" class="landscape-icon__container" data-bind="attr: { 'data-visible': activeLandscapeIcon() && activePopup() ? 'true': 'false' }, click: toggleFullScreen">
											<span class="landscape-icon" data-bind="visible: !rotateScreenOption()"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="gallery-footer__share" data-bind="visible: activeGalleryFooterShare">
								<ul class="share-popup__list">
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__instagram"></a>
									</li>
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__whatsapp"></a>
									</li>
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__facebook"></a>
									</li>
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__twitter"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="model-gallery__screen--rotate-slug" data-bind="attr: { 'data-visible': rotateScreenOption() ? 'true': 'false' }, click: videoPopup().openPopup">
						<span class="landscape-text">Switch to Landscape for better Experience</span>
						<span class="screen--rotate-slug__landscape-container">
							<span class="screen--rotate-slug__landscape-icon"></span>
						</span>
					</div>
					<div class="gallery-color--fixed" style="display: none" data-bind="visible: activeFloatingColorSlug(), click: colorPopup().openPopup">See colors images</div>
					<div class="gallery__continue-swipe-info" style="display: none" data-bind="visible: activeContinueSlug()">
						<span class="continue-info__label">Swipe to Continue Images</span>
					</div>
				</div>
				<div class="black-window"></div>

				<div id="sharePopup" data-bind="css: activeSharePopup() ? 'share-popup--active' : ''">
					<div class="share-popup__content">
						<span class="share-popup__close" data-bind="click: function(data, event) { closeSharePopup(true) }"></span>
						<p class="share-popup__title">Share this image</p>
						<ul class="share-popup__list">
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__instagram"></a>
							</li>
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__whatsapp"></a>
							</li>
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__facebook"></a>
							</li>
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__twitter"></a>
							</li>
						</ul>
					</div>
					<div class="share-popup__bg-window" data-bind="click: function(data, event) { closeSharePopup(true) }"></div>
				</div>

				<div id="colorGalleryPopup" class="color-popup__content" data-bind="css: { 'color-popup--active': colorPopup().activePopup(), 'color-popup--landscape': fullScreenModeActive() }">
					<div class="color-popup__head">
						<span class="color-popup-head__back" data-bind="click: function(data, event) { colorPopup().closePopup(true) }"></span>
						<p class="color-popup-head__title">Dominar 400 Colors</p>
					</div>
					<div class="color-popup__body">
						<div id="mainColorSwiper" class="swiper-container swiper__colors model-gallery noSwiper">
							<div class="swiper-wrapper" data-bind="foreach: colorPopup().colorSwiper().colorList">
								<div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
									<img class="swiper-lazy gallery-swiper-image" data-bind="attr: { 'data-index': $index, alt: modelName + ' ' + ImageTitle, title: modelName + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
								</div>
							</div>
							<div class="swiper--next color-type-next"></div>
							<div class="swiper--prev color-type-prev"></div>
						</div>
						<div class="gallery-footer__content">
							<div class="gallery-image__footer">
								<div class="gallery-image__left-section">
									<span class="gallery-image__count">
										<span data-bind="text: colorPopup().colorSwiper().activeIndex()"></span> / <span data-bind="text: colorPopup().colorSwiper().colorList().length"></span>
									</span>
								</div>
								<div class="gallery-image__feature">
									<a href="javascript:void(0)" title="" class="gallery__download-icon"></a>
									<a href="javascript:void(0)" title="" data-bind="click: toggleSharePopup" class="share-icon"></a>
									<a href="javascript:void(0)" title="" class="landscape-icon__container" data-bind="click: toggleFullScreen">
										<span class="landscape-icon"></span>
									</a>
								</div>
							</div>
						</div>
						<div class="color-popup__thumbnail-content" data-bind="css: { 'color-footer--inactive': !colorPopup().activeLandscapeFooter() }">
							<p class="color-list__heading">Colors</p>
							<div id="thumbnailColorSwiper" class="swiper-container noSwiper swiper__color-thumbnail" data-bind="css: { 'color-list--scrollable': !fullScreenModeActive() }">
								<div class="model-color__list swiper-wrapper " data-bind="foreach: colorPopup().colorSwiper().colorList, css: colorPopup().colorSwiper().colorList().length == 3 ? 'list-column--3' : ''">
									<div class="swiper-slide">
										<div class="color-box--border">
											<div class="color-box__content">
												<div class="color-box" data-bind="foreach: Colors, attr: { 'data-color-count': Colors.length }">
													<span class="color-box__item" data-bind="style: { 'background-color': '#' + $data }"></span>
												</div>
												<p class="color-box-label" data-bind="text: ImageTitle"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<span class="color-list__back-btn" data-bind="click: colorPopup().closePopup(true)">Back</span>
						</div>
					</div>
				
				</div>

				<div id="videoGalleryPopup" class="video-popup__content" data-bind="css: { 'video-popup--active': videoPopup().activePopup(), 'video-popup--landscape': fullScreenModeActive() }">
					<div class="video-popup__head">
						<span class="video-popup-head__back" data-bind="click: function(data, event) { videoPopup().closePopup(true) }"></span>
						<p class="video-popup-head__title">Dominar 400 Videos</p>
					</div>
					<div class="video-popup__body">
						<div id="mainVideoSwiper" class="swiper-container swiper-youtube swiper__videos noSwiper">
							<div class="swiper-wrapper video-list" data-bind="foreach: videoPopup().videoList">
								<div class="swiper-slide video-card-container">									
									<h4 class="swiper-card__label" data-bind="text: VideoTitle"></h4>
									<div class="model-card__list__video-card">
										<div class="youtube-iframe-preview video-card__video-preview">
											<iframe id="video_1" width="320" height="180" data-bind="attr: { 'src': VideoUrl + '&amp;enablejsapi=1' }" src="" frameborder="0" allowfullscreen=""></iframe>
										</div>
										<div class="video-card__desc clearfix">
											<div class="grid-4">
												<p class="font11 text-light-grey" data-bind="text: DisplayDate"></p>
											</div>
											<div class="grid-8 text-right">
												<span class="model-card__sub-title"><span data-bind="text: Views"></span> Views</span>
												<span class="model-card__sub-title margin-left20">
													<span class="thumbsup-icon"></span>
													<span data-bind="text: Likes"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span class="video-list__back-btn" data-bind="click: function(data, event) { closeVideoPopup(true) }">Back</span>
					</div>
				</div>

			</div>

			<section>
				<div id="overallContainer" class="overall-tabs__panel" data-panel-type="toggle">
					<div class="overall-tabs__placeholder">
						<div class="overall-tabs__content">
							<ul class="overall-tabs__list">
								<li class="overall-tabs-list__item tab--active" data-tabs="allImages">All Images (109)</li>
								<li class="overall-tabs-list__item" data-tabs="colours">Colours (12)</li>
								<li class="overall-tabs-list__item" data-tabs="videos">Videos (02)</li>
							</ul>
						</div>
					</div>

					<div data-id="allImages">
						<ul id="imageGridTop" class="image-grid__list" data-grid="7">
							@for (i = 0; i < 7; i++)
							{
								<li class="image-grid-list__item" data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
									<img src="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" class="" />
								</li>
							}
						</ul>

						<div class="model-info-section">
							<a href="" title="" class="model-info__target-link">
								<div class="model-info__container">
									<span class="rating-badge" data-rate-bg="4">
										<span class="rating-badge__star"></span>
										<span>3.5</span>
									</span>
									<div class="model-info__image">
										<img class="lazy" data-original="https://imgd.aeplcdn.com//110x61//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70 " src="" alt="KTM1 RC200 ">
									</div>
									<div class="model-info-description">
										<h3 class="model-info__title">
											Bajaj Dominar 400
										</h3>
										<p class="model-info__ex-showroom">
											Ex-showroom, Mumbai
										</p>
										<p class="card-exshowroom__value">&#x20b9;&nbsp;<span class="text--semibold">92,352</span></p>
									</div>
								</div>
							</a>
							<div class="model-info__specs-container">
								<a href="" class="model-info__specs-item specs-icon">
									Specs
								</a>
								<a href="" class="model-info__specs-item specs-icon">
									Expert Reviews
								</a>
								<a href="" class="model-info__specs-item specs-icon">
									News
								</a>
							</div>
						</div>

						<ul id="imageGridBottom" class="image-grid__list image-grid--bottom" data-grid="6">
							@for (; i < Model.GridPhotoCount && i < 19; i++)
							{
								<li class="image-grid-list__item" data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
									<img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" src="" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" />
								</li>
							}
						</ul>
						<div class="image-grid__list-more">
							<button id="viewMoreImageBtn" type="button" class="btn btn-inv-blue image-grid__more-btn">View More (<span id="moreImageCount">@( Model.GridPhotoCount - i)</span>)</button>
						</div>
					</div>

					<div id="colorTab" data-id="colours">
						<div id="colorSwiper" class="swiper-container swiper__colors model-gallery noSwiper">
							<div class="swiper-wrapper" data-bind="foreach: colorList">
								<div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
									<img class="swiper-lazy gallery-swiper-image" data-bind="attr: { 'data-index': $index, alt: modelName + ' ' + ImageTitle, title: modelName + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
								</div>
							</div>
							<div class="swiper--next color-type-next"></div>
							<div class="swiper--prev color-type-prev"></div>
						</div>
						<div class="swiper-colors__footer">
							<p class="colors-footer__title">Color: <span class="text--bold" data-bind="text: activeTitle"></span></p>
							<div id="colorTSwiper" class="swiper-container noSwiper swiper__color-thumbnail color-list--thumbnail">
								<div class="model-color__list swiper-wrapper" data-bind="foreach: colorList">
									<div class="swiper-slide">
										<div class="color-box" data-bind="foreach: Colors, attr: { 'data-color-count': Colors.length }">
											<span class="color-box__item" data-bind="style: { 'background-color': '#' + $data }"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="videoTab" data-id="videos" class="hide">
						<ul class="video-list overalltab__section-list" data-bind="foreach: videoList">
							<li class="video-card-container">
								<h4 class="swiper-card__label" data-bind="text: VideoTitle"></h4>
								<div class="model-card__list__video-card">
									<div class="video-card__video-preview">
										<iframe width="320" height="180" data-bind="attr: { 'src': VideoUrl }" src="" frameborder="0" allowfullscreen=""></iframe>
									</div>
									<div class="video-card__desc clearfix">
										<div class="grid-4">
											<p class="font11 text-light-grey" data-bind="text: DisplayDate"></p>
										</div>
										<div class="grid-8 text-right">
											<span class="model-card__sub-title"><span data-bind="text: Views"></span> Views</span>
											<span class="model-card__sub-title margin-left20">
												<span class="thumbsup-icon"></span>
												<span data-bind="text: Likes"></span>
											</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<div id="videoSlug" class="hide">
				<div class="video-slug__content">
					<p class="video-slug__title">Videos</p>
					<ul class="video-slug__list">
						<li>First Drive</li>
						<li>Comparison test</li>
					</ul>
					<a href="#" class="btn btn-inv-blue video-slug__more-btn">View All Videos</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</section>

	<section>
		<div class="similar-model">
			<h2 class="page__heading-h2">
				Bikes similar to Bajaj Dominar 400
			</h2>
			<div class="swiper-container card-container similar-model-carousel" data-spacebetween="0">
				<ul class="swiper-wrapper">
					@for (i = 0; i <= 5; i++)
					{
						<li class="swiper-slide carousel-slide">
							<div class="similar-model__card">
								<a href="" title="" class="similar-model__target">
									<div class="similar-model__image">
										<img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//160x89//bw/models/bajaj-pulsar-rs200.jpg?20150710124439&q=70" alt="" src="" title="">
									</div>
									<div class="similar-model__detail">
										<h3 class="similar-model__title">
											Royal Enfield Himalaya
										</h3>
										<p class="similar-model__ex-showroom">
											Ex-showroom, Mumbai
										</p>
										<p class="similar-model__value">&#x20b9;&nbsp;<span class="text--semibold">92,352</span></p>
									</div>
								</a>
								<a href="" title="" class="similar-model__footer">
									<div class="similar-model__image-count">
										View all 64 Images
									</div>
								</a>
							</div>
						</li>
					}


				</ul>
			</div>
		</div>

	</section>

	if (Model.AdTags.Ad_300x250BTF)
	{
		<div class="margin-bottom20 text-center">
			@{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", new { AdId = Model.AdTags.AdId });}
		</div>
	}

	<div id="photoTemplateWrapper" class="hide">
		<!-- ko if : Loadedphotos() && Loadedphotos().length > 0 -->
		<ul data-bind="foreach : Loadedphotos">
			<li class="image-grid-list__item" data-bind="attr:{'data-imgcat' : ImageCategory , 'data-imgtype' : ImageType,'data-imgid' : ImageId}">
				<img class="lazy" data-bind="attr:{'src' : HostUrl + '/476x268/' + OriginalImgPath }" @*alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)"*@ />
			</li>
		</ul>
		<!-- /ko -->
	</div>

	if (Model.ModelGallery != null)
	{
		@Html.Partial("~/views/Gallery/_ModelGallery_Mobile.cshtml", Model.ModelGallery)
	}

}
@if (Model.AdTags.Ad_320x50BTF)
{
	<div class="margin-bottom20 text-center">
		@{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad320x50BTF.cshtml", new { AdId = Model.AdTags.AdId });}
	</div>
}

<!-- image slug -->
<div id="swiperColorSlug" class="hide" data-bind="template: {name: 'colorSlugTemplate', data: colorData }"></div>

<script type="text/html" id="colorSlugTemplate">
	<div class="model-gallery__color-slide gallery__slide-slug">
		<p class="color-slide__title">Dominar 400 Colors</p>
		<ul class="color-slide__list" data-bind="foreach: colorList">
			<li class="color-slide-list__item">
				<div class="color-box" data-bind="foreach: Colors, attr: { 'data-color-count': Colors.length }">
					<span class="color-box__item" data-bind="style: { 'background-color': '#' + $data }"></span>
				</div>
			</li>
		</ul>
		<p class="color-slide__more-count" data-bind="text: '+' + remainingCount + ' More Color' + (remainingCount > 1 ? 's' : '') "></p>
		<button type="button" class="btn btn-inv-blue swiper-slide__more-btn">Show All Color Images</button>
	</div>
</script>
