@model Bikewale.Models.Photos.PhotosPageVM
@{
	Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/m/photos/listing.css' /> <link rel='stylesheet' type='text/css' href='/sass/m/photos/gallery-popup.css' /> <link rel='stylesheet' type='text/css' href='/sass/m/photos/colours-popup.css' /> <link rel='stylesheet' type='text/css' href='/sass/m/photos/videos-popup.css' />";
	Model.Page_JS_Paths = new string[] { "/src/utils/swiperYoutube.js", "/src/utils/scroll.js", "/src/utils/navigationTabs.js", "/m/src/photos/gallery.js", "/m/src/photos/galleryViewModel.js", "/m/src/photos/model.js" };
	Model.AdTags.Ad_300x250BTF = true;
	Model.AdTags.Ad_320x50 = true;
	Model.AdTags.Ad_320x50BTF = true;
	Model.AdTags.AdId = "1516082576550";
	Model.AdTags.AdPath = "/1017752/Bikewale_Mobile_Image";
}
@if (Model != null)
{
	int i = 0; IList<Bikewale.Entities.CMS.Photos.ColorImageBaseEntity> objImages = new List<Bikewale.Entities.CMS.Photos.ColorImageBaseEntity>();

	if (Model.ModelImages != null)
	{
		objImages = Model.ModelImages.ToList();
	}
	<section>
		<div class="container box-shadow section-bottom-margin">

			<div id="galleryRoot" class="margin-bottom60" data-bind="css: { 'orientation--landscape': fullScreenModeActive(), 'gallery-popup--active': activePopup() }">
				<h1 class="page-header">@Model.Page_H1</h1>
				<div class="model-gallery-section" data-bind="css: {'gallery-color-slug--active': colorSlug().activeSlug(), 'gallery-video-slug--active': videoSlug().activeSlug()}">
					<div class="model-gallery__container" data-bind="css: activePopup() ? 'gallery-popup--active' : ''">
						<div id="mainPhotoSwiper" class="swiper-container swiper__image noSwiper model-gallery">
							<div class="swiper-wrapper" data-bind="foreach: photoList">
								<div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
									<img class="swiper-lazy gallery-swiper-image" data-bind="attr: { 'data-index': $index, alt: MODEL_NAME + ' ' + ImageTitle, title: MODEL_NAME + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
								</div>
							</div>
                            <div class="swiper--next gallery__next bw-ga" data-cat="Model_Images_Page" data-act="Image_Carousel_Clicked" data-lab="@string.Format("{0}_{1}", Model.Make.MakeName, Model.Model.ModelName)"></div>
                            <div class="swiper--prev gallery__prev bw-ga" data-cat="Model_Images_Page" data-act="Image_Carousel_Clicked" data-lab="@string.Format("{0}_{1}", Model.Make.MakeName, Model.Model.ModelName)"></div>

							<div data-bind="with: colorSlug">
								<div class="model-gallery__color-slide gallery__slide-slug" data-bind="if: $parent.isColorSlugEligible, visible: activeSlug()">
									<p class="gallery-slide-slug__title" data-bind="text: modelName + ' Colours'"></p>
									<ul class="color-slide__list" data-bind="foreach: colorList">
										<li class="color-slide-list__item">
											<div class="color-box" data-bind="foreach: Colors, attr: { 'data-color-count': Colors.length }">
												<span class="color-box__item" data-bind="style: { 'background-color': '#' + $data }"></span>
											</div>
										</li>
									</ul>
									<p class="color-slide__more-count" data-bind="text: '+' + remainingCount + ' More Color' + (remainingCount > 1 ? 's' : '') "></p>
									<div class="slide__more-btn-content">
										<button type="button" class="btn btn-inv-blue slide__more-btn" data-bind="click: $parent.colorPopup().openPopup">Show All Colour Images</button>
									</div>
								</div>
								<p class="gallery__single-color-title" data-bind="visible: activeSingleColorMessage(), text: modelName + ' is available in ' + colorList[0].ImageTitle + ' color only.'"></p>
							</div>

							<div data-bind="with: videoSlug">
								<div class="model-gallery__video-slide gallery__slide-slug" data-bind="if: videoCount, visible: activeSlug(), css: {'video-slug--single-video': videoCount === 1, 'video-slug--video-playing': isPlaying()}">
									<p class="gallery-slide-slug__title" data-bind="text: modelName + ' Video' + (videoCount > 1 ? 's' : '')"></p>
									<!-- ko if : videoCount === 1 -->
										<span class="video-slug__play" data-bind="click: function(data, event) { playVideo(event) }"></span>
										<p class="video-slug__description" data-bind="text: videoList[0].VideoTitle"></p>
										<div class="swiper-youtube video-slug__iframe-container">
											<div class="youtube-iframe-preview video-card__video-preview">
												<iframe id="videoSlugIframe" width="320" height="180" data-bind="attr: { 'src': 'https://www.youtube.com/embed/' + videoList[0].VideoId + '?rel=0&amp;showinfo=0&amp;enablejsapi=1' }" src="" frameborder="0" allowfullscreen=""></iframe>
												<img class="video-slug__thumbnail" data-bind="attr: {'src': 'https://img.youtube.com/vi/' + videoList[0].VideoId + '/mqdefault.jpg'}" src="" />
											</div>
										</div>
									<!-- /ko -->
									<!-- ko if : videoCount > 1 -->
										<p class="video-slug__description" data-bind="text: description"></p>
										<div class="slide__more-btn-content">
											<button type="button" class="btn btn-inv-blue slide__more-btn" data-bind="click: $parent.videoPopup().openPopup">Show All Videos</button>
										</div>
										
									<!-- /ko -->
								</div>
							</div>

						</div>
						<div class="gallery-footer" data-bind="visible: galleryFooterActive()">
							<div class="gallery-footer__content">
								<div class="gallery-image__footer" data-visible="color">
									<div class="gallery-image__left-section">
										<span class="gallery-image__count">
											<span data-bind="text: activeIndex()"></span>&nbsp;/&nbsp;<span data-bind="text : photoList().length"></span>
										</span>
										<h2 class="model-gallery__image-title" data-bind="text: activeTitle(), visible: activeSwiperTitle()"></h2>
									</div>
									<span class="gallery-image__color" data-bind="visible: activeFooterColorOption(), click: colorPopup().openPopup" style="display: none">Colors</span>
									<div class="gallery-image__feature">
										<a href="javascript:void(0)" title="" class="gallery__download-icon"></a>
										<span data-bind="click: toggleSharePopup" class="gallery__share-icon"></span>
										<span class="gallery__zoom-icon" data-bind="click: openGalleryPopup"></span>
										<span class="landscape-icon__container" data-bind="attr: { 'data-visible': activeLandscapeIcon() && activePopup() && fullScreenSupport() ? 'true': 'false' }, click: toggleFullScreen">
											<span class="gallery__landscape-icon" data-bind="visible: !rotateScreenOption()"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="gallery-footer__share" data-bind="visible: activeGalleryFooterShare" style="display: none">
								<ul class="share-popup__list">
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__instagram"></a>
									</li>
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__whatsapp"></a>
									</li>
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__facebook"></a>
									</li>
									<li class="share-list__item">
										<a href="javascript:void(0)" class="share-item__icon share-icon__twitter"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gallery__landscape-slug" data-bind="visible: rotateScreenOption() && fullScreenSupport(), css: {'landscape-slug--inactive': fullScreenModeActive() }, click: toggleFullScreen" style="display: none">
						<span class="landscape-text">Switch to Landscape for better Experience</span>
						<span class="screen--rotate-slug__landscape-container">
							<span class="screen--rotate-slug__landscape-icon"></span>
						</span>
					</div>
					<div class="gallery__color-floating-slug" style="display: none" data-bind="visible: activeFloatingColorSlug(), click: colorPopup().openPopup">See colours images</div>
					<div class="gallery__continue-swipe-info" style="display: none" data-bind="visible: activeContinueSlug(), click: handleGalleryContinueClick">
						<span class="continue-info__label">Swipe to Continue Images</span>
						<span class="continue-info__arrow"></span>
					</div>
				</div>

				<span id="galleryCloseBtn" class="gallery__close-btn" data-bind="visible: activePopup() && galleryFooterActive()" onClick="history.back()" style="display: none"></span>
				<div id="galleryBgWindow" class="black-window"></div>

				<div id="sharePopup" data-bind="css: activeSharePopup() ? 'share-popup--active' : ''">
					<div class="share-popup__content">
						<span class="share-popup__close" onClick="history.back()"></span>
						<p class="share-popup__title">Share this image</p>
						<ul class="share-popup__list">
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__instagram"></a>
							</li>
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__whatsapp"></a>
							</li>
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__facebook"></a>
							</li>
							<li class="share-list__item">
								<a href="javascript:void(0)" class="share-item__icon share-icon__twitter"></a>
							</li>
						</ul>
					</div>
					<div class="share-popup__bg-window" onClick="history.back()"></div>
				</div>

				<div id="colorGalleryPopup" class="color-popup__content" data-bind="with: colorPopup, css: { 'color-popup--active': colorPopup().activePopup(), 'color-popup--landscape': fullScreenModeActive() }">
					<div class="color-popup__head">
						<span class="color-popup-head__back" onClick="history.back()"></span>
						<p class="color-popup-head__title" data-bind="text: modelName + ' Colours'"></p>
					</div>
					<div class="color-popup__body">
						<div id="mainColorSwiper" class="swiper-container swiper__colors model-gallery noSwiper">
							<div class="swiper-wrapper" data-bind="foreach: colorSwiper().colorList">
								<div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
									<img class="swiper-lazy gallery-swiper-image" data-bind="attr: { 'data-index': $index, alt: MODEL_NAME + ' ' + ImageTitle, title: MODEL_NAME + ' ' + ImageTitle, 'data-src': $root.renderImage(HostUrl, OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
								</div>
							</div>
                            <div class="swiper--next color-type-next"></div>
                            <div class="swiper--prev color-type-prev"></div>
						</div>
						<div class="gallery-footer__content">
							<div class="gallery-image__footer">
								<div class="gallery-image__left-section">
									<span class="gallery-image__count">
										<span data-bind="text: colorSwiper().activeIndex()"></span> / <span data-bind="text: colorSwiper().colorList().length"></span>
									</span>
								</div>
								<div class="gallery-image__feature">
									<a href="javascript:void(0)" title="" class="gallery__download-icon"></a>
									<span data-bind="click: $root.toggleSharePopup" class="gallery__share-icon"></span>
									<span class="landscape-icon__container" data-bind="click: $root.toggleFullScreen, visible: $root.fullScreenSupport()">
										<span class="gallery__landscape-icon"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="color-popup__thumbnail-content" data-bind="css: { 'color-footer--inactive': !activeLandscapeFooter() }">
							<p class="color-list__heading">Colors</p>
							<div id="thumbnailColorSwiper" class="swiper-container noSwiper swiper__color-thumbnail" data-bind="css: { 'color-list--scrollable': !$root.fullScreenModeActive() }">
								<div class="model-color__list swiper-wrapper " data-bind="foreach: colorSwiper().colorList, css: colorSwiper().colorList().length == 3 ? 'list-column--3' : ''">
									<div class="swiper-slide">
										<div class="color-box--border">
											<div class="color-box__content">
												<div class="color-box" data-bind="foreach: Colors, attr: { 'data-color-count': Colors.length }">
													<span class="color-box__item" data-bind="style: { 'background-color': '#' + $data }"></span>
												</div>
												<p class="color-box-label" data-bind="text: ImageTitle"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<span class="color-list__back-btn" onClick="history.back()">Back</span>
						</div>

						<div class="color-popup-body__footer">
							<div class="color-popup__landscape-slug-content">
								<div class="gallery__landscape-slug">
									<span class="landscape-text">Switch to Landscape for better Experience</span>
									<span class="screen--rotate-slug__landscape-container">
										<span class="screen--rotate-slug__landscape-icon"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				
				</div>

				<div id="videoGalleryPopup" class="video-popup__content" data-bind="css: { 'video-popup--active': videoPopup().activePopup(), 'video-popup--landscape': fullScreenModeActive() }">
					<div class="video-popup__head">
						<span class="video-popup-head__back" onClick="history.back()"></span>
						<p class="video-popup-head__title">Dominar 400 Videos</p>
					</div>
					<div class="video-popup__body">
						<div id="mainVideoSwiper" class="swiper-container swiper-youtube swiper__videos noSwiper">
							<div class="swiper-wrapper video-list" data-bind="foreach: videoPopup().videoData().videoList">
								<div class="swiper-slide video-card-container">									
									<h4 class="swiper-card__label" data-bind="text: VideoTitle"></h4>
									<div class="model-card__list__video-card">
										<div class="youtube-iframe-preview video-card__video-preview">
											<iframe width="320" height="180" data-bind="attr: { 'id': 'video_' + $index(), 'src': 'https://www.youtube.com/embed/' + VideoId + '?rel=0&amp;showinfo=0&amp;enablejsapi=1' }" src="" frameborder="0" allowfullscreen=""></iframe>
										</div>
										<div class="video-card__desc clearfix">
											<div class="grid-4">
												<p class="font11 text-light-grey" data-bind="text: DisplayDate"></p>
											</div>
											<div class="grid-8 text-right">
												<span class="model-card__sub-title"><span data-bind="text: Views"></span> Views</span>
												<span class="model-card__sub-title margin-left20">
													<span class="thumbsup-icon"></span>
													<span data-bind="text: Likes"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span class="video-list__back-btn" onClick="history.back()">Back</span>
					</div>
				</div>

				<div id="galleryLoader" class="gallery__loader black-window">
					<span class="loader__spin loader--fixed"></span>
				</div>
			</div>

			<section>
				<div id="overallContainer" class="overall-tabs__panel" data-panel-type="toggle">
					<div class="overall-tabs__placeholder">
						<div class="overall-tabs__content">
							<ul class="overall-tabs__list">
								<li class="overall-tabs-list__item tab--active" data-tabs="allImages">All Images (109)</li>
								<li class="overall-tabs-list__item" data-tabs="colours">Colours (12)</li>
								<li class="overall-tabs-list__item" data-tabs="videos">Videos (2)</li>
							</ul>
						</div>
					</div>

					<div data-id="allImages">
						<ul id="imageGridTop" class="image-grid__list" data-grid="7">
							@for (i = 0; i < Math.Min(Model.GridPhotoCount, 7); i++)
							{
								<li class="image-grid-list__item" data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
									<img src="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" class="" />
								</li>
							}
						</ul>

                        @if (Model.BikeInfo != null)
                        { <section>
                              <div class="image-list__model-widget">
                                  @Html.Partial("~/views/Bikemodels/_BikeInfoCard_New_Mobile.cshtml", Model.BikeInfo)
                              </div>
                        </section>
                        }
						
						
					

						<ul id="imageGridBottom" class="image-grid__list image-grid--bottom" data-grid="6">
							@while (i < Math.Min(Model.GridPhotoCount, 19))
							{
								<li class="image-grid-list__item" data-imgcat="@objImages[i].ImageCategory" data-imgtype="@((int)objImages[i].ImageType)" data-imgid="@objImages[i].ImageId">
									<img class="lazy" data-original="@Bikewale.Utility.Image.GetPathToShowImages(objImages[i].OriginalImgPath, objImages[i].HostUrl, Bikewale.Utility.ImageSize._476x268)" src="" alt="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" title="@string.Format(" {0} {1} Image", Model.BikeName, objImages[i].ImageCategory)" />
								</li>
								i++;
							}
						</ul>
						<div class="image-grid__list-more">
							<button id="viewMoreImageBtn" type="button" class="btn btn-inv-blue image-grid__more-btn">View More (<span id="moreImageCount">@( Model.GridPhotoCount - i)</span>)</button>
						</div>
					</div>

					<div id="colorTab" data-id="colours">
						<div id="colorTabSwiper" class="swiper-container swiper__colors model-gallery noSwiper">
							<div class="swiper-wrapper" data-bind="foreach: colorList">
								<div class="swiper-slide" data-bind="attr: { 'data-imgid': ImageId,'data-imgcat': ImageCategory,'data-imgtype': ImageType}">
									<img class="swiper-lazy gallery-swiper-image" data-bind="attr: { 'data-index': $index, alt: MODEL_NAME + ' ' + ImageTitle, title: MODEL_NAME + ' ' + ImageTitle, 'data-src': $parent.renderImage(HostUrl,OriginalImgPath,'642x361') }" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" alt="" title="" border="0" />
								</div>
							</div>
							<div class="swiper--next color-type-next"></div>
							<div class="swiper--prev color-type-prev"></div>
						</div>
						<div class="swiper-colors__footer">
							<p class="colors-footer__title">Color: <span class="text--bold" data-bind="text: activeTitle"></span></p>
							<div id="colorTabThumbnailSwiper" class="swiper-container noSwiper swiper__color-thumbnail color-list--thumbnail">
								<div class="model-color__list swiper-wrapper" data-bind="foreach: colorList">
									<div class="swiper-slide">
										<div class="color-box" data-bind="foreach: Colors, attr: { 'data-color-count': Colors.length }">
											<span class="color-box__item" data-bind="style: { 'background-color': '#' + $data }"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="videoTab" data-id="videos" class="hide">
						<div class="swiper-youtube swiper__videos">
							<div class="video-list" data-bind="foreach: videoList">
								<div class="video-card-container">									
									<h4 class="swiper-card__label" data-bind="text: VideoTitle"></h4>
									<div class="model-card__list__video-card">
										<div class="youtube-iframe-preview video-card__video-preview">
											<iframe width="320" height="180" data-bind="attr: { 'id': 'videoTab_' + $index(), 'src': 'https://www.youtube.com/embed/' + VideoId + '?rel=0&amp;showinfo=0&amp;enablejsapi=1' }" src="" frameborder="0" allowfullscreen=""></iframe>
										</div>
										<div class="video-card__desc clearfix">
											<div class="grid-4">
												<p class="font11 text-light-grey" data-bind="text: DisplayDate"></p>
											</div>
											<div class="grid-8 text-right">
												<span class="model-card__sub-title"><span data-bind="text: Views"></span> Views</span>
												<span class="model-card__sub-title margin-left20">
													<span class="thumbsup-icon"></span>
													<span data-bind="text: Likes"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="image-grid__list-more" data-bind="visible: videoList().length > 10">
							<a href="" title="" class="btn btn-inv-blue image-grid__more-btn">View More Videos</a>
						</div>
					</div>
				</div>
			</section>

			<div id="videoSlug" class="hide">
				<div class="video-slug__content">
					<p class="video-slug__title">Videos</p>
					<ul class="video-slug__list">
						<li>First Drive</li>
						<li>Comparison test</li>
					</ul>
					<a href="#" class="btn btn-inv-blue video-slug__more-btn">View All Videos</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</section>


    if (Model.SimilarBikes != null && Model.SimilarBikes.Bikes != null)
    {
        <section>
            @Html.Partial("~/views/Photos/_SimilarBikeWithPhotos_Mobile.cshtml", Model.SimilarBikes)
        </section>
    }


	if (Model.AdTags.Ad_300x250BTF)
	{
		<div class="margin-bottom20 text-center">
			@{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad300x250BTF.cshtml", new { AdId = Model.AdTags.AdId });}
		</div>
	}

	<div id="photoTemplateWrapper" class="hide">
		<!-- ko if : Loadedphotos() && Loadedphotos().length > 0 -->
		<ul data-bind="foreach : Loadedphotos">
			<li class="image-grid-list__item" data-bind="attr:{'data-imgcat' : ImageCategory , 'data-imgtype' : ImageType,'data-imgid' : ImageId}">
				<img class="lazy" data-bind="attr:{'src' : HostUrl + '/476x268/' + OriginalImgPath }" />
			</li>
		</ul>
		<!-- /ko -->
	</div>

	if (Model.ModelGallery != null)
	{
		@Html.Partial("~/views/Gallery/_ModelGallery_Mobile.cshtml", Model.ModelGallery)
	}

}
@if (Model.AdTags.Ad_320x50BTF)
{
	<div class="margin-bottom20 text-center">
		@{Html.RenderPartial("/Views/Shared/Ads/Mobile/Ad320x50BTF.cshtml", new { AdId = Model.AdTags.AdId });}
	</div>
}

