@model Bikewale.Models.RecentVideosVM
@using Bikewale.Utility
@if (Model != null && Model.VideosList != null && Model.VideosList != null) { 
foreach(var video in Model.VideosList){
<div class="margin-bottom20">
    <div class="grid-4">
        <div class="model-preview-image-container">
            <span data-url="@UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId))"
                  title="@video.VideoTitle" class="redirect-url">
                <img class="lazy" data-original="@string.Format("https://img.youtube.com/vi/{0}/mqdefault.jpg",video.VideoId)" title="@video.VideoTitle" alt="" src="" />
                <span class="play-icon-wrapper">
                    <span class="bwsprite video-play-icon"></span>
                </span>
            </span>
        </div>
    </div>
    <div class="grid-8">
        <span data-url="@UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId))" class="article-target-link line-height redirect-url" title="@video.VideoTitle">@video.VideoTitle</span>
        <div class="article-stats-left-grid">
            <span class="bwsprite calender-grey-sm-icon"></span>
            <span class="article-stats-content">@FormatDate.GetFormatDate(Convert.ToString(video.DisplayDate), "dd MMMM yyyy")</span>
        </div>
        <div class="article-stats-right-grid">
            <span class="bwsprite review-sm-lgt-grey"></span>
            <span class="article-stats-content">@Format.FormatPrice(Convert.ToString(video.Views))</span>
        </div>
        <p class="margin-top12 line-height17 font14">
            @FormatDescription.TruncateDescription(video.Description,200)
        </p>
    </div>
    <div class="clear"></div>
</div>
        }
}