@model Bikewale.Models.RecentVideosVM
@using Bikewale.Utility
@if (Model != null && Model.VideosList != null && Model.VideosList != null) {
	<ul>
    @foreach(var video in Model.VideosList){
        <li class="margin-bottom20">
			<div class="review-image-wrapper">
                <span data-url="@string.Format("/m{0}",UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId)))" class="article-target-image video-image-thumbnail redirect-url">
                    <img class="lazy" data-original="@string.Format("https://img.youtube.com/vi/{0}/mqdefault.jpg",video.VideoId)"
                         alt="@video.VideoTitle" title="@video.VideoTitle" src="" border="0" />
                    <span class="play-icon-wrapper">
                        <span class="bwmsprite video-play-icon"></span>
                    </span>
                </span>
			</div>
			<div class="review-heading-wrapper">
                <span data-url="@string.Format("/m{0}",UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId)))"
                      class="font14 target-link redirect-url" title="@video.VideoTitle">@FormatDescription.TruncateDescription(video.VideoTitle, 44)</span>
				<div class="grid-7 alpha padding-right5">
					<span class="bwmsprite calender-grey-sm-icon"></span>
					<span class="article-stats-content">@FormatDate.GetFormatDate(Convert.ToString(video.DisplayDate), "dd MMM yyyy")</span>
				</div>
				<div class="grid-5 alpha omega">
					<span class="bwmsprite views-grey-sm-icon"></span>
					<span class="article-stats-content video-view-count">@Format.FormatPrice(Convert.ToString(video.Views))</span>
				</div>
				<div class="clear"></div>
			</div>
			<p class="font14 margin-top10">
				@FormatDescription.TruncateDescription(video.Description,180)
			</p>
        </li>
      }
	  </ul>
 @*<div class="view-all-btn-container">
    <a title="@Model.LinkTitle" href="@string.Format("/m{0}",Model.MoreVideoUrl)" class="bw-ga btn view-all-target-btn" data-cat="Model_Page" data-act="View_all_videos_link_cliked" data-var="@Model.BikeName">View all videos<span class="bwmsprite teal-right"></span></a>
</div>*@
}

