@model Bikewale.Models.SimilarVideoModelsVM
@using Bikewale.Utility;
@if (Model != null && Model.Videos != null && Model.Videos.Count() > 0)
{
    <section>
        <div class="container bg-white box-shadow padding-top15 padding-bottom15 margin-bottom10">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>More related videos</h2>
                </div>
                @if (Model.ModelId > 0) { 
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="@string.Format("/m{0}",Model.ViewAllLinkUrl)" title="@Model.ViewAllLinkTitle" class="btn view-all-target-btn">@Model.ViewAllLinkText</a>
                </div>
                }
                <div class="clear"></div>
            </div> 
           <div class="swiper-container card-container video-swiper">
                <div class="swiper-wrapper">
                    @foreach (var video in Model.Videos)
                    {
                        <div class="swiper-slide">
                            <div class="swiper-card">
                                <a href="@string.Format("/m{0}",UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,video.BasicId.ToString()))" title="@video.VideoTitle" class="block swiper-card-target">
                                    <div class="swiper-image-preview">
                                        <img class="swiper-lazy" data-src="https://img.youtube.com/vi/@Html.Raw(video.VideoId)/mqdefault.jpg" alt="@video.VideoTitle" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                        <span class="black-overlay">
                                            <span class="bwmsprite video-play-icon"></span>
                                        </span>
                                    </div>
                                    <div class="swiper-details-block">
                                        <h3 class="font12 text-black margin-bottom5 text-truncate-2">@video.VideoTitle</h3>
                                        <div class="grid-7 alpha padding-right5">
                                            <span class="bwmsprite calender-grey-sm-icon"></span>
                                            <span class="article-stats-content">@FormatDate.GetFormatDate(video.DisplayDate, "dd MMMM yyyy")</span>
                                        </div>
                                        <div class="grid-5 alpha omega">
                                            <span class="bwmsprite review-sm-lgt-grey"></span>
                                            <span class="article-stats-content">@Format.FormatNumeric(video.Views.ToString())</span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
