@model Bikewale.Models.Videos.VideosBySubcategoryVM
@using Bikewale.Utility
@if (Model != null && Model.VideoList != null && Model.VideoList.Videos != null && Model.VideoList.Videos.Count() > 0) { 
<section class="@Model.SectionBackgroundClass">
    <div class="container">
        <div class="grid-12">
            <h2 class="text-bold text-center margin-top40 margin-bottom20 font28">@Model.SectionTitle</h2>
            <div class="jcarousel-wrapper firstride-jcarousel">
                <div class="jcarousel">
                    <ul>
                        @foreach (var video in Model.VideoList.Videos) { 
                                <li class="front">
                                    <div class="videocarousel-image-wrapper rounded-corner2">
                                        <a href="@UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId))">
                                            <img class="lazy" data-original="@string.Format("https://img.youtube.com/vi/{0}/mqdefault.jpg",video.VideoId)"
                                            alt="@video.VideoTitle" title="@video.VideoTitle" src="" border="0" />
                                        </a>
                                    </div>
                                    <div class="videocarousel-desc-wrapper">
                                        <a href="@UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId))" class="font14 text-bold text-default">@video.VideoTitle"</a>
                                        <p class="font12 text-light-grey margin-top10 margin-bottom10">@FormatDate.GetFormatDate(Convert.ToString(video.DisplayDate),"dd MMMM yyyy")</p>
                                        <div class="grid-6 alpha omega border-light-right font14">
                                            <span class="bwsprite video-views-icon margin-right5"></span><span class="text-light-grey margin-right5">Views:</span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Views))</span>
                                        </div>
                                        <div class="grid-6 omega padding-left20 font14">
                                            <span class="bwsprite video-likes-icon margin-right5"></span><span class="text-light-grey margin-right5">Likes:</span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Likes))</span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                        }
                    </ul>
                </div>
                <span class="jcarousel-control-left"><a href="#" class="bwsprite jcarousel-control-prev"></a></span>
                <span class="jcarousel-control-right"><a href="#" class="bwsprite jcarousel-control-next"></a></span>
            </div>
            <!-- keep heading and view all at widget level as it varies according to the widget and is used only on videos landing page-->
            <div class="view-all-btn-container">
                <a title="@Model.SectionTitle Bike Videos" href="@UrlFormatter.VideoByCategoryPageUrl(Model.SectionTitle,(String.IsNullOrEmpty(Model.CategoryIdList))?((int)Model.CategoryId).ToString():Model.CategoryIdList)" class="btn view-all-target-btn">View more videos<span class="bwsprite teal-right"></span></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
}

