@model Bikewale.Models.Videos.VideosBySubcategoryVM
@using Bikewale.Utility
@if (Model != null && Model.VideoList != null && Model.VideoList.Videos != null && Model.VideoList.Videos.Count() > 0) {
<section>
    <div class="container">
        <h2 class="text-center margin-top5 margin-bottom15">@Model.SectionTitle</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach(var video in Model.VideoList.Videos){
                        <div class="swiper-slide video-carousel-content rounded-corner2">
                            <div class="video-carousel-image">
                                <a href="@string.Format("/m{0}",UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId)))">
                                    <img class="swiper-lazy" data-src="@string.Format("https://img.youtube.com/vi/{0}/mqdefault.jpg",video.VideoId)"
                                     alt="@video.VideoTitle" title="@video.VideoTitle" src="" border="0" />
                                    <span class="swiper-lazy-preloader"></span>
                                </a>
                            </div>
                            <div class="video-carousel-desc">
                                <a href="@string.Format("/m{0}",UrlFormatter.VideoDetailPageUrl(video.VideoTitleUrl,Convert.ToString(video.BasicId)))" class="font14 text-bold text-default">@video.VideoTitle</a>
                                <p class="font12 text-light-grey margin-top10 margin-bottom10">@FormatDate.GetFormatDate(Convert.ToString(video.DisplayDate),"dd MMMM yyyy")</p>
                                <div class="grid-6 alpha omega border-light-right font14">
                                    <span class="bwmsprite video-views-icon margin-right5"></span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Views))</span>
                                </div>
                                <div class="grid-6 omega padding-left10 font14">
                                    <span class="bwmsprite video-likes-icon margin-right5"></span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Likes))</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                }
            </div>
        </div>
        <!-- keep heading and view all at widget level as it varies according to the widget and is used only on videos landing page-->
        <div class="padding-left10 view-all-btn-container margin-top10 padding-bottom20">
            <a href="@string.Format("/m{0}",UrlFormatter.VideoByCategoryPageUrl(Model.SectionTitle,Model.CategoryIdList))" title="@Model.SectionTitle Bike Videos" class="btn view-all-target-btn">View more videos<span class="bwmsprite teal-right"></span></a>
        </div>
    </div>
</section>
}