@model Bikewale.Models.VideoDetailsPageVM
@{  
    Model.Page_JS_Path = "/src/videos/detail.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/video/detail.css' inline />";
    Model.Page_BTF_CSS_Path = "/css/jquery.floating-social-share.min.css";
}
@if (Model != null && Model.Video!=null)
{
    <section>
        <div class="container margin-bottom20">
            <div class="grid-12">
                <div class="content-box-shadow content-inner-block-20">
                    <h1 class="margin-bottom10">@Model.Video.VideoTitle</h1>
                    <div id="embedVideo" class="margin-bottom15">
                        <iframe width="934" height="527" src="@string.Format("{0}&autoplay=1", Model.Video.VideoUrl)" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="font14 text-light-grey margin-bottom10">@Html.Raw(Model.Video.Description)</div>
                    <p class="video-views-counts border-light-right font14 leftfloat padding-right40">
                        <span class="bwsprite video-views-icon margin-right5"></span><span class="text-light-grey margin-right5">Views:</span><span class="text-default comma">@Bikewale.Utility.Format.FormatNumeric(Model.Video.Views.ToString())</span>
                    </p>
                    <p class="video-views-counts padding-left30 font14 leftfloat border-light-right">
                        <span class="bwsprite video-likes-icon margin-right5"></span><span class="text-light-grey margin-right5">Likes:</span><span class="text-default comma">@Bikewale.Utility.Format.FormatNumeric(Model.Video.Likes.ToString())</span>
                    </p>
                    <div class="leftfloat powerdrift-subscribe padding-left30">
                        <script src="https://apis.google.com/js/platform.js"></script>
                        <div class="g-ytsubscribe" data-channel="powerdriftofficial" data-layout="default" data-theme="dark" data-count="hidden"></div>
                    </div>
                    <p class="rightfloat text-light-grey font12">@Model.DisplayDate</p>
                    <p class="clear"></p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
}

@if(Model.IsBikeTagged)
{
    Html.RenderAction("BikeInfoCard", "GenericBikeInfo", new Bikewale.Models.Mobile.Videos.GenericBikeInfoCard { ModelId = Model.TaggedModelId, CityId = Model.CityId, PageId = Bikewale.Entities.GenericBikes.BikeInfoTabType.Videos, IsSmallSlug = false });
}
@{Html.RenderAction("SimilarVideos", "Videos", new { videoId = Model.Video.BasicId, modelId = Model.TaggedModelId });}
@{Html.RenderAction("PopularBodyStyleDesktop", "PopularBikes", new { modelId = Model.TaggedModelId, topCount = 9, cityId = Model.CityId });}
<script defer type="text/javascript" src='https://stb.aeplcdn.com/bikewale/min/src/jquery.floating-social-share.min.js'></script>

