﻿@model Bikewale.Models.VideoDetailsPageVM
@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/videos/video-detail.css' inline />";
    Model.Page_JS_Path = "/m/src/video/details.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";

}
@if (Model != null && Model.Video != null)
{
    <section class="bg-white">
        <div class="container margin-bottom10">
            <div id="embedVideo">
                <iframe height="180" src="@string.Format("{0}&autoplay=1", Model.Video.VideoUrl)" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="padding20 border-solid-bottom">
                <h1 class="font18">@Model.Video.VideoTitle</h1>
                <p class="font12 margin-top10 margin-bottom10 text-xlight-grey">@Model.DisplayDate</p>
                <div class="font14 text-light-grey line-height18 margin-bottom10">
                    @if (Model.IsSmallDescription)
                    {
                        <span class="model-preview-main-content">
                            @Html.Raw(Model.SmallDescription)
                        </span>
                        <span class="model-preview-more-content hide">
                            @Html.Raw(Model.Video.Description)
                        </span>
                        <a href="javascript:void(0)" class="font14 read-more-model-preview" rel="nofollow">Read more</a>
                    }
                    else
                    {
                        @Html.Raw(Model.Video.Description)
                    }
                </div>
                <div class="video-views-count-container font14 leftfloat border-light-right">
                    <span class="bwmsprite video-views-icon margin-right5"></span><span class="text-default comma">@Bikewale.Utility.Format.FormatNumeric(Model.Video.Views.ToString())</span>
                </div>
                <div class="video-views-count-container font14 leftfloat padding-left10 border-light-right">
                    <span class="bwmsprite video-likes-icon margin-right5"></span><span class="text-default comma">@Bikewale.Utility.Format.FormatNumeric(Model.Video.Likes.ToString())</span>
                </div>
                <div class="font14 leftfloat padding-left10 powerdrift-sub-btn">
                    <script defer src="https://apis.google.com/js/platform.js"></script>
                    <div class="g-ytsubscribe" data-channel="powerdriftofficial" data-layout="default" data-count="hidden"></div>
                </div>
                <div class="clear"></div>
                <div class=""></div>
                <p class="padding-top15 margin-top20 margin-bottom15 font14 text-light-grey border-light-top">Share this story</p>
                <ul class="social-wrapper">
                    <li class="whatsapp-container rounded-corner2 text-center share-btn" data-attr="wp">
                        <span data-text="share this video" data-link="www.google.com" class="social-icons-sprite whatsapp-icon"></span>
                    </li>
                    <li class="fb-container rounded-corner2 text-center share-btn" data-attr="fb">
                        <span class="social-icons-sprite fb-icon"></span>
                    </li>
                    <li class="tweet-container rounded-corner2 text-center share-btn" data-attr="tw">
                        <span class="social-icons-sprite tweet-icon"></span>
                    </li>
                    <li class="gplus-container rounded-corner2 text-center  share-btn" data-attr="gp">
                        <span class="social-icons-sprite gplus-icon"></span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </section>
}
@if (Model.IsBikeTagged)
{
    <section class="bg-white section-bottom-margin margin-bottom10">
        @{Html.RenderAction("BikeInfoCard", "GenericBikeInfoMobile", new Bikewale.Models.Mobile.Videos.GenericBikeInfoCard { ModelId = Model.TaggedModelId, CityId = Model.CityId, PageId = Bikewale.Entities.GenericBikes.BikeInfoTabType.Videos, IsSmallSlug = false });}
    </section>
}
@{Html.RenderAction("SimilarVideos_Mobile", "Videos", new { videoId = Model.Video.BasicId, modelId = Model.TaggedModelId });}
@{Html.RenderAction("PopularBodyStyleMobile", "PopularBikes", new { modelId = Model.TaggedModelId, topCount = 9, cityId = Model.CityId });}
