@model Bikewale.Models.Videos.ModelWiseVideoPageVM

@using Bikewale.Utility;

@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/videos/videosByModel.css' inline />";
    
    Model.IsHeaderFix = false;
    Model.IsHeaderRequired = false;
}

@if (Model != null && Model.Make != null && Model.Model != null)
{
    <header id="categoryHeader">
        <div id="backBtn" class="category-back-btn">
            <span class="bwmsprite fa-arrow-back"></span>
        </div>
        @if (BWConfiguration.Instance.MetasMakeId.Split(',').Contains(Model.Make.MakeId.ToString()))
        {
            <h1 class="font18">@String.Format(" Videos of {0} {1}", Model.Make.MakeName, Model.Model.ModelName)</h1>
        }
        else
        {
            <h1 class="font18">@String.Format("{0} {1} Videos", Model.Make.MakeName, Model.Model.ModelName)</h1>
        }
        
    </header>

    if (Model.VideosList != null)
    {
        <section class="bg-white padding-top50 bottom-shadow margin-bottom10" id="section-videos-list">
            <div class="miscWrapper container">
                <ul id="listVideos1">
                    @foreach (var video in Model.VideosList)
                    {
                        <li>
                            <div class="misc-container margin-bottom10">
                                <a href="@string.Format("/m/bike-videos/{0}-{1}/", video.VideoTitleUrl, Convert.ToString(video.BasicId))"
                                   class="misc-list-image margin-right20">
                                    <img class="lazy" data-original="@String.Format("https://img.youtube.com/vi/{0}/mqdefault.jpg", video.VideoId)" alt="@video.VideoTitle" title="@video.VideoTitle" src="" border="0" />
                                </a>
                                <a href="@string.Format("/m/bike-videos/{0}-{1}/", video.VideoTitleUrl, Convert.ToString(video.BasicId))"
                                   title="@video.VideoTitle" class="font14 text-default text-bold padding-left20">@video.VideoTitle</a>
                            </div>
                            <div class="video-views-count-container font14 leftfloat padding-right10 border-light-right">
                                <span class="bwmsprite video-views-icon margin-right5"></span><span class="text-light-grey margin-right5">Views:</span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Views))</span>
                            </div>
                            <div class="video-views-count-container font14 leftfloat padding-left20 padding-right10">
                                <span class="bwmsprite video-likes-icon margin-right5"></span><span class="text-light-grey margin-right5">Likes:</span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Likes))</span>
                            </div>
                            <div class="clear"></div>
                        </li>
                    }
                </ul>
            </div>
        </section>
    }

    if (Model.BikeInfoWidgetData != null)
    {
        <section>
            <div class="container bg-white box-shadow section-bottom-margin margin-bottom10">
                @Html.Partial("~/Views/BikeModels/_BikeInfoCard_Mobile.cshtml", Model.BikeInfoWidgetData)
            </div>
        </section>
    }

    if (Model.SimilarBikeVideoList != null && Model.SimilarBikeVideoList.Count() > 0)
    {
        <div class="container content-box-shadow margin-bottom10 padding-bottom20">
            <div class="padding-top20 font14">
                <h2 class="padding-left20 padding-right20 margin-bottom15">Bikes similar to @string.Format("{0} {1}",Model.Make.MakeName,Model.Model.ModelName)</h2>
                <div class="swiper-container card-container alternate-bikes-photo-swiper overlay-carousel">
                    <div class="swiper-wrapper">
                        @foreach (var BikeInfo in Model.SimilarBikeVideoList)
                        {
                            string bikeName = string.Empty;
                            if (BikeInfo.Make != null && BikeInfo.Model != null) { bikeName = string.Format("{0} {1}", BikeInfo.Make.MakeName, BikeInfo.Model.ModelName); }
                            <div class="swiper-slide">
                                <div class="swiper-card">
                                    <a href="/m@(Bikewale.Utility.UrlFormatter.BikePageUrl(BikeInfo.Make.MaskingName,BikeInfo.Model.MaskingName))" title="@bikeName" class="block swiper-card-target">
                                        <div class="swiper-image-preview">
                                            <img class="swiper-lazy" data-src="@Bikewale.Utility.Image.GetPathToShowImages(BikeInfo.OriginalImagePath,BikeInfo.HostUrl,Bikewale.Utility.ImageSize._160x89,Bikewale.Utility.QualityFactor._70)" alt="@bikeName images" src="" />
                                        </div>
                                        <div class="swiper-details-block">
                                            <h3 class="target-link font12 text-truncate margin-bottom5">@bikeName</h3>
                                            <p class="text-truncate text-light-grey font11">
                                                @if (BikeInfo.OnRoadPriceInCity > 0)
                                                {
                                                    string.Format("On-Road Price, {0}", Model.BikeInfoWidgetData.CityDetails.CityName);
                                                }
                                                else
                                                {
                                                    string.Format("Ex-showroom price, {0}", Bikewale.Utility.BWConfiguration.Instance.DefaultName);
                                                }
                                            </p>
                                            <p class="text-default font16 margin-bottom15">
                                                &#x20b9;&nbsp;<span class="text-bold">@Bikewale.Utility.Format.FormatPrice(Convert.ToString(BikeInfo.OnRoadPriceInCity > 0 ? BikeInfo.OnRoadPriceInCity : BikeInfo.ExShowRoomPriceMumbai))</span>

                                                @if (BikeInfo.OnRoadPriceInCity > 0)
                                                {
                                                    <span class="font14">&nbsp;onwards</span>
                                                }
                                            </p>
                                        </div>
                                    </a>
                                    <a href="@string.Format("/m{0}videos/",Bikewale.Utility.UrlFormatter.BikePageUrl(BikeInfo.Make.MaskingName,BikeInfo.Model.MaskingName))" title="@bikeName videos" class="compare-with-target text-truncate">
                                        <span class="sprite-video-m"></span><span class="margin-left20 font12 text-default">View all&nbsp;@BikeInfo.VideoCount &nbsp;@(BikeInfo.VideoCount > 1 ? "videos" : "video") </span><span class="bwmsprite right-arrow"></span>
                                    </a>
                                   
                                </div>


                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    { Html.RenderAction("PopularBodyStyleMobile", "PopularBikes", new { modelId = Model.Model.ModelId, topCount = 9, cityId = Model.CityId }); }

    if (Model.ObjMoreAboutScooter != null)
    {
        <section>
            <div id="moreAboutScooter" class="content-box-shadow padding-top20 padding-bottom20 card-bottom-margin font14">
                <div class="swiper-container card-container model-related-swiper swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        @Html.Partial("~/Views/Scooters/_ModelRelatedCard_Mobile.cshtml", Model.ObjMoreAboutScooter)
                    </div>
                </div>
            </div>
        </section>

    }

}
else if (Model != null && Model.Make != null && Model.objSeries != null)
{
    <header id="categoryHeader">
        <div id="backBtn" class="category-back-btn">
            <span class="bwmsprite fa-arrow-back"></span>
        </div>
        <h1 class="font18">@String.Format("{0} {1} Videos", Model.Make.MakeName, Model.objSeries.SeriesName )</h1>
    </header>

    if (Model.VideosList != null)
    {
        <section class="bg-white padding-top50 bottom-shadow margin-bottom10" id="section-videos-list">
            <div class="miscWrapper container">
                <ul id="listVideos1">
                    @foreach (var video in Model.VideosList)
                    {
                        <li>
                            <div class="misc-container margin-bottom10">
                                <a href="@string.Format("/m/bike-videos/{0}-{1}/", video.VideoTitleUrl, Convert.ToString(video.BasicId))"
                                   class="misc-list-image margin-right20">
                                    <img class="lazy" data-original="@String.Format("https://img.youtube.com/vi/{0}/mqdefault.jpg", video.VideoId)" alt="@video.VideoTitle" title="@video.VideoTitle" src="" border="0" />
                                </a>
                                <a href="@string.Format("/m/bike-videos/{0}-{1}/", video.VideoTitleUrl, Convert.ToString(video.BasicId))"
                                   title="@video.VideoTitle" class="font14 text-default text-bold padding-left20">@video.VideoTitle</a>
                            </div>
                            <div class="video-views-count-container font14 leftfloat padding-right10 border-light-right">
                                <span class="bwmsprite video-views-icon margin-right5"></span><span class="text-light-grey margin-right5">Views:</span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Views))</span>
                            </div>
                            <div class="video-views-count-container font14 leftfloat padding-left20 padding-right10">
                                <span class="bwmsprite video-likes-icon margin-right5"></span><span class="text-light-grey margin-right5">Likes:</span><span class="text-default">@Format.FormatPrice(Convert.ToString(video.Likes))</span>
                            </div>
                            <div class="clear"></div>
                        </li>
                    }
                </ul>
            </div>
        </section>
	}

	if (Model.PopularSeriesBikes != null && Model.PopularSeriesBikes.BikesList != null && Model.PopularSeriesBikes.BikesList.Any())
	{
		<section class="container bg-white">
			<div class="box-shadow padding-bottom10 padding-top15">
				<div class="carousel-heading-content">
					<div class="swiper-heading-left-grid inline-block">
						<h2>@Model.PopularSeriesBikes.WidgetTitle</h2>
					</div>
					@if (Model.Make != null && Model.objSeries != null)
					{
						<div class="swiper-heading-right-grid inline-block text-right">
							<a href="@string.Format("/m{0}", Model.PopularSeriesBikes.WidgetViewAllUrl)" title="@string.Format("{0} {1} Bikes", Model.Make.MakeName, Model.objSeries.SeriesName)" class="btn view-all-target-btn">View all</a>
						</div>
						<div class="clear"></div>
					}
				</div>
				<div class="swiper-container card-container swiper-type-similar">
					<div class="swiper-wrapper">
						@Html.Partial("~/Views/BikeSeries/_PopularSeriesBikes_Mobile.cshtml", Model.PopularSeriesBikes)
					</div>
				</div>
			</div>
		</section>
	}
}
<script type="text/javascript">

    docReady(function () {
        $("#backBtn").on('click', function () {
            window.history.back();
        });
    });


</script>
